﻿
@{
    ViewBag.Title = "ByItems";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="socontent">
    <div class="socontentpd">
        <div class="socontenttop">
            <div class="socontentleft">
                <div class="socontentbtnwrap">
                    <input type="submit" value="Add Row" class="btndlbluenrm">
                </div>
            </div>
            <div class="socontentright socontentrightmgn">
                <form action="">
                    <span class="mgnrght20 rdst"><input type="radio" name="gender" value="item">&nbsp;&nbsp;Sort by Item</span>
                    <span class="rdst"><input type="radio" name="gender" value="supplier">&nbsp;&nbsp;Sort by Supplier</span>
                </form>
            </div>
        </div>

        <div class="socontentmain">
            <div class="socontentmaintable">
                <table>
                    <tr>
                        <th style="width: 90px;"><span><input type="checkbox" name="" value=""></span>&nbsp;<span>All</span></th>
                        <th>Purchase Order No</th>
                        <th style="width: 150px;">Order Date/ <br>Delivery Date</th>
                        <th>Product Code</th>
                        <th style="text-align: left !important;">Supplier Item Code</th>
                        <th>QTY</th>
                        <th>Item Description</th>
                        <th>Price</th>
                        <th style="width:190px;">UOM</th>
                        <th style="width:230px;">Truck Run</th>
                        <th style="width: 180px;">Preferred Supplier</th>
                        <th>Options</th>
                    </tr>
                    <tr>
                        <td><input type="checkbox" name="" value=""></td>
                        <td>4349023</td>
                        <td>15/03/2018<br>18/03/2018</td>
                        <td>1050</td>
                        <td><span class="fieldeditable">1050</span></td>
                        <td><span class="fieldeditable">5</span></td>
                        <td>Chocolate Cake</td>
                        <td><span class="fieldeditable">$16.50</span></td>
                        <td>
                            <select class="fieldeditabledd selectcstm">
                                <option value="one">Each</option>
                                <option value="two">Each</option>
                                <option value="three">Each</option>
                                <option value="four">Each</option>
                            </select>
                        </td>
                        <td>
                            <select class="fieldeditabledd selectcstm">
                                <option value="one">BALL02 </option>
                                <option value="two">GIPP01</option>
                                <option value="two">HORS01</option>
                            </select>
                        </td>
                        <td>
                            <select class="fieldeditabledd selectcstm">
                                <option value="one">Crisp</option>
                                <option value="two">Crisp</option>
                            </select>
                        </td>
                        <td>
                            <div class="btntblwrap2">
                                <div class="orderbtnwrap2"><input type="submit" value="Orders" class="ordrbtnblue" data-toggle="modal" data-target="#exampleModal2"></div>
                                <div class="editbtnwrap2"><a href="#" data-toggle="modal" data-target="#exampleModal3"><img src="~/Content/images/icon1.jpg" /></a></div>
                                <div class="editbtnwrap2"><a href="#" data-toggle="modal" data-target="#exampleModal5"><img src="~/Content/images/icon2.jpg" /></a></div>
                                <div class="editbtnwrap2"><a href="#" data-toggle="modal" data-target="#exampleModal4"><img src="~/Content/images/icon3.jpg" /></a></div>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="approveall">
            <input type="submit" value="Approve All" class="btndlbluenrm" data-toggle="modal" data-target="#exampleModal">
        </div>
        <div class="cf"></div>
    </div>
</div>

  <!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content modalcustom">
            <div class="modal-body">
                <div class="promptmsg">Confirm!</div>
                <div class="promptmsgdesc">Are you sure you want to approve ?</div>
                <div class="popupbtnwrap">
                    <div class="pbtnleft"><input type="submit" value="CONFIRM" class="btndlgrey disabled"></div>
                    <div class="pbtnrght"><input type="submit" value="CANCEL" class="btndlgrey disabled"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal2 -->
<div class="modal fade" id="exampleModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modalwide2" role="document">
        <div class="modal-content modalradius">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body modalbodycustom">
                <div class="promptmsg">Orders by Customers</div>
                <div class="modalcontentrow">
                    <span class="suppliernamelbl">Supplier Name : </span>
                    <span class="suppliernameval">Marks Quality Cakes</span>
                </div>
                <div class="modalcontentrow2">
                    <div class="lbllft">
                        <span class="suppliernamelbl2">Item Code : </span>
                        <span class="suppliernameval2">1050</span>
                    </div>
                    <div class="lbllft">
                        <span class="suppliernamelbl2">Item Description : </span>
                        <span class="suppliernameval2">Chocolate Cake</span>
                    </div>
                </div>

                <div class="socontentmain2">
                    <div class="socontentmaintable2">
                        <table>
                            <tr>
                                <th>Purchase Order Number</th>
                                <th>Customer Name</th>
                                <th>Required Date</th>
                                <th>QTY</th>
                                <th>UOM</th>
                                <th>Truck Run</th>
                                <th>Unit Price</th>
                                <th>View Order</th>
                            </tr>
                            <tr>
                                <td>2365</td>
                                <td>Chris Martin</td>
                                <td>18/03/2018</td>
                                <td>1</td>
                                <td>BALL01</td>
                                <td>Each</td>
                                <td>$16.43</td>
                                <td>
                                    <center><input type="submit" value="View Order" class="ordrbtnbluenw2" data-toggle="modal" data-target="#exampleModal6"></center>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal3 -->
<div class="modal fade" id="exampleModal3" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modalwide3" role="document">
        <div class="modal-content modalradius">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body modalbodycustom">
                <div class="promptmsg">Supplier Details</div>

                <div class="socontentmain3">
                    <div class="socontentmaintable3">
                        <table>
                            <tr>
                                <td class="drk">Supplier Name</td>
                                <td>Market Cash Price</td>
                            </tr>
                            <tr>
                                <td class="drk">Supplier Code</td>
                                <td>508</td>
                            </tr>
                            <tr>
                                <td class="drk">Address 1</td>
                                <td>Market Cash Purchase</td>
                            </tr>
                            <tr>
                                <td class="drk">Address</td>
                                <td>&nbsp;</td>
                            </tr>
                            <tr>
                                <td class="drk">Post Code</td>
                                <td>&nbsp;</td>
                            </tr>
                            <tr>
                                <td class="drk">Phone</td>
                                <td>(60) 277 6543</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal4 -->
<div class="modal fade" id="exampleModal4" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modalwide3" role="document">
        <div class="modal-content modalradius">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body modalbodycustom">
                <div class="promptmsg">Supplier Details</div>

                <div class="socontentmain3">
                    <div class="socontentmaintable3">
                        <table>
                            <tr>
                                <td class="drk">Phone Number</td>
                                <td>(201) 677 7352</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal5 -->
<div class="modal fade" id="exampleModal5" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modalwide3" role="document">
        <div class="modal-content modalradius">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body modalbodycustom">
                <div class="mdlpd">
                    <div class="promptmsg2">Add Notes</div>
                    <div class=""><textarea class="arht"></textarea></div>
                    <div class="socontentbtnwrap2">
                        <input type="submit" value="Submit" class="btndlbluenrm">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal6 -->
<div class="modal fade" id="exampleModal6" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modalwide2" role="document">
        <div class="modal-content modalradius">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body modalbodycustom">
                <div class="promptmsg">Order Details</div>
                <div class="modalcontentrow">
                    <span class="suppliernamelbl">Customer Name : </span>
                    <span class="suppliernameval">*** Closed - Railway Hotel</span>
                </div>
                <div class="modalcontentrow2">
                    <div class="lbllft lbllfthorz">
                        <span class="suppliernamelbl2">Order Number : </span>
                        <span class="suppliernameval2">30111</span>
                    </div>
                    <div class="lbllft lbllfthorz">
                        <span class="suppliernamelbl2">Order Date : </span>
                        <span class="suppliernameval2">16-01-2018</span>
                    </div>
                    <div class="lbllft lbllfthorz">
                        <span class="suppliernamelbl2">Contact Name : </span>
                        <span class="suppliernameval2">Ian Masterton</span>
                    </div>
                    <div class="lbllft lbllfthorz">
                        <span class="suppliernamelbl2">Email Address : </span>
                        <span class="suppliernameval2">14869@saavi.co.au</span>
                    </div>
                    <div class="lbllft lbllfthorz">
                        <span class="suppliernamelbl2">Phone : </span>
                        <span class="suppliernameval2">35148568</span>
                    </div>
                    <div class="lbllft lbllfthorz">
                        <span class="suppliernamelbl2">Order Value : </span>
                        <span class="suppliernameval2">$160.82</span>
                    </div>
                    <div class="lbllft lbllfthorz">
                        <span class="suppliernamelbl2">PO Number : </span>
                        <span class="suppliernameval2">No Number</span>
                    </div>
                    <div class="lbllft lbllfthorz">
                        <span class="suppliernamelbl2">Order Comment : </span>
                        <span class="suppliernameval2">Test ORder do not process</span>
                    </div>
                </div>

                <div class="socontentmain2">
                    <div class="socontentmaintable2">
                        <table>
                            <tr>
                                <th>Code</th>
                                <th>Product</th>
                                <th>QTY</th>
                                <th>UOM</th>
                                <th>Price</th>
                                <th>Total</th>
                            </tr>
                            <tr>
                                <td>109641</td>
                                <td>EF 5LT ORANGE GELATO*</td>
                                <td>2</td>
                                <td>Each</td>
                                <td>$33.93</td>
                                <td>$67.86</td>
                            </tr>
                            <tr>
                                <td>109641</td>
                                <td>EF 5LT ORANGE GELATO*</td>
                                <td>2</td>
                                <td>Each</td>
                                <td>$33.93</td>
                                <td>$67.86</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>