﻿
@{
    ViewBag.Title = "BySupplier";
}
@section scripts{

<link href="~/Content/css/bootstrap-datepicker.min.css" rel="stylesheet" />
<script src="~/Scripts/bootstrap-datepicker.min.js"></script>
<script>
                $(document).ready(function () {
                $('.datepicker').datepicker({
                startDate: '-3d'
                });
                });

</script>}
<div class="socontent">
    <div class="socontentpd">
        <div class="socontenttop">
            <div class="socontentleft">
                <div class="ddwrap">
                    <select class="selectcstm">
                        <option value="one">Mark Quality cakes</option>
                        <option value="two">Mark Quality cakes</option>
                        <option value="three">Mark Quality cakes</option>
                        <option value="four">Mark Quality cakes</option>
                    </select>
                </div>
                <div class="socontentbtnwrap">
                    <input type="submit" value="Add Row" class="btndlbluenrm">
                </div>
            </div>
            <div class="socontentright">
                <div class="socontentrightrow">
                    <div class="socontentrightrowlabel">Supplier :</div>
                    <div class="socontentrightrowlabelval">Marks Quality Cakes</div>
                </div>
                <div class="socontentrightrow">
                    <div class="socontentrightrowlabel">Phone :</div>
                    <div class="socontentrightrowlabelval">(03) 6542 1455</div>
                </div>
            </div>
        </div>

        <div class="socontentmain">
            <div class="socontentmaintable">
                <table>
                    <tr>
                        <th style="width: 90px;"><span><input type="checkbox" name="" value=""></span>&nbsp;<span>All</span></th>
                        <th>Purchase Order No</th>
                        <th>Order Date/<br>Required Date</th>
                        <th>Item Code</th>
                        <th>Supplier Code</th>
                        <th>QTY</th>
                        <th>Item Description</th>
                        <th>Price</th>
                        <th style="width:90px;">UOM</th>
                        <th style="width:110px;">Truck Run</th>
                        <th>Actions</th>
                        <th>Place Order</th>
                    </tr>
                    <tr>
                        <td><input type="checkbox" name="" value=""></td>
                        <td>4349023</td>
                        <td>15/03/2018<br>18/03/2018</td>
                        <td>1050</td>
                        <td><span class="fieldeditable">1080</span></td>
                        <td><span class="fieldeditable">5</span></td>
                        <td>Chocolate Cake</td>
                        <td><span class="fieldeditable">$16.50</span></td>
                        <td>
                            <select class="fieldeditabledd selectcstm">
                                <option value="one">Each</option>
                                <option value="two">Each</option>
                                <option value="three">Each</option>
                                <option value="four">Each</option>
                            </select>
                        </td>
                        <td>
                            <select class="fieldeditabledd selectcstm">
                                <option value="one">BALL02 </option>
                                <option value="two">GIPP01</option>
                                <option value="two">HORS01</option>
                            </select>
                        </td>
                        <td>
                            <div class="btntblwrap">
                                <div class="orderbtnwrap"><input type="submit" value="Orders" class="ordrbtnblue" data-toggle="modal" data-target="#exampleModal2"></div>
                                <div class="editbtnwrap"><a href="#" data-toggle="modal" data-target="#exampleModal5"><center><img src="~/Content/images/icon2.jpg" /></center></a></div>
                            </div>
                        </td>
                        <td>
                            <center><input type="submit" value="Approve" class="btndlbluenrm" data-toggle="modal" data-target="#exampleModal"></center>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="approveall">
            <input type="submit" value="Approve All" class="btndlbluenrm">
        </div>
        <div class="cf"></div>
    </div>
</div>

    <!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content modalcustom">
            <div class="modal-body">
                <div class="promptmsg">Confirm!</div>
                <div class="promptmsgdesc">Are you sure you want to approve ?</div>
                <div class="popupbtnwrap">
                    <div class="pbtnleft"><input type="submit" value="CONFIRM" class="btndlgrey disabled"></div>
                    <div class="pbtnrght"><input type="submit" value="CANCEL" class="btndlgrey disabled"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal2 -->
<div class="modal fade" id="exampleModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modalwide2" role="document">
        <div class="modal-content modalradius">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body modalbodycustom">
                <div class="promptmsg">Orders by Customers</div>
                <div class="modalcontentrow">
                    <span class="suppliernamelbl">Supplier Name : </span>
                    <span class="suppliernameval">Marks Quality Cakes</span>
                </div>
                <div class="modalcontentrow2">
                    <div class="lbllft">
                        <span class="suppliernamelbl2">Item Code : </span>
                        <span class="suppliernameval2">1050</span>
                    </div>
                    <div class="lbllft">
                        <span class="suppliernamelbl2">Item Description : </span>
                        <span class="suppliernameval2">Chocolate Cake</span>
                    </div>
                </div>

                <div class="socontentmain2">
                    <div class="socontentmaintable2 socontentmaintable2ht">
                        <table>
                            <tr>
                                <th>Order Number</th>
                                <th>Customer Name</th>
                                <th>Required Date</th>
                                <th>QTY</th>
                                <th>UOM</th>
                                <th>Truck Run</th>
                                <th>Unit Price</th>
                                <th style="width:60px;">View Order</th>
                            </tr>
                            <tr>
                                <td>2365</td>
                                <td>Chris Martin</td>
                                <td>18/03/2018</td>
                                <td>1</td>
                                <td>Each</td>
                                <td>BALL02</td>
                                <td>$16.43</td>
                                <td>
                                    <center><input type="submit" value="View Order" class="ordrbtnbluenw2" data-toggle="modal" data-target="#exampleModal6"></center>
                                </td>
                            </tr>
                            <tr>
                                <td>2365</td>
                                <td>Chris Martin</td>
                                <td>18/03/2018</td>
                                <td>1</td>
                                <td>Each</td>
                                <td>GIP01</td>
                                <td>$16.43</td>
                                <td>
                                    <center><input type="submit" value="View Order" class="ordrbtnbluenw2" data-toggle="modal" data-target="#exampleModal6"></center>
                                </td>
                            </tr>
                            <tr>
                                <td>2365</td>
                                <td>Chris Martin</td>
                                <td>18/03/2018</td>
                                <td>1</td>
                                <td>Each</td>
                                <td>BALL02</td>
                                <td>$16.43</td>
                                <td>
                                    <center><input type="submit" value="View Order" class="ordrbtnbluenw2" data-toggle="modal" data-target="#exampleModal6"></center>
                                </td>
                            </tr>
                            <tr>
                                <td>2365</td>
                                <td>Chris Martin</td>
                                <td>18/03/2018</td>
                                <td>1</td>
                                <td>Each</td>
                                <td>BALL01</td>
                                <td>$16.43</td>
                                <td>
                                    <center><input type="submit" value="View Order" class="ordrbtnbluenw2" data-toggle="modal" data-target="#exampleModal6"></center>
                                </td>
                            </tr>
                            <tr>
                                <td>2365</td>
                                <td>Chris Martin</td>
                                <td>18/03/2018</td>
                                <td>1</td>
                                <td>Each</td>
                                <td>GIP02</td>
                                <td>$16.43</td>
                                <td>
                                    <center><input type="submit" value="View Order" class="ordrbtnbluenw2" data-toggle="modal" data-target="#exampleModal6"></center>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal5 -->
<div class="modal fade" id="exampleModal5" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modalwide3" role="document">
        <div class="modal-content modalradius">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body modalbodycustom">
                <div class="mdlpd">
                    <div class="promptmsg2">Add Notes</div>
                    <div class=""><textarea class="arht"></textarea></div>
                    <div class="socontentbtnwrap2">
                        <input type="submit" value="Submit" class="btndlbluenrm">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Modal6 -->
<div class="modal fade" id="exampleModal6" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modalwide2" role="document">
        <div class="modal-content modalradius">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body modalbodycustom">
                <div class="promptmsg">Order Details</div>
                <div class="modalcontentrow">
                    <span class="suppliernamelbl">Customer Name : </span>
                    <span class="suppliernameval">*** Closed - Railway Hotel</span>
                </div>
                <div class="modalcontentrow2">
                    <div class="lbllft lbllfthorz">
                        <span class="suppliernamelbl2">Order Number : </span>
                        <span class="suppliernameval2">30111</span>
                    </div>
                    <div class="lbllft lbllfthorz">
                        <span class="suppliernamelbl2">Order Date : </span>
                        <span class="suppliernameval2">16-01-2018</span>
                    </div>
                    <div class="lbllft lbllfthorz">
                        <span class="suppliernamelbl2">Contact Name : </span>
                        <span class="suppliernameval2">Ian Masterton</span>
                    </div>
                    <div class="lbllft lbllfthorz">
                        <span class="suppliernamelbl2">Email Address : </span>
                        <span class="suppliernameval2">14869@saavi.co.au</span>
                    </div>
                    <div class="lbllft lbllfthorz">
                        <span class="suppliernamelbl2">Phone : </span>
                        <span class="suppliernameval2">35148568</span>
                    </div>
                    <div class="lbllft lbllfthorz">
                        <span class="suppliernamelbl2">Order Value : </span>
                        <span class="suppliernameval2">$160.82</span>
                    </div>
                    <div class="lbllft lbllfthorz">
                        <span class="suppliernamelbl2">PO Number : </span>
                        <span class="suppliernameval2">No Number</span>
                    </div>
                    <div class="lbllft lbllfthorz">
                        <span class="suppliernamelbl2">Order Comment : </span>
                        <span class="suppliernameval2">Test ORder do not process</span>
                    </div>
                </div>

                <div class="socontentmain2">
                    <div class="socontentmaintable2">
                        <table>
                            <tr>
                                <th>Code</th>
                                <th>Product</th>
                                <th>QTY</th>
                                <th>UOM</th>
                                <th>Price</th>
                                <th>Total</th>
                            </tr>
                            <tr>
                                <td>109641</td>
                                <td>EF 5LT ORANGE GELATO*</td>
                                <td>2</td>
                                <td>Each</td>
                                <td>$33.93</td>
                                <td>$67.86</td>
                            </tr>
                            <tr>
                                <td>109641</td>
                                <td>EF 5LT ORANGE GELATO*</td>
                                <td>2</td>
                                <td>Each</td>
                                <td>$33.93</td>
                                <td>$67.86</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

