﻿<nav id="bs-navbar" class="">
    <div class="navigation" id="navigation">
        <ul class="nav navbar-nav">
            <li><a href="javascript:;"><img src="~/content/images/dashboard.png"></a></li>
            <li class="active" role="presentation">
                <a href="#admin-features" data-toggle="tab">ADMIN FEATURES</a>
                <div class="tab">
                    <div class="pull-left">
                        <h1>Admin Features</h1>
                    </div>
                </div>
            </li>
            <li>
                <a href="#main-features" data-toggle="tab">MAIN FEATURES</a>
                <div class="tab">
                    <div class="pull-left">
                        <h1>Main Features</h1>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</nav>