﻿@model DataModel.BO.AuthData

@{
    string role = "CompanyAdmin";
    if (User.IsInRole("SuperAdmin"))
    {
        role = "SuperAdmin";
    }
    else if (User.IsInRole("PODAdmin"))
    {
        role = "PODAdmin";
    }
    else if (User.IsInRole("Rego"))
    {
        role = "Rego";
    };
}
<div class="header">
    <div class="pull-left">
        @if (role == "SuperAdmin")
        {
            <a class="logo" href="javascript:;"><img src="~/content/images/logo.png"></a>
        }
        else
        {
            <a class="logo" href="@Url.Action("Dashboard","Company")"><img src="~/content/images/logo.png"></a>
        }
    </div>
    <div class="pull-right">
        @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
        { }
        <div class="client">
            <h3 id="user">@Model.Name</h3>
            <ul id="toggle-div">
                @if (role == "CompanyAdmin")
                {
                    <li><a href="@Url.Action("MyAccount", "Company")">My Account</a></li>
                    <li><a href="@Url.Action("Index", "ManageCustomer")">Troubleshoot Login</a></li>
                }
                <li><a href="javascript:document.getElementById('logoutForm').submit()">Logout</a></li>
            </ul>
        </div>
    </div>
    <div class="break"></div>
</div>

<script>
    $("#user").click(function () {
        $("#toggle-div").slideToggle(),
            $(this).toggleClass("active"),
            $("#toggle-div").css("z-index","99999");
            $("#toggle-div li a").on("click", function () {
                $("#toggle-div").slideUp();
            });
    });
</script>
