﻿@{
    ViewBag.Title = "Manage Features";

    List<DataModel.BO.FeaturesMasterBo> adminFeatures = ViewBag.AdminFeatures;
    List<DataModel.BO.FeaturesMasterBo> mainFeatures = ViewBag.MainFeatures;
}

@section scripts{
    <script>
        $(function () {
            $(".checkbox label").each(function () {
                $(this).html($(this).html().replace(/([a-z])([A-Z])/g, '$1 $2'));
            });
        });
        function updateMainOrAdminFeatures(ctrl) {
            startLoading();
            var data = {
                column: $(ctrl).data('column'),
                value: $(ctrl).prop('checked'),
                type: $(ctrl).data('type')
            }
            $.ajax({
                type: "POST",
                contentType: "application/json; charset=utf-8",
                dataType:'json',
                url: '@Url.Action("UpdateAdminOrMainFeature","Master")',
                data: JSON.stringify(data),
                success: function (response) {
                    stopLoading();
                }
            });
        }

        //function saveCurrency(ctrl) {
        //    var currency = $(ctrl).val();
        //    alert(currency);
        //}
    </script>
}

<div class="tab-content">
    <div id="admin-features" class="section full-height tab-pane active" role="tabpanel">
        <div class="row full-height">
            <div class="col-md-12 col full-height">
                <div class="flex-column full-height">
                    <div class="well table">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="row login">
                                    @for (int i = 0; i < adminFeatures.Count; i++)
                                    {
                                        if (i == 0 || i == 12 || i == 24 || i == 36)
                                        {
                                            @Html.Raw("<div class='col-sm-3 col'>")
                                        }
                                        <div class="checkbox right">
                                            <input type="checkbox" onchange="updateMainOrAdminFeatures(this);" data-column="@adminFeatures[i].Name" id="chk_@i" checked="@adminFeatures[i].Selected" data-type="admin" />
                                            <label class="lbl_@i" for="chk_@i">@adminFeatures[i].Name.Replace("Is", "") <i title="@Html.AttributeEncode(adminFeatures[i].Description)" data-toggle="tooltip" class="info fa fa-info-circle" style="/*font-size:15px;color:#3abeee;text-decoration:none;padding-left:5px;*/"> </i></label>
                                        </div>
                                        if (i == 11 || i == 23 || i == 35 || i == adminFeatures.Count - 1)
                                        {
                                            @Html.Raw("</div>")
                                        }
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="main-features" class="section full-height tab-pane" role="tabpanel">
        <div class="row full-height">
            <div class="col-md-12 col full-height">
                <div class="flex-column full-height">
                    <div class="well table">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="row login">
                                    @for (int i = 0; i < mainFeatures.Count; i++)
                                    {
                                        if (i == 0 || i == 12 || i == 24 || i == 36)
                                        {
                                            @Html.Raw("<div class='col-sm-3 col'>")
                                        }
                                        <div class="checkbox right">
                                            <input type="checkbox" onchange="updateMainOrAdminFeatures(this);" data-column="@mainFeatures[i].Name" id="chkm_@i" checked="@mainFeatures[i].Selected" data-type="main" />
                                            <label for="chkm_@i">@mainFeatures[i].Name.Replace("Is", "") <i title="@Html.AttributeEncode(mainFeatures[i].Description)" data-toggle="tooltip" class="info fa fa-info-circle"> </i></label>
                                        </div>
                                        @*if (i == mainFeatures.Count - 1)
                                        {
                                        <div class="col-md-12" style="padding:0px">
                                            <div class="col-md-8" style="padding:0px">
                                                <b style="color:#636363">Currency</b>
                                            </div>
                                            <div class="col-md-4" style="padding:0px">
                                                <select style="padding: 1px 13px 1px !important;" onchange="saveCurrency(this)">
                                                    <option value="$">$ Dollar</option>
                                                    <option value="¥">¥ Yen</option>
                                                </select>
                                            </div>
                                            
                                        </div>
                                           
                                        }*@
                                        if (i == 11 || i == 23 || i == 35 || i == mainFeatures.Count - 1)
                                        {
                                            @Html.Raw("</div>")
                                        }
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>