﻿@model DataModel.BO.UserBO
<h2>Driver Details</h2>
<div d="content-2" class="homepage fx_hight mCustomScrollbar light" data-mcs-theme="minimal-dark">

    @Html.HiddenFor(m => m.UserID)
    @Html.HiddenFor(m => m.VehicleID)
    <div class="manage-Driver_photo manage-driver_profile"><img src="~/Content/Uploads/Users/@Model.Image" style=""></div>
    <table class="table-space">
        <tr>
            <td>Name:</td>
            <td>@Model.FirstName</td>
        </tr>
        <tr>
            <td>Email:</td>
            <td>@Model.Email</td>
        </tr>
        <tr>
            <td>Mobile No:</td>
            <td>@Model.Phone</td>
        </tr>
        <tr>
            <td>License No:</td>
            <td>@Model.DriverLicenseNo</td>
        </tr>
        <tr>
            <td>Address:</td>
            <td>@Model.Address</td>
        </tr>
        <tr>
            <td>Experience:</td>
            <td>@Model.DrivingExperience</td>
        </tr>
        <tr>
            <td>Age:</td>
            <td>@Model.Age</td>
        </tr>
        <tr>
            <td>Driver Shift:</td>
            <td>@(Model.DriverShift=="MD"?"Mid Day":Model.DriverShift)</td>
        </tr>
        <!--<tr>
            <td>driving license:</td>
            <td class="manage-Driver_photo"><img src="Content/images/driver-proof.jpg"></td>
        </tr>-->
    </table>
    <div class="manage-Driver_photo manage-license" id="driving-license">
        <label>Driving License:</label>
        <img class="" src="~/Content/Uploads/DriverLicense/@Model.DriverLicenseImage">
    </div>
    </div>