﻿@model  DataModel.BO.UserBO
<script>
    $(function () {
        $("#managedriverModal").modal('show');
        validateForm('formDriverAU');
        setTimeout(function () {

         $('#ddlAge').val(('@Model.Age'=='') ?'':'@Model.Age');
        $('#ddlDrivingExperience').val(('@Model.DrivingExperience'=='') ?'':'@Model.DrivingExperience');
        $('#ddlDriverShift').val(('@Model.DriverShift' == '') ? '' : '@Model.DriverShift');
        var path = '@System.Configuration.ConfigurationManager.AppSettings["SITE_URL"]' + 'Content/Uploads/';
        if ('@Model.DriverLicenseImage' != '') {
            $('#file1').attr('src', (path + "DriverLicense/" + '@Model.DriverLicenseImage')).attr('title', 'License').height(40);
        } if ('@Model.Image' != '') {
            $('#file2').attr('src', (path + "Users/" + '@Model.Image')).attr('title', 'Driver Image').height(40);
        }
        }, 1000);

        $('input').on('change', function () {
            if ($(this).val().trim() == "") {
                $(this).val('');
            }
        });
        var txtPwd = $('form').find('input[type="password"]').attr('id');
        console.log(txtPwd)
        $('#' + txtPwd).rules("add", {
            required: true,
            atLeastOneLowercaseLetter: true,
            atLeastOneUppercaseLetter: true,
            atLeastOneNumber: true,
            atLeastOneSymbol: true,
            minlength: 8,
            maxlength: 20
        });
        
    });

    function fillEmail() {
        var name = $("#FirstName").val();
        name = name.replace(' ', '');
        $("#Email").val(name + '@@Saavi.com.au');
    }
</script>
<div class="modal fade" id="managedriverModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <i class="fa fa-times close" data-dismiss="modal" aria-label="Close"></i>
            </div>

            @using (Html.BeginForm("ManageDrivers", "Driver", FormMethod.Post, new
            {
                enctype = "multipart/form-data",
                id = "formDriverAU"
            }))
            {   <div class="modal-body login">
                <h2><strong>Manage Driver</strong></h2>
                @Html.HiddenFor(m => m.UserID)
                @Html.HiddenFor(m => m.Age)
                @Html.HiddenFor(m => m.DrivingExperience)
                @Html.HiddenFor(m => m.DriverShift)
                <fieldset>
                    <label><sup>*</sup>Name:</label>
                    @Html.TextBoxFor(m => m.FirstName, new { placeholder = "Name", maxlength = 20, required = "required", @onchange="fillEmail();" })
                </fieldset>
                <fieldset class="flt-rt">
                    <label><sup>*</sup>Mobile No:</label>
                    @Html.TextBoxFor(m => m.Phone, new { placeholder = "Mobile No", minlength = 10, maxlength = 10, required = "required", @class = "number" })
                </fieldset>
                <fieldset>
                    <label><sup>*</sup>Email:</label>
                    @Html.TextBoxFor(m => m.Email, new { placeholder = "Email", type = "email", maxlength = 50, required = "required", autofill = "off" })
                </fieldset>
                <fieldset class="flt-rt">
                    <label><sup>*</sup>Password:</label>
                    @Html.TextBoxFor(m => m.DefaultPassword, new { placeholder = "Password", type = "password", maxlength = 20, required = "required" })
                </fieldset>
                <fieldset class="flt-rt">
                    <label><sup>*</sup>License No:</label>
                    @Html.TextBoxFor(m => m.DriverLicenseNo, new { placeholder = "License No", maxlength = 20, required = "required" })
                </fieldset>
                <fieldset>
                    <label>Driving Experience:</label>
                    <select id="ddlDrivingExperience" name="ddlDrivingExperience" class="select_drop-down" onchange="seValue(this,'DrivingExperience')">
                        <option value="">Select</option>
                        <option>1 year</option>
                        <option>2 year</option>
                        <option>3 year</option>
                        <option>4 year</option>
                    </select>
                    <i class="fa fa-angle-down select_icon" aria-hidden="true"></i>
                </fieldset>
                <fieldset class="flt-rt">
                    <label>Address:</label>
                    @Html.TextAreaFor(m => m.Address, new { placeholder = "Address", maxlength = 200 })
                </fieldset>
                <fieldset>
                    <label>Age:</label>
                    <select id="ddlAge" name="ddlAge" class="select_drop-down" onchange="seValue(this,'Age')">
                        <option value="">Select</option>
                        <option>19-30</option>
                        <option>31-40</option>
                        <option>41-50</option>
                        <option>51-60</option>
                    </select>
                    <i class="fa fa-angle-down select_icon" aria-hidden="true"></i>
                </fieldset>
                <fieldset class="flt-rt">
                    <div class="margin25"></div>
                    <label class="custom-file-upload">
                        <input id="fuLicense" type="file" name="fuLicense" accept="image/*" onchange="readURL(this,'file1');">
                        Upload License
                    </label>
                    <label class="custom-file-upload">
                        <input id="fuImage" type="file" name="fuImage" accept="image/*" onchange="readURL(this,'file2');">
                        Upload Driver Image
                    </label>
                    <label>
                        <img id="file1" />
                        <img id="file2" />
                    </label>
                </fieldset>
                <fieldset>
                    <label>Shift:</label>
                    <select id="ddlDriverShift" name="ddlDriverShift" class="select_drop-down" onchange="seValue(this,'DriverShift')">
                        <option value="">Select</option>
                        <option>AM</option>
                        <option value="MD">Mid Day</option>
                        <option>PM</option>
                    </select>
                    <i class="fa fa-angle-down select_icon" aria-hidden="true"></i>
                </fieldset>
                <div class="clearfix"></div>

            </div>
            <div class="modal-footer">
                <fieldset>
                    <input type="submit" value="Save" class="btn-primary" />
                </fieldset>
            </div>
            }

        </div>
    </div>
</div>