﻿@model DataModel.BO.VehicleBO

<script>
    $(function () {
        debugger;
        $("#managevehicleModal").modal('show');
        validateForm('formVehicleAU');
        setTimeout(function () {
            if (@Model.VehicleID>0) {
                $("#divUpdateFeild").removeClass('hidden');
                $('#ddlDriverShift').val(('@Model.Shift' == '') ? '' : '@Model.Shift');
            }      
            $("input[name='Condition'][value='@Model.IsVehicleConditionOK']").prop('checked', true);
            $("input[name='Windscreen'][value='@Model.IsWindscreenOK']").prop('checked', true);
            $("input[name='Tyres'][value='@Model.IsTyreConditionOK']").prop('checked', true);
            $("input[name='LightsSignals'][value='@Model.IsLightSignalOK']").prop('checked', true);
            $("input[name='FixturesFittings'][value='@Model.IsFixturesFittingOK']").prop('checked', true);
        }, 200);
        $('input').on('change', function () {
            if ($(this).val().trim() == "") {
                $(this).val('');
            }
        });
    });
    function SuccessMethod(res) {
        if (res == "Success") {
             if(@Model.VehicleID>0){
                 $("#managevehicleModal").modal('hide');
                var url = '@Url.Action("_VehicleDetail", "Driver")';
                $('#divVehicleDetail').load(url + '/' + @Model.VehicleID);
                $("li[data-id='" +@Model.VehicleID+"'] a").html($("#VehicleNo").val());
            }else{
                window.location.reload();
            }
        } else { growlNotification(res, 'warning', 3000); }
    }
</script>
<div class="modal fade" id="managevehicleModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <i class="fa fa-times close" data-dismiss="modal" aria-label="Close"></i>
            </div>
            @using (Ajax.BeginForm("ManageVehicle", "Driver", new AjaxOptions
            {
                HttpMethod = "Post",
                OnSuccess = "SuccessMethod",
                OnBegin = "startLoading",
                OnComplete = "stopLoading"

            }, new
            { id = "formVehicleAU" }))
            {
                @Html.HiddenFor(m => m.VehicleID)
                @Html.HiddenFor(m => m.Shift)
                @Html.HiddenFor(m => m.IsVehicleConditionOK)
                @Html.HiddenFor(m => m.IsWindscreenOK)
                @Html.HiddenFor(m => m.IsTyreConditionOK)
                @Html.HiddenFor(m => m.IsLightSignalOK)
                @Html.HiddenFor(m => m.IsFixturesFittingOK)

                <div class="modal-body login">
                    <h2><strong>Manage Vehicle</strong></h2>
                    <fieldset>
                        <label><sup>*</sup>Name:</label>
                        @Html.TextBoxFor(m => m.VehicleName, new { placeholder = "Vehicle Name", maxlength = 50, required = "required" })
                    </fieldset>
                    <fieldset class="flt-rt">
                        <label><sup>*</sup>Number:</label>
                        @Html.TextBoxFor(m => m.VehicleNo, new { placeholder = "Vehicle Number", maxlength = 12, required = "required" })
                    </fieldset>
                    <fieldset>
                        <label><sup>*</sup>Vehicle Rego:</label>
                        @Html.TextBoxFor(m => m.RegistrationNo, new { placeholder = "Reg Number", maxlength = 20, required = "required" })
                    </fieldset>
                    <fieldset class="flt-rt">
                        <label><sup>*</sup>Route/Run No:</label>
                        @*@Html.TextBoxFor(m => m.Route, new { placeholder = "Route", maxlength = 20, required = "required" })*@
                        @Html.DropDownListFor(M => M.Route, new SelectList(ViewBag.Runs, "Value", "Text"), new { @class = "select_drop-down" })
                        <i class="fa fa-angle-down select_icon" aria-hidden="true"></i>
                    </fieldset>
                    <fieldset>
                        <label>Shift</label>
                        <select id="ddlDriverShift" name="ddlDriverShift" class="select_drop-down" onchange="seValue(this,'Shift')">
                            <option value="">Select</option>
                            <option>AM</option>
                            <option value="MD">Mid Day</option>
                            <option>PM</option>
                        </select>
                        <i class="fa fa-angle-down select_icon" aria-hidden="true"></i>
                    </fieldset>
                    <fieldset class="flt-rt">
                        <label>Vehicle Condition:</label>
                        <label class="Vehicle-checklist text-success">
                            GOOD
                            <input type="radio" name="Condition" value="True" onchange="seValue(this,'IsVehicleConditionOK')" required>
                            <span class="checkmark"></span>
                        </label>
                        <label class="Vehicle-checklist text-danger">
                            BAD
                            <input type="radio" name="Condition" value="False" onchange="seValue(this,'IsVehicleConditionOK')">
                            <span class="checkmark"></span>
                        </label>
                    </fieldset>
                    <fieldset>
                        <label>Windscreen:</label>
                        <label class="Vehicle-checklist text-success">
                            GOOD
                            <input type="radio" name="Windscreen" value="True" onchange="seValue(this,'IsWindscreenOK')" required>
                            <span class="checkmark"></span>
                        </label>
                        <label class="Vehicle-checklist text-danger">
                            BAD
                            <input type="radio" name="Windscreen" value="False" onchange="seValue(this,'IsWindscreenOK')">
                            <span class="checkmark"></span>
                        </label>
                    </fieldset>
                    <fieldset class="flt-rt">
                        <label>Tyres Condition:</label>
                        <label class="Vehicle-checklist text-success">
                            GOOD
                            <input type="radio" name="Tyres" value="True" onchange="seValue(this,'IsTyreConditionOK')" required>
                            <span class="checkmark"></span>
                        </label>
                        <label class="Vehicle-checklist text-danger">
                            BAD
                            <input type="radio" name="Tyres" value="False" onchange="seValue(this,'IsTyreConditionOK')">
                            <span class="checkmark"></span>
                        </label>

                    </fieldset>
                    <fieldset>
                        <label>Lights/Signals:</label>
                        <label class="Vehicle-checklist text-success">
                            GOOD
                            <input type="radio" name="LightsSignals" value="True" onchange="seValue(this,'IsLightSignalOK')" required>
                            <span class="checkmark"></span>
                        </label>
                        <label class="Vehicle-checklist text-danger">
                            BAD
                            <input type="radio" name="LightsSignals" value="False" onchange="seValue(this,'IsLightSignalOK')">
                            <span class="checkmark"></span>
                        </label>
                    </fieldset>
                    <fieldset class="flt-rt">
                        <label>Fixtures/Fittings:</label>
                        <label class="Vehicle-checklist text-success">
                            GOOD
                            <input type="radio" name="FixturesFittings" value="True" onchange="seValue(this,'IsFixturesFittingOK')" required>
                            <span class="checkmark"></span>
                        </label>
                        <label class="Vehicle-checklist text-danger">
                            BAD
                            <input type="radio" name="FixturesFittings" value="False" onchange="seValue(this,'IsFixturesFittingOK')">
                            <span class="checkmark"></span>
                        </label>
                    </fieldset>
                    <div id="divUpdateFeild" class="hidden">
                        <fieldset>
                            <label>Vehicle Odometer (Start ODO Km):</label>
                            @Html.TextBoxFor(m => m.OdometerStart, new { placeholder = "Odometer Start", @class = "number", maxlength = 7 })
                        </fieldset>
                        <fieldset class="flt-rt">
                            <label>Vehicle Odometer (End ODO Km):</label>
                            @Html.TextBoxFor(m => m.OdometerEnd, new { placeholder = "Odometer End", @class = "number", maxlength = 7 })
                        </fieldset>
                        <fieldset>
                            <label>Vehicle Weight (Kg):</label>
                            @Html.TextBoxFor(m => m.Weight, new { placeholder = "Weight", @class = "number", maxlength = 7 })
                        </fieldset>
                        <fieldset class="flt-rt">
                            <label>Vehicle Temperature (C):</label>
                            @Html.TextBoxFor(m => m.Temprature, new { placeholder = "Temprature", @class = "number", maxlength = 7 })
                        </fieldset>
                        <fieldset>
                            <label>Vehicle Temp. Chilled (C):</label>
                            @Html.TextBoxFor(m => m.TempChilled, new { placeholder = "Temprature Chilled", @class = "number", maxlength = 7 })
                        </fieldset>
                        <fieldset class="flt-rt">
                            <label>Vehicle Temp. Frozen (C):</label>
                            @Html.TextBoxFor(m => m.TempFrozen, new { placeholder = "Temprature Frozen", @class = "number", maxlength = 7 })
                        </fieldset>
                    </div>
                </div>
                <div class="modal-footer">
                    <fieldset class="modal_submit">
                        <input type="submit" value="Save" class="btn-primary" />
                    </fieldset>
                </div>
            }
        </div>
    </div>
</div>
