﻿@model DataModel.BO.VehicleBO

<script>
    $(function () {
        // console.log('td', $("#tblDetail td:contains(True)"));
        $("#tblDetail td:contains(True)").html('Good').addClass('text-success');
        $("#tblDetail td:contains(False)").html('Bad').addClass('text-danger');
    });
</script>
<h2>Vehicle Details</h2>
<div class="active-user btn-group">
    <a href="javascript:;" class="btn-active @(Model.IsDeleted==true?"btnRed":"")" onclick="deleteVehicle(@(Model.IsDeleted == false ? 1 :0));">        
        <span>
            @(Model.IsDeleted == false ? "Active" : "Inactive")
        </span>
    </a>
</div>
@Html.HiddenFor(m => m.VehicleID)
@Html.HiddenFor(m => m.DriverID)
<div class="row separator customer-detail">
    <div class="col-md-6">
        <table class="table-space row" id="tblDetail">
            <tr>
                <td>Vehicle Name:</td>
                <td>@Model.VehicleName</td>
            </tr>
            <tr>
                <td>Number:</td>
                <td>@Model.VehicleNo</td>
            </tr>
            <tr>
                <td>Route/Run No:</td>
                <td>@Model.Route</td>
            </tr>
            <tr>
                <td>Condition:</td>
                <td>@Model.IsVehicleConditionOK</td>
            </tr>
            <tr>
                <td>Windscreen:</td>
                <td>@Model.IsWindscreenOK</td>
            </tr>
            <tr>
                <td>Tyres Condition:</td>
                <td>@Model.IsTyreConditionOK</td>
            </tr>
            <tr>
                <td>Lights/Signals:</td>
                <td>@Model.IsLightSignalOK</td>
            </tr>
            <tr>
                <td>Fixtures/Fittings:</td>
                <td>@Model.IsFixturesFittingOK</td>
            </tr>
        </table>
    </div>
    <div class="col-md-6">
        <table class="table-space row">
            <tr>
                <td>Vehicle Rego:</td>
                <td>@Model.RegistrationNo</td>
            </tr>
            <tr>
                <td>Vehicle Shift:</td>
                <td>@Model.Shift</td>
            </tr>
            <tr>
                <td>Vehicle Odometer (Start ODO Km):</td>
                <td>@Model.OdometerStart</td>
            </tr>
            <tr>
                <td>Vehicle Odometer (End ODO Km):</td>
                <td>@Model.OdometerEnd</td>
            </tr>
            <tr>
                <td>Vehicle Weight (Kg):</td>
                <td>@Model.Weight</td>
            </tr>
            <tr>
                <td>Vehicle Temperature (C):</td>
                <td>@Model.Temprature</td>
            </tr>
            <tr>
                <td>Vehicle Temp. Chilled (C):</td>
                <td>@Model.TempChilled</td>
            </tr>
            <tr>
                <td>Vehicle Temp. Frozen (C):</td>
                <td>@Model.TempFrozen</td>
            </tr>
        </table>
    </div>
</div>
<div class="row deliveries-comment-area">
    <label>Other Comments:</label>
    <h6 name="description">@Model.Comments</h6>
</div>
