﻿
@{
    ViewBag.Title = "ManageDrivers";
    Layout = "~/Areas/Saavi5POD/Views/Shared/_Layout.cshtml";
}
@section podScripts{
    <script src="@Url.Content("~/Scripts/manageDriverJS.js")"></script>
    <script>
        $(function () {
            var li = $("#liUser li").eq(0);
            console.log(li);
            $("#hdnUserID").val($("#liUser").find('li.active').data('id'));
            li.addClass('active');
            GetDriverByID(li);
            $("#txtDriverSearch").attr('placeholder', 'Search By Drivers');
            $("#btnDriverSearch").attr('data-type', 'd');
            //console.log('@ViewData["Message"]');
            if ('@ViewData["Message"]' != '') {
            if ('@ViewData["Message"]' == 'Success') {
                growlNotification('Driver added successfully.', 'success', 3000);
                $("#managedriverModal").modal('hide');
              //  $(".ancOpen").trigger('click');
              //  openPartialPage('modalManageDriver', '_ManageDriver/');
            }
            else { growlNotification('@ViewData["Message"]', 'warning', 3000);}
        }
        });
    </script>
}
<div class="top-bar">
    <a href="#toggle-div1" id="user1">Categories</a>
    <div id="toggle-div1">
        <div class="pull-left">
            <div class="btn-group" role="tablist">
                <a href="javascript:;" onclick="openPartialPage('modalManageDriver','_ManageDriver/');" class="btn-primary large active ancOpen">Add Driver</a>
                <a href="javascript:;" onclick="openPartialPage('modalManageDriver','_ManageDriver/'+$('#UserID').val());" class="btn-primary large">Edit Driver</a>
                <a href="javascript:;" onclick="deleteUser();" class="btn-primary large">Delete</a>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
</div>

<div class="tab-content">
    <div class="section full-height">
        <div class="row full-height">
            <div class="col-md-3 col full-height">
                <div class="flex-column full-height height-bg">
                    <div class="well table">
                        <h2>Existing Drivers</h2>
                        <div class="existing-vehicles">
                            <ul id="content-2" class="homepage fx_hight mCustomScrollbar light" data-mcs-theme="minimal-dark">
                                <div id="liUser">
                                @{
                                    foreach (var item in ViewBag.Driver)
                                    {
                                        <li class="outer" data-id="@item.ID" onclick="GetDriverByID(this);">
                                            <a href="javascript:;" class="head">
                                                @item.Name
                                            </a>
                                        </li>
                                    }
                                }
                                    </div>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-9 col full-height">
                <div class="row full-height">
                    <div class="col-md-8 col">
                        <div class="flex-column full-height height-bg">
                            <div class="well table pale-blue">
                                <div class="tab-content full-height">
                                    <div class="tab-pane active" role="tabpanel" id="driver_details">
                                       <div id="divDriverDetail"></div>
                                         
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col">
                        <div class="flex-column full-height height-bg">
                            <div class="well table">
                                <div class="tab-content full-height">
                                    <div class="tab-pane active" role="tabpanel" id="11">
                                        <h2>Assign driver to vehicle</h2>
                                        <div id="content-2" class="Vehicles-asign homepage fx_hight mCustomScrollbar light" data-mcs-theme="minimal-dark">
                                            <div class="list-group" id="divVehicleList">
                                                @foreach (var item in ViewBag.Vehicle)
                                                    {
                                                        <a href="javascript:;" onclick="GetDID(this);" class="list-group-item" data-id="@item.ID">@item.Name</a>
                                                    }
                                            </div>
                                            <i class="fa fa-angle-down select_icon" aria-hidden="true"></i>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="modalManageDriver"></div>
