﻿
@{
    ViewBag.Title = "ManageVehicle";
    Layout = "~/Areas/Saavi5POD/Views/Shared/_Layout.cshtml";
}
@section podScripts{
    <script src="@Url.Content("~/Scripts/manageDriverJS.js")"></script>
    <script>
        $(function () {
            var li = $("#liVehicle li").eq(0);
            console.log(li);
            li.addClass('active');
            GetVehicleByID(li);
            $("#txtDriverSearch").attr('placeholder', 'Search By Vehicle');
            $("#btnDriverSearch").attr('data-type', 'v');
        });
    </script>
}

<div class="top-bar">
    <a href="#toggle-div1" id="user1">Categories</a>
    <div id="toggle-div1">
        <div class="pull-left">
            <div class="btn-group" role="tablist">
                <a href="javascript:;" onclick="openPartialPage('modalManageVehicle','_ManageVehicle/');" class="btn-primary large active">Add Vehicle</a>
                <a href="javascript:;" onclick="openPartialPage('modalManageVehicle','_ManageVehicle/'+$('#VehicleID').val());" class="btn-primary large">Edit Vehicle</a>
                <a href="javascript:;" onclick="deleteVehicle(1);" class="btn-primary large">Delete</a>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
</div>
<div class="tab-content">
    <div class="section full-height">
        <div class="row full-height">
            <div class="col-md-3 col full-height height-bg">
                <div class="flex-column height-bg">
                    <div class="well table">
                        <h2>Existing Vehicles</h2>
                        <div class="existing-vehicles">
                            <ul id="content-2" class="light homepage fx_hight mCustomScrollbar light" data-mcs-theme="minimal-dark">
                                <div id="liVehicle">
                                @{
                                    foreach (var item in ViewBag.Vehicle)
                                    {
                                        <li class="outer @(item.IsDeleted==true?"disabled":"")" data-id="@item.ID" onclick="GetVehicleByID(this);">
                                            <a href="javascript:;" class="head">@item.Name</a>
                                        </li>
                                    }
                                }
                                    </div>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col full-height height-bg">
                <div class="row full-height">
                    <div class="flex-column full-height height-bg">
                        <div class="well table pale-blue customer-col">
                            <div class="tab-content full-height">
                                <div class="tab-pane active" role="tabpanel" id="deliveries_details">
                                    <div id="divVehicleDetail"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col">
                <div class="flex-column full-height height-bg">
                    <div class="well table">
                        <div class="tab-content full-height">
                            <div class="tab-pane active" role="tabpanel" id="11">
                                <h2>Assign vehicle to Driver</h2>
                                <div id="content-2" class="Vehicles-asign light homepage fx_hight mCustomScrollbar light" data-mcs-theme="minimal-dark">
                                    <div class="list-group" id="divDriverList">
                                        @foreach (var item in ViewBag.Driver)
                                        {
                                            <a href="javascript:;" onclick="GetVID(this);" class="list-group-item" data-id="@item.ID">@item.Name</a>
                                        }
                                    </div>
                                    <i class="fa fa-angle-down select_icon" aria-hidden="true"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="modalManageVehicle"></div>