﻿@model DataModel.Model.UserMaster
<script>
    $(function () {
        $("#addUserModal").modal('show');
        validateForm('formUserAU');
        $('#chkIsManagement').after('<label for="chkIsManagement"></label>');
        $("#IsManagement").val($("#chkIsManagement").prop('checked'));
        $("#chkIsManagement").on('change', function () {
            $("#IsManagement").val($("#chkIsManagement").prop('checked'));
        });
        var txtPwd = $('form').find('input[type="password"]').attr('id');
        console.log(txtPwd)
        $('#' + txtPwd).rules("add", {
            required: true,
            atLeastOneLowercaseLetter: true,
            atLeastOneUppercaseLetter: true,
            atLeastOneNumber: true,
            atLeastOneSymbol: true,
            minlength: 8,
            maxlength: 20
        });
    });
    function SuccessMethod(res) {
        if (res == "Success") {
            $("#addUserModal").modal('hide');
            $('#divCustomerDetail').load(URL + '_CustomerDetail/' + $("#CustomerID").val());
        } else { growlNotification(res, 'warning', 3000); }
    }
</script>
<div class="modal fade" id="addUserModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><img src="~/Content/images/close.png"></button>
            </div>
            <div class="modal-body login margin">
                <h2><strong>New User Details</strong><br></h2>
                <div id="divPopupMsg"></div>
                @using (Ajax.BeginForm("ManageUser", "Company", new AjaxOptions
                {
                    HttpMethod = "POST",
                    OnSuccess = "SuccessMethod",
                    OnBegin = "startLoading",
                    OnComplete = "stopLoading"
                }, new { id = "formUserAU", @class = "row" }))
                {
                    @Html.HiddenFor(m => m.CustomerID)
                    @Html.HiddenFor(m => m.IsManagement)
                    <fieldset class="">
                        <div class="col-sm-4">
                            <label>Company Name:</label>
                        </div>
                        <div class="col-sm-8">
                            @Html.TextBoxFor(m => m.FirstName, new { maxlength = 50 })
                        </div>
                    </fieldset>
                    <fieldset class="">
                        <div class="col-sm-4">
                            <label>Contact Name:</label>
                        </div>
                        <div class="col-sm-8">
                            @Html.TextBoxFor(m => m.ContactName, new { maxlength = 100 })
                        </div>
                    </fieldset>
                    <fieldset class="">
                        <div class="col-sm-4">
                            <label>Email:<sup>*</sup></label>
                        </div>
                        <div class="col-sm-8">
                            @Html.TextBoxFor(m => m.Email, new { maxlength = 50, type = "email", required = "required" })
                        </div>
                    </fieldset>
                    <fieldset class="">
                        <div class="col-sm-4">
                            <label>Password:<sup>*</sup></label>
                        </div>
                        <div class="col-sm-8">
                            @Html.TextBoxFor(m => m.DefaultPassword, new { maxlength = 50, required = "required", type = "password" })
                        </div>
                    </fieldset>

                    <fieldset class="">
                        <div class="col-sm-4">
                            <label>Confirm Password:<sup>*</sup></label>
                        </div>
                        <div class="col-sm-8">
                            <input id="ConfirmPassword" name="ConfirmPassword" maxlength=50 required="required" type="password" equalto="#DefaultPassword" />
                        </div>
                    </fieldset>
                    <fieldset class="">
                        <div class="col-sm-4">
                            <label>Phone:</label>
                        </div>
                        <div class="col-sm-8">
                            @Html.TextBoxFor(m => m.Phone, new { maxlength = 20, @class = "number" })
                        </div>
                    </fieldset>
                    <fieldset class="">
                        <div class="col-sm-4">
                        </div>
                        <div class="col-sm-8">
                            <div class="checkbox-field text-left flt-lt">
                                <label for="chkIsManagement">Is Management?:</label>
                            </div>
                            <div class="checkbox-field flt-lt">
                                <input type="checkbox" id="chkIsManagement" />
                            </div>
                        </div>

                    </fieldset>
                    <fieldset class="">
                        <div class="col-sm-12 text-center">
                            <input type="submit" value="Save" class="btn-primary" />
                        </div>
                    </fieldset>
                }
            </div>
        </div>
    </div>
</div>
