﻿
<nav id="bs-navbar" class="">
    <div class="navigation" id="navigation">
        <ul class="nav navbar-nav" id="mainNav">
            <li data-href="dashboard">
                <a href='@Url.Action("Dashboard","Company")'><img src="~/content/images/dashboard.png"></a>
                <div class="tab">
                    <div class="pull-left">
                        <h1 id="dashboardTitle">Dashboard</h1>
                    </div>
                    @*<div class="pull-right">
                        <div class="search" id="dashboardSearch">
                            <fieldset>
                                <input id="txtLatestProductSearch" name="txtLatestProductSearch" type="text" placeholder="Search By Product" />
                                <input type="submit" onclick="searchLatestProduct();" />
                            </fieldset>
                        </div>
                    </div>*@
                </div>
            </li>
            <li data-href="Product">
                @Html.ActionLink("MANAGE PRODUCTS", "ManageCategories", "Product")
                <div class="tab">
                    <div class="pull-left">
                        <h1 id="productTitle">Manage Products</h1>
                        <div class="btn-group" id="productHeader">
                            <a data-action="managecategories" href="@Url.Action("ManageCategories","Product")" class="btn-border active">Categories</a>
                            <a data-action="products" href="@Url.Action("Products","Product")" class="btn-border">Product</a>
                            @*<a href="javascript:;" class="btn-border">Product</a>*@
                            <a data-action="suggestiveproducts" href="javascript:;" class="btn-border">Suggestive Products</a>
                        </div>
                    </div>
                    <div class="pull-right" id="categorySearch">
                        <div class="search">
                            <fieldset>
                                <input id="txtSearch" name="txtSearch" type="text" placeholder="Search By Category" />
                                <input type="submit" onclick='searchCategories();' />
                            </fieldset>
                        </div>
                    </div>
                </div>
            </li>
            <li data-href="Order">
                @Html.ActionLink("VIEW ORDER", "Settings", "Order")
                <div class="tab">
                    <div class="pull-left">
                        <h1>View Orders</h1>
                        <div class="btn-group">
                            <a href="@Url.Action("Settings","Order")" class="btn-border active" data-action="settings">Settings</a>
                            <a href="@Url.Action("ViewOrders","Order")" class="btn-border" data-action="vieworders">Orders</a>
                            <a href="@Url.Action("Offline","Order")" class="btn-border" data-action="offline">Offline</a>
                        </div>
                    </div>
                    <div class="pull-right">
                        <form class="calender">
                            <fieldset>
                                <input type="text" placeholder="From" />
                                <input type="text" placeholder="To" />
                                <input type="submit" value="Search" class="btn-secondary" />
                            </fieldset>
                        </form>
                    </div>
                </div>
            </li>
            <li data-href="Company" id="limenu">
                <a href="@Url.Action("ManageUsers", "Company")">MANAGE USERS <label class="headerCount" id="lblRequestCount2"></label></a>
                <div class="tab">
                    <div class="pull-left">
                        <h1 id="headerTitle">
                            Manage Users
                        </h1>
                    </div>
                    <div class="pull-right" id="userSearch">
                        <div class="search">
                            <fieldset>
                                @{ 
                                    string srchTxtPlaceholder = "Search By Customer";
                                    if (Model == true)
                                    {
                                        srchTxtPlaceholder = "Search By Sales Rep";
                                    }
                                }
                                <input id="txtCustSearch" name="txtSearch" type="text" placeholder="@srchTxtPlaceholder" />
                                <input id="btnCustSearch" name="btnCustSearch" type="submit" onclick='searchUsers();' />
                            </fieldset>
                        </div>
                    </div>
                </div>
            </li>
            <li data-href="Message">
                @Html.ActionLink("SEND MESSAGE", "SendMessage", "Message")
                <div class="tab">
                    <div class="pull-left">
                        <h1>Target Marketing</h1>
                    </div>
                    <div class="pull-right">
                        <form class="search">
                            <fieldset>
                                <input type="text" placeholder="Search By Customer" />
                                <input type="submit" />
                            </fieldset>
                        </form>
                    </div>
                </div>
            </li>
            <li data-href="Supplier" class="hidden">
                @Html.ActionLink("SUPPLIER ORDERS", "BySupplier", "Supplier")
                <div class="tab">
                    <div class="pull-left pull-leftmgn">
                        <h1>Supplier Orders</h1>
                        <div class="btn-group">
                            <a href="@Url.Action("BySupplier","Supplier")" class="btn-border active">By Supplier</a>
                            <a href="@Url.Action("ByItems","Supplier")" class="btn-border">By Items</a>
                        </div>
                    </div>
                    <div class="pullrightcustom">
                        <span class="lbltxt1">From : </span>
                        <div class="input-group date lftcstm" data-provide="datepicker">
                            <input type="text" class="form-control cstmbg txtright htcstm" placeholder="">
                            <div class="input-group-addon cstmbg bordercstm" id="deliveries-pick-date_icons">
                                <i class="fa fa-calendar-check-o" aria-hidden="true"></i>
                            </div>
                        </div>
                        <span class="lbltxt1">To : </span>
                        <div class="input-group date lftcstm" data-provide="datepicker">
                            <input type="text" class="form-control cstmbg txtright htcstm" placeholder="">
                            <div class="input-group-addon cstmbg bordercstm" id="deliveries-pick-date_icons">
                                <i class="fa fa-calendar-check-o cstmbg" aria-hidden="true"></i>
                            </div>
                        </div>
                        <form class="search rightcstm rightcstmwd">
                            <fieldset id="deliveries-pick-date_icons">
                                <input type="text" placeholder="Search By Supplier" />
                                <input type="submit" />
                            </fieldset>
                        </form>
                    </div>

                </div>
            </li>
        </ul>
    </div>
</nav>