﻿@model DataModel.BO.CustomerBO
<script>
    $(function () {
        initScrollbar('divCustDetail', 2);
        //Check/uncheck Parent/child checkbox
        $("#CustomerSearch").hide();
        $("#lblSelectChild").hide();
        $("#chklistchild").empty();

        $("#IsChild").val("false");

        $("#chkIsParent").on('change', function () {
            $("#chklistchild").empty();
            if ($(this).prop('checked')) {
                $("#lblSelectChild").show();
                $("#CustomerSearch").show();
                $("#txtCustomerSearch").attr("placeholder", "Search Child");
               /// $("#chkIsChild").prop('checked', false);

                searchCustomerUsers();
            }
            else {
                $("#lblSelectChild").hide();
                $("#CustomerSearch").hide();
            }
        });

        $("#chkIsChild").on('change', function () {
            $("#chklistchild").empty();
            if ($(this).prop('checked')) {
                $("#lblSelectChild").show();
                $("#CustomerSearch").show();
                $("#txtCustomerSearch").attr("placeholder", "Search Parent");
                $("#chkIsParent").prop('checked', false);
                searchCustomerUsers();
            }
            else {
                $("#lblSelectChild").hide();
                $("#CustomerSearch").hide();
            }
        });
        //

        $('#chkIsSpecialCategory').after('<label for="chkIsSpecialCategory"></label>');
        $("#chkIsSpecialCategory").on('change', function () {
            $("#IsSpecialCategory").val($(this).prop('checked'));
        });

        $("#chkIsParent").on('change', function () {
            $("#IsParent").val($(this).prop('checked'));
        });

        $("#chkIsChild").on('change', function () {
            $("#IsChild").val($(this).prop('checked'));
        });

                if (@Model.CustomerID>0) {
                    if ($("#IsSpecialCategory").val().toLowerCase() == "true") {
                        $("#chkIsSpecialCategory").prop('checked', true)
                    }
                    var tagname = '@Model.TagNames'.split(',');
                    console.log(tagname);
                    $.each(tagname, function (key, val) {
                        $("#ddlTagNames option[value='" + val + "']").attr('selected', true);
                    });

                    var PID=0;
                    if (@Model.ParentID != null || @Model.ParentID != 0) {
                        PID = @Model.ParentID;
                    }

                    if ($("#IsParent").val().toLowerCase() == "true") {
                        $("#IsChild").val("false");
                        $("#chkIsParent").prop('checked', true)
                        $("#lblSelectChild").show();
                        $("#CustomerSearch").show();
                        $("#txtCustomerSearch").attr("placeholder", "Search Child");
                        searchCustomerUsers();
                    }
                    else if ($("#IsParent").val() == "" && PID > 0) {
                        $("#IsChild").val("true");
                        getParentInfo(PID);
                    }
                    //else if ($("#IsParent").val().toLowerCase() == "false" && PID > 0) {
                    //    getParentInfo(PID);
                    //}

        }

    });

    function searchCustomerUsers() {

        var stext = $("#txtCustomerSearch").val();
        var isparent = 0;
        if ($("#chkIsParent").prop('checked')) {
            isparent = 1;
        }
        var cID = $("#CustomerID").val();

        var model = {
            SearchText: stext,
            ID: cID,
            IsParent: isparent
        }

        $.ajax({
            type: "POST",
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            url: URL + 'GetParentChildList',
            data: "{'model':" + JSON.stringify(model) + "}",
            success: function (response) {
                startLoading();
                var cust = response.Result;
                //console.log(cust);
                $("#chklistchild").empty();
                if (response.Result.length > 0) {
                    var html = '';
                    $.each(cust, function (key, val) {

                        html += '<div class="pull-left checkbox-field"> '
                            + ' <input type="checkbox" class="chkchild" name="Child" id="chk_' + val.CustomerID + '"' + (val.Selected.toString() === "false" ? "" : "checked") +' value="'+val.CustomerID+'">'
                            + ' <label for="chk_'+val.CustomerID+'">'+val.CustomerName+'</label>'
                            + '  </div>'
                            + '<br>';

                        //html += '<div><input type="checkbox" data-id="' + (parseInt(value.DayValue) - 1) + '" id="' + value.ShortName + '" ' + (value.IsActive === true ? "checked" : "") + ' /><label for="' + value.ShortName + '">' + value.ShortName + '</label></div>';
                    });
                    $("#chklistchild").append(html);
                } else {

                }
                stopLoading();
            }
        });
    }

    function getParentInfo(ID) {

        $.ajax({
            type: "POST",
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            url: URL + 'GetParentInfo',
            data: "{'ParentId':" + ID + "}",
            success: function (response) {
                startLoading();
                var cust = response.Result;
                $("#chklistchild").empty();
                if (cust != null) {

                    var html = '<div class="pull-left checkbox-field"> '
                        + '<label class="pull-left"> Belongs to this Parent Account:  </label>'
                        + ' <input type="checkbox" class="chkchild" name="Child" id="chk_' + cust.CustomerID + '" checked value="' + cust.CustomerID + '">'
                        + ' <label for="chk_' + cust.CustomerID + '">' + cust.CustomerName + '</label>'
                        + '  </div>';

                    $("#chklistchild").append(html);
                } else {

                }
                stopLoading();
            }
        });
    }
</script>
<style>
    /*div#chklistchild {
        height: 500px;
        overflow: auto;
    }*/
    .btn-w {
        width: 100px !important;
    }
</style>
<h2 class="text-uppercase">Customer Details</h2>
<div class="active-user btn-group">
    <a href="javascript:;" class="btn-primary" onclick="openPartialPage('modalManageFeatures','_ManageFeatures/');">Manage Features</a>
    <a href="javascript:;" class="btn-primary btn-w" onclick="openPartialPage('modalEditUser','_EditUser/' + $('#CustomerID').val());">Edit User</a>
    <a href="javascript:;" class="btn-primary btn-w" onclick="openPartialPage('modalAddUser', '_AddUser/' + $('#CustomerID').val())">Add User</a>
    <a href="javascript:;" class="btn-primary btn-w" onclick="openPartialPage('modalDeleteUser', '_DeleteUser/' + $('#CustomerID').val())">Delete User</a>
    <a href="javascript:;" class="btn-active @(Model.IsActive==false?"btnRed":"")" onclick="SetCustActive(this);" data-id="@Model.CustomerID" data-status="@Model.IsActive">
        <span>
            @(Model.IsActive == true ? "Active" : "Inactive")
        </span>
    </a>
</div>
<div id="divCustDetail" class="row separator customer-detail left-nav light homepage">

    <div class="col-sm-6 col">
        @Html.HiddenFor(m => m.CustomerID)
        @Html.HiddenFor(m => m.IsSpecialCategory)
        @Html.HiddenFor(m => m.IsParent)
        @Html.HiddenFor(m => m.IsChild)
        <table class="table-detail width_100">
            <tr>
                <td>Alpha Code: </td>
                <td>@Model.AlphaCode</td>
            </tr>
            <tr>
                <td>Salesman Code: </td>
                <td>@Model.SalesmanCode</td>
            </tr>
            <tr>
                <td>Customer Name: </td>
                <td>@Model.CustomerName</td>
            </tr>
            <tr>
                <td>ABN: </td>
                <td>@Model.ABN</td>
            </tr>
            <tr>
                <td>Address 1: </td>
                <td><strong>@Model.Address1</strong></td>
            </tr>
            <tr>
                <td>Address 2: </td>
                <td>@Model.Address2</td>
            </tr>
            <tr>
                <td>Suburb: </td>
                <td>@Model.Suburb</td>
            </tr>
            <tr>
                <td>City: </td>
                <td>@Model.City</td>
            </tr>
            <tr>
                <td>State: </td>
                <td>@(Model.State == "0" ? "" : Model.State)</td>
            </tr>
            <tr>
                <td>Post Code: </td>
                <td>@Model.PostCode</td>
            </tr>
            <tr>
                <td>Contact Name: </td>
                <td>@Model.ContactName</td>
            </tr>
            <tr>
                <td>Phone 1: </td>
                <td><strong>@Model.Phone1</strong></td>
            </tr>
            <tr>
                <td>Phone 2: </td>
                <td>@Model.Phone2</td>
            </tr>
            <tr>
                <td>Fax: </td>
                <td><strong>@Model.Fax</strong></td>
            </tr>
            <tr>
                <td valign="top">Email: </td>
                <td>
                    @if (Model.UserEmails != null && Model.UserEmails.Count > 0)
                    {
                        foreach (var item in Model.UserEmails)
                        {
                            <span>@item</span><br />
                        }
                    }
                    else
                    { @Model.Email}
                </td>
            </tr>
            @if (Model.ParentID <= 0)
            {
                <tr>
                    <td>
                        <div class="filters">
                            <div class="checkbox-field">
                                <input type="checkbox" id="chkIsParent">
                                <label for="chkIsParent">IsParent</label>
                                @*</div>
                                    <div class="checkbox-field">*@
                                @*<input type="checkbox" id="chkIsChild">
                                    <label for="chkIsChild">IsChild</label>*@
                            </div>
                        </div>
                    </td>
                    <td></td>
                </tr>

                <tr>
                    <td><label id="lblSelectChild">Selected Children:</label></td>
                    <td>
                        <div class="pull-right searchchild" id="CustomerSearch">
                            <div class="search">
                                <fieldset>
                                    <input id="txtCustomerSearch" name="txtCustomerSearch" type="text" placeholder="Search" />
                                    <input id="btnCustomerSearch" name="btnCustomerSearch" type="submit" onclick='searchCustomerUsers();' />
                                </fieldset>
                            </div>
                        </div>
                    </td>
                </tr>
            }
            <tr>
                <td colspan="2">
                    <div id="chklistchild">
                    </div>
                </td>
            </tr>
        </table>
    </div>
    <div class="col-sm-6 col">
        <table class="table-detail width_100">
            <tr>
                <td>Debtor on Hold:</td>
                <td>@Model.DebtorOnHold</td>
            </tr>
            <tr>
                <td>Debtor Type: </td>
                <td>@Model.DebtorType</td>
            </tr>
            <tr>
                <td>Area Code:</td>
                <td>@Model.AreaCode</td>
            </tr>
            <tr>
                <td>Terms: </td>
                <td>@Model.Terms</td>
            </tr>
            <tr>
                <td>Delivery  Address 1: </td>
                <td>@Model.DeliveryAddress1</td>
            </tr>
            <tr>
                <td>Delivery Address 2: </td>
                <td>@Model.DeliveryAddress2</td>
            </tr>
            <tr>
                <td>Delivery Suburb: </td>
                <td>@Model.DeliverySuburb</td>
            </tr>
            <tr>
                <td>Delivery State: </td>
                <td>@Model.DeliveryState</td>
            </tr>
            <tr>
                <td>Delivery Post Code: </td>
                <td>@Model.DeliveryPostCode</td>
            </tr>
            <tr>
                <td>Customer served from: </td>
                <td></td>
            </tr>
            <tr>
                <td>Sunday Ordering: </td>
                <td>@Model.IsSundayOrdering</td>
            </tr>
            <tr>
                <td>Created Date: </td>
                <td>
                    @((Model.CreatedDate.ToString() == "" && Model.CreatedDate == null) ? "" : Convert.ToDateTime(Model.CreatedDate).ToShortDateString())
                </td>
            </tr>
            <tr>
                <td>Modified Date:</td>
                <td> @((Model.ModifiedDate.ToString() == "" && Model.ModifiedDate == null) ? "" : Convert.ToDateTime(Model.ModifiedDate).ToShortDateString())</td>
            </tr>
            <tr>
                <td>Show Special Category:</td>
                <td>
                    <div class="checkbox-field">
                        <input type="checkbox" id="chkIsSpecialCategory">
                        <label for="chkIsSpecialCategory"></label>
                    </div>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <select id="ddlTagNames" name="ddlTagNames" multiple="multiple" class="form-control">
                        @foreach (var item in ViewBag.ProductCategory)
                        {
                            <option value="@item.Text">@item.Text</option>
                        }
                    </select>
                </td>
            </tr>
            <tr><td colspan="2"><a href="javascript:;" class="pull-right btn-secondary" onclick="ManageCustomerTags();">Save</a></td></tr>
        </table>
    </div>
</div>

<div id="modalManageFeatures">
</div>
<div id="modalAddUser">
</div>
<div id="modalDeleteUser">
</div>
<div id="modalEditUser">
</div>