﻿
<script>
    $(function () {
        $("#deleteUserModal").modal('show');
        bindUserbyCustID($("#CustomerID").val(), 'd');
    });
</script>
<div class="modal fade" id="deleteUserModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><img src="~/Content/images/close.png"></button>
            </div>
            <div class="modal-body login margin">
                <div class="well inner-col">
                    <h2><strong>Delete Users</strong><br></h2>
                    <div id="divPopupMsg"></div>
                    <div class="mCustomScrollbar listing-col">
                        <div id="divUserList"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
