﻿@model DataModel.Model.UserMaster
<script>
    $(function () {
        $("#editUserModal").modal('show');
        validateForm('formUserEdit');
        var txtPwd = $('form').find('input[type="password"]').attr('id');

        $('#' + txtPwd).rules("add", {
            required: true,
            atLeastOneLowercaseLetter: true,
            atLeastOneUppercaseLetter: true,
            atLeastOneNumber: true,
            atLeastOneSymbol: true,
            minlength: 8,
            maxlength: 20
        });
    });
    function SuccessMethod(res) {
        if (res == "Success") {
            $("#editUserModal").modal('hide');
            $('#divCustomerDetail').load(URL + '_CustomerDetail/' + $("#CustomerID").val());
        } else { growlNotification(res, 'warning', 3000); }
    }
</script>
<div class="modal fade" id="editUserModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><img src="~/Content/images/close.png"></button>
            </div>
            <div class="modal-body login margin">
                <h2><strong>Edit User Details</strong><br></h2>
                <div id="divPopupMsg"></div>
                @using (Ajax.BeginForm("ManageUser", "Company", new AjaxOptions
                {
                    HttpMethod = "POST",
                    OnSuccess = "SuccessMethod",
                    OnBegin = "startLoading",
                    OnComplete = "stopLoading"
                }, new { id = "formUserEdit", @class = "row" }))
                {
                    @Html.HiddenFor(m => m.CustomerID)
                    @Html.HiddenFor(m => m.UserID)
                    @Html.HiddenFor(m => m.ABN)

                    <fieldset class="">
                        <div class="col-sm-4 text-left">
                            <label>User Name:</label>
                        </div>
                        <div class="col-sm-8">
                            @Html.TextBoxFor(m => m.FirstName, new { maxlength = 50 })
                        </div>
                    </fieldset>
                    <fieldset class="">
                        <div class="col-sm-4 text-left">
                            <label>Email:<sup>*</sup></label>
                        </div>
                        <div class="col-sm-8">
                            @Html.TextBoxFor(m => m.Email, new { maxlength = 50, type = "email", required = "required" })
                        </div>
                    </fieldset>
                    <fieldset class="">
                        <div class="col-sm-4 text-left">
                            <label>Password:</label>
                        </div>
                        <div class="col-sm-8">
                            @Html.TextBoxFor(m => m.DefaultPassword, new { maxlength = 50, type = "password", @class="ignore" })
                        </div>
                    </fieldset>

                    <fieldset class="">
                        <div class="col-sm-4 text-left">
                            <label>Confirm Password:</label>
                        </div>
                        <div class="col-sm-8">
                            <input id="ConfirmPassword" name="ConfirmPassword" maxlength=50 type="password" equalto="#DefaultPassword" />
                        </div>
                    </fieldset>
                    <fieldset class="">
                        <div class="col-sm-4 text-left">
                            <label>Phone:</label>
                        </div>
                        <div class="col-sm-8">
                            @Html.TextBoxFor(m => m.Phone, new { maxlength = 10, @class = "number" })
                        </div>
                    </fieldset>

                    <fieldset class="">
                        <div class="col-sm-12 text-center">
                            <input type="submit" value="Save" class="btn-primary" />
                        </div>
                    </fieldset>
                }
            </div>
        </div>
    </div>
</div>