﻿@model DataModel.BO.UserBO

<script>
    $(function () {
        loadingOnElementStart('divLoginAccount');
        setTimeout(function () {
            loadingOnElementStop('divLoginAccount');
        },200);
        
    })
</script>

<a class="btn-secondary" href="javascript:;" onclick="openPartialPage('divManageLoginAccount','_ManageLoginAccount');">Add New</a>
<a class="btn-secondary" href="javascript:;" onclick="openPartialPage('divManageLoginAccount','_ManageLoginAccount/'+@Model.UserID);">Edit</a>

<table class="table-space width_100">
    <tr>
        <td>Name: </td>
        <td>@Model.FirstName</td>
    </tr>
    <tr>
        <td>Email: </td>
        <td>@Model.Email</td>
    </tr>
    <tr>
        <td>Password: </td>
        <td>@Model.DefaultPassword</td>
    </tr>
</table>


