﻿<script>
    $(function () {
        $(".customPaging a").on('click', function () {
            $(".customPaging a").removeClass('active');
            $(this).addClass('active');
        });
        $(".customPaging a").eq(0).trigger('click');            
    });
</script>
<h2>LOGIN ACCOUNTS (@ViewBag.Users.Count)</h2>
<div class="col-sm-12 col">
    <div id="divLoginAccounts">

    </div>
    <div class="clearfix"></div><hr />
    <div class="customPaging pull-right">
        @if (ViewBag.Users.Count > 1)
        {
            int i = 1;
            foreach (var item in ViewBag.Users)
            {
                <a href="javascript:;" onclick="openPartialPage('divLoginAccounts','_LoginAccounts/'+@item.UserID);" data-id="@item.UserID">@i</a>
                i++;
            }
        }
    </div>
    <div id="divManageLoginAccount"></div>
</div>

