﻿@model DataModel.BO.AddEditCustomerBO

<script>
    $(function () {
        validateForm('formCustomerAU');
        bindSalesmanCode('@Model.SalesmanCode');
        $('#IsActive').after('<label for="IsActive"></label>');
        $("#IsRep").val('true');
        $("#UserTypeID").val('3');
        $("#ddlSalesmanCode option[value='']").remove();
        var txtPwd = $('form').find('input[type="password"]').attr('id');
        console.log(txtPwd)
        $('#' + txtPwd).rules("add", {
            required: true,
            atLeastOneLowercaseLetter: true,
            atLeastOneUppercaseLetter: true,
            atLeastOneNumber: true,
            atLeastOneSymbol: true,
            minlength: 8,
            maxlength: 20
        });
    });
     if (@Model.CustomerID > 0)
    {
         setTimeout(function () {
             if ('@Model.SalesmanCode'!='0' && '@Model.SalesmanCode'!='') {
                 var rr = '@Model.SalesmanCode';
                 var code = rr.split(',');
                 $(code).each(function (i, value) {
                     $("#ddlSalesmanCode option[value=" + value + "]").attr("selected", true);
                 });
             }
        }, 1000);
    }
      function SuccessMethod(res) {
        if(res=="Success"){
            if(@Model.CustomerID>0){
                $("#repcustomerformModal").modal('hide');
                var url = '@Url.Action("_RepUserDetail", "Company")';
                $('#divCustomerDetail').load(url + '/' + @Model.CustomerID);
            }else{
                window.location.reload();
            }
        } else { growlNotification(res, 'warning', 3000);}
    }
</script>

<div class="modal fade" id="repcustomerformModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><img src="~/Content/images/close.png"></button>
            </div>
            <div class="modal-body login margin">

                <h2>Sales Rep Details</h2>
                @using (Ajax.BeginForm("ManageCustomer", "Company", new AjaxOptions
                {
                    HttpMethod = "POST",
                    OnSuccess = "SuccessMethod",
                    OnBegin = "startLoading",
                    OnComplete = "stopLoading"
                }, new { id = "formCustomerAU", @class = "row" }))
                {
                    @Html.HiddenFor(m => m.CustomerID)
                    @Html.HiddenFor(m => m.SalesmanCode)
                    @Html.HiddenFor(m => m.IsRep)
                    @Html.HiddenFor(m => m.UserTypeID)
                    <fieldset class="row">
                        <div class="col-sm-4">
                            <label>Salesman Code:</label>
                        </div>
                        <div class="col-sm-8">
                            <select id="ddlSalesmanCode" name="ddlSalesmanCode" onchange="getSaleCode();" multiple="multiple"></select>
                            <label style="font-size:smaller;">"Hold CTRL KEY to select multiple rep codes, SHIFT KEY to select a range."</label>
                        </div>
                       
                    </fieldset>
                    <fieldset class="row">
                        <div class="col-sm-4">
                            <label>Rep Name:<sup>*</sup></label>
                        </div>
                        <div class="col-sm-8">
                            @Html.TextBoxFor(m => m.CustomerName, new { maxlength = 100, required = "required" })
                        </div>
                    </fieldset>
                    <fieldset class="row">
                        <div class="col-sm-4">
                            <label>Email:<sup>*</sup></label>
                        </div>
                        <div class="col-sm-8">
                            @Html.TextBoxFor(m => m.Email, new { maxlength = 50, type = "email", required = "required" })
                        </div>
                    </fieldset>
                    <fieldset class="row">
                        <div class="col-sm-4">
                            <label>Password:<sup>*</sup></label>
                        </div>
                        <div class="col-sm-8">
                            @Html.TextBoxFor(m => m.Password, new { maxlength = 50, required = "required", type = "password" })
                        </div>
                    </fieldset>

                    <fieldset class="row">
                        <div class="col-sm-4">
                            <label>Mobile:</label>
                        </div>
                        <div class="col-sm-8">
                            @Html.TextBoxFor(m => m.Phone1, new { maxlength = 20, @class = "number" })
                        </div>
                    </fieldset>

                    <fieldset class="row">
                        <div class="col-sm-4 col-sm-offset-4">
                            <div class="checkbox-field">
                                <label for="IsActive">Is Active?:</label>
                                @Html.CheckBoxFor(m => m.IsActive)
                            </div>
                        </div>
                    </fieldset>

                    <fieldset class="row">
                    
                        <div class="col-sm-12 text-center">
                            <input value="Save" class="btn-primary" type="submit">
                        </div>
                    </fieldset>

                }
            </div>
        </div>
    </div>
</div>
