﻿@model DataModel.BO.AddEditCustomerBO

<script>
    $(function () {
        validateForm('formCustomerAU');
        $("#txtSalesmanCode").hide();
        $("#msgSalesmancode").hide();
        bindSalesmanCode('@Model.SalesmanCode');
        bindCountry('@Model.CountryID');
        $('#IsActive').after('<label for="IsActive"></label>');
        $('#chkSalesmanCode').after('<label for="chkSalesmanCode"></label>');
        $('#IsSundayOrdering').after('<label for="IsSundayOrdering"></label>');
        $("#IsRep").val('false');
        $("#UserTypeID").val('4');
        var txtPwd = $('form').find('input[type="password"]').attr('id');
        console.log(txtPwd)
        $('#' + txtPwd).rules("add", {
            required: true,
            atLeastOneLowercaseLetter: true,
            atLeastOneUppercaseLetter: true,
            atLeastOneNumber: true,
            atLeastOneSymbol: true,
            minlength: 8,
            maxlength: 20
        });
    });

    if (@Model.CustomerID > 0)
    {
        setTimeout(function () {
          //  $('#ddlSalesmanCode').val(('@Model.SalesmanCode'=='0' && '@Model.SalesmanCode'=='') ?'':'@Model.SalesmanCode');
            $('#ddlCountry').val((@Model.CountryID=='0' && @Model.CountryID=='') ? '' :@Model.CountryID).trigger('change');
             if ('@Model.SalesmanCode'!='0' && '@Model.SalesmanCode'!='') {
                 var rr = '@Model.SalesmanCode';
                 var code = rr.split(',');
                 $(code).each(function (i, value) {
                     $("#ddlSalesmanCode option[value=" + value + "]").attr("selected", true);
                 });
             }
        }, 1000);
    }

    function SuccessMethod(res) {
        if(res=="Success"){
            if(@Model.CustomerID>0){
                $("#customerformModal").modal('hide');
                var url = '@Url.Action("_CustomerDetail", "Company")';
                $('#divCustomerDetail').load(url + '/' + @Model.CustomerID);
            }else{
                window.location.reload();
            }
        } else { growlNotification(res, 'warning', 3000);}
    }
</script>

<div class="modal fade" id="customerformModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><img src="../Content/images/close.png"></button>
            </div>
            <div class="modal-body login margin">
                <h2><strong>Customer Details</strong><br></h2>
                <div id="divPopupMsg"></div>
                @using (Ajax.BeginForm("ManageCustomer", "Company", new AjaxOptions
                {
                    HttpMethod = "POST",
                    OnSuccess = "SuccessMethod",
                    OnBegin = "startLoading",
                    OnComplete = "stopLoading"
                }, new { id = "formCustomerAU", @class = "row" }))
                {

                    @Html.HiddenFor(m => m.CustomerID)
                    @Html.HiddenFor(m => m.StateID)
                    @Html.HiddenFor(m => m.CountryID)
                    @Html.HiddenFor(m => m.SalesmanCode)
                    @Html.HiddenFor(m => m.IsRep)
                    @Html.HiddenFor(m => m.UserTypeID)
                    <div class="col-sm-6 col form-group">
                        <fieldset class="row">
                            <div class="col-sm-5">
                                <label>Salesman:</label>
                                <div class="checkbox-field">
                                    <label for="chkSalesmanCode">Other:</label>
                                    <input type="checkbox" id="chkSalesmanCode" name="chkSalesmanCode" onchange="getSaleCode();" />
                                </div>
                            </div>
                            <div class="col-sm-7">
                                <select id="ddlSalesmanCode" name="ddlSalesmanCode" onchange="getSaleCode();" multiple="multiple"></select>
                                <input type="text" id="txtSalesmanCode" name="txtSalesmanCode" onchange="getID('txtSalesmanCode','SalesmanCode');" placeholder="" />
                                <small id="msgSalesmancode" class="text-left">For add multiple salesman code seprate them with commas</small>
                            </div>
                        </fieldset>
                        <fieldset class="row">
                            <div class="col-sm-5">
                                <label>Contact Name:</label>
                            </div>
                            <div class="col-sm-7">
                                @Html.TextBoxFor(m => m.ContactName, new { maxlength = 100, @class = "ignore" })
                            </div>
                        </fieldset>

                        <fieldset class="row">
                            <div class="col-sm-5">
                                <label>Password:</label>
                            </div>
                            <div class="col-sm-7">
                                @Html.TextBoxFor(m => m.Password, new { maxlength = 50, type = "password", @class = "ignore" })
                            </div>
                        </fieldset>

                        <fieldset class="row">
                            <div class="col-sm-5">
                                <label>Address:</label>
                            </div>
                            <div class="col-sm-7">
                                @Html.TextBoxFor(m => m.Address1, new { maxlength = 500 })
                            </div>
                        </fieldset>

                        <fieldset class="row">
                            <div class="col-sm-5">
                                <label>Suburb:</label>
                            </div>
                            <div class="col-sm-7">
                                @Html.TextBoxFor(m => m.Suburb, new { maxlength = 100 })
                            </div>
                        </fieldset>

                        <fieldset class="row">
                            <div class="col-sm-5">
                                <label>Country:<sup>*</sup></label>
                            </div>
                            <div class="col-sm-7">
                                <select id="ddlCountry" name="ddlCountry" onchange="bindState()" required></select>
                            </div>
                        </fieldset>

                        <fieldset class="row">
                            <div class="col-sm-5">
                                <label>Post Code:</label>
                            </div>
                            <div class="col-sm-7">
                                @Html.TextBoxFor(m => m.PostCode, new { maxlength = 20 })
                            </div>
                        </fieldset>
                    </div>
                    <div class="col-sm-6 col form-group">
                        <fieldset class="row">
                            <div class="col-sm-5">
                                <label>Customer Name:<sup>*</sup></label>
                            </div>
                            <div class="col-sm-7">
                                @Html.TextBoxFor(m => m.CustomerName, new { maxlength = 50, required = "required" })
                            </div>
                        </fieldset>

                        <fieldset class="row">
                            <div class="col-sm-5">
                                <label>Email:<sup>*</sup></label>
                            </div>
                            <div class="col-sm-7">
                                @Html.TextBoxFor(m => m.Email, new { maxlength = 50, type = "email", required = "required" })
                            </div>
                        </fieldset>

                        <fieldset class="row">
                            <div class="col-sm-5">
                                <label>Mobile:</label>
                            </div>
                            <div class="col-sm-7">
                                @Html.TextBoxFor(m => m.Phone1, new { maxlength = 20, @class = "number" })
                            </div>
                        </fieldset>

                        <fieldset class="row">
                            <div class="col-sm-5">
                                <label>Address:</label>
                            </div>
                            <div class="col-sm-7">
                                @Html.TextBoxFor(m => m.Address2, new { maxlength = 500 })
                            </div>
                        </fieldset>
                        <fieldset class="row">
                            <div class="col-sm-5">
                                <label>City</label>
                            </div>
                            <div class="col-sm-7">
                                @Html.TextBoxFor(m => m.City, new { maxlength = 100 })
                            </div>
                        </fieldset>
                        <fieldset class="row">
                            <div class="col-sm-5">
                                <label>State:</label>
                            </div>
                            <div class="col-sm-7">
                                <select id="ddlState" name="ddlState" onchange="getID('ddlState','StateID');"></select>
                            </div>
                        </fieldset>
                        <fieldset class="row">
                            <div class="col-sm-5">
                                <div class="checkbox-field">
                                    <label for="IsActive">Is Active?:</label>
                                    @Html.CheckBoxFor(m => m.IsActive)
                                </div>
                            </div>
                            <div class="col-sm-7">
                                <div class="checkbox-field">
                                    <label for="IsSundayOrdering">Sunday Ordering?:</label>
                                    @Html.CheckBoxFor(m => m.IsSundayOrdering)
                                </div>
                            </div>
                        </fieldset>
                        <fieldset class="row">

                            <div class="col-sm-12 text-center">
                                <input type="submit" class="btn-primary pull-right" value="Save" />
                            </div>
                        </fieldset>
                    </div>
                }
            </div>
        </div>
    </div>
</div>