﻿@model DataModel.BO.UserBO

<script>
    $(function () {
        $("#manageuserModal").modal('show');
        validateForm('formLoginAccount');
        $('#DefaultPassword').rules("add", {
            required: true,
            atLeastOneLowercaseLetter: true,
            atLeastOneUppercaseLetter: true,
            atLeastOneNumber: true,
            atLeastOneSymbol: true,
            minlength: 8,
            maxlength: 20
        });
        $('#chkIsActive').after('<label for="chkIsActive"></label>');
        $("#chkIsActive").on('change', function () {
            $("#IsActive").val($("#chkIsActive").prop('checked'));
        });
        if (@Model.UserID>0) {
            $("#ddlUserTypeID").val('@Model.UserTypeID');
            $("#chkIsActive").prop('checked', $("#IsActive").val())
            if ('@Model.UserTypeID' == '2') { $("#fldUType").hide(); }
        } else {
            $("#UserTypeID").val($("#ddlUserTypeID").val());
        }
    });
    function laSuccessMethod(res) {
        if (res == "Success") {
            growlNotification('user saved successfully', 'success', 3000);
            $("#manageuserModal").modal('hide');
            if ('@Model.UserID' == '0'){
                $("#divLoginAccount").load('@Url.Action("_LoginAccount", "Company")');
            }else{openPartialPage('divLoginAccounts','_LoginAccounts/'+@Model.UserID); }
        } else { growlNotification(res, 'warning', 3000); }
    }
</script>

<div class="modal fade" id="manageuserModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><img src="~/Content/images/close.png"></button>
            </div>
            <div class="modal-body login margin">
                <h2><strong>Login Account</strong><br></h2>
                @using (Ajax.BeginForm("ManageMyAccount", "Company", new AjaxOptions
                {
                    HttpMethod = "POST",
                    OnSuccess = "laSuccessMethod",
                    OnBegin = "startLoading",
                    OnComplete = "stopLoading"
                }, new { id = "formLoginAccount", @class = "" }))
                {
                    @Html.HiddenFor(m => m.UserID)
                    @Html.HiddenFor(m => m.UserTypeID)
                    @Html.HiddenFor(m => m.IsActive)

                    <fieldset class="" id="fldUType">
                        <div class="col-sm-4">
                            <label>User Type:<sup>*</sup></label>
                        </div>
                        <div class="col-sm-8">
                            <select id="ddlUserTypeID" name="ddlUserTypeID"  onchange="getID('ddlUserTypeID','UserTypeID');">
                                @foreach (var item in ViewBag.UserType)
                                {
                                    <option value="@item.UserTypeID">@item.Name</option>
                                }
                            </select>
                            @*@Html.DropDownList("UserTypeID", new SelectList(ViewBag.UserType, "UserTypeID", "Name"))*@
                        </div>
                    </fieldset>
                    <fieldset class="">
                        <div class="col-sm-4">
                            <label>Name:<sup>*</sup></label>
                        </div>
                        <div class="col-sm-8">
                            @Html.TextBoxFor(m => m.FirstName, new { required = "required", maxlength = 50 })
                        </div>
                    </fieldset>
                    <fieldset class="">
                        <div class="col-sm-4">
                            <label>UserName:<sup>*</sup></label>
                        </div>
                        <div class="col-sm-8">
                            @Html.TextBoxFor(m => m.UserName, new { required = "required", maxlength = 50 })
                        </div>
                    </fieldset>
                    <fieldset class="">
                        <div class="col-sm-4">
                            <label>Email:<sup>*</sup></label>
                        </div>
                        <div class="col-sm-8">
                            @Html.TextBoxFor(m => m.Email, new { maxlength = 50, type = "email", required = "required" })
                        </div>
                    </fieldset>
                    <fieldset class="">
                        <div class="col-sm-4">
                            <label>Password:<sup>*</sup></label>
                        </div>
                        <div class="col-sm-8">
                            @Html.TextBoxFor(m => m.DefaultPassword, new { maxlength = 50, required = "required", type = "password" })
                        </div>
                    </fieldset>
                    <fieldset class="">
                        <div class="col-sm-4">
                            <label>Phone:<sup>*</sup></label>
                        </div>
                        <div class="col-sm-8">
                            @Html.TextBoxFor(m => m.Phone, new { maxlength = 20, required = "required", @class = "number" })
                        </div>
                    </fieldset>
                    <fieldset class="">
                        <div class="col-sm-6">
                            <div class="checkbox-field text-left flt-lt">
                                <label for="chkIsActive">Is Active?:</label>
                            </div>
                            <div class="checkbox-field flt-rt">
                                <input type="checkbox" id="chkIsActive" />
                            </div>
                        </div>
                    </fieldset>
                    <div class="form-group">
                        <div class="col-sm-6 text-left col pull-right">
                            <input type="submit" class="btn-secondary pull-right" value="Save" />
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
