﻿
@{
    ViewBag.Title = "Manage Features";

    //List<DataModel.BO.FeaturesMasterBo> adminFeatures = ViewBag.AdminFeatures;
}
    <script>
        $(function () {
            $("#managefeatureModal").modal('show');
            bindUserbyCustID($("#CustomerID").val(), 'f');
        });
    </script>
  
<div class="modal fade" id="managefeatureModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><img src="../Content/images/close.png"></button>
            </div>
            <div class="modal-body login margin">

                <h2>Manage Features</h2>
                <select id="ddlUser" name="ddlUser" onchange="getFeaturesForUser();"></select>
                <div class="clearfix"></div>
                <br />
                <div class="row login">
                    <div id="divUserFeatures"></div>  
                </div>
            </div>
        </div>
    </div>
</div>