﻿@model DataModel.Model.PantryListMaster
<script>
    $(function () {
        $("#PantryListModal").modal('show');
        validateForm('formPantryListU');
        bindPantryList();
    });
    function SuccessMethod(res) {
        if (res === "Success") {
            $("#PantryListModal").modal('hide');
            growlNotification('Pantry list name changed.', 'success', 3000);
        } else { growlNotification(res, 'warning', 3000); }
    }
</script>
<div class="modal fade" id="PantryListModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><img src="~/Content/images/close.png"></button>
            </div>
            <div class="modal-body">
                <div class="well inner-col">
                    <h2 class="text-center"><strong>Rename Pantry List</strong><br></h2>
                    @using (Ajax.BeginForm("ManagePantryList", "Company", new AjaxOptions
                    {
                        HttpMethod = "POST",
                        OnSuccess = "SuccessMethod",
                        OnBegin = "startLoading",
                        OnComplete = "stopLoading"
                    }, new { id = "formPantryListU", @class = "row" }))
                    {
                        @Html.HiddenFor(m => m.PantryListID)
                        <fieldset class="row">
                            <div class="col-sm-6"><label>Default Pantry List:<sup>*</sup></label>
                                <select id="ddlPantryList" name="ddlPantryList" onchange="getItem();" required></select>
                            </div>
                            <div class="col-sm-6"><label>Pantry List Name:<sup>*</sup></label>
                                @Html.TextBoxFor(m => m.PantryListName, new { maxlength = 50,placeholder= "Pantry List Name" , required = "required"})
                            </div>
                        </fieldset>

                        <fieldset class="text-center"><input type="submit" class="btn-secondary" value="Save"></fieldset>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
