﻿@model DataModel.BO.CustomerBO


<h2>REP DETAILS</h2>
@Html.HiddenFor(m => m.CustomerID)
<div class="active-user btn-group">
    <a href="javascript:;" class="btn-active @(Model.IsActive==false?"btnRed":"")" onclick="SetCustActive(this);" data-id="@Model.CustomerID" data-status="@Model.IsActive">
        <span>
            @(Model.IsActive == true ? "Active" : "Inactive")
        </span>
    </a>
</div> 
<table class="table-detail width_100">
    <tr>
        <td>Salesman Code:</td>
        @{ 
            string SalesmanCode = Model.SalesmanCode ?? "";
            if(SalesmanCode.Length > 0)
            {
                SalesmanCode = SalesmanCode.Replace(",", ", ");
            }
        }
        <td>@SalesmanCode</td>
    </tr>
    <tr>
        <td>Name</td>
        <td>@Model.CustomerName</td>
    </tr>
    <tr>
        <td>Mobile</td>
        <td>@Model.Phone1</td>
    </tr>
    <tr>
        <td>Email</td>
        <td>@Model.Email</td>
    </tr>
    <tr></tr>
    @*<tr>
        <td>Password</td>
        <td>@Model.Password</td>
    </tr>*@
    
</table>
 <div class="adj_height" style="height:408px;"></div>
