﻿<div class="top-bar">
    <a href="#toggle-div1" id="user1">Categories</a>
    
    <div id="toggle-div1">
        <div class="pull-left">
            <div class="btn-group" role="tablist">
                <a href="javascript:;" class="btn-primary active">Customers</a>
                <a href="@Url.Action("ManageRepUser", "Company")" class="btn-primary">Reps</a>
                <a href="#" aria-controls="reps" role="tab" data-toggle="tab" class="btn-primary small-btn disabled">Warehouse</a>
                <a data-toggle="modal" data-target="#myModal2" class="btn-primary small-btn disabled">Drivers</a>
                <a href="@Url.Action("NewRequests", "Company")" class="btn-active ">New Requests (<label id="lblRequestCount"></label>)</a>
            </div>
        </div>

        <div class="pull-right">
            <div class="btn-group">
                <a data-toggle="modal" data-target="#import-pantry" class="btn-primary">Import Pantry List</a>
                <a href="javascript:;" onclick="openPartialPage('modalPantryList','_RenamePantryName/7');" class="btn-primary">Rename Pantry List</a>
                <a onclick="getCustomer(0);" href="javascript:;" class="btn-primary small-btn">Add</a>
                <a onclick="getCustomer(1);" href="javascript:;" class="btn-primary small-btn">Edit</a>
                <a href="javascript:;" onclick="deleteCustomer('c');" class="btn-primary  small-btn">Delete</a>
            </div>
        </div>
    </div><div class="clearfix"></div>
</div>
