﻿
@{
    ViewBag.Title = "Dashboard";

    var CustomerTotalOrders = ViewBag.Stats.TodayTotalOrders - ViewBag.Stats.TodayOrdersByReps;
    float CustomerPercentage = 0;
    float RepPercentage = 0;
    float AppCustPerThisMonth = 0;
    float AppCustPerLastMonth = 0;
    long ThisMonthTotalCustomers = (ViewBag.Customers.ThisMonth > 0) ? ViewBag.Customers.ThisMonth : ViewBag.Stats.ThisMonthActiveCustomers;
    long LastMonthTotalCustomers = (ViewBag.Customers.LastMonth > 0) ? ViewBag.Customers.LastMonth : ViewBag.Stats.ThisMonthActiveCustomers;
    if (ViewBag.Stats.TodayTotalOrders > 0)
    {
        CustomerPercentage = ((float)CustomerTotalOrders / (float)ViewBag.Stats.TodayTotalOrders) * 100;
        RepPercentage = ((float)ViewBag.Stats.TodayOrdersByReps / (float)ViewBag.Stats.TodayTotalOrders) * 100;
    }
    if (ViewBag.Stats.ThisMonthActiveCustomers > 0)
    {
        AppCustPerThisMonth = ((float)ViewBag.Stats.ThisMonthAppCustomers / (float)ThisMonthTotalCustomers) * 100;
    }
    if (ViewBag.Stats.LastMonthActiveCustomers > 0)
    {
        AppCustPerLastMonth = ((float)ViewBag.Stats.LastMonthAppCustomers / (float)LastMonthTotalCustomers) * 100;
    }
}

@section scripts{
    <script src="@Url.Content("~/Scripts/manageUsersJS.js")"></script>
    <script src="@Url.Content("~/Scripts/manageOrderJS.js")"></script>
    <script>
        // Change url based on Domain
        var cFormatter = new Intl.NumberFormat('en-AU', {
            style: 'currency',
            currency: 'AUD',
        });
        var dashboardBaseURL = '/';
        if (window.location.href.indexOf('saavi.com') !== -1) {
            dashboardBaseURL = "/Admin/";
        }
        $('.card-table').cardtable();
        $(function () {
            $('.bar-status .bar').each(function () {
                $(this).animate({ width: $(this).attr('data-width') + '%' }, 6000);
            });
            $('.bar-status .counter').each(function () {
                $(this).prop('Counter', 0).animate({
                    Counter: $(this).text()
                },
                    {
                        duration: 6000,
                        easing: 'swing',
                        step: function (now) {
                            $(this).text(Math.ceil(now) + '%');
                        }
                    });
            });

            startLoading();
            initScrollbar('divOrderList', 1, 'd');
            searchLatestProduct();
            setTimeout(function () {
                stopLoading();
            }, 200);
        });

    </script>
    <style>

        tbody {
            display: block;
            height: 212px;
            overflow-y: auto;
            overflow-x: hidden;
        }

        thead, tbody tr {
            display: table;
            width: 100%;
            table-layout: fixed; /* even columns width , fix width of table too*/
        }

        thead {
            width: calc( 100% - 8px ) /* scrollbar is average 1em/16px width, remove it from thead width */
        }

        table {
            width: 100%;
        }

        /* width */
        tbody::-webkit-scrollbar {
            width: 8px;
        }

        /* Track */
        tbody::-webkit-scrollbar-track {
            background: #eee;
            background-color: rgba(0,0,0,.1);
            box-shadow: inset 1px 0 1px rgba(0,0,0,.1);
            border-radius: 16px;
        }

        /* Handle */
        tbody::-webkit-scrollbar-thumb {
            background: #333;
            border-radius: 16px;
        }

            /* Handle on hover */
            /*tbody::-webkit-scrollbar-thumb:hover {
                background: #555;
            }*/
    </style>

    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">

        // Load the Visualization API and the corechart package.
        google.charts.load('current', { 'packages': ['corechart'] });

        // Set a callback to run when the Google Visualization API is loaded.
        google.charts.setOnLoadCallback(drawChart);

        function drawChart() {
            loadTop5Categories(document.getElementById('topCats'));
            loadTop5Products(document.getElementById('topProds'));
            loadSalesDistribution(document.getElementById('topSales'));
            loadTop5Customers(document.getElementById('top5Cust'));
            // Create the data table.
            @*var data = new google.visualization.DataTable();
            //data.addColumn('string', 'Rank');
            data.addColumn('string', 'Customer');
            data.addColumn('number', 'Values');

            var dataSales = new google.visualization.DataTable();
            dataSales.addColumn('string', 'Day');
            dataSales.addColumn('number', 'Value');

            var dataProds = new google.visualization.DataTable();
            dataProds.addColumn('string', 'Product');
            dataProds.addColumn('number', 'SaleValue');

            var dataCats = new google.visualization.DataTable();
            dataCats.addColumn('string', 'Category');
            dataCats.addColumn('number', 'SaleValue');

            var salesArray = @Html.Raw(Json.Encode(@ViewBag.Stats.ThisWeekSalesData));
            var salesArr = [];
            for (var i = 0; i < salesArray.length; i++) {
                salesArr.push([salesArray[i].OrderDay, Math.round(salesArray[i].OrderTotalValue * 100) / 100]);
            }
            dataSales.addRows(salesArr);

            var array = @Html.Raw(Json.Encode(@ViewBag.TopCustomers));
            var custArr = [];
            for (var i = 0; i < array.length; i++) {
                custArr.push([array[i].CustomerName, Math.round(array[i].OrdersValue * 100) / 100]);
            }
            data.addRows(custArr);

            var prodsArray = @Html.Raw(Json.Encode(@ViewBag.TopProducts));
            var prodsArr = [];
            for (var i = 0; i < prodsArray.length; i++) {
                prodsArr.push([prodsArray[i].ProductCode + ' - ' + prodsArray[i].ProductName, prodsArray[i].TotalProductUnitsSold]);
            }
            dataProds.addRows(prodsArr);

            var catsArray = @Html.Raw(Json.Encode(@ViewBag.TopCategories));
            var catsArr = [];
            for (var i = 0; i < prodsArray.length; i++) {
                catsArr.push([catsArray[i].CategoryCode + ' - ' + catsArray[i].CategoryName, catsArray[i].TotalProductUnitsSold]);
            }
            dataCats.addRows(catsArr);

            // Set chart options
            var options = {
                'title': '',
                'width': '100%',
                'height': 280,
                'legend': { 'position': 'none' },
                'colors': ['#3abeee'],
                'hAxis': { 'textPosition': 'none' }
            };

            // Instantiate and draw our chart, passing in some options.
            var chartSales = new google.visualization.ColumnChart(document.getElementById('chart_sales'));
            chartSales.draw(dataSales, options);

            var chartProds = new google.visualization.ColumnChart(document.getElementById('chart_prods'));
            chartProds.draw(dataProds, options);

            var chartCustomer = new google.visualization.ColumnChart(document.getElementById('chart_cust'));
            chartCustomer.draw(data, options);

            var chartCats = new google.visualization.ColumnChart(document.getElementById('chart_cats'));
            chartCats.draw(dataCats, options);*@


        }

        $(document).ready(function () {
            

           
        });

        function loadTopCustomers(el) {
            loadingOnElementStart('tblCustomerList');
            var number = el.value;
            if (isNaN(number) || number < 1 || number > 50) {
                number = 10;
            }
            var model = {
                StatsType: 'S',
                'n': number
            }
            $.ajax({
                type: "POST",
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                url: dashboardBaseURL + 'Company/GetTopCustomers',
                data: "{'model':" + JSON.stringify(model) + "}",
                success: function (response) {
                    var data = response.Result;
                    if (data.length > 0) {
                        var html = '';
                        $.each(data, function (key, val) {
                            html += '<tr>' +
                                '<td>' + val.CustomerID + '</td>' +
                                '<td style="text-align: left;">' + val.CustomerName + '</td>' +
                                '<td>' + val.TotalOrders + '</td>' +
                                '<td>' + cFormatter.format(Math.round(val.OrdersValue * 100) / 100) + '</td>' +
                                '</tr>';
                        });

                        $("#tblCustomerList").empty().html(html);
                        setTimeout(function () {
                           //$("#tblCustomerList").mCustomScrollbar("update");
                        }, 200);
                    } else { $("#tblCustomerList").html('No data available.'); }

                    //check all checkbox
                    //checkAll();
                    loadingOnElementStop('tblCustomerList');
                }
            });
        }

        function loadSalesDistribution(el) {
            loadingOnElementStart('chart_sales');
            var statsType = el.value, allowedTypes = ["T", "L"];
            if (allowedTypes.includes(statsType) == false) {
                statsType = "T";
            }
            var model = {
                StatsType: statsType,
            }
            $.ajax({
                type: "POST",
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                url: dashboardBaseURL + 'Company/GetSalesDistribution',
                data: "{'model':" + JSON.stringify(model) + "}",
                success: function (response) {
                    var data = response.Result;
                    if (data.length > 0) {
                        var dataSales = new google.visualization.DataTable();
                        dataSales.addColumn('string', 'Day');
                        dataSales.addColumn('number', 'Sales Value $');
                        dataSales.addColumn({ type: 'string', role: 'annotation' });
                        var salesArr = [
                            ['Sunday', 0, 'S'], ['Monday', 0, 'M'], ['Tuesday', 0, 'T'], ['Wednesday', 0, 'W'], ['Thursday', 0, 'T'], ['Friday', 0, 'F'], ['Saturday', 0, 'S']
                        ];
                        $.each(data, function (key, val) {
                            salesArr[val.OrderDay][1] = Math.round(val.OrderTotalValue * 100) / 100;
                        });

                        dataSales.addRows(salesArr);
                        // Set chart options
                        var options = {
                            'title': '',
                            'width': '100%',
                            'height': 215,
                            'legend': { 'position': 'none' },
                            'colors': ['#3abeee'],
                            'hAxis': { 'textPosition': 'none' }
                        };

                        // Instantiate and draw our chart, passing in some options.
                        var chartSales = new google.visualization.ColumnChart(document.getElementById('chart_sales'));
                        chartSales.draw(dataSales, options);

                    } else { $("#chart_sales").html('No data available.').css({ 'display': 'table-cell', 'vertical-align': 'middle', 'text-align': 'center' }); }

                    //check all checkbox
                    //checkAll();
                    loadingOnElementStop('chart_sales');
                }
            });
        }

        function loadTop5Customers(el) {
            loadingOnElementStart('chart_cust');
            var statsType = el.value, allowedTypes = ["S", "M"];
            if (allowedTypes.includes(statsType) == false) {
                statsType = "S";
            }
            var model = {
                StatsType: statsType,
                'n': 5
            }
            $.ajax({
                type: "POST",
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                url: dashboardBaseURL + 'Company/GetTopCustomers',
                data: "{'model':" + JSON.stringify(model) + "}",
                success: function (response) {
                    var data = response.Result;
                    if (data.length > 0) {
                        var dataCust = new google.visualization.DataTable();
                        dataCust.addColumn('string', 'Customer');
                        if (statsType == 'S') {
                            dataCust.addColumn('number', 'Sales Value $');
                        } else {
                            dataCust.addColumn('number', 'Margin Value $');
                        }

                        var custArr = [];
                        $.each(data, function (key, val) {
                            if (statsType == 'S') {
                                custArr.push([val.CustomerName, Math.round(val.OrdersValue * 100) / 100]);
                            } else {
                                custArr.push([val.CustomerName, Math.round(val.OrderMarginValue * 100) / 100]);
                            }
                        });

                        dataCust.addRows(custArr);
                        // Set chart options
                        var options = {
                            'title': '',
                            'width': '100%',
                            'height': 215,
                            'legend': { 'position': 'none' },
                            'colors': ['#3abeee'],
                            'hAxis': { 'textPosition': 'none' }
                        };

                        // Instantiate and draw our chart, passing in some options.
                        var chart = new google.visualization.ColumnChart(document.getElementById('chart_cust'));
                        chart.draw(dataCust, options);

                    } else { $("#chart_cust").html('No data available.').css({ 'display': 'table-cell', 'vertical-align': 'middle', 'text-align': 'center' }); }

                    //check all checkbox
                    //checkAll();
                    loadingOnElementStop('chart_cust');
                }
            });
        }

        function loadTop5Products(el) {
            loadingOnElementStart('chart_prods');
            var statsType = el.value, allowedTypes = ["S", "M"];
            if (allowedTypes.includes(statsType) == false) {
                statsType = "S";
            }
            var model = {
                StatsType: statsType,
            }
            $.ajax({
                type: "POST",
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                url: dashboardBaseURL + 'Company/GetTopProducts',
                data: "{'model':" + JSON.stringify(model) + "}",
                success: function (response) {
                    var data = response.Result;
                    if (data.length > 0) {
                        var dataProds = new google.visualization.DataTable();
                        dataProds.addColumn('string', 'Product');
                        if (statsType == 'S') {
                            dataProds.addColumn('number', 'Sales Value $');
                        } else {
                            dataProds.addColumn('number', 'Margin Value $');
                        }

                        var prodsArr = [];
                        $.each(data, function (key, val) {
                            if (statsType == 'S') {
                                prodsArr.push([val.ProductCode + ' - ' + val.ProductName, Math.round(val.TotalProductSalesValue*100)/100]);
                            } else {
                                prodsArr.push([val.ProductCode + ' - ' + val.ProductName, Math.round(val.TotalProductMargin * 100)/ 100]);
                            }
                        });

                        dataProds.addRows(prodsArr);
                        // Set chart options
                        var options = {
                            'title': '',
                            'width': '100%',
                            'height': 215,
                            'legend': { 'position': 'none' },
                            'colors': ['#3abeee'],
                            'hAxis': { 'textPosition': 'none' }
                        };

                        // Instantiate and draw our chart, passing in some options.
                        var chart = new google.visualization.ColumnChart(document.getElementById('chart_prods'));
                        chart.draw(dataProds, options);

                    } else { $("#chart_prods").html('No data available.').css({ 'display': 'table-cell', 'vertical-align': 'middle', 'text-align': 'center' }); }

                    //check all checkbox
                    //checkAll();
                    loadingOnElementStop('chart_prods');
                }
            });
        }

        function loadTop5Categories(el) {
            loadingOnElementStart('chart_cats');
            var statsType = el.value, allowedTypes = ["S", "M"];
            if (allowedTypes.includes(statsType) == false) {
                statsType = "S";
            }
            var model = {
                StatsType: statsType,
            }
            $.ajax({
                type: "POST",
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                url: dashboardBaseURL + 'Company/GetTopCategories',
                data: "{'model':" + JSON.stringify(model) + "}",
                success: function (response) {
                    var data = response.Result;
                    if (data.length > 0) {
                        var dataCats = new google.visualization.DataTable();
                        dataCats.addColumn('string', 'Category');
                        if (statsType == 'S') {
                            dataCats.addColumn('number', 'Sales Value $');
                        } else {
                            dataCats.addColumn('number', 'Margin Value $');
                        }

                        var catsArr = [];
                        $.each(data, function (key, val) {
                            if (statsType == 'S') {
                                catsArr.push([val.CategoryCode + ' - ' + val.CategoryName, Math.round(val.TotalCategorySalesValue * 100) / 100]);
                            } else {
                                catsArr.push([val.CategoryCode + ' - ' + val.CategoryName, Math.round(val.TotalCategoryMargin * 100)/100]);
                            }
                        });

                        dataCats.addRows(catsArr);
                        // Set chart options
                        var options = {
                            'title': '',
                            'width': '100%',
                            'height': '215',
                            'legend': { 'position': 'none' },
                            'colors': ['#3abeee'],
                            'hAxis': { 'textPosition': 'none' }
                        };

                        // Instantiate and draw our chart, passing in some options.
                        var chart = new google.visualization.ColumnChart(document.getElementById('chart_cats'));
                        chart.draw(dataCats, options);

                    } else { $("#chart_cats").html('No data available.').css({'display':'table-cell', 'vertical-align': 'middle', 'text-align':'center'}); }

                    //check all checkbox
                    //checkAll();
                    loadingOnElementStop('chart_cats');
                }
            });
        }

        function loadKeyStats(el) {
            loadingOnElementStart('divKeyPerformance');
            var statsType = el.value, allowedTypes = ["S", "M"];
            if (allowedTypes.includes(statsType) == false) {
                statsType = "S";
            }

            var model = {
                StatsType: statsType,
            }
            $.ajax({
                type: "POST",
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                url: dashboardBaseURL + 'Order/GetOrderStats',
                data: "{'model':" + JSON.stringify(model) + "}",
                success: function (response) {
                    var data = response.Result;
                    if (typeof data != "undefined" && data != null) {
                        $('#kpToday').text(cFormatter.format(Math.round(data.TodayTotal * 100) / 100));
                        $('#kpLastWeek').text(cFormatter.format(Math.round(data.SameDayLastWeekTotal*100)/100));
                        $('#kpYesterday').text(cFormatter.format(Math.round(data.YesterdayTotal * 100) / 100));
                        $('#kpMonthToDate').text(cFormatter.format(Math.round(data.ThisMonthTotalValue * 100) / 100));
                    }
                    loadingOnElementStop('divKeyPerformance');
                }
            });
        }

        loadKeyStats(document.getElementById('KeyPerformance'));
        loadTopCustomers(document.getElementById('topCustList'));
    </script>
}
<div class="tab-content">
    <div class="section full-height container-fluid">
        <div class="row full-height">
            <div class="col-md-3 col full-height">
                <div class="flex-column">
                    <div class="well table">
                        <div class="inner">
                            <h2 class="text-uppercase">Key Performance Indicators</h2>
                            <select id="KeyPerformance" name="KeyPerformance" onchange="loadKeyStats(this);">
                                <option value="S">Total Sales</option>
                                <option value="M">Total Margins</option>
                            </select>
                            <div class="price-section" id="divKeyPerformance">
                                <div class="price-left">
                                    <p class="small">Today</p>
                                    <p class="medium blue"><strong><span id="kpToday">@string.Format("{0:0.00}", ViewBag.Stats.TodayOrdersTotal)</span></strong></p>
                                </div>
                                <div class="price-left">
                                    <p class="small">Same Day Last Week</p>
                                    <p class="medium blue"><span id="kpLastWeek">@string.Format("{0:0.00}", ViewBag.Stats.SameDayLastWeekOrdersTotal)</span></p>
                                </div>
                                <div class="price-left">
                                    <p class="small">Yesterday</p>
                                    <p class="medium blue"><span id="kpYesterday">@string.Format("{0:0.00}", ViewBag.Stats.YesterdayOrdersTotal)</span></p>
                                </div>
                                <div class="price-left">
                                    <p class="small">Month To Date</p>
                                    <p class=" medium blue"><span id="kpMonthToDate">@string.Format("{0:0.00}", ViewBag.Stats.ThisMonthTotalOrderValue)</span></p>
                                </div>
                                <div class="clearfix"></div>
                            </div>

                            <div class="price-section">
                                <div class="price-left">
                                    <p class="small">Average Order Value</p>
                                    <p class="medium blue"><span>@string.Format("{0:C}", ViewBag.Stats.TodayAverageValue)</span></p>
                                </div>
                                <div class="price-left">
                                    <p class="small">Average Order Margin</p>
                                    <p class="medium blue"><span>@string.Format("{0:C}", ViewBag.Stats.TodayAverageMargin)</span></p>
                                </div>
                                <div class="price-left33">
                                    <p class="small">Yesterday</p>
                                    <p class="medium blue"><span>@string.Format("{0:C}", ViewBag.Stats.YesterdayAverageValue)</span></p>
                                </div>
                                <div class="price-left33">
                                    <p class="small">Customers</p>
                                    <p class="medium blue">
                                        <span>@string.Format("{0:0}", ViewBag.Stats.TodayTotalOrders - ViewBag.Stats.TodayOrdersByReps)</span> <span class="small">(@string.Format("{0:0.0}", CustomerPercentage)%)</span>
                                    </p>
                                </div>
                                <div class="price-left33">
                                    <p class="small">Sale Reps</p>
                                    <p class=" medium blue"><span>@string.Format("{0:0}", ViewBag.Stats.TodayOrdersByReps)</span><span class="small">(@string.Format("{0:0.0}", RepPercentage)%)</span></p>
                                </div><div class="clearfix"></div>
                            </div>

                            <div class="price-section">
                                <div class="price-left" style="width:66%;">
                                    <h2 class="text-uppercase">Number Of Orders</h2>
                                </div>
                                <div class="price-left33">
                                    <p>
                                        <span class="">Today</span>
                                        <span class="medium blue" style="font-size: 20px;line-height: 1;margin-left: 5px;"><strong>@string.Format("{0:0}", ViewBag.Stats.TodayTotalOrders)</strong></span>
                                    </p>
                                </div>
                                <div class="price-left33">
                                    <p class="medium mcenter blue"><span>@string.Format("{0:0}", ViewBag.Stats.YesterdayTotalOrders)</span></p>
                                    <p class="small mcenter">Yesterday</p>
                                </div>
                                <div class="price-left33">
                                    <p class="medium mcenter blue"><span>@string.Format("{0:0}", ViewBag.Stats.SameDayLastWeekTotalOrders)</span></p>
                                    <p class="small mcenter">Same Day Last Week</p>
                                </div>
                                <div class="price-left33">
                                    <p class="medium mcenter blue"><span>@string.Format("{0:0}", ViewBag.Stats.ThisMonthTotalOrders)</span></p>
                                    <p class="small mcenter">Month To Date</p>
                                </div>
                                <div class="clearfix"></div>
                            </div>

                            <div class="price-section">
                                <div style="width:100%; font-weight:700;">
                                    <h2 class="text-uppercase">Saavi Performance</h2>
                                </div>
                                <div style="width:100%; font-weight:700;"><p class="small">Current Month</p></div>
                                <div class="price-left33">
                                    <p class="medium mcenter blue"><span>@string.Format("{0:0}", ViewBag.Stats.ThisMonthAppCustomers)</span></p>
                                    <p class="small mcenter">App Users</p>
                                </div>
                                <div class="price-left33">
                                    <p class="medium mcenter blue"><span>@string.Format("{0:0}", ThisMonthTotalCustomers)</span></p>
                                    <p class="small mcenter">Total Customers</p>
                                </div>
                                <div class="price-left33">
                                    <p class="medium mcenter blue"><span>@string.Format("{0:0}", AppCustPerThisMonth)</span>%</p>
                                    <p class="small mcenter">Penetration</p>
                                </div>
                                <div class="price-left33 clearfix" style="width:100%; height:20px;"></div>
                                <div class="price-left33 clearfix" style="width:100%; font-weight:700;">
                                    <p class="small">Last Month</p>
                                </div>
                                <div class="price-left33">
                                    <p class="medium mcenter blue"><span>@string.Format("{0:0}", ViewBag.Stats.LastMonthAppCustomers)</span></p>
                                    <p class="small mcenter">App Users</p>
                                </div>
                                <div class="price-left33">
                                    <p class="medium mcenter blue"><span>@string.Format("{0:0}", LastMonthTotalCustomers)</span></p>
                                    <p class="small mcenter">Total Customers</p>
                                </div>
                                <div class="price-left33">
                                    <p class="medium mcenter blue"><span>@string.Format("{0:0}", AppCustPerLastMonth)</span>%</p>
                                    <p class="small mcenter">Penetration</p>
                                </div>
                                <div class="clearfix"></div>
                            </div>



                            @*<div class="bar-status">
                                    <div class="status">
                                        <p class="counter">50%</p>
                                        <p><span class="small">US$</span>44<span class="small">k</span></p>
                                    </div>

                                    <div class="line line2">
                                        <div class="bar" data-width="50"> </div>
                                    </div>
                                </div>*@
                        </div>
                    </div>
                </div>

                @*<div class="row">
                        <div class="col-sm-6 col">
                            <div class="flex-column">
                                <div class="well table">
                                    <div class="inner text-center bdr-radius">
                                        <p>Average Order <br>Value (last 30 days)</p>
                                        <p class="price"><strong>US$ <span class="blue">325</span></strong></p>
                                        <img src="~/content/images/graph.jpg" class="img">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col">
                            <div class="flex-column">
                                <div class="well table">
                                    <div class="inner text-center bdr-radius">
                                        <p>Cost of Acquiring <br>Customer (CAC)</p>
                                        <p class="price"><strong>US$ <span class="blue">225</span></strong></p>
                                        <p class="price-selection"><span></span>US$ 13</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>*@
            </div>

            <div class="col-md-5 col full-height">
                <div class="flex-column">
                    <div class="well table history-col">
                        <div class="inner">
                            <h2 class="text-uppercase">
                                Customer Performance
                            </h2>
                            <select id="topCustList" onchange="loadTopCustomers(this);">
                                <option value="10">Top 10</option>
                                <option value="20">Top 20</option>
                                <option value="50">Top 50</option>
                            </select>
                            <div id="divTopCustList" class="outer-table">
 
                                    <table class="order-table card-table">
                                        <thead class="dataTables_scrollHead">
                                            <tr>
                                                <th>Customer ID</th>
                                                <th style="text-align:left;">Customer Name</th>
                                                <th>Total Orders</th>
                                                @*<th>Post Code</th>*@
                                                <th>Total Order Value</th>
                                                @*<th></th>*@
                                            </tr>
                                        </thead>
                                        <tbody id="tblCustomerList">
                                            @*@foreach (var item in ViewBag.TopCustomers)
                    {
                        <tr>
                            <td><div>@item.CustomerID</div></td>
                            <td>@item.CustomerName</td>
                            <td>@item.TotalOrders</td>
                            @*<td>@item.PostCode </td>
                                                                <td style="text-align:center">$@string.Format("{0:0.00}", item.OrdersValue)</td>
                                                                @*<td>
                                                                        <a href="javascript:;" class="btn-secondary" data-id="@item.OrderID" data-type="xml" onclick="downloadOrder(this);">Download</a>
                                                                    </td>*
                                                            </tr>
                                                        }*@
                                        </tbody>
                                    </table>

                                    @*<ul id="liProduct" class="mCustomScrollbar light customer-list" data-mcs-theme="minimal-dark"></ul>*@
                                </div>
                        </div>
                    </div>
                    <div class="well table history-col">
                        <div class="inner">
                            <h2>Order history</h2>
                            <div>
                                @*<div class="pull-left btn-group">
                                        <a href="#" class="btn-secondary">Download</a>
                                    </div>*@
                                @*<div class="pull-left">
                                        <input id="hdnAscDesc" type="hidden" value="" />
                                        <form class="radio-field pading-bottom-10">
                                            <fieldset>
                                                <input type="radio" id="rbByDate" name="radioSearch" value="Date" onchange="GetAllOrders(0, 'd');">
                                                <label for="rbByDate">Open Orders(By Date)</label>
                                            </fieldset>
                                            <fieldset>
                                                <input type="radio" id="rbByCustomer" name="radioSearch" value="Customer" onchange="GetAllOrders(0, 'd');">
                                                <label for="rbByCustomer">Open Orders(By Customers)</label>
                                            </fieldset>
                                            <fieldset>
                                                <input type="radio" id="rbByOrder" name="radioSearch" value="Order" checked="checked" onchange="GetAllOrders(0, 'd');">
                                                <label for="rbByOrder">All Orders</label>
                                            </fieldset>
                                        </form>
                                    </div>
                                    <div class="clearfix">
                                    </div>*@
                                <div id="" class="outer-table">
                                    <table class="order-table card-table">
                                        <thead>
                                            <tr>
                                                <th>Order no</th>
                                                <th>Order Date</th>
                                                <th style="text-align: left;">Customer</th>
                                                @*<th>Post Code</th>*@
                                                <th>Value</th>
                                                <th>Orders</th>
                                            </tr>
                                        </thead>
                                        <tbody id="tblbodyList">
                                            @foreach (var item in ViewBag.Orders)
                                            {
                                                <tr>
                                                    <td><div>@item.OrderID</div></td>
                                                    <td>@string.Format("{0:dd-MM-yyyy}", item.OrderDate)</td>
                                                    <td style="text-align: left;">@item.CustomerName</td>
                                                    @*<td>@item.PostCode </td>*@
                                                    <td style="text-align:center">@string.Format("{0:C}", item.Price)</td>
                                                    <td>
                                                        <a href="javascript:;" class="btn-secondary" data-id="@item.OrderID" data-type="xml" onclick="downloadOrder(this);">Download</a>
                                                    </td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <div class="col-md-2 col full-height Dashboard">
                <div class="flex-column" style="min-height:310px;">
                    <div class="well table">
                        <div class="inner">
                            <h2 class="text-uppercase">
                                Sales Distribution
                            </h2>
                                <select id="topSales" onchange="loadSalesDistribution(this);">
                                    <option value="T">This Week</option>
                                    <option value="L">Last Week</option>
                                </select>
                            
                            <div id="chart_sales"></div>
                        </div>
                    </div>
                </div>
                <div class="flex-column"style="min-height:310px;">
                    <div class="well table">
                        <div class="inner">
                            <h2 class="text-uppercase">Top 5 Products </h2><select id="topProds" onchange="loadTop5Products(this);"><option value="S">By Sales</option><option value="M">By Margins</option></select>
                            <div id="chart_prods"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-2 col full-height Dashboard">
                <div class="flex-column"style="min-height:310px;">
                    <div class="well table">
                        <div class="inner">
                            <h2 class="text-uppercase">Top 5 Customers </h2><select id="top5Cust" onchange="loadTop5Customers(this);"><option value="S">By Sales</option><option value="M">By Margins</option></select>
                            <div id="chart_cust"></div>
                        </div>
                    </div>
                </div>
                <div class="flex-column"style="min-height:310px;">
                    <div class="well table">
                        <div class="inner">
                            <h2 class="text-uppercase">Top 5 Categories </h2><select id="topCats" onchange="loadTop5Categories(this);"><option value="S">By Sales</option><option value="M">By Margins</option></select>
                            <div id="chart_cats"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
