﻿
@{
    ViewBag.Title = "ManageUsers";
}

@section scripts{
    <script src="@Url.Content("~/Scripts/globalFunctions.js")"></script>
    <script src="@Url.Content("~/Scripts/manageUsersJS.js")"></script>
    <script>
        initScrollbar('liCustomers', 0);
        bindCountry();
        $('#divCustomerDetail').load(URL + '_CustomerDetail/0');
        // Initial customer load
        var li = $("#liCustomers li").eq(0).find('a');
        getCustomerDetails(li);
        GetNewRequests(0);
        $("#btnCustSearch").attr('onclick', 'searchUsers("");');
    </script>
}

<div class="top-bar">
    <a href="#toggle-div1" id="user1">Categories</a>

    <div id="toggle-div1">
        <div class="pull-left">
            <div class="btn-group" role="tablist">
                <a href="javascript:;" class="btn-primary active">Customers</a>
                <a href="@Url.Action("ManageRepUser", "Company")" class="btn-primary">Reps</a>
                <a href="#" aria-controls="reps" role="tab" data-toggle="tab" class="btn-primary small-btn disabled">Warehouse</a>
                <a data-toggle="modal" data-target="#myModal2" class="btn-primary small-btn disabled">Drivers</a>
                <a href="@Url.Action("NewRequests", "Company")" class="btn-active ">New Requests (<label id="lblRequestCount"></label>)</a>
            </div>
        </div>
        <div class="pull-right">
            <div class="btn-group">
              <!--<a href="javascript:;" class="btn-primary">Import Pantry List</a>
                <a href="javascript:;" onclick="openPartialPage('modalPantryList','_RenamePantryName/7');" class="btn-primary">Rename Pantry List</a>-->  
                <a href="#" class="btn-primary small-btn disabled">Import Pantry List</a>
                <a href="#" class="btn-primary small-btn disabled">Rename Pantry List</a>
                <!--<a onclick="getCustomer(0);" href="javascript:;" class="btn-primary small-btn">Add</a>-->
                <a href="#" " class="btn-primary  small-btn disabled">Delete</a>
                <a onclick="getCustomer(1);" href="javascript:;" class="btn-primary small-btn">Edit</a>
               <!--<a href="javascript:;" onclick="deleteCustomer();" class="btn-primary  small-btn">Delete</a>-->
                
            </div>
        </div>
    </div><div class="clearfix"></div>
</div>

   

<div class="tab-content">
    <div class="section full-height">
        <div class="row full-height">
            <div class="col-md-3 col full-height">
                <div class="flex-column full-height">
                    <div class="well table">
                        <h2 class="text-uppercase">Customers</h2>
                        <div id="divCustomers">
                            <ul id="liCustomers" class="left-nav light customer-list">
                                @foreach (var item in ViewBag.Customers)
                                {
                                    <li><a href="javascript:;" data-id="@item.CustomerID" onclick="getCustomerDetails(this);">@item.CustomerName</a></li>
                                }
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-9 col full-height" id="divCustMain">
                <div class="flex-column full-height">
                    <div class="well table customer-col" id="divCustomerDetail">

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="modalCustomer">

</div>
<div id="modalPantryList">

</div>


