﻿
@{
    ViewBag.Title = "ManageRepUser";
}

@section scripts{
    <script src="@Url.Content("~/Scripts/globalFunctions.js")"></script>
    <script src="@Url.Content("~/Scripts/manageUsersJS.js")"></script>
    <script>
        initScrollbar('liCustomers', 2);
        bindCountry();
        $('#divCustomerDetail').load(URL + '_RepUserDetail/0');
        // Initial customer load
        var li = $("#liCustomers li").eq(0).find('a');
        getRepCustomerDetails(li);
        $("#btnCustSearch").attr('onclick','searchUsers("rep");');
    </script>

}
<div class="top-bar">
    <div class="pull-left">
        <div class="btn-group" role="tablist">
            <a href="@Url.Action("ManageUsers", "Company")" class="btn-primary">Customers</a>
            <a href="javascript:;" class="btn-primary active">Reps</a>
            <a href="#" aria-controls="reps" role="tab" data-toggle="tab" class="btn-primary disabled">Warehouse</a>

            <a href="#" aria-controls="reps" role="tab" data-toggle="tab" class="btn-primary disabled">Drivers</a>
            <!--<a href="#" aria-controls="reps" role="tab" data-toggle="tab" class="btn-active">New Requests (5)</a>-->
        </div>
    </div>

    <div class="pull-right">
        <div class="btn-group">
            <a onclick="getRepCustomer(0);" href="javascript:;" class="btn-primary">Add</a>
            <a onclick="getRepCustomer(1);" href="javascript:;" class="btn-primary">Edit</a>
            <a href="javascript:;" onclick="deleteCustomer('r');" class="btn-primary">Delete</a>
        </div>
    </div>

    <div class="clearfix"></div>
</div>

<div class="tab-content">
    <div class="section full-height">
        <div class="row full-height">
            <div class="col-md-3 col full-height">
                <div class="flex-column full-height">
                    <div class="well table">
                        <h2>SALES REPS</h2>
                        <div id="divCustomers">
                            <ul id="liCustomers" class="left-nav light customer-list">
                                @foreach (var item in ViewBag.Customers)
                                {
                                    <li><a href="javascript:;" data-id="@item.CustomerID" onclick="getRepCustomerDetails(this);">@item.CustomerName</a></li>
                                }
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-9 col full-height" id="divCustMain">
                <div class="flex-column full-height">
                    <div class="well table" id="divCustomerDetail">
                       
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="modalCustomer">

</div>