﻿@{
    ViewBag.Title = "NewRequests";
}
@section scripts{
    <script src="@Url.Content("~/Scripts/globalFunctions.js")"></script>
    <script src="@Url.Content("~/Scripts/manageUsersJS.js")"></script>
    <script src="@Url.Content("~/Scripts/moment.js")"></script>
    <script>
        $(function () {
            GetNewRequests(1);
            initScrollbar('liCustomers', 1);
            initScrollbar('divRequestList', 2);
            //initScrollbar2(2);
        });
    </script>
}
<div class="tab-content">
    <div class="section full-height">
        <div class="row full-height">
            <div class="col-md-12 col full-height">
                <div class="flex-column full-height">
                    <div class="well table">
                        <div class="clearfix"></div>
                        <div id="content-2" class="" data-mcs-theme="minimal-dark">
                            <div id="divMsg"></div>
                            <div class="left-nav" id="divRequestList">
                                <div id="divNewRequest"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="activateuserModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><img src="../Content/images/close.png"></button>
            </div>
            <div class="modal-body login margin">
                <h2>ACTIVATE NEW USER </h2>
                <div id="divPopupMsg"></div>
                <div class="box-border">
                    <h5>NEW USER REQUEST</h5>
                    <span class="hidden" id="hdnUserID"></span>
                    <span class="hidden" id="hdnCustomerID"></span>

                    <label class="text-left"><b>Business Name :</b><span id="lblCustomerName">Abc</span></label>
                    <label class="text-left"><b>Contact Number :</b><span id="lblPhone">Abc</span></label>
                    <label class="text-left"><b>Contact Name :</b>;<span id="lblContactName">Abc</span></label>
                    <label class="text-left"><b>Email Address:</b> <span id="lblEmail">Abc</span></label>
                    <label class="text-left"><b>ABN: </b><span id="lblAbn">Abc</span></label>
                    <label class="text-left"><b>Street Address: </b><span id="lblStreet">Abc</span></label>
                    <label class="text-left"><b>Street Address 2: </b><span id="lblStreet2">Abc</span></label>
                    <label class="text-left"><b>Suburb: </b><span id="lblSuburb">Abc</span></label>
                    <label class="text-left"><b>Postcode: </b><span id="lblpostcode">Abc</span></label>
                    <div class="clearfix"></div>
                </div>
                <div class="box-border">
                    <h5>LINK USER REQUEST TO EXISTING ACCOUNT</h5>
                    <div class="section full-height">
                        <div class="row full-height">
                            <div class="col-md-6 col full-height" style="text-align:left;">
                                <div class="flex-column full-height">
                                    <div class="well table">
                                        <h6 class="text-uppercase">Existing Customers</h6>
                                        <div id="divCustomers">
                                            <ul id="liCustomers" class="left-nav light customer-list">
                                                @foreach (var item in ViewBag.Customers)
                                                {
                                                    <li><a href="javascript:;" data-id="@item.CustomerID" onclick="setCustomerID(this);">@item.CustomerName</a></li>
                                                }
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col full-height" id="divCustMain">
                                <fieldset class="row">
                                    <div class="col-sm-12">
                                        <label style="text-align:left;">Search</label>
                                    </div>
                                    <div class="col-sm-12">
                                        <input id="txtSearchKeyword" type="text" placeholder="Search By Customer" value="">
                                    </div>
                                </fieldset>
                                <div class="row col-sm-12" style="float:right;">
                                    <input id="btnSearch" type="submit" onclick="getCustomersPaging(1,0);" value="Search" class="btn-primary">
                                </div>
                                <div style="bottom:0;margin-top:92%;float:right;">
                                    <input type="submit" class="btn-primary" value="Link User" onclick="linkUserToCustomer();" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </div>
</div>