﻿@model DataModel.Model.ProductCategoriesMaster

<script>
    $(function () {
        $("#managesubcategoryModal").modal('show');
        validateForm('formSubCategoryAU');
        $("#MCategoryId").val($("#hdnCatID").val());
        $('#chkIsSpecial').after('<label for="chkIsSpecial"></label>');
        if ($("#IsSpecialCategory").val().toString().toLowerCase() == "true") {
            $("#chkIsSpecial").attr('checked', true);
        }
        $("#chkIsSpecial").on('change', function () {
            $("#IsSpecialCategory").val($("#chkIsSpecial").prop('checked'));
        });
    });
    function SuccessMethod(res) {
        if (res == "Success") {
            if (@Model.CategoryID>0) {
                window.location.reload();
            } else {
                window.location.reload();
            }
        } else { growlNotification(res, 'warning', 3000); }
    }
</script>

<div class="modal fade" id="managesubcategoryModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><img src="~/Content/images/close.png"></button>
            </div>
            <div class="modal-body login">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <i class="fa fa-times" aria-hidden="true"></i>
                    </button>
                </div>
                <h2 class="text-center"><strong>Manage Sub-Category</strong></h2>
                <div id="divPopupMsg"></div>
                @using (Ajax.BeginForm("ManageSubCategory", "Product", new AjaxOptions
                {
                    HttpMethod = "POST",
                    OnSuccess = "SuccessMethod",
                    OnBegin = "startLoading",
                    OnComplete = "stopLoading"
                }, new { id = "formSubCategoryAU", @class = "row" }))
                {
                    @Html.HiddenFor(m => m.MCategoryId)
                    @Html.HiddenFor(m => m.CategoryID)
                    @Html.HiddenFor(m => m.IsSpecialCategory)
                    <fieldset class="">
                        <div class="col-sm-12">
                            <label>Sub-Category Name:<sup>*</sup></label>

                            @Html.TextBoxFor(m => m.CategoryName, new { required = "required", maxlength = "50" })
                        </div>
                    </fieldset>
                    <fieldset class="mrgin-disply mrgin-lft special">

                        <label for="chkIsSpecial">Is Special:</label>

                        <div class="checkbox-field flt-lt">
                            <input type="checkbox" id="chkIsSpecial" />
                        </div>
                    </fieldset>
                    <fieldset class="mrgin-disply mrgin-lft">
                        <label>Sort Order:</label>
                        @Html.TextBoxFor(m => m.CategoryCode, new { required = "required", maxlength = "2", type = "number", min = "0", style = "width:50px;" })
                    </fieldset>
                    <fieldset class="mrgin-disply">

                        <div class="col-sm-12 text-center mrgin-disply">
                            <input type="submit" value="Save" class="btn-primary" />
                        </div>
                    </fieldset>
                }
            </div>
        </div>
    </div>
</div>