﻿@model DataModel.Model.MainCategoriesMaster

<script>
    $(function () {
        $("#managecategoryModal").modal('show');
        validateForm('formCategoryAU');
    });
    function SuccessMethod(res) {
        if (res == "Success") {
            if (@Model.MCategoryId>0) {
                window.location.reload();
            } else {
                window.location.reload();
            }
        } else {
            growlNotification(res, 'warning', 3000);
        }
    }
</script>

<div class="modal fade" id="managecategoryModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><img src="~/Content/images/close.png"></button>
            </div>
            <div class="modal-body login">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <i class="fa fa-times" aria-hidden="true"></i>
                    </button>
                </div>
                <h2><strong>Manage Category</strong></h2>
                <div id="divPopupMsg"></div>
                @using (Ajax.BeginForm("ManageCategory", "Product", new AjaxOptions
    {
        HttpMethod = "POST",
        OnSuccess = "SuccessMethod",
        OnBegin = "startLoading",
        OnComplete = "stopLoading"
    }, new { id = "formCategoryAU", @class = "row" }))
    {
            @Html.HiddenFor(m => m.MCategoryId)
            <fieldset class="row">
                <div class="col-sm-12">
                    <label>Category Name:<sup>*</sup></label>

                    @Html.TextBoxFor(m => m.MCategoryName, new { required = "required", maxlength = "150" })
                </div>
            </fieldset>
            <fieldset class="row">

                <div class="col-sm-12 text-center bottm-btn_pding">
                    <input type="submit" value="Save" class="btn-primary" />
                </div>
            </fieldset>
}
            </div>
        </div>
    </div>
</div>