﻿@section scripts{
    <script src="@Url.Content("~/Scripts/manageProductsJS.js")"></script>
    <script>
        $(function () {
            $("#txtSearch").attr('placeholder', 'Search By Product');
            $("#btnSearch").attr('onclick', 'getAllProducts(0,"l");');
            getAllProducts(0, 'l');
            getAllNonProducts('l');
            $('#ddlProducts').bind('scroll', function () {
                if ($(this).scrollTop() + $(this).innerHeight() >= $(this)[0].scrollHeight) {
                    getAllProducts(1, 'l');
                }
            })
            //$("option").on('click', function () {
            //    $(this).attr('style','background:grey')
            //});
        });
    </script>
}

<div class="tab-content">
    <div class="section full-height">
        <div class="row full-height">
            <div class="col-md-6 col full-height">
                <div class="flex-column full-height">
                    <div class="well table" style="overflow:hidden">
                        <div class="tab-content full-height">
                            <h2>Products</h2>
                            <div id="divProduct" class=" ">
                                <select id="ddlProducts" name="ddlProdcts" multiple="multiple" style="height:395px"></select>
                            </div>
                        </div>
                        </br>
                        </br>
                    </div>
                    <div class="text-right btn-bottom">
                    </div>
                </div>
            </div>
            <div class="col-md-6 col full-height">
                <div class="flex-column full-height">
                    <div class="well table " style="overflow:hidden">
                        <div class="tab-content full-height">
                            <h2>What's New</h2>
                            <div id="divNonProduct" class=" ">
                                <select id="ddlNonProducts" name="ddlNonProducts" multiple="multiple" style="height:395px"></select>
                            </div>
                        </div>
                        <div class="btn-bottom">
                            <a href="javascript:;" onclick="addtoSuggestiveList();" class="btn-secondary">Add</a>
                            <a href="javascript:;" onclick="deletefromSuggestiveList();" class="btn-secondary">Delete</a>
                            <a href="javascript:;" onclick="manageSuggestiveProduct('l');" class="btn-secondary">Save</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>