﻿@{
    ViewBag.Title = "Products";
}
@section scripts{
    <script src="@Url.Content("~/Scripts/manageProductsJS.js")"></script>

    <script>
        $(function () {
            var li = $("#collapse-div0 li").eq(0).find('a').data('id');
            getProductByCatID(li, 0);
            initScrollbar('liProducts', 2);
            initScrollbar('liCategories', 1);
            $('#hdnCatID').val($('a[data-divid="#collapse-div0"]').data('id'));
            $('a[data-divid="#collapse-div0"]').addClass('active');
            $("#btnSearch").attr('onclick', 'searchCategories();');
        });
    </script>
}


<div class="top-bar">
    <a href="#toggle-div1" id="user1">Categories</a>

    <div id="toggle-div1">
        <div class="pull-left">
            <div class="btn-group" role="tablist">
                <a class="btn-primary large active" href="javascript:;" onclick="openPartialPage('modalManageCategory', '_ManageCategory/0')">Add New Category</a>
                <a class="btn-primary large" href="javascript:;" onclick="editCategory(0);">Edit Category</a>
                <a class="btn-primary large" href="javascript:;" onclick="deleteCategory($('#hdnCatID').val());">Delete</a>
                <a class="btn-primary large" href="javascript:;" onclick="openPartialPage('modalManageSubCategory', '_ManageSubCategory/0')">Add New Sub-Category</a>
                <a class="btn-primary large" href="javascript:;" onclick="editCategory(1);">Manage Sub-Category</a>
                <a class="btn-primary large" href="javascript:;" onclick="deleteSubCategory($('#lblCategoryID').val());">Delete Sub-Category</a>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
</div>

<div class="tab-content">
    <div class="section full-height">
        <div class="row full-height">
            <div id="divMsg"></div>
            <div class="col-md-3 col full-height">
                <div class="flex-column full-height">
                    <div class="well table">
                        <h2>Categories</h2>
                        <div id="divCategories" class="">
                            <input id="hdnCatID" type="hidden" />
                            <ul id="liCategories" class="left-nav light homepage">
                                @{
                                    int i = 0;
                                    foreach (var item in ViewBag.Catogories)
                                    {
                                        <li class="outer">
                                            <a onclick="getCatID(this);" href="javascript:;" data-divid="#collapse-div@(i)" class='@(item.SubCategoryList.Count>0?"head":"")' data-id="@item.CategoryID">@item.CategoryName</a>
                                            <ul id="collapse-div@(i)" class="collapse-div" style="display:none;">
                                                @foreach (var subItem in item.SubCategoryList)
                                                {
                                                    <li role="presentation" class="">
                                                        <a href="javascript:;" data-id="@subItem.CategoryID" onclick="getProductByCatID(@subItem.CategoryID,0);">
                                                            @subItem.CategoryName
                                                        </a>
                                                    </li>
                                                }
                                            </ul>
                                        </li>
                                        i++;
                                    }
                                }
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-9 col full-height">
                <div class="row full-height">
                    <div class="col-md-5 col full-height">
                        <div class="flex-column full-height">
                            <div class="well table">
                                <div class="tab-content full-height">
                                    <div class="tab-pane active" role="tabpanel" id="1">
                                        <h2>Products in Category</h2>
                                        <input type="hidden" id="lblCategoryID" />
                                        <div id="divProduct">
                                            <ul id="liProducts" class="left-nav light homepage"></ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-7 col full-height">
                        <div class="flex-column full-height">
                            <div class="well table pale-blue">
                                <div class="tab-content full-height">
                                    <div class="tab-pane active" role="tabpanel" id="11">
                                        <h2>Settings</h2>
                                        <div id="divProductDetail">
                                            <table class="table-space">
                                                <tr>
                                                    <td>Item Code:</td>
                                                    <td><span id="lblCode"></span></td>
                                                </tr>
                                                <tr>
                                                    <td>Item:</td>
                                                    <td><span id="lblName"></span></td>
                                                </tr>
                                                <tr>
                                                    <td>Price:</td>
                                                    <td><span id="lblPrice"></span></td>
                                                </tr>
                                                <tr>
                                                    <td>Filter:</td>
                                                    <td><span id="lblFilterName"></span></td>
                                                </tr>
                                                <tr>
                                                    <td>Availability:</td>
                                                    <td><span id="lblAvailability"></span></td>
                                                </tr>
                                                <tr>
                                                    <td>Created Date:</td>
                                                    <td><span id="lblCreatedDate"></span></td>
                                                </tr>
                                                <tr>
                                                    <td>Modified Date:</td>
                                                    <td><span id="lblModifiedDate"></span></td>
                                                </tr>
                                                <tr>
                                                    <td valign="top">Image:</td>
                                                    <td><div id="divProductThumbimg" class=""><img data-target="#myCarousel" data-slide-to="0" src="https://devsaavi5.saavi.com.au/Admin/content/uploads/products/thumb_" class="img-thumbnail" alt=""></div></td>
                                                </tr>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="modalManageCategory"></div>
<div id="modalManageSubCategory"></div>
