﻿@model DataModel.BO.GetAllProductBO
@{
    /**/

    int imageCnt = 0;
    if (Model.ImageList != null)
    {
        imageCnt = Model.ImageList.Count;
    }

}
@section scripts{
    <script src="@Url.Content("~/content/ckeditor/ckeditor.js")"></script>
    <script src="@Url.Content("~/Scripts/globalFunctions.js")"></script>
    <script src="@Url.Content("~/Scripts/manageProductsJS.js")"></script>

    <script>
        $(function () {
            startLoading();
            CKEDITOR.config.height = '150px';
            CKEDITOR.replace("ProductDescription");
            CKEDITOR.replace("ProductFeature");
            CKEDITOR.config.FormatOutput = false;

        validateForm('formProductAU');
        validateForm('formFilterAU');
        validateForm('formUnitAU');
        bindSubCategories();
        bindAllUnits();
        bindAllFilters();
        $('#IsAvailable').after('<label for="IsAvailable"></label>');
        setTimeout(function () {
            stopLoading();
        }, 300);
        if ('@ViewData["Message"]' != '') {
            if ('@ViewData["Message"]' == 'Success') {
                $("#formProductAU").find('input[type=text]').val('');
                $("#formProductAU").find('textarea').val('');
                $("#formProductAU").find('input[type=checkbox]').removeAttr('checked');
               growlNotification('Product added successfully.', 'success', 3000);
            }
            else { growlNotification('@ViewData["Message"]', 'warning', 3000);}
            }

            $('#StockOnHand').ForceNumericOnly();
    });
        setTimeout(function () {
            $('#ddlCategory').val((@Model.CategoryID=='0' && @Model.CategoryID=='') ?'':@Model.CategoryID);
            $('#ddlFilter').val((@Model.PFilterID=='0' && @Model.PFilterID=='') ?'':@Model.PFilterID);
            $('#ddlUnit').val((@Model.UnitID=='0' && @Model.UnitID=='') ? '' :@Model.UnitID);
            // $("#imgHolder").attr('src', '/Content/Uploads/Products/@Model.ProductImage');

              var students = @Html.Raw(Json.Encode(Model.ImageList));
              $.each(students, function (key, value) {
                $('#' +value.FileID)
                    .attr('src', value.BaseUrl+ value.ProductImage)
                    .height(40);
            });
        }, 1000);

        function SuccessFMethod(res) {
            if (res == "Success") {
                bindAllFilters();
                $("#manageFilterModal").modal('hide');
                growlNotification('Filter name added.', 'success', 3000);
            } else { growlNotification(res, 'warning', 3000);}
        }
        function SuccessUMethod(res) {
            if (res == "Success") {
                bindAllUnits();
                $("#manageUnitModal").modal('hide');
                growlNotification('Unit name added.', 'success', 3000);
            } else { growlNotification(res, 'warning', 3000); } }
    </script>
}
<div class="tab-content">
    <div class="section full-height">
        <div class="row full-height">
            <div id="divMsg"></div>
            <div class="col-sm-12 col full-height">
                <div class="flex-column full-height">
                    <div class="well table product">

                        <div class="active-user btn-group pull-right pos-rel">
                            <a href="@Url.Action("Products","Product")" class="btn-primary">Back</a>
                            <a href="javascript:;" onclick="openLink(1);" class="btn-primary">Add</a>
                            <a href="javascript:;" onclick="deleteProduct(@Model.ProductID,0);" class="btn-primary">Delete</a>
                        </div>
                        <div class="row">
                            <div class="col-sm-12 col pading-top">
                                @using (Html.BeginForm("ManageProduct", "Product", FormMethod.Post, new
                                {
                                    enctype = "multipart/form-data",
                                    id = "formProductAU"
                                }))
                                {
                                    @Html.HiddenFor(m => m.ProductID)
                                    @Html.HiddenFor(m => m.CategoryID)
                                    @Html.HiddenFor(m => m.PFilterID)
                                    @Html.HiddenFor(m => m.UnitID)

                                    <div class="col-md-6 col">
                                        <div class="form-group row">
                                            <label for="staticEmail" class="col-sm-3 col col-form-label">Item Code:<sup>*</sup></label>
                                            <div class="col-sm-9 col">
                                                @Html.TextBoxFor(m => m.ProductCode, new { maxlength = "50", required = "required", placeholder = "101138" })
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label for="staticEmail" class="col-sm-3 col col-form-label">Category:<sup>*</sup></label>
                                            <div class="col-sm-9 col">
                                                <select id="ddlCategory" name="ddlCategory" onchange="getID('ddlCategory','CategoryID');" required></select>
                                            </div>
                                        </div>

                                        <div class="form-group row">
                                            <label for="staticEmail" class="col-sm-3 col col-form-label">Fliter:<sup>*</sup></label>
                                            <div class="col-sm-7 col">
                                                <select id="ddlFilter" name="ddlFilter" onchange="getID('ddlFilter','PFilterID');" required></select>

                                                <a href="javascript:;" data-toggle="tooltip" data-placement="top" title="Add Filter" onclick="fetchValue('fa');" class="plus">
                                                    <i class="fa fa-plus-circle" aria-hidden="true"></i>
                                                </a>

                                                <a href="javascript:;" data-toggle="tooltip" data-placement="top" title="Manage Filter" onclick="fetchValue('f');" class="edit">
                                                    <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label for="staticEmail" class="col-sm-3 col col-form-label">Item Description:</label>
                                            <div class="col-sm-9 col">
                                                @Html.TextAreaFor(m => m.ProductDescription, new { placeholder = "" })
                                            </div>
                                        </div>

                                        <div class="form-group row">
                                            <label for="staticEmail" class="col-sm-3 col col-form-label">Unit:<sup>*</sup></label>
                                            <div class="col-sm-7 col">
                                                <select id="ddlUnit" name="ddlUnit" onchange="getID('ddlUnit','UnitID');" required></select>

                                                <a href="javascript:;" data-toggle="tooltip" data-placement="top" title="Add UOM" onclick="fetchValue('ua');" class="plus">
                                                    <i class="fa fa-plus-circle" aria-hidden="true"></i>
                                                </a>

                                                @*<a href="javascript:;" data-toggle="tooltip" data-placement="top" title="Manage Filter" onclick="fetchValue('u');" class="edit">
                                                        <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                                                    </a>*@
                                            </div>
                                        </div>
                                        <div class="form-group row fieldset">
                                            <label for="IsAvailable" class="col-sm-3 col col-form-label">GST:</label>
                                            <div class="item col-sm-9 col">
                                                @Html.CheckBoxFor(m => m.GST)
                                            </div>
                                        </div>
                                        <div class="form-group row fieldset">
                                            <label for="IsAvailable" class="col-sm-3 col col-form-label">Stock On Hand:</label>
                                            <div class="item col-sm-9 col">
                                                @Html.TextBoxFor(m => m.StockOnHand, new { maxlength = "4", required = "required", onchange = "checkNumeric()" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col">
                                        <div class="form-group row">
                                            <label for="staticEmail" class="col-sm-3 col col-form-label">Item:<sup>*</sup></label>
                                            <div class="col-sm-9 col">
                                                @Html.TextBoxFor(m => m.ProductName, new { maxlength = "150", required = "required" })
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label for="staticEmail" class="col-sm-3 col col-form-label">Price($):<sup>*</sup></label>
                                            <div class="col-sm-9 col">
                                                @Html.TextBoxFor(m => m.Price, new { required = "required", maxlength = "6" })
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label for="staticEmail" class="col-sm-3 col col-form-label">Cost Price($):<sup>*</sup></label>
                                            <div class="col-sm-9 col">
                                                @Html.TextBoxFor(m => m.ComPrice, new { required = "required", maxlength = "6" })
                                            </div>
                                        </div>
                                        <div class="form-group row fieldset">
                                            <label for="IsAvailable" class="col-sm-3 col col-form-label">Is Available:</label>
                                            <div class="item col-sm-9 col">
                                                @Html.CheckBoxFor(m => m.IsAvailable)
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label for="staticEmail" class="col-sm-3 col col-form-label">Item Inclusions:</label>
                                            <div class="col-sm-9 col">
                                                @Html.TextAreaFor(m => m.ProductFeature, new { placeholder = "" })
                                            </div>
                                        </div>
                                        <div class="form-group row fieldset">
                                            <label for="staticEmail" class="col-sm-3 col col-form-label">Main Image:</label>
                                            <div class="item col-sm-6 col">
                                                <span>
                                                    <label for="fuimage" class="file-upload__label btn-primary">Browse</label>
                                                    <input id="fuimage" class="file-upload__input" type="file" name="fuimage" accept="image/*" onchange="readURL(this,'file1');">
                                                </span>
                                            </div>
                                            <div class="item col-sm-3 col">
                                                <img id="file1" class="pull-right" alt="" />
                                                @if (Model.ImageList != null)
                                                {
                                                    if (imageCnt > 0 && Model.ImageList[Model.ImageList.Count - imageCnt].FileID == "file1")
                                                    {
                                                        <a herf="javascript:;" class="pull-right" onclick="DeleteProductImage(@Model.ImageList[Model.ImageList.Count -imageCnt].ID,'file1');"><i class="fa fa-trash" aria-hidden="true"></i></a>
                                                        imageCnt--;
                                                    }
                                                    else
                                                    {
                                                        <a herf="javascript:;"><i></i></a>
                                                    }
                                                }
                                                else
                                                {
                                                    <a herf="javascript:;"><i></i></a>
                                                }
                                            </div>
                                        </div>
                                        <div class="form-group row fieldset">
                                            <label for="staticEmail" class="col-sm-3 col col-form-label">Image 2:</label>
                                            <div class="item col-sm-6 col">
                                                <span>
                                                    <label for="fuimage2" class="file-upload__label btn-primary">Browse</label>

                                                    <input id="fuimage2" class="file-upload__input" type="file" name="fuimage2" accept="image/*" onchange="readURL(this,'file2');">
                                                </span>
                                            </div>
                                            <div class="item col-sm-3 col">
                                                <img id="file2" class="pull-right" height="40" alt="" />
                                                @if (Model.ImageList != null)
                                                {
                                                    if (imageCnt > 0 && Model.ImageList[Model.ImageList.Count - imageCnt].FileID == "file2")
                                                    {
                                                        <a herf="javascript:;" class="pull-right" onclick="DeleteProductImage(@Model.ImageList[Model.ImageList.Count -imageCnt].ID,'file2');"><i class="fa fa-trash" aria-hidden="true"></i></a>
                                                        imageCnt--;
                                                    }
                                                    else
                                                    {
                                                        <a herf="javascript:;"><i></i></a>
                                                    }
                                                }
                                                else
                                                {
                                                    <a herf="javascript:;"><i></i></a>
                                                }
                                            </div>
                                        </div>
                                        <div class="form-group row fieldset">
                                            <label for="staticEmail" class="col-sm-3 col col-form-label">Image 3:</label>
                                            <div class="item col-sm-6 col">
                                                <span>
                                                    <label for="fuimage3" class="file-upload__label btn-primary">Browse</label>
                                                    <input id="fuimage3" class="file-upload__input" type="file" name="fuimage3" accept="image/*" onchange="readURL(this,'file3');">
                                                </span>
                                            </div>
                                            <div class="item col-sm-3 col">
                                                <img id="file3" class="pull-right" alt="" />
                                                @if (Model.ImageList != null)
                                                {
                                                    if (imageCnt > 0 && Model.ImageList[Model.ImageList.Count - imageCnt].FileID == "file3")
                                                    {
                                                        <a herf="javascript:;" class="pull-right" onclick="DeleteProductImage(@Model.ImageList[Model.ImageList.Count -imageCnt].ID,'file3');"><i class="fa fa-trash" aria-hidden="true"></i></a>
                                                        imageCnt--;
                                                    }
                                                    else
                                                    {
                                                        <a herf="javascript:;"><i></i></a>
                                                    }
                                                }
                                                else
                                                {
                                                    <a herf="javascript:;"><i></i></a>
                                                }
                                            </div>
                                        </div>
                                        <div class="form-group row fieldset">
                                            <label for="staticEmail" class="col-sm-3 col col-form-label">Image 4:</label>
                                            <div class="item col-sm-6 col">
                                                <span>
                                                    <label for="fuimage4" class="file-upload__label btn-primary">Browse</label>
                                                    <input id="fuimage4" class="file-upload__input" type="file" name="fuimage4" accept="image/*" onchange="readURL(this,'file4');">
                                                </span>
                                            </div>
                                            <div class="item col-sm-3 col">
                                                <img id="file4" class="pull-right" alt="" />
                                                @if (Model.ImageList != null)
                                                {
                                                    if (imageCnt > 0 && Model.ImageList[Model.ImageList.Count - imageCnt].FileID == "file4")
                                                    {
                                                        <a herf="javascript:;" class="pull-right" onclick="DeleteProductImage(@Model.ImageList[Model.ImageList.Count -imageCnt].ID,'file4');"><i class="fa fa-trash" aria-hidden="true"></i></a>
                                                        imageCnt--;
                                                    }
                                                    else
                                                    {
                                                        <a herf="javascript:;"><i></i></a>
                                                    }
                                                }
                                                else
                                                {
                                                    <a herf="javascript:;"><i></i></a>
                                                }
                                            </div>
                                        </div>

                                        <div class="form-group row fieldset">
                                            <div class="item col-sm-12 col text-right">
                                                <br>
                                                <input type="submit" value="Save" class="btn-secondary" />
                                            </div>
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="manageFilterModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><img src="~/Content/images/close.png"></button>
            </div>
            <div class="modal-body login">
                <h2><strong>Manage Filter</strong></h2>
                <div id="divPopMsg"></div>
                @using (Ajax.BeginForm("ManageProductFilter", "Product", new AjaxOptions
                {
                    HttpMethod = "POST",
                    OnSuccess = "SuccessFMethod",
                    OnBegin = "startLoading",
                    OnComplete = "stopLoading"
                }, new { id = "formFilterAU", @class = "" }))
                {
                    <input type="hidden" id="FilterID" name="FilterID" />
                    <fieldset>
                        <label>Filter:</label>
                        <input type="text" id="FilterName" name="FilterName" maxlength="100" required />
                    </fieldset>

                    <fieldset class="text-center">
                        <input type="submit" value="Save" class="btn-secondary" />
                        <a href="javascript:;" onclick="deleteFilter();" class="btn-secondary hidden" id="btnFilterDelete">Delete</a>
                    </fieldset>
                }
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="manageUnitModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><img src="~/Content/images/close.png"></button>
            </div>
            <div class="modal-body login">
                <h2><strong>Manage Units</strong></h2>
                <div id="divPopMsg2"></div>
                @using (Ajax.BeginForm("ManageUnitofMeasurements", "Product", new AjaxOptions
                {
                    HttpMethod = "POST",
                    OnSuccess = "SuccessUMethod",
                    OnBegin = "startLoading",
                    OnComplete = "stopLoading"
                }, new { id = "formUnitAU", @class = "" }))
                {
                    <input type="hidden" id="UOMID" name="UOMID" />
                    <fieldset>
                        <label>Unit:</label>
                        <input type="text" id="UOMDesc" name="UOMDesc" maxlength="50" required />
                    </fieldset>

                    <fieldset class="text-center">
                        <input type="submit" value="Save" class="btn-secondary" />
                        <a href="javascript:;" onclick="deleteUnit();" class="btn-secondary hidden" id="btnUnitDelete">Delete</a>
                    </fieldset>
                }
            </div>
        </div>
    </div>
</div>