﻿
@section scripts{
    <script src="@Url.Content("~/Scripts/manageProductsJS.js")"></script>
    <script>
        $(function () {
            getProductByCatID(0, 0);
            initScrollbar('liProducts', 2);
            $("#btnSearch").attr('onclick', 'getProductByCatID(0, 0);');
            $("#txtSearch").attr('placeholder', 'Search By Product');
        })

    </script>
}

<div class="tab-content">
    <div class="section full-height">
        <div class="row full-height">
            <div class="col-md-3 col full-height">
                <div class="flex-column full-height">
                    <div class="well table">
                        <h2>Products</h2>
                        <input type="hidden" id="lblCategoryID" />
                        <div id="divProduct">
                            <ul id="liProducts" class="left-nav light homepage"></ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-9 col full-height">
                <div class="row full-height">
                    <div class="col full-height">
                        <div class="flex-column full-height">
                            <div class="well table pale-blue">
                                <div class="tab-content full-height">
                                    <div class="tab-pane active" role="tabpanel" id="11">
                                        <div class="active-user btn-group pull-right pos-rel">
                                            <a href="javascript:;" onclick="openLink(0);" class="btn-primary btn-grey active">Edit</a>
                                            <a href="javascript:;" onclick='deleteProduct($("#hdnProductID").val(),1);' class="btn-primary btn-grey active">Delete</a>
                                            <a href="@Url.Action("ManageProduct", "Product")" class="btn-primary btn-grey active">Add new product</a>
                                            <a href="javascript:;" id="productActiveBtn" class="btn-active" onclick="SetProductActive(this);" data-id="" data-status="">
                                                <span>&nbsp;
                                                </span>
                                            </a>
                                            <div class="clearfix"></div>
                                        </div>
                                        <div class="clearfix"></div>
                                        <div id="divProductDetail">
                                            <div class="row">
                                                <div class="col-md-5">
                                                    <input type="hidden" id="hdnProductID" />
                                                    <table class="table-space">
                                                        <tr>
                                                            <td>Item Code:</td>
                                                            <td><span id="lblCode"></span></td>
                                                        </tr>
                                                        <tr>
                                                            <td>Item:</td>
                                                            <td><span id="lblName"></span></td>
                                                        </tr>
                                                        <tr>
                                                            <td>Category Name:</td>
                                                            <td><span id="lblCategoryName"></span></td>
                                                        </tr>
                                                        <tr>
                                                            <td>Price:</td>
                                                            <td><span id="lblPrice"></span></td>
                                                        </tr>
                                                        <tr>
                                                            <td>Filter:</td>
                                                            <td><span id="lblFilterName"></span></td>
                                                        </tr>
                                                        <tr>
                                                            <td>Description:</td>
                                                            <td><span id="lblDescription"></span></td>
                                                        </tr>
                                                        <tr>
                                                            <td>Availability:</td>
                                                            <td><span id="lblAvailability"></span></td>
                                                        </tr>
                                                        <tr>
                                                            <td>Created Date:</td>
                                                            <td><span id="lblCreatedDate"></span></td>
                                                        </tr>
                                                        <tr>
                                                            <td>Modified Date:</td>
                                                            <td><span id="lblModifiedDate"></span></td>
                                                        </tr>
                                                    </table>
                                                </div>
                                                <div class="col-md-7" id="divProductImg">
                                                    <div id="myCarousel" class="" data-ride="carousel">
                                                        <!-- Wrapper for slides -->
                                                        <div class="carousel-inner" id="divProductCarosual">
                                                           
                                                        </div>
                                                    </div>
                                                    <br />
                                                    <center>
                                                        <div id="divProductThumbimg" class="" style="display:flex;"></div>
                                                    </center>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>