﻿<nav id="bs-navbar" class="">
    <div class="navigation" id="navigation">
        <ul class="nav navbar-nav" id="mainNav">
            <li data-href="dashboard">
                <a href='@Url.Action("Dashboard","Company")'><img src="~/content/images/dashboard.png"></a>
                <div class="tab">
                    <div class="pull-left">
                        <h1>Dashboard</h1>
                    </div>
                    <div class="pull-right">
                        <div class="search">
                            <fieldset>
                                <input type="text" placeholder="Search By Category" />
                                <input type="submit" />
                            </fieldset>
                        </div>
                    </div>
                </div>
            </li>
            <li data-href="Product">
                @Html.ActionLink("MANAGE PRODUCTS", "ManageCategories", "Product")
                <div class="tab">
                    <div class="pull-left">
                        <h1 id="productTitle">Manage Products</h1>
                        <div class="btn-group productHeader">
                            <a data-action="managecategories" href="@Url.Action("ManageCategories","Product")" class="btn-border active">Categories</a>
                            <a data-action="products" href="@Url.Action("Products","Product")" class="btn-border">Product</a>
                            <a data-action="suggestiveproducts" href="@Url.Action("SuggestiveProducts","Product")" class="btn-border">Suggestive Products</a>
                            <a data-action="latestproducts" href="@Url.Action("LatestProducts","Product")" class="btn-border">What's New</a>
                        </div>
                    </div>
                    <div class="pull-right" id="categorySearch">
                        <div class="search">
                            <fieldset>
                                <input id="txtSearch" name="txtSearch" type="text" placeholder="Search By Category" />
                                <input id="btnSearch" type="submit" onclick='searchCategories();' />
                            </fieldset>
                        </div>
                    </div>
                </div>
            </li>
            <li data-href="Order">
                @Html.ActionLink("VIEW ORDER", "Settings", "Order")
                <div class="tab">
                    <div class="pull-left">
                        <h1>View Orders</h1>
                        <div class="btn-group productHeader">
                            <a href="@Url.Action("Settings","Order")" class="btn-border active" data-action="settings">Settings</a>
                            <a href="@Url.Action("ViewOrders","Order")" class="btn-border" data-action="vieworders">Orders</a>
                            <a href="@Url.Action("Offline","Order")" class="btn-border" data-action="offline">Offline</a>
                        </div>
                    </div>
                    <div class="pull-right">
                        <div class="search hidden" id="divSearchForm">
                            <fieldset>
                                <input id="txtOrderSearch" name="txtSearch" type="text" placeholder="Search By Customer or Order No" />
                                <input type="submit" onclick='GetAllOrders(0);' />
                            </fieldset>
                        </div>
                    </div>
                </div>
            </li>
            <li data-href="Company" id="limenu">
                <a href="@Url.Action("ManageUsers", "Company")">MANAGE USERS <label class="headerCount" id="lblRequestCount2"></label></a>
                <div class="tab">
                    <div class="pull-left">
                        <h1 id="headerTitle">Manage Users</h1>
                    </div>
                    <div class="pull-right" id="userSearch">
                        <div class="search">
                            <fieldset>
                                <input id="txtCustSearch" name="txtSearch" type="text" placeholder="Search By Customer" />
                                <input type="submit" onclick='getCustomersPaging(0,0);' />
                            </fieldset>
                        </div>
                    </div>
                </div>
            </li>
            <li data-href="Message">
                @Html.ActionLink("SEND MESSAGE", "SendMessage", "Message")
                <div class="tab">
                    <div class="pull-left">
                        <h1>Target Marketing</h1>
                    </div>
                    <div class="pull-right">
                        <form class="search">
                            <fieldset>
                                <input type="text" placeholder="Search By Customer" />
                                <input type="submit" />
                            </fieldset>
                        </form>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</nav>