﻿@model DataModel.Model.DeliveryCharge
<script>
    $(function () {
        $("#deliverychargesModel").modal('show');
    });
    function SuccessMethod(res) {
        if (res == "Success") {
            $("#deliverychargesModel").modal('hide');
            growlNotification('Delivery charges saved successfully.', 'success', 3000);
        } else {
            growlNotification(res, 'warning', 3000);
        }
    }
</script>
<div class="modal fade" id="deliverychargesModel" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><img src="~/Content/images/close.png"></button>
            </div>
            <div class="modal-body">
                <h2 class="text-center"><strong>Delivery Charges</strong></h2>
                @using (Ajax.BeginForm("ManageDeliveryCharges", "Order", new AjaxOptions
                {
                    HttpMethod = "POST",
                    OnSuccess = "SuccessMethod",
                    OnBegin = "startLoading",
                    OnComplete = "stopLoading"
                }, new { id = "formDeliveryCahrgesAU", @class = "row" }))
                {
                    @Html.HiddenFor(m => m.ID)

                    <fieldset class="row">
                        <div class="col-sm-2" style="top:15px;">
                            <label>Order Value:</label>
                        </div>
                        <div class="col-sm-1" style="top:15px; text-align:right;padding-right:0px;">
                            <span class="text">$</span>
                        </div>
                        <div class="col-sm-6">
                            @Html.TextBoxFor(m => m.OrderValue, new { onkeypress = "setPriceFormat(this);" })
                        </div><div class="col-sm-3" style="top:15px;"><span class="text"><i>(ex GST)</i></span></div>
                    </fieldset>
                    <fieldset class="row">
                        <div class="col-sm-2" style="top:15px;">
                            <label>Delivery Fee:</label>
                        </div>
                        <div class="col-sm-1" style="top:15px; text-align:right;padding-right:0px;">
                            <span class="text">$</span>
                        </div>
                        <div class="col-sm-6">
                            @Html.TextBoxFor(m => m.DeliveryFee)
                        </div><div class="col-sm-3" style="top:15px;"><span class="text"><i>(ex GST)</i></span></div>
                    </fieldset>
                    <fieldset class="row">
                        <div class="col-sm-2" style="top:10px;">
                            <label>Non Delivery Day Fee:</label>
                        </div>
                        <div class="col-sm-1" style="top:15px; text-align:right;padding-right:0px;">
                            <span class="text">$</span>
                        </div>
                        <div class="col-sm-6">
                            @Html.TextBoxFor(m => m.NonDeliveryDayFee, new { onkeypress = "setPriceFormat(this);" })
                        </div><div class="col-sm-3" style="top:15px;"><span class="text"><i>(ex GST)</i></span></div>
                    </fieldset>
                    <div class="row">
                        <div class="col-sm-12 text-center">
                            <input type="submit" value="Save" class="btn-secondary">
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>