﻿@model DataModel.BO.GetOrderToEditBO
@{
    int cnt = 1;
    string delType = Convert.ToBoolean(Model.IsDelivery) ? "D" : "U";
    string runNo = Model.RunNo;
    string PickUpId = Model.PickUpId;
    string totalOriginalPrice = string.Format("{0:#,0.00}", Model.TotalRevised);
    string totalRevised = string.Format("{0:#,0.00}", Model.TotatOriginal);
    string totalDifference = string.Format("{0:#,0.00}", Model.TotalDifference);
    var PaymentDone = Convert.ToBoolean(Model.isPaymentDone) ? 1 : 0;
    var ReFundDone = Model.isRefundDone ? 1 : 0;
    string totalOriginalFreight = string.Format("{0:#,0.00}", Model.OriginalFreight);
    string totalRevisedFreight = string.Format("{0:#,0.00}", Model.RevisedFreight);
    string totalFreightDifference = string.Format("{0:#,0.00}", Model.TotalFreightDifference);



}

<style>

    .my-input {
        padding-left: 5px;
    }

    table#tblEditOrder th {
        text-align: center !important;
    }

    .EditAddress {
        position: relative;
        top: -12px;
        right: 18px;
        color: green;
        float: right;
        cursor: pointer;
    }
</style>

<h2>Order Detail</h2>
<div class="col-md-12">
    <input type="hidden" id="hdnCartID" value="@Model.CartID" />
    <input type="hidden" id="hdnAddress" value="@Model.Address" />
    <input type="hidden" id="hdnDifference" value="@Model.TotalDifference" />
    <input type="hidden" id="hdnCustomerID" value="@Model.CustomerID" />

    @if (Model.isPaymentDone == true)
    {
        <input type="hidden" id="hdnIspaymentdone" value="true" />
    }
    else
    {
        <input type="hidden" id="hdnIspaymentdone" value="false" />
    }
    @if (Model.isRefundDone == true)
    {
        <input type="hidden" id="hdnIsrefunddone" value="true" />
    }
    else
    {
        <input type="hidden" id="hdnIsrefunddone" value="false" />
    }
    <input type="hidden" id="hdntotalamount" value="@Model.TotatOriginal" />
    <input type="hidden" id="hdntotalamount" value="@Model.Total" />
    <input type="hidden" id="hdnTotalorderdataAmount" value="@Model.TotalRevised" />



    <table width="100%" style="margin-left:15px;">
        <tr>
            <td align="left"><b>Order Number</b></td>
            <td align="left">: <label id="lblOrderNumber">@Model.CartID @Model.InvoiceNumber</label></td>
            <td align="left"><b>Customer Email</b></td>
            <td align="left">: <label id="lblCustomerEmail">@Model.CustomerEmail</label></td>
        </tr>
        <tr>
            <td align="left"><b>Customer Name</b></td>
            <td align="left">: <label id="lblCustomerName">@Model.CustomerName</label></td>
            <td align="left" style="padding-bottom:7px;"><b>Customer Phone</b></td>
            <td align="left">: <label id="lblCustomerPhone">@Model.CustomerPhone</label></td>
        </tr>
        <tr>
            <td align="left"><b>Order Date</b></td>
            <td align="left">: <label id="lblDate">@Model.CreatedDate</label></td>
            <td align="left"><b>Warehouse</b></td>
            <td align="left">: <label id="lblWarehouse">@Model.Warehouse</label></td>
        </tr>
        <tr>
            <td align="left"><b>Required Date</b></td>
            <td align="left">: <input type="text" style="line-height:16px !important; width:110px;z-index:9999999 !important" id="txtOrderDetailDate" value="@Model.OrderDate" /></td>
            <td align="left"><b>Suburb</b></td>
            <td align="left">: <label id="lblSuburb">@Model.Suburb</label></td>
        </tr>
        <tr>
            <td align="left"><b>Delivery Name</b></td>
            <td align="left">: <label id="lblDeliveryName">@Model.DeliveryName</label></td>
            <td align="left" style="padding-bottom:16px;"><b>Delivery Type</b></td>
            <td align="left">
                : <select id="ddlDelType" style="width: 135px; margin-right: 15px;line-height:16px !important;" onchange="setPickUpAddessFunctionaity()">
                    <option value="">- Select -</option>
                    <option value="U">Pick Up</option>
                    <option value="D">Delivery</option>
                </select>
            </td>
        </tr>
        <tr>
            <td align="left"><b>Delivery Address</b> </td>
            <td align="left">
                : <textarea style="width:213px;vertical-align:middle;" disabled id="txtOrderAddress" rows="2">@Model.Address</textarea>
                @if (Model.AddressID > 0)
                {<i class="fa fa-pencil EditAddress" onclick="OpenAddressPopup(@Model.AddressID,'@Model.DAddress1','@Model.DSuburb','@Model.DZIP');"></i>}
            </td>
            <td align="left" style="padding-bottom:16px;"><b>Delivery Run</b></td>
            <td align="left">
                : <select id="ddlDeliveryRuns" style="width: 245px; margin-right: 15px;line-height:16px !important;" onchange="setWarehouse(this)">
                    <option value="">- Select -</option>
                    @foreach (var item in ViewBag.Runs)
                    {
                        <option value="@item.Warehouse">@item.RunNo</option>
                    }
                </select>
            </td>
        </tr>

        <tr>
            <td align="left"></td>
            <td align="left"></td>
            @if (Model.PickupList != null)
            {
                <td align="left" id="pickAddress" style="padding-bottom:16px;"><b>Pick Up Address</b></td>
                <td align="left" id="pickAddress1">
                    : <select id="ddlAddressType" style="width: 245px; margin-right: 15px;line-height:16px !important;" onchange="">
                        <option value="0">- Select -</option>
                        @foreach (var item in Model.PickupList)
                        {
                            var data = @item.PickupName + "(" + @item.PickupAddress + ")";
                            <option value="@item.ID">@data</option>
                            data = "";
                        }
                    </select>
                </td>
            }
            else
            {
                <td></td>
                <td></td>
            }
        </tr>
    </table>
    <hr style="margin:0px; padding:0px;" />
</div>
<br />

<div class="col-md-12 text-left">
    <div class="col-sm-6 ">
        <label for="" style="margin-top: 12px;"><b>Customer Delivery Comments:</b></label>
        <textarea id="txtOrderComment" rows="3">@Model.OrderComments</textarea>
    </div>
    <div class="col-sm-6">
        <label style="margin-top: 12px;"><b>Additional Staff Delivery Notes:</b></label>
        <textarea rows="3" id="txtDeliveryNotes">@Model.DeliveryNotes</textarea>
    </div>
</div>
<br />

<div class="col-md-12 text-left">
    <div class="col-sm-6">
        <label style="margin-top: 12px;"><b>Promo Code Discount (If Any):</b></label>
    </div>
    <div class="col-sm-5">
        <label style="margin-top: 12px;"><b>Coupon Name:</b></label>
        @if (Model.CouponName != "")
        {
            <label style="margin-top: 12px;">@Model.CouponName</label>
        }
    </div>


</div>
<div class="col-md-12 text-left">
    <div class="col-sm-3">
        <label style="margin-top: 12px;"><b>Percentage:</b></label>
        @if (Model.DiscountPercentage != "")
        {
            <label style="margin-top: 12px;">@Model.DiscountPercentage</label>
        }
    </div>
    <div class="col-sm-3">
        <label style="margin-top: 12px;"><b>Value:</b></label>
        @if (Model.DiscountValue != "0.00")
        {
            <label>$@Model.DiscountValue</label>
        }
    </div>
    <div class="col-sm-6">
        <label style="margin-top: 12px;"><b>Total Promo Code Discount Applied:</b></label>
        <label style="margin-top: 12px;">$@string.Format("{0:#,0.00}", Model.CouponAmount)</label>
    </div>
</div>
<div class="col-md-12 text-left">

    <div class="col-sm-6" style="color:red;margin-top: 10px;">
        <b>*If product is highlighted red = promo code applied*</b>
    </div>
    <div class="col-sm-6">
    </div>
</div>

<div class="col-md-12 margin-top-15" id="divOrderDetail" style="max-height:450px;overflow:auto;">
    <!--Table-->
    <table id="tblEditOrder" class="table table-condensed">
        <!--Table head-->
        <thead>
            <tr>
                <th align="center">#</th>
                <th align="center" width="10%">Code</th>
                <th align="left" style="text-align:left !important;">Product</th>
                <th align="center">Qty</th>
                <th align="center">UOM</th>
                <th align="center">Price</th>
                <th align="right"> Total Original Price</th>
                <th align="right">Total Revised Price</th>
                <th align="right">Difference</th>
            </tr>
        </thead>

        <!--Table head-->
        <!--Table body-->

        <tbody>
            @if (Model.OrderDetails != null && Model.OrderDate.Length > 0)
            {
                foreach (var item in Model.OrderDetails)
                {
                    <tr id="row_@item.CartItemID">
                        <th scope="row">@cnt</th>
                        <td>@item.ProductCode</td>
                        @if (item.IsCouponItem)
                        {
                            <td align="left" style="color:red;" title="Discounted Item">@item.ProductName</td>
                        }
                        else
                        {
                            <td align="left">@item.ProductName</td>
                        }
                        <td><input type="text" id="txtQty_@cnt" maxlength="3" style="height:32px;width:55px;text-align:center" data-pid="@item.ProductID" value="@item.Quantity" /></td>
                        <td>@item.UOM</td>
                        <td><span style="margin-top:3px; position:absolute;">$</span><input type="text" id="txtPrice_@cnt" maxlength="5" class="my-input" style="height:32px;width:65px;text-align:center;" onkeyup="checkDec(this);" value="@string.Format("{0:#,0.00}",item.Price)" /></td>
                        <td align="center">$@string.Format("{0:#,0.00}", item.TotatOriginalPrice)</td>
                        <td align="center">$@string.Format("{0:#,0.00}", item.TotatRevisedPrice)</td>
                        <td align="center">$@string.Format("{0:#,0.00}", item.Difference)</td>
                    </tr>
                    cnt++;
                }
                if (Model.IsHasFreightCharges == true && Model.RevisedFreight >= 0)
                {
                    <tr id="row_@Model.CartID">
                        <th scope="row">@cnt</th>
                        <td>Delivery Fee</td>
                        <td align="left">Delivery Fee</td>
                        @if (Model.RevisedFreight == 0)
                        {
                            <td><input type="text" id="txtQty_@cnt" maxlength="3" style="height:32px;width:55px;text-align:center" data-pid="-99" value="0" /></td>
                        }
                        else
                        {
                            <td><input type="text" id="txtQty_@cnt" maxlength="3" style="height:32px;width:55px;text-align:center" data-pid="-99" value="1" /></td>
                        }

                        <td></td>
                        <td><span style="margin-top:3px; position:absolute;">$</span><input type="text" id="txtPrice_@cnt" maxlength="5" class="my-input" style="height:32px;width:65px;text-align:center;" onkeyup="checkDec(this);" value="@string.Format("{0:#,0.00}",Model.RevisedFreight)" /></td>
                        <td align="center">$@string.Format("{0:#,0.00}", Model.OriginalFreight)</td>
                        <td align="center">$@string.Format("{0:#,0.00}", Model.RevisedFreight)</td>
                        <td align="center">$@string.Format("{0:#,0.00}", Model.TotalFreightDifference)</td>
                    </tr>
                    cnt++;

                }
            }
            @if (Model.CouponAmount > 0)
            {
                <tr>
                    <td colspan="6" align="right"><b>Total Promo Code Discount Applied:</b></td>
                    <td id="totalAmount" align="center"></td>
                    <td id="totalRevised1" align="center"><b>($@string.Format("{0:#,0.00}", Model.CouponAmount))</b></td>
                    <td id="totalDifference1" align="center"><b>($@string.Format("{0:#,0.00}", Model.CouponAmount))</b></td>
                </tr>
            }
            <tr>
                <td colspan="6" align="right"><b>Total</b></td>
                <td id="totalAmount" align="center"><b>$@totalOriginalPrice</b></td>
                <td id="totalRevised" align="center"><b>$@totalRevised</b></td>
                <td id="totalDifference" align="center"><b>$@totalDifference</b></td>
            </tr>
        </tbody>
        <!--Table body-->
    </table>
    @*<div class="col-sm-12 text-center" style="padding-top: 20px;">
            <a href="#modalAddProducts" data-toggle="modal" class="btn btnClr" onclick="GetProductsToAdd(@Model.CartID)">Add Item</a>
        </div>*@
    <!--Table-->
</div>
<script>
    $(function () {
        $('#ddlDelType').val('@delType');
        if ('@delType' == "U") {
            $('#pickAddress').show();
            $('#pickAddress1').show();
            $('#ddlAddressType').val('@PickUpId');
        }
        else {
             $('#ddlAddressType').val('0');
            $('#pickAddress').hide();
            $('#pickAddress1').hide();
        }
        //$('#ddlDeliveryRuns').val('@runNo');
        $('#ddlDeliveryRuns option').filter(function () { return $.trim($(this).text()) == '@Html.Raw(runNo)'; }).attr('selected', 'selected');
        if (@PaymentDone === 0) {
            $('#refundbutton').hide();
        }
        else {
            $('#refundbutton').show();
            if (@ReFundDone ===0) {
                $('#refundbutton').text("Refund");
                $('#refundbutton').css('width', '100px');
                $('#refundbutton').attr("title", "Refund");
                return;
            }
            if (@ReFundDone === 1) {
                $('#refundbutton').text("View Refund");
                $('#refundbutton').css('width', '150px');
                $('#refundbutton').attr("title", "View Refund");
                return;
            }
        }

    });

function checkDec(el){
 var ex = /^[0-9]+\.?[0-9]*$/;
 if(ex.test(el.value)==false){
   el.value = el.value.substring(0,el.value.length - 1);
  }
}
</script>
