﻿@model List<DataModel.BO.AddProductBO>
@{
    int cnt = 1;
    long cartID = Model[0].CartID;
}
<h2 style="margin:0px; padding:0px;">Add Products</h2>

<div class="col-md-12 margin-top-15" id="divAddProducts" style="max-height:450px;overflow:auto">
    <!--Table-->
    <table id="tblAddProducts" class="table table-condensed">
        <!--Table head-->
        <thead>
            <tr>
                <th align="center">#</th>
                @*<th align="center" width="20%">Code</th>*@
                <th align="left" style="text-align:left !important;">Product</th>
                <th align="center">Qty</th>
                <th align="center">UOM</th>
                <th align="center">Price</th>
                <th align="center"></th>
            </tr>
        </thead>
        <!--Table head-->
        <!--Table body-->
        <tbody>
            @if (Model != null && Model.Count > 0)
            {
                foreach (var item in Model)
                {
                    <tr>
                        <th scope="row">@cnt</th>
                        @*<td>@item.ProductCode</td>*@
                        <td align="left">@item.ProductName</td>
                        <td><input type="text" id="txtQty_@cnt" maxlength="3" style="height:32px;width:55px;text-align:center" value="@item.Quantity" /></td>
                        <td>@item.UOM</td>
                        @*<td><input type="text" id="txtPrice_@cnt" maxlength="5" style="height:32px;width:55px;text-align:center" value="@item.Price" /></td>*@
                        <td>@item.Price</td>
                        <td>
                            <input type="checkbox" value="" style="left:0 !important;position:relative !important;height:20px;width:20px;" data-pid="@item.ProductID" />
                        </td>
                    </tr>
                    cnt++;
                }
            }
        </tbody>
        <!--Table body-->
    </table>
    <!--Table-->
</div>