﻿<div class="modal fade" id="managedeliveryrunsModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-lg" role="document" style="width:75.208vw !important;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><img src="../Content/images/close.png"></button>
            </div>
            <div class="modal-body login margin">
                <h2><strong>Manage Delivery Runs </strong><br></h2>
                <div class="col-sm-12 col form-group">
                    <div class="col-sm-5" style="text-align:left;"><h3><strong>Set-up a New Delivery Run</strong><br></h3></div>
                    <div class="col-sm-7" style="text-align:left;"> <h3><strong>Order cut-off for this run (in hours)</strong><br></h3></div>
                </div>
                <div class="col-sm-12 col form-group">
                    <div class="col-sm-5" style="text-align:left;">

                        <div class="col-sm-6">

                            <label for="" style="margin-top: 12px;">New Delivery Run Name:<sup>*</sup></label>
                        </div>
                        <div class="col-sm-6" style="margin-bottom:20px;">
                            <input type="text" id="txtDeliveryRunName" value="" />
                        </div>
                        <div class="col-sm-6">
                            <label style="margin-top: 12px;">Warehouse:<sup>*</sup></label>
                        </div>
                        <div class="col-sm-6">
                            <select id="txtDeliveryRunAddress">
                                <option value="Brisbane">Brisbane</option>
                                <option value="Sunshine Coast">Sunshine Coast</option>
                                <option value="Byron Bay">Byron Bay</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-sm-7" style="text-align:left;margin-top: 25px;">

                        <div class="col-sm-8">
                            Orders must be placed
                            <input type="text" class="" id="txtDeliveryRunDay" value="" style="width: 45px;" />
                            hours prior for this run<sup>*</sup>
                        </div>

                        <div class="col-sm-4">
                            @*<input type="submit" class="btn-primary pull-right" value="Add" onclick="" />*@
                            <a class="btn-primary pull-right btn-secondary" data-type="D" onclick="ManageRunPoppop(this)" href="javascript:;" style="font-size:12px;">Add</a>
                        </div>
                    </div>
                </div>

                <div class="col-md-12 col" style="margin-bottom:10px !important;" id="divModelState">
                    <div class="col-md-10 col" id="divModelChkListStatesDeliveryRun" style="display:none">
                        <div class="pull-right" style="margin-top: 10px;">
                            <label for="chkACT">
                                <input type="checkbox" data-state="ACT" id="chkACT" onchange="fetchModelDataBasedOnState()" />
                                ACT
                            </label>
                            <label for="chkNSW">
                                <input type="checkbox" data-state="NSW" id="chkNSW" onchange="fetchModelDataBasedOnState()" />
                                NSW
                            </label>
                            <label for="chkNT">
                                <input type="checkbox" data-state="NT" id="chkNT" onchange="fetchModelDataBasedOnState()" />
                                NT
                            </label>
                            <label for="chkQLD">
                                <input type="checkbox" data-state="QLD" id="chkQLD" onchange="fetchModelDataBasedOnState()" />
                                QLD
                            </label>
                            <label for="chkSA">
                                <input type="checkbox" data-state="SA" id="chkSA" onchange="fetchModelDataBasedOnState()" />
                                SA
                            </label>
                            <label for="chkTAS">
                                <input type="checkbox" data-state="TAS" id="chkTAS" onchange="fetchModelDataBasedOnState()" />
                                TAS
                            </label>
                            <label for="chkVIC">
                                <input type="checkbox" data-state="VIC" id="chkVIC" onchange="fetchModelDataBasedOnState()" />
                                VIC
                            </label>
                            <label for="chkWA">
                                <input type="checkbox" data-state="WA" id="chkWA" onchange="fetchModelDataBasedOnState()" />
                                WA
                            </label>
                        </div>
                    </div>
                    <div class=" col-md-2 pull-right">
                        <select id="ddlModelCutoffType" style="width: 135px; margin-right: 15px;" onchange="setModelCutOffFunctionaity(this)">
                            <option value="">Select</option>
                            <option value="S">Suburbs</option>
                            <option value="P">Post Code</option>
                        </select>
                    </div>
                </div>

                <div class="col-sm-12 col form-group">
                    <div class="col-sm-3 col form-group">
                        <h3><strong>All Delivery Runs </strong>    <label for="chkm"><i title="1) First select the Delivery Run you want to modify from <br> the list on the left.<br> 2) Then select from the above dropdown either <br> Suburbs or Post Code to allocate locations to a<br> Delivery Run<br>3) From the Suburb/Post Code list, highlight in blue all<br>the areas that you want to allocate to the selected <br>Deliver Run.<br>4) Add or remove using the arrows, then press Save." data-html="true" data-toggle="tooltip" class="info fa fa-info-circle"> </i></label><br></h3>
                        <select id="deliveryRunsGroupList" name="" onchange="" multiple="multiple" data-type="D" onclick="GetGroupDetail(this);" class="text-uppercase"></select>
                    </div>
                    <div class="col-sm-4 text-center">
                        <h3><strong>Suburb/Post Code List</strong><br></h3>
                        <select id="ddlCutOffForModel" class="text-uppercase" name="" onchange="" multiple="multiple"></select>
                        <small id="" class="text-left">
                            "Hold CTRL key and use mouse to select multiples.<br />Hold SHIFT key to select a range."
                        </small>
                    </div>
                    <div class="col-sm-1 text-center">
                        <h3><strong> </strong><br></h3>
                        <a class="col-md-12 btn-primary pull-right btn-secondarybutton" data-type="D" onclick="AddRunPoppop(this)" href="javascript:;" style="font-size:12px;margin-bottom:30px;">>></a>
                        <a class="col-md-12 btn-primary pull-right btn-secondarybutton" data-type="D" onclick="RemoveRunPoppop(this)" href="javascript:;" style="font-size:12px;"><<</a>
                    </div>
                    <div class="col-sm-4">

                        <h3><strong>Suburb/Post Code Added </strong><br></h3>
                        <div class="col-sm-12 text-center">
                            <select id="ddlSelectedDeliveryRun" class="text-uppercase" name="" onchange="" multiple="multiple"></select>
                        </div>
                    </div>
                    <div class="col-sm-12 text-center">
                        @*<input type="submit" class="btn-primary pull-left" value="Delete" />
                            <input type="submit" class="btn-primary pull-right" value="Save" style="margin-right: 23px;" />*@
                        <a class="btn-primary pull-left btn-secondary" data-type="D" onclick="DeleteRunPoppop(this)" href="javascript:;">Delete</a>
                        @*<a class="btn-primary pull-right btn-secondary" data-type="D" onclick="AddRunPoppop(this)" href="javascript:;" style="font-size:12px;">Save</a>*@
                    </div>
                </div>
                <div class="col-sm-12 col form-group text-center">
                    <small style="color: red;">Important: You need to decide upfront whether you want to have Delivery runs grouped by Suburb or by Post Code. Once you do your first Delivery run, this selection MUST be used for all future Delivery Runs. You cannot mix Suburbs and Post Codes together for a run.</small>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="managepostcodeModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-lg" role="document" style="width:75.208vw !important;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><img src="../Content/images/close.png"></button>
            </div>
            <div class="modal-body login margin">
                <h2><strong>Manage PostCodes</strong><br></h2>
                <div class="col-sm-12 col form-group">
                    <div class="col-sm-5" style="text-align:left;"><h3><strong>Set-up a PostCode Group Name</strong><br></h3></div>
                    <div class="col-sm-7" style="text-align:left;"> <h3><strong>Order cut-off for this run (in hours)</strong><br></h3></div>
                </div>
                <div class="col-sm-12 col form-group">
                    <div class="col-sm-5" style="text-align:left;">

                        <div class="col-sm-6">
                            <label for="" style="margin-top: 12px;">PostCode Group Name:<sup>*</sup></label>
                        </div>
                        <div class="col-sm-6" style="margin-bottom:20px;">
                            <input type="text" id="txtPostCodeName" value="" />
                        </div>
                        <div class="col-sm-6">
                            <label style="margin-top: 12px;">Warehouse (Option):</label>
                        </div>
                        <div class="col-sm-6">
                            <input type="text" id="txtPostCodeWarehouse" value="" />
                        </div>
                    </div>
                    <div class="col-sm-7" style="text-align:left;margin-top: 25px;">
                        <div class="col-sm-8">
                            Orders must be placed
                            <input type="text" class="" id="txtPostCodeDay" value="" style="width: 35px;" />
                            hours prior for this run<sup>*</sup>
                        </div>

                        <div class="col-sm-4">
                            @*<input type="submit" class="btn-primary pull-left" value="Create PostCode Group" style="width:auto;" />*@

                            <a class="btn btnClr pull-right " data-type="P" onclick="ManageRunPoppop(this)" href="javascript:;" style="font-size:12px;width:auto;">Create PostCode Group</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 col" style="margin-bottom:10px !important;" id="divModelState">
                    <div class="col-md-12 col" id="divModelChkListStatesPostCode">
                        <label for="chkACT">
                            <input type="checkbox" data-state="ACT" id="chkACT" onchange="fetchModelDataBasedOnStateSubandPost('P')" />
                            ACT
                        </label>
                        <label for="chkNSW">
                            <input type="checkbox" data-state="NSW" id="chkNSW" onchange="fetchModelDataBasedOnStateSubandPost('P')" />
                            NSW
                        </label>
                        <label for="chkNT">
                            <input type="checkbox" data-state="NT" id="chkNT" onchange="fetchModelDataBasedOnStateSubandPost('P')" />
                            NT
                        </label>
                        <label for="chkQLD">
                            <input type="checkbox" data-state="QLD" id="chkQLD" onchange="fetchModelDataBasedOnStateSubandPost('P')" />
                            QLD
                        </label>
                        <label for="chkSA">
                            <input type="checkbox" data-state="SA" id="chkSA" onchange="fetchModelDataBasedOnStateSubandPost('P')" />
                            SA
                        </label>
                        <label for="chkTAS">
                            <input type="checkbox" data-state="TAS" id="chkTAS" onchange="fetchModelDataBasedOnStateSubandPost('P')" />
                            TAS
                        </label>
                        <label for="chkVIC">
                            <input type="checkbox" data-state="VIC" id="chkVIC" onchange="fetchModelDataBasedOnStateSubandPost('P')" />
                            VIC
                        </label>
                        <label for="chkWA">
                            <input type="checkbox" data-state="WA" id="chkWA" onchange="fetchModelDataBasedOnStateSubandPost('P')" />
                            WA
                        </label>
                    </div>
                </div>
                <div class="col-sm-12 col form-group">
                    <div class="col-sm-3 col form-group" style="margin-top: 20px;">
                        <h4><strong>All PostCode Group</strong><br></h4>
                        <select id="postCodeGroupList" name="" class="text-uppercase" multiple="multiple" data-type="P" onclick="GetGroupDetail(this);"></select>
                    </div>
                    <div class="col-sm-4" style="margin-top: 20px;">
                        <h4><strong>All PostCode</strong><br></h4>
                        <div class="col-sm-12 text-center">
                            <select id="ddlAllPostCode" class="text-uppercase" multiple="multiple"></select>
                        </div>
                    </div>
                    <div class="col-sm-1 text-center">
                        <h3><strong> </strong><br></h3>
                        <a class="col-md-12 btn-primary pull-right btn-secondarybutton" data-type="P" onclick="AddRunPoppop(this)" href="javascript:;" style="font-size:12px; margin-bottom:30px;">>></a>
                        <a class="col-md-12 btn-primary pull-right btn-secondarybutton" data-type="P" onclick="RemoveRunPoppop(this)" href="javascript:;" style="font-size:12px;"><<</a>
                    </div>
                    <div class="col-sm-4">
                        <h4 style="text-align: justify; margin-left: 12px;">
                            <strong>
                                PostCode belonging to the group:<br>
                                <span id="GroupNamePost">--------</span>
                            </strong>
                        </h4>
                        <div class="col-sm-12 text-center">
                            <select id="ddlSelectedPostcode" class="text-uppercase" multiple="multiple"></select>
                        </div>
                    </div>
                    <div class="col-sm-12 text-center">
                        <a class="btn-primary pull-left btn-secondary" data-type="P" onclick="DeleteRunPoppop(this)" href="javascript:;">Delete</a>
                        @*<a class="btn-primary pull-right btn-secondary" data-type="P" onclick="AddRunPoppop(this)" href="javascript:;" style="font-size:12px;">Save</a>*@
                        @*<input type="submit" class="btn-primary pull-left" value="Delete" />
                            <input type="submit" class="btn-primary pull-right" value="Save" style="margin-right: 23px;" />
                            <input type="submit" class="btn-primary pull-right" value="Remove" />
                            <input type="submit" class="btn-primary pull-right" value="Add" />*@
                    </div>
                    <div class="col-sm-12 text-center">
                        <small id="" class="text-left">"Hold CTRL key and use mouse to select multiples.<br />Hold SHIFT key to select a range."</small>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="managesuburbsModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-lg" role="document" style="width:75.208vw !important;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><img src="../Content/images/close.png"></button>
            </div>
            <div class="modal-body login margin">
                <h2><strong>Manage Suburbs</strong><br></h2>
                <div class="col-sm-12 col form-group">
                    <div class="col-sm-5" style="text-align:left;"><h3><strong>Set-up a Suburb Group Name</strong><br></h3></div>
                    <div class="col-sm-7" style="text-align:left;"> <h3><strong>Order cut-off for this run (in hours)</strong><br></h3></div>
                </div>
                <div class="col-sm-12 col form-group">
                    <div class="col-sm-5" style="text-align:left;">

                        <div class="col-sm-6">
                            <label for="" style="margin-top: 12px;">Suburb Group Name:<sup>*</sup></label>
                        </div>
                        <div class="col-sm-6" style="margin-bottom:20px;">
                            <input type="text" id="txtSubrubName" value="" />
                        </div>
                        <div class="col-sm-6">
                            <label style="margin-top: 12px;">Warehouse (Option):</label>
                        </div>
                        <div class="col-sm-6">
                            <input type="text" id="txtSubrubWarehouse" value="" />
                        </div>
                    </div>
                    <div class="col-sm-7" style="text-align:left;margin-top: 25px;">
                        <div class="col-sm-8">
                            Orders must be placed
                            <input type="text" class="" value="" id="txtSubrubDay" style="width: 35px;" />
                            hours prior for this run<sup>*</sup>
                        </div>

                        <div class="col-sm-4">
                            @*<input type="submit" class="btn-primary pull-left" value="Create Suburb Group" style="width:auto;" />*@
                            <a class="btn btnClr pull-right" data-type="S" onclick="ManageRunPoppop(this)" href="javascript:;" style="font-size:12px;width:auto;">Create Suburb Group</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 col" style="margin-bottom:10px !important;" id="divModelState">
                    <div class="col-md-12 col" id="divModelChkListStatesSuburbs">
                        <label for="chkACT">
                            <input type="checkbox" data-state="ACT" id="chkACT" onchange="fetchModelDataBasedOnStateSubandPost('S')" />
                            ACT
                        </label>
                        <label for="chkNSW">
                            <input type="checkbox" data-state="NSW" id="chkNSW" onchange="fetchModelDataBasedOnStateSubandPost('S')" />
                            NSW
                        </label>
                        <label for="chkNT">
                            <input type="checkbox" data-state="NT" id="chkNT" onchange="fetchModelDataBasedOnStateSubandPost('S')" />
                            NT
                        </label>
                        <label for="chkQLD">
                            <input type="checkbox" data-state="QLD" id="chkQLD" onchange="fetchModelDataBasedOnStateSubandPost('S')" />
                            QLD
                        </label>
                        <label for="chkSA">
                            <input type="checkbox" data-state="SA" id="chkSA" onchange="fetchModelDataBasedOnStateSubandPost('S')" />
                            SA
                        </label>
                        <label for="chkTAS">
                            <input type="checkbox" data-state="TAS" id="chkTAS" onchange="fetchModelDataBasedOnStateSubandPost('S')" />
                            TAS
                        </label>
                        <label for="chkVIC">
                            <input type="checkbox" data-state="VIC" id="chkVIC" onchange="fetchModelDataBasedOnStateSubandPost('S')" />
                            VIC
                        </label>
                        <label for="chkWA">
                            <input type="checkbox" data-state="WA" id="chkWA" onchange="fetchModelDataBasedOnStateSubandPost('S')" />
                            WA
                        </label>
                    </div>
                </div>
                <div class="col-sm-12 col form-group">
                    <div class="col-sm-3 col form-group" style="margin-top: 20px;">
                        <h4><strong>All Suburb Group</strong><br></h4>
                        <select id="suburbGroupList" class="text-uppercase" name="" onchange="" multiple="multiple" data-type="S" onclick="GetGroupDetail(this);"></select>
                    </div>
                    <div class="col-sm-4" style="margin-top: 20px;">
                        <h4><strong>All Suburbs</strong><br></h4>
                        <div class="col-sm-12 text-center">
                            <select id="ddlAllSubrubs" class="text-uppercase" name="" onchange="" multiple="multiple"></select>
                        </div>
                    </div>
                    <div class="col-sm-1 text-center">
                        <h3><strong> </strong><br></h3>
                        <a class="col-md-12 btn-primary pull-right btn-secondarybutton" data-type="S" onclick="AddRunPoppop(this)" href="javascript:;" style="font-size:12px;margin-bottom:30px;">>></a>
                        <a class="col-md-12 btn-primary pull-right btn-secondarybutton" data-type="S" onclick="RemoveRunPoppop(this)" href="javascript:;" style="font-size:12px;"><<</a>
                    </div>
                    <div class="col-sm-4">
                        <h4 style="text-align: justify; margin-left: 12px;">
                            <strong>
                                Suburbs belonging to the group:<br>
                                <span id="GroupName">--------</span>
                            </strong>
                        </h4>
                        <div class="col-sm-12 text-center">
                            <select id="ddlSelectedSuburbs" name="" class="text-uppercase" onchange="" multiple="multiple"></select>
                        </div>
                    </div>
                    <div class="col-sm-12 text-center">
                        <a class="btn-primary pull-left btn-secondary" data-type="S" onclick="DeleteRunPoppop(this)" href="javascript:;">Delete</a>
                        @*<a class="btn-primary pull-right btn-secondary" data-type="S" onclick="AddRunPoppop(this)" href="javascript:;" style="font-size:12px;">Save</a>*@
                    </div>
                    <div class="col-sm-12 text-center">
                        <small id="" class="text-left">  "Hold CTRL key and use mouse to select multiples.<br />Hold SHIFT key to select a range."</small>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="managepickupModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><img src="../Content/images/close.png"></button>
            </div>
            <div class="modal-body login margin">
                <h2><strong>Manage Pick-Ups </strong><br></h2>
                <div class="col-sm-12 col form-group">
                    <div class="col-sm-12 col form-group">
                        <fieldset class="row">
                            <input type="hidden" id="hdnID" value="" />
                            <div class="col-sm-3 text-left">
                                <label for="" style="margin-top: 12px;">New Pick-Up Name:<sup>*</sup></label>
                            </div>
                            <div class="col-sm-7" style="margin-bottom:20px;">
                                <input type="text" id="txtNewPickUpName" value="" />
                            </div>
                            <div class="col-sm-3 text-left">
                                <label style="margin-top: 12px;">New Pick-Up Address:<sup>*</sup></label>
                            </div>
                            <div class="col-sm-7">
                                <input type="text" id="txtNewPickUpAdderss" value="" />
                            </div>
                            <div class="col-sm-2 text-center" style="margin-top: 7px;">
                                <input type="submit" onclick="ManageRunPoppop(this)" data-type="U" class="btn-primary pull-right" value="Add" />
                            </div>
                        </fieldset>
                    </div>

                    <div class="col-sm-12 col form-group">
                        <h4><strong>All Pick-Ups </strong><br></h4>
                        <fieldset class="row" style="margin-left:100px;">
                            <div class="col-sm-8">
                                <select id="listPickUps" class="text-uppercase" name="listPickUps" multiple="multiple" data-type="U" onclick="GetGroupDetail(this)"></select>
                                @*<small id="" class="text-left">""Hold CTRL KEY to select multiple pick-ups, SHIFT KEY to select  a  range"</small>*@
                            </div>
                            <div class="col-sm-4">
                                @*<div class="col-sm-12 text-center" style="margin-bottom:20px;">
                                        <a class="btn-primary pull-left btn-secondary" href="javascript:;">Edit</a>
                                    </div>*@
                                <div class="col-sm-12 text-center">
                                    <a class="btn-primary pull-left btn-secondary" data-type="U" onclick="DeleteRunPoppop(this)" href="javascript:;">Delete</a>
                                </div>
                            </div>
                        </fieldset>

                        @*<fieldset class="row">
                                <div class="col-sm-12 text-center">
                                    <input type="submit" class="btn-primary pull-right" value="Save" />
                                </div>
                            </fieldset>*@
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>