﻿<div class="form-group row">
    <label for="chkEnableCutOffRules" class="col-md-12 col ">
        <input type="checkbox" id="chkEnableCutOffRules" onchange="showHideRules(this); updateIndividualFeatures(this)" data-col="EnableCutOffRules" />
        Enable Cut Off Rules
    </label>

    <div id="dviCutoffFeatures" style="display:none">
        <br /><br />
        <label for="staticEmail" class="col-sm-4 col">Cut Off Time based on:</label>
        <div class="col-sm-3 col">
            <select id="ddlOrderCutoffType" onchange="setCutOffFunctionaity(this)">
                <option value="D">Delivery Runs</option>
                <option value="S">Suburbs</option>
                <option value="P">Post Codes</option>
            </select>
        </div>
        <div class="col-sm-4 col">
            <a class="btn btnClr" id="btnCutOffType" data-type="D" onclick="openModal(this)" href="javascript:;" style="width:72%;">Manage Run</a>
        </div>

        <div class="col-md-12">
            <label for="staticEmail" class="col-sm-4 col col-form-label" style="padding:0 !important">Set Cut Off Time for:</label>
            <div class="col-sm-3 col">
                <select id="ddlCutOffFor" onchange="setCutOff(this)"></select>
            </div>
        </div>
    </div>
</div>

<div class="form-group row">
    <label for="staticEmail" class="col-sm-4 col col-form-label" id="lblCutOffTime">Order Cut Off Time:</label>
    <div class="col-sm-3 col">
        <select name="ddlCutoffTime" id="ddlCutoffTime"></select>
    </div>
    <div class="col-sm-3 col">
        <select id="ddlTimeZone" name="ddlTimeZone">
            <option value="AM">AM</option>
            <option value="PM">PM</option>
        </select>
    </div>
</div>

<div class="form-group row">
    <label for="staticEmail" class="col-sm-4 col col-form-label">Next Available Delivery Date:</label>
    <div class="col-sm-6 col">
        <input type="text" id="txtCuttOffdate" style="width:100px !important" name="txtCuttOffdate" readonly="readonly" value="@ViewBag.ReqDate" />
    </div>
    <div class="col-sm-2 col">
        <a class="btn btnClr" id="btnSaveCutOffRules" onclick="return saveCutOffRules()" data-type="PU" href="javascript:;" style="width: 100%;">Save</a>
    </div>
</div>