﻿<div id="divPromocode" class="well table-auto" style="overflow:hidden">
    <h2>MANAGE PROMO CODES:</h2>
    <div class="col-sm-12 col-lg-4 col">
        <fieldset>
            <div class="col-sm-12 col">
                <input type="checkbox" id="chkEnablePromocode" checked="@ViewBag.IsPromo" onclick="togglePromocode(this)">
                <label for="chkEnablePromocode">Enable Promo Code</label>
            </div>
        </fieldset>

        <fieldset>
            <div class="col-sm-12 col">
                <h3>Promo Codes</h3>
                <select multiple style="height: 220px;background-image:none !important" id="promoCodeList" maxlength="1" onchange="getPromoCodeData(this)"></select>
            </div>
        </fieldset>
    </div>
    <div class="col-sm-12 col-lg-8 col">
        <fieldset>
            <div class="col-sm-12 col">
                <div class="col-sm-12 col-lg-6 col">
                    <label for="" class="col-sm-12 col col-form-label">Promo Code*:</label>
                    <div class="col-sm-12 col">
                        <input type="text" id="txtPromoCode" style="text-transform:uppercase" maxlength="25" />
                    </div>
                </div>
                <div class="col-sm-12 col-lg-6">
                    <label for="" class="col-sm-12 col col-form-label">Code Type*:</label>
                    <div class="col-sm-8 col">
                        <select id="ddlPromoType">
                            <option value="D" selected>Discount</option>
                            <option value="V">Value</option>
                        </select>
                    </div>
                    <div class="col-sm-4 col">
                        <input type="text" onkeypress="return checkNUmeric(event)" maxlength="3" id="txtPromoValue" value="" style="width: 55px;" />
                    </div>
                </div>
            </div>
        </fieldset>

        <fieldset>
            <div class="col-sm-12 col">
                <div class="col-sm-6 col">
                    <label for="" class="col-sm-12 col col-form-label">From*:</label>
                    <div class="col-sm-12 col">
                        <input type="text" id="txtPromoFrom" name="" value="" />
                    </div>
                </div>
                <div class="col-sm-6">
                    <label for="" class="col-sm-12 col col-form-label">To*:</label>
                    <div class="col-sm-12 col pull-right">
                        <input type="text" id="txtPromoTo" name="" value="" />
                    </div>
                </div>
            </div>
        </fieldset>

        <fieldset>
            <div class="col-sm-12 col" style="margin-top:10px;">
                <div class="col-sm-12 col-lg-6 col">
                    <label for="" class="col-sm-12 col col-form-label">Redemptions:</label>
                    <div class="col-sm-12 col">
                        <input type="text" id="txtPromoRedemptions" onkeypress="return checkNUmeric(event)" maxlength="4" placeholder="(Blank is Unlimited)" />
                    </div>
                </div>
                <div class="col-sm-12 col-lg-6">
                    <label for="" class="col-sm-12 col col-form-label">Min Cart Value:</label>
                    <div class="col-sm-12 col pull-right">
                        <input type="text" id="txtMinCartValue" maxlength="4" placeholder="(Blank is Unlimited)" />
                    </div>
                </div>
            </div>
        </fieldset>
        <fieldset>
            <div class="col-sm-12 col" style="margin-top:20px;">
                <input type="checkbox" style="margin-left:25px;" id="chkLimitPerCustomer">
                <label for="chkLimitPerCustomer">Limit 1 per customer</label>
            </div>
        </fieldset>
        <fieldset>
            <div class="col-sm-12 col" style="margin-top:10px;">
                <div class="col-sm-12">
                    <label for="" class="col-sm-12 col col-form-label">Link To Specific customer:</label>
                    <div class="col-sm-12 col">
                        <select id="ddlPromoCustomer"></select>
                    </div>
                </div>
            </div>
        </fieldset>

        <fieldset>
            <div class="col-sm-12 col" style="margin-top:10px;">
                <div class="col-sm-12">
                    <label for="" class="col-sm-12 col col-form-label">Link To Specific Product(s):</label>
                    <div class="col-sm-12 col">
                        <select id="ddlPromoProducts" multiple style="background-image:none;"></select>
                    </div>
                </div>
            </div>
        </fieldset>
        <br />
        <fieldset>
            <div class="col-sm-12 col">
                <div class="col-sm-2"></div>
                <div class="col-sm-10">
                    <input type="button" class="btn btnClr pull-right" value="Reset" onclick="resetPromoValues()" style="margin-left:5px;" />
                    <input type="button" value="Save" class="btn btnClr pull-right" onclick="saveUpdateRemovePromoCode('I')" style="margin-left:5px;">
                    <input class="btn btnClr pull-right" onclick="saveUpdateRemovePromoCode('D')" type="button" name="" value="Remove">
                </div>
            </div>
        </fieldset>
    </div>
</div>