﻿@model DataModel.Model.MainFeaturesMaster
<script>
    $(function () {
        $("#selectCurrencyModel").modal('show');
    });
    function SuccessMethod(res) {
        if (res == "Success") {
            $("#selectCurrencyModel").modal('hide');
            growlNotification('Currency saved successfully.', 'success', 3000);
        } else {
            growlNotification(res, 'warning', 3000);
        }
    }
</script>
<div class="modal fade" id="selectCurrencyModel" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><img src="~/Content/images/close.png"></button>
            </div>
            <div class="modal-body">
                <h2 class="text-center"><strong>Select Currency</strong></h2>
                @using (Ajax.BeginForm("ManageCurrency", "Order", new AjaxOptions
                {
                    HttpMethod = "POST",
                    OnSuccess = "SuccessMethod",
                    OnBegin = "startLoading",
                    OnComplete = "stopLoading"
                }, new { id = "formSetupCurrencyAU", @class = "row" }))
                {
                   <fieldset class="row">
                        <div class="col-sm-12">
                            @Html.RadioButtonFor(m=>m.Currency, "$") Australian Dollar ($)
                        </div>
                    </fieldset>
                    <fieldset class="row">
                        <div class="col-sm-12"> 
                            @Html.RadioButtonFor(m => m.Currency, "¥") Chinese Yuan (¥)
                        </div>
                    </fieldset>
                    
                    <div class="row">
                        <div class="col-sm-12 text-center">
                            <input type="submit" value="Ok" class="btn-secondary">
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
