﻿@model DataModel.BO.CartSettingsModel
<script>
    $(function () {
        $("#deliverychargesModel").modal('show');
    });
    function SuccessMethod(res) {
        if (res == "Success") {
            $("#deliverychargesModel").modal('hide');
            growlNotification('Discount details saved successfully.', 'success', 3000);
        } else {
            growlNotification(res, 'warning', 3000);
        }
    }

    function setNumericValue(el) {
        if (isNaN(el.value)) {
            el.value = "";
        }
        return;
    }
</script>
<div class="modal fade" id="deliverychargesModel" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><img src="~/Content/images/close.png"></button>
            </div>
            <div class="modal-body">
                <h2 class="text-center"><strong>Cart Settings</strong></h2>
                @using (Ajax.BeginForm("ManageCartSettings", "Order", new AjaxOptions
                {
                    HttpMethod = "POST",
                    OnSuccess = "SuccessMethod",
                    OnBegin = "startLoading",
                    OnComplete = "stopLoading"
                }, new { id = "formDiscountAU", @class = "row" }))
                {
                    <fieldset class="row">
                        <div class="col-sm-3" style="top:15px;">
                            <label>Discount:</label>
                        </div>
                        <div class="col-sm-6">
                            @Html.TextBoxFor(m => m.DiscountValue, new { onkeypress = "setNumericValue(this);" })
                        </div>
                    </fieldset>
                    <fieldset class="row">
                        <div class="col-sm-3" style="top:15px;">
                            <label>Discount Is Percentage:</label>
                        </div>
                        <div class="col-sm-6">
                            @Html.CheckBoxFor(m => m.IsPercentage)
                        </div>
                    </fieldset>
                    <fieldset class="row">
                        <div class="col-sm-3" style="top:15px;">
                            <label>Profit Margin Limit:</label>
                        </div>
                        <div class="col-sm-6">
                            @Html.TextBoxFor(m => m.ProfitLimitValue, new { onkeypress = "setNumericValue(this);" })
                        </div>
                    </fieldset>
                    <fieldset class="row">
                        <div class="col-sm-3" style="top:15px;">
                            <label>Minimum Cart Value:</label>
                        </div>
                        <div class="col-sm-6">
                            @Html.TextBoxFor(m => m.MinCartValue, new { onkeypress = "" })
                        </div>
                    </fieldset>
                    <div class="row">
                        <div class="col-sm-12 text-center">
                            <input type="submit" value="Save" class="btn-secondary">
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>