﻿@model DataModel.BO.GetOrderMail

@section scripts{
    <link href="~/Content/css/bootstrap-datepicker.min.css" rel="stylesheet" />
    <script src="~/Scripts/bootstrap-datepicker.min.js"></script>
    <script>
        $(function () {
            validateForm('formOrderMail');
            $("#StartDate").datepicker({
                startDate: '-6d',
                format: "dd/mm/yyyy",
                autoclose: true,
                endDate: new Date(),
            }).on('changeDate', function (selected) {
                var minDate = "";
                minDate = selected.date;//.format('dd/MM/yyyy');
                console.log(minDate);
                $("#EndDate").val('').datepicker('remove');
                $("#EndDate").datepicker(
                    {
                        startDate: minDate,
                        format: "dd/mm/yyyy",
                        autoclose: true,
                        endDate: new Date(),
                    });
            });
        });
        function SuccessMethod(res) {
            if (res == "Success") {
                growlNotification('Email with selected orders has now been sent.', 'success', 3000);
            } else {
                growlNotification(res, 'warning', 3000);
            }
        }
    </script>
}
<div class="tab-content main-offline">
    <div class="section full-height">
        <div class="row full-height">
            <div class="col-md-5 col full-height">
                <div class="flex-column full-height">
                    <div class="well table left-bar">
                        <h2>REQUEST MOBILE ORDERS</h2>
                        @using (Ajax.BeginForm("SendOrderMail", "Order", new AjaxOptions
                        {
                            HttpMethod = "POST",
                            OnSuccess = "SuccessMethod",
                            OnBegin = "startLoading",
                            OnComplete = "stopLoading"
                        }, new { id = "formOrderMail", @class = "" }))
                        {
                            <div class="form-group">
                                <label for="staticEmail" class="col-sm-4 col col-form-label">From:<sup>*</sup></label>
                                <div class="col-sm-8 col">
                                    @Html.TextBoxFor(m => m.StartDate, new { required = "required" })
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="staticEmail" class="col-sm-4 col col-form-label">To:<sup>*</sup></label>
                                <div class="col-sm-8 col">
                                    @Html.TextBoxFor(m => m.EndDate, new { required = "required" })
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-sm-12 col">
                                    <p class="small"><em>Note: You can only request orders up to a maximum of 7 days prior to today's date.</em></p>
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="staticEmail" class="col-sm-4 blue col col-form-label">Email Address:<sup>*</sup></label>
                                <div class="col-sm-8 col">
                                    @Html.TextBoxFor(m => m.Email, new { required = "required", type = "email" })
                                </div>
                            </div>

                            <div class="form-group">

                                <div class="col-sm-12 col">
                                    <p class="small">
                                        <em>
                                            Note: All customers will be sent a push notification 1hour prior advising
                                            that their saved order will be auto sent
                                        </em>
                                    </p>
                                </div>
                                <br />
                                <div class="col-sm-4 text-left col pull-right">
                                    <input type="submit" class="btn-secondary btn-block margin" value="Send" />
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>