﻿@section scripts{

    <script src="@Url.Content("~/content/ckeditor/ckeditor.js")"></script>
    <script src="@Url.Content("~/Scripts/globalFunctions.js")"></script>
    <script src="@Url.Content("~/Scripts/manageOrderJS.js")"></script>
    <script src="@Url.Content("~/Scripts/moment.js")"></script>
    <script src="@Url.Content("~/Scripts/datepicker.js")"></script>

    <script>
        $(function () {
            CKEDITOR.replace("txtpageHelp");
            validateForm('formDeliveryDaysAU');
            bindSettingsData();
             if ('@ViewData["Message"]' != '') {
            if ('@ViewData["Message"]' == 'Success') {
                growlNotification('Update successfull.', 'success', 3000);
            }
            else { growlNotification('@ViewData["Message"]', 'warning', 3000);}
            }
            setTimeout(function () {
                fetchPageData($("#ddlPages"));
            }, 500);

            var dependentDate = '';
            $('#txtPromoFrom').datepicker({
                minDate: new Date(),
                autoClose: true,
                onSelect: function (formattedDate, date, inst) {
                    var datepicker = $('#txtPromoTo').datepicker().data('datepicker');
                    datepicker.clear();
                    datepicker.update('minDate', date);
                },
            });

            $('#txtPromoTo').datepicker({
                minDate: new Date(),
                autoClose: true
            });
        });
    </script>
}
<div class="tab-content view_settings">
    <div class="section full-height">
        <div class="row full-height">
            <div class="col-md-6 col" id="divLeft">
                <div class="flex-column full-height">
                    <div class="well table left-bar bottom-padding">

                        <form>
                            <h2>MANAGE CUT-OFF TIMES</h2>
                            <div class="form-group row">
                                <div class="col-sm-12 col">

                                    <label for="chkAllowPickUp" style="margin-right:11px;">
                                        <input type="checkbox" id="chkAllowPickUp" data-col="AllowPickup" onclick="updateIndividualFeatures(this)">
                                        Allow Pick-ups
                                    </label>
                                    <label for="chkIsPermitSameDay">
                                        <input type="checkbox" id="chkIsPermitSameDay" data-col="IsPermitSameDay" onclick="updateIndividualFeatures(this)">
                                        Permit Same Day Delivery
                                    </label>
                                    <label for="chkLimitOrder">
                                        <input type="checkbox" id="chkLimitOrder" data-col="LimitOrdersTo1Month" onclick="updateIndividualFeatures(this)" />
                                        Orders limited to 1 month in advance
                                    </label>
                                </div>
                            </div>
                            <hr />
                            <div class="form-group row">
                                <label for="staticEmail" class="col-sm-4 col-form-label">Order Cut Off Feature:</label>
                                <div class="col-sm-2 " style="padding: 0;margin-left: -20px;">
                                    <select id="ddlIsAvailable" name="ddlIsAvailable" onchange="showHideCutoffOptions(); updateIndividualFeatures(this)" data-col="IsActive">
                                        <option value="true">Enabled</option>
                                        <option value="false">Disabled</option>
                                    </select>
                                </div>
                                <label for="" class="col-sm-4 col-form-label">Cut Offs Managed by:</label>
                                <div class="col-sm-2" style="padding: 0;margin-left: -20px;">
                                    <select id="ddlSetting" name="" onchange="MasterCutOff(this);" data-col="">
                                        <option value="D">Delivery Runs</option>
                                        <option value="S">Suburbs</option>
                                        <option value="P">Post Codes</option>
                                        <option value="U">Pick Ups</option>
                                    </select>
                                </div>
                            </div>
                            <hr />

                            @Html.Action("_OrderCutOffSection")

                            <div class="form-group row">
                                <div class="col-sm-12 col">
                                    <p class="small no-padding"><em>Note: Mobile orders placed after daily cut-off will automatically apply to the next available order day.</em></p>
                                </div>
                            </div>
                            <hr />
                            <h2>
                                SET ORDER LIMITS:
                            </h2>
                            <div class="form-group row">
                                <div class="col-sm-12 col">
                                    <label class="pull-left col-md-4">Limit Type: &nbsp;</label>
                                    <select class="col-md-4" id="ddlSelectOrderLimitType" onchange="getCutoffData('', this, 'OL')">
                                        <option value="D">Delivery Runs</option>
                                        <option value="S">Suburbs</option>
                                        <option value="P">Post Codes</option>
                                    </select>
                                </div>
                                <div class="col-sm-12 col">
                                    <label class="pull-left col-md-4">Set order limit for: &nbsp;</label>
                                    <select class="col-md-4" id="ddlOrderLimitFor" onchange="setLimit(this)"></select>
                                </div>
                                <div class="col-sm-12 col">
                                    <label class="pull-left col-md-4">Limited To:</label>
                                    <input class="pull-left col-md-4" type="text" maxlength="3" onkeypress="return checkNUmeric(event)" id="txtOrderLimit" value="" style="width:80px" />
                                    <label class="pull-left col-md-2">Orders</label>
                                    <a class="col-sm-2 btn btnClr pull-right" id="btnCutOffTypeSave" onclick="return saveOrderLimitValue()" data-type="U" href="javascript:;" style="width:14%;">Save</a>
                                </div>
                            </div>
                            <hr />
                            <h2>MANAGE PERMITTED DAYS:</h2>
                            <div class="form-group row">
                                @*<label for="staticEmail" class="col-sm-5 blue col col-form-label"></label>*@
                                <div class="col-sm-12 col">
                                    <label class="pull-left col-md-4">Permitted day type:</label>
                                    <select class="col-md-3" id="ddlPermittedDaysType" onchange="showHidePermittedDaysData(this); getCutoffData('', this, 'PD')">
                                        <option value="D">Delivery Runs</option>
                                        <option value="S">Suburbs</option>
                                        <option value="P">Post Codes</option>
                                    </select>
                                    <label class="pull-left col-md-3 pickUp">Permitted from:</label>
                                    <select class="col-md-2 pickUp" id="ddlPermittedDaysFrom"></select>
                                </div>
                                <div class="col-sm-12 col">
                                    <label class="pull-left col-md-4">Permitted days for:</label>
                                    <select class="col-md-3" id="ddlPermittedDaysFor" onchange="GetCutoffPermittedDays()"></select>
                                    <label class="pull-left col-md-3 pickUp">Permitted to:</label>
                                    <select class="col-md-2 pickUp" id="ddlPermittedDaysTo"></select>
                                </div>
                            </div>
                            <div class="form-group days">
                                <label for="staticEmail" class=" blue col-form-label no-padding">Days Orders Are Permitted:</label>
                                <div class="row">
                                    <div class="col-sm-10 col">
                                        <div class="checkbox-field" id="wkDays">
                                        </div>
                                    </div>
                                    <div class="col-sm-2 col margin-top-15">
                                        @*managePermittedDays()*@
                                        <a class="btn btnClr" href="javascript:;" onclick="manageCutoffPermittedDays();" style="width: 100%;">Save</a>
                                    </div>
                                </div>
                            </div>

                            <hr />
                            <h2>MANAGE SAVED ORDERS:</h2>
                            <div class="form-group row">
                                <br /><br />
                                <label for="staticEmail" class="col-sm-8 blue col col-form-label">Auto Saved Order Release:</label>
                                <div class="col-sm-4 col">
                                    <select id="ddlIsAvailable2" name="ddlIsAvailable2">
                                        <option value="true">Enabled</option>
                                        <option value="false">Disabled</option>
                                    </select>
                                </div>
                            </div>

                            <div class="form-group row">
                                <div class="col-sm-3 col">
                                    <select id="ddlAutoOrderType" name="ddlAutoOrderType" onchange="setAutoOrderType(this);">
                                        <option value="W">Weekly</option>
                                        <option value="D">Daily</option>
                                    </select>
                                </div>
                                <div class="col-sm-3 col">
                                    <select id="ddlSelectDays" name="ddlSelectDays"></select>
                                </div>
                                <div class="col-sm-3 col">
                                    <select name="ddlCutoffTime2" id="ddlCutoffTime2"></select>
                                </div>
                                <div class="col-sm-3 col">
                                    <select id="ddlTimeZone2" name="ddlTimeZone2">
                                        <option value="AM">AM</option>
                                        <option value="PM">PM</option>
                                    </select>
                                </div>
                            </div>

                            <div class="form-group row">
                                <div class="col-sm-10 col">
                                    <p class="small no-padding"><em>Note: If Sunday ordering is checked, then only customers that have Sunday ordering enabled will be able to place orders on Sundays.</em></p>
                                </div>

                                <div class="col-sm-2 col">
                                    <a class="btn btnClr" href="javascript:;" onclick="manageAutoOrder();" style="width: 100%;">Save</a>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            <div class="col-md-6 col">
                <div class="flex-column full-height">
                    <div class="well table-auto">
                        <form class="pop-up-form">
                            <h2>INITIAL POP-UP MESSAGE</h2>
                            <fieldset>
                                <div class="pop_massge_text" style="height: 35px;"><p class="popup_edit_padding">Pop Up Message:</p> <a href="javascript:void(0)" onclick="" data-toggle="modal" data-target="#popUpMsgModal" class="btn btnClr pull-right" style="margin-top:-40px;">Edit</a></div>
                                <p style="overflow:auto; width:100%; border: 1px solid #d9d7d7;padding: 5px;height: 138px; margin-bottom:20px;" data-target="#popUpMsgModal" id="txtNoticeMessageTrigger"></p>

                                <div class="modal fade" id="popUpMsgModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                <h2 class="modal-title" id="exampleModalLabel" style="text-align:center;">Pop Up Message</h2>
                                                <textarea id="txtNoticeMessage" name="txtNoticeMessage" class="white-bg" rows="10" cols="70" maxlength="2000"></textarea>
                                            </div>
                                            <div class="modal-footer">
                                                <a href="javascript:void(0)" onclick="saveNotice();" class="btn-secondary pull-right">Update</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </fieldset>
                            <fieldset>
                                <div class="pop_massge_text" style="height: 35px;">
                                    <p class="popup_edit_padding">T&C Message:</p>
                                    <a href="javascript:void(0)" onclick="" data-toggle="modal" data-target="#welcomeMsgModal" class="btn btnClr pull-right" style="margin-top:-40px;">Edit</a>
                                </div>
                                <p style=" overflow:auto; width:100%; border: 1px solid #d9d7d7;padding: 5px;height: 138px;" data-target="#welcomeMsgModal" id="txtWelcomeMessageTrigger"></p>

                                <div class="modal fade" id="welcomeMsgModal" tabindex="-1" role="dialog" aria-labelledby="welcomeMsgModalLabel" aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                <h2 class="modal-title" id="welcomeMsgModalLabel" style="text-align:center;">T&C Message</h2>
                                                <textarea id="txtWelcomeMessage" name="txtWelcomeMessage" type="text" rows="10" cols="70" class="white-bg" maxlength="2000"></textarea>
                                            </div>
                                            <div class="modal-footer">
                                                <a href="javascript:;" onclick="managePopupMessage();" class="btn-secondary pull-right">Update</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </fieldset>
                            <fieldset>
                                <br />
                                <div class="pop_massge_text" style="height: 35px;">
                                    <p class="popup_edit_padding">Page Help text: <label id="lblPageName">Default Pantry</label> </p>
                                    <a href="javascript:void(0)" onclick="" data-toggle="modal" data-target="#pageHelpModal" class="btn btnClr pull-right" style="margin-top:-44px;">Edit</a>
                                </div>

                                <div style="overflow:auto;max-height:300px;width:100%">
                                    <div style="border: 1px solid #d9d7d7;padding: 5px;" id="txtPageHelpModal"></div>
                                </div>

                                <div class="modal fade" id="pageHelpModal" tabindex="-1" role="dialog" aria-labelledby="pageHelpModalLabel" aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                <h2 class="modal-title" id="welcomeMsgModalLabel" style="text-align:center;">Page help text:</h2>
                                                <select onchange="fetchPageData(this)" id="ddlPages">
                                                    <option value="DefaultPantry">Default Pantry</option>
                                                    <option value="SearchPage">Search Page</option>
                                                    <option value="CartPage">Cart Page</option>
                                                    <option value="OrderHistory">Order History</option>
                                                    <option value="Reorder">Reorder</option>
                                                </select>
                                                <textarea id="txtpageHelp" name="txtpageHelp" type="text" rows="10" cols="70" class="white-bg" maxlength="2000"></textarea>
                                            </div>
                                            <br />
                                            <div class="modal-footer">
                                                <a href="javascript:;" onclick="managePageHelp();" style="margin:0" class="btn-secondary pull-right">Update</a>
                                                <br />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </fieldset>
                        </form>
                    </div>

                    @Html.Action("_PromoCodes")

                    <div class="well table-auto">
                        @using (Html.BeginForm("ManageCustomerDays", "Order", FormMethod.Post, new
                        {
                            enctype = "multipart/form-data",
                            id = "formDeliveryDaysAU",
                            @class = "pop-up-form"
                        }))
                        {
                            <h2>BULK UPLOAD AND MANAGE SUBURBS/POST CODES:</h2>
                            <fieldset>
                                <p>
                                    <i>
                                        Download a list of all Australian post codes using the Download Post Code button, then upload your postcodes relevant to your delivery coverage area.
                                        You can manage by postcode or suburbs and set next day, 48 hour and suburb/postcode exceptions.
                                        Any postcode or suburb that is in your exceptions list will not be able to register for mobile or online ordering.
                                    </i>
                                </p>
                                <div class="pading-top-10">
                                    @Html.ActionLink("Download Post Codes", "DownloadPostCodeTemplate", new { type = "P" }, new { style = "background-color:#000000;padding:7px;color: white;font-weight:400;width:30%;", @class = "btn  btnClr" })
                                    @Html.ActionLink("Sample Data", "DownloadPostCodeTemplate", new { type = "U" }, new { style = "background-color:#000000;padding:10px;color: white;font-weight: 400;float:right;font-size:12px;", @class = "btn  btnClr" })
                                    @*<a href="@Url.Action("DownloadPostCodeTemplate","Order")" style="background-color:#d23d44;padding: 7px;color: white;font-weight: 400;">Download Post Codes</a>
                                        <a href="@Url.Action("DownloadPostCodeTemplate","Order")" style="">Download upload sample</a>*@
                                </div>
                                <div class="item pading-top-10">
                                    <label for="fuUploadDeliveryDays" class="file-upload__label btn-primary">Browse</label>
                                    <input id="fuUploadDeliveryDays" class="file-upload__input" type="file" name="fuUploadDeliveryDays" required style="display:none;">

                                    <input type="submit" value="Update" class="btn btnClr pull-right">
                                </div>
                            </fieldset>
                        }
                    </div>
                    <div class="well table-auto">
                        @using (Html.BeginForm("ManageDeliveryRunData", "Order", FormMethod.Post, new
                        {
                            enctype = "multipart/form-data",
                            id = "formDeliveryDaysAU",
                            @class = "pop-up-form"
                        }))
                        {
                            <h2>BULK UPLOAD AND MANAGE DELIVERY RUNS:</h2>
                            <fieldset>
                                <p>
                                    <i>
                                        Download the delivery run details and upload as per the sample sheet given.
                                    </i>
                                </p>
                                <div class="pading-top-10">
                                    @Html.ActionLink("Download Delivery Runs", "DownloadPostCodeTemplate", new { type = "D" }, new { style = "background-color:#000000;padding: 7px;color: white;font-weight: 400;width:30%;", @class = "btn btnClr" })

                                    @Html.ActionLink("Sample Data", "DownloadPostCodeTemplate", new { type = "T" },new
                               { style = "background-color:#000000;padding:10px;" +
                               "color:white;font-weight:400;float:right;font-size:12px;",
                                   @class = "btn btnClr"
                               })
                                    @*<a href="@Url.Action("DownloadPostCodeTemplate","Order")" style="background-color:#d23d44;padding: 7px;color: white;font-weight: 400;">Download Post Codes</a>
                                        <a href="@Url.Action("DownloadPostCodeTemplate","Order")" style="">Download upload sample</a>*@
                                </div>
                                <div class="item pading-top-10">
                                    <label for="fuUploadDeliveryRunData" class="file-upload__label btn-primary">Browse</label>
                                    <input id="fuUploadDeliveryRunData" class="file-upload__input" type="file" name="fuUploadDeliveryRunData" required style="display:none;">

                                    <input type="submit" value="Update" class="btn btnClr pull-right">
                                </div>
                            </fieldset>
                        }
                    </div>
                    <div class="well table-auto">
                        <form class="pop-up-form">
                            <h2>UPLOAD CUSTOMERS TO TRACK ORDERS:</h2>
                            <fieldset>
                                <p><i>Click the upload button to replace all existing customers with the updated new list.<br>(Note it will delete allprevious records)</i></p>
                                <div class="item pading-top-10">
                                    <label for="fuUploadCustomer" class="file-upload__label btn-primary">Browse</label>
                                    <input id="fuUploadCustomer" class="file-upload__input" type="file" name="fuUploadCustomer" style="display:none;">
                                    <input type="submit" value="Update" class="btn btnClr pull-right">
                                </div>
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@Html.Action("_ManagePopups")