﻿@section scripts{

    <script src="@Url.Content("~/Scripts/manageOrderJS.js")"></script>
    <script src="@Url.Content("~/Scripts/datepicker.js")"></script>
    <script>
        $(function () {
            startLoading();
            validateForm('formDeliveryCahrgesAU');
            initScrollbar('divOrderList', 1);
            setTimeout(function () {
                stopLoading();
            }, 200)
            $.ajaxSetup({
                // Disable caching of AJAX responses
                cache: false
            });
        });

        // THE SCRIPT THAT CHECKS IF THE KEY PRESSED IS A NUMERIC OR DECIMAL VALUE.
        function isNumber(evt, element) {

            var charCode = (evt.which) ? evt.which : event.keyCode

            if (
                (charCode != 45 || $(element).val().indexOf('-') != -1) &&      // “-” CHECK MINUS, AND ONLY ONE.
                (charCode != 46 || $(element).val().indexOf('.') != -1) &&      // “.” CHECK DOT, AND ONLY ONE.
                (charCode < 48 || charCode > 57))
                return false;

            return true;
        }

        function GetOrderToEdit(cartID, isPaymentdone) {
            $('#refundbutton').hide();

            if (isPaymentdone == 'undefined' || isPaymentdone == null || isPaymentdone == "") {
                isPaymentdone = false;
                $('#refundbutton').hide();
            }
            else {
                $('#refundbutton').show();
            }

            startLoading();
            $('#divOrderDetail').empty();

            $('#divOrderDetail').load('@Url.Action("_GetOrderToEdit", "Order")', { cartID: cartID, isPaymentDone: isPaymentdone }, function () {
                    $('#modalOrderDetail').modal('show');
                        stopLoading();
                $('#txtOrderDetailDate').datepicker({
                    minDate: new Date(),
                    autoClose: true
                });
            });
        }
        function GetProductsToAdd(cartID) {
            startLoading();
            $('#divAddProducts').load('@Url.Action("_GetProductsToAdd", "Order")', { cartID: cartID }, function () {
                stopLoading();
            });
        }
    </script>
    <style>
        .modal {
            overflow: auto !important;
        }

        table#tblEditOrder th {
            text-align: center !important;
        }
    </style>

}

<div class="tab-content">
    <div class="section full-height">
        <div class="row full-height">
            <div class="col-md-12 col full-height">
                <div class="flex-column full-height">
                    <div class="well table">
                        <div class="pull-left btn-group">
                            @*<a href="javascript:;" class="btn-secondary" onclick="downloadSelectedOrders();">Download</a>*@
                            <a href="javascript:;" onclick="openPartialPage('ModelDeliveryCahrges','_DeliveryCharges/');" class="btn-secondary">Delivery Charges</a>
                            @*<a href="javascript:;" onclick="openPartialPage('ModelDeliveryCahrges','_SelectCurrency/');" class="btn-secondary">Select Currency< />*@
                        </div>
                        <div class="pull-left btn-group" style="margin-left:3px;">
                            <a href="javascript:;" onclick="openPartialPage('ModelDeliveryCahrges','_SelectCurrency/');" class="btn-secondary">Select Currency</a>
                        </div>
                        <div class="pull-left btn-group" style="margin-left:3px;">
                            <a href="javascript:;" onclick="openPartialPage('ModelDeliveryCahrges','_SetAppDiscount/');" class="btn-secondary">Cart Settings</a>
                        </div>
                        <div class="pull-left btn-group" style="margin-left:3px;">
                            <a href="javascript:;" class="btn-secondary" onclick="CheckAndExportOrders('')">Download Orders</a>
                            @*@Html.ActionLink("Download Orders", "DownloadOrders", new { orders = "" }, new { @class = "btn-secondary" })*@
                        </div>
                        <div class="pull-right">
                            <form class="radio-field">
                                <fieldset>
                                    <input type="radio" id="rbByDate" name="radioSearch" value="Date" onchange="GetAllOrders(0);" /><label for="rbByDate">Open Orders(By Date)</label>
                                </fieldset>
                                <fieldset>
                                    <input type="radio" id="rbByCustomer" name="radioSearch" value="Customer" onchange="GetAllOrders(0);" /><label for="rbByCustomer">Open Orders(By Customers)</label>
                                </fieldset>
                                <fieldset>
                                    <input type="radio" id="rbByOrder" name="radioSearch" value="Order" checked="checked" onchange="GetAllOrders(0);" /><label for="rbByOrder">All Orders</label>
                                </fieldset>
                            </form>
                        </div>
                        <div class="pull-right btn-group" style="margin-right:5px;">
                        </div>
                        <div class="clearfix"></div>
                        <input id="hdnAscDesc" type="hidden" value="" />
                        <input type="hidden" id="hdntype" value="" />
                        <div id="divOrderList" class="left-nav">
                            <table class="order-table card-table">
                                <thead class="dataTables_scrollHead">
                                    <tr>
                                        <th width="8.5%">
                                            <div>
                                                <input type="checkbox" id="cbHeader" onchange="checkAll();" /> <label for="cbHeader"><strong>Order no</strong></label>
                                                <a class="toparrowbtn sort-position" onclick="setOrderBy('ASC','rbByOrder');" title="Ascending"><i class="fa fa-sort-asc" aria-hidden="true"></i></a>
                                                <a class="toparrowbtn" onclick="setOrderBy('DESC','rbByOrder');" title="Descending"> <i class="fa fa-sort-desc" aria-hidden="true"></i></a>
                                            </div>
                                        </th>
                                        <th width="9%">
                                            Order Date
                                            <a class="toparrowbtn sort-position" title="Ascending" onclick="setOrderBy('ASC','od');"><i class="fa fa-sort-asc" aria-hidden="true"></i></a>
                                            <a class="toparrowbtn" title="Descending" onclick="setOrderBy('DESC','od');"><i class="fa fa-sort-desc" aria-hidden="true"></i></a>
                                        </th>
                                        <th width="10%">
                                            Delivery Date
                                            <a class="toparrowbtn sort-position" title="Ascending" onclick="setOrderBy('ASC','rbByDate');"><i class="fa fa-sort-asc" aria-hidden="true"></i></a>
                                            <a class="toparrowbtn" title="Descending" onclick="setOrderBy('DESC','rbByDate');"><i class="fa fa-sort-desc" aria-hidden="true"></i></a>
                                        </th>
                                        <th class="text-left" width="11%" style="padding-left:11px;" style="padding-right:2px;">
                                            Customer
                                            <a class="toparrowbtn sort-position" title="Ascending" onclick="setOrderBy('ASC','rbByCustomer');"><i class="fa fa-sort-asc" aria-hidden="true"></i></a>
                                            <a class="toparrowbtn" title="Descending" onclick="setOrderBy('DESC','rbByCustomer');"><i class="fa fa-sort-desc" aria-hidden="true"></i></a>
                                        </th>
                                        <th width="7.5%">Order Value</th>
                                        <th width="7%">Payment</th>
                                        <th width="7%">Invoiced?</th>
                                        @*<th>Post Code</th>*@
                                        <th width="7%">Invoice Value</th>
                                        <th width="7%">
                                            Status
                                            <a class="toparrowbtn sort-position" title="Ascending" onclick="setOrderBy('ASC','st');"><i class="fa fa-sort-asc" aria-hidden="true"></i></a>
                                            <a class="toparrowbtn" title="Descending" onclick="setOrderBy('DESC','st');"><i class="fa fa-sort-desc" aria-hidden="true"></i></a>
                                        </th>
                                        <th width="26%">Action</th>
                                    </tr>
                                </thead>
                                <tbody id="tblbodyList" class="dataTables_scrollBody">
                                    @foreach (var item in ViewBag.Orders)
                                    {

                                        <tr>
                                            <td><div><input type="checkbox" id="@item.OrderID" onchange="checkCount();"> <label for="@item.OrderID">@item.OrderID</label></div></td>
                                            <td>@string.Format("{0:dd-MM-yyyy}", item.CreatedOn)</td>
                                            <td>@string.Format("{0:dd-MM-yyyy}", item.OrderDate)</td>
                                            <td class="text-left" style="padding-left:10px;">@item.CustomerName</td>
                                            <td style="text-align:center">@string.Format("{0:$#,##0.00;($#,##0.00)}", item.ActualPrice)</td>

                                            <td>
                                                @if (item.isRefundDone)
                                                {
                                                    <img src="../Content/images/refund.png" title="Refund Done" onclick="refundpaymentOrder(@item.OrderID, @item.Price, @item.CapturePrice,@item.UserID,@item.CustomerID,1,0);" style="max-width:27px !important;cursor:pointer;" />
                                                }
                                                else if (item.isPaymentDone)
                                                {
                                                    <img src="../Content/images/green-tick.png" title="Payment Done" onclick="refundpaymentOrder(@item.OrderID, @item.Price, @item.CapturePrice,@item.UserID,@item.CustomerID,0,1);" style="max-width:25% !important;cursor:pointer;" />
                                                }
                                                else if (item.isPaymentDone == false && @item.isAuthCount == true)
                                                {
                                                    <img src="../Content/images/not-paid-tick.png" title="Payment Pending" onclick="paymentOrder(@item.OrderID, @item.Price, @item.CapturePrice,@item.UserID);" style="max-width:27% !important;cursor:pointer;" />
                                                }
                                                else
                                                {
                                                    <Text><b>N/A</b></Text>
                                                }
                                            </td>
                                            <td>
                                                <!--Code for dummy images for design changes-->
                                                @if (Math.Round(item.Invoice, 2, MidpointRounding.AwayFromZero).ToString("0.00") == "0.00")
                                                {
                                                    <img src="../Content/images/green-tick.png" style="max-width:25% !important;" />
                                                }
                                                else
                                                {
                                                    <img src="../Content/images/rightarrow.jpg" style="max-width:39px !important;" />
                                                }
                                            </td>
                                            @*<td>@item.PostCode </td>*@
                                            <td style="text-align:center">@string.Format("{0:$#,##0.00;($#,##0.00)}", item.Price)</td>
                                            <td>
                                                @if (item.OrderDate != null && item.OrderDate < DateTime.Today)
                                                {<text>Delivered</text> }
                                            else
                                            { @item.OrderStatus}
                                            </td>
                                            <td>

                                                @*<a href="javascript:;" title="View Order" style="vertical-align:bottom;" data-id="@item.OrderID" data-type="pdf" onclick="downloadOrder(this);">
                                                        <img src="~/Content/images/viewicon.png" height="54" />
                                                    </a>*@

                                                @if (item.isPaymentDone == true)
                                                {

                                                    <a href="javascript:;" onclick="GetOrderToEdit(@item.OrderID,true);" title="Edit" data-id="@item.OrderID"> <img src="../Content/images/editicon.png" height="48" /></a>
                                                }
                                                else
                                                {

                                                    <a href="javascript:;" onclick="GetOrderToEdit(@item.OrderID,false);" title="Edit" data-id="@item.OrderID"> <img src="../Content/images/editicon.png" height="48" /></a>

                                                }
                                                <a href="javascript:;" title="Download Order" data-id="@item.OrderID" data-type="xml" onclick="CheckAndExportOrders(@item.OrderID);"> <img src="../Content/images/downloadicon.png" height="48" /></a>

                                                <a href="javascript:;" title="Invoice" data-id="@item.OrderID" data-type="pdf" onclick="downloadOrder(this);"><img src="../Content/images/invoiceicon.png" height="48" /> </a>

                                                <a href="javascript:;" title="Send" data-email="@item.Email" data-id="@item.OrderID" data-refund="@item.isRefundDone" onclick="setInvoiceValues(this);"> <img src="../Content/images/sendicon.png" height="48" /></a>

                                                <a href="javascript:;" title="Integrate" data-id="@item.OrderID " data-type="" onclick=""> <img src="../Content/images/intigrateicon.png" height="48" /></a>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="ModelDeliveryCahrges"></div>

<div class="modal fade msg-group" id="orderDetailModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" style="overflow-y:auto;">
    <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
    <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><img src="~/Content/images/close.png"></button>
    </div>
    <div class="modal-body login margin">
    <h2>Order Detail</h2>
    <iframe id="ifrmPdfFile" width="100%" height="500px"></iframe>
    </div>
    </div>
    </div>
</div>
<div class="modal fade msg-group" id="modalOrderDetail" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><img src="~/Content/images/close.png"></button>
            </div>
            <div class="modal-body login margin" id="divOrderDetail">
            </div>
            <div class="modal-footer">
                <a href="javascript:;" class="btn-secondary" title="History of Order Changes" style="width:150px; display: inline;" onclick="OtherHistory();">Order History</a>
                <a href="javascript:;" class="btn-secondary" title="Refund" style="display: inline;" id="refundbutton" onclick="return refundpaymentOrderNew();">Refund</a>
                <a href="javascript:;" class="btn-secondary" title="History of Refund" style="width:160px;display: inline;" onclick="RefundHistory()">Refund History</a>
                <a href="javascript:;" class="btn-secondary" title="Upload Order" style="width:100px;" onclick="updateOrderDetails()">Update</a>
            </div>
        </div>a
    </div>
</div>
<div id="modalManagePayment"></div>
@*@Html.Action("_GetOrderToEdit")*@

<div class="modal fade msg-group" id="modalAddProducts" tabindex="-1" style="z-index:99999999;" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><img src="~/Content/images/close.png"></button>
            </div>
            <div class="modal-body login margin" id="divAddProducts">
            </div>
            <div class="modal-footer">
                <a href="javascript:;" class="btn-secondary" title="Add Products" onclick="AddProductsToOrder()">Add</a>
                <a href="javascript:;" class="btn-secondary" title="Cancel" data-dismiss="modal">Cancel</a>
            </div>
        </div>
    </div>
</div>
<div id="modalRefundPayment"></div>
<div id="modalRefundPaymentHistory"></div>
<div id="modalOrderPaymentHistory"></div>
<!-- Modal -->
<div class="modal fade msg-group" id="myModalAlerMessage" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><img src="~/Content/images/close.png"></button>
            </div>
            <div class="modal-body login margin">
                <p id="error" style="font-size:20px !important;font-weight:bold"></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade msg-group" id="sendInvoiceModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" style="overflow-y:auto;">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><img src="~/Content/images/close.png"></button>
            </div>
            <div class="modal-body login">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <i class="fa fa-times" aria-hidden="true"></i>
                    </button>
                </div>
                <h2 class="text-center"><strong>Email address to send the invoice to</strong></h2>
                <input type="hidden" id="hdnInvCartID" value="" />
                <input type="hidden" id="hdnInvRefund" value="" />
                <fieldset class="">
                    <div class="col-sm-12">
                        <label>Send invoice to:<sup>*</sup></label>
                        <input type="text" id="txtInvoiceEmail" required="required" />
                        <span class="help-block">Note: If you want to send to multiple addresses, seperate email with a ;</span>
                    </div>
                </fieldset>
                <fieldset class="mrgin-disply">
                    <div class="col-sm-12 text-center mrgin-disply">
                        <a href="javascript:;" class="btn btnClr" onclick="sendInvoiceByEmail()">Send</a>
                    </div>
                </fieldset>
            </div>
        </div>
    </div>
</div>

<div class="modal fade msg-group" id="modalUpdateAddress" tabindex="-1" style="z-index:99999999;" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><img src="~/Content/images/close.png"></button>
            </div>
            <div class="modal-body login margin" id="UpdateCustomerDeliveryAddress">
                <input type="hidden" id="hdnAddresID" value="" />
                <table width="100%">
                    <tr>
                        <td><b>Delivery Address :</b><sup>*</sup></td>
                        <td> : <input type="text" id="txtDeliveryAddress1" required="required" /></td>
                    </tr>
                    <tr>
                        <td><b>Suburb :</b><sup>*</sup></td>
                        <td> : <input type="text" id="txtSuburb" required="required" /> </td>
                    </tr>
                    <tr>
                        <td><b>PostCode :</b><sup>*</sup></td>
                        <td> : <input type="text" id="txtZIP" required="required" /> </td>
                    </tr>
                </table>
            </div>
            <div class="modal-footer">
                <a href="javascript:;" class="btn-secondary" title="Add Products" onclick="UpdateCustomerDeliveryAddress()">Update</a>
                <a href="javascript:;" class="btn-secondary" title="Cancel" data-dismiss="modal">Cancel</a>
            </div>
        </div>
    </div>
</div>