﻿/*feb02,2019 changes*/
/*FavoriteList */
/*all css*/
.innerpage .content .list-info ul.list.serach-list li a {
    padding: 15px 4px 15px !important;
    line-height: 28px;
}

.innerpage .content .list-info .list {
    margin-bottom: 0px;
}
/*product detail page all css*/
.content .detail-col .detail-bar.productDetail {
    margin: 0px;
    padding: 7px 5px !important;
}

.order-detail-list .tWrap__head tr th {
    font-size: 19px;
}

.order-detail-list table#tblHistory tr td a.invTd {
    font-size: 17px !important;
    text-transform: capitalize;
}
/*++ changes 11/2/2019 ++ history page*/
table#tblHistory tr td a i {
    color: #3abeee;
    font-size: 32px;
}
/*DefaultPantry home page design */
.product-details .btn-group {
    vertical-align: middle !important;
}

.content .detail-col .detail-bar .product-infoBottomLeft .fa-star,
.content .detail-col .detail-bar .product-infoBottomLeft .fa-info-circle.text-dark.protip,
.content .detail-col .detail-bar .inner-bar.bottom-bar .product-info .fa-star,
.content .detail-col .detail-bar .inner-bar.bottom-bar .product-info .fa-info-circle.text-dark {
    font-size: 24px;
    color: #3abeee;
}

.fa.fa-2x.fa-check-circle.text-success {
    color: #a9cb01;
    font-size: 24px;
}

.content .detail-col .detail-bar .product-info ul.info li.heading a {
    color: #3abeee;
}

.product-infoBottomLeft .weekTable .tg tr th {
    color: #000;
    background-color: transparent;
}

.product-infoBottomLeft .weekTable .tg tr td {
    background-color: transparent;
    color: #3abeee;
}

#modalDeliveryDate .datepicker-inline .datepicker,
#modalDeliveryDate .heading {
    clear: left;
    margin: 0 auto;
}

#modalDeliveryDate .add-fav-modal .col-md-12 {
    float: left;
    clear: left;
    width: 100%;
}

.new-modal .modal-footer {
    clear: left;
}

@media (max-width: 1700px) {
    .checkout.innerpage .content .bottom-col .green-border-btn {
        margin: 41px 20px 0;
    }

    .checkout.innerpage .order-detail-list .bottom-col fieldset textarea {
        width: 433px;
    }

    .checkout.innerpage .order-detail-list .bottom-col .inline {
        width: 58%;
    }

    .login-page .footer {
        padding: 0px;
    }

    .login-page .top-logo {
        margin-top: 30px;
    }

    .content .bottom-col {
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .top-container-fluid {
        padding: 5px 30px;
    }

    .content .detail-col .detail-bar .full-product-detail .media .media-body .product-detail ul li,
    .content .detail-col .detail-bar .full-product-detail .media .media-body .price-detail ul li {
        font-size: 18px;
        margin-bottom: 10px;
    }

    .content .detail-col .detail-bar .full-product-detail .media .media-left img {
        width: 200px;
    }

    .home .top-container-fluid {
        margin-bottom: 0px;
    }

    .navigation-small .mani-nav .icon {
        background-size: 35px 26px !important;
        height: 26px !important;
        width: 35px !important;
    }
}

@media (max-width: 1600px) {
    .heading {
        font-size: 21px !important;
        line-height: 30px;
        text-transform: uppercase;
    }

    .content .detail-col .detail-bar .info li {
        font-size: 21px;
        line-height: 30px;
    }

        .content .detail-col .detail-bar .info li:after {
            height: 18px;
            margin: 0 20px;
        }

    .content .nav-tabs li a {
        font-size: 15px;
        line-height: 14px;
        padding: 11px 17px;
    }

    .innerpage .cart-col .filter-form ul.filter-list li label {
        font-size: 16px;
    }

    .innerpage .cart-col .filter-form ul.filter-list .big-box label {
        background-size: 22px;
        background-position: left 90px center;
    }

    .nav-opened .cart-col .filter-form ul.filter-list li label {
        font-size: 10px;
    }

    .innerpage .cart-col .filter-form ul.filter-list li .border-box,
    .innerpage .cart-col .filter-form ul.filter-list li select {
        font-size: 13px;
        padding: 8px 10px;
    }

    #customer ul.detail-list li {
        font-size: 16px;
        line-height: 24px;
    }

    #customer ul.detail-list li {
        font-size: 13px;
        line-height: 16px;
    }

    .info-list .blue-border-btn {
        padding: 10px 20px 8px 15px;
    }

    .main-content-inner {
        float: left;
        width: 95%;
    }

    .checkout.innerpage .order-detail-list .bottom-col fieldset textarea {
        width: 333px;
    }

    .content .detail-col .detail-bar .full-product-detail .media .media-body .product-detail ul li,
    .content .detail-col .detail-bar .full-product-detail .media .media-body .price-detail ul li {
        font-size: 16px;
    }
}

@media (max-width: 1400px) {
    .header #search-form-wrapper .form {
        margin-top: 0px;
    }

    .header #search-form-wrapper .cart {
        margin-top: 6px;
    }

    .header #search-form-wrapper .setting {
        margin-top: 2px;
    }

    #appMain .header .title h1 {
        margin: 6px 0 0;
    }

    .main-content-inner {
        float: left;
        width: 91%;
    }

    .header {
        padding: 15px 0;
    }

    .nav-opened .nav-brand {
        margin-left: 0;
        margin-top: 0;
        width: 150px;
    }

    .nav-brand > img {
        width: 150px;
    }

    .header .brand {
        margin-left: 19px;
        margin-top: 8px;
    }

        .header .brand img {
            width: 122px;
        }

    .header h1 {
        font-size: 30px;
        line-height: 40px;
        margin: 0;
    }

    .header .navbar-toggle .icon-bar {
        width: 30px;
        height: 3px;
    }

        .header .navbar-toggle .icon-bar:before {
            width: 30px;
            height: 3px;
            top: -7px;
        }

        .header .navbar-toggle .icon-bar:after {
            width: 30px;
            height: 3px;
            top: 7px;
        }

    .header .navbar-toggle {
        margin-top: 5px;
    }

    .header .form {
        margin-top: 0;
        right: 123px;
    }

    .header .cart {
        margin-top: 0;
    }

    .header .form fieldset .icon {
        background-position: center right;
        background-size: 25px;
    }

    .header .cart .cart-count {
        background-position: center right;
        background-size: 30px;
    }

    .expanded .header .form fieldset input[type="text"] {
        width: 500px;
    }

    .header .setting {
        margin-left: 15px;
        margin-top: -6px;
        padding: 11px 14px;
    }

        .header .setting .icon {
            background-size: 25px auto;
            height: 25px;
            width: 25px;
        }

        .header .setting .setting-detail {
            top: 47px;
            width: 160px;
        }

            .header .setting .setting-detail li a {
                font-size: 15px;
                padding: 12px;
            }

    .navigation-bar {
        width: 20%;
    }

    .nav-opened .content .main-content {
        width: 80% !important;
    }

    .navigation-bar .navigation .mani-nav li a:before {
        width: 3px;
    }

    .navigation-bar .media {
        padding-top: 15px;
        padding-left: 20px;
        padding-bottom: 15px;
    }

        .navigation-bar .media .media-left {
            width: 55px;
            height: 55px;
        }

            .navigation-bar .media .media-left .thumb img {
                width: 55px;
                height: 55px;
            }

        .navigation-bar .media .media-body h4 {
            font-size: 16px;
            line-height: 20px;
        }

        .navigation-bar .media .media-body p {
            font-size: 14px;
            line-height: 20px;
        }

    .navigation-bar .navigation .mani-nav li a {
        font-size: 15px;
        line-height: 22px;
        padding: 13px 20px 13px 30px;
    }

    .innerpage .portfolio-col .profile-thumb {
        max-width: 120px;
        height: 120px;
        top: -60px;
    }

        .innerpage .portfolio-col .profile-thumb img {
            width: 120px;
        }

    .innerpage .portfolio-col {
        /*margin-top: 60px;
        padding-top: 60px;*/
        max-width: 750px;
    }

        .innerpage .portfolio-col h2 {
            font-size: 30px;
            line-height: 40px;
            margin-bottom: 30px;
        }

        .innerpage .portfolio-col .row {
            margin-top: 20px;
        }

        .innerpage .portfolio-col .detail tr {
            font-size: 22px;
            line-height: 26px;
        }

            .innerpage .portfolio-col .detail tr td {
                padding: 20px 30px;
                width: 150px;
            }

    .heading {
        font-size: 18px !important;
        line-height: 25px;
    }

    .content .main-content {
        padding-bottom: 40px;
    }

    .content .detail-col .detail-bar .info li {
        font-size: 16px;
        line-height: 22px;
    }

        .content .detail-col .detail-bar .info li:after {
            height: 18px;
            margin: 0 10px;
        }

    .content .detail-col .price-col .btn-group .btn small {
        font-size: 15px;
        line-height: 19px;
    }

    .content .detail-col .price-col .btn-group .dropdown-toggle {
        height: 25px;
        margin-left: 10px;
        background-size: 15px;
    }

    .content .nav-tabs li a {
        font-size: 18px;
        line-height: 25px;
        padding: 10px 15px;
    }

    .content .nav-tabs li .number {
        top: -11px;
        width: 25px;
        color: #fff;
        padding: 2px 0;
    }

    .container-fluid {
        padding: 0 40px;
    }

    .content .detail-col .quntity-col .quntity-form input[type="text"] {
        max-width: 45px;
        font-size: 12px;
        line-height: 12px;
        padding: 12px 0;
        border-radius: 4px 0px 0px 4px !important;
    }

    .content .detail-col .quntity-col .quntity-form .btn {
        padding: 7px 8px 7px 3px;
    }

        .content .detail-col .quntity-col .quntity-form .btn .caret {
            margin-right: 5px;
        }

    .content .detail-col .quntity-col .cart {
        margin-left: 10px;
        background-size: 25px;
        background-position: center;
    }

    .content .detail-col .rate-col .star {
        margin-right: 10px;
        background-size: 20px;
        background-position: center;
    }

    .content .detail-col .rate-col .available {
        margin-right: 10px;
        background-size: 20px;
        font-size: 14px;
    }

    .content .detail-col .rate-col .doller {
        background-position: left center;
        width: 14px;
        height: 20px;
        margin-right: 10px;
        background-size: 11px;
    }

    .innerpage .cart-col .filter-form ul.filter-list li label {
        font-size: 12px;
    }

    .content .bottom-col .order-table th {
        font-size: 13px;
        line-height: 18px;
    }

    .content .detail-col .rate-col .wishlist {
        background-size: 20px;
        height: 29px;
        background-position: center;
    }

    .content .detail-col .quntity-col .quntity-form .btn .caret {
        margin-right: 5px;
    }

    .content .detail-col .detail-bar {
        padding: 10px 20px 15px;
    }

        .content .detail-col .detail-bar .bottom-bar {
            padding-top: 15px;
        }

    .innerpage .content .order-history .table tbody tr td {
        font-size: 14px;
        line-height: 18px;
        padding: 15px 10px 15px;
    }

    .innerpage .content .list li a {
        font-size: 14px;
        line-height: 20px;
        padding: 13px 30px 14px !important;
    }

    .content .bottom-col .order-table td:first-child {
        padding: 8px 25px;
    }

    .content .bottom-col .order-table td {
        font-size: 14px;
        line-height: 20px;
    }

    .blue-border-btn {
        font-size: 13px;
        line-height: 20px;
        padding: 8px 20px;
    }

    .green-border-btn {
        font-size: 13px;
        line-height: 20px;
        padding: 8px 20px;
    }

    .content .bottom-col .green-text {
        font-size: 14px;
        line-height: 20px;
    }

    .swipe-left-btn {
        left: 15%;
    }

    .swipe-right-btn {
        right: 15%;
    }

    .content .swipe-left-btn img,
    .content .swipe-right-btn img {
        width: 65px;
    }

    .swipe-wrapper .swipe-left {
        padding: 20px 70px 20px 0;
    }

        .swipe-wrapper .swipe-right p,
        .swipe-wrapper .swipe-left p {
            font-size: 14px;
            line-height: 18px;
            margin-bottom: 0;
        }

            .swipe-wrapper .swipe-right p .icon,
            .swipe-wrapper .swipe-left p .icon {
                margin-bottom: 8px;
            }

        .swipe-wrapper .swipe-right .icon img,
        .swipe-wrapper .swipe-left .icon img {
            width: 25px;
        }

    .content .detail-col .detail-bar .full-product-detail .media .media-left {
        padding-right: 30px;
    }

    .content .detail-col .detail-bar .full-product-detail .media .media-body .product-detail {
        padding-right: 40px;
    }

    .content .detail-col .detail-bar .full-product-detail .media .media-body .price-detail {
        padding-left: 0;
    }

    .innerpage .blue-panel {
        padding: 40px 20px;
    }

        .innerpage .blue-panel .tab-col .nav-tabs li a {
            font-size: 16px;
            line-height: 20px;
            padding: 10px 0;
        }

        .innerpage .blue-panel .tab-col .tab-content .inner-container .comment-form label {
            font-size: 14px;
            line-height: 18px;
        }

        .innerpage .blue-panel .tab-col .nav-tabs li .icon,
        .innerpage .blue-panel .tab-col .nav-tabs li .shipping-link .icon,
        .innerpage .blue-panel .tab-col .nav-tabs li .customer-link .icon {
            background-size: 30px !important;
            height: 24px;
        }

        .innerpage .blue-panel .tab-col .nav-tabs li.active .comment-link .icon,
        .innerpage .blue-panel .tab-col .nav-tabs li.active .shipping-link .icon,
        .innerpage .blue-panel .tab-col .nav-tabs li.active .customer-link .icon {
            background-size: 30px !important;
        }

        .innerpage .blue-panel .tab-col .nav-tabs li .comment-link .icon {
            height: 24px;
        }

        .innerpage .blue-panel .tab-col .nav-tabs li:after {
            height: 50px;
        }

    #shipping .main {
        padding: 15px 0 0px 0;
    }

    #shipping .checkbox-list > li {
        padding: 14px 0 14px 47px;
    }

    p {
        font-size: 14px;
        line-height: 20px;
    }

    h2 {
        font-size: 15px;
        margin-bottom: 15px;
    }

    .innerpage .blue-panel .tab-col .tab-content .inner-container .blue-border-btn {
        font-size: 14px;
        line-height: 17px;
        margin-top: 26px;
        margin-bottom: 18px;
        min-width: 110px;
    }

    .innerpage .blue-panel .tab-col .tab-content .inner-container .comment-form .row .col {
        padding: 10px 45px;
    }

    .innerpage .blue-panel .tab-col .tab-content .inner-container {
        max-width: 960px;
    }

    .innerpage.nav-opened .blue-panel .tab-col .tab-content .inner-container {
        max-width: 700px;
    }

    #customer .inner-container .comment-form .row .col {
        padding: 12px 35px;
    }

    #customer ul.detail-list {
        padding-left: 0px;
    }

    .innerpage .cart-col .filter-form ul.filter-list li .border-box,
    .innerpage .cart-col .filter-form ul.filter-list li select {
        font-size: 12px;
        padding: 0px 8px;
        background-size: 14px;
    }

    .innerpage .cart-col .filter-form ul.filter-list li select {
        background-position: right 6px center;
    }

    .innerpage .order-detail-list .title-bar .list li {
        font-size: 14px;
        line-height: 14px;
        padding: 10px 0;
    }

    .innerpage .order-detail-list .list li {
        padding-top: 10px;
        padding-bottom: 10px;
        font-size: 12px;
        line-height: 18px;
    }

        .innerpage .order-detail-list .list li img {
            width: 18px;
        }

        .innerpage .order-detail-list .list li input[type="text"] {
            font-size: 14px;
            max-width: 90px;
            padding: 5px;
        }

    .innerpage .order-detail-list .bottom-col .order-btn .blue-btn {
        padding: 3px 18px;
    }

    .innerpage .order-detail-list .bottom-col fieldset label {
        line-height: 20px;
        font-size: 16px;
    }

    .innerpage .order-detail-list .bottom-col fieldset textarea {
        font-size: 14px;
        padding: 8px 20px;
    }

    .innerpage.nav-opened .order-detail-list .bottom-col {
        margin: 70px 0;
    }

    .innerpage .content .list li {
        background-size: 12px 14px;
    }

        .innerpage .content .list li a {
            font-size: 16px;
            line-height: 20px;
            padding: 10px 30px 14px;
        }

    .innerpage .content .order-history .table thead tr th {
        font-size: 16px;
    }

    .add-fav-modal label {
        font-size: 16px;
    }

    .add-fav-modal label {
        line-height: 50px;
    }

    .blue-btn {
        font-size: 14px;
        padding: 8px 10px;
    }

        .blue-btn .icon {
            margin-right: 8px;
        }

        .blue-btn img,
        .blue-border-btn img {
            width: 20px;
        }

    .footer {
        padding: 0;
    }

        .footer .nav li a {
            font-size: 14px;
            line-height: 18px;
        }

    .add-fav-modal .form-control.add-to-fav-control {
        padding: 14px 25px;
    }

    .add-fav-modal .add-list-btn {
        min-width: 150px;
        padding: 7px 0 !important;
    }

    .add-fav-modal h4.modal-title {
        font-size: 20px;
    }

    .content .detail-col .detail-bar .full-product-detail .media .media-body h3 {
        font-size: 16px;
        line-height: 20px;
    }

    .content .detail-col .detail-bar .full-product-detail .media .media-body .product-detail ul li,
    .content .detail-col .detail-bar .full-product-detail .media .media-body .price-detail ul li {
        font-size: 15px;
        line-height: 20px;
        margin-bottom: 10px;
    }

    .content .detail-col .detail-bar .full-product-detail .media-left img {
        width: 250px;
    }

    .content .detail-col .detail-bar .full-product-detail .info-list a.blue-border-btn {
        margin-top: 28px;
        display: block;
    }

    .innerpage .cart-col .filter-form ul.filter-list .big-box label {
        background-position: left 70px center;
        background-size: 15px auto;
    }

    .navigation-small .mani-nav li a {
        padding: 25px 20px 25px 30px;
    }

    .navigation-small .mani-nav li a {
        font-size: 17px;
        line-height: 22px;
        padding: 25px 20px 25px 30px;
    }

    .login-page .top-logo img {
        width: 180px;
    }

    .login-page .login-col {
        margin: 30px auto;
        padding: 20px 30px;
    }

        .login-page .login-col h1 {
            font-size: 28px;
            margin: 0 auto 20px;
        }

        .login-page .login-col label {
            font-size: 18px;
        }

    .login-page .powered img {
        width: 160px;
    }

    .login-page .powered p {
        font-size: 14px;
        line-height: 20px;
    }

    .login-page .login-col .form-group {
        margin-bottom: 20px;
    }

    .pantry-list .filter-form ul.filter-list li select {
        font-size: 16px;
        line-height: 22px;
        padding: 8px 40px 8px 10px;
        background-size: 16px;
    }

    .top-container-fluid {
        padding: 15px 40px 15px 20px;
    }

    .pantry-list .filter-form ul.filter-list li {
        margin: 0 10px;
    }

        .pantry-list .filter-form ul.filter-list li p {
            font-size: 18px;
            line-height: 20px;
        }

    .pantry-list .content .detail-col .price-col .btn-group .btn {
        margin-right: 30px;
    }

    .pantry-list .content .detail-col .quntity-col .quntity-form .btn {
        padding: 7px 9px;
    }

    .content .detail-col .detail-bar .green-border-btn,
    .content .detail-col .detail-bar .blue-border-btn {
        width: auto;
        padding: 12px 27px;
    }

    .pantry-list .blue-border-btn .icon img {
        width: 17px;
    }

    .checkout.innerpage .order-detail-list .list li {
        padding: 15px 0px;
    }

        .checkout.innerpage .order-detail-list .list li input[type="text"] {
            border: 1px solid #3abeee;
            color: #3abeee;
            font-size: 20px;
            max-width: 70px;
            padding: 8px;
        }

    .btn-width {
        width: 155px;
    }

    .checkout.innerpage .order-detail-list .bottom-col fieldset textarea {
        padding: 15px;
    }

    .noticboard-modal .check-full-witdh .custom-checkbox label {
        margin: 4px 0;
    }

    .noticboard-modal .custom-checkbox [type="checkbox"]:not(:checked) + label::after,
    .noticboard-modal .custom-checkbox [type="checkbox"]:checked + label::after {
        height: 14px;
        left: 3px;
        top: 4px;
        width: 14px;
        background-size: 14px;
    }

    .navigation-small .mani-nav li a {
        padding: 25px 20px;
    }

    .user-section .user-welcome-txt {
        font-size: 14px;
        padding-left: 10px;
    }

    .innerpage .order-detail-list .list li .left-check-sec {
        font-size: 28px;
    }
}

@media (max-width: 1200px) {
    .content .detail-col .detail-bar .price-info #ddl.selectWidth {
        width: 58px !important;
    }

    .content .detail-col .detail-bar .inner-bar li.heading {
        font-size: 16px !important;
    }
    /**/
    .product-details .btn-group {
        padding: 9px 0px;
    }

    #dateToggle.btn.btn-default {
        font-size: 15px;
    }

    .checkout.innerpage .order-detail-list .list li input[type="text"] {
        font-size: 17px;
        max-width: 41px;
        padding: 8px;
    }

    .selectWidth {
        width: 60px !important;
    }

    .checkout.innerpage .order-detail-list .list .big {
        width: 57%;
    }

    #shipping .inner-container {
        width: 90%;
    }

    .navigation-bar .media .media-left .thumb {
        height: auto;
    }

    .navigation-bar .media .media-body h4 {
        font-size: 14px;
    }

    .navigation-bar .media .media-body p {
        font-size: 12px;
        line-height: 16px;
    }

    .main-content-inner {
        width: 88%;
    }

    .content .detail-col .detail-bar .price-info .green-border-btn {
        margin: 10px 0;
    }

    .header h1 {
        margin: 0px 0 0;
    }

    .navigation-small .mani-nav li a {
        padding: 25px 15px;
    }

    .product-details .content .detail-col .detail-bar .price-info .green-border-btn {
        margin: 0px 0 10px 0;
    }

    .product-details .content .detail-col .quntity-col .quntity-form input[type="text"] {
        padding: 12px 0;
        line-height: 18px;
    }

    .product-details .content .detail-col .quntity-col .quntity-form .btn {
        padding: 10px 13px;
    }

    .user-section {
        margin-left: 18%;
    }

    .checkout.innerpage .order-detail-list .bottom-col fieldset {
        margin: 25px 15px;
    }
}

@media(min-width: 1200px) and (max-width: 1400px) {
    .inner-bar.bottom-bar .pull-right.price-info .green-border-btn,
    .inner-bar.bottom-bar .pull-right.price-info .blue-border-btn {
        padding: 8px 5px;
    }

    .table.table-bordered.text-center.order-table tr th, .table.table-bordered.text-center.order-table tr td {
        font-size: 11px;
    }

    .content .detail-col .detail-bar .inner-bar.bottom-bar .price-info {
        width: 35%;
    }

    .content .detail-col .detail-bar .inner-bar.bottom-bar .product-info {
        width: 65%;
    }

    .content .detail-col .rate-col .star,
    .content .detail-col .rate-col .doller {
        margin-right: 3px;
    }

    .content .detail-col .rate-col .available {
        margin-right: 5px;
        padding-left: 28px;
    }

    .inner-bar.bottom-bar .pull-right.price-info .green-border-btn, .inner-bar.bottom-bar .pull-right.price-info .blue-border-btn {
        padding: 10px 0px !important;
        width: 139px;
        font-size: 14px;
    }

    .stockH {
        vertical-align: super;
    }

    .navigation-bar .navigation .mani-nav li a {
        font-size: 17px;
        line-height: 22px;
        padding: 15px 20px 15px 30px;
    }
}

@media(min-width: 768px) and (max-width: 1199px) {
    .IsProductImg {
        width: 15%;
        float: left;
        overflow: hidden;
    }

    .IsProductViewDetail {
        width: 84%;
        float: right;
    }

    .content .detail-col .detail-bar .inner-bar.bottom-bar .product-info .rate-col {
        float: none;
        text-align: left;
    }

    .stockH {
        vertical-align: super;
    }

    .content .detail-col .detail-bar .product-infoBottomLeft {
        width: 100%;
    }

    .content .detail-col .detail-bar .price-infoBottom {
        width: 100%;
        /*text-align: right;*/
        margin-top: 10px;
    }

    .detail-bar .top-bar {
        width: 100%;
    }

    .content .detail-col .detail-bar .inner-bar.bottom-bar .product-info,
    .content .detail-col .detail-bar .inner-bar.bottom-bar .price-info {
        width: 100%;
    }

    .content .detail-col .pull-right.price-info .quntity-col {
        float: left;
    }

    .content .detail-col .detail-bar .product-info {
        width: 70%;
    }

    .content .detail-col .detail-bar .price-info {
        width: 30%;
    }

    .content .detail-col .quntity-col {
        float: left;
    }
}

@media(max-width: 991px) {
    .checkout.innerpage .order-detail-list .list li {
        padding: 10px 0px;
    }

    .content .nav-tabs li a {
        padding: 8px 6px;
    }

    .checkout.innerpage .order-detail-list .bottom-col fieldset {
        margin: 25px 0;
    }

    .checkout .pull-right.text-right {
        float: left !important;
        width: 100%;
    }

    .innerpage .order-detail-list .list li .left-check-sec {
        font-size: 14px;
    }

    .inner-pdf-sec {
        padding: 30px;
    }

    .navigation-bar {
        width: 55%;
        left: -85%;
    }

    .container-fluid {
        padding: 0 20px;
    }

    .header .container-fluid {
        padding: 0 10px;
    }

    .header .navbar-toggle .icon-bar,
    .header .navbar-toggle .icon-bar:before,
    .header .navbar-toggle .icon-bar:after {
        width: 30px;
    }

    .header .navbar-toggle {
        margin-top: 15px;
    }

    .brand img {
        width: 100px;
        margin-top: 6px;
    }

    .header .form fieldset .icon {
        background-size: 20px !important;
        width: 20px;
    }

    .header span.icon.searchActive {
        margin-top: 8px;
    }

    .header .cart .cart-count {
        background-size: 23px;
        width: 23px;
    }

    .header .cart .detail-cart {
        padding: 20px;
    }

    .expanded .header .form fieldset input[type="text"] {
        width: 120px;
        font-size: 14px;
    }

    .content .main-content {
        padding-top: 26px;
    }

    .content .nav-tabs li a {
        font-size: 15px;
        line-height: 19px;
        padding: 8px 13px;
    }

    .content .detail-col .detail-bar {
        box-shadow: none;
    }

    .heading {
        font-size: 14px !important;
        line-height: 20px;
    }

    .content .detail-col .detail-bar {
        padding: 0px 5px 15px;
    }

        .content .detail-col .detail-bar .info li {
            font-size: 12px;
            line-height: 20px;
        }

            .content .detail-col .detail-bar .info li:after {
                height: 0;
                margin: 0 7px;
            }

    .content .detail-col .rate-col .star {
        margin-right: 5px;
        background-size: 17px;
    }

    .content .detail-col .rate-col .available {
        margin-right: 5px;
        background-size: 17px;
        font-size: 12px;
        padding-left: 25px;
        margin-top: 2px;
    }

    .content .detail-col .price-col .btn-group .btn small {
        font-size: 12px;
        margin: 0;
        display: block;
    }

    .content .detail-col .rate-col .doller,
    .content .detail-col .rate-col .wishlist {
        display: none;
    }

    .content .detail-col .quntity-col .quntity-form input[type="text"] {
        max-width: 34px;
    }

    .content .detail-col .quntity-col .quntity-form .btn .caret {
        margin-right: 1px;
        font-size: 10px;
        line-height: 16px;
    }

    .content .detail-col .detail-bar .product-info {
        width: 60%;
    }

    .content .detail-col .quntity-col .quntity-form .btn {
        font-size: 10px;
    }

    .content .detail-col .quntity-col .cart {
        margin-left: 0px;
    }

    .content .bottom-col .order-table td {
        font-size: 12px;
        line-height: 16px;
    }

        .content .bottom-col .order-table td:first-child {
            padding: 6px 6px;
        }

    .content .bottom-col .order-table.table > tbody > tr > td {
        padding: 7px;
    }

    .content .bottom-col .order-table th {
        display: none;
    }

    .content .bottom-col .green-text {
        font-size: 12px;
        line-height: 20px;
    }

    .blue-border-btn {
        font-size: 12px;
        line-height: 14px;
        padding: 8px 12px;
    }

    .green-border-btn {
        font-size: 12px;
        line-height: 14px;
        padding: 8px 12px;
    }

    .footer .nav li a {
        padding: 17px;
        font-size: 12px;
        line-height: 16px;
    }

    .content .swipe-wrapper .col-sm-6 {
        width: 50%;
        float: left;
    }

    .content .swipe-left-btn img,
    .content .swipe-right-btn img {
        width: 30px;
    }

    .swipe-wrapper .swipe-right p,
    .swipe-wrapper .swipe-left p {
        font-size: 12px;
        line-height: 16px;
    }

    .swipe-wrapper .swipe-left,
    .swipe-wrapper .swipe-right {
        padding: 10px 0px;
    }

        .swipe-wrapper .swipe-right .icon img,
        .swipe-wrapper .swipe-left .icon img {
            width: 20px;
        }

        .swipe-wrapper .swipe-right p,
        .swipe-wrapper .swipe-left p {
            font-size: 10px;
            line-height: 14px;
        }

    .swipe-left-btn,
    .swipe-right-btn {
        margin-top: -20px;
    }

    .swipe-wrapper .swipe-right p,
    .swipe-wrapper .swipe-left p {
        margin-bottom: 10px;
    }

    .innerpage .content .list li a {
        font-size: 14px;
        line-height: 18px;
        padding: 10px 16px 14px;
    }

    .blue-btn img,
    .blue-border-btn img {
        width: 15px;
    }

    .blue-btn {
        font-size: 12px;
        padding: 6px;
    }

    .add-fav-modal h4.modal-title {
        font-size: 16px;
    }

    .add-fav-modal .form-control.add-to-fav-control {
        padding: 10px 15px;
    }

    .add-fav-modal .modal-body {
        padding: 10px 30px;
    }

    .add-fav-modal .fav-check-list-box {
        padding-right: 25px;
        margin-bottom: 20px;
    }

    .add-fav-modal .pull-left {
        padding-left: 30px;
        width: 80%;
    }

    .add-fav-modal label {
        font-size: 14px;
    }

    .custom-checkbox [type="checkbox"]:not(:checked) + label:before,
    .custom-checkbox [type="checkbox"]:checked + label:before {
        width: 1.5em;
        height: 1.5em;
    }

    .custom-checkbox [type="checkbox"]:not(:checked) + label::after,
    .custom-checkbox [type="checkbox"]:checked + label::after {
        left: 0px;
        top: 5px;
        background-size: 13px;
    }

    .add-fav-modal .modal-content {
        padding: 20px 0 0px 0;
    }

    .add-fav-modal .add-list-btn {
        min-width: 122px;
        padding: 0px 0 !important;
    }

    .innerpage .content .order-history .gray-bar {
        margin-top: 25px;
    }

    .innerpage .content .order-history .table thead tr th {
        font-size: 14px;
    }

    .innerpage .content .order-history .table tbody tr td {
        font-size: 13px;
    }

    .innerpage .portfolio-col .profile-thumb {
        max-width: 80px;
        height: 80px;
        top: -50px;
    }

        .innerpage .portfolio-col .profile-thumb img {
            width: 80px;
        }

    .innerpage .portfolio-col {
        margin-top: 15%;
        padding-top: 20px;
        border: none;
        box-shadow: none;
        max-width: 90%;
    }

        .innerpage .portfolio-col h2 {
            font-size: 18px;
            margin-bottom: 10px;
        }

        .innerpage .portfolio-col .detail tr {
            font-size: 13px;
            line-height: 17px;
        }

            .innerpage .portfolio-col .detail tr td {
                padding: 10px;
                width: auto;
            }

        .innerpage .portfolio-col .row:before {
            background: transparent;
        }

    .innerpage .cart-col .filter-form ul.filter-list li {
        padding: 0 5px 20px;
        width: 33%;
    }

        .innerpage .cart-col .filter-form ul.filter-list .big-box,
        .innerpage .cart-col .filter-form ul.filter-list li:nth-child(2) {
            width: 50%;
        }

        .innerpage .cart-col .filter-form ul.filter-list li .border-box,
        .innerpage .cart-col .filter-form ul.filter-list li select {
            font-size: 10px;
            padding: 0px 6px;
            background-size: 12px;
            height: 40px;
        }

    .innerpage .order-detail-list .bottom-col .inline {
        width: 100%;
        display: block;
        margin-bottom: 30px;
    }

    .innerpage .order-detail-list .bottom-col fieldset .cancel-btn {
        display: none;
    }

    .innerpage .order-detail-list .bottom-col fieldset label {
        margin-right: 10px;
    }

    .innerpage .order-detail-list .bottom-col fieldset textarea {
        width: 60%;
    }

    .innerpage .order-detail-list .title-bar .list li {
        font-size: 11px;
        line-height: 14px;
    }

    .innerpage .order-detail-list .list {
        width: 100%;
        overflow: scroll;
    }

    .checkout.innerpage .order-detail-list .list .code {
        width: 22%;
    }

    .innerpage .order-detail-list .list .big {
        width: 20%;
    }

    .innerpage .order-detail-list .list li input[type="text"] {
        font-size: 12px;
        max-width: 70px;
        padding: 3px 5px;
    }

    .innerpage .order-detail-list .bottom-col {
        margin-top: 50px;
    }

    .content .detail-col .detail-bar .swipe-right,
    .content .detail-col .detail-bar .swipe-left {
        padding: 20px 15px;
    }

        .content .detail-col .detail-bar .swipe-right p,
        .content .detail-col .detail-bar .swipe-left p {
            font-size: 12px;
            line-height: 14px;
        }

    .content .detail-col .detail-bar .icon img {
        width: 20px;
    }

    .innerpage .blue-panel {
        padding: 0px;
        border: 1px solid #3abeee;
    }

        .innerpage .blue-panel .tab-col .nav-tabs li .comment-link .icon {
            height: 15px;
        }

        .innerpage .blue-panel .tab-col .nav-tabs li.active .comment-link .icon,
        .innerpage .blue-panel .tab-col .nav-tabs li.active .shipping-link .icon,
        .innerpage .blue-panel .tab-col .nav-tabs li.active .customer-link .icon {
            background-size: 20px !important;
        }

        .innerpage .blue-panel .tab-col .nav-tabs li .icon,
        .innerpage .blue-panel .tab-col .nav-tabs li .shipping-link .icon,
        .innerpage .blue-panel .tab-col .nav-tabs li .customer-link .icon {
            background-size: 20px !important;
            height: 15px;
        }

        .innerpage .blue-panel .tab-col .nav-tabs li a {
            font-size: 12px;
            line-height: 16px;
        }

        .innerpage .blue-panel .tab-col .tab-content .inner-container .comment-form .row .col {
            padding: 0 20px;
            width: 50%;
            float: left;
        }

        .innerpage .blue-panel .tab-col .tab-content .inner-container .comment-form label {
            font-size: 12px;
            line-height: 15px;
        }

        .innerpage .blue-panel .tab-col .tab-content .inner-container .comment-form .pull-right {
            float: left !important;
        }

        .innerpage .blue-panel .tab-col .tab-content .inner-container .comment-form .row .col .pull-right {
            padding-right: 0px;
            padding-left: 10px;
        }

    .blue-panel .custom-checkbox [type="checkbox"]:not(:checked) + label::after,
    .blue-panel .custom-checkbox [type="checkbox"]:checked + label::after {
        left: -1px;
        top: -4px;
    }

    .blue-panel .custom-checkbox [type="checkbox"]:not(:checked) + label:before,
    .blue-panel .custom-checkbox [type="checkbox"]:checked + label:before {
        top: -7px;
    }

    p {
        font-size: 12px;
        line-height: 18px;
    }

    .innerpage .blue-panel .tab-col .tab-content .inner-container .comment-form .comment-section {
        padding: 30px 20px;
        border-top: none;
    }

    .innerpage .blue-panel .tab-col .tab-content {
        border: none;
        padding: 29px 0 20px;
    }

        .innerpage .blue-panel .tab-col .tab-content .inner-container .comment-form .row:before {
            background: transparent;
        }

        .innerpage .blue-panel .tab-col .tab-content .inner-container .blue-border-btn {
            font-size: 12px;
            padding: 5px;
            min-width: 85px;
            margin: 20px 10px 20px 0;
        }

        .innerpage .blue-panel .tab-col .tab-content .inner-container .main {
            border: none;
            box-shadow: none;
        }

    #shipping .inner-container {
        width: 100%;
    }

    h2.tab-heading-text {
        padding-left: 25px !important;
        margin-bottom: 20px !important;
    }

    #shipping .checkbox-list > li {
        padding: 14px 0 14px 25px;
    }

    .innerpage .blue-panel .tab-col .tab-content #shipping .inner-container .checkbox-list label {
        color: #000;
    }

    .blue-panel #shipping .custom-checkbox [type="checkbox"]:not(:checked) + label:before,
    .blue-panel #shipping .custom-checkbox [type="checkbox"]:checked + label:before {
        top: -2px;
    }

    .blue-panel #shipping .custom-checkbox [type="checkbox"]:not(:checked) + label::after,
    .blue-panel #shipping .custom-checkbox [type="checkbox"]:checked + label::after {
        left: -2px;
        top: 2px;
    }

    #customer h2.tab-heading-text {
        padding-left: 0 !important;
        margin-bottom: 20px !important;
        color: #b9b7b7;
        font-size: 13px;
    }

    #customer .inner-container .comment-form .row .col {
        padding: 0px 13px;
    }

    #customer ul.detail-list li {
        font-size: 10px;
        line-height: 13px;
    }

    .border-top {
        border-top: none;
    }

    #customer .detail-list.pull-left {
        width: 54%;
    }

    #customer ul.detail-list {
        margin-top: 0;
    }

    .col-sm-12.inline.text-right {
        clear: both;
    }

    .navbar-toggle.collapsed.navBtnActive {
        background-size: 25px;
    }

    .main-content-inner {
        width: 100%;
    }

    .content .detail-col .quntity-col {
        margin-right: 0;
    }

    .content .detail-col .detail-bar .price-info .green-border-btn {
        margin: 10px 0;
    }

    .header .navBtnActive {
        margin-right: -70px;
    }

    .navigation-small {
        display: none;
    }

    .content .detail-col .detail-bar .green-border-btn,
    .content .detail-col .detail-bar .blue-border-btn {
        width: 145px;
    }

    .new-modal .fav-check-list-box {
        padding-right: 0px;
    }

    .new-modal .select-comment-btn-sec {
        padding-top: 8px;
    }

    .new-modal .delete-btn-sec {
        margin-top: 8px;
    }

    .new-modal .comment-header {
        font-size: 16px;
    }

    .content .main-content::before {
        display: none;
    }

    .pantry-list .bottom-col .blue-border-btn,
    .pantry-list .bottom-col .green-border-btn {
        min-height: 39px;
    }

    .product-details .content .detail-col .quntity-col .quntity-form input[type="text"] {
        line-height: 15px;
    }

    .product-details .content .detail-col .quntity-col .quntity-form .btn {
        padding: 8px 13px;
    }
    /**/
    .checkout.innerpage .order-detail-list .list .big {
        width: 55%;
    }

    .checkout.innerpage .order-detail-list .list li {
        padding: 10px 0px;
    }

    .innerpage .order-detail-list .product-table .list li .selectWidth {
        width: 61px !important;
        text-align: center;
        display: inline;
        height: 30px;
    }

    .checkout.innerpage .order-detail-list .list li input[type="text"] {
        border: 1px solid #3abeee;
        color: #3abeee;
        font-size: 17px;
        max-width: 51px;
        padding: 8px;
    }

    .content .detail-col .quntity-col .quntity-form input[type="text"] {
        max-width: 29px;
    }

    .content .detail-col .quntity-col .quntity-form .btn-group.dropup span {
        font-size: 12px;
        padding: 0px 1px;
    }
}

@media(max-width: 767px) {
    /*new changes 20/2/19*/
    /*    .content .detail-col .detail-bar .inner-bar .product-info {
    width: 100%;
}*/
    .innerpage.product-details .content .detail-col .detail-bar.productDetail .inner-bar.bottom-bar .product-info .rate-col, .innerpage.product-details .content .detail-col .detail-bar.productDetail .inner-bar.bottom-bar .product-info, .innerpage.product-details .content .detail-col .detail-bar.productDetail .inner-bar.bottom-bar .product-info {
        float: left;
        width: 100% !important;
        display: block;
    }

    .content .detail-col .detail-bar .price-info {
        width: auto;
    }

    .header .navbar-toggle {
        margin-top: 10px;
    }

    .detail-bar .IsProductViewDetail .selectWidth {
        width: 48px !important;
        height: 31px;
        padding: 0px;
    }

    .content .detail-col .detail-bar .product-infoBottomLeft .weekTable .tg th {
        padding: 4px 0px;
    }

    .inner-bar.bottom-bar .price-infoBottom .green-border-btn,
    .inner-bar.bottom-bar .price-infoBottom .blue-border-btn {
        width: 94px !important;
        padding: 12px 0px;
        float: right;
        text-align: center;
        margin: 0px 0px 0px 2px;
    }

    .content #indexMain .tab-bar ul.nav-tabs li a {
        font-size: 13px;
        padding: 1px 6px;
    }

    .new-modal .blue-border-btn {
        width: auto;
        padding: 11px 18px;
        min-width: 98px;
        display: inline-block;
    }

    .login-page .login-col {
        padding: 10px 20px;
        width: 90%;
    }

        .login-page .login-col h1 {
            border-bottom: 1px solid #e5e5e5;
            color: #3abeee;
            margin: 5px auto 10px;
            padding: 0 0 6px;
            text-align: center;
            text-transform: uppercase;
            display: inline-block;
            font-size: 20px;
        }

    .header h1 {
        display: none;
    }

    .login-page .login-col label {
        font-size: 14px;
    }

    .login-page .login-col .form-control {
        font-size: 12px;
        height: 35px;
        padding: 6px 15px;
    }

    .login-page .login-col .blue-btn {
        font-size: 14px;
        line-height: 16px;
        padding: 8px 30px;
        margin-top: 10px;
    }

    .login-page .login-col label {
        display: block;
        text-align: left;
    }

    .login-page .top-logo {
        margin-top: 30px;
    }

    .login-page .login-col button {
        width: 43%;
    }

    .header .row #search-form-wrapper {
        width: 45% !important;
    }

    .header .navBtnActive {
        margin: 0 !important;
        float: left;
    }

    .header .brand {
        position: absolute;
    }

        .header .brand img {
            margin: 0px;
        }

    .product-details .content .detail-col .detail-bar .price-info .green-border-btn {
        margin: 10px 0;
    }

    .product-details .detail-col .quntity-col {
        margin-top: 10px;
    }

    .order-detail-list {
        overflow: scroll;
    }

    .checkout.innerpage .order-detail-list .bottom-col .inline {
        width: 100%;
    }

    .content .detail-col .detail-bar .inner-bar.bottom-bar .product-info .rate-col {
        float: none;
    }

    .detail-bar .prduct_img {
        width: 100%;
        float: none;
        text-align: center;
    }

    .IsProductViewDetail {
        width: 100%;
    }

    .content .detail-col .detail-bar .product-infoBottomLeft {
        width: 100%;
    }

    .detail-bar .top-bar {
        width: 100%;
    }

    .content .detail-col .detail-bar .info li::after {
        margin: 0px;
    }

    .content .detail-col .detail-bar .inner-bar.bottom-bar .price-info {
        width: 100%;
        text-align: left;
        border-bottom: 1px solid #eee;
        padding-bottom: 15px;
        float: left !important;
        margin: 10px 0px;
    }

    .content .detail-col .detail-bar .inner-bar.bottom-bar .product-info {
        width: 100%;
        text-align: center;
    }

    .content .main-content {
        padding-bottom: 0px;
    }

    .footer .nav li a {
        padding: 8px;
    }

    .stockH {
        vertical-align: super;
    }

    .saavi_bootom_responsive {
        margin: 0 auto;
    }

    .content .bottom-col {
        text-align: center;
        margin: 0 auto;
    }

        .content .bottom-col .blue-border-btn {
            margin-top: 0px;
        }

    .inner-bar.bottom-bar .pull-right.price-info .green-border-btn,
    .inner-bar.bottom-bar .pull-right.price-info .blue-border-btn {
        width: 96px;
        padding: 12px 0px;
        float: right;
        text-align: center;
        margin: 0px 0px 0px 2px;
    }

    .content .detail-col .detail-bar .price-infoBottom {
        width: 100%;
        text-align: center;
        margin-top: 10px;
    }

    .content .detail-col .detail-bar .green-border-btn, .content .detail-col .detail-bar .blue-border-btn {
        width: auto;
    }

    .content .detail-col .detail-bar .inner-bar:first-child {
        margin-top: 10px;
    }

    .content .detail-col .detail-bar .inner-bar {
        padding-bottom: 0px;
    }

    .stockH {
        vertical-align: super;
    }

    .quntity-col {
        float: left;
    }

    .crtButtons {
        float: right;
    }
    /**/
    .detail-bar .prduct_img {
        width: 100%;
        float: none;
        text-align: center;
    }

    .detail-bar .top-bar {
        width: 100%;
    }

    .content .detail-col .detail-bar .inner-bar.bottom-bar .price-info {
        width: 100%;
        text-align: center;
        border-bottom: 1px solid #eee;
        padding-bottom: 15px;
    }

    .content .detail-col .detail-bar .inner-bar.bottom-bar .product-info {
        width: 100%;
        text-align: center;
    }

    .content .main-content {
        padding-bottom: 0px;
    }

    .footer .nav li a {
        padding: 8px;
    }

    .saavi_bootom_responsive {
        margin: 0 auto;
    }

    .content .bottom-col {
        text-align: center;
        margin: 0 auto;
    }

        .content .bottom-col .blue-border-btn {
            margin-top: 0px;
        }

    .inner-bar.bottom-bar .pull-right.price-info .green-border-btn,
    .inner-bar.bottom-bar .pull-right.price-info .blue-border-btn {
        width: 96px;
        padding: 12px 0px;
    }
    /*feb02,2019 changes*/
    /*cart page changes*/
    .checkout.innerpage .order-detail-list .bottom-col fieldset {
        margin: 0px 0px 32px;
    }

    .checkout.innerpage .order-detail-list .bottom-col .comment_box {
        float: right !important;
    }

    /*MEDIA MAX WIDTH: 767PX  invoice/ history*/
    #invoiceMain.main-content-inner .order-detail-list {
        overflow: hidden;
    }

    .order-detail-list table#tblHistory tr td a.invTd {
        font-size: 14px !important;
        text-transform: capitalize;
    }

    #invoiceMain.main-content-inner .order-detail-list .container-fluid-sm {
        padding: 0 5px;
    }

    .order-detail-list .tWrap__head tr th:first-child, td:first-child {
        padding-left: 5px !important;
    }

    .order-detail-list .tWrap__head tr th {
        font-size: 14px;
        padding: 3px 0px;
    }
    /*product detail page all css*/
    .content .detail-col .detail-bar.productDetail .media-body {
        float: left !important;
        margin-top: 18px;
    }

    .content .detail-col .detail-bar.productDetail .price-info .price-col {
        float: left;
    }

    .content .detail-col .detail-bar .inner-bar.bottom-bar .price-info {
        width: 100% !important;
    }

    .inner-bar.bottom-bar .price-infoBottom .green-border-btn,
    .inner-bar.bottom-bar .price-infoBottom .blue-border-btn {
        width: 96px;
        padding: 12px 0px;
        float: right;
        text-align: center;
        margin: 0px 0px 0px 2px;
    }

    .content #indexMain .tab-bar ul.nav-tabs li a {
        font-size: 13px;
        padding: 1px 6px;
    }

    .new-modal .blue-border-btn {
        width: auto;
        padding: 11px 18px;
        min-width: 98px;
        display: inline-block;
    }

    .product-details .content .detail-col .detail-bar .price-info .green-border-btn {
        margin: 0px 0;
    }

    .product-details .detail-col .quntity-col {
        margin-top: 0px;
    }

    .content .detail-col .detail-bar .inner-bar.bottom-bar .product-info {
        width: 100%;
        text-align: left;
    }

    .checkout.innerpage .order-detail-list .list li input[type="text"] {
        font-size: 16px;
        max-width: 39px;
        padding: 4px 0px;
    }

    .innerpage .order-detail-list .product-table .list li .selectWidth {
        width: 43px !important;
        height: 30px;
    }
}

@media (max-width: 568px) {
    .content .detail-col .detail-bar .price-info .price-col span {
        margin: 0px;
    }

    .header #search-form-wrapper .form {
        right: 0;
        top: 40px;
        margin-top: 7px;
    }

    .header {
        height: 132px !important;
    }

        .header #search-form-wrapper .cart,
        .header #search-form-wrapper .setting {
            margin-top: 0px;
        }

        .header #search-form-wrapper .setting {
            padding-top: 5px;
        }

    .checkout.innerpage .order-detail-list .list .big {
        width: 36%;
    }

    .header .setting,
    .header .cart {
        margin-left: 0px;
    }

    .header .form {
        right: 88px;
    }

    .expanded .header .form fieldset input[type="text"] {
        width: 375px;
        font-size: 14px;
        background: #3abeee;
        position: relative;
        z-index: 1;
        height: 40px;
    }

    .header span.icon.searchActive {
        margin-top: 8px;
        position: absolute;
        right: 0;
        z-index: 1;
    }

    .content .nav-tabs li a {
        padding: 8px 10px;
    }

    .product-details .media-body,
    .product-details .media-left,
    .product-details .media-right {
        display: block;
    }

    .product-details .content .detail-col .detail-bar .full-product-detail .media .media-left {
        padding-right: 0;
        margin-bottom: 15px;
    }

    .product-details .content .detail-col .detail-bar .full-product-detail .media .media-body .product-detail {
        padding-right: 0;
        width: 100%;
    }

    .product-details .content .detail-col .detail-bar .price-info {
        width: 100%;
    }

    .noticboard-modal .modal-footer {
        padding: 10px 20px;
    }

    .noticboard-modal .modal-header {
        padding: 15px 20px;
    }

    .noticboard-modal .modal-body {
        padding: 0 20px !important;
    }

    .noticboard-modal .message-box h5 {
        font-size: 20px;
    }

    .noticboard-modal .message-box p {
        font-size: 16px;
        line-height: 26px;
    }

    .checkout.innerpage .content .bottom-col .green-border-btn {
        margin: 0px 20px 0 0;
        float: left;
    }
}

@media(max-width: 520px) {
    /*feb02,2019 changes*/
    /*cart page changes*/
    .checkout.innerpage .order-detail-list .bottom-col .comment_box,
    .checkout.innerpage .order-detail-list .bottom-col .comment_box #commentHolder {
        width: 100%;
    }

    .checkout.innerpage .order-detail-list .bottom-col fieldset {
        margin: 25px 0;
    }
}

@media(max-width: 480px) {
    .innerpage.product-details .content .detail-col .detail-bar .full-product-detail .media .media-body {
        padding: 0px;
    }

        .innerpage.product-details .content .detail-col .detail-bar .full-product-detail .media .media-body .inner-bar div.pull-left {
            width: 53%;
        }

        .innerpage.product-details .content .detail-col .detail-bar .full-product-detail .media .media-body .inner-bar .pull-right.price-info {
            width: auto;
        }

        .innerpage.product-details .content .detail-col .detail-bar .full-product-detail .media .media-body .inner-bar {
            border-bottom: 1px solid #ccc;
            padding: 15px 0px;
            margin-bottom: 15px;
        }

    .datepicker {
        width: 267px !important;
    }

    .new-modal h4 {
        font-size: 16px;
    }

    .checkout.innerpage .order-detail-list .list li {
        padding: 10px 12px;
    }

        .checkout.innerpage .order-detail-list .list li:nth-child(2) {
            width: 41px;
        }

    .checkout.innerpage .order-detail-list .list .big {
        width: 36%;
    }

    .checkout.innerpage .order-detail-list .list li input[type="text"] {
        font-size: 14px;
        max-width: 31px;
        padding: 4px 0px;
    }

    .innerpage .order-detail-list .product-table .list li .selectWidth {
        width: 29px !important;
        padding: 0px;
        margin: 0px;
        font-size: 12px;
    }

    .detail-bar .prduct_img {
        width: 100%;
        float: none;
        text-align: center;
    }

    .detail-bar .top-bar {
        width: 100%;
    }

    .content .detail-col .detail-bar .info li::after {
        margin: 0px;
        display: none;
    }

    .content .detail-col .detail-bar .inner-bar.bottom-bar .price-info {
        width: 100%;
        text-align: center;
        border-bottom: 1px solid #eee;
        padding-bottom: 15px;
    }

    .content .detail-col .detail-bar .inner-bar.bottom-bar .product-info {
        width: 100%;
        text-align: center;
    }

    .content .main-content {
        padding-bottom: 0px;
    }

    .footer .nav li a {
        padding: 8px;
    }

    .saavi_bootom_responsive {
        /*float: left !important;
        width: 100%;
        text-align: center;*/
        margin: 0 auto;
    }

    .content .bottom-col {
        text-align: center;
        margin: 0 auto;
    }

        .content .bottom-col .blue-border-btn {
            margin-top: 0px;
        }

    .inner-bar.bottom-bar .pull-right.price-info .green-border-btn,
    .inner-bar.bottom-bar .pull-right.price-info .blue-border-btn {
        width: 96px;
        padding: 12px 0px;
    }
    /**/
    .detail-bar .prduct_img {
        width: 100%;
        float: none;
        text-align: center;
    }

    .IsProductViewDetail {
        width: 100%;
    }

    .detail-bar .top-bar {
        width: 100%;
    }

    .content .detail-col .detail-bar .info li::after {
        margin: 0px;
    }

    .content .detail-col .detail-bar .inner-bar.bottom-bar .price-info {
        width: 100%;
        text-align: center;
        border-bottom: 1px solid #eee;
        padding-bottom: 15px;
    }

    .content .detail-col .detail-bar .inner-bar.bottom-bar .product-info {
        width: 100%;
        text-align: center;
    }

    .content .main-content {
        padding-bottom: 0px;
    }

    .footer .nav li a {
        padding: 8px;
    }

    .saavi_bootom_responsive {
        margin: 0 auto;
    }

    .content .bottom-col {
        text-align: center;
        margin: 0 auto;
    }

        .content .bottom-col .blue-border-btn {
            margin-top: 0px;
        }

    .inner-bar.bottom-bar .pull-right.price-info .green-border-btn,
    .inner-bar.bottom-bar .pull-right.price-info .blue-border-btn {
        width: 96px;
        padding: 12px 0px;
        float: right;
        text-align: center;
        margin: 0px 0px 0px 2px;
    }

    .content .detail-col .detail-bar .product-infoBottomLeft {
        width: 100%;
    }

    .rateColK {
        width: 100%;
        /*float: left;*/
    }

    .weekTable {
        width: 100%;
        margin-top: 10px;
        /*float: right;*/
    }

    .content .detail-col .detail-bar .price-infoBottom {
        width: 100%;
        text-align: center;
        margin-top: 10px;
    }

    .content .detail-col .detail-bar .inner-bar:first-child {
        margin-top: 10px;
    }

    .content .detail-col .detail-bar .inner-bar {
        padding-bottom: 0px;
    }

    .stockH {
        vertical-align: super;
    }

    .detail-bar .top-bar {
        width: 100%;
    }

    .content .detail-col .detail-bar .info li::after {
        margin: 0px;
    }

    .content .detail-col .detail-bar .inner-bar.bottom-bar .price-info {
        width: 100%;
        text-align: left;
        border-bottom: 1px solid #eee;
        padding-bottom: 15px;
        float: left !important;
        margin: 10px 0px;
    }

    .content .detail-col .detail-bar .inner-bar.bottom-bar .product-info {
        width: 100%;
        text-align: center;
    }

    .content .main-content {
        padding-bottom: 0px;
    }

    .expanded .header .form fieldset input[type="text"] {
        width: 300px;
    }

    .pantry-list .filter-form {
        padding: 15px 0;
    }

        .pantry-list .filter-form ul.filter-list li select {
            margin-bottom: 15px;
        }
}

@media (max-width: 400px) {
    .container-login100 {
        padding: 10PX;
    }

    .content .bottom-col .blue-border-btn {
        display: block;
        margin-top: 10px;
        margin-bottom: 17px;
    }

    .new-modal .check-label-box.select-comment-lft-sec,
    .new-modal .comment-header .comment-lft-header {
        width: 67%;
        padding-left: 15px;
    }

    .new-modal .comment-header .comment-rt-header,
    .new-modal .select-comment-btn-sec {
        width: 33%;
    }

        .new-modal .comment-header .comment-rt-header .add-col,
        .new-modal .left-check-sec {
            width: 36%;
        }

        .new-modal .comment-header .comment-rt-header .delete-col,
        .new-modal .delete-btn-sec {
            width: 64%;
        }

    .new-modal .comment-header {
        font-size: 14px;
    }

    .header span.icon.searchActive {
        position: absolute;
    }

    .header .brand {
        margin-left: 15px;
    }

        .header .brand img {
            height: 30px;
            width: auto;
        }

    .expanded .header .form fieldset input[type="text"] {
        width: 243px;
    }

    .checkout.innerpage .order-detail-list .bottom-col fieldset textarea {
        width: 100%;
    }
}

@media (max-width: 360px) {
    .footer .nav li a {
        padding: 10px;
        font-size: 12px;
        line-height: 16px;
    }

    .header .cart .detail-cart {
        width: 200px;
    }

    .expanded .header .form fieldset input[type="text"] {
        width: 186px;
    }
}