﻿
<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width" />
    <meta name="format-detection" content="telephone=no" />
    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab:300,400|Roboto:300,400,500,700" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/css/bootstrap.min.css")" media="screen">
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/css/stylesPOD.css")" media="screen">
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/css/jquery.mCustomScrollbar.min.css")" />
    <link href="~/Content/css/bootstrap-datepicker.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="@Url.Content("~/Content/css/jquery-confirm.min.css")" rel="stylesheet" />
    @*<link href="~/Content/css/jkanban.min.css" rel="stylesheet" />*@
    <title>@System.Configuration.ConfigurationManager.AppSettings["WEBSITE_NAME"] POD | @ViewBag.Title</title>
</head>
<body class="main">
    <div class="canvas">
        <div class="outer-header" id="outerHeader">
        </div>
        <div class="inner-body">
            <div class="container-fluid">
                <div class="navbar navbar-static-top bs-docs-nav" role="banner">
                    <div class="navbar-header">
                        <button id="nav-toggle" class="navbar-toggle collapsed back-to-top" data-toggle="#form" type="button">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                        </button>
                    </div>
                    <nav id="bs-navbar" class="">
                        <div class="navigation" id="navigation">
                            <ul class="nav navbar-nav" id="mainNav">
                                <li data-href="home">
                                    <a href='@Url.Action("Dashboard","Home")'><img src="~/Content/images/dashboard.png"></a>
                                    <div class="tab">
                                        <div class="pull-left">
                                            <h1>Dashboard</h1>
                                        </div>
                                        <div class="pull-right">
                                            <div class="search">
                                                <fieldset id="deliveries-pick-date_icons">
                                                    <input id="txtDashboardSearch" name="txtDashboardSearch" type="text" placeholder="Search by vehicle" />
                                                    <input id="btnDashboardSearch" name="btnDashboardSearch" type="submit" onclick="GetVehiclesDeliveryStatus();" />
                                                </fieldset>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li data-href="driver">
                                    @Html.ActionLink("MANAGE DRIVERS", "ManageDrivers", "Driver")
                                    <div class="tab">
                                        <div class="pull-left">
                                            <h1>Manage Drivers</h1>
                                            <div class="btn-group" id="divdrivermenu">
                                                <a data-href="managedrivers" href="@Url.Action("ManageDrivers","Driver")" class="btn-border active">Drivers</a>
                                                <a data-href="managevehicle" href="@Url.Action("ManageVehicle","Driver")" class="btn-border">Vehicles</a>
                                            </div>
                                        </div>
                                        <div class="pull-right">
                                            <div class="search">
                                                <fieldset id="deliveries-pick-date_icons1">
                                                    <input id="txtDriverSearch" name="txtDriverSearch" type="text" placeholder="Search By Drivers" />
                                                    <input id="btnDriverSearch" name="btnDriverSearch" type="submit" data-type="d" onclick="GetAllDriVeh(this);" />
                                                </fieldset>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li data-href="deliveries">
                                    @Html.ActionLink("DELIVERIES", "DeliveriesByDriver", "Deliveries")
                                    <div class="tab">
                                        <div class="pull-left">
                                            <h1>Deliveries</h1>
                                            <div class="btn-group" id="divDLmenus">
                                                <a data-href="deliveries" href='@Url.Action("DeliveriesByDriver","Deliveries")' class="btn-border  active">View</a>
                                                <a data-href="issues" href='@Url.Action("Issues","Deliveries")' class="btn-border">Issues</a>
                                                <div class="input-group date hidden" data-provide="datepicker" id="divDelDate">
                                                    <input id="txtPickDeliveryDate" name="txtPickDeliveryDate" type="text" class="form-control datepicker" placeholder="pick deliveries date" onchange="GetSearchedOrderList();">
                                                    <div class="input-group-addon" id="deliveries-pick-date_icons">
                                                        <i class="fa fa-calendar-check-o" aria-hidden="true"></i>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="pull-right">
                                            <div class="search">
                                                <fieldset id="deliveries-pick-date_icons">
                                                    <input id="txtDeliverySearch" name="txtDeliverySearch" type="text" placeholder="Search deliveries by customer name" />
                                                    <input id="btnDeliverySearch" name="btnDeliverySearch" type="submit" onclick="GetCustomers();" />
                                                </fieldset>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li data-href="tracking">
                                    @Html.ActionLink("TRACKING", "Tracking", "Tracking")
                                    <div class="tab">
                                        <div class="pull-left">
                                            <h1>Tracking</h1>
                                        </div>
                                        <div class="pull-right">
                                            <div class="search">
                                                <fieldset id="deliveries-pick-date_icons">
                                                    <input id="txtTrackSearch" name="txtTrackSearch" type="text" placeholder="Search by vehicle" />
                                                    <input type="submit" onclick="GetAllVehicle();" />
                                                </fieldset>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li data-href="message">
                                    @Html.ActionLink("MESSAGES", "SendMessage", "Message")
                                    <div class="tab">
                                        <div class="pull-left">
                                            <h1>Messages</h1>
                                        </div>
                                        <div class="pull-right">
                                            <div class="search">
                                                <fieldset id="deliveries-pick-date_icons">
                                                    <input id="txtMessageSearch" name="txtMessageSearch" type="text" placeholder="Search By Driver" />
                                                    <input type="submit" onclick="GetAllDriver();" />
                                                </fieldset>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </nav>
                </div>
                <div class="content">
                    @RenderBody()
                </div>
            </div>
        </div>
        <div id="divLoading" style="display:none;">
            <img src="~/Content/images/loading.gif" height="50" />
        </div>
    </div>

    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">

    @*<script type="text/javascript" src="@Url.Content("~/Scripts/main_script.js")"></script>
        <script type="text/javascript" src="@Url.Content("~/Scripts/bootstrap.min.js")"></script>
        <script type="text/javascript" src="@Url.Content("~/Scripts/tableHeadFixer.js")"></script>
        <script type="text/javascript" src="@Url.Content("~/Scripts/scripts.js")"></script>*@
    @Scripts.Render("~/Scripts")
    <script src="@Url.Content("~/Scripts/stacktable.min.js")"></script>
    @RenderSection("podScripts", required: false)
    <script>
        $(function () {
            var controller = '@HttpContext.Current.Request.RequestContext.RouteData.Values["controller"].ToString().ToLower()';
           var action = '@HttpContext.Current.Request.RequestContext.RouteData.Values["action"].ToString().ToLower()';
           $('ul#mainNav li').each(function () {
                if (action != 'dashboard') {
                    $('body').removeClass();
                }
                if ($(this).data('href').toLowerCase() == controller) {
                    $(this).addClass('active');
                }
                if (controller === 'deliveries') {
                    $('#divDelMenus').find('a').removeClass('active');
                    $('#divDelMenus').find('a[data-href="' + action + '"]').addClass('active');
                    if (action == "issues" || action == "issuesbyinvoice") {
                        $('#divDLmenus').find('a').removeClass('active');
                        $('#divDLmenus').find('a[data-href="issues"]').addClass('active');
                    }
                }
                if (controller === 'driver') {
                    $('#divdrivermenu').find('a').removeClass('active');
                    $('#divdrivermenu').find('a[data-href="' + action + '"]').addClass('active');
                }
           });
           $("#outerHeader").load('@Url.Action("_TopHeader","Home")');

           //$('.datepicker').datepicker({
           //    startDate: '-d',
           //    autoclose: true

           //});
           $('.card-table').cardtable();
          $("#divDelDate").hide();
            //
           $(".tab div.search input[type='text']").on('keyup', function (e) {          
               if (e.keyCode == 13) {
                   $(this).next("input[type='submit']").click();
               }
           });
        });        
    </script>
</body>
</html>
