﻿@model DataModel.BO.AuthData


<div class="header">
    <div class="pull-left">
        <a class="logo" href="@Url.Action("Dashboard","Home")"><img src="~/Content/images/logo.png"></a>
    </div>
 <div style="float:left;"><h1 style="padding-top:15%;">PROOF OF DELIVERY</h1></div>
    @*<h1 class="delivery_text-header">PROOF OF DELIVERY</h1>*@
    <div class="pull-right">
        @using (Html.BeginForm("LogOff", "../Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
        { }
        <div class="client">
            <h3 id="user">@Model.Name</h3>
            <ul id="toggle-div">
                @*<li><a href="#">Profile</a></li>*@
                <li><a href="javascript:document.getElementById('logoutForm').submit()">Logout</a></li>
            </ul>
        </div>
    </div>
    <div class="break"></div>
</div>
<script>
    $("#user").click(function () {
        $("#toggle-div").slideToggle(),
            $(this).toggleClass("active"),
            $("#toggle-div li a").on("click", function () {
                $("#toggle-div").slideUp()
            });
    });
</script>


