﻿<script>
    $(function () {
        //var fieldChooser = $("#fieldChooser").fieldChooser();
        //fieldChooser.on("listChanged", function (event, selection, list) {
        //    alert("listChanged");
        //});

        //  console.log(localStorage.getItem('dVal', '1'));
        //  if (localStorage.getItem('dVal', '1') == 1) {
        //   setTimeout(function () {
        var $sourceFields = $("#sourceFields");
        var $destinationFields = $("#destinationFields");

        // console.log(sourceFields, destinationFields)
        var $chooser = $("#fieldChooser").fieldChooser(sourceFields, destinationFields);
        // $("#fieldChooser").fieldChooser(sourceFields, destinationFields).destroy();
        // var $chooser = $("#fieldChooser").fieldChooser(sourceFields, destinationFields);
        //  }, 500);
        //   }

        localStorage.removeItem('dVal');
        var li = $("#sourceFields").find('div').eq(0);
        GetOrderShortDetail(li);
    });
</script>

@if (ViewBag.AssignedOrders.Count > 0)
{
    int i = 0;
    foreach (var item in ViewBag.AssignedOrders)
    {
        <div id="div_@item.OrderID" class="outer fc-field @(i==0?"active":"")" data-id="@item.OrderID" onclick="GetOrderShortDetail(this);">
            <span class="head @(item.IsDelDateCrossed==true?"blue":"")">
                <str>
                    <strong>@item.OrderID </strong> <span>|</span><span id="spn@(item.OrderID)">@(Convert.ToDateTime(item.DeliveryDate).ToShortDateString())</span><span>|</span><strong>  @item.RunNo</strong> <span>|</span><br /> @item.CustomerName
                </str>
            </span>   <a class="btn-info btn-sm blue-bg pull-right" style="padding:1px 3px;" data-id="@item.OrderID" data-deldate="@(Convert.ToDateTime(item.DeliveryDate).ToShortDateString())" onclick="setOrderDelDate(this);"><i data-toggle="tooltip" data-placement="top" title="Change delivery date" class="fa fa-calendar fa-2x"></i></a>
            <span style="clear:both;height:0;"></span>
        </div>
        i++;
    }
}
else
{
    <span class="spnNoRecord"> No record found!</span>
}
