﻿@if (ViewBag.AssignedOrders.Count > 0)
{
    foreach (var item in ViewBag.AssignedOrders)
    {
        <div id="div_@item.OrderID" class="outer fc-field" data-id="@item.OrderID">
            <span class="head @(item.IsDelDateCrossed==true?"blue":"")">
                <str>
                    <strong>@item.OrderID </strong> <span>|</span><span id="spn@(item.OrderID)">@(Convert.ToDateTime(item.DeliveryDate).ToShortDateString())</span><span>|</span><strong>  @item.Suburb</strong> <span>|</span><br /> @item.CustomerName
                </str>
            </span>   <a class="btn-info btn-sm blue-bg pull-right" style="padding:1px 3px;" data-id="@item.OrderID" data-deldate="@(Convert.ToDateTime(item.DeliveryDate).ToShortDateString())" onclick="setOrderDelDate(this);"><i data-toggle="tooltip" data-placement="top" title="Change delivery date" class="fa fa-calendar fa-2x"></i></a>
            <span style="clear:both;height:0;"></span>
        </div>
    }
}
else
{
    <span class="spnNoRecord"> No record found!</span>
}