﻿<script>

    $(function () {
        var li = $("#liAssignedDrivers").find('li').eq(0);
     //   GetAssignedOrders(li);

    });
</script>


@if (ViewBag.AssignedDrivers.Count > 0)
{
    int i = 0;
    foreach (var item in ViewBag.AssignedDrivers)
    {
        <li class="outer @(i==0?"active":"")" data-id="@item.ID" data-run="@item.RunNo" data-driver="@item.Name" data-vehicle="@item.VehicleNo" onclick="setActiveDriver(this);">
            <a href="javascript:;" class="head">@item.VehicleNo  <span>|</span> @item.Name</a>
        </li>
        i++;
    }
}
else
{ <span> Please add vehicle and assign to the driver!</span>}
