﻿<script>
    $(function () {
        var li = $("#liCustomer").find('li').eq(0);
        var actionname = window.location.pathname.split('/').pop().toLowerCase();
        console.log(actionname);
        if (actionname == "issues" || actionname == "issuesbyinvoice") {
            GetOrderHasIssue(li);
            $("#liCustomer").find('li').attr('onclick', 'GetOrderHasIssue(this)');
        } else { GetOrderList(li); }
    });
</script>

@{ int i = 0;
    if (ViewBag.Customer.Count > 0)
    {
        foreach (var item in ViewBag.Customer)
        {
            <li class="outer @(i == 0 ? "active" : "")" data-id="@item.CustomerID" onclick="GetOrderList(this);"><a href="javascript:;" class="head">@item.CustomerName</a></li>
            i++;
        }
    }
    else
    { <span>No record found!</span>}
}
