﻿<div class="top-bar">
    <a href="#toggle-div1" id="user1">Categories</a>
    <div id="toggle-div1">
        <div class="pull-left">
            <div class="btn-group" role="tablist" id="divDelMenus">
                <a data-href="warehouse" href="@Url.Action("Warehouse","Deliveries")" class="btn-primary large active">By Warehouse</a>
                <a data-href="deliveriesbydriver" href="@Url.Action("DeliveriesByDriver","Deliveries")" class="btn-primary large active">By Driver</a>
                <a data-href="deliveries" href="@Url.Action("Deliveries", "Deliveries")" class="btn-primary large active">By Customers</a>
                <a data-href="deliveriesbyinvoice" href="@Url.Action("DeliveriesByInvoice", "Deliveries")" class="btn-primary large">By Invoice</a>
                <a data-href="podcopy" href="@Url.Action("PODcopy", "Deliveries")" class="btn-primary large">POD copy</a>
                <a href="javascript:;" class="btn-primary large">Reports</a>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
</div>