﻿
<script>
    $(document).ready(function () {
        var owl = $('.owl-carousel');
        //var amountHeaderImages = slider.find('img').length;
        owl.owlCarousel({
            margin: 10,
            autoplay: true,
            autoplayTimeout: 3000,
            nav: true,
            //loop: (amountHeaderImages > 3),
            responsive: {
                0: {
                    items: 1
                },
                600: {
                    items: 3
                },
                1000: {
                    items: 8
                }
            }
        })
        $(".owl-prev").html('<i class="fa fa-chevron-left"></i>');
        $(".owl-next").html('<i class="fa fa-chevron-right"></i>');
    });
</script>
<div class="owl-carousel owl-theme">
    @foreach (var item in ViewBag.DeliveryImages)
    {
        <div class="item">
            <img src="@item.BaseUrl@item.ImageName" />
        </div>
    }
    @*<div class="item">
        <img src="~/Content/images/images.jpg" />
    </div>
    <div class="item">
        <img src="~/Content/images/driver-photo.jpg" />
    </div>
    <div class="item">
        <img src="~/Content/images/images.jpg" />
    </div>
    <div class="item">
        <img src="~/Content/images/driver-photo.jpg" />
    </div>
    <div class="item">
        <img src="~/Content/images/images.jpg" />
    </div>*@
</div>
