﻿
<div class="top-bar">
    <a href="#toggle-div1" id="user1">Categories</a>

    <div id="toggle-div1">
        <div class="pull-left">
            <div class="btn-group" role="tablist" id="divDelMenus">
                <a data-href="issues" href="@Url.Action("Issues", "Deliveries")" class="btn-primary large active">By Customers</a>
                <a data-href="issuesbyinvoice" href="@Url.Action("IssuesByInvoice", "Deliveries")" class="btn-primary large">By Invoice</a>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
</div>
