﻿<script>
    $(function () {
        console.log('runno', localStorage.getItem('runno'));
        if (localStorage.getItem('runno') != "" && localStorage.getItem('runno') != null) {
            $("#ddlRunNo").val(localStorage.getItem('runno'));
            localStorage.removeItem('runno');
        }
        getOrdersByActiveDriver();


        setTimeout(function () {
            GetUnassignedOrders();
        }, 500);


    });
</script>
<div class="col-md-3 col full-height">
    <div class="flex-column full-height height-bg">
        <div class="well table">
            <a class="btn-secondary medium-btn pull-right" href="javascript:;" onclick="openPartialPage('divManageReassignOrder','_ReassignOrders')">Re-Assign</a>
            <h2>Assigned Invoice</h2>
            <div class="existing-vehicles light">
                <div id="sourceFields" data-type="" class="ddorderList" style="overflow-x:hidden;width:auto; height:470px;" tabIndex="1">
                </div>
            </div>
        </div>
    </div>
</div>
<div class="col-md-3 col full-height">
    <div class="flex-column full-height height-bg">
        <div class="well table">
            <h2>Unassigned Invoice</h2>
            <fieldset>
                <label style="font-weight:normal;display:inline;" id="lblDriver"></label>
                <label style="font-weight:normal;display:inline;float:right" id="lblRun"></label>

                <label style="font-weight:normal" id="lblVehicle"></label>
                @*<select id="ddlRunNo" name="ddlRunNo" class="select_drop-down" onchange="setRunNo(this);">
            <option value="">Run No</option>
            @foreach (var item in ViewBag.RunNoList)
            {
                <option>@item.Text</option>
            }
        </select>*@
            </fieldset>
            <div class="existing-vehicles" style="width: 100%;float: left;">
                <div id="" class="">
                    @*<span class="inassigner-invoice"><strong>Invoice</strong><span>|</span>Delivery Date<span>|</span><strong>Customer</strong> <span>|</span>Run No.</span>*@
                    <div id="destinationFields" class="ddorderList" data-type="" style="overflow:hidden;overflow-y:auto; height:400px;">
                        @*<div id="liUnassignedOrders"></div>*@
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

