﻿@model DataModel.BO.DeliveryDateBO

<link href="~/Content/css/bootstrap-datepicker.min.css" rel="stylesheet" />
<script src="~/Scripts/bootstrap-datepicker.min.js"></script>
<script>
    $(function () {
        $("#modalManageDelDate").modal('show');
        validateForm('formDelDateU');
        $('.datepicker').datepicker({
            startDate: '-d',
            format: 'dd/mm/yyyy',
            autoclose: true
        });
    });
    function SuccessMethod(res) {
        if (res == "Success") {
            $("#modalManageDelDate").modal('hide');
            $('span').find("#spn" + $("#orderID").val()).each(function (key, val) {               
                $(val).html($("#DeliveryDate").val());
                $(val).parent('str').parent('span.blue').removeClass('blue');
            });            
            growlNotification("Delivery date updated successfully", "success", 3000);
        } else { growlNotification(res, "warning", 3000); }
    }
</script>
<div class="modal fade" id="modalManageDelDate" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" style="z-index:9999">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <i class="fa fa-times close" data-dismiss="modal" aria-label="Close"></i>
            </div>
            @using (Ajax.BeginForm("ManageDelDate", "Deliveries", new AjaxOptions
            {
                HttpMethod = "Post",
                OnSuccess = "SuccessMethod",
                OnBegin = "startLoading",
                OnComplete = "stopLoading"
            }, new
            {
                id = "formDelDateU"
            }))
            {
                @Html.HiddenFor(m=>m.orderID)
                <div class="modal-body">
                    <h2><strong>Manage Delivery Date</strong></h2>
                    <fieldset>
                        <label>Order No: <b>@Html.DisplayTextFor(m=>m.orderID)</b></label>
                        <label class="hidden">Previous Delivery Date: <b> @Html.DisplayTextFor(m=>m.PrevDeliveryDate)</b></label>
                    </fieldset>
                    <fieldset>
                        <label><sup>*</sup>Select Delivery Date:</label>
                        @Html.TextBoxFor(m => m.DeliveryDate, new {@class="form-control datepicker", placeholder = "Select Deliveries Date", required= "required" })
                    </fieldset>
                </div>
                <div class="modal-footer">
                    <fieldset>
                        <input type="submit" value="Update" class="btn-primary" />
                    </fieldset>
                </div>
            }
        </div>
    </div>
</div>
