﻿@model DataModel.BO.DeliveryDetailBO
@{
    Layout = null;
}
<script>
    $(function () {
        if ($("#spnStatus").html() == "Cancelled") {
            $("#spnStatus").addClass('red_comment');
        }
        if ($("#spnHasIssue").html() > 0) { $("#spnHasIssue").addClass('red_comment'); }
    })
</script>
<h2>Delivery Details</h2>
<div class="row separator customer-detail">
    @Html.HiddenFor(m => m.DeliveryID)
    <div class="col-md-6">
        <table class="table-space">
            <tr>
                <td>Invoice Number:</td>
                <td class="text-success">@Model.OrderNo</td>
            </tr>
            <tr>
                <td>Customer Number:</td>
                <td>@Model.CustomerNumber </td>
            </tr>
            <tr>
                <td>Customer Name:</td>
                <td>@Model.CustomerName</td>
            </tr>
            <tr>
                <td>Delivery Address:</td>
                <td>@Model.DeliveryAddress</td>
            </tr>
            <tr>
                <td>Contact Name:</td>
                <td>@Model.ContactName</td>
            </tr>
            <tr>
                <td>Customer Order No:</td>
                <td>@((Model.PONumber != null && Model.PONumber != "") ? Model.PONumber : "NA")</td>
            </tr>
            <tr>
                <td>Goods Temp:</td>
                <td>@Model.GoodsTemp</td>
            </tr>
            <tr>
                <td>Temprature :</td>
                <td>@(Model.IsTempAuto == true ? "Auto" : "Manual")</td>
            </tr>
        </table>
    </div>
    <div class="col-md-6">
        <table class="table-space">
            @*<tr>
                    <td>Item#:</td>
                    <td>149800</td>
                </tr>*@
            <tr>
                <td>Requested Delivery Date:</td>
                <td class="red_comment">@(Convert.ToDateTime(Model.EstimatedDeliveryDate).ToShortDateString())</td>
            </tr>
            <tr>
                <td>Delivery:</td>
                <td class="text-success"><span id="spnStatus">@Model.OrderStatus</span></td>
            </tr>
            @if (Model.OrderStatus == "Cancelled")
            {
                <tr>
                    <td>Cancel Reason:</td>
                    <td class="text-success"><span id="spnStatus">@Model.CancelReason</span></td>
                </tr>
            }
            <tr>
                <td>Line Items Ordered:</td>
                <td>@Model.TotalCartons</td>
            </tr>
            <tr>
                <td>Line Items Accepted:</td>
                <td class="text-success">@(Model.OrderStatus == "Cancelled" ? 0 : Convert.ToInt32(Model.TotalCartons - Model.DeliveryIssuesRaised))</td>
            </tr>
            <tr>
                <td>Delivery Issues Raised:</td>
                <td class="text-success"><span id="spnHasIssue">@Model.DeliveryIssuesRaised</span></td>
            </tr>
            <tr>
                <td>Total Cartons:</td>
                <td>@Model.TotalCartons</td>
            </tr>
            <tr>
                <td>Payment Method:</td>
                <td>@Model.PaymentMethod</td>
            </tr>
            <tr>
                <td>Payment Recived:</td>
                <td class="text-success">@(Model.PaymentRecieved != null ? "$" + Model.PaymentRecieved : "")</td>
            </tr>
        </table>
    </div>
</div>
<div class="deliveries-comment-area">
    <label>Other Comments:</label>
    <h6>@Model.Comments</h6>
</div>