﻿@model DataModel.BO.DeliveryDetailBO
@{
    Layout = null;
}
<h2>Deliveries Details</h2>
<div class="row customer-detail">
    @Html.HiddenFor(m => m.DeliveryID)
    <div class="col-md-12">
        <table class="table-space">
            <tr>
                <td>Invoice Number:</td>
                <td>@Model.OrderNo</td>
            </tr>
            <tr>
                <td>Customer Order No:</td>
                <td>@((Model.PONumber != null && Model.PONumber != "") ? Model.PONumber : "NA")</td>
            </tr>
            <tr>
                <td>Customer Name:</td>
                <td>@Model.CustomerName</td>
            </tr>
            <tr>
                <td>Delivery Address:</td>
                <td>@Model.DeliveryAddress</td>
            </tr>
            <tr>
                <td>Contact Name:</td>
                <td>@Model.ContactName</td>
            </tr>
            <tr>
                <td>Customer Number:</td>
                <td>@Model.CustomerNumber</td>
            </tr>
            <tr>
                <td>Requested Delivery Date:</td>
                <td>@(Convert.ToDateTime(Model.EstimatedDeliveryDate).ToShortDateString())</td>
            </tr>
        </table>
    </div>
</div>
<div class="deliveries-comment-area">
    <label>Other Comments:</label>
    <h6>@Model.Comments</h6>
</div>