﻿<script>
    $(function () {
        var li = $("#divOrderList").find('li').eq(0);
        GetOrderDetail(li);
    });
</script>

@{
    int i = 0;
    if (ViewBag.Orders.Count > 0)
    {
        foreach (var item in ViewBag.Orders)
        {
            <li class="outer @(i == 0 ? "active" : "")" data-id="@item.OrderID" onclick="GetOrderDetail(this);"><a href="javascript:;" class="head">@item.OrderID</a></li>
            i++;
        }
    }
    else
    { <span>No record found!</span>}
}
