﻿
<script>
    $(function () {
        var li = $("#liCustomer").find('li').eq(0);
        GetPODALLOrderByCustomer(li);
    });
</script>

@{ int i = 0;
    if (ViewBag.Customer.Count > 0)
    {
        foreach (var item in ViewBag.Customer)
        {
            <li class="outer @(i==0?"active":"")" data-id="@item.CustomerID" onclick="GetPODALLOrderByCustomer(this);"><a href="javascript:;" class="head">@item.CustomerName</a></li>
            i++;
        }
    }
    else
    { <span>No record found!</span>}
}
