﻿    
@if (ViewBag.Orders.Count > 0)
{
    foreach (var item in ViewBag.Orders)
    {
        <tr>
            <td>@item.OrderID</td>
            <td>@(Convert.ToDateTime(item.OrderDate).ToShortDateString())</td>
            <td>$@String.Format("{0:0.00}", item.Price)</td>
            <td><span class="@(item.OrderStatus=="Cancelled" ?"red_comment":"text-success")">@item.OrderStatus</span></td>
            <td>
                <a href="javascript:;" onclick="GetPODOrderDetail(this);" data-id="@item.OrderID" class="btn-secondary large active">View</a>
                <a href="javascript:;" class="btn-secondary">Download</a>
                <a href="javascript:;" class="btn-secondary">Send POD</a>
            </td>
        </tr>
    }
}
else
{ <span>No record found!</span>}



