﻿
<script>
    $(function () {
        setTimeout(function () {
            var $sourceFields1 = $("#sourceFields1");
            var $destinationFields1 = $("#destinationFields1");
             //console.log('fld', sourceFields1, destinationFields1)
            var $chooser = $("#fieldChooser1").fieldChooser(sourceFields1, destinationFields1);
        },500);
        $("#modalManageReassignOrder").modal('show');
        var did = $("#liAssignedDrivers").find('li.active').eq(0).data('id');
      //  console.log('did',did);
        $("#ddlDriverLeft").val(did);
        $("#ddlDriverLeft").trigger('change');

        
    })
</script>
<div class="modal fade" id="modalManageReassignOrder" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <i class="fa fa-times close" data-dismiss="modal" aria-label="Close" onclick="loadFieldChooser()"></i>
            </div>
            <div class="modal-body" style="background:#dbe5ed;">
                <h2><strong>Re-Assign Deliveries</strong></h2>
                <div id="fieldChooser1" tabIndex="1">
                    <div class="col-md-6 col full-height">
                        <div class="flex-column full-height height-bg">
                            <div class="well table ">
                                <div class="row">
                                    <fieldset class="col-md-12">
                                        <select id="ddlDriverLeft" name="ddlDriverLeft" class="select_drop-down" onchange="GetAssignedOrdersByDriver(this,'sourceFields1')">
                                            <option value="">Select Existing Vehicles</option>
                                            @if (ViewBag.AssignedDrivers.Count > 0)
                                            {
                                                foreach (var item in ViewBag.AssignedDrivers)
                                                {
                                                    <option value="@item.ID">@item.RunNo | @item.Name</option>
                                                }
                                            }
                                        </select>
                                    </fieldset>
                                </div>
                                <div class="clearfix margin25"></div>
                                <div class="existing-vehicles light">
                                    <div id="sourceFields1" class="ddorderList" data-type="p" style="overflow:hidden;overflow-y:auto; height:430px;">                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col full-height">
                        <div class="flex-column full-height height-bg">
                            <div class="well table">
                                <div class="row">
                                    <fieldset class="col-md-12">
                                        <select id="ddlDriverRight" name="ddlDriverRight" class="select_drop-down" onchange="GetAssignedOrdersByDriver(this,'destinationFields1')">
                                            <option value="">Select Existing Vehicles</option>
                                            @if (ViewBag.AssignedDrivers.Count > 0)
                                            {
                                                foreach (var item in ViewBag.AssignedDrivers)
                                                {
                                                    <option value="@item.ID">@item.RunNo | @item.Name</option>
                                                }
                                            }
                                        </select>
                                    </fieldset>
                                </div>
                                <div class="clearfix margin25"></div>
                                <div class="existing-vehicles light">
                                    <div id="destinationFields1" class="ddorderList" data-type="p" style="overflow:hidden;overflow-y:auto; height:430px;">                                       
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>