﻿<script>
    $(function () {
        var li = $("#destinationFields").find('div').eq(0);

        GetOrderShortDetail(li);
    })
</script>

@if (ViewBag.UnassignedOrders.Count > 0)
{
    int i = 0;
    foreach (var item in ViewBag.UnassignedOrders)
    {
        <div class="outer fc-field @(i==0?"active":"")" data-id="@item.OrderID" onclick="GetOrderShortDetail(this);">
            <span class="head @(item.IsDelDateCrossed==true?"blue":"")"><str><strong>@item.OrderID </strong> <span>|</span><span id="spn@(item.OrderID)">@(Convert.ToDateTime(item.DeliveryDate).ToShortDateString())</span><span>|</span><strong>  @item.RunNo</strong> <span>|</span><br /> @item.CustomerName</str></span>
            <a class="btn-info btn-sm blue-bg pull-right" style="padding:1px 3px;" data-id="@item.OrderID" data-date="@(Convert.ToDateTime(item.DeliveryDate).ToShortDateString())" onclick="setOrderDelDate(this);"><i data-toggle="tooltip" data-placement="top" title="Change delivery date" class="fa fa-calendar fa-2x"></i></a>
        </div>
        i++;
    }
}
else
{ <span class="spnNoRecord"> No record found!</span>}