﻿@if (ViewBag.UnassignedBySuburb.Count > 0)
{
    foreach (var item in ViewBag.UnassignedBySuburb)
    {
        <div class="outer fc-field" data-id="@item.OrderID" onclick="toggleClass(this);">
            <span class="head @(item.IsDelDateCrossed==true?" blue":"")"><str><strong>@item.OrderID </strong> <span>|</span><span id="spn@(item.OrderID)">@(Convert.ToDateTime(item.DeliveryDate).ToShortDateString())</span><span>|</span><strong>  @item.Suburb</strong> <span>|</span><br /> @item.CustomerName</str></span>
        </div>
    }
}
else
{ <span class="spnNoRecord"> No record found!</span>}