﻿
@{
    ViewBag.Title = "DeliveriesByDriver";
    Layout = "~/Areas/Saavi5POD/Views/Shared/_Layout.cshtml";
}
@section podScripts{
    <script>
        $('link[href="/Content/css/jquery.mCustomScrollbar.min.css"]').remove();
        $('st[src="/Scripts/jquery.mCustomScrollbar.concat.min.js"]').remove();
    </script>

    <script src="@Url.Content("~/Scripts/jquery-ui.js")"></script>
    <script src="@Url.Content("~/Scripts/fieldChooser.js")"></script>
    <script src="@Url.Content("~/Scripts/manageDeliveriesJS.js")"></script>
    <script>
        $(document).ready(function () {
            $("#txtDeliverySearch").attr('placeholder', 'Search driver or vehicle');
            $("#btnDeliverySearch").attr('onclick', 'GetAllAssignedDrivers();');

            GetAllAssignedDrivers();  
            loadFieldChooser();
         //   GetUnassignedOrders();   
            localStorage.setItem('dVal', '1');           
        });
    </script>
}

@Html.Partial("_DeliveriesMenus")

<div class="tab-content">
    <div class="section full-height">
        <div class="row full-height">
            <input id="hdnDriverID" type="hidden" />
            <div class="col-md-3 col full-height">
                <div class="flex-column full-height height-bg">
                    <div class="well table">
                        <h2>Existing Vehicles</h2>
                        <div class="existing-vehicles" style="overflow:hidden;overflow-y:auto; height:470px;">
                            <ul id="liAssignedDrivers" class="mCustomScrolbar light homepage fx_hight"></ul>
                        </div>
                    </div>
                </div>
            </div>
            <div id="fieldChooser" tabIndex="1">
               
            </div>
            <div class="col-md-3 col full-height">
                <div class="row full-height">
                    <div class="flex-column full-height height-bg">
                        <div class="well table pale-blue">
                            <div class="tab-content full-height customer-col">
                                <div class="tab-pane active" role="tabpanel" id="deliveries_details">
                                    <div id="divOrderShortDetail"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="divManageDelDate"></div>
<div id="divManageReassignOrder"></div>

