﻿
@{
    ViewBag.Title = "DeliveriesByDriver";
    Layout = "~/Areas/Saavi5POD/Views/Shared/_Layout.cshtml";
}
<style>
    body {
        font-family: Trebuchet MS, Lucida Sans Unicode, Arial, sans-serif; /* Font to use */
        background-color: #E2EBED;
    }

    #footer {
        height: 30px;
        vertical-align: middle;
        text-align: right;
        clear: both;
        padding-right: 3px;
        background-color: #317082;
        margin-top: 2px;
        width: 790px;
    }

        #footer form {
            margin: 0px;
            margin-top: 2px;
        }

    #dhtmlgoodies_dragDropContainer { /* Main container for this script */
        width: 790px;
        height: 720px;
        border: 1px solid #317082;
        background-color: #FFF;
        -moz-user-select: none;
    }

        #dhtmlgoodies_dragDropContainer ul { /* General rules for all <ul> */
            margin-top: 0px;
            margin-left: 0px;
            margin-bottom: 0px;
            padding: 2px;
        }

        #dhtmlgoodies_dragDropContainer li, #dragContent li, li#indicateDestination { /* Movable items, i.e. <LI> */
            list-style-type: none;
            height: 20px;
            background-color: #EEE;
            border: 1px solid #000;
            padding: 2px;
            margin-bottom: 2px;
            cursor: pointer;
            font-size: 0.9em;
        }

    li#indicateDestination { /* Box indicating where content will be dropped - i.e. the one you use if you don't use arrow */
        border: 1px solid #317082;
        background-color: #FFF;
    }

    /* LEFT COLUMN CSS */
    div#dhtmlgoodies_listOfItems { /* Left column "Available students" */
        float: left;
        padding-left: 10px;
        padding-right: 10px;
        /* CSS HACK */
        width: 180px; /* IE 5.x */
        width /* */: /**/ 160px; /* Other browsers */
        width: /**/ 160px;
    }

    #dhtmlgoodies_listOfItems ul { /* Left(Sources) column <ul> */
        height: 560px;
    }

    div#dhtmlgoodies_listOfItems div {
        border: 1px solid #999;
    }

        div#dhtmlgoodies_listOfItems div ul { /* Left column <ul> */
            margin-left: 10px; /* Space at the left of list - the arrow will be positioned there */
        }

    #dhtmlgoodies_listOfItems div p { /* Heading above left column */
        margin: 0px;
        font-weight: bold;
        padding-left: 12px;
        background-color: #317082;
        color: #FFF;
        margin-bottom: 5px;
    }
    /* END LEFT COLUMN CSS */

    #dhtmlgoodies_dragDropContainer .mouseover { /* Mouse over effect DIV box in right column */
        background-color: #E2EBED;
        border: 1px solid #317082;
    }

    /* Start main container CSS */

    div#dhtmlgoodies_mainContainer { /* Right column DIV */
        width: 590px;
        float: left;
    }

    #dhtmlgoodies_mainContainer div { /* Parent <div> of small boxes */
        float: left;
        margin-right: 10px;
        margin-bottom: 10px;
        margin-top: 0px;
        border: 1px solid #999;
        /* CSS HACK */
        width: 172px; /* IE 5.x */
        width /* */: /**/ 170px; /* Other browsers */
        width: /**/ 170px;
    }

        #dhtmlgoodies_mainContainer div ul {
            margin-left: 10px;
        }

        #dhtmlgoodies_mainContainer div p { /* Heading above small boxes */
            margin: 0px;
            padding: 0px;
            padding-left: 12px;
            font-weight: bold;
            background-color: #317082;
            color: #FFF;
            margin-bottom: 5px;
        }

    #dhtmlgoodies_mainContainer ul { /* Small box in right column ,i.e <ul> */
        width: 152px;
        height: 480px;
        border: 0px;
        margin-bottom: 0px;
        overflow: hidden;
    }

    #dragContent { /* Drag container */
        position: absolute;
        width: 150px;
        height: 20px;
        display: none;
        margin: 0px;
        padding: 0px;
        z-index: 2000;
    }

    #dragDropIndicator { /* DIV for the small arrow */
        position: absolute;
        width: 7px;
        height: 10px;
        display: none;
        z-index: 1000;
        margin: 0px;
        padding: 0px;
    }
</style>
@section podScripts{
    <script src="@Url.Content("~/Scripts/manageDeliveriesJS.js")"></script>
    @*<script src="~/Scripts/jkanban.js"></script>*@
    @*<script src="~/Scripts/jkanban.min.js"></script>*@

    <script>
        $(function () {
            GetAllAssignedDrivers();
            GetUnassignedOrders();
        });
    </script>
    <script>


        /* VARIABLES YOU COULD MODIFY */
        var boxSizeArray = [5, 4];	// Array indicating how many items there is rooom for in the right column ULs


        var verticalSpaceBetweenListItems = 3;	// Pixels space between one <li> and next
        // Same value or higher as margin bottom in CSS for #dhtmlgoodies_dragDropContainer ul li,#dragContent li


        var indicateDestionationByUseOfArrow = true;	// Display arrow to indicate where object will be dropped(false = use rectangle)

        var cloneSourceItems = false;	// Items picked from main container will be cloned(i.e. "copy" instead of "cut").
        var cloneAllowDuplicates = false;	// Allow multiple instances of an item inside a small box(example: drag Student 1 to team A twice

        /* END VARIABLES YOU COULD MODIFY */

        var dragDropTopContainer = false;
        var dragTimer = -1;
        var dragContentObj = false;
        var contentToBeDragged = false;	// Reference to dragged <li>
        var contentToBeDragged_src = false;	// Reference to parent of <li> before drag started
        var contentToBeDragged_next = false; 	// Reference to next sibling of <li> to be dragged
        var destinationObj = false;	// Reference to <UL> or <LI> where element is dropped.
        var dragDropIndicator = false;	// Reference to small arrow indicating where items will be dropped
        var ulPositionArray = new Array();
        var mouseoverObj = false;	// Reference to highlighted DIV

        var MSIE = navigator.userAgent.indexOf('MSIE') >= 0 ? true : false;
        var navigatorVersion = navigator.appVersion.replace(/.*?MSIE (\d\.\d).*/g, '$1') / 1;

        var arrow_offsetX = -5;	// Offset X - position of small arrow
        var arrow_offsetY = 0;	// Offset Y - position of small arrow

        if (!MSIE || navigatorVersion > 6) {
            arrow_offsetX = -6;	// Firefox - offset X small arrow
            arrow_offsetY = -13; // Firefox - offset Y small arrow
        }

        var indicateDestinationBox = false;
        function getTopPos(inputObj) {
            var returnValue = inputObj.offsetTop;
            while ((inputObj = inputObj.offsetParent) != null) {
                if (inputObj.tagName != 'HTML') returnValue += inputObj.offsetTop;
            }
            return returnValue;
        }

        function getLeftPos(inputObj) {
            var returnValue = inputObj.offsetLeft;
            while ((inputObj = inputObj.offsetParent) != null) {
                if (inputObj.tagName != 'HTML') returnValue += inputObj.offsetLeft;
            }
            return returnValue;
        }

        function cancelEvent() {
            return false;
        }
        function initDrag(e)	// Mouse button is pressed down on a LI
        {
            if (document.all) e = event;
            var st = Math.max(document.body.scrollTop, document.documentElement.scrollTop);
            var sl = Math.max(document.body.scrollLeft, document.documentElement.scrollLeft);

            dragTimer = 0;
           // dragContentObj.style.left = e.clientX + sl + 'px';
           // dragContentObj.style.top = e.clientY + st + 'px';
            contentToBeDragged = this;
            contentToBeDragged_src = this.parentNode;
            contentToBeDragged_next = false;
            if (this.nextSibling) {
                contentToBeDragged_next = this.nextSibling;
                if (!this.tagName && contentToBeDragged_next.nextSibling) contentToBeDragged_next = contentToBeDragged_next.nextSibling;
            }
            timerDrag();
            return false;
        }

        function timerDrag() {
            if (dragTimer >= 0 && dragTimer < 10) {
                dragTimer++;
                setTimeout('timerDrag()', 10);
                return;
            }
            if (dragTimer == 10) {

                if (cloneSourceItems && contentToBeDragged.parentNode.id == 'allItems') {
                    newItem = contentToBeDragged.cloneNode(true);
                    newItem.onmousedown = contentToBeDragged.onmousedown;
                    contentToBeDragged = newItem;
                }
            //    dragContentObj.style.display = 'block';
             //   dragContentObj.appendChild(contentToBeDragged);
            }
        }

        function moveDragContent(e) {
            if (dragTimer < 10) {
                if (contentToBeDragged) {
                    if (contentToBeDragged_next) {
                        contentToBeDragged_src.insertBefore(contentToBeDragged, contentToBeDragged_next);
                    } else {
                        contentToBeDragged_src.appendChild(contentToBeDragged);
                    }
                }
                return;
            }
            if (document.all) e = event;
            var st = Math.max(document.body.scrollTop, document.documentElement.scrollTop);
            var sl = Math.max(document.body.scrollLeft, document.documentElement.scrollLeft);


          //  dragContentObj.style.left = e.clientX + sl + 'px';
          //  dragContentObj.style.top = e.clientY + st + 'px';

            if (mouseoverObj) mouseoverObj.className = '';
            destinationObj = false;
            dragDropIndicator.style.display = 'none';
            if (indicateDestinationBox) indicateDestinationBox.style.display = 'none';
            var x = e.clientX + sl;
            var y = e.clientY + st;
            debugger;
            var width = 0;// dragContentObj.offsetWidth;
            var height = 0;// dragContentObj.offsetHeight;

            var tmpOffsetX = arrow_offsetX;
            var tmpOffsetY = arrow_offsetY;

            for (var no = 0; no < ulPositionArray.length; no++) {
                var ul_leftPos = ulPositionArray[no]['left'];
                var ul_topPos = ulPositionArray[no]['top'];
                var ul_height = ulPositionArray[no]['height'];
                var ul_width = ulPositionArray[no]['width'];

                if ((x + width) > ul_leftPos && x < (ul_leftPos + ul_width) && (y + height) > ul_topPos && y < (ul_topPos + ul_height)) {
                    var noExisting = ulPositionArray[no]['obj'].getElementsByTagName('LI').length;
                    if (indicateDestinationBox && indicateDestinationBox.parentNode == ulPositionArray[no]['obj']) noExisting--;
                    //   if (noExisting < boxSizeArray[no - 1] || no == 0) {
                    dragDropIndicator.style.left = ul_leftPos + tmpOffsetX + 'px';
                    var subLi = ulPositionArray[no]['obj'].getElementsByTagName('LI');

                    var clonedItemAllreadyAdded = false;
                    if (cloneSourceItems && !cloneAllowDuplicates) {
                        for (var liIndex = 0; liIndex < subLi.length; liIndex++) {
                            if (contentToBeDragged.id == subLi[liIndex].id) clonedItemAllreadyAdded = true;
                        }
                        if (clonedItemAllreadyAdded) continue;
                    }

                    for (var liIndex = 0; liIndex < subLi.length; liIndex++) {
                        var tmpTop = getTopPos(subLi[liIndex]);
                        if (!indicateDestionationByUseOfArrow) {
                            if (y < tmpTop) {
                                destinationObj = subLi[liIndex];
                                indicateDestinationBox.style.display = 'block';
                                subLi[liIndex].parentNode.insertBefore(indicateDestinationBox, subLi[liIndex]);
                                break;
                            }
                        } else {
                            if (y < tmpTop) {
                                destinationObj = subLi[liIndex];
                                dragDropIndicator.style.top = tmpTop + tmpOffsetY - Math.round(dragDropIndicator.clientHeight / 2) + 'px';
                                dragDropIndicator.style.display = 'block';
                                break;
                            }
                        }
                    }

                    if (!indicateDestionationByUseOfArrow) {
                        if (indicateDestinationBox.style.display == 'none') {
                            indicateDestinationBox.style.display = 'block';
                            ulPositionArray[no]['obj'].appendChild(indicateDestinationBox);
                        }

                    } else {
                        if (subLi.length > 0 && dragDropIndicator.style.display == 'none') {
                            dragDropIndicator.style.top = getTopPos(subLi[subLi.length - 1]) + subLi[subLi.length - 1].offsetHeight + tmpOffsetY + 'px';
                            dragDropIndicator.style.display = 'block';
                        }
                        if (subLi.length == 0) {
                            dragDropIndicator.style.top = ul_topPos + arrow_offsetY + 'px'
                            dragDropIndicator.style.display = 'block';
                        }
                    }

                    if (!destinationObj) destinationObj = ulPositionArray[no]['obj'];
                    mouseoverObj = ulPositionArray[no]['obj'].parentNode;
                    mouseoverObj.className = 'mouseover';
                    return;
                    //  }
                }
            }
        }

        /* End dragging
        Put <LI> into a destination or back to where it came from.
        */
        function dragDropEnd(e) {
            if (dragTimer == -1) return;
            if (dragTimer < 10) {
                dragTimer = -1;
                return;
            }
            dragTimer = -1;
            if (document.all) e = event;


            if (cloneSourceItems && (!destinationObj || (destinationObj && (destinationObj.id == 'allItems' || destinationObj.parentNode.id == 'allItems')))) {
                contentToBeDragged.parentNode.removeChild(contentToBeDragged);
            } else {

                if (destinationObj) {
                    if (destinationObj.tagName == 'UL') {
                        destinationObj.appendChild(contentToBeDragged);
                    } else {
                        destinationObj.parentNode.insertBefore(contentToBeDragged, destinationObj);
                    }
                    mouseoverObj.className = '';
                    destinationObj = false;
                    dragDropIndicator.style.display = 'none';
                    if (indicateDestinationBox) {
                        indicateDestinationBox.style.display = 'none';
                        document.body.appendChild(indicateDestinationBox);
                    }
                    contentToBeDragged = false;
                    return;
                }
                if (contentToBeDragged_next) {
                    contentToBeDragged_src.insertBefore(contentToBeDragged, contentToBeDragged_next);
                } else {
                    contentToBeDragged_src.appendChild(contentToBeDragged);
                }
            }
            contentToBeDragged = false;
            dragDropIndicator.style.display = 'none';
            if (indicateDestinationBox) {
                indicateDestinationBox.style.display = 'none';
                document.body.appendChild(indicateDestinationBox);

            }
            mouseoverObj = false;

        }

        /*
        Preparing data to be saved
        */
        function saveDragDropNodes() {
            var saveString = "";
            var uls = dragDropTopContainer.getElementsByTagName('UL');
            for (var no = 0; no < uls.length; no++) {	// LOoping through all <ul>
                var lis = uls[no].getElementsByTagName('LI');
                for (var no2 = 0; no2 < lis.length; no2++) {
                    if (saveString.length > 0) saveString = saveString + ";";
                    saveString = saveString + uls[no].id + '|' + lis[no2].id;
                }
            }

            document.getElementById('saveContent').innerHTML = '<h1>Ready to save these nodes:</h1> ' + saveString.replace(/;/g, ';<br>') + '<p>Format: ID of ul |(pipe) ID of li;(semicolon)</p><p>You can put these values into a hidden form fields, post it to the server and explode the submitted value there</p>';

        }

        function initDragDropScript() {
            dragContentObj = document.getElementById('dragContent');
            dragDropIndicator = document.getElementById('dragDropIndicator');
            dragDropTopContainer = document.getElementById('dhtmlgoodies_dragDropContainer');
            document.documentElement.onselectstart = cancelEvent;;
            var listItems = dragDropTopContainer.getElementsByTagName('LI');	// Get array containing all <LI>
            var itemHeight = false;
            for (var no = 0; no < listItems.length; no++) {
                listItems[no].onmousedown = initDrag;
                listItems[no].onselectstart = cancelEvent;
                if (!itemHeight) itemHeight = listItems[no].offsetHeight;
                if (MSIE && navigatorVersion / 1 < 6) {
                    listItems[no].style.cursor = 'hand';
                }
            }

            var mainContainer = document.getElementById('dhtmlgoodies_mainContainer');
            var uls = mainContainer.getElementsByTagName('UL');
            itemHeight = itemHeight + verticalSpaceBetweenListItems;
            for (var no = 0; no < uls.length; no++) {
                //  uls[no].style.height = itemHeight * boxSizeArray[no] + 'px';
            }

            var leftContainer = document.getElementById('dhtmlgoodies_listOfItems');
            var itemBox = leftContainer.getElementsByTagName('UL')[0];

            document.documentElement.onmousemove = moveDragContent;	// Mouse move event - moving draggable div
            document.documentElement.onmouseup = dragDropEnd;	// Mouse move event - moving draggable div

            var ulArray = dragDropTopContainer.getElementsByTagName('UL');
            for (var no = 0; no < ulArray.length; no++) {
                ulPositionArray[no] = new Array();
                ulPositionArray[no]['left'] = getLeftPos(ulArray[no]);
                ulPositionArray[no]['top'] = getTopPos(ulArray[no]);
                ulPositionArray[no]['width'] = ulArray[no].offsetWidth;
                ulPositionArray[no]['height'] = ulArray[no].clientHeight;
                ulPositionArray[no]['obj'] = ulArray[no];
            }

            if (!indicateDestionationByUseOfArrow) {
                indicateDestinationBox = document.createElement('LI');
                indicateDestinationBox.id = 'indicateDestination';
                indicateDestinationBox.style.display = 'none';
                document.body.appendChild(indicateDestinationBox);
            }
        }

        window.onload = initDragDropScript;
    </script>
}
@Html.Partial("_DeliveriesMenus")


<div class="tab-content">
    <div class="section full-height">
        <div class="row full-height" id="">
            <div id="dhtmlgoodies_dragDropContainer">                
                <div id="dhtmlgoodies_listOfItems">
                    <div>
                        <p>Available students</p>
                        <ul id="liAssignedDrivers"></ul>
                    </div>
                </div>
                <div id="dhtmlgoodies_mainContainer">
                    <!-- ONE <UL> for each "room" -->
                    <div>
                        <p>Team a</p>
                        <ul id="liAssignedOrders"></ul>
                    </div>
                    <div>
                        <p>Team B</p>
                        <ul id="liUnassignedOrders"></ul>
                    </div>
                </div>
            </div>
            <ul id="dragContent"></ul>
            <div id="dragDropIndicator"><img src="https://www.apollowebstudio.com/screenshots/2015/insert.gif"></div>



            <div class="col-md-3 col full-height">
                <div class="flex-column full-height height-bg">
                    <div class="well table">
                        <h2>Existing Vehicles</h2>
                        <div class="existing-vehicles">
                            <ul id="content-2" class="mCustomScrollbar light homepage fx_hight"></ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col full-height">
                <div class="flex-column full-height height-bg">
                    <div class="well table">
                        <h2>Assigned Invoice</h2>
                        <div class="existing-vehicles">
                            <ul id="content-2" class="mCustomScrollbar light homepage fx_hight"></ul>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-3 col full-height">
                <div class="flex-column full-height height-bg">
                    <div class="well table">
                        <h2>Unassigned Invoice</h2>
                        <fieldset class="col-md-6 row">
                            <select class="select_drop-down">

                                <option>R11</option>
                                <option>R12</option>
                                <option>R13</option>
                                <option>R14</option>

                            </select>
                            <i class="fa fa-angle-down select_icon" aria-hidden="true"></i>
                        </fieldset>
                        <div class="flt-rt">
                            <span style="float: left;">Select All Invoice</span><input type="checkbox" name="vehicle" value="Bike" style="float: left;
                   padding: 0px 10px !important;
                   margin: 4px 10px 0px;">
                        </div>
                        <div class="existing-vehicles" style="width: 100%;float: left;">

                            <ul id="content-2" class="mCustomScrollbar light homepage fx_hight">
                                <a class="inassigner-invoice">Invoice <span>|</span><strong>Customer Name</strong>  <span>|</span> Run No.</a>

                                @*<li class="outer active">
                                        <input type="checkbox" name="vehicle" value="Bike">
                                        <a href="#collapse-div" class="head">4923124  <span>|</span><strong>  Devin</strong> <span>|</span> R13</a>
                                    </li>*@
                            </ul>
                        </div>
                    </div>
                </div>
            </div>


            <div class="col-md-3 col full-height">

                <div class="row full-height">

                    <div class="flex-column full-height height-bg">
                        <div class="well table pale-blue">
                            <div class="tab-content full-height customer-col">
                                <div class="tab-pane active" role="tabpanel" id="deliveries_details">

                                    <h2>Deliveries Details</h2>
                                    <div class="row customer-detail">
                                        <div class="col-md-12">
                                            <table class="table-space">
                                                <tr>
                                                    <td>Invoice Number:</td>
                                                    <!--   <td class="text-success">1231241</td>
                                                    </tr> -->
                                                <tr>

                                                    <td>Customer Order No:</td>
                                                    <!--  <td>4134 </td> -->
                                                </tr>

                                                <tr>
                                                    <td>Customer Name:</td>
                                                    <!--  <td>ABC Restauarant</td> -->
                                                </tr>


                                                <tr>
                                                    <td>Delivery Address:</td>
                                                    <!-- <td>
                                                        44 Albert Street, Blode
                                                        VIC 3151
                                                    </td> -->
                                                </tr>
                                                <tr>
                                                    <td>Contact Name:</td>
                                                    <!--  <td>Sally Jones</td> -->
                                                </tr>

                                                <!--   <tr>
                                                      <td>Customer Order No:</td>
                                                      <td>234234t51</td>
                                                  </tr>
                                                  <tr>
                                                      <td>Chiller Item Temperature:</td>
                                                      <td></td>
                                                  </tr>
                                                  <tr>
                                                      <td>Frozen Item Temperature:</td>
                                                      <td></td>
                                                  </tr> -->
                                                <tr>
                                                    <td>Item#:</td>
                                                    <!--   <td>149800</td> -->
                                                </tr>
                                                <tr>
                                                    <td>Customer Number:</td>

                                                </tr>
                                                <tr>
                                                    <td>Requested Delivery Date:</td>
                                                    <!-- <td class="red_comment">4/12/2017</td> -->
                                                </tr>


                                            </table>
                                        </div>
                                        <!-- <div class="col-md-6">
                                            <table class="table-space">
                                                <tr>
                                                    <td>Item#:</td>
                                                    <td>149800</td>
                                                </tr>
                                                <tr>
                                                    <td>Requested Delivery Date:</td>
                                                    <td class="red_comment">4/12/2017</td>
                                                </tr>
                                                <tr>
                                                    <td>Delivery:</td>
                                                    <td class="text-success">Accepted</td>
                                                </tr>
                                                <tr>
                                                    <td>Line Items Delivered:</td>
                                                    <td>3</td>
                                                </tr>
                                                <tr>

                                                    <td>Line Items Accepted:</td>
                                                    <td class="text-success">3</td>
                                                </tr>
                                                <tr>
                                                    <td>Delivery Issues Raised:</td>
                                                    <td class="text-success">0</td>
                                                </tr>


                                                <tr>
                                                    <td>Total Cartons:</td>
                                                    <td class="text-success">10 Cartons</td>
                                                </tr>
                                                <tr>
                                                    <td>Payment Received:</td>
                                                    <td class="text-success">Cheque  $163.45</td>
                                                </tr>


                                            </table>
                                        </div> -->
                                    </div>
                                    <div class="deliveries-comment-area">
                                        <label>Other Comments:</label>
                                        <h6 name="description" placeholder="Enter description here..."></h6>
                                    </div>


                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>



    </div>
</div>


