﻿
@{
    ViewBag.Title = "Deliveries";
    Layout = "~/Areas/Saavi5POD/Views/Shared/_Layout.cshtml";
}

@section podScripts{
    <script src="@Url.Content("~/Scripts/manageDeliveriesJS.js")"></script>
    <script>
        $(function () {
            $("#txtDeliverySearch").attr('placeholder', 'Search deliveries by customer name');
            $("#btnDeliverySearch").attr('onclick', 'GetCustomers();');
            GetCustomers();
        });
    </script>
}
@Html.Partial("_DeliveriesMenus")
<div class="tab-content">
    <div class="section full-height">
        <div class="row full-height">
            <div class="col-md-3 col full-height">
                <div class="flex-column full-height height-bg">
                    <div class="well table">
                        <h2>Customers</h2>
                        <div class="existing-vehicles">
                            <ul id="content-2" class="homepage fx_hight mCustomScrollbar light" data-mcs-theme="minimal-dark">
                                <div id="liCustomer">
                                    @*@{ int i = 0;
                                        foreach (var item in ViewBag.Customer)
                                        {
                                            <li class="outer @(i==0?"active":"")" data-id="@item.CustomerID" onclick="GetOrderList(this);"><a href="javascript:;" class="head">@item.CustomerName</a></li>
                                            i++;
                                        }
                                    }*@
                                </div>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-2 col full-height">
                <div class="flex-column full-height height-bg">
                    <div class="well table">
                        <h2>Invoice Number</h2>
                        <div class="existing-vehicles">
                            <ul id="content-2" class="homepage fx_hight mCustomScrollbar light" data-mcs-theme="minimal-dark">
                                <div id="divOrderList"></div>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-7 col full-height">
                <div class="row full-height">
                    <div class="flex-column full-height height-bg">
                        <div class="well table pale-blue">
                            <div class="tab-content full-height customer-col">
                                <div class="tab-pane active" role="tabpanel" id="deliveries_details">
                                    <div id="divOrderDetail"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
