﻿
@{
    ViewBag.Title = "DeliveriesByDriver";
    Layout = "~/Areas/Saavi5POD/Views/Shared/_Layout.cshtml";
}
<style>

</style>
@section podScripts{
    <script src="@Url.Content("~/Scripts/manageDeliveriesJS.js")"></script>
    <script src="~/Scripts/jkanban.js"></script>
    @*<script src="~/Scripts/jkanban.min.js"></script>*@

    <script>
        $(function () {
            GetAllAssignedDrivers();
            GetUnassignedOrders();
        });      
        var KanbanTest = new jKanban({
            element: '#myKanban',
            gutter: '10px',
            widthBoard: '300px',
            click: function (el) {
                console.log("Trigger on all items click!");
            },
            boards: [
                //{
                //    "id": "_drivers",
                //    "title": "Existing Vehicles",
                //    "class": "info,good",
                //    //   "dragTo": ['_working'],
                //    "item": []

                //},
                {
                    "id": "_assignedOrder",
                    "title": "Assigned Invoice",
                    "class": "warning",
                    "item": []
                },
                {
                    "id": "_unassignedOrder",
                    "title": "Unassigned Invoice",
                    "class": "success",
                    "dragTo": ['_assignedOrder'],
                    "item": []
                }
            ]
        });


    </script>

}
@Html.Partial("_DeliveriesMenus")

<div id="">
    @*<div class="kanban-container" style="width: 1110px;"><div data-id="_todo" class="kanban-board" style="width: 350px; margin-left: 10px; margin-right: 10px;"><header class="kanban-board-header info good"><div class="kanban-title-board">To Do (Can drop item only in working)</div></header><main class="kanban-drag"><div class="kanban-item" data-eid="_test_delete">Try drag this (Look the console)</div><div class="kanban-item" data-eid="undefined">Try Click This!</div></main><footer></footer></div><div data-id="_working" class="kanban-board" style="width: 350px; margin-left: 10px; margin-right: 10px;"><header class="kanban-board-header warning"><div class="kanban-title-board">Working (Try drag me too)</div></header><main class="kanban-drag"><div class="kanban-item" data-eid="undefined">Do Something!</div><div class="kanban-item" data-eid="undefined">Run?</div></main><footer></footer></div><div data-id="_done" class="kanban-board" style="width: 350px; margin-left: 10px; margin-right: 10px;"><header class="kanban-board-header success"><div class="kanban-title-board">Done (Can drop item only in working)</div></header><main class="kanban-drag"><div class="kanban-item" data-eid="undefined">All right</div><div class="kanban-item" data-eid="undefined">Ok!</div></main><footer></footer></div></div>*@
</div>
<div class="tab-content">
    <div class="section full-height">
        <div class="row full-height">
            <div class="col-md-3 col full-height">
                <div class="flex-column full-height height-bg">
                    <div class="well table">
                        <h2>Existing Vehicles</h2>
                        <div class="existing-vehicles">
                            <ul id="content-2" class="mCustomScrollbar light homepage fx_hight">
                                <div id="liAssignedDrivers"></div>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div id="myKanban">
                <div id="liAssignedOrders"></div>
                <div id="liUnassignedOrders"></div>
            @*<div class="col-md-3 col full-height">
                <div class="flex-column full-height height-bg">
                    <div class="well table">
                        <h2>Assigned Invoice</h2>
                        <div class="existing-vehicles">
                            <ul id="content-2" class="mCustomScrollbar light homepage fx_hight">
                                <div id="liAssignedOrders"></div>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col full-height">
                <div class="flex-column full-height height-bg">
                    <div class="well table">
                        <h2>Unassigned Invoice</h2>
                        <fieldset class="col-md-6 row">
                            <select class="select_drop-down">

                                <option>R11</option>
                                <option>R12</option>
                                <option>R13</option>
                                <option>R14</option>

                            </select>
                            <i class="fa fa-angle-down select_icon" aria-hidden="true"></i>
                        </fieldset>
                        <div class="flt-rt">
                            <span style="float: left;">Select All Invoice</span><input type="checkbox" name="vehicle" value="Bike" style="float: left;
                   padding: 0px 10px !important;
                   margin: 4px 10px 0px;">
                        </div>
                        <div class="existing-vehicles" style="width: 100%;float: left;">

                            <ul id="content-2" class="mCustomScrollbar light homepage fx_hight">
                                <a class="inassigner-invoice">Invoice <span>|</span><strong>Customer Name</strong>  <span>|</span> Run No.</a>
                                <div id="liUnassignedOrders"></div>
                                @*<li class="outer active">
                                    <input type="checkbox" name="vehicle" value="Bike">
                                    <a href="#collapse-div" class="head">4923124  <span>|</span><strong>  Devin</strong> <span>|</span> R13</a>
                                </li>                             
                            </ul>
                        </div>
                    </div>
                </div>
            </div>*@
                </div>

            <div class="col-md-3 col full-height">
                <div class="row full-height">
                    <div class="flex-column full-height height-bg">
                        <div class="well table pale-blue">
                            <div class="tab-content full-height customer-col">
                                <div class="tab-pane active" role="tabpanel" id="deliveries_details">

                                    <h2>Deliveries Details</h2>
                                    <div class="row customer-detail">
                                        <div class="col-md-12">
                                            <table class="table-space">
                                                <tr>
                                                    <td>Invoice Number:</td>
                                                    <!--   <td class="text-success">1231241</td>
                                                    </tr> -->
                                                <tr>
                                                    <td>Customer Order No:</td>
                                                    <!--  <td>4134 </td> -->
                                                </tr>

                                                <tr>
                                                    <td>Customer Name:</td>
                                                    <!--  <td>ABC Restauarant</td> -->
                                                </tr>


                                                <tr>
                                                    <td>Delivery Address:</td>
                                                    <!-- <td>
                                                        44 Albert Street, Blode
                                                        VIC 3151
                                                    </td> -->
                                                </tr>
                                                <tr>
                                                    <td>Contact Name:</td>
                                                    <!--  <td>Sally Jones</td> -->
                                                </tr>

                                                <!--   <tr>
                                                      <td>Customer Order No:</td>
                                                      <td>234234t51</td>
                                                  </tr>
                                                  <tr>
                                                      <td>Chiller Item Temperature:</td>
                                                      <td></td>
                                                  </tr>
                                                  <tr>
                                                      <td>Frozen Item Temperature:</td>
                                                      <td></td>
                                                  </tr> -->
                                                <tr>
                                                    <td>Item#:</td>
                                                    <!--   <td>149800</td> -->
                                                </tr>
                                                <tr>
                                                    <td>Customer Number:</td>

                                                </tr>
                                                <tr>
                                                    <td>Requested Delivery Date:</td>
                                                    <!-- <td class="red_comment">4/12/2017</td> -->
                                                </tr>


                                            </table>
                                        </div>
                                        <!-- <div class="col-md-6">
                                            <table class="table-space">
                                                <tr>
                                                    <td>Item#:</td>
                                                    <td>149800</td>
                                                </tr>
                                                <tr>
                                                    <td>Requested Delivery Date:</td>
                                                    <td class="red_comment">4/12/2017</td>
                                                </tr>
                                                <tr>
                                                    <td>Delivery:</td>
                                                    <td class="text-success">Accepted</td>
                                                </tr>
                                                <tr>
                                                    <td>Line Items Delivered:</td>
                                                    <td>3</td>
                                                </tr>
                                                <tr>

                                                    <td>Line Items Accepted:</td>
                                                    <td class="text-success">3</td>
                                                </tr>
                                                <tr>
                                                    <td>Delivery Issues Raised:</td>
                                                    <td class="text-success">0</td>
                                                </tr>


                                                <tr>
                                                    <td>Total Cartons:</td>
                                                    <td class="text-success">10 Cartons</td>
                                                </tr>
                                                <tr>
                                                    <td>Payment Received:</td>
                                                    <td class="text-success">Cheque  $163.45</td>
                                                </tr>


                                            </table>
                                        </div> -->
                                    </div>
                                    <div class="deliveries-comment-area">
                                        <label>Other Comments:</label>
                                        <h6 name="description" placeholder="Enter description here..."></h6>
                                    </div>


                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>



    </div>
</div>


