﻿
@{
    ViewBag.Title = "IssuesByInvoice";
    Layout = "~/Areas/Saavi5POD/Views/Shared/_Layout.cshtml";
}
@section podScripts{
<link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/css/owl.carousel.min.css")" media="screen">
<script src="@Url.Content("~/Scripts/owl.carousel.js")"></script>
    <script src="@Url.Content("~/Scripts/manageDeliveriesJS.js")"></script>
    <script>
        $(function () {
            $("#txtDeliverySearch").attr('placeholder', 'Search deliveries by invoice');
            $("#btnDeliverySearch").attr('onclick', 'GetSearchedOrderList();');
            var actionname = window.location.pathname.split('/').pop().toLowerCase();
            console.log(actionname);
            if (actionname == "issues" || actionname == "issuesbyinvoice") {
                GetOrderHasIssue();
            } else { GetOrderList(); }
            setTimeout(function () {
                $("#divDelDate").show();
            }, 500);
        })       
    </script>
}
@Html.Partial("_DelIssueMenus")


<div class="tab-content">
    <div class="section full-height">
        <div class="row full-height">
            <div class="col-md-3 col full-height">
                <div class="flex-column full-height height-bg">
                    <div class="well table">
                        <h2>Invoice Number</h2>
                        <div class="existing-vehicles">
                            <ul id="content-2" class="homepage fx_hight mCustomScrollbar light" data-mcs-theme="minimal-dark">
                                <div id="divOrderList"></div>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-9 col full-height">
                <div class="row full-height">
                    <div class="flex-column full-height height-bg">
                        <div class="well table pale-blue">
                            <div class="tab-content full-height customer-col">
                                <div class="tab-pane active" role="tabpanel" id="deliveries_details">
                                    <div id="divOrderDetail"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <section id="delivery-issue-slider" class="invoice-issue-slider">                       
                            <div id="divDeliveryImages"></div>                        
                    </section>
                </div>
            </div>
        </div>
    </div>
</div>

