﻿
@{
    ViewBag.Title = "PODcopy";
    Layout = "~/Areas/Saavi5POD/Views/Shared/_Layout.cshtml";
}
@section podScripts{
    <script src="@Url.Content("~/Scripts/moment.js")"></script>
    <script src="@Url.Content("~/Scripts/manageDeliveriesJS.js")"></script>
    <script>
        $(function () {
            $("#txtDeliverySearch").attr('placeholder', 'Search deliveries by customer name');
            $("#btnDeliverySearch").attr('onclick', 'GetPODAllCustomers();');
            GetPODAllCustomers();


        });
        //delete to use default scroll
        //js scroll library used: https://manos.malihu.gr/jquery-custom-content-scroller/
        //$(function () {

        //    $("tbody").mCustomScrollbar({
        //        theme: "light-3",
        //        scrollButtons: {
        //            enable: false
        //        },
        //        mouseWheel: { preventDefault: true },
        //        scrollbarPosition: 'inside',
        //        autoExpandScrollbar: true,
        //        theme: 'dark'
        //    });
        //});


    </script>
}

@Html.Partial("_DeliveriesMenus")
<div class="tab-content">
    <div class="section full-height">
        <div class="row full-height">
            <div class="col-md-3 col full-height">
                <div class="flex-column full-height height-bg">
                    <div class="well table">
                        <h2>Customers</h2>
                        <div class="existing-vehicles">
                            <ul id="content-2" class="homepage fx_hight mCustomScrollbar light" data-mcs-theme="minimal-dark">
                                <div id="liCustomer"></div>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-9 col full-height">
                <div class="row full-height">
                    <div class="flex-column full-height height-bg">
                        <div class="well table pale-blue">
                            <div class="tab-content full-height customer-col">
                                <div class="tab-pane active" role="tabpanel" id="deliveries_details">
                                    <div id="vehicle-fix-top">
                                        <div class="parent mCustomScrollbar light" data-mcs-theme="minimal-dark">
                                            <table id="" class="table fixTable">
                                                <thead>
                                                    <tr>
                                                        <th>Invoice Number</th>
                                                        <th>Delivery Date</th>
                                                        <th>Price</th>
                                                        <th>Status</th>
                                                        <th>Delivery File</th>
                                                    </tr>
                                                </thead>
                                                <tbody id="divOrderList">      
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="modalOrderDetail" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <i class="fa fa-times close" data-dismiss="modal" aria-label="Close"></i>
            </div>
            <div class="modal-body login">
                <div class="tab-content full-height customer-col">
                    <div class="tab-pane active" role="tabpanel" id="deliveries_details">
                        <div id="divOrderDetail"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
