﻿@{
    ViewBag.Title = "DeliveriesByDriver";
    Layout = "~/Areas/Saavi5POD/Views/Shared/_Layout.cshtml";
}
@section podScripts{

    <script src="@Url.Content("~/Scripts/jquery-ui.js")"></script>
    <script src="@Url.Content("~/Scripts/fieldChooser.js")"></script>
    <script src="@Url.Content("~/Scripts/manageDeliveriesJS.js")"></script>
    <script>
        $(document).ready(function () {
            GetCustomers();
            $("#destinationFields").load(URL + "_UnassignedOrderList", { id: 0, runno: $('#content-2 li.active').data('run'), suburb: "" });
            // $("#lstUnassignedBySuburb").load(URL + "_UnassignedOrderList/0" + "?runno=");

            setTimeout(function () {
                var li = $("#destinationFields").find('div').eq(0);
                GetOrderShortDetail(li);
            }, 200);
        });
    </script>
}

@Html.Partial("_DeliveriesMenus")

<div class="tab-content">
    <div class="section full-height">
        <div class="row full-height">
            <div class="col-md-3 col full-height">
                <div class="flex-column full-height height-bg">
                    <div class="well table">
                        <div class="text-center"><h2>Delivery Run</h2></div>
                        <div>
                            <label class="col-md-7" style="margin-top: 10px;">
                                Filter By Warehouse :
                            </label>
                            <select id="ddlDelWarehouse" class="col-md-5 " onchange="getRunsByWarhouse(this)">
                                <option value="Brisbane">Brisbane</option>
                                <option value="Byron Bay">Byron Bay</option>
                                <option value="Sunshine Coast">Sunshine Coast</option>
                            </select>
                        </div>
                        <br />
                        <div style="height:440px;">
                            <div class="delWarehouses" style="margin-top:25px;">
                                <ul id="content-2" class="homepage fx_hight light" data-mcs-theme="minimal-dark">
                                    @if (ViewBag.DeliveryRuns.Count > 0)
                                    {
                                        int i = 0;
                                        foreach (var item in ViewBag.DeliveryRuns)
                                        {
                                            <li class="outer @(i==0?"active":"")" data-run="@item" onclick="getSuburbsByRuns(this)">
                                                <a href="javascript:;" class="head">@item</a>
                                            </li>
                                            i++;
                                        }
                                    }
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-3 col full-height">
                <div class="flex-column full-height height-bg">
                    <div class="well table">
                        <a class="btn-secondary medium-btn pull-right" href="#reassignByWarehouse" data-toggle="modal">Assign</a>
                        <h2>Assigned Invoice</h2>
                        <div class="col-md-12">
                            <label class="col-md-7" style="margin-top: 10px;">
                                Filter By Suburb :
                            </label>
                            <select id="ddlDelSuburb" class="col-md-5" onchange="getAssignedOrdersBySUburbs(this)">
                                <option value="">All Suburbs</option>
                                @if (ViewBag.Suburbs.Count > 0)
                                {
                                    foreach (var item in ViewBag.Suburbs)
                                    {
                                        <option value="@item.Trim()">@item</option>
                                    }
                                }
                                else
                                {
                                    <option value="">N/A</option>
                                }
                            </select>
                        </div>
                        <div class="" style="width:100%;float:left;height:370px;margin-top:10px;">
                            <div id="divWhAssigned" class="ddorderList" style="overflow:hidden;overflow-y:auto;height:430px;">
                                @if (ViewBag.AssignedOrders.Count > 0)
                                {
                                    foreach (var item in ViewBag.AssignedOrders)
                                    {
                                        <div id="div_@item.OrderID" class="outer fc-field" data-id="@item.OrderID">
                                            <span class="head @(item.IsDelDateCrossed==true?"blue":"")">
                                                <str>
                                                    <strong>@item.OrderID </strong> <span>|</span><span id="spn@(item.OrderID)">@(Convert.ToDateTime(item.DeliveryDate).ToShortDateString())</span><span>|</span><strong>  @item.Suburb</strong> <span>|</span><br /> @item.CustomerName
                                                </str>
                                            </span>   <a class="btn-info btn-sm blue-bg pull-right" style="padding:1px 3px;" data-id="@item.OrderID" data-deldate="@(Convert.ToDateTime(item.DeliveryDate).ToShortDateString())" onclick="setOrderDelDate(this);"><i data-toggle="tooltip" data-placement="top" title="Change delivery date" class="fa fa-calendar fa-2x"></i></a>
                                            <span style="clear:both;height:0;"></span>
                                        </div>
                                    }
                                }
                                else
                                {
                                    <span class="spnNoRecord"> No record found!</span>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-3 col full-height">
                <div class="flex-column full-height height-bg">
                    <div class="well table">
                        <h2>Unassigned Invoice</h2>
                        <div class="" style="width:100%;float:left;height:370px;">
                            <div id="destinationFields" class="ddorderList" style="overflow:hidden;overflow-y:auto;height:470px;">
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-3 col full-height">
                <div class="row full-height">
                    <div class="flex-column full-height height-bg">
                        <div class="well table pale-blue">
                            <div class="tab-content full-height customer-col">
                                <div class="tab-pane active" role="tabpanel" id="deliveries_details">
                                    <div id="divOrderShortDetail"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="divManageDelDate"></div>
<div id="divManageReassignOrder"></div>

<div class="modal fade" tabindex="-1" role="dialog" id="reassignByWarehouse">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body" style="background:#dbe5ed;">
                <h2><strong>Assign Deliveries By Suburbs</strong></h2>
                <div id="fieldChooser1" tabIndex="1">
                    <div class="col-md-5 col full-height">
                        <div class="flex-column full-height height-bg">
                            <div class="well table ">
                                <div class="row">
                                    <fieldset class="col-md-12">
                                        <select id="suburbWHRe" name="ddlDriverLeft" class="select_drop-down" onchange="getUnAssignedOrdersBySUburbs(this)">
                                            @if (ViewBag.Suburbs.Count > 0)
                                            {
                                                foreach (var item in ViewBag.Suburbs)
                                                {
                                                    <option value="@item">@item</option>
                                                }
                                            }
                                            else
                                            {
                                                <option value="">N/A</option>
                                            }
                                        </select>
                                    </fieldset>
                                </div>
                                <div class="clearfix margin25"></div>
                                <div class="existing-vehicles light">
                                    <div class="" style="width:100%;float:left;height:370px;">
                                        <div id="lstUnassignedBySuburb" class="ddorderList" data-type="p" style="overflow:hidden;overflow-y:auto; height:430px;">
                                            @if (ViewBag.UnassignedBySuburb.Count > 0)
                                            {
                                                foreach (var item in ViewBag.UnassignedBySuburb)
                                                {
                                                    <div class="outer fc-field" data-id="@item.OrderID" onclick="toggleClass(this);">
                                                        <span class="head @(item.IsDelDateCrossed==true?"blue":"")"><str><strong>@item.OrderID </strong> <span>|</span><span id="spn@(item.OrderID)">@(Convert.ToDateTime(item.DeliveryDate).ToShortDateString())</span><span>|</span><strong>  @item.Suburb</strong> <span>|</span><br /> @item.CustomerName</str></span>
                                                    </div>
                                                }
                                            }
                                            else
                                            { <span class="spnNoRecord"> No record found!</span>}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2 col full-height text-center" style="padding:20% 0">
                        <a href="javascript:;" class="btn btn-primary" data-type="AA" onclick="assignRemoveOrdersFromDriver(this);" style="margin-bottom:10px">>></a><br />
                        <a href="javascript:;" class="btn btn-primary" data-type="AS" onclick="assignRemoveOrdersFromDriver(this);" style="margin-bottom:10px">></a> <br />
                        <a href="javascript:;" class="btn btn-primary" data-type="RS" onclick="assignRemoveOrdersFromDriver(this);" style="margin-bottom:10px"><</a> <br />
                        <a href="javascript:;" class="btn btn-primary" data-type="RA" onclick="assignRemoveOrdersFromDriver(this);" style="margin-bottom:10px"><<</a>
                    </div>
                    <div class="col-md-5 col full-height">
                        <div class="flex-column full-height height-bg">
                            <div class="well table">
                                <div class="row">
                                    <fieldset class="col-md-12">
                                        <select id="ddlDriverWH" name="ddlDriverRight" class="select_drop-down" onchange="getAssignedOrdersByDriverWH(this,'lstDriverOrders')">
                                            <option value="">Select Driver</option>
                                            @if (ViewBag.AssignedDrivers.Count > 0)
                                            {
                                                foreach (var item in ViewBag.AssignedDrivers)
                                                {
                                                    <option value="@item.ID">@item.Name | @item.VehicleNo</option>
                                                }
                                            }
                                        </select>
                                    </fieldset>
                                </div>
                                <div class="clearfix margin25"></div>
                                <div class="existing-vehicles light">
                                    <div id="lstDriverOrders" class="ddorderList" data-type="p" style="overflow:hidden;overflow-y:auto; height:430px;">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->