﻿
<script>
    $(function () {
        var li = $("#liVehicle").find('li').eq(0);
        GetVehicleLocation(li);
        setInterval(function () {
            var li = $("#liVehicle").find('li.active');
            console.log(li);
            GetVehicleLocation(li);
        }, 60000);
    });

</script>
@{
    int i = 0;
    if (ViewBag.Vehicle.Count > 0)
    {
        foreach (var item in ViewBag.Vehicle)
        {
            <li class="outer @(i == 0 ? "active" : "")" data-id="@item.DeliveryID" onclick="GetVehicleLocation(this);">
                <a href="javascript:;" class="head">@item.OrderID</a>
                <h6>@item.VehicleName</h6>
                <h6>@item.DriverName</h6>
            </li>
            i++;
        }
    }
    else
    {
        <span>No record found!</span>
    }
}
