﻿
@{
    ViewBag.Title = "Tracking";
    Layout = "~/Areas/Saavi5POD/Views/Shared/_Layout.cshtml";
}
@section podScripts{
    <script src="@Url.Content("~/Scripts/manageTrackingJS.js")"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDud50VJNPHxmJOFHKYAt4iSWxc1zJXs7Y&libraries=places"></script>
  

    <script>
        $(function () {
            GetAllVehicle();
        });
    </script>
}
<div class="tab-content">
    <div class="section full-height">
        <div class="row full-height">
            <div class="col-md-3 col full-height">
                <div class="flex-column full-height height-bg">
                    <div class="well table">
                        <h2 class="text-uppercase">Vehicles</h2>
                        <div class="existing-vehicles">
                            <ul id="content-2" class="homepage fx_hight mCustomScrollbar light" data-mcs-theme="minimal-dark">
                                <div id="liVehicle"></div>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-9 col full-height">
                <div class="flex-column full-height height-bg">
                    <div class="well table customer-col" id="divVehicleLocation"></div>
                </div>
            </div>
        </div>
    </div>
</div>

