﻿@{
    ViewBag.Title = "Cart";
    Random r = new Random();
    int num = r.Next();
    string ver = num.ToString();
}
@section scripts{
    <script src="https://js.stripe.com/v3/"></script>

    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD1SMGHFaBfV9bE2XiE7IpykbWJ2UmZEIE&libraries=places"></script>
    <script src="@Url.Content("~/Scripts/cartPageJS.js?v="+ ver)"></script>
    <script>
        $(function () {
            $('body').addClass('checkout');
        });
        function isNumber(evt) {
            evt = (evt) ? evt : window.event;
            var charCode = (evt.which) ? evt.which : evt.keyCode;
            if (charCode > 31 && (charCode < 48 || charCode > 57)) {
                return false;
            }
            return true;
        }
    </script>
}
<div class="main-content-inner" id="cartMain" v-cloak>
    <div class="top-container-fluid m-t-10">
        <div class="pull-left col-md-4">
            <a class="back-btn" href="@Url.Action("SearchProducts","Main")">Back</a>
        </div>
        @*<div class="col-md-4 text-center">
                <a href="javascript:;" id="dateToggle" class="btn btn-default fs-20">Calendar</a>
            </div>*@
        <div class="pull-right col-md-4">
            <p style="margin: 0;">Order Value: <span class="blue">{{cartTotal | currency(currency,2)}}</span></p>
            <p v-if="isCouponApplied" style="margin: 0;">Promo code applied: <span class="blue">-{{couponAmount | currency(currency,2)}}</span></p>
            <p v-if="placeOrder.HasFreightCharges && cartTotal > 0" style="margin: 0;">Delivery charges: <span class="blue">{{deliveryCharges | currency(currency,2)}}</span></p>
            <p style="margin: 0;">Subtotal: <span class="blue">{{subTotal | currency(currency,2)}}</span></p>
            <p style="margin: 0;"><a href="javascript:;" v-on:click="promoModal = true">Have a promo code?</a></p>
        </div>
    </div>
    <div class="cart-col">
        <div class="order-detail-list">
            <div class="container-fluid-sm">
                <div class="title-bar">
                    <ul class="list">
                        <li class="big">ITEM DESCRIPTION</li>
                        <li class="center">price</li>
                        <li class="center">UOM</li>
                        <li class="center">QTY</li>
                        <li class="center">Remove</li>
                    </ul>
                </div>
                <div class="product-table" style="height:390px;overflow-y:auto" id="divCartItems" v-bar>
                    <div>
                        <div v-if="cartItems.length > 0">
                            <ul class="list" v-for="(item,index) in cartItems" :id="'cartitem_'+item.ProductCode" v-transition>
                                <li class="big">
                                    {{item.ProductName}}
                                    <i class="fa fa-pencil hov-pointer" v-on:click="getProductComments(item.ProductID, item.ProdCommentID, item)" v-bind:class="{ 'red--text': item.ProdCommentID > 0, 'grey--text': item.ProdCommentID == 0}"></i>
                                </li>
                                <li class="center">{{item.Price | currency(currency, 2,marketText)}}</li>
                                <li class="center" v-if="item.DynamicUOM != null">
                                    <select :id="index + '_ddl'" class="selectWidth selectBg cartWidth" :data-lastUom="item.LastOrderUOMID"
                                            v-bind:class="{lastUom: item.LastOrderUOMID === item.UOMID && lastUOM , selectUOM: item.DynamicUOM.length === 1 }" :value="item.OrderUnitId" v-on:change="setPrice($event,index, item.DynamicUOM, item)" :disabled="item.DynamicUOM.length === 1">
                                        <option class="defUomClass" v-bind:class="{ lastUom: item.LastOrderUOMID === uom.UOMID && lastUOM }" :value="uom.UOMID" v-for="uom in item.DynamicUOM">{{uom.UOMDesc}}</option>
                                    </select>
                                </li>
                                <li class="center" v-else>
                                    <select :id="index + '_ddl'" class="selectWidth cartWidth"
                                            v-bind:class="{lastUom: item.LastOrderUOMID === item.UOMID && lastUOM , selectUOM: item.Prices.UOMID }" :value="item.OrderUnitId" :disabled="item.DynamicUOM === null">
                                        <option :value="item.Prices.UOMID">{{item.Prices.UOMDesc}}</option>
                                    </select>
                                </li>
                                <li class="center">
                                    <input type="text" class="cartWidth" maxlength="6" :value="item.Quantity" v-on:keypress="checkNumeric($event)" v-on:change="updateQuantity($event,index, item, item.DynamicUOM);">
                                </li>
                                <li class="center"><i style="cursor:pointer" class="fa fa-times-circle fs-28 text-danger" v-on:click="deleteCartItem(item)"></i></li>
                            </ul>
                        </div>
                        <div v-else class="text-center fa-2x m-t-10" id="divCartEmpty">
                        </div>
                    </div>
                </div>
            </div>
            @*<div class="col-md-12 m-b-20">
                    <div class="col-md-6 pull-right">
                        <a href="javascript:;" class="pull-right fs-19 m-b-20" style="margin:-12px 66px 0 0; z-index:999">Have a promo code?</a>
                        <br />
                    </div>
                </div>*@

            <div class="bottom-col">
                <div class="inline pull-left" style="float: left;">
                    <div class="pull-left">
                        <fieldset>
                            <textarea rows="1" data-toggle="modal" id="commentHolder" data-target="#modalComments" cols="25" placeholder="Add Delivery Comment" readonly></textarea>
                        </fieldset>
                    </div>
                </div>
                <div class="pull-right text-right">

                    <div class="order-btn">
                        <a href="@Url.Action("RecurringOrders","Main")" class="blue-border-btn pull-left">Manage Recurring Order</a>
                        <a href="@Url.Action("SearchProducts","Main")" class="blue-border-btn pull-left">Back</a>
                        <a id="call" href="javascript:;" class="blue-border-btn pull-left" v-if="saveOrder" v-on:click="placeOrderToDB(true)">Save Order</a>
                        <a href="javascript:;" class="blue-border-btn btn-width pull-left" v-on:click="continueToPlaceOrder(false)">Place Order</a>
                    </div>
                </div>
            </div>
            @*<div class="col mobile_response">
                            <fieldset class="mobile_commentarea">
                                <textarea rows="1" data-toggle="modal" id="commentHolder" data-target="#modalComments" cols="25" placeholder="Add Delivery Comment" readonly></textarea>
                            </fieldset>
                        <div class="order-btn" style="width:100%;">
                            <a id="call" href="javascript:;" class="blue-border-btn btn-width" v-if="saveOrder" v-on:click="placeOrderToDB(true)">Save Order</a>
                            <a href="javascript:;" class="blue-border-btn btn-width" v-on:click="continueToPlaceOrder(false)">Place Order</a>
                        </div>
                </div>*@
        </div>
    </div>

    <div class="modal fade " tabindex="-1" id="modalComments" role="dialog">
        <div class="add-fav-modal">
            <div class="table">
                <div class="table-cell">
                    <div class="modal-dialog modal-lg new-modal">

                        <!-- Modal content-->
                        <div class="modal-content borderTop">
                            <div class="modal-header">
                                <h4 class="modal-title">Select order comments</h4>
                                <a href="javascript:;" class="close modal-close" data-dismiss="modal"><img src="~/content/images/modal-close.png" alt="Close"></a>
                            </div>
                            <div class="modal-footer">
                                <div class="comment-header">
                                    <div class="comment-lft-header">
                                        Comments
                                    </div>
                                    <div class="comment-rt-header">
                                        <div class="add-col">
                                            Add
                                        </div>
                                        <div class="delete-col">
                                            Delete
                                        </div>
                                    </div>
                                </div>
                                <div class="fav-check-list-box" style="height:170px;overflow-y:auto" id="divComments" v-bar>
                                    <div>
                                        <div class="check-full-witdh" v-for="(comment, index) in comments" :id="comment.CommentID">
                                            <div class="check-label-box select-comment-lft-sec">
                                                <label>{{comment.CommentDescription}}</label>
                                            </div>
                                            <div class="select-comment-btn-sec">
                                                <div class="left-check-sec">
                                                    <div class="icheck-material-blue">
                                                        <input type="checkbox" class="chk" :id="'chk_'+index" :data-id="comment.CommentID" v-on:change="getSelectedComment(comment.CommentID, $event, comment.CommentDescription)" />
                                                        <label :for="'chk_'+index"></label>
                                                    </div>
                                                </div>
                                                <div class="delete-btn-sec">
                                                    <a href="javascript:;" v-on:click="deleteComment(comment.CommentID)"><i class="fa fa-times-circle fa-2x text-danger"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group text-center">
                                    <a href="" class="blue-border-btn hide-modal" data-toggle="modal" data-target="#modalAddComment">
                                        Add Comment
                                    </a>
                                    <a href="javascript:;" class="blue-border-btn hide-modal" data-dismiss="modal">
                                        OK
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade borderTop" tabindex="-1" id="modalAddComment" role="dialog">
        <div class="add-fav-modal">
            <div class="table">
                <div class="table-cell">
                    <div class="modal-dialog modal-lg new-modal">
                        <!-- Modal content-->
                        <div class="modal-content borderTop">
                            <div class="modal-header">
                                <h4 class="modal-title">Add new comment</h4>
                                <a href="javascript:;" class="close modal-close" data-dismiss="modal"><img src="~/content/images/modal-close.png" alt="Close"></a>
                            </div>
                            <div class="modal-body">
                                <input type="text" value="" id="txtComment" v-model="newComment" class="form-control" placeholder="">
                            </div>
                            <div class="modal-footer">
                                <div class="form-group text-center">
                                    <a href="javascript:void(0)" class="blue-border-btn" v-on:click="addNewComment(false, true)">
                                        Add
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="modalDeliveryDate" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-backdrop="static">
        <div class="add-fav-modal">
            <div class="modal-dialog new-modal">
                <div class="modal-content borderTop">
                    <div class="modal-header">
                        <a class="close modal-close" data-dismiss="modal" id="modalClose" v-on:click="setDetaultDate($event)"><i class="fa fa-times-circle"></i></a>
                        <h4 class="modal-title m-t-10">
                            @*Based on current order cut-off time of {{cutOff}}, <br /> the next 2 delivery dates are*@
                            Please select your delivery or pick up date from the calendar below:
                        </h4>
                        <p style="font-size:12px;" class="text-center">
                            Based on your delivery location and our order cut off times, the available delivery/pick up days for your selected suburb are highlighted green in the calendar below. Please select the next available date you wish to receive your delivery or pick up. Refer to the calendar legend for further assistance.
                        </p>
                    </div>
                    <div>
                        <div>
                            <div class="form-group col-md-12 pull-right">
                                <select style="-webkit-appearance: menulist;" class="form-control" id="ddlDateType" v-on:change="GetPickupDeliveryDDL">
                                    <option value="D">Delivery</option>
                                    <option value="U">Pick up</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="heading">
                                @*<h4> or choose new delivery date </h4>*@
                            </div>
                            <div style="text-align:-webkit-center; width:100%;">
                                <div class="datepicker-here" data-language='en'></div>
                            </div>
                            <div class="col-md-7 m-t-10">
                                <div class="m-b-20"><span class="calLegend">&nbsp;</span>Available Delivery Day</div>
                                <div class="m-b-20"><span class="calLegend sold">&nbsp;</span>Sold out/Past cut off</div>
                                <div class="m-b-20"><span class="calLegend dsbld">&nbsp;</span>Not available in your delivery area</div>
                            </div>
                        </div>
                        <div class="modal-footer ">
                            <div class="col-md-12 m-t-10">
                                <div class="form-group text-center">
                                    <a data-dismiss="modal" class="blue-border-btn hov-pointer">BACK</a>
                                    <a class="blue-border-btn hov-pointer" v-on:click="setDeliveryDate">CONTINUE</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade " tabindex="-1" id="modalOrderIn" role="dialog">
        <div class="add-fav-modal">
            <div class="table">
                <div class="table-cell">
                    <div class="modal-dialog modal-lg new-modal">
                        <!-- Modal content-->
                        <div class="modal-content borderTop">
                            <div class="modal-header">
                                <h4 class="modal-title">Order In Items</h4>
                                <a href="javascript:;" class="close modal-close" data-dismiss="modal"><img src="~/content/images/modal-close.png" alt="Close"></a>
                            </div>
                            <div class="modal-footer">
                                <div class="comment-header">
                                    <div class="center">
                                        Please note the following product(s) are ORDER IN items and we will try to deliver ASAP:
                                    </div>
                                </div>
                                <div class="fav-check-list-box" style="height:170px;overflow-y:auto" id="divBi" v-bar>
                                    <div>
                                        <div class="check-full-witdh" v-for="(item, index) in biItems">
                                            <div class="check-label-box select-comment-lft-sec">
                                                <label>{{item.ProductName}}</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group text-center">
                                    <p class="fs-22" style="color:#000;">Continue to place order?</p>
                                    <a href="javascript:;" class="blue-border-btn hide-modal" data-dismiss="modal">
                                        NO
                                    </a>
                                    <a href="javascript:;" class="blue-border-btn hide-modal" v-on:click="placeOrderToDB(false)">
                                        YES
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade " tabindex="-1" id="modalProdComments" role="dialog">
        <div class="add-fav-modal">
            <div class="table">
                <div class="table-cell">
                    <div class="modal-dialog modal-lg new-modal">

                        <!-- Modal content-->
                        <div class="modal-content borderTop">
                            <div class="modal-header">
                                <h4 class="modal-title">Select product comment</h4>
                                <a href="javascript:;" class="close modal-close" data-dismiss="modal"><img src="~/content/images/modal-close.png" alt="Close"></a>
                            </div>
                            <div class="modal-footer">
                                <div class="comment-header">
                                    <div class="comment-lft-header">
                                        Comments
                                    </div>
                                    <div class="comment-rt-header">
                                        <div class="add-col">
                                            Add
                                        </div>
                                    </div>
                                </div>
                                <div class="fav-check-list-box" style="height:170px;overflow-y:auto" id="divProdComments" v-bar>
                                    <div>
                                        <div class="check-full-witdh" v-for="(comment, index) in prodComments" :id="comment.CommentID">
                                            <div class="check-label-box select-comment-lft-sec">
                                                <label>{{comment.CommentDescription}}</label>
                                            </div>
                                            <div class="select-comment-btn-sec">
                                                <div class="left-check-sec">
                                                    <div class="icheck-material-blue">
                                                        <input type="checkbox" class="chk" :id="'chkp_'+ comment.PCommentID" :data-cid="comment.PCommentID" v-on:click="setProductComment($event)" />
                                                        <label :for="'chkp_'+comment.PCommentID"></label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group text-center">
                                    <a href="" class="blue-border-btn hide-modal" data-toggle="modal" data-target="#modalAddProdComment">
                                        Add Comment
                                    </a>
                                    <a href="javascript:;" class="blue-border-btn hide-modal" v-on:click="updateProductComment()">
                                        OK
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade borderTop" tabindex="-1" id="modalAddProdComment" role="dialog">
        <div class="add-fav-modal">
            <div class="table">
                <div class="table-cell">
                    <div class="modal-dialog modal-lg new-modal">
                        <!-- Modal content-->
                        <div class="modal-content borderTop">
                            <div class="modal-header">
                                <h4 class="modal-title">Add new comment</h4>
                                <a href="javascript:;" class="close modal-close" data-dismiss="modal"><img src="~/content/images/modal-close.png" alt="Close"></a>
                            </div>
                            <div class="modal-body">
                                <input type="text" value="" id="txtProdComment" v-model="newComment" class="form-control" placeholder="">
                            </div>
                            <div class="modal-footer">
                                <div class="form-group text-center">
                                    <a href="javascript:void(0)" class="blue-border-btn" v-on:click="addNewComment(true, false)">
                                        Add
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade borderTop" tabindex="-1" id="modalAddStripe" role="dialog">
        <div class="add-fav-modal" style="height: 100%;">
            <div class="table" style="height: 100%;">
                <div class="table-cell" style="height: 100%;">
                    <div class="modal-dialog modal-lg new-modal">
                        <!-- Modal content-->
                        <div class="modal-content borderTop">
                            <div class="modal-header">
                                <h4 class="modal-title">Enter Payment Details</h4>
                                <a href="javascript:;" class="close modal-close" data-dismiss="modal"><img src="~/content/images/modal-close.png" alt="Close"></a>
                            </div>
                            <div class="modal-body payment_popup" style=" z-index:99999;">
                                <div class="container" style="background-color:#f3f3f3;">
                                    <h4 style="width:auto;margin-right: 20px;float:left;color:#000;">Payment Processed by Stripe Payments</h4>
                                    <div style="float:right;margin-bottom: 2px;">
                                        <h5 style="width:100%;text-align:center;">Accepted Cards</h5>
                                        <div><img src="~/content/images/visa.png" style="width: 52px" /> <img src="~/content/images/master.png" style="width: 52px" /> <img src="~/content/images/american.png" style="width: 52px" /></div>
                                    </div>
                                    <form id="stripe-payment-form">
                                        <p style="clear:both;margin-bottom:2px;font-size:14px;">Pay with your credit card via Stripe</p>
                                        <div id="stripe-card-element" style="border: 1px solid #ccc; padding:10px">
                                            <!-- Elements will create input elements here -->
                                        </div>

                                        <!-- We'll put the error messages in this element -->
                                        <div id="stripe-card-errors" role="alert" style="color:#f00;padding: 10px;"></div>

                                        <div class="future_payment">
                                            <div class="pull-right col-md-6" style="font-weight: bold;margin-right: 0;padding-right: 0;text-align:right;margin-bottom:10px;">Amount to be charged:   <span style="margin-left: 60px;"> {{ChargedAmount | currency(currency,2)}}<br><span style="margin-left: 205px;font-weight: normal !important;">(incl GST)</span></span></div>
                                        </div>
                                        <div class="clearfix"></div>
                                        <button id="stripe-ls-submit" class="blue-border-btn pull-right">Pay</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade borderTop" tabindex="-1" id="modalSUggestiveItems" role="dialog">
        <div class="add-fav-modal">
            <div class="table">
                <div class="table-cell">
                    <div class="modal-dialog modal-lg new-modal">
                        <!-- Modal content-->
                        <div class="modal-content borderTop">
                            <div class="modal-header">
                                <h4 class="modal-title">Suggestive Items</h4>
                                <a href="javascript:;" class="close modal-close" data-dismiss="modal"><img src="~/content/images/modal-close.png" alt="Close"></a>
                            </div>
                            <div class="modal-body">
                            </div>
                            <div class="modal-footer">
                                <div class="form-group text-center">
                                    <a href="javascript:void(0)" class="blue-border-btn">
                                        Add
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade borderTop" tabindex="-1" id="modalPickupDelivery" role="dialog" data-backdrop="static" data-keyboard="false">
        <div class="add-fav-modal">
            <div class="table">
                <div class="table-cell">
                    <div class="modal-dialog new-modal">
                        <!-- Modal content-->
                        <div class="modal-content borderTop">
                            <div class="modal-header">
                                <h4>How would you like to receive your order?</h4>
                                @*<a href="javascript:;" class="close modal-close" data-dismiss="modal"><img src="~/content/images/modal-close.png" alt="Close"></a>*@
                            </div>
                            <div class="modal-body">
                                <ul class="delPickup">
                                    <li>
                                        <input type="checkbox" id="cbPickup" :checked="isPickup" v-on:change="updateDeliveryOptions($event, 'P')" />
                                        <label for="cbPickup"><span>Pickup</span><br /><img src="~/Content/images/pickup.png" height="100" /></label>
                                    </li>
                                    <li>
                                        <input type="checkbox" id="cbDelivery" :checked="isDelivery" v-on:change="updateDeliveryOptions($event, 'D')" />
                                        <label for="cbDelivery"><span>Delivery</span><br /><img src="~/Content/images/delivery.png" height="100" /></label>
                                    </li>
                                </ul>
                                <div class="col-md-10 col-md-offset-2" v-if="isDelivery">
                                    <div class="icheck-material-blue mb-3">
                                        <input type="checkbox" id="chkIsLeave" :checked="isLeave" v-on:change="updateDeliveryOptions($event, 'L')" />
                                        <label for="chkIsLeave">Permission to leave delivery</label>
                                    </div>
                                    <div class="icheck-material-blue mb-3">
                                        <input type="checkbox" id="chkIsContactless" :checked="isContactless" v-on:change="updateDeliveryOptions($event, 'C')" />
                                        <label for="chkIsContactless">Contactless delivery</label>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <div class="form-group text-center">
                                    <a href="javascript:void(0)" class="blue-border-btn" data-dismiss="modal">
                                        Back
                                    </a>
                                    <a href="javascript:void(0)" class="blue-border-btn" v-on:click="checkDeliveryOrPickup()">
                                        Continue
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<template>
    <div class="text-center">
        <v-dialog v-model="promoModal" persistent width="300">

            <v-card>
                <v-card-title class="headline lighten-2 bTop" style="text-align:center" primary-title>
                    Do you have a promotional code?
                </v-card-title>

                <v-card-text>
                    Enter you promo code to receive your exclusive offer
                </v-card-text>

                <v-card-text class="pt-0 pb-0">
                    <v-text-field label="Enter Code" v-model="appliedPromo" class="pa-0" required></v-text-field>
                </v-card-text>

                <v-card-text v-if="promoApplySuccess">
                    <p class="subtitle-2 text-center pa-0 ma-0" style="color:green;">Congratulations!!</p>
                    <p>
                        Your cart value prior to the promocode was {{cartTotal | currency(currency,2)}}.
                        After the code was applied your new cart value is {{(cartTotal - couponAmount) | currency(currency,2)}} and is a saving of {{couponAmount | currency(currency,2)}}
                    </p>
                </v-card-text>
                <v-card-text v-if="!promoApplySuccess">
                    <p>{{promoResponse}}</p>
                </v-card-text>
                <v-divider class="pa-0 ma-0"></v-divider>

                <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn color="primary"
                           text
                           @@click="promoModalClose">
                        {{promoApplySuccess ? 'Back':'Cancel'}}
                    </v-btn>
                    <v-btn v-if="!promoApplySuccess" color="primary" text @@click="applyPromoCode">
                        Add
                    </v-btn>
                    <v-btn v-if="promoApplySuccess" color="primary" text @@click="promoModalClose">
                        Ok
                    </v-btn>
                </v-card-actions>
            </v-card>
        </v-dialog>
    </div>
</template>

<template>
    <v-row justify="center">
        <v-dialog v-model="addressModal" persistent scrollable max-width="350px">
            <v-card>
                <v-card-title class="pt-0 pb-0 bTop"> <h4 class="pt-0 pb-0">Your Delivery Address</h4></v-card-title>
                <v-divider class="pt-0 pb-0 mt-0 mb-0"></v-divider>
                <v-card-text style="height:250px;color:black !important" class="pt-0 pb-0">
                    <div class="addrSelection">
                        <v-radio-group v-model="selectedAddress" column>
                            <v-radio :label="item.Address1" :value="item.AddressId" off-icon="$checkboxOff" v-for="(item,index) in customerAddresses" on-icon="$checkboxOn"></v-radio>
                        </v-radio-group>
                    </div>
                </v-card-text>
                <v-divider></v-divider>
                <v-card-actions class="m-l-10">
                    <v-btn class="ma-2" color="primary" dark @@click="addAddressModal = true">ADD</v-btn>
                    <v-btn class="ma-2" color="primary" v-if="selectedAddress > 0" dark @@click="deleteAddress">DELETE</v-btn>
                    <v-btn class="ma-2" color="primary" dark @@click="setAddress">OK</v-btn>
                </v-card-actions>
            </v-card>
        </v-dialog>
    </v-row>
</template>

<template>
    <v-row justify="center">
        <v-dialog v-model="pickupModal" persistent scrollable max-width="350px">
            <v-card>
                <v-card-title class="pt-0 pb-0 bTop"> <h4 class="pt-0 pb-0">Select your preferred Pick-Up location</h4></v-card-title>
                <v-divider class="pt-0 pb-0 mt-0 mb-0"></v-divider>
                <v-card-text style="height:250px;color:black !important" class="pt-0 pb-0">
                    <div class="addrSelection">
                        <v-radio-group v-model="selectedPickup" column>
                            <v-radio :label="item.PickupAddress" :value="item.ID" off-icon="$checkboxOff" v-for="(item,index) in pickupLocations" on-icon="$checkboxOn"></v-radio>
                        </v-radio-group>
                    </div>
                </v-card-text>
                <v-divider></v-divider>
                <v-card-actions class="text-right">
                    <v-btn class="my-2" color="primary" dark @@click="pickupModal = false">CANCEL</v-btn>
                    <v-btn class="ma-2" color="primary" dark @@click="setPickup">OK</v-btn>
                </v-card-actions>
            </v-card>
        </v-dialog>
    </v-row>
</template>

<template>
    <div class="text-center">
        <v-dialog v-model="addAddressModal" eager="true" persistent width="300">

            <v-card>
                <v-card-title class="headline lighten-2 bTop" style="text-align:center" primary-title>
                    New Delivery Address
                </v-card-title>
                <v-form ref="form" v-model="valid">
                    <v-card-text class="pt-0">
                        <v-text-field label="Contact Name" v-model="addressModel.contactName" :rules="contactRule" class="pa-0" required></v-text-field>
                    </v-card-text>

                    <v-card-text class="pt-0">
                        <v-text-field label="Phone Number" v-model="addressModel.phone" maxlength="10" v-on:keypress="checkAddressPhone($event)" :rules="phoneRule" class="pa-0" required></v-text-field>
                    </v-card-text>

                    <v-card-text class="pt-0">
                        <v-text-field label="Streed Address" id="street_number" v-on:focus="initMap()" class="pa-0 " v-model="addressModel.streetAddress" :rules="reqRule" @@click="addressModel.streetAddress = ''" required></v-text-field>
                    </v-card-text>

                    <v-card-text class="pt-0">
                        <v-text-field label="Suburb" class="pa-0 " id="locality" v-model="addressModel.suburb" :rules="reqRule" required></v-text-field>
                    </v-card-text>

                    <v-card-text class="pt-0">
                        <v-text-field label="Post Code" id="postal_code" class="pa-0 " v-model="addressModel.postCode" :rules="reqRule" required></v-text-field>
                    </v-card-text>

                    <v-divider class="pa-0 ma-0"></v-divider>

                    <v-card-actions>
                        <v-btn class="my-2" color="primary" text @@click="reset">
                            BACK
                        </v-btn>
                        <v-btn class="my-2" color="primary" text :disabled="!valid" @@click="addDeliveryAddress">
                            ADD
                        </v-btn>
                    </v-card-actions>
                </v-form>
            </v-card>
        </v-dialog>
    </div>
</template>