﻿@{
    /**/

    ViewBag.Title = "Choose customer";
    var customers = ViewBag.Customers;
}

@section scripts{
    <script>
        new Vue({
            el: '#appMain',
            data: {
                title: 'Select Account',
                search: '',
                userData: [],
                searchProducts: false,
                showOrderHistory: false,
                showInvoices: false,
                isPantryOnlySearch: false,
                copyPantry: false,
                isRetail: false
            },
            mounted() {
                this.getManageFeatures();
            },
            methods: {
                // Function to get the managed and admin features for the customer.
                getManageFeatures: function () {
                    axios.get(Router.action('Main', 'GetManagedFeatures'))
                        .then(response => {
                            this.searchProducts = response.data.SearchProducts;
                            this.showInvoices = response.data.ShowInvoices;
                            this.showOrderHistory = response.data.ShowOrderHistory;
                            this.isRetail = response.data.IsRetail;

                            if (this.isRetail) {
                                this.searchProducts = false;
                            }
                        });
                }
            }
        })
    </script>
}

<div class="main-content-inner favoritelist-main">
    <div class="top-container-fluid">
        <div class="pull-left">
            <a class="back-btn" href="@Url.Action("Login","Account")">Back</a>
        </div>
    </div>
    <div class="container-fluid">

        <div class="list-info" style="height:550px;overflow-y:auto" ref="categoriesDiv">
            <ul class="list block clearfix serach-list">
                @foreach (var item in customers)
                {
                    <li>
                        <a href="@Url.Action("DefaultPantry","Main",new { id = item.CustomerID})" class="text-uppercase">
                            @item.CustomerName
                        </a>
                    </li>
                }
            </ul>

        </div>

    </div>
</div>
