﻿@{
    ViewBag.Title = "Your Pantry";
}
<div class="main-content-inner" id="indexMain">
    <div class="top-container-fluid">
    </div>
    <div class="tab-col">
        <div class="tab-bar">
            <div class="container-fluid" v-cloak>

                <ul class="nav nav-tabs stabs" role="tablist">
                    <li v-for="(filter, index) in filters" v-bind:class="{ active: index == 0 }">
                        <a :href="'#' + filter.FilterID" :id="filter.FilterID + '_filter'" aria-controls="Goods" role="tab" data-toggle="tab" v-on:click="getFilteredProducts($event, filter.FilterID)">{{filter.FilterName}}</a>
                    </li>
                </ul>

                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane active vuebar-element" id="divMainProducts" style="height:580px;overflow-y:auto"
                         v-bar="{ preventParentScroll: true,scrollThrottle: 20,onScrollBottom:scrolledBottom }" ref="mainProductDiv">
                        <div class="detail-col" id="items">
                            <div class="detail-bar" v-for="(product, index) in products" :data-id="product.ProductID">
                                <div class="top-bar clearfix">
                                    <div v-if="pictureView" class="IsProductImg prduct_img text-center">
                                        <a :href="(product.ProductImages.length > 0 ?  product.ProductImages[0].ImageName : product.ProductImage)" :data-lightbox="'image' + index">
                                            <img :src="(product.ProductImages.length > 0 ?  product.ProductImages[0].ImageName : product.ProductImage)" style="height:100%" @@error="showDefault($event)">
                                        </a>
                                    </div>
                                    <div v-bind:class="{IsProductViewDetail: pictureView}">
                                        <div class="inner-bar">
                                            <div class="pull-left product-info">
                                                <ul class="info" style="background-color:none; border-color:none;">
                                                    <li class="heading">
                                                        <a v-bind:class="{'rewardItem':product.IsCountrywideRewards && highlightRewardItem}" v-if="productLongDetail" :href="'@Url.Action("ProductDetail","Main")?pID=' + product.ProductID">
                                                            {{product.ProductName}}
                                                        </a>
                                                        <a v-bind:class="{'rewardItem':product.IsCountrywideRewards && highlightRewardItem}" v-else href="javascript:;">
                                                            {{product.ProductName}}
                                                        </a>
                                                    </li>
                                                    @*<li>CODE: {{product.ProductCode}}</li>*@
                                                    <li class="hidden" v-if="showUnitPerCtn" :id="index + '_upc'"></li>
                                                    <li v-if="showBrand && product.Brand.length > 0">{{product.Brand}}</li>
                                                    <li v-if="showSupplier && product.Supplier.length > 0">{{product.Supplier}}</li>
                                                </ul>
                                                <label class="subheading" style="color:#7b7a7a" v-html="product.Description"></label>
                                            </div>
                                            <div class="pull-right price-info">
                                                <div class="price-col">
                                                    <div v-if="product.DynamicUOM != null">

                                                        <span :id="index + 'priceSpan'" v-if="showPrice" class="heading m-r-20 fs-21 text-cap" style="vertical-align:middle;">{{product.DynamicUOM[0].Price | selectedPrice(product.DynamicUOM, product.UOMID) |currency(currency,2,marketText) }}</span>
                                                        <select :id="index + '_ddl'" class="selectWidth  form-control selectBg" :data-lastUom="product.LastOrderUOMID"
                                                                v-bind:class="{ lastUom: product.LastOrderUOMID === product.UOMID && lastUOM , selectUOM: product.DynamicUOM.length === 1 }" :value="product.UOMID" v-on:change="setPrice($event,index, product.DynamicUOM)" :disabled="product.DynamicUOM.length === 1">
                                                            <option class="defUomClass" v-bind:class="{ lastUom: product.LastOrderUOMID === uom.UOMID && lastUOM  }" :value="uom.UOMID" v-for="uom in product.DynamicUOM">{{uom.UOMDesc}}</option>
                                                        </select>
                                                        <input type="hidden" :id="index + '_uom'" value="0" />
                                                    </div>
                                                    <div v-else>
                                                        <span v-if="showPrice" class="heading m-r-20 fs-21 text-cap">{{product.Prices.Price | currency(currency,2, marketText)  }}</span>
                                                        <select :id="index + '_ddl'" class="selectWidth  form-control"
                                                                v-bind:class="{lastUom: product.LastOrderUOMID === product.UOMID && lastUOM , selectUOM: product.Prices.UOMID }" :value="product.UOMID" :disabled="product.DynamicUOM === null">
                                                            <option :value="product.Prices.UOMID">{{product.Prices.UOMDesc}}</option>
                                                        </select>

                                                        <input type="hidden" :id="index + '_uom'" :value="product.Prices.Price" />
                                                    </div>

                                                    <input type="hidden" :id="index + '_quantity'" value="0" />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="inner-bar bottom-bar">
                                            <div class="pull-left product-infoBottomLeft">
                                                <div class="rate-col rateColK">
                                                    <a v-if="showFavoriteIcon">
                                                        <i class="fa fa-2x m-r-5 protip" data-pt-title="Your favourite" v-bind:class="{'fa-star':product.IsInPantry, 'fa-star-o': !product.IsInPantry}"></i>
                                                    </a>
                                                    @*<a href="javascript:;" class="doller"></a>*@
                                                    <a href="javascript:;" v-if="itemEnquiry">
                                                        <i class="fa fa-2x m-r-5 fa-info-circle text-dark protip" data-pt-title="Item enquiry" v-on:click="inquiryPopup(product.ProductID)"></i>
                                                    </a>
                                                    <span v-if="highlightStock">
                                                        <i class="fa fa-2x " v-bind:class="{'fa-check-circle text-success':product.StockQuantity > 0, 'fa-times-circle text-danger': product.StockQuantity <= 0}">
                                                        </i>
                                                        <p class="stockH" v-if="product.StockQuantity > 0">Available</p>
                                                        <p class="stockH" v-else>Not Available</p>
                                                    </span>
                                                </div>
                                                <div class="weekTable" v-if="showHistory">
                                                    <table class="tg pull-right">
                                                        <tr>
                                                            <th class="tg-rkx9 protip" rowspan="2" data-pt-position="left" data-pt-size="small" data-pt-title="Item purchase history">
                                                                <img src="~/Content/images/icons/history.svg" height="28" />
                                                            </th>
                                                            <th class="tg-4go4">WK1</th>
                                                            <th class="tg-4go4">WK2</th>
                                                            <th class="tg-4go4">WK3</th>
                                                            <th class="tg-4go4">WK4</th>
                                                            <th class="tg-4go4">WK5</th>
                                                            <th class="tg-4go4">WK6</th>
                                                            <th class="tg-4go4">WK7</th>
                                                            <th class="tg-4go4">WK8</th>
                                                        </tr>
                                                        <tr>
                                                            <td class="tg-4go4 protip" data-pt-title="Last weeks history">{{product.WeeklySales != null ? product.WeeklySales.Week1Sales == null ? 0 : product.WeeklySales.Week1Sales : 0}}</td>
                                                            <td class="tg-4go4 protip" data-pt-title="Two weeks ago">{{product.WeeklySales != null ? product.WeeklySales.Week2Sales == null ? 0 : product.WeeklySales.Week2Sales: 0}}</td>
                                                            <td class="tg-4go4 protip" data-pt-title="Three weeks ago">{{product.WeeklySales != null ? product.WeeklySales.Week3Sales == null ? 0 : product.WeeklySales.Week3Sales: 0}}</td>
                                                            <td class="tg-4go4 protip" data-pt-title="Four weeks ago">{{product.WeeklySales != null ? product.WeeklySales.Week4Sales == null ? 0 : product.WeeklySales.Week4Sales: 0}}</td>
                                                            <td class="tg-4go4 protip" data-pt-title="Five weeks ago">{{product.WeeklySales != null ? product.WeeklySales.Week5Sales == null ? 0 : product.WeeklySales.Week5Sales: 0}}</td>
                                                            <td class="tg-4go4 protip" data-pt-title="Six weeks ago">{{product.WeeklySales != null ? product.WeeklySales.Week6Sales == null ? 0 : product.WeeklySales.Week6Sales: 0}}</td>
                                                            <td class="tg-4go4 protip" data-pt-title="Seven weeks ago">{{product.WeeklySales != null ? product.WeeklySales.Week7Sales == null ? 0 : product.WeeklySales.Week7Sales: 0}}</td>
                                                            <td class="tg-4go4 protip" data-pt-title="Eight weeks ago">{{product.WeeklySales != null ? product.WeeklySales.Week8Sales == null ? 0 : product.WeeklySales.Week8Sales: 0}}</td>
                                                        </tr>
                                                    </table>
                                                </div>
                                            </div>
                                            <div class="pull-right price-infoBottom">

                                                <div class="quntity-col">
                                                    <div class="pull-left protip hov-pointer" v-if="pantrySort">
                                                        <i class="fa fa-arrows fa-2x m-r-15 m-t-5" style="color:darkgrey"></i>
                                                    </div>
                                                    <div v-if="!isRetail && pantryDelete" class="pull-left protip hov-pointer" data-pt-title="Delete from pantry">
                                                        <i class="fa fa-trash fa-2x m-r-5 m-t-5 red--text" v-on:click="deletePantryItem(product)"></i>
                                                    </div>
                                                    <form method="post" action="javascript:;" class="quntity-form">
                                                        <div class="input-group dropup d-flex">
                                                            <span class="p-l-10 p-r-10 text-middle qty-clr">Qty</span>
                                                            <input type="text" :id="index + '_qtyInput'" maxlength="6" v-on:keypress="checkNumeric($event)" v-on:keyup="setQuantity($event, index, product)" :value="product.Quantity === 0 ? '' : ''">
                                                        </div>
                                                    </form>
                                                </div>
                                                <a href="javascript:;" class="blue-border-btn" v-on:click="setProductID(product.ProductID, false)">Add To Favourite</a>
                                                <a href="javascript:;" :id="index + '_addToCart'" ref="index" v-bind:class="{'blue-border-btn': !product.IsInCart, 'green-border-btn': product.IsInCart }" v-on:click="addItemToTempCart(product, index)">
                                                    Add To Cart <i class="fa fa-shopping-cart"></i>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            @*<infinite-loading @@infinite="infiniteHandler" ref="infiniteLoading"></infinite-loading>*@
                            <div id="divNoProducts">
                                <p style="color:black">
                                </p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="text-center col-lg-12 m-t-20 " v-if="addToDefaultPantry && !isRetail">
                    <a href="" v-on:click="setPropForAddDefault()" class="blue-border-btn add-btn p-8 text-upper protip" data-pt-title="Add item to your pantry" data-pt-position="top" data-pt-size="normal" data-toggle="modal" data-target="#modalAddList">
                        Add Item
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" tabindex="-1" id="modalFavList" role="dialog" aria-hidden="true" data-keyboard="false" data-backdrop="static">
    <div class="add-fav-modal">
        <div class="table">
            <div class="table-cell">
                <div class="modal-dialog new-modal">

                    <!-- Modal content-->
                    <div class="modal-content borderTop">
                        <div class="modal-header">
                            <h4 class="modal-title text-uppercase">Select favourite list</h4>
                            <a href="javascript:;" class="close modal-close" v-on:click="setProductID(0, true)" data-dismiss="modal"><img style="max-width: 31px;" src="~/content/images/modal-close.png" alt="Close"></a>
                        </div>
                        <div class="modal-footer default-pantry-fav_list">
                            <div class="comment-header">
                                <div class="comment-lft-header">
                                    <span>Favourite list</span>
                                </div>
                                <div class="comment-rt-header">
                                    <div class="add-col">
                                        <span>Select</span>
                                    </div>
                                </div>
                            </div>
                            <div class="fav-check-list-box" style="height:170px;overflow-y:auto" id="divFavLists" v-bar>
                                <div>
                                    <div class="check-full-witdh" v-for="(list, index) in favouriteLists" :id="list.PantryListID">
                                        <div class="check-label-box select-comment-lft-sec">
                                            <label>{{list.PantryListName}}</label>
                                        </div>
                                        <div class="select-comment-btn-sec">
                                            <div class="left-check-sec">
                                                <div class="icheck-material-blue">
                                                    <input type="checkbox" class="chk" :id="'chk_'+index" v-on:change="setFavList($event, list.PantryListID)" />
                                                    <label :for="'chk_'+index"></label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group text-center">
                                <a href="javascript:;" class="blue-border-btn hide-modal" v-on:click="addItemToFav()">
                                    Add Item
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script src="@Url.Content("~/Scripts/indexFunctions.js")"></script>
}