﻿@{
    /**/

    ViewBag.Title = "FavoriteList";
}
@section scripts{
    <script src="@Url.Content("~/Scripts/favLists.js")"></script>
}

<div class="main-content-inner favoritelist-main">
    <div class="top-container-fluid">
        <div class="pull-left">
            <a class="back-btn" href="@Url.Action("SearchProducts","Main")">Back</a>
        </div>
    </div>
    <div class="container-fluid">

        <div class="list-info" style="height:560px;overflow-y:auto" v-bar ref="categoriesDiv">
            <div v-cloak v-if="favLists.length > 0">
                <ul class="list block clearfix serach-list" v-for="(item,index) in favLists">
                    <li :id="item.PantryListID">
                        <a href="javascript:;" v-on:click="loadPantry(item.PantryListName, item.PantryListID)" class="text-uppercase">
                            {{item.PantryListName}}
                            <span v-on:click="event.stopPropagation(), deletePantry(item.PantryListID,item.PantryListName);" class="btn btn-danger pull-right m-r-50">
                                <i class="fa fa-trash"></i> Delete
                            </span>
                        </a>
                    </li>
                </ul>
            </div>
            <div v-else class="text-center" style="margin: 14% auto;color: #000 !important;font-weight: 500;">
                <p style="color:black" id="noLists">
                </p>
            </div>
        </div>

        <div class="col-lg-12 text-center" v-if="addPantry">
            <a href="#modalAddList" class="blue-border-btn add-btn text-uppercase p-8 m-t-20 protip" data-pt-title="Add new favourite list" data-pt-position="top" data-pt-size="normal" data-toggle="modal">Favourite list</a>
        </div>
    </div>
</div>

<div class="modal fade" tabindex="-1" id="modalAddList" role="dialog">
    <div class="add-fav-modal">
        <div class="table">
            <div class="table-cell">
                <div class="modal-dialog modal-lg new-modal">
                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title">Add new favourite list</h4>
                            <a href="javascript:;" class="close modal-close" data-dismiss="modal"><img src="~/content/images/modal-close.png" alt="Close"></a>
                        </div>
                        <div class="modal-body">
                            <input type="text" value="" id="txtName" v-model="listName" class="form-control" placeholder="Enter favourite list name">
                        </div>
                        <div class="modal-footer">
                            <div class="form-group text-center">
                                <a href="javascript:void(0)" class="blue-border-btn" v-on:click="addNewList()">
                                    Add
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>