﻿@{
    ViewBag.Title = "Invoices";
}
@section scripts{
    <script src="@Url.Content("~/Scripts/getInvoicesJS.js")"></script>
    <script>
        $(function () {
            $('body').addClass('checkout');
        });
    </script>
}

<div class="main-content-inner" id="invoiceMain">
    <div class="top-container-fluid m-t-10">
        <div class="pull-left">
            <a class="back-btn" href="@Url.Action("SearchProducts","Main")">Back</a>
        </div>
        <div class="pull-right">
            <input type="text" id="tblSearch" v-on:keyup="searchFunction()" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Search by date or invoice'" placeholder="Search by date or invoice">
        </div>
    </div>
    <div class="cart-col">
        <div class="order-detail-list">

            <div class="container-fluid-sm" v-cloak>
                <div class="containerTbl">
                    <!--provides a wrapper for testing the scroll-->
                    <div class="tWrap">
                        <div class="tWrap__head">
                            <table>
                                <thead>
                                    <tr>
                                        <th>CUSTOMER NAME</th>
                                        <th>INVOICE DATE</th>
                                        <th>INVOICE NUMBER</th>
                                    </tr>
                                </thead>
                            </table>
                        </div> <!--/.tWrap__head-->
                        <div class="tWrap__body" style="overflow-y:auto; height:550px" v-bar="{ preventParentScroll: true,scrollThrottle:50}">
                            <div>
                                <table id="tblHistory">
                                    <tbody>
                                        <tr v-for="(item,index) in invoices">
                                            <td>
                                                <a :href="item.PdfPath" class="invTd" target="_blank">
                                                    {{item.CustomerName}}
                                                </a>
                                            </td>
                                            <td>
                                                <a :href="item.PdfPath" class="invTd" target="_blank">
                                                    {{item.OrderDate | invoiceDate}}
                                                </a>
                                            </td>
                                            <td>
                                                <a :href="item.PdfPath" class="invTd" target="_blank">{{item.InvoiceNumber}}</a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div> <!--/.tWrap__body-->
                    </div> <!--/.tWrap-->
                </div>
            </div>
        </div>
    </div>
</div>