﻿@{
    ViewBag.Title = "OrderHistory";
}

@section scripts{
    <script src="@Url.Content("~/Scripts/Orderhistory.js")"></script>
    <script>
        $(function () {
            $('body').addClass('checkout');
        });
    </script>
}

<div class="main-content-inner" id="invoiceMain">
    <div class="top-container-fluid m-t-10">
        <div class="pull-left">
            <a class="back-btn" href="@Url.Action("SearchProducts","Main")">Back</a>
        </div>
        <div class="pull-right">
            <input type="text" id="tblSearch" v-on:keyup="searchFunction()" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Search by Order No or Date'" placeholder="Search by Order No or Date" />
        </div>
    </div>
    <div class="cart-col">
        <div class="order-detail-list">

            <div class="container-fluid-sm" v-cloak>
                <div class="containerTbl">
                    <!--provides a wrapper for testing the scroll-->
                    <div class="tWrap">
                        <div class="tWrap__head">
                            <table>
                                <thead>
                                    <tr>
                                        <th>ORDER DATE</th>
                                        <th>ORDER NUMBER</th>
                                        <th v-if="showOrderStatus">STATUS</th>
                                        <th>RE-ORDER</th>
                                    </tr>
                                </thead>
                            </table>
                        </div> <!--/.tWrap__head-->
                        <div class="tWrap__body" style="overflow-y:auto; height:500px" v-bar>
                            <div>
                                <table id="tblHistory">
                                    <tbody>
                                        <tr v-for="(item,index) in orders">
                                            <td><a :href="'@Url.Action("OrderDetails","Main")?oID=' + item.CartID" style="border:none;color:#000;">{{item.OrderDate | invoiceDate}}</a></td>
                                            <td><a :href="'@Url.Action("OrderDetails","Main")?oID=' + item.CartID" style="border:none;color:#000;">{{item.OrderNumber}}</a></td>
                                            <td v-if="showOrderStatus">{{item.OrderStatusDesc}}</td>
                                            <td><a :href="'@Url.Action("OrderDetails","Main")?oID=' + item.CartID" style="border:none;" class="historyicon-cart"> </a></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div> <!--/.tWrap__body-->
                    </div> <!--/.tWrap-->
                </div>
                @*<table class="saaviTable hidden">
                        <thead>
                            <tr>
                                <th>ORDER DATE</th>
                                <th>ORDER NUMBER</th>
                                <th v-if="showOrderStatus">ORDER STATUS</th>
                                <th>RE-ORDER</th>
                            </tr>
                        </thead>
                    </table>
                    <table class="saaviTable">
                        <tbody>
                            <tr v-for="(item,index) in orders">
                                <td>{{item.OrderDate | dateFormatWithTime}}</td>
                                <td>{{item.OrderNumber}}</td>
                                <td v-if="showOrderStatus">{{item.OrderStatusDesc}}</td>
                                <td><a href="" style="border:none;" class="historyicon-cart"> <i class="fa fa-2x fa-cart-plus"></i></a></td>
                            </tr>
                        </tbody>
                    </table>*@
            </div>
        </div>
    </div>
</div>