﻿@{
    ViewBag.Title = "OrderDetails";
}
@section scripts{
    <script src="@Url.Content("~/Scripts/orderdetails.js")"></script>
    <script>
        $(function () {
            $('body').addClass('checkout');
        });
    </script>
}
<div class="main-content-inner">
    <div class="top-container-fluid">
        <div class="pull-left">
            <a class="back-btn" href="@Url.Action("OrderHistory","Main")">Back</a>
        </div>
        <div class="pull-right">
            @*<p>Account Status: <span class="green-text">Current</span></p>*@
            <p>Order Value: <span class="blue" id="orderTotal">{{orderTotal | currency(currency)}}</span></p>
        </div>
    </div>
    <div class="cart-col">
        <div class="order-detail-list">
            <div class="container-fluid-sm" v-cloak>
                <form method="post" action="#">
                    <div class="title-bar">
                        <ul class="list">
                            <li class="code">Code</li>
                            <li class="medium">ITEM DESCRIPTION</li>
                            <li class="center">price</li>
                            <li class="center">UOM</li>
                            <li class="center">QTY</li>
                            <li class="center">Add</li>
                        </ul>
                    </div>
                    <div class="product-table" style="height: 400px;" v-bar>
                        <div>
                            <ul class="list" v-for="(item, index) in orderDetail">
                                <li class="code">{{item.ProductCode}}</li>
                                <li class="medium">{{item.ProductName}}</li>
                                <li class="center">{{item.Price | currency(currency)}}</li>
                                <li class="center">{{item.OrderUnitName}}</li>
                                <li class="center"><input type="text" readonly :value="item.Quantity"></li>
                                <li class="center">
                                    <div class="left-check-sec" style="bottom:-4px">
                                        <div class="icheck-material-blue">
                                            <input type="checkbox" class="chk" :data-pid="item.ProductID" :id="index + '_chk'" v-on:change="setFavList($event, list.PantryListID)" />
                                            <label :for="index + '_chk'"></label>
                                        </div>
                                        @*<fieldset class="custom-checkbox">
                                                <input :data-pid="item.ProductID" :id="index + '_chk'" type="checkbox">
                                                <label :for="index + '_chk'"></label>
                                            </fieldset>*@
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="bottom-col">
                        <div class="pull-right text-right">
                            <div class="order-btn">
                                <a href="javascript:;" v-on:click="reOrder()" class="green-border-btn btn-width reorder-btn">Re-Order</a>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>