﻿@{
    ViewBag.Title = "Payment";
}

@section scripts{
    <script src="https://js.stripe.com/v3/"></script>
    <script>
        $(function () {
            $('body').addClass('checkout');
        });
        var payToken = '@ViewBag.Token';
    </script>
    <script src="@Url.Content("~/Scripts/Payment.js")"></script>
}

<div class="main-content-inner" id="invoiceMain">
    <div class="top-container-fluid m-t-10">
        @*<div class="pull-left">
            <a class="back-btn" href="@Url.Action("SearchProducts","Main")">Back</a>
        </div>*@
        @*<div class="pull-right">
            <input type="text" id="tblSearch" v-on:keyup="searchFunction()" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Search by Order No or Date'" placeholder="Search by Order No or Date" />
        </div>*@
        <div class="pull-right">
            <a href="javascript:;" class="blue-border-btn btn-width pull-left" v-on:click="makePayment($event)">Make Payment</a>
        </div>
    </div>
    <div class="cart-col">
        <div class="order-detail-list">

            <div class="container-fluid-sm" v-cloak>
                <div class="containerTbl">
                    <!--provides a wrapper for testing the scroll-->
                    <div class="tWrap">
                        <div class="tWrap__head">
                            <table>
                                <thead>
                                    <tr>
                                        <th>ORDER DATE</th>
                                        <th>ORDER NUMBER</th>
                                        <th>STATUS</th>
                                        <th>ORDER TOTAL</th>
                                        <th>

                                            <input type="checkbox" class="chk" v-on:change="selectAllChecks($event)" />

                                        </th>
                                    </tr>
                                </thead>
                            </table>
                        </div> <!--/.tWrap__head-->
                        <div class="tWrap__body" style="overflow-y:auto; height:500px" v-bar>
                            <div>
                                <table id="tblHistory">
                                    <tbody>
                                        <tr v-for="(item,index) in orders">
                                            <td>{{item.OrderDate | invoiceDate}}</td>
                                            <td>{{item.OrderNumber}}</td>
                                            <td>{{item.OrderStatusDesc}}</td>
                                            <td>{{item.Price | currency}}</td>
                                            <td>
                                                <input type="checkbox" class="chk pay-checkbox" :value="item.CartID" />
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div> <!--/.tWrap__body-->
                    </div> <!--/.tWrap-->
                </div>
                @*<table class="saaviTable hidden">
                        <thead>
                            <tr>
                                <th>ORDER DATE</th>
                                <th>ORDER NUMBER</th>
                                <th v-if="showOrderStatus">ORDER STATUS</th>
                                <th>RE-ORDER</th>
                            </tr>
                        </thead>
                    </table>
                    <table class="saaviTable">
                        <tbody>
                            <tr v-for="(item,index) in orders">
                                <td>{{item.OrderDate | dateFormatWithTime}}</td>
                                <td>{{item.OrderNumber}}</td>
                                <td v-if="showOrderStatus">{{item.OrderStatusDesc}}</td>
                                <td><a href="" style="border:none;" class="historyicon-cart"> <i class="fa fa-2x fa-cart-plus"></i></a></td>
                            </tr>
                        </tbody>
                    </table>*@
            </div>
        </div>
    </div>
</div>
<div class="modal fade borderTop" tabindex="-1" id="modalAddStripe" role="dialog">
    <div class="add-fav-modal" style="height: 100%;">
        <div class="table" style="height: 100%;">
            <div class="table-cell" style="height: 100%;">
                <div class="modal-dialog modal-lg new-modal">
                    <!-- Modal content-->
                    <div class="modal-content borderTop">
                        <div class="modal-header">
                            <h4 class="modal-title">Enter Payment Details</h4>
                            <a href="javascript:;" class="close modal-close" data-dismiss="modal"><img src="~/content/images/modal-close.png" alt="Close"></a>
                        </div>
                        <div class="modal-body payment_popup" style=" z-index:99999;">
                            <div class="container" style="background-color:#f3f3f3;">
                                <h4 style="width:auto;margin-right: 20px;float:left;color:#000;">Payment Processed by Stripe Payments</h4>
                                <div style="float:right;margin-bottom: 2px;">
                                    <h5 style="width:100%;text-align:center;">Accepted Cards</h5>
                                    <div><img src="~/content/images/visa.png" style="width: 52px" /> <img src="~/content/images/master.png" style="width: 52px" /> <img src="~/content/images/american.png" style="width: 52px" /></div>
                                </div>
                                <form id="stripe-payment-form">
                                    <p style="clear:both;margin-bottom:2px;font-size:14px;">Pay with your credit card via Stripe</p>
                                    <div id="stripe-card-element" style="border: 1px solid #ccc; padding:10px">
                                        <!-- Elements will create input elements here -->
                                    </div>

                                    <!-- We'll put the error messages in this element -->
                                    <div id="stripe-card-errors" role="alert" style="color:#f00;padding: 10px;"></div>

                                    <div class="future_payment">
                                        <div class="pull-right col-md-6" style="font-weight: bold;margin-right: 0;padding-right: 0;text-align:right;margin-bottom:10px;">Amount to be charged:   <span style="margin-left: 60px;"> $<span id="paymentTotalForStripe">--</span><br><span style="margin-left: 205px;font-weight: normal !important;">(incl GST)</span></span></div>
                                    </div>
                                    <div class="clearfix"></div>
                                    <button id="stripe-ls-submit" class="blue-border-btn pull-right">Pay</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>