﻿@{
    ViewBag.Title = "Product Detail";
    Random r = new Random();
    int num = r.Next();
    string ver = num.ToString();
}

@section scripts{
    <script src="@Url.Content("~/Scripts/productDetail.js?v=" + ver)"></script>
}
@section styles{
    <style>
        .product-slider {
            /*padding: 45px;*/
        }

            .product-slider #carousel {
                border: 4px solid black;
                margin: 0;
            }

            .product-slider #thumbcarousel {
                margin: 12px 0 0;
                padding: 0 45px;
            }

                .product-slider #thumbcarousel .item {
                    text-align: center;
                }

                    .product-slider #thumbcarousel .item .thumb {
                        border: 4px solid #cecece;
                        width: 20%;
                        margin: 0 2%;
                        display: inline-block;
                        vertical-align: middle;
                        cursor: pointer;
                        max-width: 98px;
                    }

                        .product-slider #thumbcarousel .item .thumb:hover {
                            border-color: black;
                        }

            .product-slider .item img {
                width: 100%;
                height: auto;
            }

        .carousel-control {
            color: #0284b8;
            text-align: center;
            text-shadow: none;
            font-size: 30px;
            width: 30px;
            height: 30px;
            line-height: 20px;
            top: 23%;
        }

            .carousel-control:hover, .carousel-control:focus, .carousel-control:active {
                color: #333;
            }

            .carousel-caption, .carousel-control .fa {
                font: normal normal normal 30px/26px FontAwesome;
            }

        .carousel-control {
            background-color: rgba(0, 0, 0, 0);
            bottom: auto;
            font-size: 20px;
            left: 0;
            position: absolute;
            top: 30%;
            width: auto;
        }

            .carousel-control.right, .carousel-control.left {
                background-color: rgba(0, 0, 0, 0);
                background-image: none;
            }
    </style>
}
<div class="main-content-inner">
    <div class="top-container-fluid">
        <div class="pull-left">
            <a class="back-btn" href="@Url.Action("SearchProducts","Main")">Back</a>
        </div>
    </div>
    <div class="container-fluid" v-cloak>
        <div class="detail-col" style="min-height:550px;">
            <div class="detail-bar productDetail">
                <div class="top-bar clearfix">
                    <div class="full-product-detail">
                        <div class="media">
                            <div class="col-md-4 col-lg-4 product_img-div col-sm-4" style="height:450px;" id="divPdetail">
                                @*<img :src="productImage" style="height:100%" @@error="showDefault($event)">*@
                                <div class="product-slider" style="width:85% !important; margin:0 auto;">
                                    <div id="carousel" class="carousel slide" data-ride="carousel" data-interval="4000">
                                        <div class="carousel-inner">
                                            <div :class="{'item active':index == 0, 'item':index > 0}" v-for="(item,index) in product.ProductImages">
                                                <img :src="item.ImageName" @@error="showDefault($event)">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="clearfix">
                                        <div id="thumbcarousel" class="carousel slide" data-interval="false">
                                            <div class="carousel-inner">
                                                <div class="item active">
                                                    <div data-target="#carousel" :data-slide-to="index" class="thumb" v-for="(item,index) in imageThumbs">
                                                        <img :src="item">
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- /carousel-inner -->
                                            @*<a class="left carousel-control" href="#thumbcarousel" role="button" data-slide="prev"> <i class="fa fa-angle-left" aria-hidden="true"></i> </a>
                                                <a class="right carousel-control" href="#thumbcarousel" role="button" data-slide="next"><i class="fa fa-angle-right" aria-hidden="true"></i> </a>*@
                                        </div>
                                        <!-- /thumbcarousel -->
                                    </div>
                                </div>
                            </div>
                            <div class="media-body col-md-8 col-lg-8 col-sm-8">
                                <div class="inner-bar">
                                    <div class="pull-left">
                                        <ul class="info">
                                            <li class="heading">
                                                <span style="color:black !important">
                                                    {{product.ProductName}}
                                                </span>
                                                <span style="color:black !important" v-bind:class="{'rewardItem':product.IsCountrywideRewards && highlightRewardItem}" v-else>
                                                    {{product.ProductName}}
                                                </span>
                                            </li>
                                            <li class="code" v-if="product.IsCountrywideRewards"><span class="green-text fs-17">*Countrywide rewards item</span></li>
                                        </ul>
                                    </div>
                                    <div class="pull-right price-info">
                                        <div class="price-col">
                                            <div v-if="product.DynamicUOM != null" class="">
                                                <span id="priceSpan" v-if="showPrice" class="heading text-cap" style="vertical-align:middle;">{{product.DynamicUOM[0].Price | selectedPrice(product.DynamicUOM, product.UOMID) | currency(currency,2,marketText)  }}</span>
                                                <select id="ddl" class="selectWidth form-control selectBg" :data-lastUom="product.LastOrderUOMID"
                                                        v-bind:class="{lastUom: product.LastOrderUOMID === product.UOMID && lastUOM, selectUOM: product.DynamicUOM.length === 1 }" :value="product.UOMID" v-on:change="setPrice($event,product.DynamicUOM)" :disabled="product.DynamicUOM.length === 1">
                                                    <option class="defUomClass" v-bind:class="{ lastUom: product.LastOrderUOMID === uom.UOMID && lastUOM }" :value="uom.UOMID" v-for="uom in product.DynamicUOM">{{uom.UOMDesc}}</option>
                                                </select>
                                                <input type="hidden" id="uom" value="0" />
                                            </div>
                                            <div v-else class="m-r-20">
                                                <span v-if="showPrice && product.Prices != null" id="priceSpan" class="heading m-r-20 text-cap">{{product.Prices.Price | currency(currency,2,marketText)  }}</span>
                                                <select v-if="product.Prices != null" id="ddl" class="selectWidth  form-control selectBg"
                                                        v-bind:class="{ selectUOM: product.Prices.UOMID }" :value="product.UOMID" :disabled="product.DynamicUOM === null">
                                                    <option :value="product.Prices.UOMID">{{product.Prices.UOMDesc}}</option>
                                                </select>
                                                <input type="hidden" id="uom" value="product.Prices.Price" />
                                            </div>
                                            @*<input type="hidden" id="quantity" :value="product.Quantity" />*@
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="product-detail col-md-6">
                                        <ul class="detail-list">
                                            <li class="hidden" v-if="showUnitPerCtn" id="upc"></li>
                                            <li><span>Description: </span>{{product.ProductName}}</li>
                                            <li v-if="showBrand"><span>Brand: </span><span>{{product.Brand == "" ? 'N/A' : product.Brand}}</span></li>
                                            <li v-if="showSupplier"><span>Supplier: </span>{{product.Supplier == "" ? 'N/A' : product.Supplier}}</li>
                                            <li v-if="highlightStock"><span>Availability: </span><span v-bind:class="{'green-text':product.StockQuantity > 0, 'text-danger': product.StockQuantity <= 0}">{{product.StockQuantity > 0 ? 'Available' : 'Sold Out'}}</span></li>
                                        </ul>
                                    </div>
                                    <div class="price-detail col-md-6">
                                        <ul class="info-list">
                                            <li><span>Category: </span>{{product.MainCategoryName}}</li>
                                            <li><span>Sub Category: </span>{{product.CategoryName}}</li>

                                            <li v-if="showStock"><span>Stock:</span> {{product.StockQuantity | round}}</li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-md-12 text-justify">
                                    <strong v-if="hasDescription">Item Description:</strong>
                                    <div v-html="product.Description"></div>
                                    <div v-html="product.ProductFeature"></div>
                                </div>
                            </div>
                        </div>
                        @*<div class="bottom-col clearfix hidden">
                                <div class="pull-left">
                                    <table class="table table-bordered text-center order-table">
                                        <tbody>
                                            <tr>
                                                <th></th>
                                                <th>WK1</th>
                                                <th>WK2</th>
                                                <th>WK3</th>
                                                <th>WK4</th>
                                                <th>WK5</th>
                                                <th>WK6</th>
                                                <th>WK7</th>
                                                <th>WK8</th>
                                            </tr>
                                            <tr>
                                                <td class="protip" data-pt-position="top" data-pt-size="small" data-pt-title="Item Purchase History">  <img src="~/Content/images/icons/history.svg" height="28" /></td>
                                                <td><a class="tg-4go4 protip" data-pt-title="Last weeks history" href="javascript:;">{{product.WeeklySales != null ? product.WeeklySales.Week1Sales == null ? 0 : product.WeeklySales.Week1Sales : 0}}</a></td>
                                                <td><a class="tg-4go4 protip" data-pt-title="Two weeks ago" href="javascript:;">{{product.WeeklySales != null ? product.WeeklySales.Week2Sales == null ? 0 : product.WeeklySales.Week2Sales : 0}}</a></td>
                                                <td><a class="tg-4go4 protip" data-pt-title="Three weeks ago" href="javascript:;">{{product.WeeklySales != null ? product.WeeklySales.Week3Sales == null ? 0 : product.WeeklySales.Week3Sales : 0}}</a></td>
                                                <td><a class="tg-4go4 protip" data-pt-title="Four weeks ago" href="javascript:;">{{product.WeeklySales != null ? product.WeeklySales.Week4Sales == null ? 0 : product.WeeklySales.Week4Sales : 0}}</a></td>
                                                <td><a class="tg-4go4 protip" data-pt-title="Five weeks ago" href="javascript:;">{{product.WeeklySales != null ? product.WeeklySales.Week5Sales == null ? 0 : product.WeeklySales.Week5Sales : 0}}</a></td>
                                                <td><a class="tg-4go4 protip" data-pt-title="Six weeks ago" href="javascript:;">{{product.WeeklySales != null ? product.WeeklySales.Week6Sales == null ? 0 : product.WeeklySales.Week6Sales : 0}}</a></td>
                                                <td><a class="tg-4go4 protip" data-pt-title="Seven weeks ago" href="javascript:;">{{product.WeeklySales != null ? product.WeeklySales.Week7Sales == null ? 0 : product.WeeklySales.Week7Sales : 0}}</a></td>
                                                <td><a class="tg-4go4 protip" data-pt-title="Eight weeks ago" href="javascript:;">{{product.WeeklySales != null ? product.WeeklySales.Week8Sales == null ? 0 : product.WeeklySales.Week8Sales : 0}}</a></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>*@
                    </div>

                    <div class="inner-bar bottom-bar p-b-20">
                        <div class="pull-left product-info" style="width:30%">
                            <div class="rate-col">
                                <a v-if="showFavoriteIcon">
                                    <i class="fa fa-2x m-r-5" v-bind:class="{'fa-star':product.IsInPantry, 'fa-star-o': !product.IsInPantry}"></i>
                                    <span>{{ product.IsInPantry ? 'My Favourite' : 'Not in favourites'}}</span>
                                </a>
                                <a href="javascript:;" v-if="itemEnquiry">
                                    <i class="fa fa-2x m-r-5 fa-info-circle text-dark" v-on:click="inquiryPopup(product.ProductID)"></i>
                                </a>
                            </div>
                        </div>
                        <div class="pull-right price-info m-r-25" style="width:60%;">
                            <div class="quntity-col">
                                <div class="quntity-form">
                                    <div class="input-group dropup d-flex">
                                        <span class="p-l-10 p-r-10 qty-clr" style="vertical-align:-webkit-baseline-middle">Qty</span>
                                        <input type="text" maxlength="6" id="qtyInput" v-on:keypress="checkNumeric($event)" v-on:keyup="setQuantity($event, product)" :value="product.Quantity === 0 ? '' : product.Quantity">
                                    </div>
                                    <input type="hidden" id="quantity" :value="product.Quantity" />
                                </div>
                            </div>
                            <a href="javascript:;" class="blue-border-btn" v-on:click="setProductID(product.ProductID, false)">Add To Favourite</a>

                            <a href="javascript:;" v-bind:class="{'blue-border-btn': !product.IsInCart, 'green-border-btn': product.IsInCart }" id="addToCart" v-on:click="addItemToTempCart(product)">Add To Cart</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" tabindex="-1" id="modalFavList" role="dialog" aria-hidden="true" data-keyboard="false" data-backdrop="static">
    <div class="add-fav-modal">
        <div class="table">
            <div class="table-cell">
                <div class="modal-dialog new-modal">

                    <!-- Modal content-->
                    <div class="modal-content borderTop">
                        <div class="modal-header">
                            <h4 class="modal-title text-uppercase">Select favourite list</h4>
                            <a href="javascript:;" class="close modal-close" v-on:click="setProductID(0, true)" data-dismiss="modal"><img src="~/content/images/modal-close.png" alt="Close"></a>
                        </div>
                        <div class="modal-footer">
                            <div class="comment-header">
                                <div class="comment-lft-header">
                                    <span>Favourite list</span>
                                </div>
                                <div class="comment-rt-header">
                                    <div class="add-col">
                                        <span>Select</span>
                                    </div>
                                </div>
                            </div>
                            <div class="fav-check-list-box" style="height:170px;overflow-y:auto" id="divFavLists" v-bar>
                                <div>
                                    <div class="check-full-witdh" v-for="(list, index) in favouriteLists" :id="list.PantryListID">
                                        <div class="check-label-box select-comment-lft-sec">
                                            <label>{{list.PantryListName}}</label>
                                        </div>
                                        <div class="select-comment-btn-sec">
                                            <div class="left-check-sec">
                                                <div class="icheck-material-blue">
                                                    <input type="checkbox" class="chk" :id="'chk_'+index" v-on:change="setFavList($event, list.PantryListID)" />
                                                    <label :for="'chk_'+index"></label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group text-center">
                                <a href="javascript:;" class="blue-border-btn hide-modal" v-on:click="addItemToFav()">
                                    <i style="vertical-align:middle; font-size:26px" class="fa fa-plus-circle"></i> Add Item
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>