﻿@{
    ViewBag.Title = "RecurringOrders";
}

@section scripts{
    <script src="https://js.stripe.com/v3/"></script>
    <script src="@Url.Content("~/Scripts/RecurringOrder.js")"></script>
    <script>
        $(function () {
            $('body').addClass('checkout');
        });

     function cancelsubscription(customerid, planid)
        {
       
            $("#hdnPlanId").val(planid);
            $("#hdnCustomerId").val(customerid);
            startLoading();
                $('#myModalAlerMessage').modal("hide");
                $("#error").html("Are you sure going to cancel subscription");
                $('#myModalAlerMessage').modal("show");
             stopLoading();
            return;
        }
        function cancelactualSubscription() {           
            startLoading();
            var data = {
                PlanId: $("#hdnPlanId").val(),
                CustomerId: $("#hdnCustomerId").val()
            }
            $.ajax({
                type: "POST",
                contentType: "application/json; charset=utf-8",
                dataType: 'json',
                url: '@Url.Action("CancelSubsciption", "Master")',
                data: JSON.stringify(data),
                success: function (response) {
                    if (response=="1") {
                        alert('Subscription Cancel Sucessfully');                        
                    }
                    else if (response == "0") {
                        alert('Error occur during Cancel Sucessfully');                       
                    }
                    window.location.href = "@Url.Action("ManagedFeatures", "Master")";
                    stopLoading();
                }
            });
           
            return;
        }   
    </script>
}

<div class="main-content-inner" id="invoiceMain">
    <div class="top-container-fluid m-t-10">
        <div class="pull-left">
            <a class="back-btn" href="@Url.Action("SearchProducts","Main")">Back</a>
        </div>
    </div>
    <div class="cart-col">
        <div class="col-md-12">
            <table border="1" class="tblReccur">
                <tr>
                    <td width="10%">Status</td>
                    <td width="10%">Order Type</td>
                    <td>Address</td>
                    <td width="10%">Start Date</td>
                    <td width="10%">Frequency</td>
                </tr>
                <tr>
                    <td>{{recurringOrderModal.IsSuspended == false ? 'ACTIVE' : 'INACTIVE'}}</td>
                    <td>{{initOrderType}}</td>
                    <td>{{initAddress}}</td>
                    <td>{{initStartDate}}</td>
                    <td>{{initFrequency}}</td>
                </tr>
            </table>
        </div>
        &nbsp;
        <div class="order-detail-list">

            <div class="container-fluid-sm" v-cloak>
                <div class="col-md-5">
                    <div class="subject-info-box-1">
                        <div class="list-group">
                            <a href="javascript:;" class="list-group-item" :data-index="index" @@click="toggleActive" v-for="(product,index) in AllProducts">
                                {{product.ProductName}}
                            </a>
                        </div>
                    </div>

                    <div class="subject-info-arrows text-center">
                        <input type='button' id='btnAdd' value='Add >> ' class="btn btn-default p-0 p-t-5 p-b-5" @@click="addItemsToTable" /><br />
                    </div>

                    <div class="clearfix"></div>
                </div>
                <div class="col-md-7">
                    <!--provides a wrapper for testing the scroll-->
                    <div class="tWrap">
                        <div class="tWrap__head">
                            <table>
                                <thead>
                                    <tr>
                                        <th width="15%">CODE</th>
                                        <th width="50%">PRODUCTNAME</th>
                                        <th width="20%">QUANTITY</th>
                                        <th width="15%">PRICE</th>
                                        <th width="15%">REMOVE</th>
                                    </tr>
                                </thead>
                            </table>
                        </div> <!--/.tWrap__head-->
                        <div class="tWrap__body" style="overflow-y:auto; height:310px" v-bar>
                            <div>
                                <table id="tblHistory">
                                    <tbody>
                                        <tr v-for="(item,index) in SelectedProducts">
                                            <td width="15%">{{item.ProductCode}}</td>
                                            <td width="50%"> {{item.ProductName}}</td>
                                            <td width="20%"><input type="text" class="rTxt" :value="item.Quantity" v-model="item.Quantity" maxlength="4" /></td>
                                            <td width="15%">{{item.Price | currency('$', 2,false)}}</td>
                                            <td width="18%">
                                                <a href="javascript:;" v-if="item.RecurrProdID > 0">
                                                    <i style="cursor:pointer" class="fa fa-times-circle fs-28 text-danger" @@click="DeleteRecurringItem(item.RecurrProdID,index)"></i>
                                                </a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div> <!--/.tWrap__body-->
                    </div> <!--/.tWrap-->
                </div>
            </div>
        </div>

        <div class="col-md-12">
            <div class="bottom-col">
                <div class="pull-right text-right">
                    <div class="order-btn">
                        <a href="#modalStandingOrder" data-toggle="modal" class="blue-border-btn pull-left">Save Recurring Order</a>
                        @*<a id="call" href="javascript:;" class="blue-border-btn pull-left">Save Details</a>*@
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modalStandingOrder" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-backdrop="static">
    <div class="add-fav-modal">
        <div class="modal-dialog new-modal">
            <div class="modal-content borderTop">
                <div class="modal-header">
                    <a class="close modal-close" data-dismiss="modal" id="modalClose"><i class="fa fa-times-circle"></i></a>
                    <h4 class="modal-title m-t-10">
                        @*Based on current order cut-off time of {{cutOff}}, <br /> the next 2 delivery dates are*@
                        Manage your recurring order
                    </h4>
                    <p style="font-size:12px;" class="text-center">
                        Below are the days of the week/dates that you have currently selected and the frequency
                    </p>
                </div>
                <div>
                    <div>
                        <div class="form-group col-md-12 pull-right">
                            <select style="-webkit-appearance: menulist;" class="form-control" id="ddlReccurDateType"
                                    v-model="recurringOrderModal.OrderType" v-on:change="setAddressType">
                                <option value="Delivery">Delivery</option>
                                <option value="Pickup">Pick up</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="heading">
                            @*<h4> or choose new delivery date </h4>*@
                        </div>
                        <div style="text-align:-webkit-center; width:100%;">
                            <div style="margin-top:100px;float:left">
                                <label style="font-size:14px;float:left;line-height:0px !important;margin-bottom:0px;"><b>Start Date:</b></label>
                                <label style="font-size:14px;float:left;line-height:0px !important;margin-bottom:0px;margin-top:15px">(select one)</label>
                                <label style="font-size:14px;float:left;line-height:0px !important;margin-bottom:0px;margin-top:25px;position:absolute;left:15px;">
                                    <input type="checkbox" id="chkReSuspend" value="Suspend" :checked="recurringOrderModal.IsSuspended" /> Suspend
                                </label>
                            </div>

                            <div class="datepicker-Recurr" data-language='en'></div>
                        </div>
                        <div class="form-group col-md-12 pull-right text-center m-t-10" v-if="isDeliveryRecurr">
                            <span style="font-size:15px;"><b>Delivery Address</b></span>
                            <select style="-webkit-appearance: menulist;" class="form-control" id="ddlReccurDeliveryAddress"
                                    v-model="recurringOrderModal.AddressID" v-on:change="updateRecurrDatepicker('D')">
                                @*<option value="0">Select Delivery Address</option>*@
                                <option v-for="address in customerAddresses" :value="address.AddressId">{{address.Address1}}</option>
                            </select>
                        </div>
                        <div class="form-group col-md-12 pull-right text-center m-t-10" v-else>
                            <span style="font-size:15px;"><b>Pickup Address</b></span>
                            <select style="-webkit-appearance: menulist;" class="form-control" id="ddlReccurPickupAddress"
                                    v-model="recurringOrderModal.PickupID" :change="updateRecurrDatepicker('P')">
                                @*<option value="0">Select Pick-up Address</option>*@
                                <option v-for="address in pickupLocations" :value="address.ID">{{address.PickupAddress}}</option>
                            </select>
                        </div>

                        <div class="form-group col-md-12 pull-right text-center m-t-10">
                            <span style="font-size:14px;"><b>Frequency</b></span>
                            <select style="-webkit-appearance: menulist;" class="form-control" id="ddlReccurInterval" v-model="recurringOrderModal.Frequency">
                                <option value="Weekly">Weekly</option>
                                <option value="Fortnightly">Fortnightly</option>
                                <option value="Monthly">Monthly</option>
                            </select>
                        </div>
                    </div>
                    <div class="modal-footer ">
                        <div class="col-md-12 m-t-10">
                            <div class="form-group text-center">
                                <a data-dismiss="modal" class="blue-border-btn hov-pointer">BACK</a>
                                <a class="blue-border-btn hov-pointer" @@click="manageRecurringOrder">SAVE</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade borderTop" tabindex="-1" id="modalAddStripe" role="dialog" style="z-index:999999;">
    <div class="add-fav-modal" style="height: 100%;">
        <div class="table" style="height: 100%;">
            <div class="table-cell" style="height: 100%;">
                <div class="modal-dialog modal-lg new-modal">
                    <!-- Modal content-->
                    <div class="modal-content borderTop">
                        <div class="modal-header">
                            <h4 class="modal-title">Enter Recurring Payment Details</h4>
                            <a href="javascript:;" class="close modal-close" data-dismiss="modal"><img src="~/content/images/modal-close.png" alt="Close"></a>
                        </div>
                        <div class="modal-body payment_popup" style=" z-index:99999;">
                            <div class="container" style="background-color:#f3f3f3;">
                                <h4 style="width:auto;margin-right: 20px;float:left;color:#000;">Recurring Payment Processed by Stripe Payments</h4>
                                <table border="0" class="tblReccur" style="font-size:17px;background-color: rgb(243, 243, 243);">
                                    <tr style="border:0">
                                        <td width="20%" style="border:0;">Status</td>
                                        <td style="border:0;">{{recurringOrderModal.IsSuspended == false ? 'ACTIVE' : 'INACTIVE'}}</td>                     
                                    </tr>
                                    <tr style="border:0">
                                        <td style="border:0;" width="20%">Order Type</td>
                                        <td style="border:0">{{initOrderType}}</td>
                                    </tr>
                                    <tr style="border:0;" ><td style="border:0;" width="20%">Address</td><td style="border:0;"> {{initAddress}}</td></tr>
                                    <tr style="border:0;">
                                        <td style="border:0;" width="20%">Start Date</td>
                                        <td style="border:0;">{{initStartDate}}</td>
                                    </tr>
                                    <tr style="border:0;"> <td style="border:0;" width="20%">Frequency</td><td style="border:0;">{{initFrequency}}</td></tr>
                                 </table>
                                <div style="float:right;margin-bottom: 2px;">
                                    <h5 style="width:100%;text-align:center;">Accepted Cards</h5>
                                    <div><img src="~/content/images/visa.png" style="width: 52px" /> <img src="~/content/images/master.png" style="width: 52px" /> <img src="~/content/images/american.png" style="width: 52px" /></div>
                                </div>
                                <form id="stripe-payment-form">
                                    <p style="clear:both;margin-bottom:2px;font-size:14px;">Pay with your credit card via Stripe</p>
                                    <div id="stripe-card-element" style="border: 1px solid #ccc; padding:10px">
                                        <!-- Elements will create input elements here -->
                                    </div>
                                    <!-- We'll put the error messages in this element -->
                                    <div id="stripe-card-errors" role="alert" style="color:#f00;padding: 10px;"></div>

                                    <div class="future_payment">
                                        <div class="pull-right col-md-6" style="font-weight: bold;margin-right: 0;padding-right: 0;text-align:right;margin-bottom:10px;">Amount to be charged:   <span style="margin-left: 60px;"> {{ChargedAmount | currency('$', 2,false)}}<br><span style="margin-left: 205px;font-weight: normal !important;">(incl GST)</span></span></div>
                                    </div>
                                    <div class="clearfix"></div>
                                    <button id="stripe-ls-submit" class="blue-border-btn pull-right">Pay</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>