﻿@{
    ViewBag.Title = "Profile";
    Random r = new Random();
    int num = r.Next();
    string ver = num.ToString();
}
@section scripts{
    <script src="@Url.Content("~/Scripts/profilePage.js?v=" + ver)"></script>
}
<div class="main-content-inner" style="height:600px;">
    <div class="top-container-fluid">
        <div class="pull-left">
            <a class="back-btn" href="@Url.Action("SearchProducts","Main")">Back</a>
        </div>
    </div>
    <div class="portfolio-col">
        <h2 class="text-uppercase"><a href="/SaaviMVC/Main/UserProfile"><i class="fa fa-user iconColor"></i></a> Profile</h2>
        <table class="detail" v-cloak>
            <tr>
                <td><span class="text">Business name</span></td>
                <td><span class="about">{{userData.BusinessName}}</span></td>
            </tr>
            <tr>
                <td><span class="text">Contact name</span> </td>
                <td><span class="about">{{userData.Firstname }} {{userData.LastName}}</span></td>
            </tr>
            <tr>
                <td><span class="text">Contact number</span></td>
                <td><span class="about" v-if="!isGuest">{{userData.Phone}}</span></td>
            </tr>
            <tr>
                <td><span class="text">Email</span> </td>
                <td><span class="about" v-if="!isGuest">{{userData.Email}}</span></td>
            </tr>
        </table>
    </div>
</div>