﻿@{
    ViewBag.Title = "Search Products";
}
@section scripts{
    <script src="@Url.Content("~/Scripts/WhatsNew.js")"></script>
}
<div class="main-content-inner">
    <div class="top-container-fluid" v-cloak>
        <div class="pull-left">
            <a class="back-btn" href="@Url.Action("SearchProducts","Main")">Back</a>
        </div>
    </div>
    <div class="container-fluid" v-cloak>
        <div class="list-info" style="height:600px;overflow-y:auto" v-bar id="divWhatsNew">
            <div class="tab-content" v-if="products.length > 0">
                <div role="tabpanel" class="tab-pane active vuebar-element" id="divMainProducts" style="height:100%;overflow-y:auto"
                     v-bar="{ preventParentScroll: true,scrollThrottle: 10,onScrollBottom:scrolledBottom}">
                    <div class="detail-col">
                        <div class="detail-bar" v-for="(product, index) in products">
                            <div class="top-bar clearfix">
                                <div v-if="pictureView" class="IsProductImg prduct_img  text-center">
                                    <a :href="(product.ProductImages.length > 0 ?  product.ProductImages[0].ImageName : product.ProductImage)" :data-lightbox="'image' + index">
                                        <img :src="(product.ProductImages.length > 0 ?  product.ProductImages[0].ImageName : product.ProductImage)" style="height:100%" @@error="showDefault($event)">
                                    </a>
                                </div>
                                <div v-bind:class="{IsProductViewDetail: pictureView}">
                                    <div class="inner-bar">
                                        <div class="pull-left product-info">
                                            <ul class="info">
                                                <li class="heading">
                                                    <a v-bind:class="{'rewardItem':product.IsCountrywideRewards && highlightRewardItem}" v-if="productLongDetail" :href="'@Url.Action("Productdetail", "Main")?pID=' + product.ProductID">
                                                        {{product.ProductName}}
                                                    </a>
                                                    <a v-bind:class="{'rewardItem':product.IsCountrywideRewards && highlightRewardItem}" v-else href="javascript:;">
                                                        {{product.ProductName}}
                                                    </a>
                                                </li>
                                                <li v-if="product.ProductFeature.length > 0"> <a style="font-size:13px;color:black;" href="javascript:;" v-on:click="showProductInclusions(product)"> Read More...</a></li>
                                                <li class="hidden" v-if="showUnitPerCtn" :id="index + '_upc'"></li>
                                                <li v-if="showBrand && product.Brand.length > 0">{{product.Brand}}</li>
                                                <li v-if="showSupplier && product.Supplier.length > 0">{{product.Supplier}}</li>
                                            </ul>
                                        </div>
                                        <div class="pull-right price-info">

                                            <div class="price-col">
                                                <div v-if="product.DynamicUOM != null">
                                                    <span :id="index + 'priceSpan'" v-if="showPrice" class="heading m-r-20 fs-21 text-cap" style="vertical-align:middle;">{{product.DynamicUOM[0].Price | selectedPrice(product.DynamicUOM, product.UOMID) | currency(currency,2,marketText)  }}</span>
                                                    <select :id="index + '_ddl'" class="selectWidth  form-control selectBg" :data-lastUom="product.LastOrderUOMID"
                                                            v-bind:class="{ lastUom: product.LastOrderUOMID === product.UOMID && lastUOM , selectUOM: product.DynamicUOM.length === 1 }" :value="product.UOMID" v-on:change="setPrice($event,index, product.DynamicUOM)" :disabled="product.DynamicUOM.length === 1">
                                                        <option class="defUomClass" v-bind:class="{ lastUom: product.LastOrderUOMID === uom.UOMID && lastUOM }" :value="uom.UOMID" v-for="uom in product.DynamicUOM">{{uom.UOMDesc}}</option>
                                                    </select>

                                                    <input type="hidden" :id="index + '_uom'" value="0" />
                                                </div>
                                                <div v-else>
                                                    <span v-if="showPrice" class="heading m-r-20 fs-21 text-cap">{{product.Prices.Price | currency(currency,2,marketText)  }}</span>
                                                    <select :id="index + '_ddl'" class="selectWidth  form-control"
                                                            v-bind:class="{lastUom: product.LastOrderUOMID === product.UOMID && lastUOM , selectUOM: product.Prices.UOMID }" :value="product.UOMID" :disabled="product.DynamicUOM === null">
                                                        <option :value="product.Prices.UOMID">{{product.Prices.UOMDesc}}</option>
                                                    </select>

                                                    <input type="hidden" :id="index + '_uom'" :value="product.Prices.Price" />
                                                </div>

                                                <input type="hidden" :id="index + '_quantity'" :value="product.Quantity" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="inner-bar bottom-bar">
                                        <div class="pull-left product-infoBottomLeft">
                                            <div class="rate-col rateColK">
                                                <a v-if="showFavoriteIcon">
                                                    <i class="fa fa-2x m-r-5 protip" data-pt-title="Your favourite" v-bind:class="{'fa-star':product.IsInPantry, 'fa-star-o': !product.IsInPantry}"></i>
                                                </a>
                                                <a href="javascript:;" v-if="itemEnquiry">
                                                    <i class="fa fa-2x m-r-5 fa-info-circle text-dark protip" data-pt-title="Item enquiry" v-on:click="inquiryPopup(product.ProductID)"></i>
                                                </a>
                                                <span v-if="highlightStock">
                                                    <i class="fa fa-2x " v-bind:class="{'fa-check-circle text-success':product.StockQuantity > 0, 'fa-times-circle text-danger': product.StockQuantity <= 0}">
                                                    </i>
                                                    <p v-if="product.StockQuantity > 0" class="stockH">Available</p>
                                                    <p v-else class="stockH">Not Available</p>
                                                </span>
                                            </div>
                                        </div>
                                        <div class="pull-right price-infoBottom">
                                            <div class="quntity-col">
                                                <form method="post" action="javascript:;" class="quntity-form">
                                                    <div class="input-group dropup  d-flex">
                                                        <span class="p-l-10 p-r-10 text-middle qty-clr">Qty</span>
                                                        <input type="text" maxlength="6" :id="index + '_qtyInput'" v-on:keypress="checkNumeric($event)" v-on:keyup="setQuantity($event, index, product)" :value="product.Quantity === 0 ? '' : product.Quantity">
                                                    </div>
                                                </form>
                                            </div>
                                            <a href="javascript:;" class="blue-border-btn" v-on:click="setProductID(product.ProductID, false)">Add To Favourite</a>
                                            <a href="javascript:;" :id="index + '_addToCart'" v-bind:class="{'blue-border-btn': !product.IsInCart, 'green-border-btn': product.IsInCart }" v-on:click="addItemToTempCart(product, index)">
                                                Add To Cart <i class="fa fa-shopping-cart"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div v-else class="text-center" id="divEmpty">
                <p style="color: black">
                </p>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" tabindex="-1" id="modalFavList" role="dialog" data-keyboard="false" data-backdrop="static">
    <div class="add-fav-modal">
        <div class="table">
            <div class="table-cell">
                <div class="modal-dialog new-modal">

                    <!-- Modal content-->
                    <div class="modal-content borderTop">
                        <div class="modal-header">
                            <h4 class="modal-title text-uppercase">Select favourite list</h4>
                            <a href="javascript:;" class="close modal-close" v-on:click="setProductID(0, true)" data-dismiss="modal"><img src="~/content/images/modal-close.png" alt="Close"></a>
                        </div>
                        <div class="modal-footer">
                            <div class="comment-header">
                                <div class="comment-lft-header">
                                    <span>Favourite list</span>
                                </div>
                                <div class="comment-rt-header">
                                    <div class="add-col">
                                        <span>Select</span>
                                    </div>
                                </div>
                            </div>
                            <div class="fav-check-list-box" style="height:170px;overflow-y:auto" id="divFavLists" v-bar>
                                <div>
                                    <div class="check-full-witdh" v-for="(list, index) in favouriteLists" :id="list.PantryListID">
                                        <div class="check-label-box select-comment-lft-sec">
                                            <label>{{list.PantryListName}}</label>
                                        </div>
                                        <div class="select-comment-btn-sec">
                                            <div class="left-check-sec">
                                                <div class="icheck-material-blue">
                                                    <input type="checkbox" class="chk" :id="'chk_'+index" v-on:change="setFavList($event, list.PantryListID)" />
                                                    <label :for="'chk_'+index"></label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group text-center">
                            <a href="javascript:;" class="blue-border-btn hide-modal" v-on:click="addItemToFav()">
                                <i style="vertical-align:middle; font-size:26px" class="fa fa-plus-circle"></i> Add Product
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<template>
    <div class="text-center">
        <v-dialog v-model="readMore" width="500">
            <v-card>
                <v-card-title class="headline black text-white lighten-2"
                              primary-title>
                    Item Inclusions
                </v-card-title>

                <v-card-text>
                    <div class="text-justify" v-html="productInclusion"></div>
                </v-card-text>

                <v-divider></v-divider>

                <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn color="primary"
                           text
                           @@click="readMore = false">
                        Close
                    </v-btn>
                </v-card-actions>
            </v-card>
        </v-dialog>
    </div>
</template>