﻿
@model DataModel.BO.PaymentBO

<script>
    $(function () {
        $("#modalmanagePayment").modal('show');
        validateForm('formPaymentAU');
        $('.groupOfTexbox').keypress(function (event) {
            return isNumber(event, this)
        });
    });
    function SuccessMethod(res) {
        if (res == "Success") {
            alert('Payment Capture Sucessfuly');
            window.location.reload();
        } else {
            growlNotification(res, 'warning', 3000);
        }
    }
    function chkAmount() {
        if ($("#txtamount").val() == "" || $("#txtamount").val() == "0") {
            $.alert('Add valid Amount');
            return false;
        }
        if ($("#hdnFlag").val() != "" && $("#hdnFlag").val() > 0 && parseFloat($("#hdnFlag").val()) < parseFloat($("#txtamount").val())) {
            $.alert('Add amount less than Authorisation Amount ' + $("#hdnFlag").val());
            return false;
        }
    }

    function isNumber(e) {
        var evt = (evt) ? evt : window.event;
        var charCode = (evt.which) ? evt.which : evt.keyCode;
        var el = $(e.target);

        if (charCode > 31 && (charCode < 48 || charCode > 57) && charCode != 46) {
            evt.preventDefault();;
        } else {
            var len = el.val().length;
            var index = el.val().indexOf('.');
            if (index >= 0 && charCode == 46) {
                evt.preventDefault();;
            }
            if (index >= 0) {
                var charAfterdot = (len + 1) - index;
                if (charAfterdot > 3) {
                    evt.preventDefault();;
                }
            }
        }
        return true;
    }

</script>

<div class="modal fade" id="modalmanagePayment" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><img src="~/Content/images/close.png"></button>
            </div>
            <div class="modal-body login">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <i class="fa fa-times" aria-hidden="true"></i>
                    </button>
                </div>
                <h2><strong>Stripe Payment Detail</strong></h2>
                <div id="divPopupMsg"></div>
                @using (Ajax.BeginForm("CapturePayment", "Payment", new AjaxOptions
                {
                    HttpMethod = "POST",
                    OnSuccess = "SuccessMethod",
                    OnBegin = "startLoading",
                    OnComplete = "stopLoading"
                }, new { id = "formPaymentAU", @class = "row" }))
                {
                    <input type="hidden" value="@ViewBag.CapturePrice" id="hdnFlag" />
                    @Html.HiddenFor(m => m.CartID)
                    @Html.HiddenFor(m => m.CustomerID)
                    @*@Html.HiddenFor(m => m.UserID)*@

                    <fieldset class="row">
                        <table>
                            <colgroup>
                                <col style="width:2%;" />
                                <col style="width:25%;" />
                                <col style="width:15%;" />
                                <col style="width:25%;" />
                                <col style="width:20%;" />
                            </colgroup>
                            <tr>

                                <td></td>
                                <td>Original Order Value:</td>
                                <td><strong>$@String.Format("{0:0.00}", ViewBag.OrderTotal)</strong></td>
                                <td>Stripe Reference:</td>
                                <td><label>@Html.DisplayFor(item => item.PaymentReference)</label></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td>Pre-Authorisation Charge:</td>
                                <td>Y</td>
                                <td>Pre-Authorisation Amount:</td>
                                <td>$@String.Format("{0:0.00}", ViewBag.CapturePrice)</td>
                            </tr>
                            <tr>
                                <td></td>
                                <td>Final Charge Amount:</td>
                                <td> @Html.TextBoxFor(m => m.Amount, new { @style = "width: 80px; height: 20px;", @class = "groupOfTexbox", id = "txtamount", required = "required", maxlength = "20", ondrop = "return false;", onpaste = "return false;" })</td>
                                <td>Actual Charge Amount:</td>
                                <td>Pending</td>
                            </tr>
                            <tr>
                                <td colspan="5" style="height:20px;"></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td><input type="submit" value="Charge Card" style="width:auto;" class="btn-primary" onclick="return chkAmount();" /></td>
                                <td></td>
                                <td></td>
                            </tr>
                        </table>
                    </fieldset>

                }
            </div>
        </div>
    </div>
</div>