﻿
@model DataModel.BO.OrderPaymentHistory
@{
    int cnt = 1;
}


<script>
    $(document).ready(function () {
        $("#modalorderPaymentHistory").modal('show');
    });

</script>

<div class="modal fade" id="modalorderPaymentHistory" tabindex="-1" role="dialog"  aria-labelledby="mynewModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content" style="width:1000px!important;">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><img src="~/Content/images/close.png"></button>
            </div>
            <div class="modal-body login">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <i class="fa fa-times" aria-hidden="true"></i>
                    </button>
                </div>
                <h2><strong>Order History</strong></h2>
                @Html.HiddenFor(m => m.CartID)
                <fieldset class="row">
                    <table>
                        <colgroup>
                            <col style="width:2%;" />
                            <col style="width:25%;" />
                            <col style="width:15%;" />
                            <col style="width:25%;" />
                            <col style="width:20%;" />
                        </colgroup>
                        <tr>

                            <td></td>
                            <td><strong>Customer Name:</strong></td>
                            <td><strong>@Model.CustomerName</strong></td>
                            <td></td>
                            <td><label></label></td>
                        </tr>
                        <tr>

                            <td></td>
                            <td>Order Number:</td>
                            <td><strong>@Model.CartID</strong></td>
                            <td>Customer Email:</td>
                            <td><label>@Model.CustomerEmail</label></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>Original Order Value:</td>
                            <td><strong>@string.Format("{0:$#,##0.00;($#,##0.00)}", ViewBag.OrderTotal)</strong></td>
                            <td>Promo Code Discount (If Any):</td>
                            <td><label>@string.Format("{0:$#,##0.00;($#,##0.00)}", Model.CouponAmount)</label></td>

                        </tr>
                    </table>
                </fieldset>
                <br />
              
                <div class="col-md-12 margin-top-15" id="divOrderHistoryDetail" style="max-height:800px;overflow:auto;width:900px!important;">
                    @if (Model.OrderDetails != null && Model.FirstOrderDetails.Count > 0 && Model.OrderDetails != null && Model.OrderDetails.Count > 0)
                    {
                        <fieldset class="row">
                            <table>
                                <colgroup>
                                    <col style="width:2%;" />
                                    <col style="width:25%;" />
                                    <col style="width:15%;" />
                                    <col style="width:25%;" />
                                    <col style="width:20%;" />
                                </colgroup>
                                <tr>
                                    <td></td>
                                    <td><strong>ORIGINAL DETAIL:</strong></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                            </table>
                        </fieldset>
                        <!--Table-->
                        <table id="tblEditOrder" class="table table-condensed" style="width:900px !important;">
                            <!--Table head-->
                            <thead>
                                <tr>
                                    <th align="left">Order Date</th>
                                    <th align="left">Last Modified  Date</th>
                                    <th align="left" style="text-align:left !important;">Delivery Type</th>
                                    <th align="left">Address</th>
                                    <th align="left">Run No</th>
                                    <th align="left">Pickup Address</th>
                                    <th align="left">Delivery Note</th>
                                    <th align="left">Comment Description</th>
                                </tr>
                            </thead>
                            <!--Table head-->
                            <!--Table body-->
                            <tbody>
                                @foreach (var item in Model.FirstOrderDetails)
                                {
                                    <tr id="row_@item.CartID">
                                        <td align="center">
                                            @if (item.OrderDate != null)
                                            {@Convert.ToDateTime(item.OrderDate).ToShortDateString()}
                                        </td>
                                        <th align="left">@item.CreatedDate</th>
                                        <td align="left">@item.DeliveryType</td>
                                        <td align="center">@item.Address</td>
                                        <td align="center">@item.RunNo</td>
                                        <td align="center" title="@item.PickUpAddress">@item.PickUpName</td>
                                        <td align="center" title="@item.DeliveryNotes">
                                            @(item.DeliveryNotes.Length > 20 ? item.DeliveryNotes.Substring(0, 20) + "....." : item.DeliveryNotes)
                                        </td>
                                        <td align="center">@item.OrderComments</td>
                                    </tr>
                                    cnt++;
                                }





                            </tbody>
                            <!--Table body-->
                        </table>

                        <!--Table-->
                    }
                    else
                    {
                        <div style="text-align:center;"> Original records will not show until a change is made.</div>
                    }
                </div>
                <br />
             
                    <div class="col-md-12 margin-top-15" id="divOrderOtherHistoryDetail" style="max-height:800px;overflow:auto;width:900px!important;">
                        @if (Model.OrderDetails != null && Model.OrderDetails.Count > 0)
                        {
                            <fieldset class="row">
                                <table>
                                    <colgroup>
                                        <col style="width:2%;" />
                                        <col style="width:25%;" />
                                        <col style="width:15%;" />
                                        <col style="width:25%;" />
                                        <col style="width:20%;" />
                                    </colgroup>
                                    <tr>

                                        <td></td>
                                        <td><strong>MODIFICATIONS</strong></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                </table>
                            </fieldset>
                            <!--Table-->
                            <table id="tblEditOrder" class="table table-condensed" style="width:900px !important;">
                                <!--Table head-->
                                <thead>
                                    <tr>
                                        <th align="left">Order Date</th>
                                        <th align="left">Last Modified  Date</th>
                                        <th align="left" style="text-align:left !important;">Delivery Type</th>
                                        <th align="left">Address</th>
                                        <th align="left">Run No</th>
                                        <th align="left">Pickup Address</th>
                                        <th align="left">Delivery Note</th>
                                        <th align="left">Comment Description</th>
                                    </tr>
                                </thead>
                                <!--Table head-->
                                <!--Table body-->
                                <tbody>
                                    @foreach (var item in Model.OrderDetails)
                                    {
                                        <tr id="row_@item.CartID">
                                            <td align="center">
                                                @if (item.OrderDate != null)
                                                {@Convert.ToDateTime(item.OrderDate).ToShortDateString()}
                                            </td>
                                            <th align="left">@item.CreatedDate</th>
                                            <td align="left">@item.DeliveryType</td>
                                            <td align="center">@item.Address</td>
                                            <td align="center">@item.RunNo</td>
                                            <td align="center" title="@item.PickUpAddress">@item.PickUpName</td>
                                            <td align="center" title="@item.DeliveryNotes">
                                                @(item.DeliveryNotes.Length > 20 ? item.DeliveryNotes.Substring(0, 20) + "....." : item.DeliveryNotes)
                                            </td>
                                            <td align="center">@item.OrderComments</td>
                                        </tr>
                                        cnt++;
                                    }





                                </tbody>
                                <!--Table body-->
                            </table>

                            <!--Table-->
                        }

                    </div>

                </div>

            </div>
    </div>
</div>