﻿

@model DataModel.BO.OrderRefundHistory
@{
    int cnt = 1;
}


<script>
    $(document).ready(function () {
        $("#modalrefundPaymentHistory").modal('show');
    });

</script>

<div class="modal fade" id="modalrefundPaymentHistory" tabindex="-1" role="dialog" aria-labelledby="mynewModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><img src="~/Content/images/close.png"></button>
            </div>
            <div class="modal-body login">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <i class="fa fa-times" aria-hidden="true"></i>
                    </button>
                </div>
                <h2><strong>Stripe History</strong></h2>
                @Html.HiddenFor(m => m.CartID)
                @Html.HiddenFor(m => m.PaymentReference)
                <fieldset class="row">
                    <table>
                        <colgroup>
                            <col style="width:2%;" />
                            <col style="width:25%;" />
                            <col style="width:15%;" />
                            <col style="width:25%;" />
                            <col style="width:20%;" />
                        </colgroup>
                        <tr>

                            <td></td>
                            <td><strong>Customer Name:</strong></td>
                            <td><strong>@Model.CustomerName</strong></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>

                            <td></td>
                            <td>Order Number:</td>
                            <td><strong>@Model.CartID</strong></td>
                            <td>Customer Email:</td>
                            <td><label>@Model.CustomerEmail</label></td>
                        </tr>
                        <tr>

                            <td></td>
                            <td>Original Order Value:</td>
                            <td><strong>@string.Format("{0:$#,##0.00;($#,##0.00)}", ViewBag.OrderTotal)</strong></td>
                            <td>Stripe Reference:</td>
                            <td><label>@Html.DisplayFor(item => item.PaymentReference)</label></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>Date Of Charge:</td>
                            <td><label>@Html.DisplayFor(item => item.CreatedOn)</label></td>
                            <td>Time of Charge:</td>
                            <td><label>@Html.DisplayFor(item => item.CreatedTime)</label></td>
                        </tr>
                        @if (ViewBag.RefundAmount != 0)
                        {
                            <tr>
                                <td></td>
                                <td>Partial/Full Refund:</td>
                                <td>
                                    <label><strong>@string.Format("{0:$#,##0.00;($#,##0.00)}", ViewBag.RefundAmount)</strong></label>
                                </td>
                                <td>Stripe Refund Reference:</td>
                                <td><label>@String.Format("{0:0.00}", Model.RefundReference)</label></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td>Date Of Refund:</td>
                                <td><label>@Html.DisplayFor(item => item.RefundCreatedOn)</label></td>
                                <td>Time of Refund:</td>
                                <td><label>@Html.DisplayFor(item => item.RefundCreatedTime)</label></td>
                            </tr>
                        }
                        <tr>
                            <td></td>
                            <td>Promo Code Discount(If Any):</td>
                            <td><label>@string.Format("{0:$#,##0.00;($#,##0.00)}", Model.CouponAmount)</label></td>
                            <td></td>
                            <td></td>
                        </tr>
                    </table>
                </fieldset>
                <br />
                <div class="col-md-12 margin-top-15" id="divOrderDetail" style="max-height:450px;overflow:auto">
                    <!--Table-->
                    <table id="tblEditOrder" class="table table-condensed">
                        <!--Table head-->
                        <thead>
                            <tr>
                                <th align="center">#</th>
                                <th align="left">Code</th>
                                <th align="left" style="text-align:left !important;">Product</th>
                                <th align="left">Original Qty</th>
                                <th align="left">Revised Qty</th>
                                <th align="left">UOM</th>
                                <th align="left">Original Price</th>
                                <th align="left">Revised Price</th>
                                <th align="left">Total Price</th>
                                <th align="left">Total Revised Price</th>
                                <th align="left">Difference</th>
                            </tr>

                        </thead>

                        <!--Table head-->
                        <!--Table body-->

                        <tbody>
                            @if (Model.OrderDetails != null && Model.OrderDetails.Count > 0)
                            {
                                foreach (var item in Model.OrderDetails)
                                {
                                    <tr id="row_@item.CartItemID">
                                        <th scope="row">@cnt</th>
                                        <td align="center">@item.ProductCode</td>
                                        <td align="left">@item.ProductName</td>
                                        <td align="center">@item.RevisedQuantity</td>
                                        <td align="center">@item.Quantity</td>
                                        <td align="center">@item.UOM</td>
                                        <td align="center">$@string.Format("{0:#,0.00}", item.RevisedPrice)</td>
                                        <td align="center">$@string.Format("{0:#,0.00}", item.Price)</td>
                                        <td align="center">$@string.Format("{0:#,0.00}", item.TotatOriginalPrice)</td>
                                        <td align="center">$@string.Format("{0:#,0.00}", item.TotatRevisedPrice)</td>
                                        <td align="center">$@string.Format("{0:#,0.00}", item.Difference)</td>

                                    </tr>
                                    cnt++;
                                }

                                if (Model.IsHasFreightCharges==true && Model.RevisedFreightCharge >= 0)
                                {
                                    <tr id="row_@Model.CartID">
                                        <th scope="row">@cnt</th>
                                        <td>Delivery Fee</td>
                                        <td align="left">Delivery Fee</td>
                                        <td align="center">1</td>
                                        @if (Model.RevisedFreightCharge == 0)
                                        {
                                            <td align="center">0</td>
                                        }
                                        else
                                        {
                                            <td align="center">1</td>
                                        }
                                        <td align="center"></td>
                                        <td>$@string.Format("{0:#,0.00}", Model.OriginalFreightCharge)</td>
                                        <td align="center">$@string.Format("{0:#,0.00}", Model.RevisedFreightCharge)</td>
                                        <td>$@string.Format("{0:#,0.00}", Model.OriginalFreightCharge)</td>
                                        <td align="center">$@string.Format("{0:#,0.00}", Model.RevisedFreightCharge)</td>
                                        <td align="center">$@string.Format("{0:#,0.00}", Model.TotalFreightDifference)</td>

                                    </tr>
                                    cnt++;


                                }


                            }

                        </tbody>
                        <!--Table body-->
                    </table>

                    <!--Table-->
                </div>

            </div>

        </div>
    </div>
</div>