﻿

@model DataModel.BO.RefundBO

<script>
    $(document).ready(function () {
        $("#modalrefundPayment").modal('show');
        validateForm('formRefundPayment');
        $('.groupOfTexbox').keypress(function (event) {
            return isNumber(event, this)
        });
    });
    function SuccessMethod(res) {
        if (res == "Success") {
            alert('Refund of Payment Sucessfuly');
            window.location.reload();
        } else {
            growlNotification(res, 'warning', 3000);
        }
    }
    //function chkRefundAmount() {
    //    if ($("#txtamount").val() == "" || $("#txtamount").val() == "0") {
    //        $.alert('Add valid Amount');
    //        return false;
    //    }
    //    if ($("#hdnFlag").val() != "" && $("#hdnFlag").val() > 0 && parseFloat($("#hdnFlag").val()) < parseFloat($("#txtamount").val())) {
    //        $.alert('Add amount less than Authorisation Amount ' + $("#hdnFlag").val());
    //        return false;
    //    }
    //}



</script>

<div class="modal fade" id="modalrefundPayment" tabindex="-1" role="dialog" aria-labelledby="mynewModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><img src="~/Content/images/close.png"></button>
            </div>
            <div class="modal-body login">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <i class="fa fa-times" aria-hidden="true"></i>
                    </button>
                </div>
                <h2><strong>Stripe Payment Detail</strong></h2>
                @if (ViewBag.RefundStatus == 0)
                {
                    <div id="divPopupMsg"></div>
                    using (Ajax.BeginForm("StripeRefundPayment", "Payment", new AjaxOptions
                    {
                        HttpMethod = "POST",
                        OnSuccess = "SuccessMethod",
                        OnBegin = "startLoading",
                        OnComplete = "stopLoading"
                    }, new { id = "formRefundPayment", @class = "row" }))
                    {
                        <input type="hidden" value="@ViewBag.OrderTotal" id="hdnFlag" />
                        @Html.HiddenFor(m => m.CartID)
                        @Html.HiddenFor(m => m.CustomerID)
                        @Html.HiddenFor(m => m.UserID)
                        @Html.HiddenFor(m => m.PaymentReference)
                        @Html.HiddenFor(m => m.TotalCaptureAmount)
                        @Html.HiddenFor(m => m.Amount)


                        <fieldset class="row">
                            <table>
                                <colgroup>
                                    <col style="width:2%;" />
                                    <col style="width:25%;" />
                                    <col style="width:15%;" />
                                    <col style="width:25%;" />
                                    <col style="width:20%;" />
                                </colgroup>
                                <tr>

                                    <td></td>
                                    <td><strong>Customer Name:</strong></td>
                                    <td><strong>@Model.CustomerName</strong></td>
                                    <td></td>
                                    <td><label></label></td>
                                </tr>
                                <tr>

                                    <td></td>
                                    <td>Order Number:</td>
                                    <td><strong>@Model.CartID</strong></td>
                                    <td>Customer Email:</td>
                                    <td><label>@Model.CustomerEmail</label></td>
                                </tr>
                                <tr>

                                    <td></td>
                                    <td>Original Order Value:</td>
                                    <td> <strong>@string.Format("{0:$#,##0.00;($#,##0.00)}", ViewBag.OrderTotal)</strong></td>
                                    <td>Stripe Reference:</td>
                                    <td><label>@Html.DisplayFor(item => item.PaymentReference)</label></td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td>Date Of Charge:</td>
                                    <td><label>@Html.DisplayFor(item => item.CreatedOn)</label></td>
                                    <td>Time of Charge:</td>
                                    <td><label>@Html.DisplayFor(item => item.CreatedTime)</label></td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td>Total Fees:</td>
                                    <td><label>@string.Format("{0:$#,##0.00;($#,##0.00)}", Model.TotalFees)</label></td>
                                    <td>Stripe Processing Fee:</td>
                                    <td><label>@string.Format("{0:$#,##0.00;($#,##0.00)}", Model.StripeProcessingFee)</label></td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td>Application Fees:</td>
                                    <td><label>@string.Format("{0:$#,##0.00;($#,##0.00)}", Model.ApplicationFees)</label></td>
                                    <td>Tax:</td>
                                    <td><label>@string.Format("{0:$#,##0.00;($#,##0.00)}", Model.Tax)</label></td>
                                </tr>

                                <tr>
                                    <td></td>
                                    <td>Partial/Full Refund:</td>
                                    <td>
                                        @if (Model.PaymentClick != 1)
                                        {
                                            @Html.TextBoxFor(m => m.ShowAmount, new { @style = "width: 80px; height: 20px;", @class = "groupOfTexbox", id = "txtamount", required = "required", maxlength = "20", @readonly = "readonly", ondrop = "return false;", onpaste = "return false;" })
                                        }


                                    </td>
                                    <td>Net Payment:</td>
                                    <td> <strong>@string.Format("{0:$#,##0.00;($#,##0.00)}", Model.Netpayment)</strong></td>
                                </tr>

                                <tr>
                                    <td colspan="5" style="height:20px;"></td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td>
                                        @if (Model.PaymentClick != 1)
                                        {
                                            <input type="submit" value="Refund Amount" id="refundclick" style="width:auto;" class="btn-primary" onclick="return chkRefundAmount();" />
                                        }
                                    </td>
                                    <td></td>
                                    <td></td>
                                </tr>

                            </table>
                        </fieldset>
                    }
                }
                else
                {
                    <input type="hidden" value="@Model.Netpayment" id="hdnFlag" />
                    @Html.HiddenFor(m => m.CartID)
                    @Html.HiddenFor(m => m.CustomerID)
                    @Html.HiddenFor(m => m.UserID)
                    @Html.HiddenFor(m => m.PaymentReference)
                    @Html.HiddenFor(m => m.TotalCaptureAmount)


                    <fieldset class="row">
                        <table>
                            <colgroup>
                                <col style="width:2%;" />
                                <col style="width:25%;" />
                                <col style="width:15%;" />
                                <col style="width:25%;" />
                                <col style="width:20%;" />
                            </colgroup>
                            <tr>

                                <td></td>
                                <td><strong>Customer Name:</strong></td>
                                <td><strong>@Model.CustomerName</strong></td>
                                <td></td>
                                <td><label></label></td>
                            </tr>
                            <tr>

                                <td></td>
                                <td>Order Number:</td>
                                <td><strong>@Model.CartID</strong></td>
                                <td>Customer Email:</td>
                                <td><label>@Model.CustomerEmail</label></td>
                            </tr>
                            <tr>

                                <td></td>
                                <td>Original Order Value:</td>
                                <td><strong>@string.Format("{0:$#,##0.00;($#,##0.00)}", ViewBag.OrderTotal)</strong></td>
                                <td>Stripe Reference:</td>
                                <td><label>@Html.DisplayFor(item => item.PaymentReference)</label></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td>Date Of Charge:</td>
                                <td><label>@Html.DisplayFor(item => item.CreatedOn)</label></td>
                                <td>Time of Charge:</td>
                                <td><label>@Html.DisplayFor(item => item.CreatedTime)</label></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td>Partial/Full Refund:</td>
                                <td>
                                    <label><strong>@string.Format("{0:$#,##0.00;($#,##0.00)}", ViewBag.RefundAmount)</strong></label>
                                </td>
                                <td>Stripe Refund Reference:</td>
                                <td><label>@String.Format("{0:0.00}", Model.RefundReference)</label></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td>Date Of Refund:</td>
                                <td><label>@Html.DisplayFor(item => item.RefundCreatedOn)</label></td>
                                <td>Time of Refund:</td>
                                <td><label>@Html.DisplayFor(item => item.RefundCreatedTime)</label></td>
                            </tr>
                            <tr>
                                <td colspan="5" style="height:20px;"></td>
                            </tr>
                        </table>
                    </fieldset>
                }
            </div>

        </div>
    </div>
</div>