﻿<div style="text-align: center">
    @if (ViewBag.IsConnected == true)
    {
        <h2>You account connected successfully, account ID is <span style="background: #ddd;">@ViewBag.ConnectedAccountId</span>.</h2>
    }
    else
    {
        <h2>Failed to connect account, due to followig reason: <span style="background: #ddd;">@ViewBag.Error</span></h2>
    }
</div>