﻿@model SaaviOnlineOrdering.Models.BO.LoginViewModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Suncoast Fresh</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
    <!--===============================================================================================-->
    <link rel="icon" type="image/png" href="~/content/images/icons/favicon.png" />

    @Styles.Render("~/Content/Logincss")
    <link href="~/Content/css/icheck-material.css" rel="stylesheet" />
    <style type="text/css">
        .btn-border-black {
            border: 2px solid #000 !important;
            border-radius: 25px !important;
        }

        .input-forgot-pwd {
            font-family: Roboto, sans-serif;
            font-size: 16px;
            color: #000;
            line-height: 1.2;
            display: block;
            width: 100%;
            height: 45px;
            background: transparent;
            padding: 0 10px;
            border-bottom: 2px solid #000;
        }

        .jconfirm .jconfirm-box.jconfirm-type-black {
            border-top: solid 7px #000;
        }

        .jconfirm .jconfirm-box div.jconfirm-title-c span.jconfirm-title {
            color: #000;
        }
    </style>
   
    <!--===============================================================================================-->
    <script>
        !function (f, b, e, v, n, t, s) {
            if (f.fbq) return; n = f.fbq = function () {
                n.callMethod ? n.callMethod.apply(n, arguments) : n.queue.push(arguments)
            };
            if (!f._fbq) f._fbq = n; n.push = n; n.loaded = !0; n.version = '2.0';
            n.queue = []; t = b.createElement(e); t.async = !0;
            t.src = v; s = b.getElementsByTagName(e)[0];
            s.parentNode.insertBefore(t, s)
        }(window, document, 'script', 'https://connect.facebook.net/en_US/fbevents.js');
        fbq('init', '3588116001259408');
        fbq('track', 'PageView');
    </script>
    <noscript>
        <img height="1" width="1" src="https://www.facebook.com/tr?id=3588116001259408&ev=PageView&noscript=1" />
    </noscript>
</head>
<body>
    <div class="limiter">
        <div class="container-login100" style="background-image: url('@Url.Content("~/content/images/bg-01.jpg")');">
            <div class="wrap-login100">
                @using (Ajax.BeginForm("Login", "Account", null, new AjaxOptions
                {
                    HttpMethod = "Post",
                    OnBegin = "startLoading",
                    OnSuccess = "success"
                }, new { @class = "login100-form validate-form", id = "formLogin" }))
                {
                    <span class="login100-form-logo">
                        <img src="~/content/images/logo.png" height="85" alt="">
                    </span>

                    <span class="login100-form-title p-b-10 p-t-10">
                        Login
                    </span>

                    <div class="wrap-input100 validate-input" data-validate="Enter Email">
                        @Html.TextBoxFor(m => m.Username, new { @class = "input100", placeholder = "Email", autocomplete = "off" })
                        <span class="focus-input100" data-placeholder="&#xf207;"></span>
                    </div>

                    <div class="wrap-input100 validate-input" data-validate="Enter password">
                        <span class="btn-show-pass">
                            <i class="zmdi zmdi-eye text-dark"></i>
                        </span>
                        @Html.TextBoxFor(m => m.Password, new { @class = "input100", placeholder = "Password", type = "password", autocomplete = "off", data_type = "L" })
                        <span class="focus-input100" data-placeholder="&#xf191;"></span>
                    </div>

                    <div class="contact100-form-checkbox">
                        @*<div class="icheck-material-grey pull-left">
                                @Html.CheckBoxFor(m => m.IsGuest, new { onchange = "enableGuest(this)" })
                                <label for="IsGuest"><i style="color:#ffffff">Guest Login</i></label>
                            </div>*@
                        <a class="txt1" href="javascript:;" onclick="resetPassword();">
                            Forgot Password?
                        </a>
                    </div>

                    <div class="container-login100-form-btn">

                        <button class="login100-form-btn pull-left">
                            Log In
                        </button>
                        <a href="@Url.Action("Register","Account")" class="register-form-btn pull-left">
                            Register
                        </a>
                        <a href="@Url.Action("GuestLogin","Account")" class="login100-form-btn pull-left">
                            Browse Shop
                        </a>
                    </div>

                }
            </div>
            <div class="" style="position: absolute;bottom: 20px;text-align:center">
                @*<img src="~/Content/images/logo_savvi_w.png" style="max-width: 190px;">*@
                <ul>
                    <li style="text-align: center; color: #fff; margin-top: 10px;"><a href="#modalTermsPop" class="text-white" data-toggle="modal">Terms</a> | <a class="text-white" href="#modalPrivacyPop" data-toggle="modal">Privacy</a></li>

                    <li style="text-align: center; color: #fff; margin-top: 10px;"><i>*Only <a href="https://www.google.com/chrome/" target="_blank"><strong style="color:#fff;text-decoration:underline;">Chrome</strong></a>, <a href="https://www.mozilla.org/en-US/firefox/" target="_blank"><strong style="color:#fff;text-decoration:underline;">Firefox</strong></a>, <a href="https://support.apple.com/downloads/safari" target="_blank"><strong style="color:#fff;text-decoration:underline;">Safari</strong></a> and <a href="https://www.microsoft.com/en-au/windows/microsoft-edge" target="_blank"><strong style="color:#fff;text-decoration:underline;">Microsoft Edge</strong></a> browser currently supported.</i></li>
                </ul>
            </div>
        </div>
    </div>

    <div class="modal fade" id="modalTerms" tabindex="-1" role="dialog" data-keyboard="false" aria-labelledby="exampleModalCenterTitle" aria-hidden="true" data-backdrop="static">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content borderTop">
                <div class="modal-header text-center">
                    <h3 class="modal-title" id="exampleModalCenterTitle">Terms and Conditions</h3>
                </div>
                <div class="modal-body text-justify" style="max-height:400px;overflow:auto;" id="divTerms">
                    <p>
                    </p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-saavi" data-dismiss="modal" onclick="TermsAgree();">Accept</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="modalLiqour" tabindex="-1" role="dialog" aria-labelledby="modalLiqour-label" data-backdrop="static">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content borderTop">
                <div class="modal-header">
                    <h4 class="modal-title text-uppercase" id="modalLiqour-label">warning</h4>
                </div>
                <div class="modal-body">
                    <h4 class="liquor">Under the Liquor Control Reform Act 1998 it is an offence</h4>
                    <div>
                        <ul>
                            <li>To Supply alcohol to a person under the age of 18 years(Penalty exceeds $8000)</li>
                            <li>For a person under the age of 17 years to purchase or receive liquor.(Penalty exceeds $700)</li>
                        </ul>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-saavi" data-dismiss="modal" onclick="LiquorAgree();">Accept</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade noticboard-modal" tabindex="-1" id="modalImportantNotice" role="dialog" data-keyboard="false" data-backdrop="static">

        <div class="modal-dialog modal-lg new-modal" role="document">
            <!-- Modal content-->
            <div class="modal-content borderTop">
                <div class="modal-header DefaultInfoHeader">
                    <img height="95" src="~/content/images/logo-blue.png" alt="logo">
                    <h4 class="modal-title">Welcome to Suncoast Fresh Mobile Ordering</h4>
                </div>
                <div class="modal-body">
                    <div class="message-box">
                        <div class="message-header">
                            <h5>Important Message</h5>
                        </div>
                        <div class="message-content text-justify" id="divIntroMessage" style="max-height:180px;overflow:auto;">
                            <p></p>
                        </div>
                    </div>
                </div>
                <div class="modal-footer DefaultInfoFooter">
                    @*<div class="form-group text-right important-message_red-box">
                            <label class="red-text">Current order cut-off time</label>
                            <input type="text" id="txtCutOffTime" class="form-control text-center time-input" value="12:00 PM" readonly>
                        </div>*@
                    <div class="form-group text-right">
                        <a href="javascript:;" onclick="ImportantNotice();" data-dismiss="modal" class="blue-border-btn btn btn-outline-saavi">Continue</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="modalPDF" tabindex="1" role="dialog" data-keyboard="false" aria-labelledby="myModalLabel" data-backdrop="static">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content borderTop">
                <div class="modal-header text-center">
                    <h4 class="modal-title" id="myModalLabel">Notice Board</h4>
                </div>
                <div class="modal-body">
                    <div style="text-align: center;">
                        <iframe id="frmPDF" src="" style="width:100%;height:500px;overflow-x:hidden" scrolling="no"></iframe>
                    </div>
                </div>
                <div class="modal-footer">
                    <a href="javascript:;" onclick="pdfContinue();" class="btn btn-outline-saavi">Continue</a>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="modalTermsPop" tabindex="-1" role="dialog" aria-labelledby="modalLiqour-label">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content borderTop">
                <div class="modal-header">
                    <h4 class="modal-title text-uppercase" id="modalLiqour-label">TERMS</h4>
                </div>
                <div class="modal-body" v-bar style="max-height:500px; overflow:auto">
                    <div>
                        <div class="tc">
                            <h3>End User Agreement – “Terms of Use”</h3>
                            <h4>These Terms of Use govern your use of SAAVI membership including website and mobile applications. </h4>
                            <ul>
                                <li>This is a legal agreement between you and SAAVI Pty Ltd (“SAAVI APP” or “Us”) regarding the use of the SAAVI APP software program (the “Software”) that you are installing on your device and the services available through the Software or on the SAAVI APP site (the “SAAVI APP Service”). BY DOWNLOADING THE SOFTWARE OR USING THE SERVICE, YOU ACKNOWLEDGE THAT YOU HAVE READ, UNDERSTOOD, AND AGREE TO BE BOUND BY THE FOLLOWING TERMS, INCLUDING ANY ADDITIONAL GUIDELINES, AND ANY FUTURE MODIFICATIONS (COLLECTIVELY, THE “TERMS”).  IF AT ANY TIME YOU DO NOT AGREE TO THESE TERMS, PLEASE IMMEDIATELY TERMINATE YOUR USE OF THE SOFTWARE AND SERVICE. </li>
                                <li>
                                    THE SOFTWARE OR SAAVI APP SERVICE IS NOT FOR PERSONS UNDER THE AGE OF 13.  IF YOU ARE UNDER 13 YEARS OF AGE, THEN PLEASE DO NOT USE THE SOFTWARE OR SERVICE. FURTHER, IF YOU OVER 13 BUT ARE UNDER THE AGE OF CONSENT WHERE YOU LIVE, THEN YOU MUST GET THE CONSENT OF YOUR PARENTS PRIOR TO USING THE SOFTWARE OR SERVICE.
                                </li>
                            </ul>
                            <ol>
                                <li>
                                    <h5>Privacy. </h5>
                                    1.	Your privacy is important to SAAVI APP.  SAAVI APP’s Privacy Policy for SAAVI APP (available at http://www.saavi.com.au), hereafter referred to as the “SAAVI APP Privacy Policy”, is hereby incorporated into these Terms by reference.  Please read the SAAVI APP Privacy Policy carefully for details relating to the collection, use, and disclosure of your personal information.
                                </li>

                                <li>
                                    <h5>Individual Features and Services.   </h5>

                                    .  When using the Software or SAAVI APP Service, you will be subject to any additional posted guidelines or rules applicable to specific services, and features which may be posted from time to time (the “Guidelines”). The Additional Use Restrictions and all other such Guidelines are hereby incorporated by reference into the Terms. To the extent that any terms of these Terms of Use conflict with any Guidelines, these Terms of Use shall control.
                                </li>
                                <li>
                                    <h5>Modification of Terms.    </h5>
                                    . SAAVI APP reserves the right, at its discretion, to change, modify, add, or remove portions of these Terms at any time without notice to you. Please check these Terms and any Guidelines periodically for changes.  Your continued use of the Software or SAAVI APP Service after the posting of changes constitutes your binding acceptance of such changes.  For any material changes to these Terms, such amended terms will automatically be effective thirty days after they are initially posted on the Software or SAAVI APP Service.
                                </li>
                                <li>
                                    <h5>Ownership.    </h5>
                                    The SAAVI APP Service and Software are owned and operated by SAAVI APP and its licensors.  The content, visual interfaces, interactive features, information, graphics, design, compilation, computer code, products, software, services, and all other elements of the Software or SAAVI APP Service that are provided by SAAVI APP (“SAAVI APP Materials”) are protected by Australian copyright, trade dress, patent, and trademark laws, international conventions, and all other relevant intellectual property and proprietary rights, and applicable laws. SAAVI APP Materials do not include SAAVI APP Submissions (defined below) or any other content owned by and submitted by users (“Users”) to the Software or SAAVI APP Service.  All SAAVI APP Materials are the copyrighted property of SAAVI APP or its Affiliates and/or third-party licensors.  For purposes of this Agreement, an Affiliate shall be defined as an entity that controls, is controlled by, or is under common control with SAAVI APP. Except as expressly authorized by SAAVI APP, you agree not to sell, license, distribute, copy, modify, publicly perform or display, transmit, publish, edit, adapt, create derivative works from, or otherwise make unauthorised use of the SAAVI APP Service, Software or SAAVI APP Materials. SAAVI APP reserves all rights not expressly granted in these Terms.  You shall not acquire any right, title or interest to the SAAVI APP Service, Software, or SAAVI APP Materials, except for the limited rights set forth in this Agreement.
                                </li>
                                <li>
                                    <h5>SAAVI Submissions.</h5>

                                    <table width="100%" border="0" cellspacing="0" cellpadding="10">
                                        <tbody>
                                            <tr>
                                                <td valign="top">
                                                    <span>a. Generally.</span>
                                                    The Software or SAAVI APP Service may now or in the future permit the submission and posting of product promotions and other users (“SAAVI APP Submissions”), and the linking, hosting, sharing, and/or publishing of such SAAVI APP Submissions.  SAAVI APP makes no representations that it will publish or use your SAAVI APP Submissions in any way and may or may not use your SAAVI APP Submissions in its sole discretion.  You understand that whether or not such SAAVI APP Submissions are published, SAAVI APP does not guarantee any confidentiality with respect to any SAAVI APP Submissions.  For clarity, you retain ownership of your SAAVI APP Submissions.  However, by submitting SAAVI APP Submissions to SAAVI APP, you hereby grant SAAVI APP and its affiliates  a worldwide, non-exclusive, fully paid-up, perpetual, royalty-free,  sublicenseable, and transferable license to use, reproduce, distribute, modify, adapt, prepare derivative works of, display, and perform your SAAVI APP Submissions in connection with the Software or SAAVI APP Service and SAAVI APP’s (and its successor’s) business, including without limitation for promoting and redistributing part or all of the SAAVI APP Submissions (and derivative works thereof) in any media formats and through any media channels now known or hereafter discovered.  You grant SAAVI APP and its affiliates and sublicensees the right to use the name that you submit in connection with such SAAVI APP Submission if they choose.  You agree to irrevocably waive (and cause to be waived) any claims and assertions of moral rights or attribution with respect to your SAAVI APP Submissions.   You also hereby grant to each user of the Software or SAAVI APP Service a non-exclusive license to access your SAAVI APP Submissions through the Software or SAAVI APP Service and to use, reproduce, distribute, display, and perform such SAAVI APP Submissions, in each case as permitted by the functionality of the Software or SAAVI APP Service and these Terms. The above licenses granted by you in SAAVI APP Submissions you submit to the Software or SAAVI APP Service terminate within a reasonable time after you remove or delete your SAAVI APP Submissions from the Software or SAAVI APP Service. You understand and agree, however, that SAAVI APP may retain, but not display, distribute, or perform, server copies of your SAAVI APP Submissions that have been removed or deleted.
                                                </td>
                                            </tr>

                                            <tr>
                                                <td valign="top">
                                                    <span>b.	Representations and Warranties.</span>
                                                    You shall be solely responsible for your own SAAVI APP Submissions and the consequences of posting or publishing them.  In connection with SAAVI APP Submissions, you affirm, represent, and/or warrant that: (i) you own, or have the necessary licenses, rights, consents, and permissions to use and authorise SAAVI APP to use all patent, trademark, copyright, or other proprietary rights in and to any and all SAAVI APP Submissions to enable inclusion and use of SAAVI APP Submissions in the manner contemplated by SAAVI APP and these Terms, and to grant the rights and license set forth above, (ii) you are not listed on any Australian Government list of prohibited or restricted parties and (iii) your SAAVI APP Submissions, SAAVI APP’s use of such SAAVI APP Submissions pursuant to these Terms of Use, and SAAVI APP’s exercise of the license rights set forth above, do not and will not: (a) infringe, violate, or misappropriate any third-party right, including any copyright, trademark, patent, trade secret, moral right, privacy right, right of publicity, or any other intellectual property or proprietary right; (b) slander, defame, libel, or invade the right of privacy, publicity or other property rights of any other person; or (c) violate any applicable law or regulation.
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </li>
                                <li>
                                    <h5>Content Disclaimer.  </h5>
                                    You understand that when using the Software or SAAVI APP Service, you will be exposed to SAAVI APP Submissions and other content (such SAAVI APP Submissions and other content, collectively, “Content”) from a variety of sources, and that SAAVI APP is not responsible for the accuracy, integrity, quality, legality, usefulness, safety, or intellectual property rights of or relating to such Content.  You further understand and acknowledge that you may be exposed to Content that is inaccurate, offensive, indecent, or objectionable, and you agree to waive, and hereby do waive, any legal or equitable rights or remedies you have or may have against SAAVI APP with respect thereto. SAAVI APP does not endorse any User Submission or other Content or any opinion, recommendation, or advice expressed therein.  Under no circumstances will SAAVI APP be liable in any way for or in connection with any SAAVI APP Submissions or other Content, including, but not limited to, for any inaccuracies, errors or omissions in any Content, any intellectual property infringement with regard to any Content, or for any loss or damage of any kind incurred as a result of the use of any Content posted, emailed or otherwise displayed or transmitted via the Software or SAAVI APP Service.
                                </li>

                                <li>
                                    <h5>Monitoring Users and Content.</h5> .  You understand that all Content is the sole responsibility of the person from whom such Content originated.  This means that you, and not SAAVI APP, are entirely responsible for all SAAVI APP Submissions that you upload, post, e-mail, transmit or otherwise make available through the Software or SAAVI APP Service.  SAAVI APP does not control the Content posted by Users or otherwise made available by other persons and does not have any obligation to monitor such Content for any purpose.  If at any time, SAAVI APP chooses, in its sole discretion, to monitor the Content, SAAVI APP nonetheless assumes no responsibility for the Content, no obligation to modify or remove any inappropriate Content, and no responsibility for the conduct of the User submitting any such Content.  You acknowledge that SAAVI APP may or may not pre-screen SAAVI APP Submissions, but that SAAVI APP and its designees shall have the right (but not the obligation) in their sole discretion to pre-screen, refuse, or remove any User Submission that is available via the Software or SAAVI APP Service.  Without limiting the foregoing, SAAVI APP and its designees may, at any time and without prior notice, remove any User Submission that in the sole judgment of SAAVI APP violates these Terms or is otherwise objectionable.  You agree that you must evaluate, and bear all risks associated with the use of any SAAVI APP Submissions or other Content, including any reliance on the accuracy, completeness, usefulness or legality of such User Submission or other Content.
                                </li>

                                <li>
                                    <h5>Authorisation for use of Information.</h5>You hereby authorize SAAVI APP to access and use the address book, contact lists or other similar items contained in the devices to which you have downloaded the Software for purposes of your use of the SAAVI APP Service.
                                </li>

                                <li>
                                    <h5>Restrictions.</h5>. Subject to the terms and conditions herein, SAAVI APP grants you permission to use the SAAVI APP Service as set forth in these Terms, provided that (i) you use the SAAVI APP Service solely for your personal, private, non-commercial use; (ii) you do not copy, publicly display or distribute any part of the Software or SAAVI APP Service in any medium without SAAVI APP’s prior written authorization; (iii) you do not alter or modify any part of the Software or SAAVI APP Service other than as may be reasonably necessary to use the Software or SAAVI APP Service for its intended purposes; (iv) you do not display, transmit or share any Content (defined below) which may be deemed by SAAVI APP as hateful, threatening, pornographic, obscene, abusive, racially or ethnically offensive, libelous or defamatory, or any Content that encourages conduct that would be considered a criminal offense or bring forth liability; and (v) you otherwise fully comply with these Terms.  The SAAVI APP Service is controlled and offered by SAAVI APP from its facilities in the Australia.  SAAVI APP makes no representations that the SAAVI APP Service is appropriate or available for use in other locations.  Those who access or use the SAAVI APP Service from other jurisdictions do so at their own risk and are responsible for compliance with local law.
                                </li>

                                <li>
                                    <h5>Prohibited Uses. </h5>
                                    <table width="100%" border="0" cellspacing="0" cellpadding="10">
                                        <tbody>
                                            <tr>
                                                <td valign="top">a.	 As a condition of your use of the Software or SAAVI APP Service, you will not use the Software or SAAVI APP Service for any purpose that is unlawful or prohibited by these Terms.  Access to the SAAVI APP Materials and the Software or SAAVI APP Service from territories where their access or use thereof is illegal is strictly prohibited.  SAAVI APP Users are responsible for complying with all local rules, laws, and regulations including, without limitation, rules about intellectual property rights, the internet, technology, data, email, or privacy.</td>
                                            </tr>
                                            <tr>
                                                <td valign="top">b.	You agree not to reproduce, duplicate, copy, sell, trade, resell, distribute or exploit, any portion of the Software or SAAVI APP Service, use of the Software or SAAVI APP Service, access to the Software or SAAVI APP Service, or Content obtained through the Software or SAAVI APP Service, for any purpose other than as the Software or SAAVI APP Service is offered by SAAVI APP</td>
                                            </tr>
                                            <tr>
                                                <td valign="top">c.	You agree not to defame, harass, abuse, threaten, stalk or defraud Users of the Software or SAAVI APP Service, or collect, or attempt to collect, personal information about Users or third parties without their consent.</td>
                                            </tr>
                                            <tr>
                                                <td valign="top">d.	You agree not to intentionally interfere with or damage, impair or disable the operation of the Software or SAAVI APP Service or any User’s enjoyment of it, by any means, including uploading or otherwise disseminating viruses, worms, spyware, adware or other malicious code.</td>
                                            </tr>
                                            <tr>
                                                <td valign="top">e.	You agree not to remove, circumvent, disable, damage or otherwise interfere with any security-related features of the Software or SAAVI APP Service, features that prevent or restrict the use or copying of any content accessible through the Software or SAAVI APP Service, or features that enforce limitations on the use of the Software or SAAVI APP Service.</td>
                                            </tr>
                                            <tr>
                                                <td valign="top">f.	You agree not to attempt to gain unauthorized access to the Software or SAAVI APP Service, or any part of it, other accounts, computer systems or networks connected to the Software or SAAVI APP Service, or any part of it, through hacking, password mining or any other means or interfere or attempt to interfere with the proper working of the Software or SAAVI APP Service or any activities conducted on the Software or SAAVI APP Service.</td>
                                            </tr>
                                            <tr>
                                                <td valign="top">g.	You agree not to obtain or attempt to obtain any materials or information through any means not intentionally made available through the Software or SAAVI APP Service.  You agree neither to modify the Software or SAAVI APP Service in any manner or form, nor to use modified versions of the Software or SAAVI APP Service, including (without limitation) for the purpose of obtaining unauthorized access to the Software or SAAVI APP Service.</td>
                                            </tr>
                                            <tr>
                                                <td valign="top">h.	You agree that you will not use any robot, spider, scraper, or other automated means to access the SAAVI APP Service for any purpose without our express written permission or bypass our robot exclusion headers or other measures we may use to prevent or restrict access to the Software or SAAVI APP Service.</td>
                                            </tr>
                                            <tr>
                                                <td valign="top">i.	You agree not to use any SAAVI APP logos, graphics, or trademarks without our express written consent.</td>
                                            </tr>
                                            <tr>
                                                <td valign="top">j.	You agree not to make unsolicited offers, advertisements, proposals, or send spam to other Users of the Software or SAAVI APP Service.  This includes, but is not limited to, unsolicited advertising, promotional materials or other solicitation material, bulk mailing of commercial advertising, chain mail, informational announcements, charity requests, and petitions for signatures</td>
                                            </tr>
                                            <tr>
                                                <td valign="top">k.	You agree not to reverse engineer, decompile, disassemble or otherwise attempt to discover the source code of the Software or SAAVI APP Service or any part thereof, except and only to the extent that such activity is expressly permitted by applicable law notwithstanding this limitation.</td>
                                            </tr>
                                            <tr>
                                                <td valign="top">l.	You agree not to modify, adapt, translate or create derivative works based upon the Software or SAAVI APP Service or any part thereof, except and only to the extent that such activity is expressly permitted by applicable law notwithstanding this limitation.</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </li>

                                <li>
                                    <h5>Account Information. </h5> In order to access some features of the SAAVI APP Service, you may have to create an account. You agree that the information you provide or authorise third parties to provide to SAAVI APP upon registration and, at all other times, will be true, accurate, current, and complete.  You also agree that you will ensure that this information is kept accurate and up-to-date at all times.  You acknowledge, consent and agree that SAAVI APP may access, preserve and disclose your account information and User Submission if required to do so by law or in a good faith belief that such access preservation or disclosure is reasonably necessary to (a) comply with legal process; (b) enforce the Terms; (c) respond to claim that any User Submission violates the rights of third parties; (d) to respond to your requests for customer service; or (e) protect the rights, property or personal safety of SAAVI APP, its users and the public
                                </li>

                                <li>
                                    <h5>Password.</h5> As you will be responsible for all activities that occur under your username and password, you should keep your password confidential.  You are solely responsible for maintaining the confidentiality of your account and password and for restricting access to your computer, and you agree to accept responsibility for all activities that occur under your account or password.  If you have reason to believe that your account is no longer secure (for example, in the event of a loss, theft or unauthorised disclosure or use of your account ID or password), you will immediately notify SAAVI APP at enquiry@saavi.com.au.  You may be liable for the losses incurred by SAAVI APP or others due to any unauthorised use of your account.
                                </li>
                                <li>
                                    <h5>Dealings with Advertisers.</h5>. Your correspondence or business dealings with, or participation in promotions of, advertisers found on or through the Software or SAAVI APP Service are solely between you and such advertiser.  YOU AGREE THAT SAAVI APP WILL NOT BE RESPONSIBLE OR LIABLE FOR ANY LOSS OR DAMAGE OF ANY SORT INCURRED AS THE RESULT OF ANY SUCH DEALINGS OR AS THE RESULT OF THE PRESENCE OF SUCH ADVERTISERS ON THE SOFTWARE OR SERVICE.
                                </li>
                                <li>
                                    <h5>Links and Third Party Services.</h5> . SAAVI APP or third parties may provide links or functionality in the Software or SAAVI APP Service to other services, sites or content (“Third Party Services”).  SAAVI APP has no control over such Third Party Services or content, and therefore makes no claim or representation regarding, and expressly disclaims responsibility for, the accuracy, quality, legality, nature, availability or reliability of Third Party Services or content linked to by the Software or SAAVI APP Service.  SAAVI APP provides links to you only as a convenience, and the inclusion of any link on the Software or SAAVI APP Service does not imply our affiliation, endorsement, or adoption of the linked site or any information therein.  ACCESS AND USE OF THIRD PARTY SERVICES, INCLUDING THE INFORMATION, MATERIAL, PRODUCTS, AND SERVICES ON THIRD PARTY SERVICES OR AVAILABLE THROUGH THIRD PARTY SERVICES, IS SOLELY AT YOUR OWN RISK.  When you leave the Software or SAAVI APP Service, our terms and policies no longer govern.  You should review applicable terms and policies, including the privacy and data gathering practices, of any Third Party Services.
                                </li>
                                <li>
                                    <h5>Availability of Service.</h5> . SAAVI APP may make changes to or discontinue any of the media, web communities, products, or services available within the Software or SAAVI APP Service at any time, and without notice.  The media, products, or services on the Software or SAAVI APP Service may be out of date, and SAAVI APP makes no commitment to update these materials on the Software or SAAVI APP Service.
                                </li>
                                <li>
                                    <h5>User Disagreements.</h5>You are solely responsible for your involvement with other Users.  If you have a dispute with one or more Users, you release SAAVI APP (and SAAVI APP's parent, subsidiaries, Affiliates, officers, directors, agents, joint ventures and employees) from claims, demands and damages (actual and consequential) of every kind and nature, known and unknown, arising out of or in any way connected with such disputes.
                                </li>
                                <li>
                                    <h5>Terms of Use Violations; Termination. </h5>
                                    <table width="100%" border="0" cellspacing="0" cellpadding="10">
                                        <tbody>
                                            <tr>
                                                <td valign="top">
                                                    a.	SAAVI APP.  You agree that SAAVI APP, in its sole discretion and for any or no reason, may terminate any User or customer account (or any part thereof) you may have at the Software or SAAVI APP Service or your use of the Software or SAAVI APP Service, and remove and discard all or any part of your account or any User Submission or Content, at any time, with or without notice.  SAAVI APP may also in its sole discretion and at any time discontinue providing access to the Software or SAAVI APP Service, or any part thereof, with or without notice.  You agree that any termination of your access to the Software or SAAVI APP Service or any account you may have or portion thereof may be effected without prior notice, and you agree that SAAVI APP shall not be liable to you or any third-party for any such termination. SAAVI APP does not permit infringing activities on the Software or SAAVI APP Service, and reserves the right to terminate access to the Software or SAAVI APP Service, and remove all content submitted, by any persons who are found to be infringers.  Any suspected fraudulent, abusive, or illegal activity may be referred to appropriate law enforcement authorities.  These remedies are in addition to any other remedies SAAVI APP may have at law or in equity.
                                                </td>
                                            </tr>
                                            <tr>
                                                <td valign="top">
                                                    b.	User.  If you are dissatisfied with the Software or SAAVI APP Service, please let us know (enquiry@saavi.com.au).  Your input is valuable to us.  Your only other remedy with respect to any dissatisfaction with (i) the Software or SAAVI APP Service, (ii) any term of this Terms of Use, (iii) any policy or practice of SAAVI APP in operating the Software or SAAVI APP Service, or (iv) any content or information transmitted through the Software or SAAVI APP Service, is to terminate this Terms of Use and your account.  You may terminate this Terms of Use at any time by upon written notice to SAAVI APP by uninstalling and destroying the Software and discontinuing all use of the SAAVI APP Service.
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </li>
                                <li>
                                    <h5>Indemnification; Hold Harmless.</h5>  You agree to indemnify and hold harmless SAAVI APP, and its parent, subsidiaries, Affiliates, its suppliers, licensors and partners, and the officers, directors, employees, agents and representatives of any of them from any and all claims, losses, obligations, damages, liabilities, costs or debt and expenses (including Solicitors’s fees) arising out of (i) your use or misuse of the Software or SAAVI APP Service; (ii) your SAAVI APP Submissions, including SAAVI APP’s use, display or other exercise of its license rights granted herein with respect to your SAAVI APP Submissions; (iii) your violation of these Terms; (iv) your violation of the rights of any other person or entity, including claims that any User Submission infringes or violates any third party intellectual property rights; and (v) your breach of the foregoing representations, warranties, and covenants.  SAAVI APP reserves the right, at your expense, to assume the exclusive defense and control of any matter for which you are required to indemnify us and you agree to cooperate with our defense of these claims.  You agree not to settle any matter without the prior written consent of SAAVI APP.  SAAVI APP will use reasonable efforts to notify you of any such claim, action or proceeding upon becoming aware of it.
                                </li>
                                <li>
                                    <h5>Disclaimers; No Warranties.</h5>
                                    <table width="100%" border="0" cellspacing="0" cellpadding="10">
                                        <tbody>
                                            <tr>
                                                <td valign="top">
                                                    a.	No warranties. TO THE FULLEST EXTENT PERMISSIBLE PURSUANT TO APPLICABLE LAW, SAAVI APP, AND ITS AFFILIATES, PARTNERS, AND SUPPLIERS (INCLUDING, IF YOU DOWNLOADED THE SOFTWARE FROM THE APPLE APP STORE, APPLE, INC.) DISCLAIM ALL WARRANTIES, STATUTORY, EXPRESS OR IMPLIED, INCLUDING, BUT NOT LIMITED TO, IMPLIED WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE, TITLE, AND NON-INFRINGEMENT OF PROPRIETARY RIGHTS. NO ADVICE OR INFORMATION, WHETHER ORAL OR WRITTEN, OBTAINED BY YOU FROM SAAVI APP OR THROUGH THE SOFTWARE OR SAAVI APP SERVICE WILL CREATE ANY WARRANTY NOT EXPRESSLY STATED HEREIN.  YOU EXPRESSLY ACKNOWLEDGE THAT AS USED IN THIS SECTION 20 AND SECTION 21, THE TERM “SAAVI APP” INCLUDES SAAVI APP'S OFFICERS, DIRECTORS, EMPLOYEES, SHAREHOLDERS, AGENTS, SUPPLIERS, LICENSORS, AFFILIATES AND SUBCONTRACTORS. You further acknowledge that SAAVI APP and its Affiliates (and if you downloaded the Software from the Apple App Store, Apple) have no obligation whatsoever to furnish any maintenance or support services with respect to the Software and/or SAAVI APP Service.
                                                </td>
                                            </tr>
                                            <tr>
                                                <td valign="top">
                                                    b.	“As is” and “As available” and “With All Faults.” YOU EXPRESSLY AGREE THAT THE USE OF THE SOFTWARE OR SAAVI APP SERVICE IS AT YOUR SOLE RISK.  THE SOFTWARE OR SAAVI APP SERVICE, SAAVI APP SUBMISSIONS AND ANY THIRD-PARTY MEDIA, CONTENT, SOFTWARE, SERVICES OR APPLICATIONS MADE AVAILABLE IN CONJUNCTION WITH OR THROUGH THE SOFTWARE OR SAAVI APP SERVICE ARE PROVIDED ON AN “AS IS” AND “AS AVAILABLE”, “WITH ALL FAULTS” BASIS AND WITHOUT WARRANTIES OR REPRESENTATIONS OF ANY KIND EITHER EXPRESS OR IMPLIED.
                                                </td>
                                            </tr>
                                            <tr>
                                                <td valign="top">
                                                    c.	Platform Operation and Content. SAAVI APP, ITS SUPPLIERS, LICENSORS, AFFILIATES, AND PARTNERS DO NOT WARRANT THAT THE SAAVI APP MATERIALS, SAAVI APP SUBMISSIONS, SOFTWARE OR SAAVI APP SERVICE, OR ANY OTHER INFORMATION OFFERED ON OR THROUGH THE SOFTWARE OR SAAVI APP SERVICE OR ANY THIRD PARTY SERVICES WILL BE UNINTERRUPTED, OR FREE OF ERRORS, VIRUSES OR OTHER HARMFUL COMPONENTS AND DO NOT WARRANT THAT ANY OF THE FOREGOING WILL BE CORRECTED.
                                                </td>
                                            </tr>
                                            <tr>
                                                <td valign="top">

                                                    d.	Accuracy. SAAVI APP, ITS SUPPLIERS, LICENSORS, AFFILIATES, AND PARTNERS DO NOT WARRANT OR MAKE ANY REPRESENTATIONS REGARDING THE USE OR THE RESULTS OF THE USE OF THE SOFTWARE OR SAAVI APP SERVICE OR ANY THIRD PARTY SERVICES IN TERMS OF CORRECTNESS, ACCURACY, RELIABILITY, OR OTHERWISE.
                                                </td>
                                            </tr>
                                            <tr>
                                                <td valign="top">
                                                    e.	Harm to Your Computer or Device. YOU UNDERSTAND AND AGREE THAT YOU IF YOU USE, ACCESS, DOWNLOAD, OR OTHERWISE OBTAIN INFORMATION, MATERIALS, OR DATA THROUGH THE SOFTWARE OR SAAVI APP SERVICE (INCLUDING RSS FEEDS) OR ANY THIRD PARTY SERVICES, IT IS AT YOUR OWN DISCRETION AND RISK AND THAT YOU WILL BE SOLELY RESPONSIBLE FOR ANY DAMAGE TO YOUR PROPERTY (INCLUDING YOUR COMPUTER SYSTEM) OR LOSS OF DATA THAT RESULTS FROM THE DOWNLOAD OR USE OF SUCH MATERIAL OR DATA.
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </li>

                                <li>
                                    <h5>	Limitation of Liability; Damages</h5>
                                    <table width="100%" border="0" cellspacing="0" cellpadding="10">
                                        <tbody>
                                            <tr>
                                                <td valign="top">
                                                    a.	Limitation of Liability. UNDER NO CIRCUMSTANCES, AND UNDER NO LEGAL THEORY, INCLUDING, BUT NOT LIMITED TO, NEGLIGENCE, SHALL SAAVI APP OR ITS AFFILIATES, CONTRACTORS, EMPLOYEES, AGENTS, OR THIRD PARTY PARTNERS OR SUPPLIERS, BE LIABLE FOR ANY SPECIAL, INDIRECT, INCIDENTAL, CONSEQUENTIAL, OR EXEMPLARY DAMAGES (INCLUDING WITHOUT LIMITATION, LOSS OF PROFITS, DATA OR USE OR COST OF COVER) ARISING OUT OF OR RELATING TO THESE TERMS OR THAT RESULT FROM YOUR USE OR THE INABILITY TO USE THE SAAVI APP MATERIALS AND SAAVI APP SUBMISSIONS ON THE SOFTWARE OR SAAVI APP SERVICE OR ANY THIRD PARTY SERVICES, THE SOFTWARE OR SAAVI APP SERVICE ITSELF, OR ANY OTHER INTERACTIONS WITH SAAVI APP, EVEN IF SAAVI APP OR A SAAVI APP AUTHORIZED REPRESENTATIVE HAS BEEN ADVISED OF THE POSSIBILITY OF SUCH DAMAGES.  APPLICABLE LAW MAY NOT ALLOW THE LIMITATION OR EXCLUSION OF LIABILITY OR INCIDENTAL OR CONSEQUENTIAL DAMAGES, SO THE ABOVE LIMITATION OR EXCLUSION MAY NOT APPLY TO YOU.  IN SUCH CASES, SAAVI APP’S LIABILITY WILL BE LIMITED TO THE EXTENT PERMITTED BY LAW.
                                                </td>
                                            </tr>
                                            <tr>
                                                <td valign="top">
                                                    b.	Limitation of Damages. IN NO EVENT SHALL SAAVI APP OR ITS AFFILIATES, CONTRACTORS, EMPLOYEES, AGENTS, OR THIRD PARTY PARTNERS, LICENSORS OR SUPPLIERS’ TOTAL LIABILITY TO YOU FOR ALL DAMAGES, LOSSES, AND CAUSES OF ACTION ARISING OUT OF OR RELATING TO THESE TERMS OR YOUR USE OF THE SOFTWARE OR SAAVI APP SERVICE (WHETHER IN CONTRACT, TORT (INCLUDING NEGLIGENCE), WARRANTY, OR OTHERWISE) EXCEED THE GREATER OF THE AMOUNT OF (A) ONE HUNDRED DOLLARS OR (B) THE AMOUNT OF FEES YOU HAVE PAID SAAVI APP IN THE 12 MONTHS PRIOR TO THE ACTION GIVING RISE TO THE LIABILITY.
                                                </td>
                                            </tr>

                                            <tr>
                                                <td valign="top">
                                                    c.	Third Party Services. THESE LIMITATIONS SHALL ALSO APPLY WITH RESPECT TO DAMAGES INCURRED BY REASON OF ANY PRODUCTS OR SERVICES SOLD OR PROVIDED ON ANY THIRD PARTY SERVICES OR OTHERWISE BY THIRD PARTIES OTHER THAN SAAVI APP AND RECEIVED BY YOU THROUGH OR ADVERTISED ON THE SOFTWARE OR SAAVI APP SERVICE OR RECEIVED BY YOU THROUGH ANY THIRD PARTY SERVICES.
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </li>
                                <li>
                                    <h5>Limitations by Applicable Law; Basis of the Bargain.</h5>
                                    <table width="100%" border="0" cellspacing="0" cellpadding="10">
                                        <tbody>
                                            <tr>
                                                <td valign="top">
                                                    a.	Limitations by Applicable Law. CERTAIN JURISDICTIONS DO NOT ALLOW LIMITATIONS ON IMPLIED WARRANTIES OR THE EXCLUSION OR LIMITATION OF CERTAIN DAMAGES.  IF YOU RESIDE IN SUCH A JURISDICTION, SOME OR ALL OF THE ABOVE DISCLAIMERS, EXCLUSIONS, OR LIMITATIONS MAY NOT APPLY TO YOU, AND YOU MAY HAVE ADDITIONAL RIGHTS.  THE LIMITATIONS OR EXCLUSIONS OF WARRANTIES, REMEDIES OR LIABILITY CONTAINED IN THIS TERMS APPLY TO YOU TO THE FULLEST EXTENT SUCH LIMITATIONS OR EXCLUSIONS ARE PERMITTED UNDER THE LAWS OF THE JURISDICTION IN WHICH YOU ARE LOCATED.
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </li>

                                <li>
                                    <h5>	Additional Terms for Apple App Store Applications. This Section 22 applies to you only if you have downloaded the Software from the Apple App Store.</h5>
                                    <table width="100%" border="0" cellspacing="0" cellpadding="10">
                                        <tbody>
                                            <tr>
                                                <td valign="top">
                                                    <span>a.	Acknowledgement. </span> SAAVI APP and you acknowledge that these Terms are entered into solely between you and Us, and not with any third party, including Apple, Inc. These Terms are not intended to provide for usage rules for the Software that are less restrictive than the Usage Rules set forth for Licensed Applications in, or otherwise conflict with, the App Store Terms of Service as of the date hereof (which you acknowledge you have had the opportunity to review).
                                                </td>
                                            </tr>
                                            <tr>
                                                <td valign="top">
                                                    <span>b.	License to Software. </span> Subject to all the terms and conditions herein, SAAVI APP hereby grants you a personal, limited, non-commercial, nonexclusive, non-sublicensable, non-assignable, revocable license to download, install and use one (1) copy of the Software, in object code form, only on your App Store compatible device (“Device”) for the sole purpose of personally using the Service and, if you have downloaded the Software from the Apple App Store, as permitted by the Usage Rules set forth in the Apple App Store Terms of Service.
                                                </td>
                                            </tr>
                                            <tr>
                                                <td valign="top">
                                                    <span>c.	Acknowledgement. </span> You acknowledge that Apple has no responsibility for addressing any claims relating to the Software or SAAVI APP Service or your possession and/or use of the Software or SAAVI APP Service, including but not limited to (i) product liability claims; (ii) any claim that the Software or SAAVI APP Service fails to conform to any applicable legal or regulatory requirement; and (iii) any claims arising under consumer protection or similar legislation.
                                                </td>
                                            </tr>
                                            <tr>
                                                <td valign="top">
                                                    <span>d.	Express Third Party Beneficiary.</span> You acknowledge and agree that Apple, and Apple’s subsidiaries, are third-party beneficiaries of these Terms, and that, upon your acceptance of the terms and conditions of these Terms, Apple will have the right (and will be deemed to have accepted the right) to enforce these Terms against you as a third-party beneficiary hereof.
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </li>

                                <li>
                                    <h5>	Miscellaneous.</h5>
                                    <table width="100%" border="0" cellspacing="0" cellpadding="10">
                                        <tbody>
                                            <tr>
                                                <td valign="top">
                                                    <span>a.	Notice. </span> SAAVI APP may provide you with notices, including those regarding changes to these Terms, by email, regular mail or postings on the Software or SAAVI APP Service.  Notice will be deemed given twenty-four hours after email is sent, unless SAAVI APP is notified that the email address is invalid.  Alternatively, we may give you legal notice by mail to a postal address, if provided by you through the Software or SAAVI APP Service.  In such case, notice will be deemed given three days after the date of mailing.
                                                </td>
                                            </tr>
                                            <tr>
                                                <td valign="top">
                                                    <span>b.	Governing Law. </span> These Terms shall be governed by and construed in accordance with the laws of the State of Victoria, Australia, without giving effect to any principles of conflicts of law.
                                                </td>
                                            </tr>
                                            <tr>
                                                <td valign="top">
                                                    <span>c.	Jurisdiction.</span> You agree that the SAAVI APP Service shall be deemed solely based in Victoria, Australia and a passive service that does not give rise to personal jurisdiction over SAAVI APP, either specific or general, in jurisdictions other than the State of Victoria, Australia and that any action at law or in equity arising out of or relating to these Terms or the Software or SAAVI APP Service shall be filed only in the state courts in and for Victoria, Australia and you hereby consent and submit to the personal and exclusive jurisdiction of such courts for the purposes of litigating any such action.
                                                </td>
                                            </tr>
                                            <tr>
                                                <td valign="top">
                                                    <span>d.	Waiver.</span> A provision of these Terms may be waived only by a written instrument executed by the party entitled to the benefit of such provision.  The failure of SAAVI APP to exercise or enforce any right or provision of these Terms will not constitute a waiver of such right or provision.
                                                </td>
                                            </tr>
                                            <tr>
                                                <td valign="top">
                                                    <span>e.	Severability.</span>. If any provision of these Terms shall be unlawful, void, or for any reason unenforceable, then that provision shall be deemed severable from these Terms and shall not affect the validity and enforceability of any remaining provisions.
                                                </td>
                                            </tr>

                                            <tr>
                                                <td valign="top">
                                                    <span>f.	Assignment.</span> The Terms and related Guidelines, and any rights and licenses granted hereunder, may not be transferred or assigned by you, but may be assigned by SAAVI APP without restriction.  Any assignment attempted to be made in violation of this Terms or Use shall be void.
                                                </td>
                                            </tr>
                                            <tr>
                                                <td valign="top">
                                                    <span>g.	Independent Contractor.</span>You agree that no joint venture, partnership, employment, or agency relationship exists between you and SAAVI APP as a result of these Terms or use of the Software or SAAVI APP Service.  You further acknowledge that by submitting SAAVI APP Submissions or other Content, no confidential, fiduciary, contractually implied or other relationship is created between you and SAAVI APP other than pursuant to these Terms.
                                                </td>
                                            </tr>
                                            <tr>
                                                <td valign="top">
                                                    <span>h.	Survival.</span>The Sections entitled “Ownership; Proprietary Rights”, “SAAVI APP Submissions”, “Disclaimers; No Warranties”, “Indemnification; Hold Harmless”, “Limitation of Liability and Damages”, and “Miscellaneous” will survive any termination of these Terms.
                                                </td>
                                            </tr>
                                            <tr>
                                                <td valign="top">
                                                    <span>i.	Headings.</span> . The heading references herein are for convenience purposes only, do not constitute a part of these Terms, and shall not be deemed to limit or affect any of the provisions hereof.
                                                </td>
                                            </tr>
                                            <tr>
                                                <td valign="top">
                                                    <span>j.	Entire Agreement.</span> This is the entire agreement between you and SAAVI APP relating to the subject matter herein and supersedes all previous communications, representations, understandings and agreements, either oral or written, between the parties with respect to said subject matter.  The Agreement shall not be modified except in a writing, signed by both parties, or by a change to these Terms or Guidelines made by SAAVI APP as set forth in Section 3 above.
                                                </td>
                                            </tr>
                                            <tr>
                                                <td valign="top">
                                                    <span>k.	Third Party Compliance. </span> Your use of the Software or SAAVI APP Service must comply with applicable third party terms of agreement when you are using the Software and/or SAAVI APP Service.
                                                </td>
                                            </tr>
                                            <tr>
                                                <td valign="top">
                                                    <span>l.	Third Party Software.</span>.  The Software may be distributed alongside certain third party software ("Third Party Software") provided under separate license terms (the "Third Party Terms"). Your use of the Third Party Software in conjunction with the Software in a manner consistent with these Terms is permitted, however, you may have broader rights under the applicable Third Party Terms and nothing in these Terms is intended to impose further restrictions on your use of the Third Party Software.
                                                </td>
                                            </tr>
                                            <tr>
                                                <td valign="top">
                                                    <span>m.	New Versions of the Software.</span> SAAVI APP, in its sole discretion, reserves the right to add additional features or functions, or to modify or provide programming fixes, updates and upgrades, to the Software or SAAVI APP Service. SAAVI APP has no obligation to make available to you any modifications, updates, support, maintenance or subsequent versions of the Software or SAAVI APP Service. You may have to agree to a renewed version of this Terms of Use if you want to download, install or use any modifications, updates or new versions of the Software. You acknowledge that SAAVI APP may automatically issue any modifications, updates or upgraded versions of the Software and, accordingly, may modify, update or upgrade the version of the Software that you are using or have installed on your Device. You hereby agree that your device may automatically request and receive such modifications, upgrades or updates.
                                                </td>
                                            </tr>
                                            <tr>
                                                <td valign="top">
                                                    <span>n.	Claims.</span> YOU AND SAAVI APP AGREE THAT ANY CAUSE OF ACTION ARISING OUT OF OR RELATED TO THE SOFTWARE OR SAAVI APP SERVICE MUST COMMENCE WITHIN ONE (1) YEAR AFTER THE CAUSE OF ACTION ACCRUES.  OTHERWISE, SUCH CAUSE OF ACTION IS PERMANENTLY BARRED.
                                                </td>
                                            </tr>
                                            <tr>
                                                <td valign="top">
                                                    <span>o.	Disclosures.</span>The Software and SAAVI APP Service are offered by SAAVI Pty Ltd., email:<a href="mailto:enquiry@saavi.com.au?Subject=Enquiry" target="_top">enquiry@saavi.com.au</a>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </li>
                            </ol>
                            <p>Last Updated: 31 January 2019</p>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <a href="javascript:;" data-dismiss="modal" class="btn btn-outline-saavi">Close</a>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="modalPrivacyPop" tabindex="-1" role="dialog" aria-labelledby="modalLiqour-label">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content borderTop">
                <div class="modal-header">
                    <h4 class="modal-title text-uppercase" id="modalLiqour-label">PRIVACY</h4>
                </div>
                <div class="modal-body" v-bar style="max-height:500px; overflow:auto">
                    <div class="tc">
                        <h3>SAAVI Privacy Policy</h3>
                        <ul>

                            <li>
                                SAAVI understands the importance of protecting the privacy of SAAVI users. The information collected is used primarily to identify you should you lose your password. SAAVI also reserves the right to contact you to seek ways to improve the services we and our subsidiaries offer, to improve the SAAVI service offerings, the <a href="http://saavi.com.au" target="_blank">www.saavi.com.au</a>  web site content, and to contact you with any updates to the web site or for other marketing purposes. Certain areas of the <a href="http://saavi.com.au" target="_blank">www.saavi.com.au</a>  website require registration or a password for access. Information obtained from registered users of these areas may also be used for SAAVI marketing purposes, and cookies may be used in those and other areas, as is described in this Policy.
                            </li>

                            <li>
                                <h5>What information does SAAVI capture about visitors to its web site? </h5>

                                The <a href="http://saavi.com.au" target="_blank">www.saavi.com.au</a> web server uses an extended log file format which captures: date and time of visit, referring address (location from which a visitor comes to <a href="http://saavi.com.au" target="_blank">www.saavi.com.au</a>), type of Internet browser, and visitor's IP address. (Each computer that connects to the Internet is assigned a unique number, an IP address, for identification purposes). The log file does not capture a visitor's email address.
                            </li>
                            <li>
                                <h5>Does SAAVI or <a href="http://saavi.com.au" target="_blank">www.saavi.com.au</a>  ask for personal information? </h5>

                                Several areas of the SAAVI website and the <a href="http://saavi.com.au" target="_blank">www.saavi.com.au</a> website asks for personal information. This list may be expanded without notice. In the event that it is expanded, additional information may be required. In these areas, your name, address, email address, gender, date of birth and postcode are requested. This information is collected to help us further develop our services, to provide you access to valuable SAAVI and internet-based information and services, and to bill you for those services if you elect to use them.
                            </li>
                            <li>
                                <h5>How does SAAVI or <a href="http://saavi.com.au" target="_blank">www.saavi.com.au</a> use the information?</h5>

                                The information collected through this site or mobile app helps us identify the type of mobile apps and web site content our customers value most. We use this information to market and improve the web site and our services. We also use this information to send you email notifications about updates to the web site, and to contact you by other means for marketing and other purposes. Our policy is to not give, sell or otherwise distribute the information collected through this site to third parties outside of SAAVI and its subsidiaries (unless required by law); provided, however, in some cases we may use suppliers to assist us in collecting, using or otherwise processing for our benefit the information obtained through this site. Our practice is to require our suppliers to conduct such activities consistent with this policy and our requirements.
                            </li>
                            <li>
                                <h5>What is a cookie?</h5>
                                A cookie is a series of data characters that, when programmed into a mobile app or web site, is placed by the web server into the browser's application folder on your computer. Once placed onto your PC or mobile phone, the cookie will allow the web site or mobile app to "recognise" you as a unique individual.
                            </li>
                            <li>
                                <h5>Does SAAVI or the website use cookies?</h5>

                                Yes. Cookies are used to achieve two goals. The first is to provide SAAVI with the capability to personalise information for certain segments of its customer base. Secondly, in some instances, cookies are used to allow SAAVI the opportunity to associate individual customers with their information profiles.
                            </li>
                            <li>
                                <h5>Can cookies be removed from my mobile phone or hard drive?</h5>

                                Yes, cookies can be removed from your mobile phone or hard drive. Also, depending on what type of web browser and what browser version you are using, you may be able to change the properties on your cookie file so that cookies are not used or saved. Please check with your mobile phone, its browser provider for more information on removing cookies
                            </li>

                            <li>
                                <h5>How do I contact SAAVI?</h5>

                                We can be reached via email at <a href="mailto:enquiry@saavi.com.au?Subject=Enquiry" target="_top"> enquiry@saavi.com.au</a>

                                <br>

                                Your use of SAAVI and the <a href="http://saavi.com.au" target="_top">www.saavi.com.au</a> website constitutes your agreement to this Privacy Policy.

                                <br>
                                Effective Date:  31 January, 2019
                                <br>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="modal-footer">
                    <a href="javascript:;" data-dismiss="modal" class="btn btn-outline-saavi">Close</a>
                </div>
            </div>
        </div>
    </div>

    <div id="domMessage" style="display:none;">
        <img src="~/content/loaders/oval.svg" height="90" alt="">
    </div>
    <script src="@RouteJs.RouteJsHandler.HandlerUrl"></script>
    <!--===============================================================================================-->

    <script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
    <script>
        $(function () {
            function checkBrowserSupported() {
                var userAgent = window.navigator.userAgent,
                    browsers = [
                        { name: "Firefox", value: 60 },
                        { name: "Edge", value: 15 },
                        { name: "Chrome", value: 70 },
                        { name: "Safari", value: 537 },
                    ];
                for (var i = 0; i < browsers.length; i++) {
                    var browser = browsers[i]
                    if ((uIndex = userAgent.indexOf(browser.name + "/")) > 0) {
                        var version = parseFloat(userAgent.substr(uIndex + browser.name.length + 1, 4));
                        if (version > browser.value) {
                            return true;
                        }
                    }
                }

                return false;
            }

            if (Cookies.get('PopUp') === undefined) {
                if (window.navigator.userAgent.indexOf("Trident/") > 0) {
                    showIEPopup();
                } else if (!checkBrowserSupported()) {
                    showPopup();
                }
            }
        });
        function enableGuest() {
            $('#formLogin').addClass("ignore");
            $('#Username').val('');
            $('#Password').val('');
            $('#Username').prop('disabled', true);
            $('#Password').prop('disabled', true);

            return false;
            //var isGuest = $(ctrl).prop('checked');

            //if (isGuest) {
            //    $('#formLogin').addClass("ignore");
            //    $('#Username').val('');
            //    $('#Password').val('');
            //    $('#Username').prop('disabled', true);
            //    $('#Password').prop('disabled', true);

            //} else {
            //    $('#formLogin').removeClass("ignore");
            //    $('#Username').prop('disabled', false);
            //    $('#Password').prop('disabled', false);
            //}
        }

        function showIEPopup() {
            var msg = '<p>Unfortunately, Internet Explorer is no longer supported and does not function at all with the latest technology we have deployed on this site.Please install the latest Microsoft Edge browser using the link provided at the bottom of this page in order to enjoy a good experience.</p>';
            try {
                $.confirm({
                    //theme: 'material',
                    title: 'IMPORTANT NOTICE!',
                    titleClass: 'text-center text-black',
                    columnClass: 'col-md-6 col-md-offset-3',
                    content: msg,
                    type: 'red',
                    buttons: {
                        ok: function () {

                        },
                        not: {
                            text: "Don't show again",
                            btnClass: 'btn-blue pull-left text-capitalize',
                            keys: ['enter'],
                            action: function () {
                                Cookies.set('PopUp', '0', { expires: 7 });
                            }
                        }
                    }
                });
            }
            catch (err) {
                alert(msg); /*For very old IE which does not support jConfirm pop up*/
            }
        }

        function showPopup() {
            $.confirm({
                //theme: 'material',
                title: 'IMPORTANT NOTICE!',
                titleClass: 'text-center text-black',
                columnClass: 'col-md-6 col-md-offset-3',
                content: '<p>As our online store uses the latest technology for speed improvements, please ensure you use one of the latest browser versions: (Chrome, Microsoft Edge, Safari etc) We have included various download links at the very bottom of this log in page.Please update your browser for the best user experience. You may encounter design & loading issues if you use other browsers.</p>',
                type: 'red',
                buttons: {
                    ok: function () {

                    },
                    not: {
                        text: "Don't show again",
                        btnClass: 'btn-blue pull-left text-capitalize',
                        keys: ['enter'],
                        action: function () {
                            Cookies.set('PopUp', '0', { expires: 7 });
                        }
                    }
                }
            });
        }
    </script>
    @Scripts.Render("~/bundles/Loginscripts")
    <script>
        var GoogleAnalyticsFunctions = {

            // Google Analytics - IDs.
            gaAnalyticsIds: ['UA-122100301-1'],

            // Google Analytics - name prefixes.
            gaNamePrefixes: [],

            // Google Analytics - initialization.
            init: function () {
                var gaAnalyticsIds = GoogleAnalyticsFunctions.gaAnalyticsIds;

                if (typeof (gaAnalyticsIds) !== 'undefined' && gaAnalyticsIds.length > 0 && gaAnalyticsIds[0].length > 0) {
                    (function (i, s, o, g, r, a, m) {
                        i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                            (i[r].q = i[r].q || []).push(arguments)
                        }, i[r].l = 1 * new Date(); a = s.createElement(o),
                            m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
                    })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

                    for (var i = 0; i < gaAnalyticsIds.length; i++) {
                        var prefix = 'GATracker' + i;
                        ga('create', gaAnalyticsIds[i], { 'name': prefix });
                        GoogleAnalyticsFunctions.gaNamePrefixes.push(prefix);
                        ga(prefix + '.send', 'pageview');
                    }
                }
            },
        };

        $(function () {
            GoogleAnalyticsFunctions.init();
        });
    </script>
</body>
</html>