﻿@model SaaviOnlineOrdering.Models.BO.RegisterViewModel

@{
    /**/

    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Suncoast Fresh</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--===============================================================================================-->
    <link rel="icon" type="image/png" href="~/content/images/icons/favicon.png" />

    @Styles.Render("~/Content/Logincss")
    <link href="~/Content/css/icheck-material.css" rel="stylesheet" />
    <!--===============================================================================================-->
    <script>
        var GoogleAnalyticsFunctions = {

            // Google Analytics - IDs.
            gaAnalyticsIds: ['UA-122100301-1'],

            // Google Analytics - name prefixes.
            gaNamePrefixes: [],

            // Google Analytics - initialization.
            init: function () {
                var gaAnalyticsIds = GoogleAnalyticsFunctions.gaAnalyticsIds;

                if (typeof (gaAnalyticsIds) !== 'undefined' && gaAnalyticsIds.length > 0 && gaAnalyticsIds[0].length > 0) {
                    (function (i, s, o, g, r, a, m) {
                        i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                            (i[r].q = i[r].q || []).push(arguments)
                        }, i[r].l = 1 * new Date(); a = s.createElement(o),
                            m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
                    })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

                    for (var i = 0; i < gaAnalyticsIds.length; i++) {
                        var prefix = 'GATracker' + i;
                        ga('create', gaAnalyticsIds[i], { 'name': prefix });
                        GoogleAnalyticsFunctions.gaNamePrefixes.push(prefix);
                        ga(prefix + '.send', 'pageview');
                    }
                }
            },
        };

        $(function () {
            GoogleAnalyticsFunctions.init();
        });
    </script>
    <!--===============================================================================================-->
    <script>
        !function (f, b, e, v, n, t, s) {
            if (f.fbq) return; n = f.fbq = function () {
                n.callMethod ? n.callMethod.apply(n, arguments) : n.queue.push(arguments)
            };
            if (!f._fbq) f._fbq = n; n.push = n; n.loaded = !0; n.version = '2.0';
            n.queue = []; t = b.createElement(e); t.async = !0;
            t.src = v; s = b.getElementsByTagName(e)[0];
            s.parentNode.insertBefore(t, s)
        }(window, document, 'script', 'https://connect.facebook.net/en_US/fbevents.js');
        fbq('init', '3588116001259408');
        fbq('track', 'PageView');
    </script>
    <noscript>
        <img height="1" width="1" src="https://www.facebook.com/tr?id=3588116001259408&ev=PageView&noscript=1" />
    </noscript>
</head>
<body>
    <div class="limiter">
        <div class="container-login100" style="background-image: url('@Url.Content("~/content/images/bg-01.jpg")');">
            <div class="wrap-login100">
                @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "login100-form validate-form register", novalidate = "novalidate" }))
                {
                    <span class="login100-form-logo">
                        <img src="~/content/images/logo.png" height="100" alt="">
                    </span>

                    <span class="login100-form-title p-b-10 p-t-10">
                        Register
                    </span>

                    <div class="wrap-input100 validate-input" data-validate="Enter Contact name">
                        @Html.TextBoxFor(m => m.UserName, new { @class = "input100", placeholder = "Contact Name", autocomplete = "off" })
                        @*<input class="input100" type="password" name="pass" placeholder="Password">*@
                        <span class="focus-input100" data-placeholder="&#xf205;"></span>
                    </div>

                    <div class="wrap-input100 validate-input">
                        @*<input class="input100" type="text" name="username" placeholder="Username">*@
                        @Html.TextBoxFor(m => m.BusinessName, new { @class = "input100", placeholder = "Business Name (Optional)" })
                        <span class="focus-input100" data-placeholder="&#xf207;"></span>
                    </div>

                    <div class="wrap-input100 validate-input">
                        @*<input class="input100" type="text" name="username" placeholder="Username">*@
                        @Html.TextBoxFor(m => m.ABN, new { @class = "input100", placeholder = "ABN (Optional)" })
                        <span class="focus-input100" data-placeholder="&#xf207;"></span>
                    </div>

                    <div class="wrap-input100 validate-input" data-validate="Enter Mobile or Phone No.">
                        @Html.TextBoxFor(m => m.Phone, new { @class = "input100", placeholder = "Mobile or Phone Number", maxlength = "10", onkeypress = "checkNUmericValue(this)" })
                        @*<input class="input100" type="password" name="pass" placeholder="Password">*@
                        <span class="focus-input100" data-placeholder="&#xf2cc;">
                        </span>
                    </div>

                    <div class="wrap-input100 validate-input" data-validate="Street Address">
                        @*<input class="input100" type="text" name="username" placeholder="Username">*@
                        @Html.TextBoxFor(m => m.StreetAddress, new { @class = "input100 street_number", placeholder = "Street Address", onFocus = "geolocate()" })
                        <span class="focus-input100" data-placeholder="&#xf207;"></span>
                    </div>

                    @*<div class="wrap-input100 validate-input" data-validate="Street Address 2">
                            @Html.TextBoxFor(m => m.StreetAddress2, new { @class = "input100 route", placeholder = "Street Address 2" })
                            <span class="focus-input100" data-placeholder="&#xf207;"></span>
                        </div>*@

                    <div class="wrap-input100 validate-input" data-validate="Suburb">
                        @*<input class="input100" type="text" name="username" placeholder="Username">*@
                        @Html.TextBoxFor(m => m.Suburb, new { @class = "input100 locality", placeholder = "Suburb" })
                        <span class="focus-input100" data-placeholder="&#xf207;"></span>
                    </div>

                    <div class="wrap-input100 validate-input" data-validate="Postcode">
                        @*<input class="input100" type="text" name="username" placeholder="Username">*@
                        @Html.TextBoxFor(m => m.Postcode, new { @class = "input100 postal_code", placeholder = "Postcode" })
                        <span class="focus-input100" data-placeholder="&#xf207;"></span>
                    </div>

                    <div class="wrap-input100 validate-input" data-validate="Enter a valid Email">
                        @Html.TextBoxFor(m => m.Email, new { @class = "input100", placeholder = "Email", type = "email" })
                        @*<input class="input100" type="password" name="pass" placeholder="Password">*@
                        <span class="focus-input100" data-placeholder="&#xf15a;"></span>
                    </div>

                    <div class="wrap-input100 validate-input" data-validate="Enter password">
                        @Html.TextBoxFor(m => m.Password, new { @class = "input100", placeholder = "Password", type = "password", autocomplete = "off", data_type = "R" })
                        @*<input class="input100" type="password" name="pass" placeholder="Password">*@
                        <span class="focus-input100" data-placeholder="&#xf191;"></span>
                    </div>
                    <div class="wrap-input100 m-b-50">
                        <label class="text-white">
                            @*<i>Existing account</i>*@
                            <div class="icheck-material-blue">
                                @Html.CheckBoxFor(m => m.ExistingAccount)
                                <label for="ExistingAccount"><i>Retail / Private Customer</i></label>
                            </div>
                        </label>
                    </div>
                    <div class="container-login100-form-btn registerpage">
                        <div class="order2">
                            <a href="@Url.Action("Login","Account")" class="register-form-btn pull-left">
                                Go Back
                            </a>
                        </div>

                        <div class="order1"><button class="login100-form-btn pull-right" id="btnRegister">Register</button></div>
                    </div>
                }
            </div>
        </div>
    </div>

    <script src="@RouteJs.RouteJsHandler.HandlerUrl"></script>
    <!--===============================================================================================-->
    <script src="~/content/vendor/jquery/jquery-3.2.1.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/content/vendor/bootstrap/js/popper.js"></script>
    <script src="~/content/vendor/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/content/js/main.js"></script>
    <script>

        $(function () {
            if ('@Model.Message' != '') {
                if ('@Model.Message' === 'Success' || '@Model.Message'.startsWith('Important Note')) {
                    showAlert(null, );
                    $.alert({
                        title: '',
                        titleClass: 'text-center fs-19',
                        content: '<div class="text-center fs-19">Congratulations! You have successfully registered and you can now login immediately. Simply press the OK button below and you’ll be taken back to the login page where you can login using the email address and password you supplied in the registration form. An email will also be sent to confirm your registration details.</div>',
                        animation: 'scaleX',
                        closeAnimation: 'scaleX',
                        draggable: false,
                        animateFromElement: false,
                        type: 'dark',
                        buttons: {
                            okay: {
                                text: 'OK',
                                btnClass: 'btn-blue',
                                keys: ['enter'],
                                action: function () {
                                    window.location.href = '@Url.Action("Login", "Account")';
                                }
                            }
                        }
                    });
                } else {
                    showAlert(null, '@Model.Message');
                }
            }
        });

        function checkNUmericValue(ctrl) {
            var evt = (evt) ? evt : window.event;
            var charCode = (evt.which) ? evt.which : evt.keyCode;
            var el = $(ctrl);

            if ((charCode > 31 && (charCode < 48 || charCode > 57)) ) {
                evt.preventDefault();
            } else {
                if (el.val().length < 1 && charCode !== 48) {
                    el.val('0' + el.val());
                }
                return true;
            }

        }

        //function checkPostcode(ctrl) {
        //    var postcode = parseInt($(ctrl).val());

        //    var pArry = [3141, 3181, 3182, 3183, 3184, 3205, 3206, 3207, 3335, 3752, 3754];
        //    if ((postcode >= 3000 && postcode <= 3095) || (postcode >= 3211 && postcode <= 3230) || checkelement(pArry, postcode)) {
        //        showAlert(null, "Given your supplied postcode, we wish to advise that deliveries to this post code take 48 hours from date of order. Please contact our customer service team if you have any queries.");
        //    }
        //}

        //function checkelement(arry, val) {
        //    if ($.inArray(val, arry) > -1) {
        //        return true;
        //    } else {
        //        return false;
        //    }
        //}
     // This sample uses the Autocomplete widget to help the user select a
        // place, then it retrieves the address components associated with that
        // place, and then it populates the form fields with those details.
        // This sample requires the Places library. Include the libraries=places
        // parameter when you first load the API. For example:
        // <script
        // src="https://maps.googleapis.com/maps/api/js?key=YOUR_API_KEY&libraries=places">

        var placeSearch, autocomplete;

        var componentForm = {
            street_number: 'short_name',
            route: 'long_name',
            locality: 'long_name',
            administrative_area_level_1: 'short_name',
            country: 'long_name',
            postal_code: 'short_name'
        };

        function initAutocomplete() {
            if ('@Model.GoogleMap' === 'True') {
                // Create the autocomplete object, restricting the search predictions to
                // geographical location types.
                autocomplete = new google.maps.places.Autocomplete(
                    document.getElementById('StreetAddress'), { types: ['geocode'] });

                // Set initial restrict to the greater list of countries.
                autocomplete.setComponentRestrictions({ 'country': ['au'] });

                // Avoid paying for data that you don't need by restricting the set of
                // place fields that are returned to just the address components.
                autocomplete.setFields(['address_component']);

                // When the user selects an address from the drop-down, populate the
                // address fields in the form.
                autocomplete.addListener('place_changed', fillInAddress);
            }
        }

        function fillInAddress() {
            // Get the place details from the autocomplete object.
            var place = autocomplete.getPlace();

            //for (var component in componentForm) {
            //    document.getElementById(component).value = '';
            //    document.getElementById(component).disabled = false;
            //}

            // Get each component of the address from the place details,
            // and then fill-in the corresponding field on the form.
            for (var i = 0; i < place.address_components.length; i++) {
                var addressType = place.address_components[i].types[0];
                if (componentForm[addressType]) {
                    var val = place.address_components[i][componentForm[addressType]];
                    //if (addressType === 'route') {
                    //    //var s1 = $('.street_number').val();
                    //    //$('.street_number').val(s1 + ' ' + val);
                    //} else {

                        if (addressType !== 'street_number') {
                            $('.' + addressType).val(val);
                        }

                }
            }

            $('.street_number').val($('.street_number').val().split(',')[0]);
        }

        // Bias the autocomplete object to the user's geographical location,
        // as supplied by the browser's 'navigator.geolocation' object.
        function geolocate() {
            if ('@Model.GoogleMap' === 'True') {
                if (navigator.geolocation) {
                    navigator.geolocation.getCurrentPosition(function (position) {
                        var geolocation = {
                            lat: position.coords.latitude,
                            lng: position.coords.longitude
                        };
                        var circle = new google.maps.Circle(
                            { center: geolocation, radius: position.coords.accuracy });
                        autocomplete.setBounds(circle.getBounds());
                    });
                }
            }
        }
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=@Model.GoogleAPI&libraries=places&callback=initAutocomplete" async defer></script>

    @Scripts.Render("~/bundles/Loginscripts")
    <script>
        var GoogleAnalyticsFunctions = {

            // Google Analytics - IDs.
            gaAnalyticsIds: ['UA-172144731-1', 'UA-122100301-1'],

            // Google Analytics - name prefixes.
            gaNamePrefixes: [],

            // Google Analytics - initialization.
            init: function () {
                var gaAnalyticsIds = GoogleAnalyticsFunctions.gaAnalyticsIds;

                if (typeof (gaAnalyticsIds) !== 'undefined' && gaAnalyticsIds.length > 0 && gaAnalyticsIds[0].length > 0) {
                    (function (i, s, o, g, r, a, m) {
                        i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                            (i[r].q = i[r].q || []).push(arguments)
                        }, i[r].l = 1 * new Date(); a = s.createElement(o),
                            m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
                    })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

                    for (var i = 0; i < gaAnalyticsIds.length; i++) {
                        var prefix = 'GATracker' + i;
                        ga('create', gaAnalyticsIds[i], { 'name': prefix });
                        GoogleAnalyticsFunctions.gaNamePrefixes.push(prefix);
                        ga(prefix + '.send', 'pageview');
                    }
                }
            },
        };

        $(function () {
            GoogleAnalyticsFunctions.init();
        });
    </script>
    <!--===============================================================================================-->
    <script>
        !function (f, b, e, v, n, t, s) {
            if (f.fbq) return; n = f.fbq = function () {
                n.callMethod ? n.callMethod.apply(n, arguments) : n.queue.push(arguments)
            };
            if (!f._fbq) f._fbq = n; n.push = n; n.loaded = !0; n.version = '2.0';
            n.queue = []; t = b.createElement(e); t.async = !0;
            t.src = v; s = b.getElementsByTagName(e)[0];
            s.parentNode.insertBefore(t, s)
        }(window, document, 'script', 'https://connect.facebook.net/en_US/fbevents.js');
        fbq('init', '3588116001259408');
        fbq('track', 'PageView');
    </script>
    <noscript>
        <img height="1" width="1" src="https://www.facebook.com/tr?id=3588116001259408&ev=PageView&noscript=1" />
    </noscript>
</body>
</html>