﻿@{
    string role = "CompanyAdmin";
    string bodyClass = "main";
    string content = "";
    if (User.IsInRole("SuperAdmin"))
    {
        role = "SuperAdmin";
        bodyClass = "feature";
    };
    if (ViewBag.Title == "BySupplier" || ViewBag.Title == "ByItems") { content = "contenttop well table mgntop20"; }
    bool isRepView = false;
    if (ViewBag.IsRepView != null && ViewBag.IsRepView == true)
    {
        isRepView = true;
    }
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width" />
    <meta name="format-detection" content="telephone=no" />
    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab:300,400|Roboto:300,400,500,700" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/content/css/bootstrap.min.css")" media="screen">
    <link rel="stylesheet/less" type="text/css" href="@Url.Content("~/content/css/styles.css")" media="screen">
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/content/css/jquery.mCustomScrollbar.min.css")" media="screen">
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/content/datepicker.min.css")" media="screen">

    <title>@System.Configuration.ConfigurationManager.AppSettings["WEBSITE_NAME"] Admin | @ViewBag.Title</title>
</head>
<body class="@bodyClass">
    <div class="canvas">

        <div class="outer-header" id="Outerheader">
            <div class="header">
                <div class="pull-left">
                    <a class="logo" href="@Url.Action("Dashboard","Company")"><img src="~/content/images/logo.png"></a>
                </div>
                <div class="pull-right">
                    @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
                    { }
                    <div class="client">
                        <h3 id="user"></h3>
                        <ul id="toggle-div">
                            @*<li><a href="javascript:;">Profile</a></li>*@
                            <li><a href="javascript:document.getElementById('logoutForm').submit()">Logout</a></li>
                        </ul>
                    </div>
                </div>
                <div class="break"></div>
            </div>
        </div>

        <div class="inner-body">
            <div class="container-fluid">
                <div class="navbar navbar-static-top bs-docs-nav" role="banner">
                    <div class="navbar-header">
                        <button id="nav-toggle" class="navbar-toggle collapsed back-to-top" data-toggle="#form" type="button">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                        </button>
                    </div>

                    @if (role == "SuperAdmin")
                    {
                        @Html.Partial("_HeaderPartial")
                    }
                    else
                    {
                        @Html.Partial("_CompanyHeader", isRepView)
                    }
                </div>
                <div class="content @content">
                    @RenderBody()
                </div>
            </div>
        </div>
        <div id="divLoading" style="display:none;">
            <img src="~/Content/images/loading.gif" height="50" />
        </div>
    </div>

    <script src="@Url.Content("~/scripts/less-1.3.0.min.js")"></script>
    @Scripts.Render("~/bundles/Login")
    @RenderSection("scripts", required: false)
    <script src="@Url.Content("~/Scripts/jquery.validate.min.js")"></script>
    <link href="@Url.Content("~/Content/css/jquery-confirm.min.css")" rel="stylesheet" />
    @*<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.0/jquery-confirm.min.js"></script>*@
    <script src="@Url.Content("~/Scripts/jquery-confirm.min.js")"></script>
    <script src="@Url.Content("~/Scripts/jquery.bootstrap-growl.min.js")"></script>
    <script>
        $(function () {
            var controller = '@HttpContext.Current.Request.RequestContext.RouteData.Values["controller"].ToString().ToLower()';
           var action = '@HttpContext.Current.Request.RequestContext.RouteData.Values["action"].ToString().ToLower()';
            $('ul#mainNav li').each(function () {
                 // var action = window.location.href.substr(window.location.href.lastIndexOf('/') + 1).toLowerCase();
                if (action != 'dashboard') {
                    $('body').removeClass();
                }
                if (action === 'newrequests') {
                    $("#headerTitle").html('New Requests');
                    $("#userSearch").hide();
                }
                if (action === 'manageproduct') {
                    $("#productTitle").html('Products');
                    $("#categorySearch").hide();
                    $("#productHeader").hide();
                }
                if ($(this).data('href').toLowerCase() == controller) {
                    $(this).addClass('active');
                }
                if (action === 'dashboard' || action ==='myaccount') {
                    $('#mainNav').find('li').removeClass('active');
                    $('#mainNav').find('li[data-href="dashboard"]').addClass('active');
                    if (action === 'myaccount') {
                        $("#dashboardTitle").html('My Account');
                        $("#dashboardSearch").hide();
                    }
                }
                if (action === 'vieworders') {
                    $("#divSearchForm").removeClass('hidden');
                }
            });
            $('#Outerheader').load('@Url.Action("_TopHeader","Master")');
            if (controller === 'product' || controller === 'order') {
                $(".productHeader").find('a').removeClass('active');
                $(".productHeader").find('a[data-action="' + action + '"]').addClass('active');
            }
            //
            $(".tab div.search input[type='text']").on('keyup', function (e) {
                if (e.keyCode == 13) {
                    $(this).next("input[type='submit']").click();
                }
            });
            $(document).ready(function () {
                $('[data-toggle="tooltip"]').tooltip();
            });

            //get new request count
            GetNewRequestCount(0);
        });

        function GetNewRequestCount(val) {
            // Change url based on Domain
            var URL = '/Company/';
            if (window.location.href.indexOf('saavi.com') !== -1) {
                URL = "/Admin/Company/";
            }
            startLoading();
            $.ajax({
                type: "POST",
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                url: URL + 'GetNewRequests',
                success: function (response) {
                    var data = response.Result;
                    if (val == 0) {
                        $("#lblRequestCount2").html("("+response.Result.length+")");
                    }
                    stopLoading();
                }
            });
        }
    </script>
</body>
</html>