﻿
@model DataModel.BO.ChangePasswordModel

<script>
    $(function () {
        validateForm('formChangePassword');
        $("#UserLoginID").val($("#UserID").val());
        $('#NewPassword').rules("add", {
            required: true,
            atLeastOneLowercaseLetter: true,
            atLeastOneUppercaseLetter: true,
            atLeastOneNumber: true,
            atLeastOneSymbol: true,
            minlength: 8,
            maxlength: 20
        });
    });
    function cpSuccessMethod(res) {
        if (res == "Success") {
            growlNotification('Password updated successfully', 'success', 3000);
            $("#formChangePassword").find('input[type="password"]').val('');
            if ($(".customPaging a.active").data('id') == $("#UserID").val())
            { $(".customPaging a[data-id='" + $("#UserID").val() + "']").trigger('click'); }
        } else { growlNotification(res, 'warning', 3000); }
    }
</script>

<h2>CHANGE PASSWORD</h2>
@using (Ajax.BeginForm("ChangePassword", "Company", new AjaxOptions
{
    HttpMethod = "POST",
    OnSuccess = "cpSuccessMethod",
    OnBegin = "startLoading",
    OnComplete = "stopLoading"
}, new { id = "formChangePassword", @class = "" }))
{
    @Html.HiddenFor(m => m.UserLoginID)
    <fieldset class="">
        <div class="col-sm-4">
            <label>Old Password:<sup>*</sup></label>
        </div>
        <div class="col-sm-8">
            @Html.TextBoxFor(m => m.OldPassword, new { type = "password", required = "required" })
        </div>
    </fieldset>
    <fieldset class="">
        <div class="col-sm-4">
            <label>New Password:<sup>*</sup></label>
        </div>
        <div class="col-sm-8">
            @Html.TextBoxFor(m => m.NewPassword, new { type = "password", required = "required" })
        </div>
    </fieldset>
    <fieldset class="">
        <div class="col-sm-4">
            <label>Confirm Password:<sup>*</sup></label>
        </div>
        <div class="col-sm-8">
            @Html.TextBoxFor(m => m.ConfirmPassword, new { type = "password", required = "required", equalto = "#NewPassword" })
        </div>
    </fieldset>
    <fieldset class="">
        <div class="col-sm-12 text-center">
            <input type="submit" value="Change Password" class="btn-secondary pull-right" />
        </div>
    </fieldset>


}
