﻿@{
    var totaldelperc = ViewBag.Completionsidebar.TotalLineItemsDeliveredPerc < 10 ? string.Concat(0, ViewBag.Completionsidebar.TotalLineItemsDeliveredPerc) : ViewBag.Completionsidebar.TotalLineItemsDeliveredPerc;
    var totalIssues = ViewBag.Completionsidebar.TotalLineItemsIssues < 10 ? string.Concat(0, ViewBag.Completionsidebar.TotalLineItemsIssues) : ViewBag.Completionsidebar.TotalLineItemsIssues;
    var totalkpi = ViewBag.Completionsidebar.TotalKPIperc < 10 ? string.Concat(0, ViewBag.Completionsidebar.TotalKPIperc) : ViewBag.Completionsidebar.TotalKPIperc;
}
<script>
    var progressBarOptions = {
        startAngle: -1.55,
        size: 100,
        value: 0.@(totaldelperc),
        fill: {
            color: '#d23d44'
        }
    }
    $('.circle').circleProgress(progressBarOptions).on('circle-animation-progress', function (event, progress, stepValue) {
        //$(this).find('strong').text(String(stepValue.toFixed(2)).substr(1));
    });
    $('#circle-b').circleProgress({
        value: 0.@(totalIssues),
        fill: {
            color: '#d23d44'
        }
    });
    $('#circle-c').circleProgress({ 
        value: 0.@(totalkpi),
        fill: {
            color: '#d23d44'
        }
    });

</script>

<h2 class="text-uppercase mg-0">COMPLETION</h2>
<div class="price-section">
    <div class="circle" id="circle-a">
        <strong>@(ViewBag.Completionsidebar.TotalLineItemsDeliveredPerc)%</strong>
    </div>
    <h2 class="text-uppercase mg-0">DELIVERIES @(ViewBag.Completionsidebar.TotalLineItemsDelivered)/@(ViewBag.Completionsidebar.TotalLineItems)</h2>
</div>
<div class="price-section">
    <div class="circle" id="circle-b">
        <strong>@(ViewBag.Completionsidebar.TotalLineItemsIssues)</strong>
    </div>
    <h2 class="text-uppercase mg-0">ISSUES</h2>
</div>
<div class="price-section">
    <div class="circle" id="circle-c">
        <strong>@(ViewBag.Completionsidebar.TotalKPIperc)%</strong>
    </div>
    <h2 class="text-uppercase mg-0">KPI</h2>
</div>
