﻿<h2>Delivery Items List</h2>
<table class="order-table card-table">
    <thead>
        <tr>
            <th>Product Code</th>
            <th>Product Name</th>
            <th>Description</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in ViewBag.DeliveryIssuesItem)
        {
            <tr>
                <td>@item.ProductCode</td>
                <td>@item.ProductName</td>
                <td><span class="red_comment">@item.Description</span></td>
            </tr>
        }
    </tbody>
</table>
