﻿@if (ViewBag.Driver.Count > 0)
{
    foreach (var item in ViewBag.Driver)
    {
        <tr>
            <td class="driver_img"><img class="imgISCompliance" data-check="@item.IsCompliance" src="~/Content/images/check-complience.png" /></td>
            <td>
                <h5>@item.Name</h5>
                <span> #@item.InvoiceNo @item.OrderStatus </span>
            </td>
            <td><i class="das-status_driver @(item.IsOnline==true?"online":"offline")"></i></td>
        </tr>
    }
}
else
{ <span>No record found!</span>}
