﻿
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDud50VJNPHxmJOFHKYAt4iSWxc1zJXs7Y&callback=initMap" type="text/javascript"></script>
<script type="text/javascript">

      var markers = [];
    var data = @Html.Raw(Json.Encode(@ViewBag.DriversLiveLocation));
    if (data != null && data.length>0) {
        $.each(data, function (key, value) {
            markers.push({
                "title": value.DriverName + ", " + value.VehicleName,
                "lat": value.lat.toString(),
                "lng": value.lng.toString(),
                "description": value.description
            });
        });
       // console.log(markers);

        function initMap() {
            var mapOptions = {
                center: new google.maps.LatLng(markers[0].lat, markers[0].lng),
                zoom: 5,
                mapTypeId: google.maps.MapTypeId.ROADMAP
            };
            var map = new google.maps.Map(document.getElementById("dvMap"), mapOptions);
            var infoWindow = new google.maps.InfoWindow();
            var lat_lng = new Array();
            var latlngbounds = new google.maps.LatLngBounds();
            for (i = 0; i < markers.length; i++) {
                var data = markers[i]
                var myLatlng = new google.maps.LatLng(data.lat, data.lng);
                lat_lng.push(myLatlng);
                var marker = new google.maps.Marker({
                    position: myLatlng,
                    map: map,
                    title: data.title
                });
                latlngbounds.extend(marker.position);
                (function (marker, data) {
                    google.maps.event.addListener(marker, "click", function (e) {
                        infoWindow.setContent(data.description);
                        infoWindow.open(map, marker);
                    });
                })(marker, data);
            }
            map.setCenter(latlngbounds.getCenter());
            map.fitBounds(latlngbounds);
        }
    } else { $("#dvMap").html('No live location found!');}
</script>

<h2>VEHICLES LOCATION (LIVE)</h2>
<div class="map_location-pod">
    <div class="clearfix"></div>
    <div id="dvMap" class="tracking_map" style="width: 600px; height: 200px;"></div>
    @*<iframe src="https://www.google.com/maps/embed?pb=!1m10!1m8!1m3!1d13720.238633792329!2d76.6929838!3d30.7167232!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sin!4v1515235922136" frameborder="0" style="border:0" allowfullscreen></iframe>*@
</div>


