﻿@if (ViewBag.Vehicle.Count > 0)
{
    foreach (var item in ViewBag.Vehicle)
    {
    <tr>
        <td>@item.RunNo</td>
        <td>@item.Name</td>
        <td><i class="fa fa-@(item.HasItemIssue == true ? "check" : "times")" aria-hidden="true"></i></td>
    </tr>
    }
}
else
{ <span>No record found!</span>}

