﻿
@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Areas/Saavi5POD/Views/Shared/_Layout.cshtml";
}
@section podScripts{
    <script src="~/Scripts/jquery.floatThead.js"></script>
    <script src="@Url.Content("~/Scripts/manageDashboardJS.js")"></script>
    <script type="text/javascript">
        $(function () {
            var URL = '/POD/Home/';
            if (window.location.href.indexOf('saavi.com') !== -1) {
                URL = "/Admin/POD/Home/";
            }
            var ctrl = $(".imgISCompliance");
            $(ctrl).data('check') == "True" ? $(ctrl).attr('src', URL + '/Content/images/check-complience.png') : $(ctrl).attr('src', URL + '/Content/images/not-check-complience.png');
            startLoading();
            $("#divCompletionSidebar").load(URL + "_CompletionSidebar");
            $("#tblDrivers").load(URL + "_Drivers");
            $("#tblVehicles").load(URL + "_Vehicles");
            $("#divDriversLiveLocation").load(URL + "_DriversLiveLocation");
            setTimeout(function () {
                stopLoading();
            }, 800);
            $('.sticky-header').floatThead({
                position: 'absolute',
                scrollContainer: true
            });

            $('a[data-toggle="tab"]').on('shown.bs.tab', function () {
             });
            $('a[data-toggle="tab"]').on('click', function () {
                var hrf = $(this).attr('href');
                if (hrf == "#drivers") {
                    $("#btnDashboardSearch").attr('onclick', 'GetallDriverComp();');
                    $("#txtDashboardSearch").attr('placeholder', 'Search by driver');
                } else {
                    $("#btnDashboardSearch").attr('onclick', 'GetVehiclesDeliveryStatus();');
                    $("#txtDashboardSearch").attr('placeholder', 'Search by vehicle');
                }
            });
        });

        jQuery(document).ready(function ($) {
            $('.bar-status .bar').each(function () {
                $(this).animate({ width: $(this).attr('data-width') + '%' }, 6000);
            });
            $('.bar-status .counter').each(function () {
                $(this).prop('Counter', 0).animate({
                    Counter: $(this).text()
                },
                    {
                        duration: 6000,
                        easing: 'swing',
                        step: function (now) {
                            $(this).text(Math.ceil(now) + '%');
                        }
                    });
            });

        });
        
      
    </script>

    <script>
        function openCity(evt, cityName) {
            var i, tabcontent, tablinks;
            tabcontent = document.getElementsByClassName("tabcontent");
            for (i = 0; i < tabcontent.length; i++) {
                tabcontent[i].style.display = "none";
            }
            tablinks = document.getElementsByClassName("tablinks");
            for (i = 0; i < tablinks.length; i++) {
                tablinks[i].className = tablinks[i].className.replace(" active", "");
            }
            document.getElementById(cityName).style.display = "block";
            evt.currentTarget.className += " active";
            if (cityName == "drivers") {
                $("#btnDashboardSearch").attr('onclick', 'GetallDriverComp();');
                $("#txtDashboardSearch").attr('placeholder', 'Search by driver');
            } else {
                $("#btnDashboardSearch").attr('onclick', 'GetVehiclesDeliveryStatus();');
                $("#txtDashboardSearch").attr('placeholder', 'Search by vehicle');
            }
        }

        // Get the element with id="defaultOpen" and click on it
       // document.getElementById("defaultOpen").click();
    </script>
    <script src="~/Scripts/progress-bar.js"></script>

}
<style>
    table.floatThead-table {
        border-top: none;
        border-bottom: none;
        background-color: #FFF;
    }
</style>
<div class="tab-content">
    <div class="section full-height container-fluid">
        <div class="row full-height">
            <div class="col-md-3 col pd-tp-6">
                <div class="inner">
                    <ul class="nav nav-tabs">
                        <li class="active"><a data-toggle="tab" href="#vehicles">Vehicles</a></li>
                        <li class=""><a data-toggle="tab" href="#drivers">Drivers</a></li>
                    </ul>
                    <div class="tab-content" style="height:auto;">
                        <div id="vehicles" class="tab-pane fade in active">
                            <div id="vehicle-fix-top">
                                <div class="parent mCustomScrollbar light" data-mcs-theme="minimal-dark" style="margin-top:0;">
                                    <table class="table table-striped sticky-header">
                                        <thead class="">
                                            <tr>
                                                <th>Run no.</th>
                                                <th>Vehicles</th>
                                                <th>Issue</th>
                                            </tr>
                                        </thead>                                     
                                        <tbody id="tblVehicles"></tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div id="drivers" class="tab-pane fade">
                            <div id="vehicle-fix-top">
                                <div class="parent mCustomScrollbar light" data-mcs-theme="minimal-dark" style="margin-top:0;">
                                    <table class="table table-striped sticky-header">
                                        <thead class="">
                                            <tr>
                                                <th>Compliance</th>
                                                <th>Driver</th>
                                                <th>Status</th>
                                            </tr>
                                        </thead>
                                        <tbody id="tblDrivers" class="tblBody"></tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>

                    @*<div class="tab">
                            <button data-toggle="tab" class="tablinks dashboad-btn text-uppercase flt-lt" onclick="openCity(event, 'vehicles')" id="defaultOpen">Vehicles</button>
                            <button class="tablinks dashboad-btn text-uppercase flt-rt" onclick="openCity(event, 'drivers')">Drivers</button>
                        </div>
                        <div id="" class="tabcontent">

                        </div>
                        <div id="" class="tabcontent">

                        </div>*@
                </div>
            </div>
            <div class="col-md-6 col full-height">
                <div class="flex-column">
                    <div class="well table history-col">
                        <div class="inner">
                            <h2 class="text-uppercase">Delivery issues</h2>
                            <div class="clearfix"></div>
                            <div id="content-2" class="outer-table mCustomScrollbar light" data-mcs-theme="minimal-dark">
                                <table class="table table-striped sticky-header order-table ">
                                    <thead>
                                        <tr>
                                            <th>Invoice no.</th>
                                            <th>Delivery Date</th>
                                            <th>Customer</th>
                                            <th>Status</th>
                                            <th>View</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in ViewBag.GetAllOrderHasIssues)
                                        {
                                            <tr>
                                                <td>@item.OrderID</td>
                                                <td>@(Convert.ToDateTime(item.OrderDate).ToShortDateString())</td>
                                                <td>@item.CustomerName</td>
                                                <td><span class="text-success @(item.OrderStatus=="Cancelled"? "red_comment":"")">@item.OrderStatus</span></td>
                                                <td><a title="View issue items list" href="javascript:;" data-id="@item.OrderID" onclick="getDeliveryIssueItems(this);"><i class="fa fa-eye"></i></a></td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="well table history-col">
                        <div class="inner" id="divDriversLiveLocation">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col full-height">
                <div class="flex-column">
                    <div class="well table Completion_sidebar">
                        <div class="inner" id="divCompletionSidebar">
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<div class="modal fade" id="modalOrderHasIssue" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <i class="fa fa-times close" data-dismiss="modal" aria-label="Close"></i>
            </div>
            <div class="modal-body login">
                <div class="tab-content full-height customer-col">
                    <div class="tab-pane active" role="tabpanel" id="deliveries_details">
                        <div id="divOrderHasIssue"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




