﻿@model DataModel.BO.UserBO
@{
    ViewBag.Title = "MyAccount";
    Layout = "~/Areas/Saavi5POD/Views/Shared/_Layout.cshtml";
}

@section podscripts{
<script src="@Url.Content("~/Scripts/manageUsersJS.js")"></script>
    <script>
        $(function () {
            validateForm('formMyAccount');
            $("#divChangePassword").load('@Url.Action("_ChangePassword","Home")');
            $("#divLoginAccount").load('@Url.Action("_LoginAccount", "Home", new { usertypeids = "2,6,7" })');
        });
        function SuccessMethod(res) {
            if (res == "Success") {
                growlNotification('Details updated successfully', 'success', 3000);
                if ($(".customPaging a.active").data('id') == $("#UserID").val())
                { $(".customPaging a[data-id='" + $("#UserID").val()+ "']").trigger('click'); }
            } else { growlNotification(res, 'warning', 3000); }
        }
    </script>
}

<div class="tab-content">
    <div class="section full-height">
        <div class="row full-height">
            <div class="col-md-4 col full-height">
                <div class="flex-column full-height">
                    <div class="well table">
                        <h2>MY ACCOUNT</h2>
                        @using (Ajax.BeginForm("ManageMyAccount", "Company", new AjaxOptions
                        {
                            HttpMethod = "POST",
                            OnSuccess = "SuccessMethod",
                            OnBegin = "startLoading",
                            OnComplete = "stopLoading"
                        }, new { id = "formMyAccount", @class = "" }))
                        {
                            @Html.HiddenFor(m => m.UserID)
                            <fieldset class="">
                                <div class="col-sm-4">
                                    <label>Name:<sup>*</sup></label>
                                </div>
                                <div class="col-sm-8">
                                    @Html.TextBoxFor(m => m.FirstName, new { required = "required", maxlength = 50 })
                                </div>
                            </fieldset>
                            <fieldset class="">
                                <div class="col-sm-4">
                                    <label>User Name:<sup>*</sup></label>
                                </div>
                                <div class="col-sm-8">
                                    @Html.TextBoxFor(m => m.UserName, new { required = "required", maxlength = 50 })
                                </div>
                            </fieldset>
                            <fieldset class="">
                                <div class="col-sm-4">
                                    <label>Email:<sup>*</sup></label>
                                </div>
                                <div class="col-sm-8">
                                    @Html.TextBoxFor(m => m.Email, new { maxlength = 50, type = "email", required = "required" })
                                </div>
                            </fieldset>
                            <fieldset class="">
                                <div class="col-sm-4">
                                    <label>Phone:</label>
                                </div>
                                <div class="col-sm-8">
                                    @Html.TextBoxFor(m => m.Phone, new { maxlength = 20, @class = "number" })
                                </div>
                            </fieldset>
                            <fieldset class="">
                                <div class="col-sm-12 text-center">
                                    <input type="submit" value="Save" class="btn-secondary pull-right" />
                                </div>
                            </fieldset>
                        }
                    </div>
                </div>
            </div>
            <div class="col-md-4 col full-height">
                <div class="flex-column full-height">
                    <div class="well table" id="divChangePassword">
                    </div>
                </div>
            </div>
            <div class="col-md-4 col full-height">
                <div class="flex-column full-height">
                    <div class="well table" id="divLoginAccount">

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

