body {
    background: #ffffff;
    margin: 0;
    font-size: 0.937vw;
    padding: 0 2.3125vw;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    height: 100%;
}

img {
    max-width: 100%;
}

.canvas,
html {
    height: 100%;
}

.inner-body {
    background: #dbe5ed;
    border-radius: 4px 4px 0 0;
}

.break {
    display: block;
    clear: both;
}

p,
li {
    font-size: 1em;
    line-height: 1.53em;
}

a {
    display: inline-block;
    cursor: pointer;
}

h1 {
    font-size: 2em;
    line-height: 1.4em;
    margin: 0;
}

.btn-primary {
    line-height: 1.6em;
    letter-spacing: 0.04em;
    transition: all ease .3s;
    padding: 0.375em 0 0.56em;
    border-radius: 0px;
    background: #f3f6f9;
    color: #636363;
    font-weight: 400;
    text-align: center;
}

.btn-grey {
    background: #e2ebf5;
}

.blue {
    color: #010101;
}

p.small {
    margin: 0;
    padding: 0.5vw 0;
}

.btn {
    background: #010101;
    color: #ffffff;
    font-size: 15px;
    font-weight: 400;
    padding: 10px 30px;
    transition: all 0.3s ease 0s;
    width: 6vw;
}

.btn-active {
    line-height: 1.6em;
    letter-spacing: 0.04em;
    transition: all ease .3s;
    padding: 0.375em 0 0.56em;
    border-radius: 4px;
    background: #a9cb00;
    color: #ffffff;
    font-weight: 400;
    text-align: center;
    width: 9.43vw;
    position: relative;
}

    .btn-active:hover {
        background: #a9cb00;
        color: #ffffff;
    }

    .btn-active span {
        display: block;
    }

        .btn-active span:before {
            content: '';
            border-radius: 100%;
            left: 1.5vw;
            top: 0.7vw;
            position: absolute;
            width: 0.75vw;
            height: 0.75vw;
            background: #ffffff;
            display: block;
        }

.well.bottom-padding {
    padding-bottom: 0;
}

.btn-primary:hover {
    text-decoration: none;
    color: #fff;
    background: #010101;
    transition: all ease .3s;
}

.btn-primary.active {
    background: #010101;
}

.btn-secondary {
    line-height: 1.6em;
    letter-spacing: 0.04em;
    transition: all ease .3s;
    padding: 0.375em 0 0.56em;
    border-radius: 0px;
    background: #010101;
    color: #ffffff;
    font-weight: 400;
    text-align: center;
}

    .btn-secondary:hover {
        text-decoration: none;
        color: #fff;
        background: #010101;
        transition: all ease .3s;
    }

p.small {
    font-size: 0.8em;
}

.small-btn {
    width: 6vw !important;
}

.row {
    margin: 0 -0.73em;
}

.col {
    padding: 0 0.687vw;
}

.tab-content {
    height: 28vw;
}

input[type="text"], input[type="email"], input[type="password"], input[type="text"], select, textarea {
    width: 100%;
    background: #f3f6f9;
    font-size: 0.93vw;
    line-height: 1.5em;
    padding: 0.5vw 1vw;
    border-radius: 4px;
    height: auto;
    border: navajowhite;
    color: #4a4a4a;
    border-radius: 0px;
    box-shadow: 0px 1px 2px 0 rgba(0,0,0,0.3);
    -webkit-appearance: none;
}

.table {
    display: table;
    height: 100%;
    width: 100%;
    border: 0;
    margin: 0;
}

.table-half {
    display: table;
    height: 50%;
    width: 100%;
    border: 0;
    margin: 0;
}

.full-height {
    height: auto;
}

.well {
    padding: 1.3vw;
    background: #ffffff;
    border-radius: 4px;
    border: 0;
    position: relative;
    box-shadow: 2px 2px 2px 0 rgba(0,0,0,0.3);
}

h2 {
    font-size: 1.33em;
    line-height: 1.5em;
    letter-spacing: 0.02em;
    color: #636363;
    margin: 0 0 0.625em;
}

.active-user {
    position: absolute;
    top: 0.75vw;
    right: 0.75vw;
}

.disabled {
    cursor: not-allowed;
    background: #c4d7e5;
    color: #aabcca;
}

    .disabled:hover {
        background: #c4d7e5 !important;
        color: #aabcca;
    }

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.header {
    padding: 1.625vw 0;
}

    .header .logo {
        display: inline-block;
    }

        .header .logo img {
            width: 16.75vw;
        }

    .header .client {
        position: relative;
    }

        .header .client h3 {
            margin: 0;
            font-size: 1.2em;
            line-height: 1.72em;
            padding: 0.75vw 2.25vw 1vw 4.5vw;
            background: url(../images/syed.jpg) no-repeat left top;
            background-size: 3.5vw;
            cursor: pointer;
            position: relative;
        }

            .header .client h3:after {
                content: url(../images/arrow.jpg);
                position: absolute;
                right: 0;
                top: .6vw;
                width: 1vw;
                height: 0.6vw;
                display: block;
            }

        .header .client ul {
            position: absolute;
            background: #fff;
            top: 100%;
            left: 0;
            width: 100%;
            z-index: 1;
            display: none;
            padding: 0;
            margin: 0;
            box-shadow: 0 1px 2px 0 rgba(0,0,0,0.3);
        }

            .header .client ul li {
                margin: 0;
                border-bottom: 1px solid #fefefe;
            }

                .header .client ul li a {
                    display: block;
                    padding: 0.5vw;
                    color: #636363;
                }

                    .header .client ul li a:hover {
                        text-decoration: none;
                        color: #636363;
                    }

                .header .client ul li:last-child {
                    margin-bottom: 0;
                }

                .header .client ul li:hover a {
                    background: #f5f5f5;
                }

.inner-body .container-fluid {
    padding: 2.25vw;
    height: 100%;
}

.navbar {
    height: 10vw;
    margin-bottom: 0;
    border: 0;
}

    .navbar .navbar-nav li {
        margin-right: 0.812vw;
        vertical-align: top;
        position: static;
    }

        .navbar .navbar-nav li a {
            padding: 0;
            font-weight: 400;
            font-size: 1.2em;
            line-height: 1.22em;
            padding: 0.625vw;
            border-radius: 0px;
            background: #f3f6f9;
            color: #636363;
            width: 12em;
            text-align: center;
            letter-spacing: 0.02em;
        }

            .navbar .navbar-nav li a img {
                width: 1.75vw;
            }

        .navbar .navbar-nav li:last-child {
            margin-right: 0;
        }

        .navbar .navbar-nav li:first-child a {
            padding: 0.622vw 1vw;
            width: auto;
        }

        .navbar .navbar-nav li.active a {
            background-color: #ffffff;
            border-radius: 0px;
            padding-bottom: 1.15em;
            box-shadow: 2px 2px 2px 0 rgba(0,0,0,0.3);
        }

        .navbar .navbar-nav li.active .tab {
            display: block;
        }

    .navbar .tab {
        padding: 1.63vw 18px;
        position: absolute;
        display: none;
        width: 100%;
        left: 0;
        top: 3.27vw;
        right: 0;
        box-shadow: 2px 2px 2px 0 rgba(0,0,0,0.3);
        background: #ffffff;
        border-radius: 4px;
    }

        .navbar .tab:after {
            content: '';
            display: block;
            clear: both;
        }

        .navbar .tab h1 {
            display: inline-block;
        }

        .navbar .tab .btn-group {
            margin-left: 2vw;
            display: inline-block;
            vertical-align: top;
        }

            .navbar .tab .btn-group .btn-border {
                font-size: 1.2em;
                line-height: 1.28em;
                padding: 0.5vw 0;
                width: 12.19vw;
                margin-right: 0.6vw;
                border: 1px solid #010101;
                border-radius: 0px;
                color: #010101;
                transition: all ease .3s;
            }

                .navbar .tab .btn-group .btn-border:hover {
                    transition: all ease .3s;
                    background: #010101;
                    color: #ffffff;
                    text-decoration: none;
                }

                .navbar .tab .btn-group .btn-border:last-child {
                    margin-right: 0;
                }

                .navbar .tab .btn-group .btn-border.active {
                    background: #010101;
                    color: #ffffff;
                }

    .navbar form.calender input[type="submit"] {
        width: 7.125vw;
        border: 0;
        padding: 0.5em 0 0.56em;
    }

    .navbar form.calender input[type="text"] {
        width: 11.25vw;
        margin-right: 0.6vw;
    }

    .navbar .search fieldset {
        width: 24.375vw;
        border-radius: 4px;
        overflow: hidden;
        background: #f3f6f9;
    }

        .navbar .search fieldset input[type="text"] {
            float: left;
            width: 80%;
            border: 0;
            padding: 0.56vw 1.25vw;
            background: transparent;
            font-size: 0.93em;
            line-height: 1.5em;
        }

        .navbar .search fieldset input[type="submit"] {
            font-size: 0;
            border: 0;
            width: 20%;
            padding: 0.625vw 0;
            background: url(../images/search.jpg) no-repeat center center;
            background-size: 1.18vw;
        }

        .navbar .search fieldset:after {
            clear: both;
            display: block;
            content: '';
        }

        .navbar .search fieldset ::-webkit-input-placeholder {
            color: #b9b9b9;
            opacity: 1;
        }

        .navbar .search fieldset ::-moz-placeholder {
            color: #b9b9b9;
            opacity: 1;
        }

        .navbar .search fieldset :-ms-input-placeholder {
            color: #b9b9b9;
            opacity: 1;
        }

        .navbar .search fieldset :-moz-placeholder {
            color: #b9b9b9;
            opacity: 1;
        }

.navigation .search fieldset {
    width: 24.375vw;
    border-radius: 4px;
    overflow: hidden;
    background: #f3f6f9;
}

    .navigation .search fieldset input[type="text"] {
        float: left;
        width: 80%;
        border: 0;
        padding: 0.56vw 1.25vw;
        background: transparent;
        font-size: 0.93em;
        line-height: 1.5em;
    }

    .navigation .search fieldset input[type="submit"] {
        font-size: 0;
        border: 0;
        width: 20%;
        background: url(../images/search.jpg) no-repeat center center;
        background-size: 1.18vw;
    }

    .navigation .search fieldset:after {
        clear: both;
        display: block;
        content: '';
    }

    .navigation .search fieldset ::-webkit-input-placeholder {
        color: #b9b9b9;
        opacity: 1;
    }

    .navigation .search fieldset ::-moz-placeholder {
        color: #b9b9b9;
        opacity: 1;
    }

    .navigation .search fieldset :-ms-input-placeholder {
        color: #b9b9b9;
        opacity: 1;
    }

    .navigation .search fieldset :-moz-placeholder {
        color: #b9b9b9;
        opacity: 1;
    }

.content {
    height: 590px;
}

    .content .nav-tabs {
        margin-bottom: 0.75vw;
        border: 0;
    }

        .content .nav-tabs .btn-primary {
            width: 9.375vw;
            margin-right: 0.625em;
        }

        .content .nav-tabs li {
            background-color: #e7e7e7;
            font-weight: bold;
            width: 50%;
        }

            .content .nav-tabs li,
            .content .nav-tabs li.active {
                padding: 0;
                margin: 0;
                border: 0;
            }

                .content .nav-tabs li a {
                    color: #636363;
                }

                .content .nav-tabs li a, .content .nav-tabs li.active a {
                    margin-bottom: 0;
                    border-radius: 0px;
                    border: 0;
                }

                .content .nav-tabs li.active a {
                    color: #ffffff;
                    background: #010101;
                }

                .content .nav-tabs li:hover a,
                .content .nav-tabs lifocus a {
                    color: #ffffff;
                    background: #010101;
                }

    .content .btn-group {
        margin-bottom: 0.75vw;
    }

        .content .btn-group .btn-primary {
            width: 10.1vw;
            margin-right: 0.625em;
        }

            .content .btn-group .btn-primary:last-child {
                margin-right: 0;
            }

        .content .btn-group .btn-secondary.medium-btn {
            width: 7.125vw !important;
        }

        .content .btn-group .btn-primary.large {
            width: 14vw;
        }

        .content .btn-group a.active {
            background: #010101;
        }

        .content .btn-group .btn-secondary {
            width: 7.125vw;
        }

    .content form fieldset {
        margin-bottom: 1.5em;
    }

    .content .detail {
        margin-bottom: 2vw;
    }

        .content .detail textarea {
            height: 10vw;
        }

        .content .detail:last-child {
            margin-bottom: 0;
        }

    .content .well .btn-secondary {
        border: 0;
        width: 95px;
    }

    .content table.info tr:nth-child(odd) td {
        padding-bottom: 2vw;
    }

    .content table.info tr td {
        padding: 0.5VW 0;
    }

        .content table.info tr td:first-child {
            font-weight: 400;
            width: 8.43vw;
        }

    .content .well.table-half {
        height: 11.75vw;
        margin-bottom: 1vw;
    }

        .content .well.table-half:last-child {
            margin-bottom: 0;
            padding-bottom: 0;
        }

        .content .well.table-half form fieldset {
            margin-bottom: .5vw;
        }

            .content .well.table-half form fieldset p {
                display: inline-block;
                width: 8.25vw;
                font-weight: 400;
                margin: 0;
            }

            .content .well.table-half form fieldset .item {
                display: inline-block;
                width: 24.68vw;
                position: relative;
            }

            .content .well.table-half form fieldset:after {
                content: '';
                display: block;
                clear: both;
            }

            .content .well.table-half form fieldset:last-child {
                margin-bottom: 0;
            }

        .content .well.table-half form .btn-primary {
            width: 7.06vw;
            margin: 0;
        }

.file-upload__input {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    font-size: 1;
    height: 100%;
    opacity: 0;
}

.file-upload__label {
    display: block;
    margin: 0 !important;
    width: 7.06vw;
    position: relative;
}

.well.product form input[type="checkbox"] {
    margin-top: 0.7vw;
}

form span {
    position: relative;
}

.left-nav {
    border-radius: 4px;
    height: 22.45vw;
}

    .left-nav li {
        border-bottom: 1px solid #e9ecef;
        position: relative;
    }

        .left-nav li a {
            padding: 1.125vw 0.75vw;
            background: #f3f7fa;
            display: block;
            color: #636363;
            letter-spacing: 0.02em;
        }

        .left-nav li:hover a {
            background: #ffffff;
            border-radius: 0;
        }

        .left-nav li.active a {
            padding: 0.75vw;
            background: #ffffff !important;
            color: #636363 !important;
            position: relative;
            border-radius: 0 !important;
        }

            .left-nav li.active a:after {
                content: '';
                position: absolute;
                right: -2em;
                top: 0;
                width: 1vw;
                height: 2.9vw;
                display: block;
                border-top: 1.4vw solid transparent;
                border-bottom: 1.4vw solid transparent;
                border-left: 1vw solid #fff;
            }

.table-detail tr td {
    padding: 0.1vw 0;
    letter-spacing: 0.02em;
}

    .table-detail tr td:first-child {
        font-weight: 700;
        padding-right: 1vw;
        color: #636363;
    }

    .table-detail tr td a {
        color: #636363;
    }

.btn-bottom {
    margin-top: 0.5vw;
}

    .btn-bottom a {
        width: 12.125vw;
    }

.form-group {
    position: relative;
}

    .form-group .edit {
        position: absolute;
        bottom: -0.2em;
        right: -2em;
    }

        .form-group .edit img {
            width: 1.375vw;
        }

    .form-group .plus {
        position: absolute;
        top: -0.2em;
        right: -1.7em;
    }

        .form-group .plus img {
            width: 1.125vw;
        }

.login-detail {
    width: 29.53vw;
    margin: 0 auto;
}

    .login-detail h1,
    .login-detail h2 {
        text-align: center;
        margin-bottom: 1.5vw;
    }

    .login-detail fieldset {
        margin-bottom: 1vw;
    }

        .login-detail fieldset label {
            margin-top: .5vw;
        }

    .login-detail h2 {
        padding-bottom: .8vw;
        position: relative;
    }

        .login-detail h2:after {
            width: 3vw;
            content: '';
            bottom: 0;
            position: absolute;
            left: 0;
            right: 0;
            margin: 0 auto;
            height: 1px;
            background: #e5e5e5;
        }

.login-section {
    display: table-cell;
    vertical-align: middle;
}

.form-order fieldset {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
}

    .form-order fieldset .half {
        width: 50%;
    }

    .form-order fieldset .quater {
        width: 25%;
    }

form.radio-field input[type="radio"]:checked,
form.radio-field input[type="radio"]:not(:checked) {
    position: absolute;
    left: -9999px;
}

form.radio-field [type="radio"]:checked + label,
form.radio-field [type="radio"]:not(:checked) + label {
    position: relative;
    padding-left: 1.5vw;
    cursor: pointer;
    line-height: 1.25em;
    font-weight: 500;
    display: inline-block;
    color: #636363;
    font-size: 1em;
}

    form.radio-field [type="radio"]:checked + label:before,
    form.radio-field [type="radio"]:not(:checked) + label:before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 1.125vw;
        height: 1.125vw;
        border: 1px solid #ddd;
        border-radius: 100%;
        background: #fff;
    }

    form.radio-field [type="radio"]:checked + label:after,
    form.radio-field [type="radio"]:not(:checked) + label:after {
        content: '';
        width: 0.75vw;
        height: 0.75vw;
        background: #010101;
        position: absolute;
        top: 0.20vw;
        left: 0.20vw;
        border-radius: 100%;
        -webkit-transition: all 0.2s ease;
        transition: all 0.2s ease;
    }

    form.radio-field [type="radio"]:not(:checked) + label:after {
        opacity: 0;
        -webkit-transform: scale(0);
        transform: scale(0);
    }

    form.radio-field [type="radio"]:checked + label:after {
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1);
    }

form.radio-field fieldset {
    display: inline-block;
    margin-right: 2vw;
    margin-top: .5vw;
    margin-bottom: 0;
}

    form.radio-field fieldset:last-child {
        margin-right: 0;
    }

.order-table {
    width: 100%;
    border: 1px solid #c5c5c5;
    border-radius: 4px;
}

    .order-table div {
        position: relative;
    }

    .order-table input[type="checkbox"]:checked,
    .order-table input[type="checkbox"]:not(:checked) {
        position: absolute;
        left: -9999px;
    }

    .order-table [type="checkbox"]:checked + label,
    .order-table [type="checkbox"]:not(:checked) + label {
        position: relative;
        padding-left: 1.5vw;
        cursor: pointer;
        line-height: 1.25em;
        font-weight: 500;
        display: inline-block;
        color: #636363;
        font-size: 1em;
    }

        .order-table [type="checkbox"]:checked + label:before,
        .order-table [type="checkbox"]:not(:checked) + label:before {
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            width: 1.125vw;
            height: 1.125vw;
            border: 1px solid #ddd;
            border-radius: 4px;
            background: #fff;
        }

        .order-table [type="checkbox"]:checked + label:after,
        .order-table [type="checkbox"]:not(:checked) + label:after {
            content: '';
            width: 0.75vw;
            height: 0.75vw;
            background: #010101;
            position: absolute;
            top: 0.20vw;
            left: 0.20vw;
            border-radius: 4px;
            -webkit-transition: all 0.2s ease;
            transition: all 0.2s ease;
        }

        .order-table [type="checkbox"]:not(:checked) + label:after {
            opacity: 0;
            -webkit-transform: scale(0);
            transform: scale(0);
        }

        .order-table [type="checkbox"]:checked + label:after {
            opacity: 1;
            -webkit-transform: scale(1);
            transform: scale(1);
        }

    .order-table th {
        font-size: 1.2em;
        line-height: 2em;
        padding: 1.125vw 0;
        text-align: center;
    }

    .order-table thead {
        background: #f3f7fa;
    }

    .order-table tr th,
    .order-table tr td {
        border-right: 1px solid #c5c5c5;
        border-bottom: 1px solid #c5c5c5;
        text-align: center;
    }

        .order-table tr th .btn-secondary,
        .order-table tr td .btn-secondary {
            width: 6.625vw !important;
            /*margin: 0 0.375vw;*/
        }

        .order-table tr th:last-child,
        .order-table tr td:last-child {
            border-right: 0;
        }

    .order-table tr td {
        padding: 0.5vw 1.5vw;
    }

.login .checkbox-field {
    position: relative;
}

    .login .checkbox-field label {
        margin: 0;
    }

.login input[type="checkbox"]:checked,
.login input[type="checkbox"]:not(:checked) {
    position: absolute;
    left: -9999px;
}

.login [type="checkbox"]:checked + label,
.login [type="checkbox"]:not(:checked) + label {
    position: relative;
    padding-left: 1.5vw;
    cursor: pointer;
    line-height: 1.25em;
    font-weight: 500;
    display: inline-block;
    color: #636363;
    font-size: 1em;
}

    .login [type="checkbox"]:checked + label:before,
    .login [type="checkbox"]:not(:checked) + label:before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 1.125vw;
        height: 1.125vw;
        border: 1px solid #ddd;
        border-radius: 4px;
        background: #fff;
    }

    .login [type="checkbox"]:checked + label:after,
    .login [type="checkbox"]:not(:checked) + label:after {
        content: '';
        width: 0.5vw;
        height: 1vw;
        position: absolute;
        top: -0.1em;
        left: 0.5vw;
        border-left: 2px solid #010101;
        border-top: 2px solid #010101;
        -webkit-transition: all 0.2s ease;
        transition: all 0.2s ease;
    }

    .login [type="checkbox"]:not(:checked) + label:after {
        opacity: 0;
        -webkit-transform: scale(0) rotate(-130deg);
        transform: scale(0) rotate(-130deg);
    }

    .login [type="checkbox"]:checked + label:after {
        opacity: 1;
        -webkit-transform: scale(1) rotate(-130deg);
        transform: scale(1) rotate(-130deg);
    }

.login input[type="submit"] {
    border: 0;
    background: #010101 !important;
    min-width: 6.14vw;
    color: #ffffff;
    padding: 0.375em 1em 0.56em;
}

    .login input[type="submit"]:hover {
        background-color: #204d74 !important;
        border-color: #122b40;
    }

.outer-table {
    height: 23vw;
}

.left-bar form select,
.left-bar form input[type="text"] {
    padding: 0.4vw 1.25vw;
    line-height: 1.3em;
}

.left-bar form .form-group {
    margin-bottom: .3vw;
}

.left-bar form .margin {
    margin-top: 0.5vw;
}

.left-bar form input[type="submit"] {
    width: 100% !important;
}

.left-bar form label {
    font-size: 0.85em;
    margin: 0.5vw 0 0;
}

.left-bar form .no-padding {
    padding: 0;
    margin: 0;
}

.left-bar form .days input[type="submit"] {
    margin: 1.1vw 0 0;
}

.left-bar form .checkbox-field {
    display: flex;
    justify-content: space-around;
    padding: 0.4vw 0;
    border-radius: 4px;
    background: #f3f7fa;
    margin: 0.5vw 0 0;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,0.3);
}

    .left-bar form .checkbox-field div {
        position: relative;
    }

    .left-bar form .checkbox-field input[type="checkbox"]:checked,
    .left-bar form .checkbox-field input[type="checkbox"]:not(:checked) {
        position: absolute;
        left: -9999px;
    }

    .left-bar form .checkbox-field [type="checkbox"]:checked + label,
    .left-bar form .checkbox-field [type="checkbox"]:not(:checked) + label {
        position: relative;
        padding-bottom: 1.5vw;
        cursor: pointer;
        line-height: 1em;
        font-weight: 500;
        display: inline-block;
        color: #636363;
        font-size: 0.85em;
        margin: 0;
    }

        .left-bar form .checkbox-field [type="checkbox"]:checked + label:before,
        .left-bar form .checkbox-field [type="checkbox"]:not(:checked) + label:before {
            content: '';
            position: absolute;
            bottom: 0;
            right: 0;
            left: 0;
            margin: 0 auto;
            width: 1.125vw;
            height: 1.125vw;
            border: 1px solid #ddd;
            border-radius: 4px;
            background: #fff;
        }

        .left-bar form .checkbox-field [type="checkbox"]:checked + label:after,
        .left-bar form .checkbox-field [type="checkbox"]:not(:checked) + label:after {
            content: '';
            width: 0.75vw;
            height: 0.75vw;
            background: #010101;
            position: absolute;
            bottom: 0.20vw;
            left: 0vw;
            right: 0;
            margin: 0 auto;
            border-radius: 4px;
            -webkit-transition: all 0.2s ease;
            transition: all 0.2s ease;
        }

        .left-bar form .checkbox-field [type="checkbox"]:not(:checked) + label:after {
            opacity: 0;
            -webkit-transform: scale(0);
            transform: scale(0);
        }

        .left-bar form .checkbox-field [type="checkbox"]:checked + label:after {
            opacity: 1;
            -webkit-transform: scale(1);
            transform: scale(1);
        }

.product.well {
    padding-top: 5vw;
}

    .product.well form .form-group {
        margin-bottom: 0.5vw;
    }

        .product.well form .form-group label {
            margin: 0.5vw 0 0;
        }

.collapse-div,
.collapse-div1,
.collapse-div2,
.collapse-div3 {
    display: none;
    text-align: center;
}

    .collapse-div li a,
    .collapse-div1 li a,
    .collapse-div2 li a,
    .collapse-div3 li a {
        font-weight: 400;
        text-align: left;
        padding: 0.5vw 1.75vw;
    }

.left-nav.homepage .collapse-div li:hover a {
    background: #fff !important;
}

.left-nav li a.head,
.left-nav li a.head1,
.left-nav li a.head2,
.left-nav li a.head3 {
    background-image: url(../images/arrow.png);
    background-repeat: no-repeat;
    background-position: right 1vw center;
}

    .left-nav li a.head.active,
    .left-nav li a.head1.active,
    .left-nav li a.head2.active,
    .left-nav li a.head3.active {
        font-weight: 400;
        background-image: url(../images/arrow-down.png);
    }

.table-space tr td {
    padding: 0.8vw;
    font-weight: 400;
}

.well.pale-blue {
    background: #f3f7fa;
}

.nav-tabs.inner {
    margin: 0 -1.4em;
}

    .nav-tabs.inner li {
        float: none;
        border-radius: 0;
        border-bottom: 1px solid #f5f5f5;
    }

        .nav-tabs.inner li a {
            display: block;
            border-radius: 0;
            padding: 1.125vw 0.75vw;
            background: #ffffff;
            color: #636363;
            letter-spacing: 0.02em;
        }

            .nav-tabs.inner li a:hover {
                color: #636363;
            }

        .nav-tabs.inner li:last-child {
            border-bottom: 0;
        }

        .nav-tabs.inner li:hover a {
            background: #f3f7fa;
        }

        .nav-tabs.inner li.active {
            border-radius: 0;
            position: relative;
        }

            .nav-tabs.inner li.active a {
                border-radius: 0;
                background: #f3f7fa;
                color: #636363;
                padding: 0.75vw;
                position: relative;
            }

.left-nav.homepage li:hover {
    background-color: #dbe5ed !important;
}

    .left-nav.homepage li:hover a {
        background-color: #dbe5ed !important;
    }

.left-nav.homepage li ul li.active a {
    background: #ffffff !important;
    color: #636363;
    padding: 0.75vw;
}

.content .left-nav.nav-tabs li:hover a,
.content .left-nav.nav-tabs lifocus a {
    background: #ffffff;
    color: #636363;
}

.large-only {
    display: table;
}

.small-only {
    display: none;
    margin-bottom: 15px;
}

.top-bar #user,
.top-bar #user1 {
    display: none;
}

.modal {
    padding: 0 !important;
    text-align: center;
}

    .modal input[type="submit"] {
        width: 100px;
        border: 0;
        background: #010101 !important;
        color: #ffffff;
        border-radius: 0px;
    }

    .modal h2 {
        font-size: 2.07em;
        color: #242424;
        line-height: 1.42em;
        padding-bottom: 0.687vw;
    }

        .modal h2 strong {
            font-weight: 500;
        }

    .modal h1 {
        font-size: 1.5em;
        line-height: 1.3em;
    }

    .modal fieldset {
        margin-bottom: 1vw;
    }

        .modal fieldset:last-child {
            margin-bottom: 0;
        }

    .modal .close {
        position: absolute;
        top: 15px;
        right: 10px;
        opacity: 1;
        margin: 0;
        padding: 0;
        width: 2vw;
        z-index: 9999;
        font-size: 19px;
        color: #ccc;
        font-weight: normal;
    }

    .modal .modal-header {
        padding: 0;
        border: 0;
    }

    .modal:before {
        content: '';
        display: inline-block;
        height: 100%;
        vertical-align: middle;
        margin-right: -4px;
    }

    .modal .modal-dialog {
        display: inline-block;
        text-align: left;
        vertical-align: middle;
        width: 31.25vw;
    }

    .modal .modal-body {
        padding: 1vw;
    }

    .modal .modal-dialog.modal-lg {
        width: 55.208vw;
    }

    .modal .margin h2 {
        margin-bottom: 2vw;
    }

    .modal sup {
        color: #de121b;
        font-size: 20px;
        top: 0;
    }

    .modal label {
        color: #616161;
        font-weight: 400;
    }

.checkbox.right label {
    display: block;
    width: 100%;
}

.modal .tab {
    background: #3db5e6;
    margin: -1.1em -1.1em 1.5em;
    padding-left: 1vw;
}

    .modal .tab ul {
        padding: 0;
        margin: 0;
    }

        .modal .tab ul li {
            color: #ffffff;
            text-transform: uppercase;
            padding: 1.5vw;
            display: inline-block;
            border-right: 1px solid #ffffff;
        }

            .modal .tab ul li:last-child {
                border-right: 0;
            }

.tab-content .checkbox.right {
    margin-bottom: 1vw !important;
}

.login.main h2 {
    padding-left: 1.5vw;
}

.login .checkbox.right [type="checkbox"]:checked + label:before,
.login .checkbox.right [type="checkbox"]:not(:checked) + label:before {
    left: auto;
    right: 0;
}

.login .checkbox.right [type="checkbox"]:checked + label:after,
.login .checkbox.right [type="checkbox"]:not(:checked) + label:after {
    left: auto;
    right: 5px;
}

#myModal3 .modal-body {
    padding: 2vw;
}

    #myModal3 .modal-body h2,
    #myModal3 .modal-body select {
        margin-bottom: 1vw;
    }

.login-page:before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(0,0,0,0.8);
    z-index: 1;
}

.login-page .canvas {
    position: relative;
    z-index: 2;
}

.login-page h1 {
    color: #fff;
}

.login-page .header {
    padding: 3.59vw 0;
}

.login-page .well {
    padding: 1.3vw 2.239vw;
}

.login-detail h2 {
    font-size: 1.94em;
}

.modal .inner-col {
    box-shadow: none;
}

.modal#delete-user .inner-col {
    text-align: center;
}

    .modal#delete-user .inner-col .table th {
        text-align: center;
        padding: 0.6vw 0;
    }

    .modal#delete-user .inner-col .table td {
        font-size: 0.9em;
        padding: 1.125vw 0;
    }

    .modal#delete-user .inner-col .listing-col {
        height: 6.145vw;
    }

.modal#delete-user .checkbox {
    margin: 0;
}

.modal#delete-user h2 {
    text-align: left;
    border: none;
}

.customer-col .separator {
    position: relative;
}

    .customer-col .separator:before, {
        width: 1px;
        height: 100%;
        background: #eeeeee;
        position: absolute;
        left: 40%;
        margin: 0 auto;
        content: '';
        display: block;
    }

.customer-detail tr td {
    font-size: 14px;
    line-height: 1.662em;
}

    .customer-detail tr td textarea {
        font-size: 1em;
        font-weight: 300;
        margin-top: 0.572vw;
        resize: none;
    }

.customer-detail .checkbox-field {
    background: none;
    box-shadow: none;
    height: 1.125vw;
}

    .customer-detail .checkbox-field label {
        height: 1.125vw;
    }

    .customer-detail .checkbox-field div {
        position: relative;
    }

    .customer-detail .checkbox-field input[type="checkbox"]:checked,
    .customer-detail .checkbox-field input[type="checkbox"]:not(:checked) {
        position: absolute;
        left: -9999px;
    }

    .customer-detail .checkbox-field [type="checkbox"]:checked + label,
    .customer-detail .checkbox-field [type="checkbox"]:not(:checked) + label {
        position: relative;
        padding-left: 1.5vw;
        cursor: pointer;
        line-height: 1.25em;
        font-weight: 500;
        display: inline-block;
        color: #636363;
        font-size: 1em;
    }

        .customer-detail .checkbox-field [type="checkbox"]:checked + label:before,
        .customer-detail .checkbox-field [type="checkbox"]:not(:checked) + label:before {
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            width: 1.125vw;
            height: 1.125vw;
            border: 1px solid #ddd;
            border-radius: 4px;
            background: #fff;
        }

        .customer-detail .checkbox-field [type="checkbox"]:checked + label:after,
        .customer-detail .checkbox-field [type="checkbox"]:not(:checked) + label:after {
            content: '';
            width: 0.5vw;
            height: 1vw;
            position: absolute;
            top: -0.1em;
            left: 0.5vw;
            border-left: 2px solid #010101;
            border-top: 2px solid #010101;
            -webkit-transition: all 0.2s ease;
            transition: all 0.2s ease;
        }

        .customer-detail .checkbox-field [type="checkbox"]:not(:checked) + label:after {
            opacity: 0;
            -webkit-transform: scale(0) rotate(-130deg);
            transform: scale(0) rotate(-130deg);
        }

        .customer-detail .checkbox-field [type="checkbox"]:checked + label:after {
            opacity: 1;
            -webkit-transform: scale(1) rotate(-130deg);
            transform: scale(1) rotate(-130deg);
        }

.main h2 {
    font-size: 1.1em;
}

.main .content .container-fluid {
    padding: 0 1vw;
}

/*.main .navbar {
    height: 9vw;
}*/

.main .navbar .tab {
    box-shadow: none;
}

.main .content {
    background: #ffffff;
}

    .main .content .well {
        box-shadow: none;
        padding: 3px 0 0;
        margin-bottom: .75vw;
    }

.main .inner {
    border: 1px solid #e0e0e0;
    border-radius: 4px;
    padding: .8vw;
    padding-right: .6vw;
}

    .main .inner .price {
        font-size: 1.33em;
        line-height: 1em;
    }

        .main .inner .price span {
            font-size: 1.5em;
        }

    .main .inner .price-selection {
        border-top: 2px solid #f0eef0;
        color: #cb3735;
        font-size: 1.3em;
        font-weight: 500;
        line-height: 1em;
        margin-bottom: 0;
        margin-top: 1.7vw;
        padding: 1vw 0 0vw 1.5vw;
        position: relative;
    }

        .main .inner .price-selection span:after {
            content: '';
            display: block;
            position: absolute;
            border-top: 0.6vw solid transparent;
            border-bottom: 0.6vw solid transparent;
            border-left: 0.6vw solid #cb3735;
            transform: rotate(270deg);
            left: -3px;
            top: 11px;
            width: 30px;
        }

    .main .inner .img {
        display: block;
        width: 8.375vw;
    }

    .main .inner .pie {
        text-align: center;
        margin: 2.25vw 0;
        position: relative;
    }

        .main .inner .pie .piechart {
            width: 8.18em;
        }

        .main .inner .pie p {
            position: absolute;
            display: inline-block;
        }

            .main .inner .pie p img {
                width: 1.31vw;
            }

        .main .inner .pie .left {
            left: 1vw;
            top: .5vw;
        }

        .main .inner .pie .right {
            right: 0;
            top: 2vw;
        }

        .main .inner .pie .bottom {
            left: .5vw;
            bottom: .5vw;
        }

    .main .inner .well.inner {
        padding: 1vw !important;
    }

        .main .inner .well.inner ul {
            height: 6vw;
        }

            .main .inner .well.inner ul li {
                margin-bottom: .5vw;
            }

    .main .inner .well.pale-blue {
        padding: 20px 2px;
    }

        .main .inner .well.pale-blue .graph {
            display: flex;
            flex-direction: column;
            padding-left: .5vw;
            padding-bottom: .5vw;
            padding-top: 1.5vw;
            position: relative;
        }

            .main .inner .well.pale-blue .graph p {
                display: flex;
                align-items: center;
            }

            .main .inner .well.pale-blue .graph:before {
                content: '';
                position: absolute;
                left: 0;
                top: 0;
                bottom: 0;
                width: 2px;
                background: #000;
                display: block;
            }

            .main .inner .well.pale-blue .graph:after {
                content: '';
                position: absolute;
                left: 0;
                bottom: 0;
                height: 2px;
                background: #000;
                display: block;
                width: 50%;
            }

        .main .inner .well.pale-blue .bar {
            height: 1.125vw;
            margin-right: .5vw;
            display: inline-block;
        }

        .main .inner .well.pale-blue .red {
            width: 5vw;
            background: #ec5345;
        }

        .main .inner .well.pale-blue .blue {
            width: 5vw;
            background: #043552;
        }

        .main .inner .well.pale-blue .yellow {
            width: 2vw;
            background: #fbae29;
        }

.main .history-col .btn-group .btn-secondary {
    width: 7.125vw;
    font-size: .7em;
}

.main .history-col form.radio-field fieldset {
    margin-right: 0.812vw;
    margin-top: 0;
}

.main .history-col form.radio-field [type="radio"]:checked + label,
.main .history-col form.radio-field [type="radio"]:not(:checked) + label {
    font-size: .7em;
}

    .main .history-col form.radio-field [type="radio"]:checked + label:after,
    .main .history-col form.radio-field [type="radio"]:not(:checked) + label:after {
        width: 0.55vw;
        height: 0.55vw;
        top: 0.23vw;
        left: 0.23vw;
    }

    .main .history-col form.radio-field [type="radio"]:checked + label:before,
    .main .history-col form.radio-field [type="radio"]:not(:checked) + label:before {
        width: 1vw;
        height: 1vw;
    }

.main .history-col .order-table [type="checkbox"]:checked + label:before,
.main .history-col .order-table [type="checkbox"]:not(:checked) + label:before {
    width: .7vw;
    height: .7vw;
}

.main .history-col .order-table [type="checkbox"]:checked + label:after,
.main .history-col .order-table [type="checkbox"]:not(:checked) + label:after {
    top: 0.20vw;
    left: 0.20vw;
    width: 0.35vw;
    height: 0.35vw;
}

.main .history-col .order-table [type="checkbox"]:checked + label,
.main .history-col .order-table [type="checkbox"]:not(:checked) + label {
    padding-left: 1vw;
}

.main .history-col .outer-table {
    height: 220px;
}

    .main .history-col .outer-table [type="checkbox"]:checked + label,
    .main .history-col .outer-table [type="checkbox"]:not(:checked) + label {
        font-size: 1em;
        line-height: 1em;
    }

    .main .history-col .outer-table tr th, .main .history-col .outer-table tr td {
        font-size: 13px;
        line-height: 16px;
        padding: 0.5vw .5vw;
    }

.price-section {
    border-bottom: 1px solid #e5e5e5;
    padding: 1em 0;
}

    .price-section p.big {
        margin: 0;
        font-size: 2em;
        line-height: 1em;
    }

        .price-section p.big span {
            font-size: 1.3em;
        }

    .price-section p.small {
        padding: 0;
    }

    .price-section:last-child {
        border-bottom: 0;
    }

.status {
    background: #f3f7fa;
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
    padding: .6vw .75vw;
    width: 100%;
    margin-bottom: 1em;
}

    .status p {
        font-size: 1.67em;
        font-weight: 700;
        margin: 0;
    }

        .status p .small {
            padding: 0;
            font-size: 0.72em;
        }

.bar-status .line {
    height: .5em;
    width: 100%;
    background: #000;
    clear: both;
    display: block;
    overflow: hidden;
    position: relative;
}

.bar-status .bar {
    width: 0;
    left: 0;
    top: 0;
    bottom: 0;
    background: #010101;
    position: absolute;
    z-index: 2;
}

.content .btn-col .btn-secondary {
    width: 8vw;
    margin-bottom: 1vw;
    line-height: 1.3em;
}

.content .well.small-well {
    height: 10.6vw;
}

.content .well.table-half form .btn-primary {
    display: inline-block;
}

.content .well.table-half form .small-text {
    color: #949494;
}

.content .pop-up-form fieldset {
    margin-bottom: 0;
}

    .content .pop-up-form fieldset p {
        margin-bottom: 0;
    }

    .content .pop-up-form fieldset input[type="submit"] {
        height: 2.062vw;
        margin-top: 0.562vw;
    }

.content .pop-up-form .item {
    position: relative;
}

    .content .pop-up-form .item .btn-primary {
        display: inline-block;
    }

.content .pop-up-form textarea {
    display: block;
}

.content .pop-up-form h2 {
    margin-bottom: .1em;
}

.white-bg {
    background: #fff !important;
}

.table-auto {
    height: auto;
}

    .table-auto.well {
        padding: 0.937vw 1.3vw;
    }

.left-bar form .form-group {
    margin-bottom: 1.35vw;
}

#delivery form .row {
    margin-bottom: 0.687vw;
}

    #delivery form .row input[type="submit"] {
        background: #010101;
    }

#import-pantry .file-upload__label {
    display: inline-block;
}

#import-pantry form label {
    padding: 0.375em 0 0.56em;
}

#import-pantry form .item {
    margin-bottom: 0.687vw;
}

#myModal01 .checkbox-field > label,
#myModal1 .checkbox-field > label {
    left: 20px;
    top: -15px;
}

.requests-table .btn-secondary {
    background: #e73527 none repeat scroll 0 0;
}

    .requests-table .btn-secondary:last-child {
        background: #3c8300 none repeat scroll 0 0;
    }

.msg-group .well {
    padding: 0;
    height: 23vh;
}

.msg-group .left-nav {
    height: 9vw;
}

    .msg-group .left-nav li {
        border-bottom: 0 none;
    }

        .msg-group .left-nav li a {
            padding: 0.3vw 0.5vw;
        }

.msg-group p,
.msg-group li {
    font-size: 0.8em;
    line-height: 1em;
}

.my-account .navbar {
    height: 4vw;
}

.my-account .login-detail .well {
    box-shadow: 0 1px 3px 0 rgba(0,0,0,0.2);
    padding: 2vw 3vw 1vw;
    margin: 6vh 0vh;
}

.my-account .login-detail {
    width: 33vw;
}

.my-account .content form fieldset {
    margin-bottom: 1em;
}

.my-account #login-account .well {
    box-shadow: 0 1px 3px 0 rgba(0,0,0,0.2);
    clear: both;
    float: left;
    margin: 5vh 0vh;
    width: 100%;
}

.pull-left.pagination {
    margin: 7px 0 0;
}

    .pull-left.pagination > span {
        background: #444444 none repeat scroll 0 0;
        border-radius: 5px;
        color: #ffffff;
        padding: 0.5vw 1vw;
    }

.left-nav li a:hover,
.left-nav li a:focus,
.left-nav li a:active {
    text-decoration: none;
}

.my-account .btn-primary.active {
    width: 10.1vw;
}

.mCustomScrollbar {
    /*background: #f3f7fa none repeat scroll 0 0;*/
    padding-top: 10px;
}

.left-nav li > a {
    background-image: url(../images/arrow.png);
    background-repeat: no-repeat;
    background-position: right 1vw center;
    padding-right: 20px;
}

.left-nav li.active a,
.left-nav li a:hover {
    background-image: url(../images/arrow.png) !important;
    background-repeat: no-repeat !important;
    background-position: right 1vw center !important;
}

@media (max-width: 1366px) {
    .main .inner .well.pale-blue {
        padding: 1vw .5vw 1vw;
    }

    .my-account .login-detail .well {
        margin: 3vh 0vh;
        padding: 2vw 2vw 1vw;
    }
}

@media (max-width: 1199px) {
    body {
        background: #ffffff;
        margin: 0;
        font-size: 15px;
        padding: 0 15px;
        box-sizing: border-box;
        font-family: 'Roboto', sans-serif;
        font-weight: 300;
        height: 100%;
    }

    img {
        max-width: 100%;
    }

    .canvas,
    html {
        height: 100%;
    }

    .inner-body {
        background: #dbe5ed;
        border-radius: 4px 4px 0 0;
    }

    .break {
        display: block;
        clear: both;
    }

    p,
    li {
        font-size: 15px;
        line-height: 20px;
    }

    a {
        display: inline-block;
    }

    h1 {
        font-size: 25px;
        line-height: 34px;
        margin: 0;
    }

    .btn-primary {
        line-height: 24px;
        letter-spacing: 0.04em;
        transition: all ease .3s;
        padding: 6px 10px;
        border-radius: 4px;
        background: #f3f6f9;
        color: #636363;
        font-weight: 400;
        text-align: center;
    }

    .blue {
        color: #010101;
    }

    p.small {
        margin: 0;
        padding: 8px 0;
    }

    .btn-active {
        line-height: 24px;
        letter-spacing: 0.04em;
        transition: all ease .3s;
        padding: 6px 10px;
        border-radius: 4px;
        background: #a9cb00;
        color: #ffffff;
        font-weight: 400;
        text-align: center;
        width: 8.43vw;
        position: relative;
    }

        .btn-active:hover {
            background: #a9cb00;
            color: #ffffff;
        }

        .btn-active span {
            display: block;
        }

            .btn-active span:before {
                content: '';
                border-radius: 100%;
                left: 10px;
                top: 50%;
                margin-top: -6px;
                position: absolute;
                width: 12px;
                height: 12px;
                background: #ffffff;
                display: block;
            }

    .well.bottom-padding {
        padding-bottom: 0;
    }

    .btn-primary:hover {
        text-decoration: none;
        color: #fff;
        background: #010101;
        transition: all ease .3s;
    }

    .btn-primary.active {
        background: #010101;
    }

    .btn-secondary {
        line-height: 24px;
        letter-spacing: 0.04em;
        transition: all ease .3s;
        padding: 6px 10px;
        border-radius: 4px;
        background: #010101;
        color: #ffffff;
        font-weight: 400;
        text-align: center;
    }

        .btn-secondary:hover {
            text-decoration: none;
            color: #fff;
            background: #010101;
            transition: all ease .3s;
        }

    p.small {
        font-size: 12px;
    }

    .row {
        margin: 0 -5px;
    }

    .col {
        padding: 0 5px;
    }

    .tab-content {
        height: 26vw;
    }

    input[type="text"],
    input[type="email"],
    input[type="password"],
    input[type="text"],
    select,
    textarea {
        width: 100%;
        background: #f3f6f9;
        font-size: 14px;
        line-height: 24px;
        padding: 4px 15px;
        border-radius: 4px;
        height: auto;
        border: 1px solid #e3e3e3;
        color: #4a4a4a;
    }

    .well {
        padding: 15px;
        background: #ffffff;
        border-radius: 4px;
        border: 0;
        position: relative;
        box-shadow: 0 1px 2px 0 rgba(0,0,0,0.3);
    }

        .well.back-trans {
            background: transparent !important;
            box-shadow: none !important;
        }

    h2 {
        font-size: 20px;
        line-height: 25px;
        letter-spacing: 0.02em;
        color: #636363;
        margin: 0 0 10px;
    }

    .active-user {
        position: absolute;
        top: 10px;
        right: 10px;
    }

    .tab-content .checkbox.right {
        margin-bottom: 10px;
    }

    #myModal3 .modal-body {
        padding: 15px;
    }

    .header {
        padding: 15px 0;
    }

        .header .logo img {
            max-width: 190px;
            width: 100%;
        }

        .header .client h3 {
            font-size: 15px;
            line-height: 24px;
            padding: 10px 20px 10px 50px;
            background-size: 40px auto;
        }

            .header .client h3:after {
                top: 10px;
                width: 15px;
                height: 17px;
            }

    .navbar .navbar-nav li a img {
        width: 28px;
    }

    .navbar .navbar-nav li:first-child a {
        padding: 7px 16px 8px;
    }

    .navbar .navbar-nav li a {
        font-size: 15px;
        line-height: 20px;
        padding: 9px 15px;
        width: auto;
    }

    .navbar .navbar-nav li.active a {
        padding-bottom: 16px;
    }

    .navbar .navbar-nav li {
        margin-right: 10px;
    }

    .navbar .tab {
        padding: 15px;
    }

    .navbar-nav {
        float: none;
    }

    .navbar {
        height: auto;
    }

        .navbar .tab {
            top: 45px;
        }

        .navbar form.search fieldset {
            width: 200px;
        }

    .content,
    tab-content {
        height: auto;
    }

    .navbar form.search fieldset input[type="text"] {
        padding: 8px 20px;
    }

    .navbar form.search fieldset input[type="submit"] {
        padding: 8px 0;
        background-size: auto;
    }

    .content {
        padding-top: 70px;
        overflow: hidden;
    }

        .content .tab-content {
            height: 100%;
        }

        .content .well .btn-secondary {
            width: auto;
        }

    .left-nav {
        height: 300px;
    }

    .content .nav-tabs .btn-primary {
        width: auto;
        margin-right: 8px;
    }

    .content .detail {
        margin-bottom: 30px;
    }

    .content .btn-group .btn-primary,
    .btn-active {
        width: auto;
    }

        .btn-active span {
            padding-left: 20px;
        }

    .left-bar form label {
        font-size: 13px;
        line-height: 20px;
        margin: 0;
    }

    .left-bar form .checkbox-field [type="checkbox"]:checked + label:after,
    .left-bar form .checkbox-field [type="checkbox"]:not(:checked) + label:after {
        height: 11px;
        width: 11px;
    }

    .left-bar form .checkbox-field [type="checkbox"]:checked + label:before,
    .left-bar form .checkbox-field [type="checkbox"]:not(:checked) + label:before {
        width: 15px;
        height: 15px;
    }

    .left-bar form .days input[type="submit"] {
        margin-top: 7px;
    }

    .navbar .tab .btn-group .btn-border {
        font-size: 15px;
        line-height: 20px;
        padding: 8px 10px;
        width: auto;
    }

    .content .btn-group .btn-primary.large {
        width: auto;
        font-size: 14px;
    }

    .nav-tabs.inner {
        margin: 0;
    }

        .nav-tabs.inner li.active a:after {
            display: none;
        }

    .content .btn-group .btn-primary {
        margin-right: 5px;
    }

    .order-table th {
        font-size: 14px;
    }

    .outer-table {
        height: 400px;
    }

    .order-table [type="checkbox"]:checked + label,
    .order-table [type="checkbox"]:not(:checked) + label {
        padding-left: 20px;
    }

        .order-table [type="checkbox"]:checked + label:before,
        .order-table [type="checkbox"]:not(:checked) + label:before,
        form.radio-field [type="radio"]:checked + label:before,
        form.radio-field [type="radio"]:not(:checked) + label:before {
            width: 15px;
            height: 15px;
        }

        .order-table [type="checkbox"]:checked + label:after,
        .order-table [type="checkbox"]:not(:checked) + label:after,
        form.radio-field [type="radio"]:checked + label:after,
        form.radio-field [type="radio"]:not(:checked) + label:after {
            width: 11px;
            height: 11px;
            left: 2px;
            top: 2px;
        }

    form.radio-field [type="radio"]:checked + label,
    form.radio-field [type="radio"]:not(:checked) + label {
        padding-left: 20px;
        font-size: 15px;
        line-height: 20px;
    }

    .full-height {
        height: auto;
    }

    .left-bar form .checkbox-field [type="checkbox"]:checked + label,
    .left-bar form .checkbox-field [type="checkbox"]:not(:checked) + label {
        padding-bottom: 20px;
    }

    .header .client ul {
        z-index: 1050;
    }

        .header .client ul li a {
            padding: 8px;
        }

    .navbar form.calender input[type="submit"] {
        width: auto;
    }

    .modal input[type="submit"] {
        width: auto;
        padding: 10px;
    }

    .modal .modal-dialog.modal-lg {
        width: 80%;
    }

    .modal:before {
        display: none;
    }

    .modal .modal-body {
        padding: 15px;
    }

    .modal .modal-dialog.modal-lg {
        margin: 70px 0 0;
    }

    .modal .close {
        top: -40px;
        width: 30px;
    }

    .modal .modal-dialog {
        width: 60%;
        margin: 70px 0 0;
    }

    .login [type="checkbox"]:checked + label,
    .login [type="checkbox"]:not(:checked) + label {
        padding-left: 20px;
    }

        .login [type="checkbox"]:checked + label:before,
        .login [type="checkbox"]:not(:checked) + label:before {
            width: 15px;
            height: 15px;
        }

        .login [type="checkbox"]:checked + label:after,
        .login [type="checkbox"]:not(:checked) + label:after {
            width: 5px;
            height: 10px;
            top: 3px;
            left: 5px;
        }

    .login-detail {
        width: 50%;
    }

    .login {
        width: auto;
        padding: 10px;
    }

        .login [type="checkbox"]:checked + label,
        .login [type="checkbox"]:not(:checked) + label {
            font-size: 15px;
            line-height: 20px;
        }

    .modal .tab ul li {
        padding: 18px;
    }

    .modal .tab ul li {
        font-size: 15px;
    }

    #myModal3 .modal-body h2,
    #myModal3 .modal-body select {
        margin-bottom: 15px;
    }

    .content .btn-group .btn-primary {
        font-size: 12px;
    }

    .small-btn {
        width: auto !important;
    }

    .main .history-col .outer-table tr th,
    .main .history-col .outer-table tr td {
        font-size: 11px;
    }

    .main .history-col .outer-table {
        height: 20vw;
    }

    .my-account .login-detail {
        width: 50%;
    }

        .my-account .login-detail .well {
            padding: 2vw 0vw 1vw;
        }
}

@media (min-width:992px) and (max-width:1120px) {
    #driver_details .manage-Driver_photo.manage-driver_profile {
        width: 159px;
        height: 159px;
    }
}

@media (max-width: 991px) {
    #vehicles .parent, #drivers .parent {
        height: auto !important;
    }

    .height-bg {
        height: auto !important;
    }

    h1 {
        font-size: 22px;
    }

    .navbar .tab .btn-group {
        font-family: 0;
    }

        .navbar .tab .btn-group .btn-border {
            font-size: 13px;
            padding: 8px 14px;
        }

    .navbar form.search fieldset {
        width: 180px;
    }

    .well {
        margin-bottom: 15px;
    }

    .content {
        overflow: inherit;
    }

    .inner-body,
    .content {
        height: auto !important;
    }

    .product.well form .form-group {
        margin-bottom: 10px;
    }

    .file-upload__label.btn-primary {
        width: 100px !important;
    }

    .btn-bottom {
        text-align: left !important;
        margin-bottom: 15px;
    }

    .left-bar form .form-group {
        margin-bottom: 10px;
    }

    .login-page .inner-body {
        height: 100% !important;
    }

    .login-page .outer-header {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
    }

    .main .history-col .outer-table tr th,
    .main .history-col .outer-table tr td {
        font-size: 13px;
    }

    .order-table tr th .btn-secondary,
    .order-table tr td .btn-secondary {
        width: 100% !important;
        display: block;
    }

    .main .history-col .btn-group .btn-secondary {
        width: 100%;
    }

    .main .history-col form.radio-field [type="radio"]:checked + label,
    .main .history-col form.radio-field [type="radio"]:not(:checked) + label {
        font-size: 15px;
    }

        .main .history-col form.radio-field [type="radio"]:checked + label:before,
        .main .history-col form.radio-field [type="radio"]:not(:checked) + label:before {
            width: 15px;
            height: 15px;
        }

        .main .history-col form.radio-field [type="radio"]:checked + label:after,
        .main .history-col form.radio-field [type="radio"]:not(:checked) + label:after {
            width: 11px;
            height: 11px;
        }

    .my-account .login-detail {
        width: 70vw;
    }
    /* -- responsive changes 15/03/18 start -- */

    .main h2 {
        text-align: center;
    }

    .canvas .header .pull-right .client {
        width: 170px;
        text-align: center;
        margin: 0 auto;
    }

    #content-2 {
        height: auto !important;
        /*overflow: auto;*/
    }

    /* -- responsive changes 15/03/18 -- end -- */
}

@media (max-width: 767px) {
    .top-bar .pull-left,
    .top-bar .pull-right {
        float: none !important;
        display: block;
        text-align: center;
    }

    .outer-header .header .pull-left, .header h1.delivery_text-header,
    .outer-header .header .pull-right {
        float: none !important;
        text-align: center;
        display: block;
        margin: 0 auto;
    }

    .login-page .outer-header {
        position: static;
    }

    .header .logo img {
        width: 160px;
    }

    .navbar .navbar-nav li.active .tab {
        position: relative;
    }

        .navbar .navbar-nav li.active .tab h1,
        .navbar .navbar-nav li.active .tab form {
            display: none;
        }

    .navbar-toggle {
        margin: 0;
    }

    .navbar-nav {
        margin: 0;
    }

    .navbar .navbar-nav li {
        margin-right: 0;
    }

    .navbar .tab {
        top: 0;
    }

    .navbar .navbar-nav li.active a {
        border: 0;
        padding: 8px;
    }

    .navbar .navbar-nav li.active .tab {
        text-align: center;
        border-radius: 0;
        padding: 0;
    }

        .navbar .navbar-nav li.active .tab .btn-group {
            padding: 10px;
        }

        .navbar .navbar-nav li.active .tab .pull-left,
        .navbar .navbar-nav li.active .tab .pull-right {
            float: none !important;
            width: 100%;
        }

    .content {
        padding-top: 30px;
    }

    .left-nav li a {
        padding: 10px;
    }

    .left-nav li.active a {
        padding: 10px;
    }

    .active-user {
        top: 0;
        position: relative;
        right: 0;
    }

        .active-user a {
            margin-bottom: 10px;
        }

    .table-detail tr td {
        width: 50%;
        vertical-align: top;
        padding: 10px 5px;
    }

    .content .well.table-half form fieldset p,
    .content .well.table-half form fieldset .item {
        width: 49%;
        overflow: hidden;
    }

    .content .detail textarea {
        height: auto;
    }

    .content .well.table-half {
        height: auto;
        margin-bottom: 15px;
    }

    .content .nav-tabs {
        margin-bottom: 15px;
    }

    .content table.info tr td {
        width: 50%;
        vertical-align: top;
    }

        .content table.info tr td:first-child {
            width: 50%;
        }

    body {
        padding: 0;
    }

    .header {
        padding: 15px 5px;
    }

    .left-bar form select,
    .left-bar form input[type="text"] {
        padding: 8px;
        line-height: 20px;
    }

    .left-bar form select {
        margin-bottom: 10px;
    }

    .left-bar form .checkbox-field {
        padding: 10px 0;
    }

    .left-nav {
        height: auto;
    }

        .left-nav.homepage li ul li.active a {
            padding: 10px;
        }

    .nav-tabs.inner li.active a,
    .nav-tabs.inner li a {
        padding: 10px;
    }

    .form-group .edit {
        position: relative;
        right: 0;
        top: 0;
    }

        .form-group .edit img {
            width: auto;
        }

    .large-only {
        display: none;
    }

    .small-only {
        display: table;
    }

        .small-only td,
        th {
            width: 50%;
            padding: 10px !important;
            vertical-align: top;
        }

    .btn-bottom a {
        width: auto;
    }

    .radio-field fieldset {
        width: 100%;
    }

    .content .btn-group {
        margin-bottom: 10px;
    }

    .radio-field {
        width: 100%;
        margin-bottom: 10px;
    }

    form.radio-field [type="radio"]:checked + label,
    form.radio-field [type="radio"]:not(:checked) + label {
        font-size: 13px;
        line-height: 17px;
    }

    .outer-table {
        height: auto;
    }

    .top-bar {
        margin-bottom: 15px;
    }

        .top-bar #user1 {
            display: block;
            padding: 10px;
            color: #636363;
            background: url(../images/arrow.jpg) no-repeat right 10px center #ffffff;
            font-size: 15px;
            line-height: 20px;
        }

        .top-bar #toggle-div1 {
            display: none;
            background: #ffffff;
        }

            .top-bar #toggle-div1 .pull-left,
            .top-bar #toggle-div1 .pull-right {
                float: none !important;
            }

            .top-bar #toggle-div1 .btn-group {
                margin-bottom: 0;
                float: none;
                display: block;
            }

                .top-bar #toggle-div1 .btn-group a {
                    margin: 0;
                    border-radius: 0;
                    display: block;
                    width: 100%;
                }

    .modal .modal-dialog {
        width: 80%;
    }

    .login-detail {
        width: 90%;
    }

    .login-page .inner-body {
        height: auto !important;
        padding: 30px 0;
    }

    .login-page {
        background: #dbe5ed;
    }

    .modal h1 {
        margin-bottom: 15px;
    }

    .modal .text-right {
        margin: 10px 0;
        text-align: left;
    }

    .modal .tab ul li {
        font-size: 13px;
    }

    .checkbox.right label {
        padding-left: 10px !important;
    }

    .order-table tr th .btn-secondary,
    .order-table tr td .btn-secondary {
        width: 48%;
        margin-top: 10px;
    }

    .main .history-col .outer-table {
        height: auto;
    }

    .my-account .navbar {
        height: auto;
    }

    .my-account .login input[type="submit"] {
        margin-bottom: 2vh;
        min-width: 100%;
    }
}

@media (max-width:400px) {
    #navigation .tab .pull-left .btn-group a.btn-border {
        float: left;
    }

    #navigation .tab .pull-left .input-group.date {
        float: left;
        width: 146px;
    }
}

.modal-body {
    overflow: hidden;
}

.modal-contemt {
    border: 0;
}

.checkbox.right label {
    padding-left: 0 !important;
}

/*POD design latest jan_06*/
.delivery_text-header {
    float: left;
    color: #010101;
    padding: 0px 0px 0px 40px;
    line-height: 42px;
}

.well.table.Completion_sidebar {
    text-align: center;
}

.Completion_sidebar .price-section p.big {
    font-size: 48px;
}

.well.table.Completion_sidebar .main h2 {
    padding-bottom: 16px;
}

.well.table.Completion_sidebar .price-section {
    padding: 24px 0px;
}

.map_location-pod iframe {
    width: 100%;
    height: 216px;
}

.btn-danger {
    color: #fff;
    background-color: #d9534f !important;
    border-color: #d43f3a;
}

.order-table.card-table.stacktable i.fa.fa-times {
    font-size: 14px;
    cursor: pointer;
    color: #4d4e4f;
}

.order-table.card-table.stacktable td:hover i.fa.fa-times {
    font-size: 14px;
    cursor: pointer;
    color: #000;
}

.flt-lt {
    float: left;
    padding-top: 6px;
}

.flt-rt {
    float: right !important;
}

.clr-both {
    clear: both;
    width: 100%;
    display: block;
    margin: 44px auto 0px;
}

.menu_vtcl li {
    display: block;
    padding: 1.125vw 0.75vw;
    color: #636363;
    cursor: pointer;
    border-bottom: 1px solid #e9ecef;
}

    .menu_vtcl li:hover {
        background-color: #dbe5ed;
    }

.menu_vtcl {
    background-color: #f3f7fa;
}

.main .clr-both.history-col .outer-table {
    height: 483px;
}

.fa.fa-check {
    font-weight: bold;
    font-size: 13px;
}

.existing-vehicles ul li {
    padding: 7px 10px;
    background-color: #f3f7fa;
    border-bottom: 1px solid #e9ecef;
    cursor: pointer;
}

/*#content-2.fx_hight {
    height: 454px;
}*/
.select_drop-down {
    width: 12.19vw;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: none;
    background-color: #010101;
    border: 1px solid #010101;
    box-shadow: 2px 2px 2px 0 rgba(0,0,0,0.3);
    color: #fff;
    font-weight: 400;
    font-size: 1.2em;
    letter-spacing: 0.02em;
    padding: 5px;
}
/*.select_drop-down:before{
    content: '\f107';
    font-family: FontAwesome;
}*/
.fa-angle-down.select_icon {
    position: relative;
    top: -1px;
    right: 28px;
    vertical-align: middle;
    text-align: center;
    margin: 0 auto;
    font-size: 22px;
    color: #fff;
}

.height-bg {
    height: 600px;
}

.modal-body.login fieldset {
    width: 47%;
    float: left;
    position: relative;
}

.delivery-tym {
    float: right;
    font-size: 18px;
    font-weight: 400;
}

.red_comment {
    color: red;
    font-size: 16px;
}

iframe.tracking_map {
    width: 100%;
    height: 100%;
    min-height: 451px;
}

.Driver-bdr {
    border-top: 1px solid #ccc;
    position: relative;
    float: left;
    width: 100%;
    padding: 7px 0px;
}

.driver_img {
    float: left;
}

    .driver_img img {
        max-width: 37px;
    }

.tablinks.dashboad-btn {
    background-color: #e7e7e7;
    border: none;
    color: #636363;
    padding: 8px 0px;
    font-weight: 600;
    letter-spacing: 1px;
    width: 117px;
}

    .tablinks.dashboad-btn.active {
        color: #ffff;
        background-color: #010101;
    }

.dash-content_driver {
    float: left;
    padding-left: 12px;
    line-height: 4px !important;
}

.das-status_driver {
    width: 11px;
    height: 11px;
    position: absolute;
    border-radius: 50%;
    right: 20px;
    /*bottom: 15%;*/
}

.offline {
    background-color: red;
}

.online {
    background-color: green;
}

.Completion_sidebar .price-section .circle {
    position: relative;
}

    .Completion_sidebar .price-section .circle strong {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        color: #010101;
        font-size: 28px;
    }

.modal-content {
    position: relative;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: none;
    border-radius: 0px;
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.modal .modal-dialog {
    display: inline-block;
    text-align: left;
    vertical-align: middle;
    width: 678PX;
}

.modal-content {
    position: relative;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    /* border: 1px solid #999; */
    border: none;
    border-radius: 0px;
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.modal-content {
    -webkit-box-shadow: none;
    box-shadow: none;
}

.modal-open .modal {
    background-color: rgba(0, 0, 0, 0.6);
}

.modal .modal-body {
    padding: 30px;
}

fieldset label {
    display: block;
}

fieldset .select_drop-down {
    width: 100%;
    background-color: #f3f6f9;
    border: 1px solid #f3f6f9;
    box-shadow: 0px 1px 2px 0 rgba(0,0,0,0.3);
    color: #616161;
    padding: 5px;
}

fieldset .fa-angle-down.select_icon {
    position: absolute;
    top: 31px;
    right: 10px;
    vertical-align: middle;
    text-align: center;
    margin: 0 auto;
    font-size: 22px;
    color: #616161;
    z-index: 99999999;
}

/* The container */
.Vehicle-checklist {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    float: left;
    width: 120px;
    display: inline-block;
    line-height: 15px;
}

    /* Hide the browser's default radio button */
    .Vehicle-checklist input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
    }

/* Create a custom radio button */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 15px;
    width: 15px;
    background-color: #eee;
    border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.Vehicle-checklist:hover input ~ .checkmark {
    background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.Vehicle-checklist input:checked ~ .checkmark {
    background-color: #2196F3;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the indicator (dot/circle) when checked */
.Vehicle-checklist input:checked ~ .checkmark:after {
    display: block;
}

/* Style the indicator (dot/circle) */
.Vehicle-checklist .checkmark:after {
    top: 5px;
    left: 5px;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background: white;
}

.modal-body.login fieldset {
    height: 60px;
}

    .modal-body.login fieldset.modal_submit {
        width: 100%;
        float: left;
        display: block;
        max-width: 100%;
    }

.Vehicle-checklist {
    font-size: 17px;
}

.tab-pane .Vehicles-asign .select_drop-down {
    width: 100%;
}

.Vehicles-asign {
    position: relative;
    margin-bottom: 18px;
}

.tab-pane .Vehicles-asign .fa-angle-down.select_icon {
    position: absolute;
    top: 7px;
    right: 10px;
}

.list-group-item.active, .list-group-item.active:focus, .list-group-item.active:hover {
    z-index: 2;
    color: #fff;
    background-color: #010101;
    border-color: #010101;
}

.manage-Driver_photo {
    width: 100px;
    height: 82px;
    float: left;
    padding: 0px !important;
}

    .manage-Driver_photo.manage-driver_profile {
        width: 239px;
        border: 9px solid #fff;
        height: 239px;
        box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.3);
    }

    .manage-Driver_photo.manage-license label {
        display: block;
    }

.text-danger {
    color: red !important;
}

.delete-modal {
    text-align: center;
}

.modal-body.login .delete-modal fieldset {
    width: 100%;
}

#delete-modal.modal-dialog {
    width: 498PX;
}

.modal #delete-modal .modal-body {
    padding: 30px 30px 51px;
}

.modal #delete-modal input[type="submit"] {
    margin-top: 15px;
}

.existing-vehicles li a {
    color: #636363;
    text-decoration: none;
    font-size: 14px;
}

#driver_details .table-space tr td {
    padding: 8px 0px 8px 15px;
}

#deliveries_details .table-space tr td {
    padding: 8px 0px 8px 1px;
}

#driver_details tr, #deliveries_details tr {
    /* background-color: #ccc; */
    border-bottom: 1px solid #fff;
}

    #driver_details tr:last-child, #deliveries_details tr:last-child {
        border-bottom: none;
    }

.manage-Driver_photo.manage-license {
    width: 100%;
    /*height: 150px;*/
    /* float: left; */
    padding: 0px !important;
    clear: both;
    margin-top: 23px;
}

.mg-0 {
    margin: 0px;
}

.main .Completion_sidebar .inner {
    border: 1px solid #e0e0e0;
    border-radius: 4px;
    padding: .8vw;
    padding-right: .6vw;
    padding-bottom: 0px;
}

.customer-col #deliveries_details .separator:before {
    width: 1px;
    height: 100%;
    background: #eeeeee;
    position: absolute;
    left: 50%;
    margin: 0 auto;
    content: '';
    display: block;
}

#deliveries_details table.table-space {
    width: 100%;
}

#deliveries_details textarea {
    resize: none;
    background-color: #fff;
}

#deliveries_details .deliveries-comment-area {
    padding: 0px 5px;
}

    #deliveries_details .deliveries-comment-area label {
        font-size: 14px;
        font-weight: normal;
    }

.input-group.date {
    width: 190px;
    float: right;
}

#deliveries-pick-date_icons {
    border: none;
    box-shadow: 0px 1px 2px 0 rgba(0,0,0,0.3);
    border-radius: 0px;
}

    #deliveries-pick-date_icons input {
        box-shadow: none;
    }

.text-success {
    font-size: 16px;
}

.deliveries-all_date {
    max-width: 72px;
    padding: 0.5vw 0;
    margin-right: 13px;
}

.order-table.card-table .issue {
    text-align: left;
}

label.custom-file-upload {
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
    background-color: #010101;
    color: #fff;
    box-shadow: 0px 1px 2px 0 rgba(0,0,0,0.3);
}

    label.custom-file-upload input[type=file] {
        display: none;
    }

.Vehicle-checklist.text-success {
    color: green;
}

#vehicle-fix-top tr th, #vehicle-fix-top tr td {
    border: 1px solid #ccc !important;
}

#drivers #vehicle-fix-top table {
    border: 1px solid #ccc;
}

#drivers #vehicle-fix-top tr {
    border-bottom: 1px solid #ccc !important;
}

#drivers #vehicle-fix-top tbody tr {
    position: relative;
}

#drivers #vehicle-fix-top tr th, #drivers #vehicle-fix-top tr td {
    border: none !important;
    padding: 4px;
}

.parent {
    height: 557px;
}

#vehicle-fix-top .parent .fixTable th {
    background-color: #f3f7fa !important;
    color: #000;
    height: 45px;
    vertical-align: middle !important;
}

#vehicles .parent, #drivers .parent {
    height: 493px;
    margin-top: 40px;
}
/*#vehicles #fixTable {
    border: 1px solid #f1f1f1;
}*/
#vehicle-fix-top i.fa.fa-times, #vehicle-fix-top td:hover i.fa.fa-times {
    color: red;
}

#vehicle-fix-top .fa.fa-check {
    color: green;
}

.delivery-issue-dashboard#vehicle-fix-top .parent {
    height: 216px;
}

.table > tbody > tr > td, .table > tbody > tr > th, .table > tfoot > tr > td, .table > tfoot > tr > th, .table > thead > tr > td, .table > thead > tr > th {
    vertical-align: middle;
}

.content .well .delivery-issue-dashboard .btn-secondary {
    width: 145px;
}

.pd-tp-6 {
    padding-top: 6px;
}

#deliveries_details #driving-license.manage-Driver_photo label {
    position: relative;
    top: -16px;
}

#delivery-issue-slider .item img {
    border: 5px solid #FFF;
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.3);
    max-width: 150px;
}

#delivery-issue-slider {
    top: -133px;
    position: relative;
    padding: 0px 12px;
}

.manage-Driver_photo.manage-license#driving-license img {
    border: 5px solid #FFF;
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.3);
    display: inline-block;
    float: left;
    margin-right: 13px;
    max-width: 150px;
}
/*#content-2 {
    height: 483px;
    overflow: auto;
}*/
#delivery-issue-slider.invoice-issue-slider .item img {
    max-width: 95px;
}

.owl-nav {
    text-align: center;
    margin: 0 auto;
    float: right;
    top: -118px;
    position: relative;
}

.owl-prev, .owl-next {
    /* width: 38px; */
    display: inline-block;
    /* float: left; */
    background-color: #010101;
    color: #fff;
    padding: 4px 14px;
    margin-right: 2px;
    margin-left: 2px;
}

/*Extra css*/
.margin25 {
    margin-bottom: 25px !important;
}

.divBgGrey {
    background: #f3f6f9 !important;
    height: 148px;
    border-radius: 4px;
    border: 1px solid #e3e3e3;
    overflow-x: hidden;
    overflow-y: scroll;
    padding: 15px;
}

    .divBgGrey p {
        margin: 0 0 5px;
    }

.existing-vehicles ul li.disabled {
    /*cursor: not-allowed;*/
    background: #c4d7e5;
    color: #aabcca;
}

    .existing-vehicles ul li.disabled a {
        color: #aabcca;
    }

.btnRed {
    background: #f7273b;
}
/*POD design latest jan_06*/
.delivery_text-header {
    float: left;
    color: #010101;
    padding: 0px 0px 0px 40px;
    line-height: 42px;
}

.well.table.Completion_sidebar {
    text-align: center;
}

.Completion_sidebar .price-section p.big {
    font-size: 48px;
}

.well.table.Completion_sidebar .main h2 {
    padding-bottom: 16px;
}

.well.table.Completion_sidebar .price-section {
    padding: 14px 0px;
}

.map_location-pod iframe {
    width: 100%;
    height: 216px;
}

.btn-danger {
    color: #fff;
    background-color: #d9534f !important;
    border-color: #d43f3a;
}

.order-table.card-table.stacktable i.fa.fa-times {
    font-size: 14px;
    cursor: pointer;
    color: #4d4e4f;
}

.order-table.card-table.stacktable td:hover i.fa.fa-times {
    font-size: 14px;
    cursor: pointer;
    color: #000;
}

.flt-lt {
    float: left;
    padding-top: 6px;
}

.flt-rt {
    float: right !important;
}

.clr-both {
    clear: both;
    width: 100%;
    display: block;
    margin: 44px auto 0px;
}

.menu_vtcl li {
    display: block;
    padding: 1.125vw 0.75vw;
    color: #636363;
    cursor: pointer;
    border-bottom: 1px solid #e9ecef;
}

    .menu_vtcl li:hover {
        background-color: #dbe5ed;
    }

.menu_vtcl {
    background-color: #f3f7fa;
}

.main .clr-both.history-col .outer-table {
    height: 483px;
}

.fa.fa-check {
    font-weight: bold;
    font-size: 13px;
}

.existing-vehicles ul li, #fieldChooser .existing-vehicles #sourceFields div,
#fieldChooser .existing-vehicles #destinationFields div, .ddorderList div {
    padding: 13px 10px;
    background-color: #f3f7fa;
    border-bottom: 1px solid #e9ecef;
    cursor: pointer;
}

    .existing-vehicles ul li:hover, .existing-vehicles ul li.active,
    #fieldChooser .existing-vehicles #sourceFields div:hover, .existing-vehicles #sourceFields div.active,
    #fieldChooser .existing-vehicles #destinationFields div:hover, .existing-vehicles #destinationFields div.active,
    .existing-vehicles div.fc-selected,
    .ddorderList div:hover, .ddorderList div.active {
        background-color: #dbe5ed !important;
    }

    .existing-vehicles ul li:hover, .existing-vehicles ul li.active {
        background-color: #dbe5ed;
    }

#content-2.fx_hight {
    height: 451px;
}

.select_drop-down {
    width: 12.19vw;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: none;
    background-color: #010101;
    border: 1px solid #010101;
    box-shadow: 2px 2px 2px 0 rgba(0,0,0,0.3);
    color: #fff;
    font-weight: 400;
    font-size: 1.2em;
    letter-spacing: 0.02em;
    padding: 5px;
}
/*.select_drop-down:before{
    content: '\f107';
    font-family: FontAwesome;
}*/
.fa-angle-down.select_icon {
    position: relative;
    top: -1px;
    right: 28px;
    vertical-align: middle;
    text-align: center;
    margin: 0 auto;
    font-size: 22px;
    color: #fff;
}

.height-bg {
    height: 560px;
}

.modal-body.login fieldset {
    width: 47%;
    float: left;
    position: relative;
}

.delivery-tym {
    float: right;
    font-size: 18px;
    font-weight: 400;
}

.red_comment {
    color: red;
    font-size: 16px;
}

iframe.tracking_map {
    width: 100%;
    height: 100%;
    min-height: 451px;
}

.Driver-bdr {
    border-top: 1px solid #ccc;
    float: left;
    width: 100%;
    padding: 7px 0px;
}

.driver_img {
    float: left;
    width: 55px;
    height: 55px;
    border-radius: 50%;
    position: relative;
}

.tablinks.dashboad-btn {
    background-color: #e7e7e7;
    border: none;
    color: #636363;
    padding: 8px 20px;
    font-weight: 600;
    letter-spacing: 1px;
    width: auto;
    font-size: 12px;
}

    .tablinks.dashboad-btn.active {
        color: #ffff;
        background-color: #010101;
    }

.dash-content_driver {
    float: left;
    padding-left: 12px;
    line-height: 4px !important;
}

.das-status_driver {
    width: 11px;
    height: 11px;
    position: absolute;
    border-radius: 50%;
    /*bottom: 0px;
    right: 2px;*/
}

.offline {
    background-color: red;
}

.online {
    background-color: green;
}

.Completion_sidebar .price-section .circle {
    position: relative;
}

    .Completion_sidebar .price-section .circle strong {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        color: #010101;
        font-size: 28px;
    }

.modal-content {
    position: relative;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: none;
    border-radius: 0px;
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.modal .modal-dialog {
    display: inline-block;
    text-align: left;
    vertical-align: middle;
    width: 678PX;
}

.modal-content {
    position: relative;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    /* border: 1px solid #999; */
    border: none;
    border-radius: 0px;
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.modal-content {
    -webkit-box-shadow: none;
    box-shadow: none;
}

.modal-open .modal {
    background-color: rgba(0, 0, 0, 0.6);
}

.modal .modal-body {
    padding: 30px;
}

fieldset label {
    display: block;
}

fieldset .select_drop-down {
    width: 100%;
    background-color: #f3f6f9;
    border: 1px solid #f3f6f9;
    box-shadow: 0px 1px 2px 0 rgba(0,0,0,0.3);
    color: #616161;
    padding: 5px;
}

fieldset .fa-angle-down.select_icon {
    position: absolute;
    top: 31px;
    right: 10px;
    vertical-align: middle;
    text-align: center;
    margin: 0 auto;
    font-size: 22px;
    color: #616161;
    z-index: 99999999;
}

/* The container */
.Vehicle-checklist {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    float: left;
    width: 120px;
    display: inline-block;
    line-height: 15px;
}

    /* Hide the browser's default radio button */
    .Vehicle-checklist input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
    }

/* Create a custom radio button */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 15px;
    width: 15px;
    background-color: #eee;
    border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.Vehicle-checklist:hover input ~ .checkmark {
    background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.Vehicle-checklist input:checked ~ .checkmark {
    background-color: #2196F3;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the indicator (dot/circle) when checked */
.Vehicle-checklist input:checked ~ .checkmark:after {
    display: block;
}

/* Style the indicator (dot/circle) */
.Vehicle-checklist .checkmark:after {
    top: 5px;
    left: 5px;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background: white;
}

.modal-body.login fieldset {
    height: 60px;
}

    .modal-body.login fieldset.modal_submit {
        width: 100%;
        float: left;
        display: block;
        max-width: 100%;
    }

.Vehicle-checklist {
    font-size: 17px;
}

.tab-pane .Vehicles-asign .select_drop-down {
    width: 100%;
}

.Vehicles-asign {
    position: relative;
    margin-bottom: 18px;
}

.tab-pane .Vehicles-asign .fa-angle-down.select_icon {
    position: absolute;
    top: 7px;
    right: 10px;
}

.list-group-item.active, .list-group-item.active:focus, .list-group-item.active:hover {
    z-index: 2;
    color: #fff;
    background-color: #010101;
    border-color: #010101;
}

.manage-Driver_photo {
    width: 100px;
    height: 82px;
    float: left;
    padding: 0px !important;
}

    .manage-Driver_photo.manage-driver_profile {
        width: auto;
        border: 9px solid #fff;
        height: 239px;
        box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.3);
    }

.text-danger {
    color: red !important;
}

.delete-modal {
    text-align: center;
}

.modal-body.login .delete-modal fieldset {
    width: 100%;
}

#delete-modal.modal-dialog {
    width: 498PX;
}

.modal #delete-modal .modal-body {
    padding: 30px 30px 51px;
}

.modal #delete-modal input[type="submit"] {
    margin-top: 15px;
}

.existing-vehicles li a, #fieldChooser .existing-vehicles #sourceFields div,
#fieldChooser .existing-vehicles #destinationFields div, .ddorderList div {
    color: #636363;
    text-decoration: none;
    font-size: 14px;
}

#driver_details .table-space tr td {
    padding: 8px 0px 8px 15px;
}

#deliveries_details .table-space tr td {
    padding: 8px 0px 8px 1px;
}

#driver_details tr, #deliveries_details tr {
    /* background-color: #ccc; */
    border-bottom: 1px solid #fff;
}

    #driver_details tr:last-child, #deliveries_details tr:last-child {
        border-bottom: none;
    }

.manage-Driver_photo.manage-license {
    width: 150px;
    height: 150px;
    /* float: left; */
    padding: 0px !important;
    clear: both;
    margin-top: 23px;
}

    .manage-Driver_photo.manage-license .driving-license {
        border: 5px solid #FFF;
        box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.3);
    }

.mg-0 {
    margin: 0px;
}

.main .Completion_sidebar .inner {
    border: 1px solid #e0e0e0;
    border-radius: 4px;
    padding: .8vw;
    padding-right: .6vw;
    padding-bottom: 0px;
}

.customer-col #deliveries_details .separator:before {
    width: 1px;
    height: 100%;
    background: #eeeeee;
    position: absolute;
    left: 50%;
    margin: 0 auto;
    content: '';
    display: block;
}

#deliveries_details table.table-space {
    width: 100%;
}

#deliveries_details textarea {
    resize: none;
    background-color: #fff;
}

#deliveries_details .deliveries-comment-area {
    padding: 0px 5px;
}

    #deliveries_details .deliveries-comment-area label {
        font-size: 14px;
        font-weight: normal;
    }

.input-group.date {
    width: 190px;
    float: right;
}

#deliveries-pick-date_icons {
    border: none;
    box-shadow: 0px 1px 2px 0 rgba(0,0,0,0.3);
    border-radius: 0px;
}

    #deliveries-pick-date_icons input {
        box-shadow: none;
    }

.text-success {
    font-size: 16px;
}

.order-table.card-table.stacktable i.fa.fa-times {
    color: red;
}

.order-table.card-table .fa.fa-check {
    color: green;
}

.well.table fieldset .fa-angle-down.select_icon {
    position: absolute;
    top: 7px;
    right: 21px;
    vertical-align: middle;
    text-align: center;
    margin: 0 auto;
    font-size: 22px;
    color: #616161;
    z-index: 99999999;
}
/*.well.table fieldset::after {
    pointer-events: none;
    font-family: 'FontAwesome';
    content: "\f107";
    font-size: 20px;
    position: absolute;
    right: 22px;
    top: 4px;
}*/
.well.table.icon-hide fieldset::after {
    display: none !important;
}

.existing-vehicles ul#content-2 span.inassigner-invoice {
    color: #010101;
    padding: 0px;
    font-weight: bold;
}

    .existing-vehicles ul#content-2 span.inassigner-invoice span {
        padding: 0px 10px;
    }

.well.back-trans {
    background: transparent !important;
    box-shadow: none !important;
}

.btn-primary.active, .btn-primary:focus, .btn-primary:active, .btn-primary:active:hover, .btn-primary:active:focus {
    background-color: #010101 !important;
    border-color: #010101 !important;
}

a.btn-secondary:focus {
    color: #fff;
}

.modal .modal-sm {
    width: 31.25vw !important;
}

.blue-bg, .blue-bg:hover, .blue-bg:focus {
    background-color: #010101 !important;
    text-decoration: none !important;
}

.manage-Driver_photo.manage-driver_profile, .manage-Driver_photo.manage-license {
    height: auto;
}

    .manage-Driver_photo.manage-driver_profile img {
        max-width: 221px;
        max-height: 221px;
    }

    .manage-Driver_photo.manage-license img {
        max-width: 150px;
        max-height: 150px;
    }

:focus {
    outline: none;
}

.customPaging a {
    padding: 0px 4px;
    background: #010101;
    color: #fff;
}

    .customPaging a.active {
        text-decoration: underline;
    }

.ui-sortable-helper {
    background-color: #f3f7fa !important;
    height: auto !important;
    padding: 13px 10px;
}

.delWarehouses ul li {
    padding: 7px 10px;
    background-color: #f3f7fa;
    border-bottom: 1px solid #e9ecef;
    cursor: pointer;
}

.delWarehouses li a {
    color: #636363;
    text-decoration: none;
    font-size: 14px;
}

.delWarehouses ul li {
    padding: 8px 10px;
    background-color: #f3f7fa;
    border-bottom: 1px solid #e9ecef;
    cursor: pointer;
}

    .delWarehouses ul li:hover, .delWarehouses ul li.active {
        background-color: #dbe5ed;
    }

.delWarehouses li a, {
    color: #636363;
    text-decoration: none;
    font-size: 14px;
}

select {
    -webkit-appearance: auto !important;
}