body {
    background: #ffffff;
    margin: 0;
    font-size: 0.937vw;
    padding: 0 2.3125vw;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    height: 100%;
}

img {
    max-width: 100%;
}

button:focus, input:focus, select:focus {
    border: none;
    box-shadow: none;
    outline: none;
}

option {
    padding: 0px !important;
}

.canvas, html {
    height: 100%;
}

.inner-body {
    background: #dbe5ed;
    border-radius: 4px 4px 0 0;
}

.break {
    display: block;
    clear: both;
}

p, li {
    font-size: 1em;
    line-height: 1.53em;
}

a {
    display: inline-block;
    cursor: pointer;
}

h1 {
    font-size: 2em;
    line-height: 1.4em;
    margin: 0;
}

.btn-primary {
    line-height: 1.6em;
    letter-spacing: 0.04em;
    transition: all ease .3s;
    padding: 0.375em 0 0.56em;
    border-radius: 4px;
    background: #f3f6f9;
    color: #636363;
    font-weight: 400;
    text-align: center;
}

.blue {
    color: #000000;
}

p.small {
    margin: 0;
    padding: 0.5vw 0;
}

.btn {
    background: #000000;
    color: #ffffff;
    font-size: 15px;
    font-weight: 400;
    transition: all 0.3s ease 0s;
    width: 6vw;
}

.btn-active {
    line-height: 1.6em;
    letter-spacing: 0.04em;
    transition: all ease .3s;
    padding: 0.375em 0 0.56em;
    border-radius: 4px;
    background: #a9cb00;
    color: #ffffff;
    font-weight: 400;
    text-align: center;
    width: 9.43vw;
    position: relative;
}

    .btn-active:hover {
        background: #a9cb00;
        color: #ffffff;
    }

    .btn-active span {
        display: block;
    }

        .btn-active span:before {
            content: '';
            border-radius: 100%;
            left: 1.5vw;
            top: 0.7vw;
            position: absolute;
            width: 0.75vw;
            height: 0.75vw;
            background: #ffffff;
            display: block;
        }

.well.bottom-padding {
    padding-bottom: 0;
}

.btn-primary:hover {
    text-decoration: none;
    color: #fff;
    background: #000000;
    transition: all ease .3s;
}

.btn-primary.active {
    background: #000000;
}

.btn-secondary {
    line-height: 20px;
    letter-spacing: 1px;
    transition: all ease .3s;
    padding: 0.375em 1em;
    border-radius: 0px;
    background: #000000;
    color: #ffffff;
    font-weight: 400;
    text-align: center;
}

    .btn-secondary:hover {
        text-decoration: none;
        color: #fff;
        background: #000000;
        transition: all ease .3s;
    }

p.small {
    font-size: 12px;
}

/*.small-btn {
    width: 6vw !important;
}*/

.row {
    margin: 0 -0.73em;
}

.col {
    padding: 0 0.687vw;
}

.tab-content {
    height: 32.7vw;
}

.top-bar {
    margin-bottom: 15px;
}

input[type="text"], input[type="email"], input[type="password"], input[type="text"], select, textarea {
    width: 100%;
    background: #f3f6f9;
    font-size: 14px;
    line-height: 24px;
    border-radius: 0px;
    height: auto;
    border: none;
    color: #4a4a4a;
    box-shadow: 0px 1px 2px 0 rgba(0,0,0,0.3);
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

select, textarea {
    padding: 10px 13px 9px !important;
    margin-bottom: 15px;
}

input[type="text"], input[type="email"], input[type="password"] {
    padding: 10px 13px !important;
}

.table {
    display: table;
    height: 100%;
    width: 100%;
    border: 0;
    margin: 0;
}

.table-half {
    display: table;
    height: 50%;
    width: 100%;
    border: 0;
    margin: 0;
}

/*.full-height {
    height: auto;
}*/

.well {
    padding: 1.3vw;
    background: #ffffff;
    border-radius: 4px;
    border: 0;
    position: relative;
    box-shadow: 2px 2px 2px 0 rgba(0,0,0,0.3);
}

h2 {
    font-size: 1.33em;
    line-height: 1.5em;
    letter-spacing: 0.02em;
    color: #636363;
    margin: 0 0 0.625em;
}

.active-user {
    position: absolute;
    top: 8px;
    right: 0.75vw;
}

.disabled {
    cursor: not-allowed;
    background: #c4d7e5;
    color: #aabcca;
}

    .disabled:hover {
        background: #c4d7e5 !important;
        color: #aabcca;
    }

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.header {
    padding: 1.625vw 0;
}

    .header .logo {
        display: inline-block;
    }

        .header .logo img {
            width: 16.75vw;
        }

    .header .client {
        position: relative;
    }

        .header .client h3 {
            margin: 0;
            font-size: 1.2em;
            line-height: 1.72em;
            padding: 0.75vw 2.25vw 1vw 4.5vw;
            background: url(../images/syed.jpg) no-repeat left top;
            background-size: 3.5vw;
            cursor: pointer;
            position: relative;
        }

            .header .client h3:after {
                content: url(../images/arrow.jpg);
                position: absolute;
                right: 0;
                top: .6vw;
                width: 1vw;
                height: 0.6vw;
                display: block;
            }

        .header .client ul {
            position: absolute;
            background: #fff;
            top: 100%;
            left: 0;
            width: 100%;
            z-index: 1;
            display: none;
            padding: 0;
            margin: 0;
            box-shadow: 0 1px 2px 0 rgba(0,0,0,0.3);
        }

            .header .client ul li {
                margin: 0;
                border-bottom: 1px solid #fefefe;
            }

                .header .client ul li a {
                    display: block;
                    padding: 0.5vw;
                    color: #636363;
                }

                    .header .client ul li a:hover {
                        text-decoration: none;
                        color: #636363;
                    }

                .header .client ul li:last-child {
                    margin-bottom: 0;
                }

                .header .client ul li:hover a {
                    background: #f5f5f5;
                }

.inner-body .container-fluid {
    padding: 2.25vw;
    height: 100%;
}

.navbar {
    height: 10vw;
    margin-bottom: 0;
    border: 0;
}

    .navbar .navbar-nav li {
        margin-right: 0.812vw;
        vertical-align: top;
        position: static;
    }

        .navbar .navbar-nav li a {
            padding: 0;
            font-weight: 400;
            font-size: 1.2em;
            line-height: 1.22em;
            padding: 0.625vw;
            border-radius: 0px;
            background: #f3f6f9;
            color: #636363;
            width: 12em;
            text-align: center;
            letter-spacing: 0.02em;
        }

            .navbar .navbar-nav li a img {
                width: 1.75vw;
            }

        .navbar .navbar-nav li:last-child {
            margin-right: 0;
        }

        .navbar .navbar-nav li:first-child a {
            padding: 0.622vw 1vw;
            width: auto;
        }

        .navbar .navbar-nav li.active a {
            background: #ffffff;
            border-radius: 4px 4px 0 0;
            padding-bottom: 1.15em;
            box-shadow: 2px 2px 2px 0 rgba(0,0,0,0.3);
        }

        .navbar .navbar-nav li.active .tab {
            display: block;
        }

    .navbar .tab {
        padding: 1.5vw 2.75vw;
        position: absolute;
        display: none;
        width: 100%;
        left: 0;
        top: 3.25vw;
        right: 0;
        box-shadow: 2px 2px 2px 0 rgba(0,0,0,0.3);
        background: #ffffff;
        border-radius: 4px;
    }

        .navbar .tab:after {
            content: '';
            display: block;
            clear: both;
        }

        .navbar .tab h1 {
            display: inline-block;
        }

        .navbar .tab .btn-group {
            margin-left: 2vw;
            display: inline-block;
            vertical-align: top;
        }

            .navbar .tab .btn-group .btn-border {
                font-size: 1.2em;
                line-height: 1.28em;
                padding: 0.5vw 18px;
                width: auto;
                margin-right: 0.6vw;
                border: 1px solid #000000;
                border-radius: 0px;
                color: #000000;
                transition: all ease .3s;
            }

                .navbar .tab .btn-group .btn-border:hover {
                    transition: all ease .3s;
                    background: #000000;
                    color: #ffffff;
                    text-decoration: none;
                }

                .navbar .tab .btn-group .btn-border:last-child {
                    margin-right: 0;
                }

                .navbar .tab .btn-group .btn-border.active {
                    background: #000000;
                    color: #ffffff;
                }

    .navbar form.calender input[type="submit"] {
        width: 7.125vw;
        border: 0;
        padding: 0.5em 0 0.56em;
    }

    .navbar form.calender input[type="text"] {
        width: 11.25vw;
        margin-right: 0.6vw;
    }

    .navbar form.search fieldset {
        width: 24.375vw;
        border-radius: 4px;
        overflow: hidden;
        background: #f3f6f9;
    }

        .navbar form.search fieldset input[type="text"] {
            float: left;
            width: 80%;
            border: 0;
            padding: 0.56vw 1.25vw;
            background: transparent;
            font-size: 0.93em;
            line-height: 1.5em;
        }

        .navbar form.search fieldset input[type="submit"] {
            font-size: 0;
            border: 0;
            width: 20%;
            padding: 0.625vw 0;
            background: url(../images/search.jpg) no-repeat center center;
            background-size: 1.18vw;
        }

        .navbar form.search fieldset:after {
            clear: both;
            display: block;
            content: '';
        }

        .navbar form.search fieldset ::-webkit-input-placeholder {
            color: #b9b9b9;
            opacity: 1;
        }

        .navbar form.search fieldset ::-moz-placeholder {
            color: #b9b9b9;
            opacity: 1;
        }

        .navbar form.search fieldset :-ms-input-placeholder {
            color: #b9b9b9;
            opacity: 1;
        }

        .navbar form.search fieldset :-moz-placeholder {
            color: #b9b9b9;
            opacity: 1;
        }

.navigation .search fieldset {
    width: 24.375vw;
    border-radius: 4px;
    overflow: hidden;
    background: #f3f6f9;
}

    .navigation .search fieldset input[type="text"] {
        float: left;
        width: 80%;
        border: 0;
        padding: 0.56vw 1.25vw;
        background: transparent;
        font-size: 0.93em;
        line-height: 1.5em;
    }

    .navigation .search fieldset input[type="submit"] {
        font-size: 0;
        border: 0;
        width: 20%;
        background: url(../images/search.jpg) no-repeat center center;
        background-size: 1.18vw;
        padding-top: 19px;
    }

    .navigation .search fieldset:after {
        clear: both;
        display: block;
        content: '';
    }

    .navigation .search fieldset ::-webkit-input-placeholder {
        color: #b9b9b9;
        opacity: 1;
    }

    .navigation .search fieldset ::-moz-placeholder {
        color: #b9b9b9;
        opacity: 1;
    }

    .navigation .search fieldset :-ms-input-placeholder {
        color: #b9b9b9;
        opacity: 1;
    }

    .navigation .search fieldset :-moz-placeholder {
        color: #b9b9b9;
        opacity: 1;
    }

.content {
    height: 50.23vw;
}

    .content .nav-tabs {
        margin-bottom: 0.75vw;
        border: 0;
    }

        .content .nav-tabs .btn-primary {
            width: 9.375vw;
            margin-right: 0.625em;
        }

        .content .nav-tabs li, .content .nav-tabs li.active {
            padding: 0;
            margin: 0;
            border: 0;
        }

            .content .nav-tabs li a, .content .nav-tabs li.active a {
                margin-bottom: 0;
                border-radius: 4px;
                border: 0;
            }

            .content .nav-tabs li.active a {
                color: #ffffff;
                background: #000000;
            }

            .content .nav-tabs li:hover a, .content .nav-tabs lifocus a {
                color: #ffffff;
                background: #000000;
            }

    .content .btn-group {
        margin: 0.2vw 0 0.5vw;
    }

        .content .btn-group .btn-primary {
            width: 10.1vw;
            margin-right: 0.625em;
        }

            .content .btn-group .btn-primary:last-child {
                margin-right: 0;
            }

        .content .btn-group .btn-secondary.medium-btn {
            width: 7.125vw !important;
        }

        .content .btn-group .btn-primary.large {
            width: 14vw;
        }

        .content .btn-group a.active {
            background: #000000;
        }

        .content .btn-group .btn-secondary {
            width: 7.125vw;
        }

    .content form fieldset {
        margin-bottom: 1.5em;
    }

    .content .detail {
        margin-bottom: 2vw;
    }

        .content .detail textarea {
            height: 10vw;
        }

        .content .detail:last-child {
            margin-bottom: 0;
        }

    .content .well .btn-secondary {
        border: 0;
        width: 10.125vw;
    }

    .content table.info tr:nth-child(odd) td {
        padding-bottom: 2vw;
    }

    .content table.info tr td {
        padding: 0.5VW 0;
    }

        .content table.info tr td:first-child {
            font-weight: 400;
            width: 8.43vw;
        }

    .content .well.table-half {
        height: 11.75vw;
        margin-bottom: 1vw;
    }

        .content .well.table-half:last-child {
            margin-bottom: 0;
            padding-bottom: 0;
        }

        .content .well.table-half form fieldset {
            margin-bottom: .5vw;
        }

            .content .well.table-half form fieldset p {
                display: inline-block;
                width: 8.25vw;
                font-weight: 400;
                margin: 0;
            }

            .content .well.table-half form fieldset .item {
                display: inline-block;
                width: 24.68vw;
                position: relative;
            }

            .content .well.table-half form fieldset:after {
                content: '';
                display: block;
                clear: both;
            }

            .content .well.table-half form fieldset:last-child {
                margin-bottom: 0;
            }

        .content .well.table-half form .btn-primary {
            width: 7.06vw;
            margin: 0;
        }

.file-upload__input {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    font-size: 1;
    height: 100%;
    opacity: 0;
}

.file-upload__label {
    display: block;
    margin: 0 !important;
    width: 7.06vw;
    position: relative;
}

.well.product form input[type="checkbox"] {
    margin-top: 0.7vw;
}

form span {
    position: relative;
}

.outer {
    overflow: auto;
}

.left-nav {
    border-radius: 4px;
    height: 30vw;
}

    .left-nav li {
        border-bottom: 1px solid #e9ecef;
        position: relative;
    }

        .left-nav li a {
            padding: 1.125vw 0.75vw;
            background: #f3f7fa;
            display: block;
            color: #636363;
            letter-spacing: 0.02em;
        }

        .left-nav li:hover a {
            background: #ffffff;
            border-radius: 0;
        }

        .left-nav li.active a {
            padding: 0.75vw;
            background: #ffffff !important;
            color: #636363 !important;
            position: relative;
            border-radius: 0 !important;
        }

            .left-nav li.active a:after {
                content: '';
                position: absolute;
                right: -2em;
                top: 0;
                width: 1vw;
                height: 2.9vw;
                display: block;
                border-top: 1.4vw solid transparent;
                border-bottom: 1.4vw solid transparent;
                border-left: 1vw solid #fff;
            }

.table-detail tr td {
    padding: 0.1vw 0;
    letter-spacing: 0.02em;
}

    .table-detail tr td:first-child {
        font-weight: 700;
        padding-right: 1vw;
        color: #636363;
    }

.btn-bottom {
    margin-top: 0.5vw;
}

    .btn-bottom a {
        width: 12.125vw;
    }

.form-group {
    position: relative;
}

    .form-group .edit {
        position: absolute;
        top: 0px;
        right: -77px;
    }

        .form-group .edit img {
            width: 1.375vw;
        }

    .form-group .plus {
        position: absolute;
        top: 0px;
        right: -32px;
    }

        .form-group .plus img {
            width: 1.125vw;
        }

.login-detail {
    width: 29.53vw;
    margin: 0 auto;
}

    .login-detail h1, .login-detail h2 {
        text-align: center;
        margin-bottom: 1.5vw;
    }

    .login-detail fieldset {
        margin-bottom: 1vw;
    }

        .login-detail fieldset label {
            margin-top: .5vw;
        }

    .login-detail h2 {
        padding-bottom: .8vw;
        position: relative;
    }

        .login-detail h2:after {
            width: 3vw;
            content: '';
            bottom: 0;
            position: absolute;
            left: 0;
            right: 0;
            margin: 0 auto;
            height: 1px;
            background: #e5e5e5;
        }

.login-section {
    display: table-cell;
    vertical-align: middle;
}

.form-order fieldset {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
}

    .form-order fieldset .half {
        width: 50%;
    }

    .form-order fieldset .quater {
        width: 25%;
    }

form.radio-field input[type="radio"]:checked, form.radio-field input[type="radio"]:not(:checked) {
    position: absolute;
    left: -9999px;
}

form.radio-field [type="radio"]:checked + label, form.radio-field [type="radio"]:not(:checked) + label {
    position: relative;
    padding-left: 25px;
    cursor: pointer;
    line-height: 1.25em;
    font-weight: 500;
    display: inline-block;
    color: #636363;
    font-size: 12px;
    line-height: normal !important;
}

    form.radio-field [type="radio"]:checked + label:before, form.radio-field [type="radio"]:not(:checked) + label:before {
        content: '';
        position: absolute;
        left: 0;
        top: 0px;
        width: 1.125vw;
        height: 1.125vw;
        border: 1px solid #ddd;
        border-radius: 100%;
        background: #fff;
    }

    form.radio-field [type="radio"]:checked + label:after, form.radio-field [type="radio"]:not(:checked) + label:after {
        content: '';
        width: 10px;
        height: 10px;
        background: #000000;
        position: absolute;
        top: 3px;
        left: 0.20vw;
        border-radius: 100%;
        -webkit-transition: all 0.2s ease;
        transition: all 0.2s ease;
    }

    form.radio-field [type="radio"]:not(:checked) + label:after {
        opacity: 0;
        -webkit-transform: scale(0);
        transform: scale(0);
    }

    form.radio-field [type="radio"]:checked + label:after {
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1);
    }

form.radio-field fieldset {
    display: inline-block;
    margin-right: 2vw;
    margin-top: .5vw;
    margin-bottom: 0;
}

    form.radio-field fieldset:last-child {
        margin-right: 0;
    }

.order-table {
    width: 100%;
    border: 1px solid #c5c5c5;
    border-radius: 4px;
}

    .order-table div {
        position: relative;
    }

    .order-table input[type="checkbox"]:checked, .order-table input[type="checkbox"]:not(:checked) {
        position: absolute;
        left: -9999px;
    }

    .order-table [type="checkbox"]:checked + label, .order-table [type="checkbox"]:not(:checked) + label {
        position: relative;
        padding-left: 1.5vw;
        cursor: pointer;
        line-height: 1.25em;
        font-weight: 500;
        display: inline-block;
        color: #636363;
        font-size: 1em;
    }

        .order-table [type="checkbox"]:checked + label:before, .order-table [type="checkbox"]:not(:checked) + label:before {
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            width: 1.125vw;
            height: 1.125vw;
            border: 1px solid #ddd;
            border-radius: 50%;
            background: #fff;
        }

        .order-table [type="checkbox"]:checked + label:after, .order-table [type="checkbox"]:not(:checked) + label:after {
            content: '';
            width: 0.75vw;
            height: 0.75vw;
            background: #000000;
            position: absolute;
            top: 0.20vw;
            left: 0.20vw;
            border-radius: 50%;
            -webkit-transition: all 0.2s ease;
            transition: all 0.2s ease;
        }

        .order-table [type="checkbox"]:not(:checked) + label:after {
            opacity: 0;
            -webkit-transform: scale(0);
            transform: scale(0);
        }

        .order-table [type="checkbox"]:checked + label:after {
            opacity: 1;
            -webkit-transform: scale(1);
            transform: scale(1);
        }

    .order-table th {
        font-size: 1.2em;
        line-height: 2em;
        padding: 1.125vw 0;
        text-align: center;
    }

    .order-table thead {
        background: #f3f7fa;
    }

    .order-table tr th, .order-table tr td {
        border-right: 1px solid #c5c5c5;
        border-bottom: 1px solid #c5c5c5;
        text-align: center;
    }

        .order-table tr th .btn-secondary, .order-table tr td .btn-secondary {
            width: 6.625vw !important;
            margin: 0 0.375vw;
        }

        .order-table tr th:last-child, .order-table tr td:last-child {
            border-right: 0;
        }

    .order-table tr td {
        padding: 0.5vw 1.5vw;
    }

.login .checkbox-field {
    position: relative;
}

    .login .checkbox-field label {
        margin: 0;
    }

.login input[type="checkbox"]:checked, .login input[type="checkbox"]:not(:checked) {
    position: absolute;
    left: -9999px;
}

.login [type="checkbox"]:checked + label, .login [type="checkbox"]:not(:checked) + label {
    position: relative;
    padding-left: 1.5vw;
    cursor: pointer;
    line-height: 1.25em;
    font-weight: 500;
    display: inline-block;
    color: #636363;
    font-size: 1em;
}

    .login [type="checkbox"]:checked + label:before, .login [type="checkbox"]:not(:checked) + label:before {
        content: '';
        position: absolute;
        left: 0;
        top: 3px;
        width: 1.125vw;
        height: 1.125vw;
        border: 1px solid #ddd;
        border-radius: 4px;
        background: #fff;
    }

    .login [type="checkbox"]:checked + label:after, .login [type="checkbox"]:not(:checked) + label:after {
        content: '';
        width: 0.5vw;
        height: 1vw;
        position: absolute;
        top: 0px;
        left: 0.5vw;
        border-left: 2px solid #000000;
        border-top: 2px solid #000000;
        -webkit-transition: all 0.2s ease;
        transition: all 0.2s ease;
    }

    .login [type="checkbox"]:not(:checked) + label:after {
        opacity: 0;
        -webkit-transform: scale(0) rotate(-130deg);
        transform: scale(0) rotate(-130deg);
    }

    .login [type="checkbox"]:checked + label:after {
        opacity: 1;
        -webkit-transform: scale(1) rotate(-130deg);
        transform: scale(1) rotate(-130deg);
    }

.login input[type="submit"] {
    border: 0;
    background: #000000 !important;
    min-width: 6.14vw;
    color: #ffffff;
    /*padding: 0.375em 1em 0.56em;*/
    padding: 0.375em 1em;
}

.outer-table {
    height: 23vw;
}

.left-bar form select, .left-bar form input[type="text"] {
    padding: 0.4vw 1.25vw;
    line-height: 1.3em;
}

.left-bar form .form-group {
    margin-bottom: .3vw;
}

.left-bar form .margin {
    margin-top: 0.5vw;
}

.left-bar form input[type="submit"] {
    width: 100% !important;
}

.left-bar form label {
    font-size: 14px;
    margin: 0.5vw 0 0;
    font-weight: normal;
}

.left-bar form .no-padding {
    padding: 0;
    margin: 0;
}

.left-bar form .days input[type="submit"] {
    margin: 1.1vw 0 0;
}

.left-bar form .checkbox-field {
    display: flex;
    justify-content: space-around;
    padding: 0.4vw 0;
    border-radius: 4px;
    background: #f3f7fa;
    margin: 0.5vw 0 0;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,0.3);
}

    .left-bar form .checkbox-field div {
        position: relative;
    }

    .left-bar form .checkbox-field input[type="checkbox"]:checked, .left-bar form .checkbox-field input[type="checkbox"]:not(:checked) {
        position: absolute;
        left: -9999px;
    }

    .left-bar form .checkbox-field [type="checkbox"]:checked + label, .left-bar form .checkbox-field [type="checkbox"]:not(:checked) + label {
        position: relative;
        padding-bottom: 1.5vw;
        cursor: pointer;
        line-height: 1em;
        font-weight: 500;
        display: inline-block;
        color: #636363;
        margin: 0;
    }

        .left-bar form .checkbox-field [type="checkbox"]:checked + label:before, .left-bar form .checkbox-field [type="checkbox"]:not(:checked) + label:before {
            content: '';
            position: absolute;
            bottom: 0;
            right: 0;
            left: 0;
            margin: 0 auto;
            width: 18px;
            height: 18px;
            border: 1px solid #ddd;
            border-radius: 50%;
            background: #fff;
        }

        .left-bar form .checkbox-field [type="checkbox"]:checked + label:after, .left-bar form .checkbox-field [type="checkbox"]:not(:checked) + label:after {
            content: '';
            width: 14px;
            height: 14px;
            background: #000000;
            position: absolute;
            bottom: 2px;
            left: 0;
            right: 0;
            margin: 0 auto;
            border-radius: 50%;
            -webkit-transition: all 0.2s ease;
            transition: all 0.2s ease;
        }

        .left-bar form .checkbox-field [type="checkbox"]:not(:checked) + label:after {
            opacity: 0;
            -webkit-transform: scale(0);
            transform: scale(0);
        }

        .left-bar form .checkbox-field [type="checkbox"]:checked + label:after {
            opacity: 1;
            -webkit-transform: scale(1);
            transform: scale(1);
        }

.product.well {
    padding-top: 5vw;
}

    .product.well form .form-group {
        margin-bottom: 0.5vw;
    }

        .product.well form .form-group label {
            margin: 0.5vw 0 0;
        }

.collapse-div, .collapse-div1, .collapse-div2, .collapse-div3 {
    display: none;
    text-align: center;
}

    .collapse-div li a, .collapse-div1 li a, .collapse-div2 li a, .collapse-div3 li a {
        font-weight: 400;
        text-align: left;
        padding: 0.5vw 1.75vw;
    }

.left-nav.homepage .collapse-div li:hover a {
    background: #fff !important;
}

.left-nav li a.head, .left-nav li a.head1, .left-nav li a.head2, .left-nav li a.head3 {
    background-image: url(../images/arrow.png);
    background-repeat: no-repeat;
    background-position: right 1vw center;
}

    .left-nav li a.head.active, .left-nav li a.head1.active, .left-nav li a.head2.active, .left-nav li a.head3.active {
        font-weight: 400;
        background-image: url(../images/arrow-down.png);
    }

.table-space tr td {
    padding: 0.8vw;
    font-weight: 400;
}

.well.pale-blue {
    background: #f3f7fa;
}

.nav-tabs.inner li {
    float: none;
    border-radius: 0;
    border-bottom: 1px solid #f5f5f5;
}

    .nav-tabs.inner li a {
        display: block;
        border-radius: 0;
        padding: 1.125vw 0.75vw;
        background: #ffffff;
        color: #636363;
        letter-spacing: 0.02em;
    }

        .nav-tabs.inner li a:hover {
            color: #636363;
        }

    .nav-tabs.inner li:last-child {
        border-bottom: 0;
    }

    .nav-tabs.inner li:hover a {
        background: #f3f7fa;
    }

    .nav-tabs.inner li.active {
        border-radius: 0;
        position: relative;
    }

        .nav-tabs.inner li.active a {
            border-radius: 0;
            background: #f3f7fa;
            color: #636363;
            padding: 0.75vw;
            position: relative;
        }

.left-nav.homepage li:hover {
    background-color: #dbe5ed !important;
}

    .left-nav.homepage li:hover a {
        background-color: #dbe5ed !important;
    }

.left-nav.homepage li ul li.active a {
    background: #ffffff !important;
    color: #636363;
    padding: 0.75vw;
}

.content .left-nav.nav-tabs li:hover a, .content .left-nav.nav-tabs lifocus a {
    background: #ffffff;
    color: #636363;
}

.large-only {
    display: table;
}

.small-only {
    display: none;
    margin-bottom: 15px;
}

.top-bar #user, .top-bar #user1 {
    display: none;
}

.modal {
    padding: 0 !important;
    text-align: center;
}

    .modal input[type="submit"] {
        width: 6vw;
        border: 0;
        background: #000000;
        color: #ffffff;
        float: right;
        margin-left: 3.4px;
    }

.hover-effect {
    display: inline-block;
    transform: perspective(1px) translateZ(0);
    -webkit-transform: perspective(1px) translateZ(0);
    position: relative;
    transition-duration: 0.5s;
}

    .hover-effect::before {
        content: "";
        position: absolute;
        z-index: -1;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: #2098D1;
        -webkit-transform: scaleY(0);
        transform: scaleY(0);
        -webkit-transform-origin: 50% 0;
        transform-origin: 50% 0;
        -webkit-transition-property: transform;
        transition-property: transform;
        -webkit-transition-duration: 0.5s;
        transition-duration: 0.5s;
        -webkit-transition-timing-function: ease-out;
        transition-timing-function: ease-out;
    }

    .hover-effect:hover::before, .hover-effect:focus::before, .hover-effect:active::before {
        -webkit-transform: scaleY(1);
        transform: scaleY(1);
        -webkit-transition-timing-function: cubic-bezier(0.52,1.64,0.37,0.66);
        transition-timing-function: cubic-bezier(0.52,1.64,0.37,0.66);
    }

.modal h2 {
    font-size: 2.07em;
    color: #242424;
    line-height: 1.42em;
    padding-bottom: 0.687vw;
}

    .modal h2 strong {
        font-weight: 500;
    }

.modal h1 {
    font-size: 1.5em;
    line-height: 1.3em;
}

.modal fieldset {
    margin-bottom: 2vw;
}

    .modal fieldset:last-child {
        margin-bottom: 0;
    }

.modal .close {
    position: absolute;
    top: 0.5em;
    right: 6px;
    opacity: 1;
    margin: 0;
    padding: 0;
    width: 2vw;
}

button i {
    color: #ccc;
}

.modal .modal-header {
    padding: 0;
    border: 0;
}

.modal:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -4px;
}

.modal .modal-dialog {
    display: inline-block;
    text-align: left;
    vertical-align: middle;
    width: 50.25vw;
}

.modal .modal-body {
    padding: 25px;
}

.modal .modal-dialog.modal-lg {
    width: 55.208vw;
}

.modal .margin h2 {
    margin-bottom: 23px;
}

.modal sup {
    color: #de121b;
    font-size: 20px;
    top: 0;
}

.modal label {
    color: #616161;
    font-weight: 400;
}

.checkbox.right label {
    display: block;
    width: 100%;
}

.modal .tab {
    background: #3db5e6;
    margin: -1.1em -1.1em 1.5em;
    padding-left: 1vw;
}

    .modal .tab ul {
        padding: 0;
        margin: 0;
    }

        .modal .tab ul li {
            color: #ffffff;
            text-transform: uppercase;
            padding: 1.5vw;
            display: inline-block;
            border-right: 1px solid #ffffff;
        }

            .modal .tab ul li:last-child {
                border-right: 0;
            }

.tab-content .checkbox.right {
    margin-bottom: 1vw !important;
}

.login.main h2 {
    padding-left: 1.5vw;
}

.login .checkbox.right [type="checkbox"]:checked + label:before, .login .checkbox.right [type="checkbox"]:not(:checked) + label:before {
    left: auto;
    right: 0;
}

.login .checkbox.right [type="checkbox"]:checked + label:after, .login .checkbox.right [type="checkbox"]:not(:checked) + label:after {
    left: auto;
    right: 5px;
}

.login #divUserFeatures .checkbox.right [type="checkbox"]:checked + label::after, .login #divUserFeatures .checkbox.right [type="checkbox"]:not(:checked) + label::after {
    left: auto;
    right: 1px;
    top: 1px;
}

#myModal3 .modal-body {
    padding: 2vw;
}

    #myModal3 .modal-body h2, #myModal3 .modal-body select {
        margin-bottom: 1vw;
    }

.login-page:before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(0,0,0,0.8);
    z-index: 1;
}

.login-page .canvas {
    position: relative;
    z-index: 2;
}

.login-page h1 {
    color: #fff;
}

.login-page .header {
    padding: 3.59vw 0;
}

.login-page .well {
    padding: 1.3vw 2.239vw;
}

.login-detail h2 {
    font-size: 1.94em;
}

.modal .inner-col {
    box-shadow: none;
}

.modal#delete-user .inner-col {
    text-align: center;
}

    .modal#delete-user .inner-col .table th {
        text-align: center;
        padding: 0.6vw 0;
    }

    .modal#delete-user .inner-col .table td {
        font-size: 0.9em;
        padding: 1.125vw 0;
    }

    .modal#delete-user .inner-col .listing-col {
        height: 6.145vw;
    }

.modal#delete-user .checkbox {
    margin: 0;
}

.modal#delete-user h2 {
    text-align: left;
    border: none;
}

.customer-col .separator {
    position: relative;
}

    .customer-col .separator:before {
        width: 1px;
        height: 100%;
        background: #eeeeee;
        position: absolute;
        left: 50%;
        margin: 0 auto;
        content: '';
        display: block;
    }

.customer-detail tr td {
    font-size: 0.92em;
    line-height: 1.662em;
}

    .customer-detail tr td textarea {
        font-size: 1em;
        font-weight: 300;
        margin-top: 0.572vw;
        resize: none;
    }

.customer-detail .checkbox-field {
    background: none;
    box-shadow: none;
    height: 1.125vw;
}

    .customer-detail .checkbox-field label {
        height: 1.125vw;
    }

    .customer-detail .checkbox-field div {
        position: relative;
    }

    .customer-detail .checkbox-field input[type="checkbox"]:checked, .customer-detail .checkbox-field input[type="checkbox"]:not(:checked) {
        position: absolute;
        left: -9999px;
    }

    .customer-detail .checkbox-field [type="checkbox"]:checked + label, .customer-detail .checkbox-field [type="checkbox"]:not(:checked) + label {
        position: relative;
        padding-left: 1.5vw;
        cursor: pointer;
        line-height: 1.25em;
        font-weight: 500;
        display: inline-block;
        color: #636363;
        font-size: 1em;
    }

        .customer-detail .checkbox-field [type="checkbox"]:checked + label:before, .customer-detail .checkbox-field [type="checkbox"]:not(:checked) + label:before {
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            width: 1.125vw;
            height: 1.125vw;
            border: 1px solid #ddd;
            border-radius: 4px;
            background: #fff;
        }

        .customer-detail .checkbox-field [type="checkbox"]:checked + label:after, .customer-detail .checkbox-field [type="checkbox"]:not(:checked) + label:after {
            content: '';
            width: 0.5vw;
            height: 1vw;
            position: absolute;
            top: -0.1em;
            left: 0.5vw;
            border-left: 2px solid #000000;
            border-top: 2px solid #000000;
            -webkit-transition: all 0.2s ease;
            transition: all 0.2s ease;
        }

        .customer-detail .checkbox-field [type="checkbox"]:not(:checked) + label:after {
            opacity: 0;
            -webkit-transform: scale(0) rotate(-130deg);
            transform: scale(0) rotate(-130deg);
        }

        .customer-detail .checkbox-field [type="checkbox"]:checked + label:after {
            opacity: 1;
            -webkit-transform: scale(1) rotate(-130deg);
            transform: scale(1) rotate(-130deg);
        }

.main h2 {
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
}

.main .content .container-fluid {
    padding: 0 1vw;
}

.main .navbar {
    height: 9vw;
}

    .main .navbar .tab {
        box-shadow: none;
    }

.main .content {
    background: #ffffff;
}

    .main .content .well {
        box-shadow: none;
        padding: 0.2vw 0 0;
        margin-bottom: .75vw;
    }

.main .inner {
    border: 1px solid #e0e0e0;
    border-radius: 4px;
    padding: .8vw;
    padding-right: .6vw;
}

    .main .inner .price {
        font-size: 1.33em;
        line-height: 1em;
    }

        .main .inner .price span {
            font-size: 1.5em;
        }

    .main .inner .price-selection {
        border-top: 2px solid #f0eef0;
        color: #cb3735;
        font-size: 1.3em;
        font-weight: 500;
        line-height: 1em;
        margin-bottom: 0;
        margin-top: 1.7vw;
        padding: 1vw 0 0vw 1.5vw;
        position: relative;
    }

        .main .inner .price-selection span:after {
            content: '';
            display: block;
            position: absolute;
            border-top: 0.6vw solid transparent;
            border-bottom: 0.6vw solid transparent;
            border-left: 0.6vw solid #cb3735;
            transform: rotate(270deg);
            left: 5px;
            top: 4px;
            width: 30px;
        }

    .main .inner .img {
        display: block;
        width: 8.375vw;
    }

    .main .inner .pie {
        text-align: center;
        margin: 2.25vw 0;
        position: relative;
    }

        .main .inner .pie .piechart {
            width: 8.18em;
        }

        .main .inner .pie p {
            position: absolute;
            display: inline-block;
        }

            .main .inner .pie p img {
                width: 1.31vw;
            }

        .main .inner .pie .left {
            left: 1vw;
            top: .5vw;
        }

        .main .inner .pie .right {
            right: 0;
            top: 2vw;
        }

        .main .inner .pie .bottom {
            left: .5vw;
            bottom: .5vw;
        }

    .main .inner .well.inner {
        padding: 1vw !important;
    }

        .main .inner .well.inner ul {
            height: 6vw;
        }

    .main .inner .well.pale-blue {
        padding: 2vw .5vw 2vw;
    }

        .main .inner .well.pale-blue .graph {
            display: flex;
            flex-direction: column;
            padding-left: .5vw;
            padding-bottom: .5vw;
            padding-top: 1.5vw;
            position: relative;
        }

            .main .inner .well.pale-blue .graph p {
                display: flex;
                align-items: center;
            }

            .main .inner .well.pale-blue .graph:before {
                content: '';
                position: absolute;
                left: 0;
                top: 0;
                bottom: 0;
                width: 2px;
                background: #000;
                display: block;
            }

            .main .inner .well.pale-blue .graph:after {
                content: '';
                position: absolute;
                left: 0;
                bottom: 0;
                height: 2px;
                background: #000;
                display: block;
                width: 50%;
            }

        .main .inner .well.pale-blue .bar {
            height: 1.125vw;
            margin-right: .5vw;
            display: inline-block;
        }

        .main .inner .well.pale-blue .red {
            width: 5vw;
            background: #ec5345;
        }

        .main .inner .well.pale-blue .blue {
            width: 5vw;
            background: #043552;
        }

        .main .inner .well.pale-blue .yellow {
            width: 2vw;
            background: #fbae29;
        }

.main .history-col .btn-group .btn-secondary {
    width: 7.125vw;
    font-size: 12px;
    margin: 0px;
    padding: 0.375em 1em 0.56em;
    letter-spacing: 1px;
    border-radius: 0px;
}

.main .history-col form.radio-field fieldset {
    margin-right: 0.812vw;
    margin-top: 0;
}

.main .history-col form.radio-field [type="radio"]:checked + label, .main .history-col form.radio-field [type="radio"]:not(:checked) + label {
    font-size: 15px;
    line-height: normal;
}

    .main .history-col form.radio-field [type="radio"]:checked + label::after, .main .history-col form.radio-field [type="radio"]:not(:checked) + label::after {
        width: 14px;
        height: 14px;
        top: 3px;
        left: 3px;
    }

    .main .history-col form.radio-field [type="radio"]:checked + label:before, .main .history-col form.radio-field [type="radio"]:not(:checked) + label:before {
        width: 20px;
        height: 20px;
    }

.main .history-col .order-table [type="checkbox"]:checked + label:before, .main .history-col .order-table [type="checkbox"]:not(:checked) + label:before {
    width: .7vw;
    height: .7vw;
}

.main .history-col .order-table [type="checkbox"]:checked + label:after, .main .history-col .order-table [type="checkbox"]:not(:checked) + label:after {
    top: 0.20vw;
    left: 0.20vw;
    width: 0.35vw;
    height: 0.35vw;
}

.main .history-col .order-table [type="checkbox"]:checked + label, .main .history-col .order-table [type="checkbox"]:not(:checked) + label {
    padding-left: 1vw;
}

.main .history-col .outer-table {
    height: 15.11vw;
}

    .main .history-col .outer-table [type="checkbox"]:checked + label, .main .history-col .outer-table [type="checkbox"]:not(:checked) + label {
        font-size: 1em;
        line-height: 1em;
    }

    .main .history-col .outer-table tr th, .main .history-col .outer-table tr td {
        font-size: 12px;
        line-height: 20px;
        padding: 5px 0px;
    }

.price-section {
    border-bottom: 1px solid #e5e5e5;
    padding: 5px 0;
}

    .price-section p.big {
        margin: 0;
        font-size: 2em;
        line-height: 1em;
    }

        .price-section p.big span {
            font-size: 1.3em;
        }

    .price-section .mcenter {
        text-align: center;
    }

    .price-section p.medium span {
        font-size: 20px;
    }

    .price-section p.small {
        padding: 0;
    }

    .price-section:last-child {
        border-bottom: 0;
    }

.status {
    background: #000000;
    border-radius: 0px;
    display: flex;
    justify-content: space-between;
    padding: .6vw .75vw;
    width: 100%;
    margin-bottom: 1em;
    border-color: #000000;
    color: #fff;
}

    .status p {
        font-size: 1.67em;
        font-weight: 700;
        margin: 0;
    }

        .status p .small {
            padding: 0;
            font-size: 0.72em;
        }

.bar-status .line {
    height: .5em;
    width: 100%;
    background: #000;
    clear: both;
    display: block;
    overflow: hidden;
    position: relative;
}

.bar-status .bar {
    width: 0;
    left: 0;
    top: 0;
    bottom: 0;
    background: #000000;
    position: absolute;
    z-index: 2;
}

.content .btn-col .btn-secondary {
    width: 8vw;
    margin-bottom: 1vw;
    line-height: 1.3em;
}

.content .well.small-well {
    height: 10.6vw;
}

.content .well.table-half form .btn-primary {
    display: inline-block;
}

.content .well.table-half form .small-text {
    color: #949494;
}

.content .pop-up-form fieldset {
    margin-bottom: 0;
}

    .content .pop-up-form fieldset p {
        margin-bottom: 0;
    }

    .content .pop-up-form fieldset input[type="submit"] {
        /*height: 2.062vw;*/
        margin-top: 0.562vw;
    }

.content .pop-up-form .item {
    position: relative;
}

    .content .pop-up-form .item .btn-primary {
        display: inline-block;
    }

.content .pop-up-form textarea {
    display: block;
}

.content .pop-up-form h2 {
    margin-bottom: .1em;
}

.white-bg {
    background: #fff !important;
}

.table-auto {
    height: auto;
}

    .table-auto.well {
        padding: 0.937vw 1.3vw;
    }

.left-bar form .form-group {
    margin-bottom: 1.35vw;
}

#delivery form .row {
    margin-bottom: 0.687vw;
}

    #delivery form .row input[type="submit"] {
        background: #000000;
    }

#import-pantry .file-upload__label {
    display: inline-block;
}

#import-pantry form label {
    padding: 0.375em 0 0.56em;
}

#import-pantry form .item {
    margin-bottom: 0.687vw;
}

#myModal01 .checkbox-field > label, #myModal1 .checkbox-field > label {
    left: 20px;
    top: -15px;
}

.requests-table .btn-secondary {
    background: #000000 none repeat scroll 0 0;
}

    .requests-table .btn-secondary:last-child {
        background: #000000 none repeat scroll 0 0;
    }

.msg-group .well {
    padding: 0;
    height: 23vh;
}

.msg-group .left-nav {
    height: 9vw;
}

    .msg-group .left-nav li {
        border-bottom: 0 none;
    }

        .msg-group .left-nav li a {
            padding: 0.3vw 0.5vw;
        }

.msg-group p, .msg-group li {
    font-size: 0.8em;
    line-height: 1em;
}

.my-account .navbar {
    height: 4vw;
}

.my-account .login-detail .well {
    box-shadow: 0 1px 3px 0 rgba(0,0,0,0.2);
    padding: 2vw 3vw 1vw;
    margin: 6vh 0vh;
}

.my-account .login-detail {
    width: 33vw;
}

.my-account .content form fieldset {
    margin-bottom: 1em;
}

.my-account #login-account .well {
    box-shadow: 0 1px 3px 0 rgba(0,0,0,0.2);
    clear: both;
    float: left;
    margin: 5vh 0vh;
    width: 100%;
}

.pull-left.pagination {
    margin: 7px 0 0;
}

    .pull-left.pagination > span {
        background: #444444 none repeat scroll 0 0;
        border-radius: 5px;
        color: #ffffff;
        padding: 0.5vw 1vw;
    }

.left-nav li a:hover, .left-nav li a:focus, .left-nav li a:active {
    text-decoration: none;
}

.left-nav li a.active, .left-nav.homepage li:hover a:hover {
    background-color: #000000 !important;
    color: #fff;
}

.my-account .btn-primary.active {
    width: 10.1vw;
}

.mrgin-disply {
    margin: 0px auto;
    display: block;
}

.forgot-label {
    padding: 0px;
    margin: 0px;
    line-height: 34px;
    vertical-align: middle;
}

.order-table.card-table.stacktable.large-only thead tr th:first-child, .order-table.card-table.stacktable.large-only tbody tr td div {
    text-align: left;
    padding-left: 3px;
}

.modal-body.login h2 {
    text-align: center;
}

.bottm-btn_pding {
    margin-top: 13px;
}

.jconfirm.jconfirm-modern .jconfirm-cell, .modal.fade.in {
    background-color: rgba(0,0,0,0.6);
}

.jconfirm-holder .jconfirm-box.jconfirm-hilight-shake.jconfirm-type-default, .modal-dialog .modal-content {
    border-radius: 0px;
}

.mrgin-lft {
    margin-left: 15px;
}

.special label {
    float: left;
    padding-right: 13px;
}

.flt-lt {
    float: left;
}

.btn-primary {
    border-radius: 0px;
}

.well.table.product .fa-angle-down.select_icon, #divLeft .well.table .fa-angle-down.select_icon {
    position: absolute;
    top: 12px;
    right: 16px;
    vertical-align: middle;
    text-align: center;
    margin: 0 auto;
    font-size: 22px;
    color: #616161;
    z-index: 1;
}

.well.table.product select {
    position: relative;
}

textarea {
    resize: none;
}

.well.table.product label {
    font-size: 14px;
}

.pading-top {
    padding-top: 20px;
}

.pading-top-10 {
    padding-top: 10px;
}

option {
    padding: 7px 0px;
    border-bottom: 1px solid #ececec;
}

#divProduct, #divNonProduct option, .well.pale-blue ul div li {
    padding: 7px 0px;
    border-bottom: 1px solid #ececec;
}

    #divProduct, #divNonProduct option:last-child, .well.pale-blue ul div li:last-child {
        border-bottom: none;
    }

.modal-header button.close {
    cursor: pointer;
    z-index: 99;
}

#txtNoticeMessage, #txtWelcomeMessage {
    box-shadow: 0px 0px 3px 0 rgba(0,0,0,0.3);
    margin-top: 6px;
}

#txtNoticeMessage, #formDeliveryDaysAU p, .pop-up-form fieldset p {
    padding: 10px auto;
}

.pop-up-form fieldset a.btn-secondary {
    float: right !important;
    /*margin-top: 10px;*/
    margin-top: -45px;
    padding: 10px 0px 10px 0;
}

.plus, .edit {
    background: #f3f6f9;
    padding: 11px 12px 10px;
    box-shadow: 0px 1px 2px 0 rgba(0,0,0,0.3);
}

    .plus i, .edit i {
        font-size: 20px;
        color: #000000;
    }

    .plus:hover, .edit:hover {
        background-color: #000000;
        color: #fff;
    }

        .plus:hover i, .edit:hover i {
            color: #fff;
        }

.tooltip {
    width: auto;
}

.tooltip-inner {
    background-color: #000000 !important;
    color: #fff;
    z-index: 1;
}

.tooltip.top .tooltip-arrow {
    border-top-color: #000000;
    z-index: 1;
}

#divLeft fieldset p, #divLeft label, .well.table-auto .pop-up-form p, .main-offline .left-bar form label {
    font-size: 16px;
  
    color: #787878;
    font-weight: 400;
    margin-top: 8px;
}

    .well.table-auto .pop-up-form p i, #divLeft p em, .main-offline p em {
        font-size: 13px;
        color: #ff9696;
        padding-bottom: 5px;
    }

.margin-top-15 {
    margin-top: 15px;
}

#wkDays, .section.full-height .well.pale-blue.inner {
    border-radius: 0px;
}

.order-table tr td:first-child, .order-table tr td:nth-child(2), .order-table tr td:nth-child(3) {
    text-align: left;
    padding: 0.5vw 0.7vw;
}

.toparrowbtn.sort-position {
    position: absolute;
}

.toparrowbtn {
    color: #000000;
}

#divLeft .well.table, .main-offline .well.table {
    /* padding: 2.937vw 1.3vw !important;*/
    padding: 0.937vw 1.3vw !important;
}

.main-offline .form-group, .width_100 {
    float: left;
    width: 100%;
}

.history-col #content-2 .order-table tr td:first-child {
    text-align: left;
    padding: 0.5vw 0.7vw;
}

.pading-bottom-10 {
    padding-bottom: 10px;
}

.bdr-radius {
    border-radius: 0px !important;
}

    .bdr-radius::before {
        content: "$";
        position: absolute;
        color: rgba(167,167,167,0.19);
        font-weight: bold;
        font-size: 120px;
        left: 35px;
        top: -3px;
    }

.blue_color .well h4 {
    background-color: #000000;
    color: #fff;
    margin: 0px;
    padding: 9px 0px;
    border-color: #000000;
}

#divCustomerDetail .separator.customer-detail {
    padding-top: 30px;
}

#divCustomerDetail .table-detail tr td:last-child {
    text-align: right;
}

#divCustomerDetail .table-detail tr {
    border-bottom: 1px solid #e9e9e9;
}

    #divCustomerDetail .table-detail tr:last-child {
        border-bottom: 0px;
    }

    #divCustomerDetail .table-detail tr td {
        padding: 5px 0px;
    }

#repcustomerformModal.modal .modal-dialog {
    width: 600px;
}

fieldset span {
    text-align: left;
}

.tab-content .checkbox.right.brder_feature {
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
}

.flt-rt {
    float: right;
}

.arrow-img {
    position: absolute;
    right: 17px;
    z-index: 9;
    top: 12px;
    max-width: 16px;
}

#divProduct select option, #divNonProduct select option, #ddlTagNames option {
    padding: 7px 0px !important;
}

select {
    background-image: url('../images/down-arrow.png');
    background-repeat: no-repeat;
    background-position: right 8px center;
    background-size: 17px;
}

#formCustomerAU fieldset label, #formUserAU label, #formMyAccount label, #formLoginAccount label, #formChangePassword label {
    float: left;
    text-align: left;
    padding-right: 12px;
    font-weight: 400;
}

.login #divUserList [type="checkbox"]:checked + label:before, .login #divUserList [type="checkbox"]:not(:checked) + label:before {
    top: -7px;
}

.login #divUserList [type="checkbox"]:checked + label:after, .login #divUserList [type="checkbox"]:not(:checked) + label:after {
    top: -10px;
}

.pull-leftmgn {
    margin-bottom: 10px;
}

.pullrightcustom {
    float: right;
}

.lbltxt1 {
    float: left;
    font-weight: bold;
    padding-top: 7px;
    margin-right: 5px;
}

.lftcstm {
    float: left !important;
    margin-right: 10px;
    width: 150px !important;
    border: 1px solid #000000;
    border-radius: 4px;
}

.rightcstm {
    float: right !important;
}

.cstmbg {
    background-color: transparent !important;
    box-shadow: none !important;
}

.txtright {
    text-align: right;
    font-weight: bold;
    padding-right: 0 !important;
}

.rightcstmwd {
    width: 250px !important;
}

    .rightcstmwd fieldset {
        width: 100% !important;
    }

.htcstm {
    height: 36px !important;
}

.bordercstm {
    border: none !important;
}

.mgntop20 {
    margin-top: 10px;
}

.socontentpd {
    padding: 14px 0 15px 0;
}

.selectcstm {
    padding: 4px 5px 4px 5px !important;
    background-position: right 4px center;
    background-size: 9px;
    background-image: url('../images/down-arrow.png');
    background-repeat: no-repeat;
}

.socontenttop {
    float: left;
    clear: left;
    width: 100%;
}

.socontentleft {
    float: left;
}

.socontentright {
    float: right;
}

.ddwrap {
    float: left;
    margin-right: 10px;
}

    .ddwrap select {
        border: 2px solid #000000;
        border-radius: 4px;
        box-shadow: none;
        background-color: #fff;
        height: 30px;
        padding: 1px 0 0 2px;
        width: 200px;
        text-transform: uppercase;
        color: #666;
        font-weight: bold;
        font-size: 0.9em;
    }

.fieldeditabledd {
    border: none;
    border-radius: 4px;
    box-shadow: none;
    background-color: #fff;
    height: 30px;
    padding: 1px 0 0 2px;
    text-transform: uppercase;
    color: #666;
    font-weight: bold;
    font-size: 0.9em;
}

.socontentbtnwrap {
    float: left;
}

.socontentbtnwrap2 {
    float: none;
    width: 100px;
    margin: 15px auto 20px auto;
    padding-bottom: 20px;
}

.approveall {
    float: right;
    clear: left;
    margin-top: 15px;
}

.btndlblue {
    float: left;
    height: 30px;
    text-align: center;
    background-color: #739FC2;
    color: #fff;
    font-weight: bold;
    border: none;
    border-radius: 4px;
    padding: 5px 30px 5px 30px;
}

.btndlbluenrm {
    float: left;
    height: 34px;
    text-align: center;
    background-color: #000000;
    color: #fff;
    font-weight: 500;
    border: none;
    border-radius: 4px;
    font-size: 1.2em;
    line-height: 1.28em;
    padding: 6px 0 !important;
    width: 110px !important;
    border: 1px solid #000000;
    transition: all ease .3s;
    box-shadow: 2px 2px 2px 0 rgba(0,0,0,0.3);
}

.mdlpd {
    padding: 10px 18px 15px 18px;
}

.socontentrightrow {
    float: left;
    clear: left;
}

.socontentrightrowlabel {
    float: left;
    min-width: 100px;
    text-align: right;
    text-transform: uppercase;
    color: #000000;
    font-weight: bold;
}

.socontentrightrowlabelval {
    float: left;
    min-width: 160px;
    padding-left: 5px;
    text-align: right;
    font-weight: bold;
    text-transform: uppercase;
}

.socontentmain {
    float: left;
    clear: left;
    width: 100%;
}

.socontentmaintable table {
    width: 100%;
    margin-top: 15px;
}

    .socontentmaintable table tr th {
        background-color: #F3F7FA;
        border: 1px solid #ddd;
        padding: 15px 15px 15px 15px;
        text-align: center;
    }

    .socontentmaintable table tr td {
        border: 1px solid #ddd;
        padding: 15px 15px 15px 15px;
        text-align: center;
    }

.fieldeditable {
    border: 1px solid #ddd;
    padding: 5px 20px 5px 20px;
}

.btndlbluetable {
    float: left;
    height: 30px;
    width: 100%;
    display: block;
    margin: 0 auto;
    text-align: center;
    background-color: #739FC2;
    color: #fff;
    font-weight: bold;
    border: none;
    border-radius: 4px !important;
    padding: 5px 30px 5px 30px;
}

.btndlbluetable2 {
    float: left;
    height: 30px;
    width: 100%;
    display: block;
    margin: 0 auto;
    text-align: center;
    background-color: #000;
    color: #fff;
    font-weight: bold;
    border: none;
    border-radius: 4px;
    padding: 5px 30px 5px 30px;
}

.btndlbluetable3 {
    float: left;
    height: 34px;
    text-align: center;
    background-color: #000000;
    color: #fff;
    font-weight: 500;
    border: none;
    border-radius: 4px;
    font-size: 0.9em;
    line-height: 1.28em;
    padding: 6px 0 !important;
    width: 110px !important;
    border: 1px solid #000000;
    transition: all ease .3s;
    box-shadow: 2px 2px 2px 0 rgba(0,0,0,0.3);
}

.promptmsg {
    float: left;
    clear: left;
    width: 100%;
    font-size: 1.7em;
    font-weight: bold;
    text-align: center;
    color: #000;
    padding-top: 10px;
}

.promptmsg2 {
    float: left;
    clear: left;
    width: 100%;
    font-size: 1.7em;
    font-weight: bold;
    text-align: center;
    color: #000;
    padding-bottom: 10px;
}

.arht {
    height: 150px;
}

.promptmsgdesc {
    float: left;
    clear: left;
    width: 100%;
    font-size: 1.3em;
    font-weight: bold;
    text-align: center;
    color: #777;
    padding-top: 4px;
    padding-bottom: 4px;
    margin-bottom: 10px;
}

.popupbtnwrap {
    width: 250px;
    clear: left;
    margin: 0 auto;
}

.pbtnleft {
    float: left;
    width: 120px;
}

.pbtnrght {
    float: right;
    width: 120px;
}

.btndlgrey {
    float: left !important;
    height: 35px !important;
    width: 100% !important;
    text-align: center !important;
    background-color: #cccccc !important;
    color: #000 !important;
    font-weight: bold !important;
    border: none !important;
    border-radius: 2px !important;
    font-size: 1.1em;
    padding: 8px 20px 12px 20px !important;
}

.modalcustom {
    padding-top: 20px !important;
    padding-bottom: 40px !important;
    border-radius: 5px !important;
    box-shadow: 0 0 22px #000 !important;
}

.modalwide2 {
    width: 80% !important;
}

.socontentmaintable2ht {
    height: 300px;
    overflow-y: auto;
    overflow-x: hidden;
}

.close {
    top: -32px !important;
    right: -40px !important;
    font-size: 2.3em !important;
    border: 3px solid #ddd !important;
    border-radius: 50% !important;
    height: 35px !important;
    width: 35px !important;
    padding-top: 0 !important;
    line-height: 0 !important;
}

.modalbodycustom {
    padding-top: 10px !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
    padding-bottom: 0 !important;
    border-radius: 0 0 5px 5px;
}

.modalradius {
    border-radius: 4px !important;
    box-shadow: 0 0 22px #000 !important;
}

.modalcontentrow {
    float: left;
    clear: left;
    width: 100%;
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px;
    margin-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
}

.modalcontentrow2 {
    float: left;
    clear: left;
    width: 100%;
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
}

.suppliernamelbl {
    color: #000000;
    font-size: 1.7em;
    font-weight: bold;
}

.suppliernameval {
    color: #777;
    font-size: 1.7em;
    font-weight: bold;
}

.btntblwrap {
    float: left;
    width: 100px;
}

.orderbtnwrap {
    float: left;
    width: 60px;
}

.editbtnwrap {
    float: right;
    width: 30px;
}

.orderbtnwrap2 {
    float: left;
    width: 60px !important;
    margin-right: 5px;
}

.ordrbtnblue {
    background-color: #000000;
    padding: 5px 10px 5px 10px;
    color: #fff;
    font-size: 1em !important;
    font-weight: bold;
    text-align: center;
    width: 100%;
    height: 28px;
    border: none;
}

.ordrbtnbluenw2 {
    background-color: #000000;
    padding: 5px 10px 5px 10px;
    color: #fff;
    font-size: 0.9em !important;
    font-weight: bold;
    text-align: center;
    width: 100% !important;
    height: 32px;
    border: none;
}

.editbtnwrap {
    float: right;
    height: 28px;
    width: 30px;
    border: 2px solid #000000;
    text-align: center;
    padding-top: 2px;
}

.editbtnwrap2 {
    float: left;
    height: 28px;
    width: 30px;
    margin-right: 5px;
    border: 2px solid #000000;
    text-align: center;
    padding-top: 2px;
}

    .editbtnwrap2:last-child {
        float: left;
        height: 28px;
        width: 30px;
        margin-right: 0;
        border: 2px solid #000000;
        text-align: center;
        padding-top: 2px;
    }

.btntblwrap2 {
    width: 165px;
    float: left;
}

.mgnrght20 {
    margin-right: 15px;
}

.rdst {
    font-size: 1.2em;
    font-weight: bold;
    color: #999;
}

.modalcontentrow {
    float: left;
    clear: left;
    width: 100%;
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px;
    margin-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
}

.modalcontentrow2 {
    float: left;
    clear: left;
    width: 100%;
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
}

.suppliernamelbl {
    color: #000000;
    font-size: 1.7em;
    font-weight: bold;
}

.suppliernameval {
    color: #777;
    font-size: 1.7em;
    font-weight: bold;
}

.lbllft {
    float: left;
    margin-right: 15px;
}

.suppliernamelbl2 {
    color: #000;
    font-size: 1.4em;
    font-weight: bold;
}

.suppliernameval2 {
    color: #777;
    font-size: 1.4em;
    font-weight: bold;
}

.socontentmain2 {
    float: left;
    clear: left;
    width: 100%;
}

.socontentmaintable2 table {
    width: 100%;
}

    .socontentmaintable2 table tr th {
        background-color: #000000;
        border: none;
        padding: 14px 15px 14px 15px;
        text-align: center;
        color: #fff !important;
        font-size: 1.3em;
    }

    .socontentmaintable2 table tr td {
        border: 1px solid #ddd;
        padding: 15px 15px 15px 15px;
        text-align: center;
        font-size: 1.3em;
        font-weight: bold;
        color: #999;
    }

.drk {
    color: #222 !important;
}

.modalwide3 {
    width: 650px !important;
}

.socontentmain3 {
    float: left;
    clear: left;
    width: 100%;
}

.socontentmaintable3 table {
    width: 100%;
    margin-top: 20px;
}

    .socontentmaintable3 table tr td {
        border: 1px solid #ddd;
        padding: 15px 15px 15px 15px;
        text-align: left;
        font-size: 1.3em;
        font-weight: bold;
        color: #999;
    }

.lbllfthorz {
    float: left !important;
    clear: left !important;
    font-size: 0.9em !important;
    border-bottom: 1px solid #ddd;
    width: 100%;
    padding-bottom: 5px;
    margin-bottom: 5px;
}

    .lbllfthorz:last-child {
        border-bottom: none;
    }

.close {
    color: #fff !important;
}

@media (max-width: 1366px) {
    .main .inner .well.pale-blue {
        padding: 1vw .5vw 1vw;
    }

    .my-account .login-detail .well {
        margin: 3vh 0vh;
        padding: 2vw 2vw 1vw;
    }
}

@media (max-width: 1199px) {
    .pullrightcustom {
        margin-bottom: 10px;
    }

    .pullrightcustom {
        float: left;
        clear: left;
        width: 100%;
    }

    body {
        background: #ffffff;
        margin: 0;
        font-size: 15px;
        padding: 0 15px;
        box-sizing: border-box;
        font-family: 'Roboto', sans-serif;
        font-weight: 300;
        height: 100%;
    }

    img {
        max-width: 100%;
    }

    .canvas, html {
        height: 100%;
    }

    .inner-body {
        background: #dbe5ed;
        border-radius: 4px 4px 0 0;
    }

    .break {
        display: block;
        clear: both;
    }

    p, li {
        font-size: 15px;
        line-height: 20px;
    }

    a {
        display: inline-block;
    }

    h1 {
        font-size: 25px;
        line-height: 34px;
        margin: 0;
    }

    .btn-primary {
        line-height: 24px;
        letter-spacing: 0.04em;
        transition: all ease .3s;
        padding: 6px 10px;
        border-radius: 0px;
        background: #f3f6f9;
        color: #636363;
        font-weight: 400;
        text-align: center;
    }

    .btn-grey {
        background: #e2ebf5;
    }

    .blue {
        color: #000000;
    }

    p.small {
        margin: 0;
        padding: 8px 0;
    }

    .btn-active {
        line-height: 24px;
        letter-spacing: 0.04em;
        transition: all ease .3s;
        padding: 6px 10px;
        border-radius: 4px;
        background: #a9cb00;
        color: #ffffff;
        font-weight: 400;
        text-align: center;
        width: 8.43vw;
        position: relative;
    }

        .btn-active:hover {
            background: #a9cb00;
            color: #ffffff;
        }

        .btn-active span {
            display: block;
        }

            .btn-active span:before {
                content: '';
                border-radius: 100%;
                left: 10px;
                top: 50%;
                margin-top: -6px;
                position: absolute;
                width: 12px;
                height: 12px;
                background: #ffffff;
                display: block;
            }

    .well.bottom-padding {
        padding-bottom: 0;
    }

    .btn-primary:hover {
        text-decoration: none;
        color: #fff;
        background: #000000;
        transition: all ease .3s;
    }

    .btn-primary.active {
        background: #000000;
    }

    .btn-secondary {
        border-radius: 4px;
        background: #000000;
        color: #fff !important;
        font-weight: 400;
        text-align: center;
        width: 7.125vw;
        font-size: 12px;
        margin: 0px;
        padding: 0.375em 1em 0.56em;
        letter-spacing: 1px;
        border-radius: 0px;
    }

        .btn-secondary:hover {
            text-decoration: none;
            color: #fff;
            background: #000000;
            transition: all ease .3s;
        }

    p.small {
        font-size: 12px;
    }

    .row {
        margin: 0 -5px;
    }

    .col {
        padding: 0 5px;
    }

    .tab-content {
        height: 32.7vw;
    }

    input[type="text"], input[type="email"], input[type="password"], select, textarea {
        width: 100%;
        background: #f3f6f9;
        font-size: 14px;
        line-height: 24px;
        border-radius: 0px;
        height: auto;
        border: none;
        color: #4a4a4a;
        box-shadow: 0px 1px 2px 0 rgba(0,0,0,0.3);
    }

    .well {
        padding: 15px;
        background: #ffffff;
        border-radius: 4px;
        border: 0;
        position: relative;
        box-shadow: 0 1px 2px 0 rgba(0,0,0,0.3);
    }

    h2 {
        font-size: 20px;
        line-height: 25px;
        letter-spacing: 0.02em;
        color: #636363;
        margin: 0 0 10px;
    }

    .active-user {
        position: absolute;
        top: 10px;
        right: 10px;
    }

    .tab-content .checkbox.right {
        margin-bottom: 10px;
    }

    #myModal3 .modal-body {
        padding: 15px;
    }

    .header {
        padding: 15px 0;
    }

        .header .logo img {
            max-width: 190px;
            width: 100%;
        }

        .header .client h3 {
            font-size: 15px;
            line-height: 24px;
            padding: 10px 20px 10px 50px;
            background-size: 40px auto;
        }

            .header .client h3:after {
                top: 10px;
                width: 15px;
                height: 17px;
            }

    .navbar .navbar-nav li a img {
        width: 28px;
    }

    .navbar .navbar-nav li:first-child a {
        padding: 7px 16px 8px;
    }

    .navbar .navbar-nav li a {
        font-size: 15px;
        line-height: 20px;
        padding: 9px 15px;
        width: auto;
    }

    .navbar .navbar-nav li.active a {
        padding-bottom: 16px;
    }

    .navbar .navbar-nav li {
        margin-right: 10px;
    }

    .navbar .tab {
        padding: 15px;
    }

    .navbar-nav {
        float: none;
    }

    .navbar {
        height: auto;
    }

        .navbar .tab {
            top: 45px;
        }

        .navbar form.search fieldset {
            width: 200px;
        }

    .content, tab-content {
        height: auto;
    }

    .navbar form.search fieldset input[type="text"] {
        padding: 8px 20px;
    }

    .navbar form.search fieldset input[type="submit"] {
        padding: 8px 0;
        background-size: auto;
    }

    .content {
        padding-top: 70px;
        overflow: hidden;
    }

        .content .tab-content {
            height: 100%;
        }

        .content .well .btn-secondary {
            width: auto;
        }

    .left-nav {
        height: 300px;
    }

    .content .nav-tabs .btn-primary {
        width: auto;
        margin-right: 8px;
    }

    .content .detail {
        margin-bottom: 30px;
    }

    .content .btn-group .btn-primary, .btn-active {
        width: auto;
    }

        .btn-active span {
            padding-left: 20px;
        }

    .left-bar form label {
        font-size: 14px;
        line-height: 20px;
        font-weight: normal;
        margin: 0;
    }

    .left-bar form .checkbox-field [type="checkbox"]:checked + label:after, .left-bar form .checkbox-field [type="checkbox"]:not(:checked) + label:after {
        height: 11px;
        width: 11px;
    }

    .left-bar form .checkbox-field [type="checkbox"]:checked + label:before, .left-bar form .checkbox-field [type="checkbox"]:not(:checked) + label:before {
        width: 15px;
        height: 15px;
    }

    .left-bar form .days input[type="submit"] {
        margin-top: 7px;
    }

    .navbar .tab .btn-group .btn-border {
        font-size: 15px;
        line-height: 20px;
        padding: 8px 10px;
        width: auto;
    }

    .content .btn-group .btn-primary.large {
        width: auto;
        font-size: 14px;
    }

    .nav-tabs.inner {
        margin: 0;
    }

        .nav-tabs.inner li.active a:after {
            display: none;
        }

    .content .btn-group .btn-primary {
        margin-right: 5px;
    }

    .order-table th {
        font-size: 14px;
    }

    .outer-table {
        height: 400px;
    }

    .order-table [type="checkbox"]:checked + label, .order-table [type="checkbox"]:not(:checked) + label {
        padding-left: 20px;
    }

        .order-table [type="checkbox"]:checked + label:before, .order-table [type="checkbox"]:not(:checked) + label:before, form.radio-field [type="radio"]:checked + label:before, form.radio-field [type="radio"]:not(:checked) + label:before {
            width: 15px;
            height: 15px;
        }

        .order-table [type="checkbox"]:checked + label:after, .order-table [type="checkbox"]:not(:checked) + label:after, form.radio-field [type="radio"]:checked + label:after, form.radio-field [type="radio"]:not(:checked) + label:after {
            width: 11px;
            height: 11px;
            left: 2px;
            top: 2px;
        }

    form.radio-field [type="radio"]:checked + label, form.radio-field [type="radio"]:not(:checked) + label {
        padding-left: 20px;
        font-size: 15px;
        line-height: 20px;
    }

    /*.full-height {
        height: auto;
    }  */

    .left-bar form .checkbox-field [type="checkbox"]:checked + label, .left-bar form .checkbox-field [type="checkbox"]:not(:checked) + label {
        padding-bottom: 20px;
    }

    .header .client ul {
        z-index: 1050;
    }

        .header .client ul li a {
            padding: 8px;
        }

    .navbar form.calender input[type="submit"] {
        width: auto;
    }

    .modal input[type="submit"] {
        width: auto;
        padding: 10px;
    }

    .modal .modal-dialog.modal-lg {
        width: 80%;
    }

    .modal:before {
        display: none;
    }

    .modal .modal-dialog.modal-lg {
        margin: 70px 0 0;
    }

    .modal .close {
        top: -40px;
        width: 30px;
    }

    .modal .modal-dialog {
        width: 60%;
        margin: 70px 0 0;
    }

    .login [type="checkbox"]:checked + label, .login [type="checkbox"]:not(:checked) + label {
        padding-left: 20px;
        display: inline !important;
    }

        .login [type="checkbox"]:checked + label:before, .login [type="checkbox"]:not(:checked) + label:before {
            width: 15px;
            height: 15px;
        }

        .login [type="checkbox"]:checked + label:after, .login [type="checkbox"]:not(:checked) + label:after {
            width: 5px;
            height: 10px;
            top: 3px;
            left: 5px;
        }

    .login-detail {
        width: 50%;
    }

    .login {
        width: auto;
        padding: 10px;
    }

        .login [type="checkbox"]:checked + label, .login [type="checkbox"]:not(:checked) + label {
            font-size: 15px;
            line-height: 20px;
        }

    .modal .tab ul li {
        padding: 18px;
    }

    .modal .tab ul li {
        font-size: 15px;
    }

    #myModal3 .modal-body h2, #myModal3 .modal-body select {
        margin-bottom: 15px;
    }

    .content .btn-group .btn-primary {
        font-size: 12px;
    }

    .small-btn {
        width: auto !important;
    }

    .main .history-col .outer-table tr th, .main .history-col .outer-table tr td {
        font-size: 11px;
    }

    .main .history-col .outer-table {
        height: 20vw;
    }

    .my-account .login-detail {
        width: 50%;
    }

        .my-account .login-detail .well {
            padding: 2vw 0vw 1vw;
        }
}

@media (max-width: 991px) {
    h1 {
        font-size: 22px;
    }

    .navbar .tab .btn-group {
        font-family: 0;
    }

        .navbar .tab .btn-group .btn-border {
            font-size: 13px;
            padding: 8px 5px;
        }

    .navbar form.search fieldset {
        width: 180px;
    }

    .well {
        margin-bottom: 15px;
    }

    .content {
        overflow: inherit;
    }

    .inner-body, .content {
        height: auto !important;
    }

    .product.well form .form-group {
        margin-bottom: 10px;
    }

    .file-upload__label.btn-primary {
        width: 100px !important;
    }

    .btn-bottom {
        text-align: left !important;
        margin-bottom: 15px;
    }

    .left-bar form .form-group {
        margin-bottom: 10px;
    }

    .login-page .inner-body {
        height: 100% !important;
    }

    .login-page .outer-header {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
    }

    .top-bar .pull-left, .top-bar .pull-right {
        float: none !important;
        display: block;
        text-align: center;
    }

    .main .history-col .outer-table tr th, .main .history-col .outer-table tr td {
        font-size: 13px;
    }

    .order-table tr th .btn-secondary, .order-table tr td .btn-secondary {
        width: 100% !important;
        display: block;
    }

    .main .history-col .btn-group .btn-secondary {
        width: 100%;
        border-radius: 0px;
    }

    .main .history-col form.radio-field [type="radio"]:checked + label, .main .history-col form.radio-field [type="radio"]:not(:checked) + label {
        font-size: 15px;
    }

        .main .history-col form.radio-field [type="radio"]:checked + label:before, .main .history-col form.radio-field [type="radio"]:not(:checked) + label:before {
            width: 15px;
            height: 15px;
        }

        .main .history-col form.radio-field [type="radio"]:checked + label:after, .main .history-col form.radio-field [type="radio"]:not(:checked) + label:after {
            width: 11px;
            height: 11px;
        }

    .my-account .login-detail {
        width: 70vw;
    }
}

@media (max-width: 767px) {
    .login-page .outer-header {
        position: static;
    }

    .header .logo img {
        width: 160px;
    }

    .navbar .navbar-nav li.active .tab {
        position: relative;
    }

        .navbar .navbar-nav li.active .tab h1, .navbar .navbar-nav li.active .tab form {
            display: none;
        }

    .navbar-toggle {
        margin: 0;
    }

    .navbar-nav {
        margin: 0;
    }

    .navbar .navbar-nav li {
        margin-right: 0;
    }

    .navbar .tab {
        top: 0;
    }

    .navbar .navbar-nav li.active a {
        border: 0;
        padding: 8px;
    }

    .navbar .navbar-nav li.active .tab {
        text-align: center;
        border-radius: 0;
        padding: 0;
    }

        .navbar .navbar-nav li.active .tab .btn-group {
            padding: 10px;
        }

        .navbar .navbar-nav li.active .tab .pull-left, .navbar .navbar-nav li.active .tab .pull-right {
            float: none !important;
            width: 100%;
        }

    .content {
        padding-top: 30px;
    }

    .left-nav li a {
        padding: 10px;
    }

    .left-nav li.active a {
        padding: 10px;
    }

    .active-user {
        top: 0;
        position: relative;
        right: 0;
    }

        .active-user a {
            margin-bottom: 10px;
        }

    .table-detail tr td {
        width: 50%;
        vertical-align: top;
        padding: 10px 5px;
    }

    .content .well.table-half form fieldset p, .content .well.table-half form fieldset .item {
        width: 49%;
        overflow: hidden;
    }

    .content .detail textarea {
        height: auto;
    }

    .content .well.table-half {
        height: auto;
        margin-bottom: 15px;
    }

    .content .nav-tabs {
        margin-bottom: 15px;
    }

    .content table.info tr td {
        width: 50%;
        vertical-align: top;
    }

        .content table.info tr td:first-child {
            width: 50%;
        }

    body {
        padding: 0;
    }

    .header {
        padding: 15px 5px;
    }

    .left-bar form select, .left-bar form input[type="text"] {
        padding: 8px;
        line-height: 20px;
    }

    .left-bar form select {
        margin-bottom: 10px;
    }

    .left-bar form .checkbox-field {
        padding: 10px 0;
    }

    .left-nav {
        height: auto;
    }

        .left-nav.homepage li ul li.active a {
            padding: 10px;
        }

    .nav-tabs.inner li.active a, .nav-tabs.inner li a {
        padding: 10px;
    }

    .form-group .edit {
        position: absolute;
        top: 0px;
        right: -77px;
    }

        .form-group .edit img {
            width: auto;
        }

    .large-only {
        display: none;
    }

    .small-only {
        display: table;
    }

        .small-only td, th {
            width: 50%;
            padding: 10px !important;
            vertical-align: top;
        }

    .btn-bottom a {
        width: auto;
    }

    .radio-field fieldset {
        width: 100%;
    }

    .content .btn-group {
        margin-bottom: 10px;
    }

    .radio-field {
        width: 100%;
        margin-bottom: 10px;
    }

    form.radio-field [type="radio"]:checked + label, form.radio-field [type="radio"]:not(:checked) + label {
        font-size: 13px;
        line-height: 17px;
    }

    .outer-table {
        height: auto;
    }

    .top-bar {
        margin-bottom: 15px;
    }

        .top-bar #user1 {
            display: block;
            padding: 10px;
            color: #636363;
            background: url(../images/arrow.jpg) no-repeat right 10px center #ffffff;
            font-size: 15px;
            line-height: 20px;
        }

        .top-bar #toggle-div1 {
            display: none;
            background: #ffffff;
        }

            .top-bar #toggle-div1 .pull-left, .top-bar #toggle-div1 .pull-right {
                float: none !important;
            }

            .top-bar #toggle-div1 .btn-group {
                margin-bottom: 0;
                float: none;
                display: block;
            }

                .top-bar #toggle-div1 .btn-group a {
                    margin: 0;
                    border-radius: 0;
                    display: block;
                    width: 100%;
                }

    .modal .modal-dialog {
        width: 80%;
    }

    .login-detail {
        width: 90%;
    }

    .login-page .inner-body {
        height: auto !important;
        padding: 30px 0;
    }

    .login-page {
        background: #dbe5ed;
    }

    .modal h1 {
        margin-bottom: 15px;
    }

    .modal .text-right {
        margin: 10px 0;
        text-align: left;
    }

    .modal .tab ul li {
        font-size: 13px;
    }

    .checkbox.right label {
        padding-left: 10px !important;
    }

    .order-table tr th .btn-secondary, .order-table tr td .btn-secondary {
        width: 48%;
        margin-top: 10px;
    }

    .main .history-col .outer-table {
        height: auto;
    }

    .my-account .navbar {
        height: auto;
    }

    .my-account .login input[type="submit"] {
        margin-bottom: 2vh;
        min-width: 100%;
    }
}

.modal-body {
    overflow: hidden;
}

.modal-contemt {
    border: 0;
}

.checkbox.right label {
    padding-left: 0 !important;
}

.box-border {
    border: 1px solid #c0c0c0;
    border-radius: 4px;
    padding: 10px 20px;
    margin-bottom: 20px;
}

    .box-border h6 {
        margin: 0 !important;
        padding: 13px;
        background-color: #000000;
        color: #fff;
        font-size: 14px;
    }

    .box-border label {
        float: left;
        width: 50%;
    }

    .box-border ul li label span {
        font-weight: bold !important;
    }

.btn-active label {
    margin-bottom: 0;
}

.btnRed {
    background: #f7273b;
}

    .btnRed span, .btn-active span {
        color: #fff;
    }

.btn-secondary {
    width: 6vw;
}

.content .well .btn-secondary {
    line-height: 20px;
    margin-bottom: 3px;
}

.divBgGrey {
    background: #f3f6f9 !important;
    height: 148px;
    border-radius: 4px;
    border: 1px solid #e3e3e3;
    overflow-x: hidden;
    overflow-y: scroll;
    padding: 15px;
}

    .divBgGrey p {
        margin: 0 0 5px;
    }

.headerCount {
    color: #000000;
    margin-bottom: 0px !important;
}

.img-bottom-margin {
    margin-bottom: 33px;
}

.well.table {
    padding-top: 5px !important;
}

a.login-popup_btn {
    background-color: #000000;
    color: #fff;
    padding: 7px 10px;
}

.modal-body.login.margin {
    text-align: center;
    margin: 0 auto;
}

.pos-rel {
    position: relative;
}

.btn-primary.active, .btn-primary:focus, .btn-primary:active, .btn-primary:active:hover, .btn-primary:active:focus {
    background-color: #000000 !important;
    border-color: #000000 !important;
}

a.btn-secondary:focus {
    color: #fff;
}

:focus {
    outline: none;
}

#formLogin a {
    color: #000000;
}

.toparrowbtn .fa-sort-up:before, .fa-sort-asc:before {
    content: "\f0de";
    position: absolute;
    top: 7px;
}

.toparrowbtn .fa-sort-down:before, .fa-sort-desc:before {
    content: "\f0dd";
    bottom: -5px;
    position: absolute;
}

.toparrowbtn {
    color: #000000;
    margin-right: 5px;
    margin-left: 5px;
}

    .toparrowbtn i.fa.fa-sort-desc {
        position: absolute;
    }

    .toparrowbtn:hover {
        color: #000000;
    }

.customPaging a {
    padding: 0px 4px;
    background: #000000;
    color: #fff;
}

    .customPaging a.active {
        text-decoration: underline;
    }

.searchchild .search fieldset input[type="submit"] {
    font-size: 0;
    border: 0;
    width: 20%;
    background: url(https://devsaavi5.saavi.com.au/Admin/content/css/../images/search.jpg) no-repeat center center;
    background-size: 1.18vw;
    padding-top: 19px;
}

.searchchild .search fieldset input[type="text"] {
    float: left;
    width: 80%;
    border: 0;
    padding: 0.56vw 1.25vw;
    background: transparent;
    font-size: 0.93em;
    line-height: 1.5em;
}

.searchchild .search fieldset {
    width: 19.375vw;
    border-radius: 4px;
    overflow: hidden;
    background: #f3f6f9;
}

.price-left {
    width: 50%;
    float: left;
}

.price-left33 {
    width: 33%;
    float: left;
}

#tblCustomerList td, #tblbodyList td, #tblCustomerList th, #tblbodyList th {
    text-align: center;
    padding: 2px;
}
/*css for image margin top in MP(product)*/
div#divProductImg {
    margin-top: 25px;
}

.text-left {
    text-align: left !important;
}

textarea#Message {
    height: 330px;
}

div#divRecipients {
    height: 240px;
}

.small-btn {
    width: 9vw !important;
}

.img-thumbnail {
    max-width: 70% !important;
    height: 150px !important;
}

.popup_edit_padding .btn-secondary {
    line-height: 15px !important;
    font-size: 13px;
    margin: 0 0 0 0 !important;
}

.popup_edit_padding {
    padding-bottom: 5px;
}

@media only screen and (min-width:1400px) {
    /*.popup_edit_padding {
        padding-bottom: 25px;
    }*/

    /* .popup_edit_padding .btn-secondary {
            line-height: 30px !important;
            font-size: 16px;
            margin: 0 0 0 0 !important;
        }*/

    .inner #chart_sales, #chart_prods, #chart_cust, #chart_cats div {
        height: 263px !important;
    }

    .adj_height {
        height: 570px !important;
    }

    #divRecipients {
        height: 348px !important;
    }

    textarea#Message {
        height: 459px !important;
    }

    .divBgGrey {
        height: 233px !important;
    }

    select#ddlProducts, select#ddlNonProducts {
        min-height: 570px !important;
    }

    .pading-top-10 {
        padding: 20px !important;
    }

    form.radio-field [type="radio"]:checked + label:before, form.radio-field [type="radio"]:not(:checked) + label:before {
        left: -2px;
        top: -3px;
        font: 16px;
    }

    form.radio-field [type="radio"]:checked + label:after, form.radio-field [type="radio"]:not(:checked) + label:after {
        width: 14px !important;
        height: 13px !important;
        top: 1px !important;
        left: 2px !important;
    }

    .price-section {
        padding: 1em 0;
    }

    .view_settings #divLeft .bottom-padding {
        min-height: 890px !important;
    }
}

.close {
    font-size: 25px !important;
}

.btnClr {
    background-color: black;
    border-radius: 0px !important;
}

#divModelState input {
    position: inherit;
}

.btn-secondarybutton {
    line-height: 20px;
    letter-spacing: 1px;
    transition: all ease .3s;
    padding: 0.375em 1em;
    border-radius: 0px;
    background: #000000;
    color: #ffffff;
    font-weight: 400;
    text-align: center;
}

table#tblEditOrder th {
    text-align: center !important;
}