﻿@model DataModel.BO.ForgotPasswordViewModel

<script>
    $(function () {
        $("#forgotpasswordModal").modal('show');
        validateForm('formForgotPassword');
    });
    function SuccessMethod(res) {
        if (res == "Success") {
            $("#forgotpasswordModal").modal('hide');
            growlNotification('Password reset link sent on your Email ID.', 'success', 3000);
        } else {
            growlNotification(res, 'warning', 3000);
        }
    }

</script>

<div class="modal fade msg-group" id="forgotpasswordModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><i class="fa fa-times" aria-hidden="true"></i>
</button>
            </div>
            <div class="modal-body login margin">
                <h2>Forgot Password</h2>
                @using (Ajax.BeginForm("ForgotPassword", "Account", new AjaxOptions
                {
                    HttpMethod = "POST",
                    OnSuccess = "SuccessMethod",
                    OnBegin = "startLoading",
                    OnComplete = "stopLoading"
                }, new { id = "formForgotPassword", @class = "row" }))
                {                    
                        <fieldset class="">
                            <div class="col-sm-3 text-left">
                                <label class="forgot-label">Email ID:<sup>*</sup></label>
                            </div>
                            <div class="col-sm-9">
                                @Html.TextBoxFor(m => m.Email, new { placeholder = "Username/Email",type="email",required= "required" })
                            </div>
                        </fieldset>
                        <fieldset class="row text-center">
                            <div class="col-sm-12 text-right">
                                <input type="submit" class="btn-secondary mrgin-disply hover-effect" value="Submit" />
                            </div>
                        </fieldset>                    
                }
            </div>
        </div>
    </div>
</div>