﻿@model DataModel.BO.LoginViewModel

@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width" />
    <meta name="format-detection" content="telephone=no" />

    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab:300,400|Roboto:300,400,500,700" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/content/bootstrap.min.css")" media="screen">
    <link rel="stylesheet/less" type="text/css" href="@Url.Content("~/content/css/styles.css")" media="screen">
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/content/css/jquery.mCustomScrollbar.min.css")" media="screen">
    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
    <title>@System.Configuration.ConfigurationManager.AppSettings["WEBSITE_NAME"]</title>
</head>
<body class="login-page" style='background:url(@Url.Content("~/content/images/login-bg.jpg")) no-repeat center;background-size: cover;'>
    <div class="canvas">
        <div class="outer-header">
            <div class="header">
                <div class="text-center">
                    <a class="logo" href="javascript:;"><img src="~/content/images/logo.png" class="logoimg"></a>
                </div>
                <div class="break"></div>
            </div>
        </div>
        <div class="inner-body" style="background:none;">
            <div class="container-fluid">
                <div class="table">
                    <div class="login-section">
                        <div class="login-detail">
                            <h1>ADMINISTRATOR'S PORTAL</h1>
                            <div class="well">
                                <h2 class="blue">ADMIN</h2>
                                <div class="login">
                                    @using (Html.BeginForm("Login", "Account", FormMethod.Post, new { id = "formLogin" }))
                                    {
                                        @Html.AntiForgeryToken()
                                        <fieldset class="row">
                                            <div class="col">
                                                @Html.TextBoxFor(m => m.Email, new { placeholder = "Username/Email" })
                                            </div>
                                        </fieldset>
                                        <fieldset class="row">
                                            <div class="col">
                                                @Html.TextBoxFor(m => m.Password, new { placeholder = "Password", type = "password" })
                                            </div>
                                        </fieldset>
                                        <fieldset class="row">
                                            <div class="col-sm-6 col">
                                                @*<div class="checkbox-field">
                                                        <input type="checkbox" id="chkRememberMe" name="chkRememberMe">
                                                        <label for="chkRememberMe">Remember me</label>
                                                    </div>*@
                                            </div>
                                            <div class="col-sm-6 col text-right">
                                                <a href="javascript:;" onclick="openPartialPage();">Forgot Password?</a>
                                            </div>
                                        </fieldset>
                                        <fieldset class="row">
                                            @Html.ValidationSummary("", new { @class = "text-danger" })
                                        </fieldset>
                                        <fieldset class="text-center">
                                            <input type="submit" value="Login" class="btn-primary">
                                        </fieldset>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="divLoading" style="display:none;">
            <img src="~/Content/images/loading.gif" height="50" />
        </div>
    </div>
    <div id="divForgotPasswordModal"></div>
    <div class="modal fade msg-group" id="usertypeModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    @*<button type="button" class="close" data-dismiss="modal" aria-label="Close"><img src="~/Content/images/close.png"></button>*@
                </div>
                <div class="modal-body login margin">
                    <h2>Choose Admin</h2>
                    @Html.ActionLink("Customer Admin", "Dashboard", "Company", new { }, new { @class = "btn-primary login-popup_btn" })

                    @Html.ActionLink("POD Admin", "Dashboard", "POD/Home", new { }, new { @class = "btn-primary login-popup_btn" })
                </div>
            </div>
        </div>
    </div>

    <script src="@Url.Content("~/scripts/less-1.3.0.min.js")"></script>
    @Scripts.Render("~/bundles/Login")
    <script src="@Url.Content("~/Scripts/globalFunctions.js")"></script>
    <script src="@Url.Content("~/Scripts/jquery.bootstrap-growl.min.js")"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.min.js")"></script>
    <script>
        // Change url based on Domain
        var URL = '/Account/';
        if (window.location.href.indexOf('saavi.com') !== -1) {
            URL = "/Admin/Account/";
        }
        if ('@ViewData["Message"]' == "Success") {
            $("#usertypeModal").modal('show');
        }
        //open partial page
        function openPartialPage() {
            $('#divForgotPasswordModal').load(URL + '_ForgotPassword/');
        }
    </script>
</body>
</html>