﻿@model DataModel.BO.ResetPasswordViewModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width" />
    <meta name="format-detection" content="telephone=no" />
    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab:300,400|Roboto:300,400,500,700" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/content/bootstrap.min.css")" media="screen">
    <link rel="stylesheet/less" type="text/css" href="@Url.Content("~/content/css/styles.css")" media="screen">

    <title>@System.Configuration.ConfigurationManager.AppSettings["WEBSITE_NAME"]</title>
</head>
<body class="login-page" style='background:url(@Url.Content("~/content/images/login-bg.jpg")) no-repeat center;background-size: cover;'>
    <div class="canvas">
        <div class="outer-header">
            <div class="header">
                <div class="text-center">
                    <a class="logo" href="javascript:;"><img src="~/content/images/logo.png" class="logoimg"></a>
                </div>
                <div class="break"></div>
            </div>
        </div>

        <div class="inner-body" style="background:none;">
            <div class="container-fluid">

                <div class="table">
                    <div class="login-section">
                        <div class="login-detail">
                            <h1>ADMINISTRATOR'S PORTAL</h1>
                            <div class="well">
                                <h2 class="blue">Reset Password</h2>
                                <div class="login">
                                    @using (Ajax.BeginForm("ResetPassword", "Account", new AjaxOptions
                                    {
                                        HttpMethod = "POST",
                                        OnSuccess = "SuccessMethod",
                                        OnBegin = "startLoading",
                                        OnComplete = "stopLoading"
                                    }, new { id = "formResetPassword", @class = "row" }))
                                    {
                                        <fieldset class="row">
                                            <div class="col">
                                                @Html.TextBoxFor(m => m.Password, new { placeholder = "Password", type = "password", required = "required" })
                                            </div>
                                        </fieldset>
                                        <fieldset class="row">
                                            <div class="col">
                                                @Html.TextBoxFor(m => m.ConfirmPassword, new { placeholder = "Confirm Password", type = "password", required = "required", equalto = "#Password" })
                                            </div>
                                        </fieldset>
                                        <fieldset class="text-center">
                                            <input type="submit" value="Login" class="btn-primary">
                                        </fieldset>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="divLoading" style="display:none;">
            <img src="~/Content/images/loading.gif" height="50" />
        </div>
    </div>

    <script src="@Url.Content("~/scripts/less-1.3.0.min.js")"></script>

    @Scripts.Render("~/bundles/Login")
    <script src="@Url.Content("~/Scripts/globalFunctions.js")"></script>
    <script src="@Url.Content("~/Scripts/jquery.bootstrap-growl.min.js")"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.min.js")"></script>
    <script>
        $(function () {
            validateForm('formResetPassword');
            var txtPwd = $('form').find('input[type="password"]').attr('id');
            $('#' + txtPwd).rules("add", {
                required: true,
                atLeastOneLowercaseLetter: true,
                atLeastOneUppercaseLetter: true,
                atLeastOneNumber: true,
                atLeastOneSymbol: true,
                minlength: 8,
                maxlength: 20
            });

        });
        // Change url based on Domain
        var URL = '/';
        if (window.location.href.indexOf('saavi.com') !== -1) {
            URL = "/Admin/";
        }
        function SuccessMethod(res) {
            if (res == "Success") {
                growlNotification('Password reset successfully.', 'success', 3000);
                setTimeout(function () {
                    window.location.href = URL;
                }, 200);
            } else {
                growlNotification(res, 'warning', 3000);
            }
        }
    </script>
</body>
</html>
