﻿
<nav id="bs-navbar" class="">
    <div class="navigation" id="navigation">
        <ul class="nav navbar-nav" id="mainNav">
            <li data-href="dashboard">
                <a href='@Url.Action("Dashboard","Company")'><img src="~/content/images/dashboard.png"></a>
                <div class="tab">
                    <div class="pull-left">
                        <h1 id="dashboardTitle">Dashboard</h1>
                    </div>
                    <div class="pull-right">
                        <div class="search" id="dashboardSearch">
                            <fieldset>
                                <input id="txtLatestProductSearch" name="txtLatestProductSearch" type="text" placeholder="Search By Product" />
                                <input type="submit" onclick="searchLatestProduct();" />
                            </fieldset>
                        </div>
                    </div>
                </div>
            </li>

            <li data-href="Company" id="limenu" class="active">
                <a href="@Url.Action("ManageUsers", "Company")">TROUBLESHOOT LOGIN</a>
                <div class="tab">
                    <div class="pull-left">
                        <h1 id="headerTitle">
                            Troubleshoot Login
                        </h1>
                    </div>
                    <div class="pull-right" id="userSearch">
                        <div class="search">
                            <fieldset>
                                <input id="txtCustSearch" name="txtSearch" type="text" placeholder="Search By Customer Email" />
                                <input id="btnCustSearch" name="btnCustSearch" type="submit" onclick='searchUsersAndCustomer();' />
                            </fieldset>
                        </div>
                    </div>
                </div>
            </li>

        </ul>
    </div>
</nav>