﻿

@model DataModel.BO.CustomerBO
<script>
    $(function () {
        initScrollbar('divCustDetail', 2);

        $("#chkIsRep").on('change', function () {
            $("#IsRep").val($(this).prop('checked'));
        });


        if ($("#IsRep").val().toLowerCase() == "true") {
            $("#chkIsRep").prop('checked', true)
        }


    });

</script>
<style>
    /*div#chklistchild {
        height: 500px;
        overflow: auto;
    }*/
</style>
<h2 class="text-uppercase">Customer Details</h2>

<div id="divCustDetail" class="row separator customer-detail left-nav light homepage">

    <div class="col-sm-6 col">
        @Html.HiddenFor(m => m.CustomerID)
        @Html.HiddenFor(m => m.IsRep)

        <table class="table-detail width_100">
            <tr>
                <td>Alpha Code: </td>
                <td>@Model.AlphaCode</td>
            </tr>
            <tr>
                <td>Salesman Code: </td>
                <td>@Model.SalesmanCode</td>
            </tr>
            <tr>
                <td>Customer Name: </td>
                <td>@Model.CustomerName</td>
            </tr>
            <tr>
                <td>ABN: </td>
                <td>@Model.ABN</td>
            </tr>
            <tr>
                <td>Address 1: </td>
                <td><strong>@Model.Address1</strong></td>
            </tr>
            <tr>
                <td>Address 2: </td>
                <td>@Model.Address2</td>
            </tr>

            <tr>
                <td>Post Code: </td>
                <td>@Model.PostCode</td>
            </tr>
            <tr>
                <td>Contact Name: </td>
                <td>@Model.ContactName</td>
            </tr>
            <tr>
                <td>Phone 1: </td>
                <td><strong>@Model.Phone1</strong></td>
            </tr>
            <tr>
                <td>Phone 2: </td>
                <td>@Model.Phone2</td>
            </tr>



        </table>
    </div>
    <div class="col-sm-6 col">
        <table class="table-detail width_100">
            <tr>
                <td valign="top">Customer Email: </td>
                <td>
                    @Model.Email


                </td>
            </tr>
            <tr>
                <td>Login Credentials:</td>
                <td>
                    @if (Model.UserEmailAndID != null && Model.UserEmailAndID.Count > 0)
                    {
                        foreach (var item in Model.UserEmailAndID)
                        {
                    <tr>
                        <td>   <input type="text" id="@item.UserID" value="@item.Email" data-id="@item.UserID" class="UserMaster"></td>
                        <td>   <input type="text" id="P_@item.UserID" value="@item.DefaultPassword" data-id="@item.UserID"></td>
                    </tr>
                    @*<input type="text" id="@item.UserID" value="@item.Email" data-id="@item.UserID" class="UserMaster">*@
                    @*<br />*@
                }
            }
            else
            {
                <span>No Login Email Found!!! </span>
            }
                    </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="filters">
                                <div class="checkbox-field">
                                    <input type="checkbox" id="chkIsRep">
                                    <label for="chkIsRep">IsRep</label>

                                </div>
                            </div>
                        </td>
                        <td></td>
                    </tr>

                    <tr><td colspan="2"><a href="javascript:;" class="pull-right btn-secondary" onclick="ManageCustomerTagsDetails();">Save</a></td></tr>
                </table>
            </div>

        </div>

        <div id="modalManageFeatures">

        </div>
        <div id="modalAddUser">

        </div>
        <div id="modalDeleteUser">

        </div>