﻿@{
    ViewBag.Title = "ManageUsers";
}

@section scripts{
    <script src="@Url.Content("~/Scripts/globalFunctions.js")"></script>
    <script src="@Url.Content("~/Scripts/manageUsersJS.js")"></script>
    <script>
        initScrollbar('liCustomers', 0);

        $('#divCustomerDetail').load(URLc + '_CustomerDetail/0');
        // Initial customer load
        var li = $("#liCustomers li").eq(0).find('a');
        getManageCustomerDetails(li);
        GetNewRequests(0);
        $("#btnCustSearch").attr('onclick', 'searchUsersAndCustomer("");');
    </script>
}





<div class="tab-content">
    <div class="section full-height">
        <div class="row full-height">
            <div class="col-md-3 col full-height">
                <div class="flex-column full-height">
                    <div class="well table">
                        <h2 class="text-uppercase">Customers</h2>
                        <div id="divCustomers">
                            <ul id="liCustomers" class="left-nav light customer-list">

                                @foreach (var item in ViewBag.Customers)
                                {
                                    <li><a href="javascript:;" data-id="@item.CustomerID" onclick="getManageCustomerDetails(this);">@item.CustomerName</a></li>
                                }

                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-9 col full-height" id="divCustMain">
                <div class="flex-column full-height">
                    <div class="well table customer-col" id="divCustomerDetail">

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="modalCustomer">

</div>
