@import "https://fonts.googleapis.com/css?family=Roboto:400,500";

/*//////////////////////////////////////////////////////////////////
[ FONT ]*/

/*@font-face {
    font-family: Roboto,sans-serif;
    src: url('../fonts/poppins/Roboto,sans-serif.ttf');
}

@font-face {
    font-family: Roboto,sans-serif;
    src: url('../fonts/poppins/Roboto,sans-serif.ttf');
}

@font-face {
    font-family: Poppins-Bold;
    src: url('../fonts/poppins/Poppins-Bold.ttf');
}

@font-face {
    font-family: Poppins-SemiBold;
    src: url('../fonts/poppins/Poppins-SemiBold.ttf');
}*/

/*//////////////////////////////////////////////////////////////////
[ RESTYLE TAG ]*/

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body, html {
    height: 100%;
    font-family: Roboto,sans-serif, sans-serif;
}

/*---------------------------------------------*/
a {
    font-family: Roboto,sans-serif;
    font-size: 14px;
    line-height: 1.7;
    color: #666666;
    margin: 0px;
    transition: all 0.4s;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
}

    a:focus {
        outline: none !important;
    }

    a:focus, a:hover {
        text-decoration: none;
       
    }

/*---------------------------------------------*/
h1, h2, h3, h4, h5, h6 {
    margin: 0px;
}

p {
    font-family: Roboto,sans-serif;
    font-size: 14px;
    line-height: 1.7;
    color: #666666;
    margin: 0px;
}

ul, li {
    margin: 0px;
    list-style-type: none;
}

/*---------------------------------------------*/
input {
    outline: none;
    border: none;
}

textarea {
    outline: none;
    border: none;
}

/*textarea:focus, input:focus {
        border-color: transparent !important;
    }*/

input:focus::-webkit-input-placeholder {
    color: transparent;
}

input:focus:-moz-placeholder {
    color: transparent;
}

input:focus::-moz-placeholder {
    color: transparent;
}

input:focus:-ms-input-placeholder {
    color: transparent;
}

textarea:focus::-webkit-input-placeholder {
    color: transparent;
}

textarea:focus:-moz-placeholder {
    color: transparent;
}

textarea:focus::-moz-placeholder {
    color: transparent;
}

textarea:focus:-ms-input-placeholder {
    color: transparent;
}

input::-webkit-input-placeholder {
    color: #fff;
}

input:-moz-placeholder {
    color: #fff;
}

input::-moz-placeholder {
    color: #fff;
}

input:-ms-input-placeholder {
    color: #fff;
}

textarea::-webkit-input-placeholder {
    color: #fff;
}

textarea:-moz-placeholder {
    color: #fff;
}

textarea::-moz-placeholder {
    color: #fff;
}

textarea:-ms-input-placeholder {
    color: #fff;
}

label {
    margin: 0;
    display: block;
}

/*---------------------------------------------*/
button {
    outline: none !important;
    border: none;
    background: transparent;
}

    button:hover {
        cursor: pointer;
    }

iframe {
    border: none !important;
}

/*//////////////////////////////////////////////////////////////////
[ Utility ]*/
.txt1 {
    font-family: Roboto,sans-serif;
    font-size: 13px;
    color: #e5e5e5;
    line-height: 1.5;
}

/*//////////////////////////////////////////////////////////////////
[ login ]*/

.limiter {
    width: 100%;
    margin: 0 auto;
}

.container-login100 {
    width: 100%;
    min-height: 100vh;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    padding: 40px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    /*z-index: 1;*/
}

    .container-login100::before {
        content: "";
        display: block;
        position: absolute;
        z-index: -1;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background-color: rgba(255, 255, 255, 0.47);
    }

.wrap-login100 {
    width: 430px;
    border-radius: 10px;
    overflow: hidden;
    padding: 20px 40px;
    background: #9152f8;
    background: -webkit-linear-gradient(top, #FFF 70px,#3abeee 178px) !important;
    background: -o-linear-gradient(top, #FFF 70px,#3abeee 178px) !important;
    background: -moz-linear-gradient(top, #FFF 70px,#3abeee 178px) !important;
    background: linear-gradient(top, #FFF 70px,#3abeee 178px) !important;
}
}

17a2b8
/*------------------------------------------------------------------
[ Form ]*/
.login100-form {
    width: 100%;
}

.login100-form-logo {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
    margin: 0 auto;
}

.login100-form-title {
    font-family: Roboto,sans-serif;
    font-size: 30px;
    color: #fff;
    line-height: 1.2;
    text-align: center;
    text-transform: uppercase;
    display: block;
}

/*------------------------------------------------------------------
[ Input ]*/

.wrap-input100 {
    width: 100%;
    position: relative;
    border-bottom: 2px solid rgba(255,255,255,0.24);
    margin-bottom: 20px;
}

.input100 {
    font-family: Roboto,sans-serif;
    font-size: 16px;
    color: #fff;
    line-height: 1.2;
    display: block;
    width: 100%;
    height: 45px;
    background: transparent;
    padding: 0 5px 0 38px;
}

/*---------------------------------------------*/
.focus-input100 {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    pointer-events: none;
}

    .focus-input100::before {
        content: "";
        display: block;
        position: absolute;
        bottom: -2px;
        left: 0;
        width: 0;
        height: 2px;
        -webkit-transition: all 0.4s;
        -o-transition: all 0.4s;
        -moz-transition: all 0.4s;
        transition: all 0.4s;
        background: #fff;
    }

    .focus-input100::after {
        font-family: Material-Design-Iconic-Font;
        font-size: 22px;
        color: #6c6262;
        content: attr(data-placeholder);
        display: block;
        width: 100%;
        position: absolute;
        top: 6px;
        left: 0px;
        padding-left: 5px;
        -webkit-transition: all 0.4s;
        -o-transition: all 0.4s;
        -moz-transition: all 0.4s;
        transition: all 0.4s;
    }

.input100:focus {
    padding-left: 5px;
}

    .input100:focus + .focus-input100::after {
        top: -22px;
        font-size: 18px;
    }

    .input100:focus + .focus-input100::before {
        width: 100%;
    }

.has-val.input100 + .focus-input100::after {
    top: -22px;
    font-size: 18px;
}

.has-val.input100 + .focus-input100::before {
    width: 100%;
}

.has-val.input100 {
    padding-left: 5px;
}

/*==================================================================
[ Restyle Checkbox ]*/

.contact100-form-checkbox {
    text-align: right;
    padding-bottom: 35px;
}

.input-checkbox100 {
    display: none;
}

.label-checkbox100 {
    font-family: Roboto,sans-serif;
    font-size: 13px;
    color: #fff;
    line-height: 1.2;
    display: block;
    position: relative;
    padding-left: 26px;
    cursor: pointer;
}

    .label-checkbox100::before {
        content: "\f26b";
        font-family: Material-Design-Iconic-Font;
        font-size: 13px;
        color: transparent;
        display: -webkit-box;
        display: -webkit-flex;
        display: -moz-box;
        display: -ms-flexbox;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        width: 16px;
        height: 16px;
        border-radius: 2px;
        background: #fff;
        left: 0;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        transform: translateY(-50%);
    }

.input-checkbox100:checked + .label-checkbox100::before {
    color: #555555;
}

/*------------------------------------------------------------------
[ Button ]*/
.container-login100-form-btn {
    width: 100%;
    /* display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox; */
    /* display: flex;
  flex-wrap: wrap; */
    justify-content: center;
}

.login100-form-btn {
    font-family: Roboto,sans-serif;
    font-size: 16px;
    color: #555555;
    line-height: 1.2;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    min-width: 120px;
    height: 50px;
    border-radius: 25px;
    background: #3abeee;
    border: 2px solid #fff;
    /* background: -webkit-linear-gradient(bottom, #7579ff, #b224ef);
  background: -o-linear-gradient(bottom, #7579ff, #b224ef);
  background: -moz-linear-gradient(bottom, #7579ff, #b224ef);
  background: linear-gradient(bottom, #7579ff, #b224ef); */
    position: relative;
    z-index: 1;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
}

    .login100-form-btn::before {
        content: "";
        display: block;
        position: absolute;
        z-index: -1;
        width: 100%;
        height: 100%;
        border-radius: 25px;
        background-color: #fff;
        top: 0;
        left: 0;
        opacity: 1;
        -webkit-transition: all 0.4s;
        -o-transition: all 0.4s;
        -moz-transition: all 0.4s;
        transition: all 0.4s;
    }

    .login100-form-btn:hover {
        color: #fff;
    }

        .login100-form-btn:hover:before {
            opacity: 0;
        }

/*------------------------------------------------------------------
[ Responsive ]*/

@media (max-width: 576px) {
    .wrap-login100 {
        padding: 55px 15px 37px 15px;
    }
}

/*------------------------------------------------------------------
[ Alert validate ]*/

.validate-input {
    position: relative;
}

.alert-validate::before {
    content: attr(data-validate);
    position: absolute;
    max-width: 70%;
    background-color: #fff;
    border: 1px solid #c80000;
    border-radius: 2px;
    padding: 4px 25px 4px 10px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    right: 0px;
    pointer-events: none;
    font-family: Roboto,sans-serif;
    color: #c80000;
    font-size: 13px;
    line-height: 1.4;
    text-align: left;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: opacity 0.4s;
    -o-transition: opacity 0.4s;
    -moz-transition: opacity 0.4s;
    transition: opacity 0.4s;
}

.alert-validate::after {
    content: "\f12a";
    font-family: FontAwesome;
    font-size: 16px;
    color: #c80000;
    display: block;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    right: 5px;
}

.alert-validate:hover:before {
    visibility: visible;
    opacity: 1;
}

@media (max-width: 992px) {
    .alert-validate::before {
        visibility: visible;
        opacity: 1;
    }
}

.register-form-btn {
    font-family: Roboto,sans-serif;
    font-size: 16px;
    color: #555555;
    line-height: 1.2;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    min-width: 120px;
    height: 50px;
    border-radius: 25px;
    background: #3abeee;
    position: relative;
    z-index: 1;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
    border: 2px solid #fff;
}

    .register-form-btn::before {
        content: "";
        display: block;
        position: absolute;
        z-index: -1;
        width: 100%;
        height: 100%;
        border-radius: 25px;
        background-color: #fff;
        top: 0;
        left: 0;
        opacity: 1;
        -webkit-transition: all 0.4s;
        -o-transition: all 0.4s;
        -moz-transition: all 0.4s;
        transition: all 0.4s;
    }

    .register-form-btn:hover {
        color: #fff;
    }

        .register-form-btn:hover:before {
            opacity: 0;
        }

.btn-show-pass {
    font-size: 15px;
    color: #fff;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    position: absolute;
    height: 100%;
    top: 0;
    right: 0;
    padding-right: 5px;
    cursor: pointer;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
}

.modal-header {
    justify-content: center !important;
}

.btn-outline-saavi {
    color: #3abeee;
    background-color: transparent;
    background-image: none;
    border-color: #3abeee;
}

    .btn-outline-saavi:hover {
        color: #fff;
        background-color: #3abeee;
        border-color: #3abeee;
    }

.liquor {
    color: #3abeee;
    font-size: 19px;
    text-align: center;
    font-weight: 400;
    letter-spacing: 1px;
    margin-top: 10px;
}

/*Noticeboard modal css*/

.noticboard-modal .new-modal .check-full-witdh .check-label-box label {
    color: #3abeee;
}

.noticboard-modal .modal-title {
    font-size: 18px !important;
    text-align: left !important;
    padding: 20px 0 0 0;
    font-family: Roboto,sans-serif;
}

.noticboard-modal .new-modal .select-comment-btn-sec {
    float: left !important;
    width: auto;
}

.noticboard-modal .check-full-witdh {
    border-bottom: none !important;
}

.noticboard-modal .new-modal .check-label-box.select-comment-lft-sec {
    float: left;
    width: auto;
    padding: 0px;
}

.noticboard-modal.select-comment-btn-sec {
    float: left !important;
    width: auto;
}

.message-header::after {
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    content: "";
    border-top: 20px solid #3abeee;
    position: relative;
    left: 20px;
    bottom: -12px;
}

.noticboard-modal .modal-header {
    padding: 15px 40px;
}

.noticboard-modal .modal-body {
    padding: 0 40px !important;
}

.noticboard-modal .modal-footer {
    padding: 10px 40px;
}

.noticboard-modal .message-box p {
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    font-family: Roboto,sans-serif;
    color: #525252;
}

.noticboard-modal .time-input {
    border: 1.5px solid #e81818 !important;
    color: #525252 !important;
    font-size: 18px;
    display: inline-block;
    font-weight: bold !important;
    box-shadow: none;
    width: 175px;
    padding: 9px !important;
    background: #fff !important;
}

.noticboard-modal .new-modal .blue-border-btn {
    padding: 6px 30px;
}

.noticboard-modal .red-text {
    font-size: 16px;
    display: inline-block;
    color: #e81818;
    float: left;
    line-height: normal;
}

.noticboard-modal .message-content {
    padding: 5px 28px;
}

.noticboard-modal .message-box {
    border: .5px solid #cceefb;
    border-radius: 4px;
}

    .noticboard-modal .message-box h5 {
        font-size: 26px;
        color: #fff;
        padding: 15px 28px;
        background: #3abeee;
        margin: 0px;
        font-weight: 400;
        border-radius: 4px 4px 0 0;
    }

.new-modal {
    max-width: 740px;
}

    .new-modal .blue-border-btn {
        width: auto;
        padding: 16px 30px;
        min-width: 175px;
        display: inline-block;
    }

    .new-modal .modal-footer {
        margin-top: 10px;
    }

    .new-modal h4.modal-title {
        color: #3abeee;
    }

    .new-modal h4 {
        color: #3abeee;
        font-size: 28px;
        text-align: center;
        font-weight: 400;
    }

    .new-modal .comment-header {
        padding: 0 0 15px 0;
        font-family: Roboto,sans-serif;
        font-size: 22px;
        color: #525252;
        text-align: center;
        float: left;
        width: 100%;
    }

        .new-modal .comment-header .comment-lft-header {
            width: 70%;
            float: left;
            padding-left: 25px;
            text-align: left;
        }

        .new-modal .comment-header .comment-rt-header {
            float: left;
            width: 30%;
        }

            .new-modal .comment-header .comment-rt-header .add-col {
                width: 45%;
                text-align: center;
                float: left;
            }

            .new-modal .comment-header .comment-rt-header .delete-col {
                width: 55%;
                text-align: center;
                color: #e81818;
                float: right;
            }

.DefaultInfoFooter {
    display: inline !important;
    border-top: none !important;
}

.DefaultInfoHeader {
    display: inline !important;
    border-bottom: none !important;
}

.blue-border-btn {
    border: 1.5px solid #3abeee;
    color: #3abeee;
    font-size: 17px;
    line-height: 28px;
    padding: 13px 27px;
    border-radius: 5px;
    margin-right: .25rem;
}

/* new-modal css end here */
/*Noticeboard modal css END*/

.modal {
    text-align: center;
    padding: 0 !important;
}

    .modal:before {
        content: '';
        display: inline-block;
        height: 100%;
        vertical-align: middle;
        margin-right: -4px;
    }

.modal-dialog {
    display: inline-block;
    text-align: left;
    vertical-align: middle;
}

.tc {
    margin: 2% 0 0 0;
    padding: 0 2% 0 2%;
    overflow: hidden;
    text-align: justify;
}

    .tc p {
        margin: 0;
        padding: 0 0 12px 0;
        color: #4c4d4b
    }

    .tc h3 {
        margin: 0;
        padding: 0 0 12px 0;
        color: #006ed9;
    }

    .tc h5 {
        margin: 0;
        padding: 12px 0 8px 0;
        color: #006ed9;
        font-size: 22px;
    }

    .tc ol {
        margin: 0;
        padding: 0 0 0 16px;
    }

        .tc ol li {
            padding: 0 0 10px 0;
            color: #4c4d4b;
            font-size: 15px;
        }

    .tc ul {
        padding: 0 0 0 18px;
    }

        .tc ul li {
            padding: 0 0 10px 0;
            list-style: none;
            color: #4c4d4b;
            font-size: 15px;
        }

    .tc a {
        text-decoration: underline;
        color: #006ed9;
    }

        .tc a:hover {
            text-decoration: none;
            color: #057c6f;
        }
@media(max-width: 450px){
    #modalPDF .modal-dialog {
    width: 300px;
}
#modalPDF #frmPDF {
     width: 269px !important; 
     height: 350px !important;
}
}
        @media (max-width: 400px) {
    .container-login100{
        padding: 10PX;
    }
    .noticboard-modal .message-content {
    padding: 0px 4px;
}
    }



    /*add new css 21/2/19*/
#modalPDF #frmPDF {
     height: 416px !important;
     }


/*ADD NEW CSS NOW 4/3/19*/
/*ALL POPUPS*/
/*POPUP HEADINGS*/
.jconfirm .jconfirm-box div.jconfirm-title-c span.jconfirm-title{
font-size: 22px;
color: #3abeee;
text-align: center;
margin:0 auto;
}
/*POPUP  sub HEADINGS*/
.jconfirm .jconfirm-box .jconfirm-content form.formName label{
    color: #909090;
font-size: 16px;
}
/*popup inputs*/
.jconfirm .jconfirm-box .jconfirm-content form.formName input.email{
    font-style: italic;
}
/*popup buttons*/
.jconfirm .jconfirm-box .jconfirm-buttons {
    padding-bottom: 11px;
    margin: 0 auto;
    text-align: center;
    display: block;
    float: none !important;
}   
.jconfirm .jconfirm-box .jconfirm-buttons button.btn-blue,
.jconfirm .jconfirm-box .jconfirm-buttons button.btn-default {
    text-shadow: none;
    -webkit-transition: background .2s;
    transition: none;
    border-radius: 0px;
    font-weight: normal !important;
    letter-spacing: 0.5px;
    padding: 7px 19px;
    
    line-height: normal !important;
}
.jconfirm .jconfirm-box .jconfirm-buttons button.btn-blue{
    color: #3498db;
    border: 1px solid #3498db;
    background-color: transparent;
}
.jconfirm .jconfirm-box .jconfirm-buttons button.btn-default{
    color: #333;   
    border: 1px solid #333;
    background-color: transparent;
}
.jconfirm .jconfirm-box .jconfirm-buttons button.btn-default:hover{
background-color: #333 !important;
color: #fff;
}
.jconfirm .jconfirm-box .jconfirm-buttons button.btn-blue:hover {
    background-color:  #3498db;
    color: #fff;
}
.noticboard-modal .modal-footer.DefaultInfoFooter .red-text {
    font-size: 16px;
    display: inline-block;
    color: #fff;
    float: left;
    line-height: normal;
    background-color: #e81818;
    padding: 9px 32px;
}
.noticboard-modal .modal-footer.DefaultInfoFooter .time-input{
    color: #e81818 !important;
    border-radius: 0px;
}
.contact100-form-checkbox a.txt1:hover, .contact100-form-checkbox a.txt1:focus, .contact100-form-checkbox a.txt1:active{
    color: #fff !important;
}  
#modalPDF h4#myModalLabel.modal-title{
font-size: 22px;
color: #3abeee;
text-align: center;
margin:0 auto;
display: block;
font-weight: normal;
}

.noticboard-modal .modal-footer.DefaultInfoFooter .time-input {
    color: #e74c3c !important;
    border-radius: 0px;
    font-size: 23px;
    font-weight: normal !important;
    border-color: #e74c3c !important;
    height: 59px;
}
.noticboard-modal .modal-footer.DefaultInfoFooter .red-text {
    font-size: 16px;
    display: inline-block;
    color: #fff;
    line-height: normal;
    background-color: transparent;
    padding: 0px 42px;
    text-align: right;
    line-height: 58px;
    width: 73%;
    float: left;
}
.form-group.text-right.important-message_red-box::before {
    width: 0;
    height: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    content: "";
    border-bottom: 15px solid #e74c3c;
    position: relative;
    right: 30px;
    top: -15px;
    position: absolute;
}
.noticboard-modal .modal-footer.DefaultInfoFooter .form-group.important-message_red-box{
background-color: #e74c3c;
float: left;
width: 100%;
position: relative;
}
@media (min-width: 992px){
#modalPDF.modal .modal-lg{
max-width: 900px;
width: 100%;
}
#modalPDF.modal .modal-lg iframe#frmPDF body .viewerContainer div{
width: 100% !important; 
}
}
