﻿@model DataModel.BO.GetGroupCustomers
<script>
    $(function () {
        debugger;
        validateForm('formGroupAU');
        $("#managegroupModal").modal('show');
        $("#Type").val('d');
        //getCustomersPaging(1, 0);
        getGroupCustomers(1, 'd');
        if (@Model.GroupID==0) {
            $("#ddlGroupCustomer").empty();
        }
    });
    function SuccessMethod(res) {
        if (res == "Success") {
            $("#managegroupModal").modal('hide');
            growlNotification('Group saved successfully.', 'success', 3000);
            getGroup();
            $("#divRecipients").html('');
        } else {
            growlNotification(res, 'warning', 3000);
        }
    }
</script>

<div class="modal fade msg-group" id="managegroupModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <i class="fa fa-times close" data-dismiss="modal" aria-label="Close"></i>
            </div>
            <div class="modal-body login margin">
                <h2>Message Group</h2>
                @using (Ajax.BeginForm("ManageGroups", "Message", new AjaxOptions
                {
                    HttpMethod = "POST",
                    OnSuccess = "SuccessMethod",
                    OnBegin = "startLoading",
                    OnComplete = "stopLoading"
                }, new { id = "formGroupAU", @class = "row" }))
                {
                    @Html.HiddenFor(m=>m.GroupID)
                    @Html.HiddenFor(m=>m.GroupCustomers)
                    @Html.HiddenFor(m=>m.Type)
                    <div class="row">
                        <div class="col-sm-2">
                            <label>Group Name:</label>
                        </div>
                        <div class="col-sm-10">
                            @Html.TextBoxFor(m=>m.GroupName, new { required="required", maxlength="50"})
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 col full-height ">
                            <div class="well back-trans">
                                <h4>All Customers</h4>
                                <div id="divCustomers2">
                                    <select id="ddlCustomers" name="ddlCustomers" multiple="multiple" style="height:150px">
                                        @if (ViewBag.Driver != null)
                                        {
                                            foreach (var item in ViewBag.Driver)
                                            {
                                                <option value="@item.ID">@item.Name</option>
                                            }
                                        }
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col full-height ">
                            <div class="well back-trans">
                                <h4>Group Customers</h4>
                                <div id="divGroupCustomer" class=" ">
                                    <select id="ddlGroupCustomer" name="ddlGroupCustomer" multiple="multiple" style="height:150px"></select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <fieldset class="row pull-right">
                        <div class="col-sm-12 text-right">
                            <a href="javascript:;" onclick="moveItemLeftToRight('ddlCustomers','ddlGroupCustomer');" class="btn-secondary medium-btn" style="padding:0.375em 13px 0.56em">Add</a>
                            <a href="javascript:;" onclick="moveItemRightToLeft('ddlCustomers','ddlGroupCustomer');" class="btn-secondary medium-btn" style="padding:0.375em 13px 0.56em">Delete</a>
                            <input type="submit" class="btn-secondary medium-btn" value="Save" onclick="setGroupCustomers();" />
                        </div>
                    </fieldset>
                    
                }
            </div>
        </div>
    </div>
</div>