﻿@model DataModel.BO.GetMessageModel

    <script>
        $(function () {
            debugger;
          
            validateForm('formMessage');
            $("#UserType").val('G');
            $("#Type").val('d');
        });
        function SuccessMethod(res) {
            if (res == "Success") {
                growlNotification('Message sent successfully.', 'success', 3000);
            } else {
                growlNotification(res, 'warning', 3000);
            }
        }
        function chkGroup() {
            if ($("#ID").val() == "" || $("#ID").val() == "0") {
                $.alert('Select any group');
                return false;
            }
        }
    </script>

<div class="well table icon-hide">
    <h2>Send message</h2>
    @using (Ajax.BeginForm("SendMessage", "Message", new AjaxOptions
    {
        HttpMethod = "POST",
        OnSuccess = "SuccessMethod",
        OnBegin = "startLoading",
        OnComplete = "stopLoading"
    }, new { id = "formMessage", @class = "row" }))
    {
        @Html.HiddenFor(m => m.UserType)
        @Html.HiddenFor(m => m.Type)
        @Html.HiddenFor(m => m.ID)
        <fieldset>
            @Html.TextAreaFor(m => m.Message, new { rows = "6", required = "required" })
        </fieldset>
        <fieldset class="text-right">
            <input type="submit" class="btn-secondary" value="Send" onclick="return chkGroup();" />
        </fieldset>
    }
</div>
