﻿
@{
    ViewBag.Title = "SendMessage";
    Layout = "~/Areas/Saavi5POD/Views/Shared/_Layout.cshtml";
}
@section podscripts{
    <script src="@Url.Content("~/Scripts/manageMessageJS.js")"></script>
    <script>
        openPartialPagePOD('divSendMessage','_SendMessage');
        getGroup();

    </script>
}
<div class="tab-content">
    <div class="section full-height tab-pane active" role="tabpanel" id="message">
        <div class="row full-height">
            <div class="col-md-3 col full-height">
                <div class="flex-column full-height height-bg">
                    <div class="well table">
                        <h2>Drivers</h2>
                        <div class=" ">
                            <div class="existing-vehicles">
                                <ul id="content-2" class="homepage fx_hight mCustomScrollbar light" data-mcs-theme="minimal-dark">
                                    <div id="liCustomers">
                                    <li class="active" data-id="0" onclick="selectCustomer(this);"><a href="javascript:;">All</a></li>
                                    @foreach (var item in ViewBag.Driver)
                                    {
                                        <li data-id="@item.ID" onclick="selectCustomer(this);"><a href="javascript:;">@item.Name</a></li>
                                    }
                                        </div>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col full-height">
                <div class="flex-column full-height height-bg">
                    <div class="well table">
                        <div class="detail">
                            <h2>Select Group</h2>
                            <form>
                                <div class="row">
                                    <div class="col-sm-8">
                                        <fieldset>
                                            <select id="ddlGroup" name="ddlGroup" onchange="getGroupCustomers(0,'d');"></select>
                                        </fieldset>
                                    </div>
                                </div>
                                <div class="btn-group">
                                    <a href="javascript:;" class="btn-secondary medium-btn" onclick="manageGroup(0,'d');">Create</a>
                                    <a href="javascript:;" class="btn-secondary medium-btn" onclick="manageGroup(1,'d');">Edit</a>
                                    <a href="javascript:;" class="btn-secondary medium-btn" onclick="deleteGroup();">Delete</a>
                                </div>
                            </form>
                        </div>
                        <div class="detail">
                            <h2>Recipients for Group</h2>
                            <div id="divRecipients" class="divBgGrey"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-5 col full-height">
                <div class="flex-column full-height height-bg" id="divSendMessage">
                   
    @*<div class="well table icon-hide">
                        <h2>Send message</h2>
                        <form>
                            <fieldset>
                                <textarea rows="8"></textarea>
                            </fieldset>

                            <fieldset class="text-right">
                                <input type="submit" class="btn-secondary" value="Send" />
                            </fieldset>
                        </form>
                    </div>*@
                </div>
            </div>
        </div>
    </div>
</div>
<div id="modalManageGroup">

</div>
