﻿<!DOCTYPE html>
<html>
<head>
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/@mdi/font@4.x/css/materialdesignicons.min.css" rel="stylesheet">
    <link href="/Content/vuetify.css" rel="stylesheet" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
</head>
<body>
    <div id="app">
        <v-app>
            <v-content>
                <v-container>Hello world</v-container>
            </v-content>
            <template>
                <v-container fluid px-0>
                    <v-checkbox v-model="checkbox"
                                :label="`Checkbox 1: ${checkbox.toString()}`"></v-checkbox>
                    <v-radio-group v-model="radioGroup">
                        <v-radio v-for="n in 3"
                                 :key="n"
                                 :label="`Radio ${n}`"
                                 :value="n"></v-radio>
                    </v-radio-group>
                    <v-switch v-model="switch1"
                              :label="`Switch 1: ${switch1.toString()}`"></v-switch>
                </v-container>
            </template>
        </v-app>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="https://cdn.jsdelivr.net/npm/vuetify/dist/vuetify.js"></script>
    <script>
        new Vue({
            el: '#app',
            vuetify: new Vuetify(),
            data: {
                checkbox: true,
                radioGroup: 1,
                switch1: true
            }
        })
    </script>
</body>
</html>