﻿<table  cellpadding="0" cellspacing="0" width="500" style="font-family:">
<tr>
<td colspan="2"><h2>PICKING SLIP</h2>
<h1 style="font-size:2em;font-weight:bold;">[CustomerName]</h1></td>
</tr>
<tr><td width="300"></td><td align="right" width="200">&nbsp;</td></tr>
</table>

<table border="2" BORDERCOLOR="#5a5a5a" width="500" cellpadding="0" cellspacing="0">
<tr>
<td>
<table class="oderTable" border="0" cellpadding="2" cellspacing="0" >
<tr border="0">
<td width="25%"><p style="line-height:10px"><span><FONT COLOR="#5a5a5a">Order Date:</FONT></span></p></td>
<td width="25%"><p style="line-height:10px">[OrderDate]</p></td>
<td width="25%"><p style="line-height:10px"><span></span></p></td>
<td width="25%"><p style="line-height:10px"><span></span></p></td>
</tr>

<tr>
<td border="0"><p style="line-height:10px"><span><FONT COLOR="#5a5a5a">Customer Code:</FONT></span></p></td>
<td><p style="line-height:10px">[CustomerCode]</p></td>
<td><p style="line-height:10px"><span><FONT COLOR="#5a5a5a"></FONT>Initials:</span></p></td>
<td><p style="line-height:10px"><span>&nbsp;</span></p></td>
</tr>
<tr>
<td border="0"><p style="line-height:10px"><span><FONT COLOR="#5a5a5a">Picking Number:</FONT></span></p></td>
<td><p style="line-height:10px">[PickingNumber]</p></td>
<td><p style="line-height:10px"><span>&nbsp;</span></p></td>
<td><p style="line-height:10px"><span>&nbsp;</span></p></td>
</tr>
<tr border="0">
<td><p style="line-height:10px"><span><FONT COLOR="#5a5a5a">Order Comment:</FONT></span></p></td>
<td colspan="3"><p style="line-height:10px">[OrderComment]</p></td>
</tr>
</table>
</td>
</tr>
</table>

<table border="0" BORDERCOLOR="#5a5a5a" width="500" cellpadding="0" cellspacing="0">
<tr><td><br /></td></tr>
</table>

<table class="DesTable" style="letter-spacing: -1px;font-family: 'ArialNarrowRegular';" cellpadding="3" cellspacing="0" width="500" border="1" BORDERCOLOR="#5a5a5a" >

<tr bgcolor="#5a5a5a" height="10" style="line-height:10px;padding:0;font-size:10px;font-weight:100">
<th align="center" class="trdata"><FONT COLOR="#ffffff">QTY</FONT></th>
<th align="center" style="padding:0;" class="trdata"><FONT COLOR="#ffffff">SKU</FONT></th>
<th width="50%" colspan="6" align="left" style="padding:0;" class="trdata"><FONT COLOR="#ffffff"><p>DESCRIPTION</p></FONT></th>
<th align="center" style="padding-top:0;" class="trdata"><FONT COLOR="#ffffff">UNIT</FONT></th>
<th align="center" style="padding:0;" class="trdata"><FONT COLOR="#ffffff">W/W </FONT></th>
<th align="center" style="padding:0;" class="trdata"><FONT COLOR="#ffffff">F/W</FONT></th>
<th align="center" style="padding:0;" class="trdata"><FONT COLOR="#ffffff">PRICE($)</FONT></th>
</tr>
</table>