<table  cellpadding="0" cellspacing="0" width="500">
<tr>
<td width="300"><h2>PICKING SLIP</h2><br>
<h1>[CustomerName]</h1></td>
<td align="right" width="200"><img src="[IMGSRC]" alt="" width="170"/></td>
</tr>
</table>
<br>

<table border="2" BORDERCOLOR="#5a5a5a" width="500" cellpadding="0" cellspacing="0">
<tr>
<td>
<table class="oderTable" border="0" cellpadding="5" cellspacing="0" >
<tr border="0">
<td width="25%"><h4><span><FONT COLOR="#5a5a5a">Order Date:</FONT></span></h4></td>
<td width="25%"><h4>[OrderDate]</h4></td>
<td width="25%"><h4><span></span></h4></td>
<td width="25%"><h4><span></span></h4></td>
</tr>

<tr>
<td border="0"><h4><span><FONT COLOR="#5a5a5a">Customer Code:</FONT></span></h4></td>
<td><h4>[CustomerCode]</h4></td>
<td><h4><span><FONT COLOR="#5a5a5a"></FONT>Initials:</span></h4></td>
<td><h4><span>&nbsp;</span></h4></td>
</tr>
<tr>
<td border="0"><h4><span><FONT COLOR="#5a5a5a">Picking Number:</FONT></span></h4></td>
<td><h4>[PickingNumber]</h4></td>
<td><h4><span>&nbsp;</span></h4></td>
<td><h4><span>&nbsp;</span></h4></td>
</tr>
<tr border="0">
<td><h4><span><FONT COLOR="#5a5a5a">Order Comment:</FONT></span></h4></td>
<td><h4>[OrderComment]</h4></td>
<td><h4><span>&nbsp;</span></h4></td>
<td><h4><span>&nbsp;</span></h4></td>
</tr>
</table>
</td>
</tr>
</table>
<br>
<br>
<table class="DesTable" style="letter-spacing: -1px;font-family:Arial Narrow" cellpadding="3" cellspacing="0" width="500" border="1" BORDERCOLOR="#5a5a5a" >

<tr bgcolor="#5a5a5a" height="10" style="line-height:10px;padding:0;font-size:10px;font-weight:100">
<th><FONT COLOR="#ffffff">QTY</FONT></th>
<th colspan="2" align="center" style="padding:0;"><FONT COLOR="#ffffff">SKU</FONT></th>
<th width="50%" colspan="5" align="left" style="padding:0;"><FONT COLOR="#ffffff">DESCRIPTION</FONT></th>
<th style="padding-top:0;"><FONT COLOR="#ffffff">UNIT</FONT></th>
<th style="padding:0;"><FONT COLOR="#ffffff">W/W </FONT></th>
<th style="padding:0;"><FONT COLOR="#ffffff">F/W</FONT></th>
<th style="padding:0;" colspan="2"><FONT COLOR="#ffffff">PRICE($)</FONT></th>
</tr>
[ITEMS]
</table>

<br>
<br>
<br>
<br>


<table class="oderTable"  cellpadding="0" cellspacing="0" >
<tr>
<td>Generated at: <strong>[TODAYDATE]</strong></td>
<td></td>

</tr>
</table>