﻿@model DataModel.BO.GetGroupCustomers
<script>
    $(function () {
       
        validateForm('formGroupAU');
        $("#managegroupModal").modal('show');
        $("#Type").val('c');
        getCustomersPaging(1, 0);
        getGroupCustomers(1, 'c');

           if (@Model.GroupID==0) {
            $("#ddlGroupCustomer").empty();
        }


    });
    function SuccessMethod(res) {
        if (res == "Success") {
            $("#managegroupModal").modal('hide');
            growlNotification('Group saved successfully.', 'success', 3000);
            getGroup();
            $("#divRecipients").html('');
       
        } else {
            growlNotification(res, 'warning', 3000);
        }
    }
</script>

<div class="modal fade msg-group" id="managegroupModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><img src="~/Content/images/close.png"></button>
            </div>
            <div class="modal-body login margin">
                <h2>Message Group</h2>
                @using (Ajax.BeginForm("ManageGroups", "Product", new AjaxOptions
                {
                    HttpMethod = "POST",
                    OnSuccess = "SuccessMethod",
                    OnBegin = "startLoading",
                    OnComplete = "stopLoading"
                }, new { id = "formGroupAU", @class = "row" }))
                {
                    @Html.HiddenFor(m=>m.GroupID)
                    @Html.HiddenFor(m=>m.GroupCustomers)
                    @Html.HiddenFor(m => m.Type)
                    <fieldset class="row">
                        <div class="col-sm-4">
                            <label>Group Name:<sup>*</sup></label>
                        </div>
                        <div class="col-sm-8">
                            @Html.TextBoxFor(m=>m.GroupName, new { required="required", maxlength="50"})
                        </div>
                    </fieldset>
                    <fieldset class="row">
                        <div class="col-md-12">
                            <div class="col-md-3">
                                <select id="ddlSelectFilter" onchange="ddlMsgFilter(this)">
                                    <option value="C">Customers</option>
                                    <option value="D">Delivery Run</option>
                                </select>
                            </div>
                            </div>
                            <div class="col-md-6 col full-height " id="divLeft">
                                <div class="well back-trans">
                                    <h4>All Customers</h4>
                                    <div id="divCustomers2">
                                        <select id="ddlCustomers" name="ddlCustomers" multiple="multiple" style="height:150px"></select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col full-height " id="divRight">
                                <div class="well back-trans">
                                    <h4>Group Customers</h4>
                                    <div id="divGroupCustomer" class=" ">
                                        <select id="ddlGroupCustomer" name="ddlGroupCustomer" multiple="multiple" style="height:150px"></select>
                                    </div>
                                </div>
                            </div>
                    </fieldset>

                    <fieldset class="row pull-right">
                        <div class="col-sm-12 text-right">
                            <a href="javascript:;" onclick="moveItemLeftToRight('ddlCustomers','ddlGroupCustomer');" class="btn-secondary">Add</a>
                            <a href="javascript:;" onclick="moveItemRightToLeft('ddlCustomers','ddlGroupCustomer');" class="btn-secondary">Delete</a>
                            <input type="submit" class="btn-secondary" value="Save" onclick="setGroupCustomers();" />
                        </div>
                    </fieldset>
                }
            </div>
        </div>
    </div>
</div>