﻿@model DataModel.BO.GetMessageModel

<script>
    $(function () {
        validateForm('formMessage');
        $("#UserType").val('A');
    });
    function SuccessMethod(res) {
        if (res == "Success") {
            growlNotification('Message sent successfully.', 'success', 3000);
        } else {
            growlNotification(res, 'warning', 3000);
        }
    }
    function chkGroup() {
        if ($("#UserType").val() != 'A' && ($("#ID").val() == "" || $("#ID").val() == "0"))
        {
            $.alert('Please select any customer or group to send message.');
            return false;
        }
    }
</script>
<div class="well table">
    <h2>Send Message</h2>
    @using (Ajax.BeginForm("SendMessage", "Message", new AjaxOptions
    {
        HttpMethod = "POST",
        OnSuccess = "SuccessMethod",
        OnBegin = "startLoading",
        OnComplete = "stopLoading"
    }, new { id = "formMessage", @class = "row" }))
    {
        @Html.HiddenFor(m=>m.UserType)
        @Html.HiddenFor(m => m.ID)
        <fieldset>
            @Html.TextAreaFor(m => m.Message, new {rows="6", required = "required" })
        </fieldset>
        <fieldset class="text-right">
            <input type="submit" class="btn-secondary" value="Send" onclick="return chkGroup();"/>
        </fieldset>
    }
</div>
