﻿@model DataModel.BO.GetPdfFileModel
<script>
    $(function () {
        validateForm('formPdfAU');
        getAllGroupProducts(0);
        $("#GroupID").val(parseInt($("#ddlGroup").val() === "" ? 0 : $("#ddlGroup").val()));       
         if ('@ViewData["Message"]' != '') {
            if ('@ViewData["Message"]' == "Success") {
                growlNotification('PDF file uploaded successfully.', 'success', 3000);
            }
             else { growlNotification('@ViewData["Message"]', 'warning', 3000); }
            setTimeout(function () {
                window.location.href = "@Url.Action("SendMessage")";
            },200)
        }

         $('#ddlNonProducts').bind('scroll', function () {
             if ($(this).scrollTop() + $(this).innerHeight() >= $(this)[0].scrollHeight) {
                 getAllNonProducts(1, $("#txtProductSearch").val());
             }
         });
         $("#spnfuPDFName").html('');
    });
    function getName(ctrl) {
        $("#spnfuPDFName").html($(ctrl)[0].files[0].name);
    }
</script>

<div class="well table-half">
    <h2>Upload PDF</h2>
    @using (Html.BeginForm("_UploadPDF", "Message", FormMethod.Post, new
    {
        enctype = "multipart/form-data",
        id = "formPdfAU"
    }))
    {
        @Html.HiddenFor(m => m.ID)
        @Html.HiddenFor(m => m.GroupID)
        @Html.HiddenFor(m => m.CustomerID)
        @Html.HiddenFor(m => m.UserType)
        <fieldset>
            <p>Current File:</p>
            <div class="item">
                @Html.TextBoxFor(m => m.PDF_Name, new { maxlength = "150" })
            </div>
        </fieldset>
        <fieldset>
            <p>Update File:</p>
            <div class="item">
                <label for="fuPDF" class="file-upload__label btn-primary">Browse</label>
                <input id="fuPDF" class="file-upload__input" type="file" name="fuPDF" accept=".pdf" required onchange="getName(this);">
                <span id="spnfuPDFName"></span>
            </div>
        </fieldset>
        <fieldset>
            <p></p>
            <div class="item">
                <input type="submit" value="Upload" class="btn-secondary" />
            </div>
        </fieldset>
    }
</div>
<div class="btn-col"><a href="javascript:;" onclick="getSpProductModel();" class="btn-secondary">Edit/Manage</a></div>
<div class="well table-half small-well">
    <h2>Special Products in PDF</h2>
    <div id="liSpecialProductinPdf" class="divBgGrey">
    </div>
</div>

<div class="modal fade msg-group" id="specialproductModel" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><img src="~/Content/images/close.png"></button>
            </div>
            <div class="modal-body login margin">
                <h2>Add Special Product to pdf</h2>
                <form>
                    <fieldset class="row">
                        <div class="col-sm-10">
                            <input placeholder="Search By Product" type="text" id="txtProductSearch">
                        </div>
                        <div class="col-sm-2">
                            <a href="javascript:;" onclick='getAllNonProducts(0,"s");' class="btn-secondary pull-right">Search</a>
                        </div>
                    </fieldset>
                  
                    <fieldset class="row">
                        <div class="col-md-6 col full-height ">
                            <div class="well">
                                <h4>All Available products</h4>
                                <div id="divProduct" class=" ">
                                    <select id="ddlNonProducts" name="ddlNonProducts" multiple="multiple" style="height:150px"></select>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col full-height ">
                            <div class="well">
                                <h4>Add Special Product to pdf</h4>
                                <div id="divGroupProduct" class=" ">
                                    <select id="ddlGroupProducts" name="ddlGroupProducts" multiple="multiple" style="height:150px"></select>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                    <fieldset class="row pull-right">
                        <div class="col-sm-12 text-right">
                            <a href="javascript:;" onclick="moveItemLeftToRight('ddlNonProducts','ddlGroupProducts');" class="btn-secondary">Add</a>
                            <a href="javascript:;" onclick="moveItemRightToLeft('ddlNonProducts','ddlGroupProducts');" class="btn-secondary">Delete</a>
                            <a href="javascript:;" onclick="manageGroupProduct();" class="btn-secondary">Save</a>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>

