﻿
@section scripts{
    <script src="@Url.Content("~/Scripts/manageMessageJS.js")"></script>
    <script>
        startLoading();
        initScrollbar(0);

        getGroup();
       
        $('a[data-id=_SendMessage]').trigger('click');
        setTimeout(function () {
            stopLoading();
        }, 200);
      
        if ('@ViewData["Message"]' != '') {
            $("#liTab a[data-id='_UploadPDF']").trigger('click');
            if ('@ViewData["Message"]' == "Success") {
                growlNotification('PDF file uploaded successfully.', 'success', 3000);
            }
             else { growlNotification('@ViewData["Message"]', 'warning', 3000); }
        }
    </script>
}

<ul class="nav nav-tabs" role="tablist" id="liTab">
    <li role="presentation" class="active"><a href="javascript:;" class="btn-primary" data-id="_SendMessage" onclick="getPartial(this);">Messages</a></li>
    <li role="presentation"><a href="javascript:;" class="btn-primary" data-id="_UploadPDF" onclick="getPartial(this);">PDFs</a></li>
</ul>

<div class="tab-content">
    <div class="section full-height tab-pane active" role="tabpanel" id="message">
        <div class="row full-height">
            <div class="col-md-3 col full-height">
                <div class="flex-column full-height">
                    <div class="well table">
                        <h2>Customers</h2>
                        <div id="divCustomers">
                            <ul id="liCustomers" class="left-nav light customer-list">
                                <li><a href="javascript:;" data-id="0" onclick="selectCustomer(this); checkAndLoadUploadedPDF();" class="active">All</a></li>
                                @foreach (var item in ViewBag.Customers)
                                {
                                    <li><a href="javascript:;" data-id="@item.CustomerID" onclick="selectCustomer(this); checkAndLoadUploadedPDF();">@item.CustomerName</a></li>
                                }
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col full-height">
                <div class="flex-column full-height">
                    <div class="well table ">
                        <div class="detail">
                            <h2>Select Group</h2>
                            <form>
                                <div class="row">
                                    <div class="col-sm-8">
                                        <fieldset>
                                            <select id="ddlGroup" name="ddlGroup" onchange="getGroupCustomers(0, 'c'); checkAndLoadUploadedPDF();"></select>
                                    
                                        </fieldset>
                                    </div>
                                </div>
                                <div class="btn-group">
                                    <a href="javascript:;" class="btn-secondary medium-btn" onclick="manageGroup(0);">Create</a>
                                    <a href="javascript:;" class="btn-secondary medium-btn" onclick="manageGroup(1);">Edit</a>
                                    <a href="javascript:;" class="btn-secondary medium-btn" onclick="deleteGroup();">Delete</a>
                                </div>
                                <h2>Select Delivery Run</h2>
                                <div class="row">
                                    <div class="col-sm-12">
                                        <fieldset>                                           
                                            <select id="deliveryRunsGroupList" name="" onchange="" multiple="multiple" data-type="D"  class="text-uppercase"></select>
                                        </fieldset>
                                    </div>
                                </div>
                            </form>

                        </div>

                        <div class="detail">
                            <h2>Recipients For Group</h2>
                            <div id="divRecipients" class="divBgGrey"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-5 col full-height" id="divMain">
                <div class="flex-column full-height" id="divPartial">

                </div>
            </div>
        </div>
    </div>

</div>

<div id="modalManageGroup">

</div>